
.auth-list {
    .sh-col,
    .ah-col {
        &.date {
            text-align: right;
        }
    }
    
    .ah-col {
        &.name {
            padding-left: 0;
            font-weight: 400;
        }
        &.date {
            white-space: nowrap;
        }
    }
}

@media (min-width: 760px) {
    .auth-list {
        .ah-col {
            &.status {
                width: 28%;
            }

            &.date {
                width: 7.5rem;
            }
        }
    }
}