<section class='panel panel-default'>

	<map center="54.726668, -127.647621" zoom="5" style='height: 500px' map-type-id="ROADMAP" min-zoom=5 disable-default-u-i="true">
		<marker id="marker_{{ organization._id }}" position="{{ organization.lat }},{{ organization.lon }}" ng-repeat-start="organization in organizationList.organizations" on-click="showInfoWindow(event, 'info_{{ organization._id }}')">
		</marker>
		<info-window id="info_{{ organization._id }}" visible-on-marker="marker_{{ organization._id }}" max-width="300" ng-repeat-end>
			<div>
				<div id="siteNotice"></div>
				<h3 id="firstHeading" class="firstHeading">{{ organization.name }}</h3>
				<div id="bodyContent">
					<p><strong>Status</strong>: {{ organization.status }}</p>
					<p><strong>Type</strong>: {{ organization.type }}</p>
					<p>{{ organization.description }}</p>
					<p><a html ui-sref="organization({id: organization._id})">Detail View</a></p>
				</div>
			</div>
		</info-window>
	</map>

</section>
