<div class="document-block">
	<div class="panel-heading">
		{{ ::title }}
		<a ng-if="editable" href x-modal-document-link class="btn btn-xs btn-link pull-right" x-current="list" x-project="project">
			+/- Link Documents
		</a>
	</div>
	<div class="panel-body">
		<div class="thumbnails document-icon-list clearfix">
			<div class="thumbnail pull-left" ng-repeat="file in filelist">
				<div class="caption text-center">
					<a href>
						<a href="/api/document/{{ file._id }}/fetch" target="_blank">
						<span class="glyphicon glyphicon-file"></span>
						<br>
						<small>{{ file.internalOriginalName }} {{ file.projectFolderType }} / {{ file.projectFolderSubType }} / {{ file.projectFolderName }}</small>
						<small ng-if="file.v"><br/>v.{{ file.documentVersion }}</small>
						<small>{{ file.dateUpdated | amDateFormat:'MMM Do'}}</small>
						</a>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
