<div class="view-title-container">

	<button class="btn icon-btn mobile-nav-btn" onclick="toggleSideNav();"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
	<h1>Documents</h1>
	
	<div class="search-widget collapsed">
		<form id="swForm" class="sw-resize-container sw-form">
			
			<button class="sw-expand-btn btn icon-btn" onclick="expandSearchWidget();"><i class="glyphicon glyphicon-search"></i></button>
			
			<input class="form-control sw-input" type="text" placeholder="Search" />
			
			<button class="sw-toggle-btn dropdown-toggle btn icon-btn"
				data-toggle="dropdown"
				data-target="swAdvanced">
				<i class="glyphicon glyphicon-triangle-bottom"></i>
			</button>
			<button class="sw-collapse-btn btn icon-btn" onclick="collapseSearchWidget();">
				<span aria-hidden="true">&times;</span>
			</button>

			<div class="dropdown-menu" id="swAdvanced" ng-click="$event.stopPropagation()">
				<div class="form-group">
					<label>Name</label>
					<input class="form-control" type="text" id="swName" />
				</div>
				<div class="form-group">
					<label>Keywords</label>
					<input class="form-control" type="text" id="swKeywords" />
				</div>
				<div class="sw-form-btns">
					<button class="btn btn-default" onclick="resetSwForm();">Clear</button>
					<button class="btn btn-primary" onclick="searchDocs();">Search</button>
				</div>
			</div>
		</form>
	</div>

	<div class="actions">
		<button class="btn icon-btn" x-modal-document-instructions>
			<i class="glyphicon glyphicon-info-sign"></i>
		</button>
	</div>

</div>

<div class="view-body-container file-browser-container">
	<x-document-mgr x-project="project" x-opendir="opendir"/>
</div>
