<div class="view-title-container">

	<button class="btn icon-btn mobile-nav-btn" onclick="toggleSideNav();"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
	<h1>Documents</h1>

	<document-search-widget x-project="project"></document-search-widget>

	<div class="actions">
		<button class="btn icon-btn" x-modal-document-instructions>
			<i class="glyphicon glyphicon-question-sign"></i>
		</button>
	</div>

</div>

<div class="view-body-container file-browser-container">

	<!-- SW Results Prototype -->
	<div class="sw-fb-prototype file-browser">

		<div class="spinner-container">
			<div class="spinner-new rotating"></div>
		</div>

		<div class="fb-header">
			<span class="sw-results-label" onclick="swClearResults();">
				Search Results
			</span>
			<div class="file-batch-actions">
				<button class="btn icon-btn">
					<i class="glyphicon glyphicon-info-sign"></i>
				</button>
			</div>
		</div>

		<div class="fb-body">
			<!-- Search results go here -->
		</div>

	</div><!-- / SW Results Prototype -->

	<x-document-mgr x-project="project" x-opendir="opendir"/>
</div>
