
<div class="modal-header">
	<button ng-disabled="uploadService.actions.busy" type="button" class="btn btn-default close" ng-click="moveFiles.cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Move Files &amp; Folders</h3>
</div>

<div class="modal-body">
	<div class="scroll-container">
		<div class="scroll-container-inner">
			<div class="empty-directory-msg" ng-if="documentMgrMove.currentDirs.length == 0 && documentMgrMove.currentFiles.length == 0">This folder is empty.</div>
			<ul>
				<li class="fb-list-item" ng-class="{'selected': doc.selected}" ng-repeat="doc in documentMgrMove.currentDirs">
					<span class="col checkbox-col">
						<input id="{{doc.model.id}}" type="checkbox" ng-model="doc.selected" ng-click="documentMgrMove.checkDir(doc)"/>
						<label for="{{doc.model.id}}">
							<span class="glyphicon glyphicon-ok"></span>
						</label>
					</span>
					<span class="fb-col-group"  
						ng-click="$event.originalEvent.dropdown || documentMgrMove.selectDir(doc)"
						ng-dblclick="$event.originalEvent.dropdown || documentMgrMove.openDir(doc)" title="{{doc.model.name}}">
						<span class="col name-col">
							<span class="avatar">
								<span class="fb-folder glyphicon glyphicon-folder-close"></span>
							</span>
							{{ doc.model.name }}
						</span>
						<div class="row-actions" ng-if="doc.model.id === documentMgrMove.lastChecked.directoryID">
							
						</div>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="modal-footer clearfix">
	<button class="btn btn-default"ng-click="moveFiles.cancel()">Cancel</button>
	<button class="btn btn-primary" disabled>Move</button>
</div>