<div class="file-browser">

	<div class="fb-header">
		<ul class="fb-breadcrumbs">
			<li ng-repeat="node in documentMgr.currentPath">
				<button class="btn icon-btn" ng-click="documentMgr.selectNode(node.model.id)">
					<span class="root-icon glyphicon glyphicon-home" ng-if="node.model.name == 'ROOT'" title="Document Home"></span>
					<span class="back-icon glyphicon glyphicon-menu-left"></span>
					<span ng-show="node.model.name != 'ROOT'">{{ node.model.folderObj.displayName }}</span>
				</button>
			</li>
		</ul>
		<div class="file-batch-actions">
			<button class="btn icon-btn" title="Add New Folder"
					ng-if="project.userCan.manageFolders"
					ng-disabled="!documentMgr.selectedNode"
					x-document-mgr-add-folder
					x-project="project"
					x-root="documentMgr.rootNode"
					x-node="documentMgr.selectedNode"><span class="glyphicon glyphicon-folder-close"></span></button>

			<button class="btn icon-btn" title="Upload Files"
					ng-if="project.userCan.createDocument"
					ng-disabled="!documentMgr.selectedNode"
					x-document-mgr-upload-modal
					x-project="project"
					x-root="documentMgr.rootNode"
					x-node="documentMgr.selectedNode"
					x-type="'project'"><span class="glyphicon glyphicon-open"></span></button>

			<button class="toggle-details-btn btn icon-btn" title="Properties"
					ng-disabled="!documentMgr.lastChecked"
					ng-click="documentMgr.infoPanel.toggle()"><span class="glyphicon glyphicon-info-sign"></span></button>

			<a class="btn icon-btn" href="{{documentMgr.folderURL}}" title="Sharable Link to this folder"><span class="glyphicon glyphicon-link"></span></a>

			<div class="fb-menu btn-group">
				<button type="button" class="btn icon-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-disabled="!documentMgr.batchMenuEnabled">
					<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
				</button>
				<ul class="dropdown-menu pull-right">
					<li>
						<a title="Rename Folder"
							ng-if="project.userCan.manageFolders"
						    ng-show="documentMgr.checkedDirs.length === 1 && documentMgr.checkedFiles.length === 0"
							x-document-mgr-rename-folder
							x-project="project"
							x-root="documentMgr.rootNode"
							x-node="documentMgr.checkedDirs[0]"><span class="glyphicon glyphicon-edit"></span> Rename</a>
					</li>
					<li>
						<a title="Delete"
						   ng-hide="documentMgr.deleteSelected.confirmItems.length === 0"
						   x-confirm-dialog
						   x-title-text="documentMgr.deleteSelected.titleText"
						   x-ok-text="documentMgr.deleteSelected.okText"
						   x-cancel-text="documentMgr.deleteSelected.cancelText"
						   x-confirm-text="documentMgr.deleteSelected.confirmText"
						   x-confirm-items="documentMgr.deleteSelected.confirmItems"
						   x-on-ok="documentMgr.deleteSelected.ok"><span class="glyphicon glyphicon-trash"></span> Delete</a>
					</li>
					<li>
						<a title="Publish"
							ng-hide="documentMgr.publishSelected.publishableFiles.length === 0"
							x-confirm-dialog
							x-title-text="'Publish File(s)'"
							x-ok-text="documentMgr.publishSelected.okText"
							x-cancel-text="documentMgr.publishSelected.cancelText"
							x-confirm-text="'Are you sure you want to publish the selected file(s)?'"
							x-confirm-items="documentMgr.publishSelected.confirmItems"
							x-on-ok="documentMgr.publishSelected.publish"><span class="glyphicon glyphicon-ok-circle"></span> Publish</a>
					</li>
					<li>
						<a title="Unpublish"
						    ng-hide="documentMgr.publishSelected.unpublishableFiles.length === 0"
						    x-confirm-dialog
							x-title-text="'Unpublish File(s)'"
							x-ok-text="documentMgr.publishSelected.okText"
							x-cancel-text="documentMgr.publishSelected.cancelText"
							x-confirm-text="'Are you sure you want to unpublish the selected file(s)?'"
							x-confirm-items="documentMgr.publishSelected.confirmItems"
							x-on-ok="documentMgr.publishSelected.unpublish"><span class="glyphicon glyphicon-ban-circle"></span> Unpublish</a>
					</li>
					<li>
						<a title="Move Folders & Files"
						   ng-hide="documentMgr.moveSelected.moveableFiles.length === 0 && documentMgr.moveSelected.moveableFolders.length === 0"
						   x-document-mgr-move
						   x-title-text="documentMgr.moveSelected.titleText"
						   x-project="project"
						   x-root="documentMgr.rootNode"
						   x-node="documentMgr.rootNode"
						   x-move-selected="documentMgr.moveSelected"><span class="glyphicon glyphicon-transfer"></span> Move to...</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="fbBody" class="fb-body" ng-class="{'panel-open': documentMgr.infoPanel.open}">

		<div class="fb-list">

			<!-- Load the File/Folder Directory -->
			<div class="spinner-container" ng-show="documentMgr.busy">
				<div class="spinner-new rotating"></div>
			</div>

			<div class="column-header">
				<span class="col checkbox-col" ng-if="authentication.user">
					<input id="select-all" type="checkbox" title="Select All / None" ng-model="documentMgr.allChecked" ng-click="documentMgr.checkAll()"/>
					<label for="select-all">
						<span class="glyphicon glyphicon-ok"></span>
					</label>
				</span>

				<div class="fb-col-group">
					<div class="col name-col first-col sortable" ng-class="{'descending': !documentMgr.sorting.ascending}" ng-click="documentMgr.sortBy('name')">
						<span>Name</span>
						<span class="sort-icon" ng-show="documentMgr.sorting.column === 'name'"></span>
					</div>
					<div hidden class="col author-col sortable" ng-class="{'descending': !documentMgr.sorting.ascending}" ng-click="documentMgr.sortBy('author')">
						<span>Author</span>
						<span class="sort-icon" ng-show="documentMgr.sorting.column === 'author'"></span>
					</div>
					<div class="col date-added-col sortable" ng-class="{'descending': !documentMgr.sorting.ascending}" ng-click="documentMgr.sortBy('date')">
						<span>Uploaded</span>
						<span class="sort-icon" ng-show="documentMgr.sorting.column === 'date'"></span>
					</div>
					<div class="col status-col last-col sortable" ng-class="{'descending': !documentMgr.sorting.ascending}" ng-click="documentMgr.sortBy('pub')" ng-if="authentication.user">
						<span>Status</span>
						<span class="sort-icon" ng-show="documentMgr.sorting.column === 'pub'"></span>
					</div>
				</div>

			</div>
			<div class="scroll-container">
				<div class="scroll-container-inner">

					<div class="empty-directory-msg" ng-if="documentMgr.currentDirs.length == 0 && documentMgr.currentFiles.length == 0">This folder is empty.</div>
					<ul>
						<li class="fb-list-item" ng-class="{'selected': doc.selected}" ng-repeat="doc in documentMgr.currentDirs">
							<span class="col checkbox-col" ng-if="authentication.user">
								<input id="{{doc.model.id}}" type="checkbox" ng-model="doc.selected" ng-click="documentMgr.checkDir(doc)"/>
								<label for="{{doc.model.id}}">
									<span class="glyphicon glyphicon-ok"></span>
								</label>
							</span>
							<span class="fb-col-group"
								ng-click="$event.originalEvent.dropdown || documentMgr.selectDir(doc)"
								ng-dblclick="$event.originalEvent.dropdown || documentMgr.openDir(doc)" title="{{doc.model.folderObj.displayName}}">
								<span class="col name-col first-col">
									<span class="avatar">
										<span class="fb-folder glyphicon glyphicon-folder-close"></span>
									</span>
									<span class="name">
										{{ doc.model.folderObj.displayName }}
									</span>
								</span>
								<span hidden class="col author-col">---</span>
								<span class="col date-added-col">---</span>
								<span class="col status-col last-col" ng-if="authentication.user">
									<span ng-if="doc.model.published" title="Published"><span class="glyphicon glyphicon-ok-circle"></span></span>
								</span>
								<div class="row-actions">

									<div class="btn-group">
										<button class="btn icon-btn dropdown-toggle" type="button" ng-click="$event.originalEvent.dropdown = true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
										</button>
										<ul class="dropdown-menu pull-right">
											<li ng-if="project.userCan.manageFolders">
												<button class="btn icon-btn" title="Edit FFF" ng-click="$event.stopPropagation();"
														x-document-mgr-edit
														x-project="project"
														x-doc="doc"
														x-on-update="documentMgr.onDocumentUpdate">
													<span class="glyphicon glyphicon-edit"></span>
												</button>
											</li>
											<li ng-if="project.userCan.manageFolders && !doc.model.published">
												<button class="btn icon-btn" title="Publish Folder" ng-click="$event.stopPropagation();"
														x-confirm-dialog
														x-title-text="'Publish Folder'"
														x-ok-text="'Yes'"
														x-cancel-text="'No'"
														x-confirm-text="'Are you sure you want to publish the selected folder?'"
														x-confirm-items="[doc.model.folderObj.displayName]"
														x-on-ok="documentMgr.publishFolder"
														x-ok-args="doc">
													<span class="glyphicon glyphicon-ok-circle"></span>
												</button>
											</li>
											<li ng-if="project.userCan.manageFolders && doc.model.published">
												<button class="btn icon-btn" title="Unpublish Folder" ng-click="$event.stopPropagation();"
														x-confirm-dialog
														x-title-text="'Unpublish Folder'"
														x-ok-text="'Yes'"
														x-cancel-text="'No'"
														x-confirm-text="'Are you sure you want to unpublish the selected folder?'"
														x-confirm-items="[doc.model.folderObj.displayName]"
														x-on-ok="documentMgr.unpublishFolder"
														x-ok-args="doc">
													<span class="glyphicon glyphicon-ban-circle"></span>
												</button>
											</li>
											<li ng-if="project.userCan.manageFolders">
												<button class="btn icon-btn" title="Delete Folder" ng-click="$event.stopPropagation();"
														x-confirm-dialog
														x-title-text="'Delete Folder'"
														x-ok-text="'Yes'"
														x-cancel-text="'No'"
														x-confirm-text="'Are you sure you want to delete this folder? This action cannot be undone.'"
														x-confirm-items="[doc.model.folderObj.displayName]"
														x-on-ok="documentMgr.deleteDir"
												        x-ok-args="doc">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</li>
											<li ng-if="project.userCan.manageFolders">
												<button class="btn icon-btn" title="Edit Permissions" ng-click="$event.stopPropagation();"
														x-role-permissions-modal
														x-context="project"
														x-object="doc.model.folderObj"
														x-reload="'false'"
														x-callback="documentMgr.onPermissionsUpdate">
													<span class="glyphicon glyphicon-cog"></span></button>
												</button>
											</li>
											<li>
												<button class="btn icon-btn" title="Properties" ng-click="documentMgr.infoPanel.toggle();$event.stopPropagation();">
													<span class="glyphicon glyphicon-info-sign"></span>
												</button>
											</li>
										</ul>
									</div>
									<button class="drill-in-btn btn icon-btn" ng-click="documentMgr.openDir(doc)">
										<span class="glyphicon glyphicon-menu-right"></span>
									</button>
								</div>
							</span>
						</li>
					</ul>
					<ul>
						<li class="fb-list-item" ng-class="{'selected': doc.selected}" ng-repeat="doc in documentMgr.currentFiles">
							<span class="col checkbox-col" ng-if="authentication.user">
								<input id="{{doc._id}}" type="checkbox" ng-model="doc.selected" ng-click="documentMgr.checkFile(doc)"/>
								<label for="{{doc._id}}" title="Select row">
									<span class="glyphicon glyphicon-ok"></span>
								</label>
							</span>
							<span class="fb-col-group" ng-dblclick="documentMgr.dblClick(doc)"
								ng-click="$event.originalEvent.dropdown || documentMgr.selectFile(doc)">
								<span class="col name-col first-col" title="{{ doc.displayName | removeExtension }}">
									<span class="avatar">
										<span class="fb-file glyphicon glyphicon-file" ng-if="!['png','jpg','jpeg'].includes(doc.internalExt)"></span>
										<span class="fb-img glyphicon glyphicon-picture" ng-if="['png','jpg','jpeg'].includes(doc.internalExt)"></span>
									</span>
									<span class="name">
										{{ doc.displayName | removeExtension }}
									</span>
								</span>
								<span hidden class="col author-col" title="{{ doc.documentAuthor }}">
									{{ doc.documentAuthor }}
								</span>
								<span class="col date-added-col">{{ doc.dateUploaded | date : format : timezone }}</span>
								<span class="col status-col last-col" ng-if="authentication.user">
									<span ng-if="doc.isPublished" title="Published"><span class="glyphicon glyphicon-ok-circle"></span></span>
								</span>
								<div class="row-actions">

									<div class="btn-group">
										<button class="btn icon-btn dropdown-toggle" type="button" ng-click="$event.originalEvent.dropdown = true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
											<span class="glyphicon glyphicon glyphicon-option-vertical" ></span>
										</button>
										<ul class="dropdown-menu pull-right">
											<li ng-if="doc.userCan.read">
												<a class="btn icon-btn" href="/api/document/{{ doc._id }}/fetch" target="_self" title="Download File">
													<span class="glyphicon glyphicon-download-alt"></span></a>
											</li>
											<li ng-if="doc.userCan.read && doc.internalMime === 'application/pdf'">
												<button class="btn icon-btn"
														ng-show="doc.internalMime === 'application/pdf'"
													 	x-modal-pdf-viewer
													 	x-pdfobject="doc"
													 	title="View File">
													<span class="glyphicon glyphicon-eye-open"></span>
												</button>
											</li>
											<li ng-if="doc.userCan.write">
												<button class="btn icon-btn" title="Edit File"
														ng-if="doc.userCan.write"
														x-document-mgr-edit
														x-project="project"
														x-doc="doc"
														x-on-update="documentMgr.onDocumentUpdate">
													<span class="glyphicon glyphicon-edit"></span>
												</button>
											</li>
											<li ng-if="doc.userCan.publish && !doc.isPublished">
												<button class="btn icon-btn" title="Publish File" ng-click="$event.stopPropagation();"
														x-confirm-dialog
														x-title-text="'Publish File(s)'"
														x-ok-text="'Yes'"
														x-cancel-text="'No'"
														x-confirm-text="'Are you sure you want to publish the selected file?'"
														x-confirm-items="[doc.displayName]"
														x-on-ok="documentMgr.publishFile"
														x-ok-args="doc">
													<span class="glyphicon glyphicon-ok-circle"></span>
												</button>
											</li>
											<li ng-if="doc.userCan.unPublish && doc.isPublished">
												<button class="btn icon-btn" title="Unpublish File" ng-click="$event.stopPropagation();"
														x-confirm-dialog
														x-title-text="'Unpublish File(s)'"
														x-ok-text="'Yes'"
														x-cancel-text="'No'"
														x-confirm-text="'Are you sure you want to unpublish the selected file?'"
														x-confirm-items="[doc.displayName]"
														x-on-ok="documentMgr.unpublishFile"
														x-ok-args="doc">
													<span class="glyphicon glyphicon-ban-circle"></span>
												</button>
											</li>
											<li ng-if="doc.userCan.delete">
												<button class="btn icon-btn" title="Delete File" ng-click="$event.stopPropagation();"
														x-confirm-dialog
														x-title-text="'Delete File(s)'"
														x-ok-text="'Yes'"
														x-cancel-text="'No'"
														x-confirm-text="'Are you sure you want to delete this file? This action cannot be undone.'"
														x-confirm-items="[doc.displayName]"
														x-on-ok="documentMgr.deleteFile"
														x-ok-args="doc">
													<span class="glyphicon glyphicon-trash"></span>
												</button>
											</li>
											<li ng-if="project.userCan.manageDocumentPermissions">
												<button class="btn icon-btn" title="Edit Permissions" ng-click="$event.stopPropagation();"
														x-role-permissions-modal
														x-context="project"
														x-object="doc"
														x-reload="'false'"
														x-callback="documentMgr.onPermissionsUpdate">
													<span class="glyphicon glyphicon-cog"></span></button>
												</button>
											</li>
											<li>
												<button class="btn icon-btn" title="Properties" ng-click="documentMgr.infoPanel.toggle();$event.stopPropagation();">
													<span class="glyphicon glyphicon-info-sign"></span>
												</button>
											</li>
										</ul>
									</div>

								</div>
							</span>
						</li>
					</ul>
				</div>
			</div>

		</div>
		<div class="fb-details-panel">
			<!-- Load the File/Folder Details -->
			<div class="spinner-container" ng-show="documentMgr.busy">
				<div class="spinner-new rotating"></div>
			</div>

			<!-- FILE DETAILS -->
			<div class="fb-details-content" ng-if="documentMgr.infoPanel.data && documentMgr.infoPanel.type === 'File'">
				<div class="title-panel">
					<div class="title-panel-info">
						<button class="btn btn-default close" type="button" ng-click="documentMgr.infoPanel.close()">
							<span aria-hidden="true">&times;</span>
						</button>
						<h2 title="{{documentMgr.infoPanel.data.displayName | removeExtension}}">{{documentMgr.infoPanel.data.displayName | removeExtension }}</h2>
					</div>
					<div class="title-panel-btns">
						<a ng-if="documentMgr.infoPanel.data.userCan.read"
						   class="btn btn-sm btn-default"
						   href="/api/document/{{ documentMgr.infoPanel.data._id }}/fetch"
						   target="_self"
						   title="Download File"><span class="glyphicon glyphicon-download-alt"></span></a>
						<button ng-if="documentMgr.infoPanel.data.userCan.read && documentMgr.infoPanel.data.internalMime === 'application/pdf'"
								x-modal-pdf-viewer
								x-pdfobject="documentMgr.infoPanel.data"
								title="View File"
								class="btn btn-sm btn-default">View</button>
						<button class="btn btn-sm btn-default" ng-if="documentMgr.infoPanel.data.userCan.write"
								x-document-mgr-edit
								x-project="project"
								x-doc="documentMgr.infoPanel.data"
								x-on-update="documentMgr.onDocumentUpdate">Edit</button>
						<div class="fb-menu btn-group">
							<button class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">More</button>
							<ul class="dropdown-menu pull-right">
								<li ng-if="documentMgr.infoPanel.data.userCan.delete">
									<a title="Delete File"
									   ng-click="$event.stopPropagation();"
									   x-confirm-dialog
									   x-title-text="'Delete File(s)'"
									   x-ok-text="'Yes'"
									   x-cancel-text="'No'"
									   x-confirm-text="'Are you sure you want to delete this file? This action cannot be undone.'"
									   x-confirm-items="[documentMgr.infoPanel.data.displayName]"
									   x-on-ok="documentMgr.deleteFile"
									   x-ok-args="documentMgr.infoPanel.data"><span class="glyphicon glyphicon-trash"></span> Delete</a>
								</li>
								<li ng-if="documentMgr.infoPanel.data.userCan.publish && !documentMgr.infoPanel.data.isPublished">
									<a title="Publish File"
									   ng-click="$event.stopPropagation();"
									   x-confirm-dialog
									   x-title-text="'Publish File'"
									   x-ok-text="'Yes'"
									   x-cancel-text="'No'"
									   x-confirm-text="'Are you sure you want to publish the selected file?'"
									   x-confirm-items="[documentMgr.infoPanel.data.displayName]"
									   x-on-ok="documentMgr.publishFile"
									   x-ok-args="documentMgr.infoPanel.data"><span class="glyphicon glyphicon-ok-circle"></span> Publish</a>
								</li>
								<li ng-if="documentMgr.infoPanel.data.userCan.unPublish && documentMgr.infoPanel.data.isPublished">
									<a title="Unpublish File"
									   ng-click="$event.stopPropagation();"
									   x-confirm-dialog
									   x-title-text="'Unpublish File'"
									   x-ok-text="'Yes'"
									   x-cancel-text="'No'"
									   x-confirm-text="'Are you sure you want to unpublish the selected file?'"
									   x-confirm-items="[documentMgr.infoPanel.data.displayName]"
									   x-on-ok="documentMgr.unpublishFile"
									   x-ok-args="documentMgr.infoPanel.data"><span class="glyphicon glyphicon-ban-circle"></span> Unpublish</a>
								</li>
								<li>
									<a title="Edit Permissions" ng-if="project.userCan.manageDocumentPermissions"
										x-role-permissions-modal
										x-context="project"
										x-object="documentMgr.infoPanel.data"
									    x-reload="'false'"
									    x-callback="documentMgr.onPermissionsUpdate"><span class="glyphicon glyphicon-cog"></span> Edit Permissions</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="scroll-container">
					<section class="fb-details-section">
						<h2>File Details</h2>
						<section ng-if="documentMgr.infoPanel.data.description">
							<h3>Description</h3>
							<div class="value">{{ documentMgr.infoPanel.data.description }}</div>
						</section>
						<section>
							<h3>Properties</h3>
							<ul class="nv-pair">
								<li ng-if="authentication.user">
									<span class="name">Status:</span>
									<span class="value">
										<span class="label label-success" ng-if="documentMgr.infoPanel.data.isPublished">Published</span>
										<span class="label label-default" ng-if="!documentMgr.infoPanel.data.isPublished">Not Published</span>
									</span>
								</li>
								<li>
									<span class="name">Document Date:</span>
									<span class="value">{{ documentMgr.infoPanel.data.documentDate | date : format : timezone }}</span>
								</li>
								<li>
									<span class="name">Uploaded Date:</span>
									<span class="value">{{ documentMgr.infoPanel.data.dateUploaded | date : format : timezone }}</span>
								</li>
								<li>
									<span class="name">Size:</span>
									<span class="value">{{ documentMgr.infoPanel.data.internalSize | bytes:2 }}</span>
								</li>
								<li>
									<span class="name">Type:</span>
									<span class="value">{{ documentMgr.infoPanel.data.internalExt }}</span>
								</li>
								<li ng-if="documentMgr.infoPanel.data.documentId">
									<span class="name">Document ID:</span>
									<span class="value">{{ documentMgr.infoPanel.data.documentId }}</span>
								</li>
								<li ng-if="documentMgr.infoPanel.data.documentType">
									<span class="name">Document Type:</span>
									<span class="value">{{ documentTypes.display(documentMgr.infoPanel.data.documentType) }}</span>
								</li>
								<li ng-if="documentMgr.infoPanel.data.documentType ==='Inspection Report' && documentMgr.infoPanel.data.inspectionReport">
									<span class="name">Inspector Initials:</span>
									<span class="value">{{ documentMgr.infoPanel.data.inspectionReport.inspectorInitials }}</span>
								</li>
								<li ng-if="documentMgr.infoPanel.data.documentType ==='Inspection Report' && documentMgr.infoPanel.data.inspectionReport">
									<span class="name">Follow up:</span>
									<span class="value">{{ documentMgr.infoPanel.data.inspectionReport.followup }}</span>
								</li>

							</ul>
						</section>

						<!-- FILE KEYWORDS -->
						<!--
						<section>
							<h3>Keywords</h3>
							<ul class="comma-separated-list">
								<li>Keyword 1</li>
								<li>Keyword 2</li>
								<li>Keyword 3</li>
								<li>Keyword 4</li>
							</ul>
						</section>
						-->
						<!-- / FILE KEYWORDS -->

					</section>
				</div>
			</div><!-- / FILE DETAILS -->

			<!-- DIRECTORY DETAILS -->
			<div class="fb-details-content" ng-if="documentMgr.infoPanel.data && documentMgr.infoPanel.type === 'Directory'">
				<div class="title-panel">
					<div class="title-panel-info">
						<button class="btn btn-default close" type="button" ng-click="documentMgr.infoPanel.close()">
							<span aria-hidden="true">&times;</span>
						</button>
						<h2 title="{{documentMgr.infoPanel.data.name}}">{{documentMgr.infoPanel.data.name}}</h2>
					</div>
				</div>
				<div class="scroll-container">
					<section>
						<ul class="nv-pair">
							<li ng-if="authentication.user">
								<span class="name">Status:</span>
								<span class="value">
									<span class="label label-success" ng-if="documentMgr.infoPanel.data.folderObj.isPublished">Published</span>
									<span class="label label-default" ng-if="!documentMgr.infoPanel.data.folderObj.isPublished">Not Published</span>
								</span>
							</li>
							<li>
								<span class="name">Description:</span>
								<span class="value">{{documentMgr.infoPanel.data.folderObj.description}}</span>
							</li>
							<li>
								<span class="name">Date Created:</span>
								<span class="value">{{documentMgr.infoPanel.data.folderObj.documentDate | date : format : timezone}}</span>
							</li>
						</ul>
					</section>
				</div>
			</div><!-- / DIRECTORY DETAILS -->

			<!-- NO DETAILS -->
			<div class="fb-details-content" ng-if="documentMgr.infoPanel.data && documentMgr.infoPanel.type === 'Multi'">
				<div class="title-panel">
					<div class="title-panel-info">
						<button class="btn btn-default close" type="button" ng-click="documentMgr.infoPanel.close()">
							<span aria-hidden="true">&times;</span>
						</button>
						<h2 title="{{project.name}}">{{project.name}}</h2>
					</div>
				</div>
				<div class="scroll-container">
					There are {{documentMgr.infoPanel.data.checkedFiles}} files and {{documentMgr.infoPanel.data.checkedDirs}} folders selected.<br>Select one file or folder to view details.
				</div>
			</div>
			<div class="fb-details-content" ng-if="!documentMgr.infoPanel.data || documentMgr.infoPanel.type === 'None'">
				<div class="title-panel">
					<button class="btn btn-default close" type="button" ng-click="documentMgr.infoPanel.close()">
						<span aria-hidden="true">&times;</span>
					</button>
					<h2 title="{{project.name}}">{{project.name}}</h2>
				</div>
				<div class="scroll-container">
					Select one file or folder to view details.
				</div>
			</div><!-- / NO DETAILS -->

		</div>
	</div>

</div>
