<form class="fb-edit-form" name="editFileForm" novalidate>
	<div class="modal-header">
		<button ng-disabled="editFileProperties.busy" type="button" class="btn btn-default close" ng-click="editFileProperties.cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h3 ng-if="doc._schemaName === 'Document'" class="modal-title">Edit File  &nbsp;&rsaquo;&nbsp;  {{originalName}}</h3>
		<h3 ng-if="doc._schemaName === 'Folder'" class="modal-title">Edit Folder  &nbsp;&rsaquo;&nbsp;  {{originalName}}</h3>
	</div>

	<div class="modal-body">

		<!--
		<div class="spinner-container">
			<div class="spinner-new rotating"></div>
		</div>
		-->

		<div class="form-group file-type" x-show-errors>
			<label for="displayName" class="control-label">Display Name<em class="required">(Required)</em></label>
			<input class="form-control" id="displayName" name="displayName" type="text" ng-model="doc.displayName" required ng-blur="validate()">
		</div>

		<div class="form-group" x-show-errors>
			<label for="documentAuthor" class="control-label">Authors</label>
			<input class="form-control" id="documentAuthor" name="documentAuthor" type="text" ng-model="doc.documentAuthor" ng-blur="validate()">
		</div>

		<div class="form-group" x-show-errors>
			<label for="description" class="control-label">Description</label>
			<textarea class="form-control" rows="6" id="description" name="description" ng-model="doc.description" ng-blur="validate()"></textarea>
		</div>

		<div ng-if="doc._schemaName === 'Document'" class="form-group file-type" x-show-errors>
			<label for="documentId" class="control-label">Document ID</label>
			<input class="form-control" id="documentId" name="documentId" type="text" ng-model="doc.documentId" ng-blur="validate()">
		</div>

		<div ng-if="doc._schemaName === 'Document'" class="form-group">
			<label class="control-label" for="documentCategories">Document Categories</label>
			<button class="btn btn-default btn-sm" id="documentCategories" x-categories-modal x-doc="doc">Set Categories</button>
			<span class="value document-categories-list">
				<ul>
					<li data-ng-repeat="category in doc.documentCategories">{{category}}</li>
				</ul>
			</span>
		</div>

		<div ng-if="doc._schemaName === 'Document'" class="form-group file-type" x-show-errors>
			<label for="documentFileName" class="control-label">File Name</label>
			<input class="form-control" id="documentFileName" name="documentFileName" type="text" ng-model="doc.documentFileName" ng-blur="validate()">
		</div>

		<div class="row form-group">
			<div class="col-sm-12">
				<label for="subComponents" class="control-label">Keywords</label>
				<div class="tag-list-container form-control clearfix">
					<ul class="tag-list">
						<li class="tag" ng-repeat="keyword in doc.keywords">
							<span class="tag-name">{{keyword}}</span>
							<button class="btn btn-sm" ng-click="removeKeyword(keyword)"><span class="glyphicon glyphicon-remove"></span></button>
						</li>
						<li class="add-tag">
							<button class="add-btn btn btn-sm"
											x-document-mgr-add-keyword
											x-project="project"
											x-doc="doc">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div ng-show="doc.hasInspectionMeta">
			<div class="form-group" x-show-errors>
				<label for="inspectionNumber" class="control-label">Inspection Number</label>
				<input class="form-control" id="inspectionNumber" name="inspectionNumber" type="text" required ng-model="doc.inspectionReport.inspectionNumber" ng-blur="validate()">
			</div>

			<div class="form-group" x-show-errors>
				<label for="inspectorName" class="control-label">Inspector Name</label>
				<input class="form-control" id="inspectorName" name="inspectorName" type="text" required ng-model="doc.inspectionReport.inspectorName" ng-blur="validate()">
			</div>

			<div class="form-group" x-show-errors>
				<label for="accompanyingInspectors" class="control-label">Accompanying Inspectors</label>
				<input class="form-control" id="accompanyingInspectors" name="accompanyingInspectors" type="text" ng-model="doc.inspectionReport.accompanyingInspectors" ng-blur="validate()">
			</div>

			<div class="form-group" x-show-errors>
				<label for="mineManager" class="control-label">Mine Manager</label>
				<input class="form-control" id="mineManager" name="mineManager" type="text" ng-model="doc.inspectionReport.mineManager" ng-blur="validate()">
			</div>

			<div class="form-group" x-show-errors>
				<label for="personsContacted" class="control-label">Persons Contacted</label>
				<input class="form-control" id="personsContacted" name="personsContacted" type="text" ng-model="doc.inspectionReport.personsContacted" ng-blur="validate()">
			</div>

			<div class="form-group" x-show-errors>
				<label for="associateAuthorization" class="control-label">Associate Authorization</label>
				<input class="form-control" id="associateAuthorization" name="associateAuthorization" type="text" ng-model="doc.inspectionReport.associateAuthorization" ng-blur="validate()">
			</div>

		</div>

		<div class="row">
			<div class="form-group datepicker col-md-3" x-show-errors>
				<label ng-if="doc._schemaName === 'Folder'" class="control-label" for="documentDate">Created Date<em class="required">(Required)</em></label>
				<label ng-if="doc._schemaName === 'Document'" class="control-label" for="documentDate">Document Date<em class="required">(Required)</em></label>
				<div class="datepicker-input">
					<input class="form-control" placeholder="YYYY-MM-DD"  id="documentDate" name="documentDate"
						   ng-model="doc.documentDate" type="text"
						   uib-datepicker-popup
						   is-open="datePicker.opened"
						   datepicker-options="dateOptions"
						   close-text="Close"
						   disabled
						   ng-change="validate()"/>
					<button class="btn btn-default calendar-btn" ng-click="dateOpen()"><span class="glyphicon glyphicon-calendar"/></button>
				</div>
			</div>
			<div ng-if="doc._schemaName === 'Document'" class="form-group datepicker col-md-3" x-show-errors>
				<label class="control-label" for="dateUploaded">Uploaded Date<em class="required">(Required)</em></label>
				<div class="datepicker-input">
					<input class="form-control" placeholder="YYYY-MM-DD"  id="dateUploaded" name="dateUploaded"
						   ng-model="doc.dateUploaded" type="text"
						   uib-datepicker-popup
						   is-open="dateUploadedPicker.opened"
						   datepicker-options="dateOptions"
						   close-text="Close"
						   disabled
						   required
						   ng-change="validate()"/>
					<button class="btn btn-default calendar-btn" ng-click="dateUploadedOpen()"><span class="glyphicon glyphicon-calendar"/></button>
				</div>
			</div>
		</div>

	</div>

	<div class="modal-footer clearfix">
		<button class="btn btn-default" ng-disabled="editFileProperties.busy" ng-click="editFileProperties.cancel()">Cancel</button>
		<button class="btn btn-primary" ng-disabled="!editFileForm.$valid || editFileProperties.busy" ng-click="editFileProperties.save(editFileForm.$valid)">Save</button>
	</div>
</form>