
<div class="modal-header">
	<button ng-disabled="uploadService.actions.busy" type="button" class="btn btn-default close" ng-click="uploadModal.cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">{{uploadModal.title}}</h3>
</div>

<div class="modal-body">
	<x-document-mgr-upload
		x-project="project"
		x-root="uploadModal.rootNode"
		x-node="uploadModal.selectedNode"
		x-type="uploadModal.type"></x-document-mgr-upload>
</div>

<div>
	Busy?: {{uploadService.actions.busy}}<br>
	Allow Upload: {{uploadService.actions.allowStart}}<br>
	Allow Stop: {{uploadService.actions.allowStop}}<br>
	Allow Reset: {{uploadService.actions.allowReset}}<br>

	Total files in list: {{uploadService.counts.total}}<br>
	Upload In Progress: {{uploadService.counts.uploading}}<br>
	Upload Completed: {{uploadService.counts.uploaded}}<br>
	Upload Failed: {{uploadService.counts.failed}}<br>
	Upload cancelled: {{uploadService.counts.cancelled}}<br>

</div>
<div class="modal-footer">
	<button ng-if="!uploadService.actions.busy" class="btn btn-default" type="button" ng-click="uploadModal.cancel()">Close</button>
	<button ng-if="uploadService.actions.allowStop" class="btn btn-default" ng-click="uploadService.stopUploads()" type="button">Stop Uploads</button>
	<button
		ng-if="uploadService.actions.allowReset"
		class="btn"
		type="button"
		ng-click="uploadService.reset()">Clear Files</button>
	<button
		ng-if="uploadService.actions.allowStart"
		class="btn btn-primary"
		type="button"
		ng-click="uploadService.actions.busy || uploadModal.startUploads()">Start Uploads</button>
</div>