<div class="file-browser">

	<div class="file-browser-header">
		<ul class="file-browser-breadcrumbs">
			<li ng-repeat="node in documentMgr.currentPath">
				<button class="btn" ng-click="documentMgr.selectNode(node.model.id)">
					<span class="glyphicon glyphicon-home" ng-if="node.model.name == 'ROOT'"></span>
					<span ng-show="node.model.name != 'ROOT'">{{ node.model.name }}</span>
				</button>
			</li>
		</ul>
		
		<div class="file-batch-actions">
			<input type="text" ng-model="documentMgr.entryText" >
			<a class="btn btn-default btn-sm" href 
				ng-click="documentMgr.addDirectory()" 
				title="Add Directory">Add</a>
			<a class="btn btn-default btn-sm" href 
				ng-click="documentMgr.renameDirectory()" 
				title="Rename Directory">Rename</a>
			<a class="btn btn-default btn-sm" href 
				ng-click="documentMgr.removeDirectory()" 
				title="Remove Directory">Remove</a>
			<a class="btn btn-default btn-sm" href 
				ng-click="documentMgr.moveDirectory()" 
				title="Move Directory">Move</a>
		</div>

	</div>

	<div class="file-browser-body">
		<div class="sortable-header">
			<div class="sort-col" ng-class="{'descending': documentMgr.sortedMode == 'Descending'}" ng-click="documentMgr.changeSort()">
				<span>Name</span>
				<span class="sort-icon"></span>
			</div>
		</div>
		<!-- Folders / Directories -->
		<ul>
			<li class="folder clickable" ng-repeat="doc in documentMgr.currentDirs">
				<span class="cell-contents" ng-click="documentMgr.selectNode(doc.model.id)">
					<span class="avatar">
						<span class="glyphicon glyphicon-folder-close"></span>
					</span>
					<span class="name">{{ doc.model.name }}</span>
				</span>
			</li>
		</ul>
		<ul>
			<li class="folder clickable" ng-repeat="doc in documentMgr.currentFiles">
				<span class="cell-contents">
					<span class="avatar">
						<span class="glyphicon glyphicon-file"></span>
					</span>
					<span class="name">{{ doc.internalOriginalName | removeExtension }}</span>
				</span>
			</li>
		</ul>
	</div>

</div>