
<div class="view-title-container flex-row">
	<button class="btn icon-btn side-toggle-btn" onclick="toggleSideNav();"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
	<h1>Documents Blah</h1>
	<!-- <tmpl-permissions-gear class="permission-btn" x-context="menu.project" x-object="menu.project" x-permissions=""></tmpl-permissions-gear> -->
</div>

<div class="view-body-container documents">
	<tmpl-documents-browser class="anchor-section"
		id="anchor-documents"
		x-approvals="false"
		x-project="project"
		x-artifact="artifact"
		x-doc-location-code="">
	</tmpl-documents-browser>
	<tmpl-documents-approvals class="anchor-section hidden"
		id="anchor-document-approvals"
		x-approvals="true"
		x-project="project"
	x-artifact="artifact"
	x-doc-location-code="">
	</tmpl-documents-approvals>
</div>

