<section class="document-browser-view">

	<!-- PHASE DOCUMENTS - PROTOTYPE -->
	<div class="panel panel-default accordion hidden">

	</div><!-- / PHASE DOCUMENTS - PROTOTYPE -->

	<div class="panel panel-default">
		<div class="panel-heading flex-row">
			<h2><ul class="breadcrumb"><li class="clickable" ng-repeat="node in documentMgr.currentPath"
					ng-click="documentMgr.selectNode(node.model.id)">
				{{ node.model.name }}
			</li></ul></h2>
			<div class="doc-actions clearfix">
				<div class="pull-right">
					<input type="text" ng-model="documentMgr.entryText" >
					<a class="btn btn-default btn-sm" href ng-click="documentMgr.addDirectory()" title="Add Directory">Add</a>
					<a class="btn btn-default btn-sm" href ng-click="documentMgr.renameDirectory()" title="Rename Directory">Rename</a>
					<a class="btn btn-default btn-sm" href ng-click="documentMgr.removeDirectory()" title="Remove Directory">Remove</a>
					<a class="btn btn-default btn-sm" href ng-click="documentMgr.moveDirectory()" title="Move Directory">Move</a>
				</div>
			</div><!-- / DOCUMENT ACTIONS -->
		</div>
		<div class="col-sm-6 col-md-4 file-browser-list">
			<ul>
				<li class="row-folder clickable" ng-repeat="node in documentMgr.currentNode.children"
					ng-click="documentMgr.selectNode(node.model.id)">
					<span class="glyphicon glyphicon-folder"></span>
					{{ node.model.name }}
				</li>
			</ul>
			<ul>
				<li class="row-folder clickable" ng-repeat="doc in documentMgr.currentDocuments">
					<span class="glyphicon glyphicon-file"></span>
					{{ doc.internalOriginalName | removeExtension }}
				</li>
			</ul>
		</div><!-- / FOLDER HIERARCHY -->
	</div>

</section>