
<div class="fb-upload-container">
	
	<!-- UPLOAD TARGET -->
	<div class="fb-upload-target" ngf-drop ngf-select
		ng-model="files"
		ngf-drag-over-class="upload-target-hover"
		ngf-multiple="true"
		ngf-allow-dir="true">
		<span class="glyphicon glyphicon-open icon-default"></span>
		<span class="fb-upload-target-msg"><em>Drag &amp; Drop</em> or <em>browse files</em> to upload.</span>
		<div class="fb-target-upload-border"></div>
	</div>

	<!-- FILE BROWSER -->
	<div class="file-browser">
		<div class="fb-body">
			
			<!-- FILE BROWSER LIST -->
			<div class="fb-list">

				<div class="column-header">
					<div class="col name-col">
						<span>Name</span>
					</div>
				</div>
				
				<ul>
					<li ng-if="documentMgrUpload.fileList == 0">
						<span class="cell-contents">							
							<span class="col name-col">
								No files added.
							</span>
						</span>
					</li>
					<li ng-repeat="f in documentMgrUpload.fileList">
						<span class="cell-contents">							
							<span class="col name-col">
								<span class="avatar">
									<span class="fb-file glyphicon glyphicon-file"></span>
								</span>
								{{f.name}}
							</span>
							<div class="row-actions">
								<div class="progress" ng-show="f.progress > 0">
									<div class="progress-bar" style="width:{{f.progress}}%" title="{{f.progress}}%" role="progressbar"></div>
								</div>
								<button class="btn icon-btn"
									ng-click="documentMgrUpload.removeFile(f)">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</div>
						</span>
					</li>
				</ul>

			</div><!-- / FILE BROWSER LIST -->

		</div>
	</div><!-- / FILE BROWSER BODY -->

</div>

	<!--
	<table class="table table-condensed">
		<thead>
		<tr class="small">
			<th width="90%">File</th>
			<th width="10%"></th>
		</tr>
		</thead>
		<tbody>
		<tr ngf-no-file-drop>
			<td class="text-center">
				<p class="form-control-static">File Drag/Drop is not supported for this browser</p>
			</td>
		</tr>
		<tr ng-repeat="f in documentMgrUpload.fileList" ng-class="{'danger': f.$error}">
			<td ng-if="f.$error">
				<p class="form-control-static text-danger">FILE ERROR: {{f.name}} {{f.$error}} {{f.$errorParam}}</p>
			</td>
			<td ng-if="!f.$error">
				<p class="form-control-static">{{f.name}}</p>
			</td>
			<td ng-if="!f.$error && !f.progress" class="text-right">
				<p class="form-control-static"><a href ng-click="documentMgrUpload.removeFile(f)"><span class="glyphicon glyphicon-trash"></span></a></p>
			</td>
			<td ng-if="!f.$error && f.progress">
				<p class="form-control-static"><a href ng-click="documentMgrUpload.cancelFile(f)"><span class="glyphicon glyphicon-remove"></span></a></p>
			</td>
		</tr>
		</tbody>
	</table>
	-->

	<!--
	<div class="row" ng-if="!documentMgrUpload.inProgress && !documentMgrUpload.hideUploadButton">
		<div class="col-sm-12 text-right">
			<button ng-click="documentMgrUpload.upload()" ng-if="documentMgrUpload.fileList.length > 0" class="btn btn-success">
				Upload Queued Documents
			</button>
		</div>
	</div>
	<div class="row" ng-if="documentMgrUpload.inProgress && !documentMgrUpload.hideUploadButton">
		<div class="col-sm-12 text-right">
			<button ng-click="documentMgrUpload.cancelAll()" ng-if="documentMgrUpload.fileList.length > 0" class="btn btn-success">
				Cancel Uploads
			</button>
		</div>
	</div>
	-->

