
        <div class="file-browser">

            <div class="fb-header">
                <ul class="fb-breadcrumbs">
                    <li ng-repeat="node in documentMgr.currentPath">
                        <button class="btn icon-btn" ng-click="documentMgr.selectNode(node.model.id)">
                            <span class="root-icon glyphicon glyphicon-hdd" ng-if="node.model.name == 'ROOT'"></span>
                            <span class="back-icon glyphicon glyphicon-menu-left"></span>
                            <span ng-show="node.model.name != 'ROOT'">{{ node.model.name }}</span>
                        </button>
                    </li>
                </ul>
                <div class="file-batch-actions">
                </div>
            </div>

            <div id="fbBody" class="fb-body" ng-class="{'panel-open': documentMgr.infoPanel.open}">

                <div class="fb-list">

                    <!-- Load the File/Folder Directory -->
                    <!-- TODO: Remove 'hidden' selector when complete -->
                    <div class="spinner-container" ng-show="documentMgr.busy">
                        <div class="spinner">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="spin-path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                            </svg>
                        </div>
                    </div>

                    <div class="column-header">
				<span class="col checkbox-col" ng-if="authentication.user">
					<input id="select-all" type="checkbox" title="Select All / None" ng-model="documentMgr.allChecked" ng-click="documentMgr.linkAll()"/>
					<label for="select-all">
						<span class="glyphicon glyphicon-ok"></span>
					</label>
				</span>

                        <div class="fb-col-group">
                            <div class="col name-col first-col sortable" ng-class="{'descending': !documentMgr.sorting.ascending}" ng-click="documentMgr.sortBy('name')">
                                <span>Name</span>
                                <span class="sort-icon" ng-show="documentMgr.sorting.column === 'name'"></span>
                            </div>
                            <div hidden class="col author-col sortable" ng-class="{'descending': !documentMgr.sorting.ascending}" ng-click="documentMgr.sortBy('author')">
                                <span>Author</span>
                                <span class="sort-icon" ng-show="documentMgr.sorting.column === 'author'"></span>
                            </div>
                            <div class="col date-added-col sortable" ng-class="{'descending': !documentMgr.sorting.ascending}" ng-click="documentMgr.sortBy('date')">
                                <span>Uploaded</span>
                                <span class="sort-icon" ng-show="documentMgr.sorting.column === 'date'"></span>
                            </div>
                            <div class="col status-col last-col sortable" ng-class="{'descending': !documentMgr.sorting.ascending}" ng-click="documentMgr.sortBy('pub')" ng-if="authentication.user && publishedOnly !== 'true'">
                                <span>Status</span>
                                <span class="sort-icon" ng-show="documentMgr.sorting.column === 'pub'"></span>
                            </div>
                        </div>

                    </div>
                    <div>
                        <div>

                            <div class="empty-directory-msg" ng-if="documentMgr.currentDirs.length == 0 && documentMgr.currentFiles.length == 0">This folder is empty.</div>

                            <ul>
                                <li class="fb-list-item" ng-class="{'selected': doc.selected}" ng-repeat="doc in documentMgr.currentDirs">
							<span class="col checkbox-col" ng-if="authentication.user">
								<input id="{{doc.model.id}}" type="checkbox" ng-model="doc.selected"/>
								<label for="{{doc.model.id}}">
									<span class="glyphicon glyphicon-ok"></span>
								</label>
							</span>
                                    <span class="fb-col-group"
                                          ng-click="$event.originalEvent.dropdown || documentMgr.selectDir(doc)"
                                          ng-dblclick="$event.originalEvent.dropdown || documentMgr.openDir(doc)" title="{{doc.model.name}}">
								<span class="col name-col first-col">
									<span class="avatar">
										<span class="fb-folder glyphicon glyphicon-folder-close"></span>
									</span>
									<span class="name">
										{{ doc.model.name }}
									</span>
								</span>
								<span hidden class="col author-col">---</span>
								<span class="col date-added-col">---</span>
								<span class="col status-col last-col" ng-if="authentication.user && publishedOnly !== 'true'">---</span>
								<div class="row-actions">
									<button class="drill-in-btn btn icon-btn" ng-click="documentMgr.openDir(doc)">
										<span class="glyphicon glyphicon-menu-right"></span>
									</button>

								</div>
							</span>
                                </li>
                            </ul>
                            <ul>
                                <li class="fb-list-item" ng-class="{'selected': doc.selected}" ng-repeat="doc in documentMgr.currentFiles">
							<span class="col checkbox-col" ng-if="authentication.user">
								<input id="{{doc._id}}" type="checkbox" ng-model="doc.selected" ng-click="documentMgr.linkFile(doc)"/>
								<label for="{{doc._id}}" title="Select row">
									<span class="glyphicon glyphicon-ok"></span>
								</label>
							</span>
                                    <span class="fb-col-group"
                                          ng-click="$event.originalEvent.dropdown || documentMgr.selectFile(doc)">
								<span class="col name-col first-col" title="{{ doc.displayName | removeExtension }}">
									<span class="avatar">
										<span class="fb-file glyphicon glyphicon-file" ng-if="doc.internalExt == 'pdf'"></span>
										<span class="fb-img glyphicon glyphicon-picture" ng-if="doc.internalExt == 'png' && 'jpg' && 'jpeg'"></span>
									</span>
									<span class="name">
										{{ doc.displayName | removeExtension }}
									</span>
								</span>
								<span hidden class="col author-col" title="{{ doc.documentAuthor }}">
									{{ doc.documentAuthor }}
								</span>
                                        <!--
										<span class="col size-col">{{ doc.internalSize | bytes:2 }}</span>
										<span class="col type-col">{{ doc.internalExt}}</span>
										-->
								<span class="col date-added-col">{{ doc.dateUploaded | date : format : timezone }}</span>
								<span class="col status-col last-col" ng-if="authentication.user && publishedOnly !== 'true'">
									<span ng-if="doc.isPublished" title="Published"><span class="glyphicon glyphicon-ok-circle"></span></span>
								</span>
							</span>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="fb-details-panel">
                    <!-- Load the File/Folder Details -->
                    <!-- TODO: Remove 'hidden' selector when complete -->
                    <div class="spinner-container" ng-show="documentMgr.busy">
                        <div class="spinner">
                            <svg class="circular" viewBox="25 25 50 50">
                                <circle class="spin-path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                            </svg>
                        </div>
                    </div>
                    <div class="fb-details-content" ng-if="documentMgr.infoPanel.data && documentMgr.infoPanel.type === 'File'">
                        <div class="title-panel">
                            <button class="btn btn-default close" type="button" ng-click="documentMgr.infoPanel.close()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h2 title="{{documentMgr.infoPanel.data.displayName | removeExtension}}">{{documentMgr.infoPanel.data.displayName | removeExtension }}</h2>
                            <!--
							<h2>Fetching Details...</h2>
							-->
                        </div>

                        <div class="scroll-container">

                            <section ng-if="documentMgr.infoPanel.data.description">
                                <label>Description</label>
                                <div class="value">{{ documentMgr.infoPanel.data.description }}</div>
                            </section>

                            <section>
                                <label>Properties</label>
                                <ul class="nv-pair">
                                    <li ng-if="authentication.user">
                                        <span class="name">Status:</span>
                                        <span class="value">
									<span class="label label-success" ng-if="documentMgr.infoPanel.data.isPublished">Published</span>
									<span class="label label-default" ng-if="!documentMgr.infoPanel.data.isPublished">Not Published</span>
								</span>
                                    </li>
                                    <!--
									<li>
										<span class="name">Author:</span>
										<span class="value">{{ documentMgr.infoPanel.data.documentAuthor }}</span>
									</li>
									-->
                                    <li>
                                        <span class="name">Date uploaded:</span>
                                        <span class="value">{{ documentMgr.infoPanel.data.dateUploaded | date : format : timezone }}</span>
                                    </li>
                                    <li>
                                        <span class="name">Size:</span>
                                        <span class="value">{{ documentMgr.infoPanel.data.internalSize | bytes:2 }}</span>
                                    </li>
                                    <li>
                                        <span class="name">Type:</span>
                                        <span class="value">{{ documentMgr.infoPanel.data.internalExt }}</span>
                                    </li>
                                    <!--
									<li>
										<span class="name">Last modified date:</span>
										<span class="value">{{ documentMgr.infoPanel.data.dateUpdated | date : format : timezone }}</span>
									</li>
									<li>
										<span class="name">Last update by:</span>
										<span class="value">{{ documentMgr.infoPanel.data.updatedBy.displayName }}</span>
									</li>
									-->
                                </ul>
                            </section>
                        </div>
                    </div>
                    <div class="fb-details-content" ng-if="documentMgr.infoPanel.data && documentMgr.infoPanel.type === 'Directory'">
                        <div class="title-panel">
                            <button class="btn btn-default close" type="button" ng-click="documentMgr.infoPanel.close()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h2 title="{{documentMgr.infoPanel.data.name}}">{{documentMgr.infoPanel.data.name}}</h2>
                            <!--
							<h2>Fetching Details...</h2>
							-->
                        </div>

                        <div class="scroll-container">
                            <section>
                                <ul class="nv-pair">
                                    <li ng-if="authentication.user">
                                        <span class="name">Status:</span>
                                        <span class="value">---</span>
                                    </li>
                                    <li>
                                        <span class="name">Description:</span>
                                        <span class="value">---</span>
                                    </li>
                                    <!--
									<li>
										<span class="name">Author:</span>
										<span class="value">---</span>
									</li>
									-->
                                    <li>
                                        <span class="name">Date uploaded:</span>
                                        <span class="value">---</span>
                                    </li>
                                </ul>
                            </section>
                        </div>
                    </div>
                    <div class="fb-details-content" ng-if="documentMgr.infoPanel.data && documentMgr.infoPanel.type === 'Multi'">
                        <div class="title-panel">
                            <button class="btn btn-default close" type="button" ng-click="documentMgr.infoPanel.close()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h2 title="{{project.name}}">{{project.name}}</h2>
                        </div>
                        <div class="scroll-container">
                            There are {{documentMgr.infoPanel.data.checkedFiles}} files and {{documentMgr.infoPanel.data.checkedDirs}} folders selected.<br>Select one file or folder to view details.
                        </div>
                    </div>
                    <div class="fb-details-content" ng-if="!documentMgr.infoPanel.data || documentMgr.infoPanel.type === 'None'">
                        <div class="title-panel">
                            <button class="btn btn-default close" type="button" ng-click="documentMgr.infoPanel.close()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h2 title="{{project.name}}">{{project.name}}</h2>
                        </div>
                        <div class="scroll-container">
                            Select one file or folder to view details.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    <section><!-- Browse Files Section -->

    <!-- Linked Files Section -->
    <section>
        <label>Linked Files ({{linkedFiles.length}})</label>
        <div>
            <ul>
                <li class="fb-list-item" ng-repeat="doc in linkedFiles">
                    <span class="fb-col-group">
                        <span class="col name-col first-col">
                            <span class="avatar">
                                <span class="fb-file glyphicon glyphicon-file" ng-if="doc.internalExt == 'pdf'"></span>
                                <span class="fb-img glyphicon glyphicon-picture" ng-if="doc.internalExt == 'png' && 'jpg' && 'jpeg'"></span>
                            </span>
                            {{doc.displayName}}
                        </span>
                        <div class="row-actions">
                            <button class="btn icon-btn"
                                ng-click="documentMgr.unlinkFile(doc)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                    </span>
                </li>
            </ul>
        </div>
    </section><!-- Linked Files Section -->