
.auth-list-section {
    ul {
        margin-top: 1.25rem;
        padding: 0;
        list-style-type: none;

        li {
            @include flex-box();
            margin-top: 0.25rem;
            padding: 1rem;
            background-color: #f1f1f1;
        }

        .auth-name {
            @include flex(1 1 auto);
        }

        .auth-date {
            @include flex(0 0 auto);
            margin-top: 0.2rem;
            font-size: 0.875rem;
            text-align: right;
        }
    }
}