button {
    &.close {
	margin-right: -1rem;
	width: 3.4rem;
	padding: 0.7rem;
    font-weight: normal;
    }
}

.btn {
	font-size: $btn-font-size;
    font-weight: bold;
    
    .glyphicon {
		top: 1px;
		font-size: 1.2rem;

		+ span {
			margin-left: 0.7rem;
		}
	}

	&:active { 
        box-shadow: none;
    }

    &-primary {
        background: $btn-primary-bg;
        &:hover,
        &:active,
        &:focus  { 
            background: $btn-primary-focus-bg;
        }
    }

    &-link {
        &:hover,
        &:focus {
            color: $link-color;
        }
    }

    &-link,
    &-default {
        &:focus {
            border-color: $btn-focus-border-color;
        }
    }

    &-sm {
        font-size: $btn-sm-font-size;
    }

    &-sm,
    &-xs {
        font-size: $btn-sm-font-size;

        .glyphicon {
            top: 2px;
    
            + span {
                margin-left: 0.5rem;
            }
        }
    }
}

// BACK BUTTON
.back-btn {
	font-weight: bold;
	text-decoration: underline;
	
	.glyphicon {
		margin-top: 0;
		margin-left: -0.5rem;
		margin-right: 0.5rem;
	}
}

// ICON BUTTON
.icon-btn {
	min-width: 3.4rem;
}

.radio-btn-group {
    @include clearfix();
    display: inline-block;

    .radio-btn {
        float: left;
        margin-left: -1px;
        cursor: pointer;

        label.btn {
            position: relative;
            border-radius: 0;

            .glyphicon {
                margin-bottom: 0.4rem;
                margin-right: 0.5rem;
                vertical-align: middle;
            }
        }

        &:first-child {
            label.btn {
                border-top-left-radius: 0.4rem;
                border-bottom-left-radius: 0.4rem;
            }
        }
        &:last-child {
            label.btn {
                border-top-right-radius: 0.4rem;
                border-bottom-right-radius: 0.4rem;
            }
        }

        input[type="radio"] {
            display: none;

            &:checked {
                + label {
                    color: $radio-btn-active-color;
                    border-color: $radio-btn-active-bg;
                    background: $radio-btn-active-bg;
                    z-index: 2;
                }
            }
        }
    }

    + .radio-btn-group {
        margin-left: 1rem;
    }
}

// BUTTON BAR
.button-bar {
    padding-bottom: 1.5rem;

    &.bottom {
        padding-top: 1.5rem;
        padding-bottom: 0;
    }
}