
.btn {
    border-radius: 0.25rem;
    background: transparent;
    color: #003366;
    font-weight: 400;
    transition: all linear 0.2s;

    &.inverted {
        color: #FFF;
        border: 2px solid #FFF;

        &:active,
        &:focus,
        &:hover {
            border-color: $gold;
            background: $gold;
            color: #003366;
        }
    }

    i {
        vertical-align: middle;

        + span {
            vertical-align: middle;
        }

    }

    &.btn-default {
        border: 2px solid #1a5a96;
        color: #1a5a96;
    }

    &.btn-sm {
        font-weight: 700;

        i {
            margin-top: -0.1rem;
            margin-right: 0.1rem;
        }
    }
}

// Main Button
main {
    .btn-default {
        padding: 0.4rem;
    }
}


// Slide Buttons
.slide-r-btn,
.slide-l-btn {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 0.2rem;
    transition: all ease-out 0.2s;

    i, span {
        transition: all ease-out 0.2s; 
    }

    i {
        opacity: 0;
    }

    span {
        display: inline-block;
        //font-size: 0.875rem;
    }

    &:hover,
    &:focus {
        text-decoration: none;

        i, span {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.slide-r-btn {
    i {
        margin-left: 0.5rem;
        transform: translateX(20px);
    }

    span {
        margin-left: 0.5rem;
        transform: translateX(12px);
    }
}

.slide-l-btn {
    i {
        margin-right: 0.5rem;
        transform: translateX(-20px);
    }

    span {
        margin-right: 0.5rem;
        transform: translateX(-12px);
    }
}

@media (max-device-width: 1024px) {
    .slide-r-btn,
    .slide-l-btn {
        i, span {
            transform: translateX(0);
        }

        i {
            opacity: 1;
        }
    }
}

// Content Buttons
.content-btns {
    margin-top: 3rem;
}

.content-btn {
    padding: 0.25rem 0.75rem;
    border: 2px solid #1a5a96;
    background: transparent;
    color: #1a5a96;
    font-size: 0.9375rem;
    font-weight: 600;

    &:focus,
    &:hover {
        border-color: $gold;
        background: $gold;
    }
}