
.feature-block {
    margin-bottom: 1rem;
    padding: 1.75rem 1rem;
    background-color: #244278;
    color: #FFF;
    text-align: center;

    h3 {
        margin-top: 0;
        margin-bottom: 1rem;
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 300;
    }

    p {
        margin-bottom: 1.5rem;
        font-size: 0.875rem;
        line-height: 1.4rem;
    }
}

@media (min-width: 760px)
    and (orientation: portrait) {

    .fb-container {
        .row {
            margin-right: -0.5rem;
            margin-left: -0.5rem;
        }

        .col-md-4 {
            padding-right: 0.5rem;
            padding-left: 0.5rem;
        }
    }

    .feature-block {
        padding: 2rem 1rem;
    }
}

@media (min-width: 900px) {
    .feature-block {
        padding-top: 2rem;
        padding-bottom: 2rem;

        h3 {
            margin-bottom: 1.75rem;
            font-size: 1.75rem;
        }

        p {
            margin-bottom: 2rem;
        }
    }
}