form {
	section {
		margin-bottom: 2rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid #DDD;
	}
	
	.help-block {
		margin-top: 0.5rem;
		margin-bottom: 0;
		font-size: 1.2rem;
	}
}

fieldset {
	margin-bottom: 1rem;
	&:last-child { margin-bottom: 0; }
}

legend {
	margin-bottom: 2rem;
	font-size: 1.8rem;
	font-weight: bold;
	border-bottom: none;
	text-transform: uppercase;
	
	em {
		@extend .form-validation-msg;
	}

	&.no-margin {
		margin-bottom: 0.5rem;
	}
}

textarea {
	resize: vertical;
}

.form-container {
	padding: 0 2rem;
}

.form-group {
	margin-bottom: 2rem;

	&.no-margin {
		margin-bottom: 0;
	}
}

.form-inline {
	.form-group {
		&.control-label {
			padding-right: 10px;
			display: inline-block;
		}
	}
}

.form-control[readonly] {
	box-shadow: none;

	&:active,
	&:focus {
		border-color: #ccc;
		box-shadow: none;
		outline: none;
	}
}

.form-control-static {
	padding: 6px 12px;
	background: #EEE;
	border: 1px solid #DDD;
	border-radius: 4px;
}

.form-validation-msg {
	margin-left: 0.25rem;
	font-size: 1.2rem;
	font-weight: normal;
	color: #999;
}

.control-label {
	em {
		@extend .form-validation-msg;
	}

	em.required {
		display: none;
	}
}

.checkbox-row {
	margin-top: 0.6rem;

	label {
		font-weight: normal;
	}
}

.checkbox,
.checkbox-inline {
	margin-right: 2rem;
	
	input {
		margin-top: 2px;
	}
}

// Date Picker 
$date-time-picker-bg: #fff;
$date-time-picker-header-bg: #eee;
$date-time-picker-btn-hover-bg: #ddd;

.uib-datepicker {
  background: $date-time-picker-bg;
  
  .uib-daypicker {
    &:focus {
      outline: none;
    }
  }

	table {
		.btn {
			width: 100%;
			height: 100%;
      font-weight: normal;
      border: none;

      &:focus {
        border: none;
      }
    }
	}

	thead {
		tr:first-child {
			background-color: $date-time-picker-header-bg;

			.btn-sm {
				font-size: 1.4rem;
			}
		}

		.btn {
			border-color: transparent;
			background-color: transparent;
			box-shadow: none;

			&:hover {
				background-color: $date-time-picker-btn-hover-bg;
			}
		}
  }

  tr:first-child {
    th {
      padding: 0.5rem;
    }
  }
  
  tr:nth-child(2) {
    th {
      padding: 0.2rem;
      padding-top: 0.75rem;
    }
  }

  td {
    padding: 0.2rem;
  }
}

.datepicker {
	&__input {
    position: relative;
    max-width: 18rem;
    cursor: pointer;

    input {
      padding-right: 3.4rem;
    }

    .calendar-btn {
      .glyphicon {
        top: 0.25rem;
        font-size: 1.8rem;
      }
    }

    span.calendar-btn {
      position: absolute;
      top: 0.3rem;
      right: 0;
      width: 3.4rem;
      text-align: center;
      pointer-events: none;
    }

		button.calendar-btn {
      position: absolute;
      top: 0;
      padding: 0;
      padding-right: 0.75rem;
      width: 100%;
      height: 3.4rem;
      background: transparent;
      text-align: right;
    }

		&:disabled {
			background: $form-control-bg;
		}
  }

	&__modal {
		.modal-dialog {
			width: 40rem;
		}

		.uib-datepicker {
      border-radius: 0.5rem;
			padding: 0.4rem;

			table {
				width: 100%;
				height: 26rem;
			}
		}
	}

	.dropdown-menu {
		padding: 0;

		li {
			padding: 0.5rem;
			
			&:last-child {
				overflow: hidden;
        padding: 0.2rem 0.7rem 0.7rem 0.7rem !important;

        .btn {
            border-color: #CCC;
            background: #FFF;
            color: #494949;

            &:hover,
            &:focus {
                background: #EEE;
            }
        }
			}
    }
	}
}

// Time Picker
.uib-timepicker {
  .btn {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    border: none;
    color: #000;

    &:hover {
      background: $date-time-picker-btn-hover-bg;
    }
  }

  td {
		padding: 0.2rem;
	}
}

.timepicker {
  &__input {
    padding: 0.2rem;
    border-radius: 0.5rem;
    background: $date-time-picker-bg;

    table {
      margin: 0 auto;
    }
  }
}

// Date Range Control
.date-range-control {
	.spacer {
		padding: 0 1rem;
		line-height: 3.4rem;
	}
}

.input-group.date-range {
	width: 16rem;
}

.radio-group {
	padding-top: 0.7rem;
	
	input[type="radio"] {
		margin-top: -0.2rem;
		margin-right: 0.2rem;
		vertical-align: middle;
	}

	&.inline {
		.control-label {
			+ .control-label {
				margin-left: 2rem;
			}
		}
	}
}

.has-error {
	.control-label {
		em.required {
			display: inline;
			color: $danger-text;
		}
	}
}
