
// Banner
.hero-banner {
    background-image: url("/modules/core/client/images/sample-bg-img-duotone-2.jpg");
    background-repeat: no-repeat;

    //&.banner-sample-1 {
        //background-image: url("/modules/core/client/images/sample-bg-img-duotone-3.jpg");
        //background-size: 100%;
    //}
}


.hero-banner {
    position: relative;
    height: 23rem;
    background-color: rgba($header-bg, 0.85);
    background-size: 280%;
    background-position: -8rem 0;

    .container {
        display: table;
        padding: 0;
        height: 100%;
    }

    .container-inner {
        display: table-cell;
        vertical-align: middle;
    }
}

.hb-btns {
    .btn {
        padding: 0.5rem 0.7rem;
        min-width: 7rem;
        text-transform: uppercase;
        font-size: 0.85rem;
        font-weight: 700;
    }
}

@media (min-width: 400px) {
    .hero-banner {
        background-size: 230%;
        background-position: -150px center;
    }
}

@media (min-width: 760px) {
    .hero-banner {
        height: 30rem;
        background-position: center -1rem;
        background-size: 160%;

        .container {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

@media (min-height: 900px) and (min-width: 1200px) {
    .hero-banner {
        height: 40rem;
        background-size: 120%;
    }
}

@media (min-width: 1020px) {
    .hero-banner {
        background-position: center -1rem;
        background-size: 130%;
    }
}

@media (min-width: 1200px) {
    .hero-banner {
        background-position: center -2rem;
        background-repeat: no-repeat;
        background-size: 120%;

        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (min-width: 1360px) {
    .hero-banner {
        .container {
            max-width: 1100px;
        }
    }
}


// Banner Text
.hb-txt {
    padding: 0 1.5rem; 
    color: #FFF;

    h1 {
        margin-top: -0.25rem;
        margin-bottom: 1.5rem;
        font-size: 2rem;
        line-height: 2rem;

        span {
            display: inline-block;
        }
    }

    p {
        margin-bottom: 1.5rem;
        font-size: 0.9375rem;
        font-weight: 300;
        line-height: 1.5rem;
    }

    strong {
        color: $gold;
        font-weight: 700;
    }

    .badge {
        position: relative;
        top: 0.4rem;
        color: $gold;
        vertical-align: top;
        text-align: left;
        text-transform: uppercase;
        font-size: 0.875rem;
    }
}

@media (min-width: 460px) {
    .hb-txt {
        h1 {
            span {
                display: inline;
            }
        }
    }
}

@media (min-width: 760px) {
    .hb-txt {
        display: inline-block;
        padding: 2rem;

        h1 {
            margin-bottom: 2.15rem;
            font-size: 2.4rem;
            line-height: 2.5rem;
        }

        p {
            margin-bottom: 2.5rem;
            font-size: 1rem;
            line-height: 1.75rem;
        }
    }
}

@media (min-width: 900px) {
    .hb-txt {
        margin-top: 2rem;

        h1 {
            font-size: 2.65rem;
        }

        p {
            line-height: 2rem;
            font-size: 1.25rem;
        }
    }
}


// Banner Buttons
.hb-btns {
    strong {
        display: block;
        margin-bottom: 0.5rem;
        color: #fff;
        font-size: 1rem;
        font-weight: 600;
    }

    .btn {
        + span {
            display: inline-block;
            margin: 0.25rem;
        }
    }
}

@media (min-width: 400px) {
    .hb-btns {
        text-align: left;

        .btn {
            width: auto;

            + span {
                display: inline-block;
                margin: 0 0.5rem;
            }
        }
    }
}