hr {
	border-top: 1px solid #DDD;
}

pre {
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: 0;
	background-color: transparent;
	white-space: pre-wrap;
	word-break: keep-all;
	font-family: $font-family-sans-serif;
	font-size: $app-base-font-size;

	p {
		display: inline-block;
		margin-bottom: 0.5rem;
		line-height: inherit;

		&:last-child {
			margin-bottom: 0;
		}
	}

	ul {
		margin-bottom: 0;
	}

	li {
		margin-top: -2rem;

		&:last-child {
			margin-bottom: -2rem;
		}
	}
}

// TAG LIST
$tag-height: 3rem;

.tag-list-container {
	&.form-control {
		min-height: 3.4rem;
		height: auto;
		padding: 0 0.2rem;
	}

	+ .tag-list-container {
		margin-top: 1rem;
	}
}

.tag-list {
	margin: 0;
	padding: 0;
    list-style-type: none;

	.add-tag,
	.tag {
        float: left;
        margin: 0.2rem;
		font-size: 1.2rem;
		color: #FFF;
		vertical-align: top;
	}

	.add-tag {
		.btn {
            padding: 0;
            width: 3rem;
            height: 3rem;
			color: #FFF;
			background: #CCC;

			&:hover,
			&:focus {
				background: #999;
			}
		}
	}

	.tag {
        float: left;
        height: 3rem;
		border-radius: 4px;
        background: $success-bg;

        .tag-name {
            display: inline-block;
            padding-top: 0.55rem;
            padding-right: 1rem;
            padding-left: 1rem;
        }

		.btn {
            padding: 0;
			width: 3rem;
            height: 3rem;
			border-radius: 2px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            background: transparent;

            &:active,
            &:hover,
            &:focus
             {
                background: rgba(255,255,255,0.25rem);
                color: #FFF;
            }

		}
	}
}

// Welcome Modal
.welcome-dialog {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    z-index: 999;
    padding: 0;
    overflow-y: auto;

    &__content {
        margin: 1.5rem;
        padding: 2rem;
        border-radius: 0.5rem;
        background: #fff;
        -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
        box-shadow: 0 3px 9px rgba(0, 0, 0, .5);

        h3 {
            margin-top: 0;
            margin-bottom: 2rem;
        }
    
        p { 
            margin-top: 0;
            margin-bottom: 0;

            + p {
                margin-top: 2rem;
            }
        }
    
        .buttons {
            margin-top: 1.5rem;
        }
    }
}

@media (min-width: 768px) {
    .welcome-dialog {
        top: 3rem;
        left: 50%;
        bottom: auto;
        margin-left: -30rem;
        width: 60rem;
    }
}

.table-center table {
	margin: 0 auto;
}

a.return-link {
	text-decoration: none;
	font-size: 14px;
	color: #333333;
}

a.return-link:hover {
	text-decoration: none;
}
