.modal {

    &-upload-waiting{
        cursor: progress;
    }

    &-header {
        padding: 1.25rem 2rem;
        border: none;

        h3 {
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .close {
            margin-right: -1rem;
            font-size: 2.1rem;
        }
    }

    &-footer {
        padding: 1.5rem 2rem;
        border: none;

        .btn {
            min-width: 8rem;
        }
    }

    &-body {
        padding: 2rem;
        background: $uibModal-body-bg;
    }

    &-alert {
        .modal-content {
            border: none;
        }

        .alert {
            margin-bottom: 0;
        }

        &-backdrop {
            background: transparent;
        }
    }
}

// FULL SCREEN VARIANT
.fs-modal {
    .modal-dialog {
        position: fixed;
        top: 1rem;
        right: 1rem;
        bottom: 1rem;
        left: 1rem;
        margin: 0;
        overflow: hidden;
        width: auto;

        .modal-content {
            @include flexbox();
            @include flexdirection(column);
            height: 100%;

            .modal-header,
            .modal-footer {
                @include flex(0 0 auto);
            }

            .modal-body {
                @include flex(1 1 auto);
                position: relative;
            }
        }
    }
}
