
ul.mmti-side-list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        margin-top: 1px;
        padding: 0.65rem 1rem;
        background: #f7f8fa;
        font-size: 0.85rem;
        line-height: 1.2rem;
    }
}

ul.sa-list {
    margin: 0;
    padding: 0;

    li {
        @include flex-box();
        margin-top: 1px;
        background: #f7f8fa;
        font-size: 0.875rem;

        .sa-name {
            @include flex(1 1 auto);
            padding: 0.4rem 1rem;
        }

        .sa-status {
            @include flex(0 0 auto);
            padding: 0.4rem;
            width: 6.5rem;
            font-size: 0.85rem;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
        }

        &.active {
            .sa-name {
                background: rgba(#5091cd, 0.4);
            }

            .sa-status {
                background: #5091cd;
                color: #FFF;
            }
        }

        &.complete {
            .sa-name {
                background: rgba(#66cc66, 0.5);
            }

            .sa-status {
                background: #66cc66;
                color: #FFF;
            }
        }

        &.inactive {
            .sa-name {
                background: #CCC;
            }

            .sa-status {
                background: #AAA;
                color: #FFF;
            }
        }

        &.pending {
            .sa-name {
                background:rgba(#96c0e6, 0.5); 
            }

            .sa-status {
                background: #96c0e6;
                color: #FFF;
            }
        }

        &.na {
            .sa-name,
            .sa-status {
                color: #AAA;
            }

            .sa-name {
                background: #EEE;
            }

            .sa-status {
                background: #DDD;
            }
        }

        &.suspended {
            .sa-name {
                background: #EEE;
            }

            .sa-status {
                background: #DDD;
                color: #AAA;
            }
        }
    }
}