.table-container {
    position: relative;

    table {
        width: 100%;
        table-layout: fixed;

        thead {
            font-size: 1.2rem;
            font-weight: bold;
            background: $table-header-bg;
            z-index: 3;

            th {
                cursor: default;

                &.sortable {
                    cursor: pointer;

                    &:hover {
                        background-color: $table-header-hover-bg; 
                    }
                }
            }

            tr.filter-row {
                border-top: $table-row-border;
            }

            input, select {
                font-weight: normal;
            }
        }

        th, td {
            &:first-child {
                padding-left: 1rem;
            }

            &:last-child {
                padding-right: 1rem;
            }
        }

        th {
            padding: 1rem 0.5rem;
            background-color: $table-header-bg;
            font-size: 1.2rem;
            font-weight: bold;

            .sort-icon {
                display: none;
                margin-top: -2px;
                margin-left: 0.25rem;
                width: 0;
                height: 0;
                border-style: solid;
                vertical-align: middle;
            }

            &.st-sort-ascent {
                .sort-icon {
                    display: inline-block;
                    border-width: 0 5px 5px 5px;
                    border-color: transparent transparent #494949 transparent;
                }
            }

            &.st-sort-descent {
                .sort-icon {
                    display: inline-block;
                    border-width: 5px 5px 0 5px;
                    border-color: #494949 transparent transparent transparent;
                }
            }
        }

        tbody {
            tr {
                border-bottom: $table-row-border;
            }

            td {
                padding: 1.5rem 0.5rem;
                vertical-align: top;

                &.table-row-actions {
                    padding-top: 0;
                    padding-bottom: 0;
                }
            }
        }
    }

    table.table-hover {
        tbody {
            cursor: pointer;

            tr {
                &:hover {
                    background-color: $table-row-hover-bg;
                }

                &.no-records:hover {
                    cursor: default;
                    background-color: $table-bg;   
                }

                &.active {
                    border-bottom: 1px solid $table-row-active-border;

                    td {
                        background: $table-row-active-bg;
                        border-bottom: 1px solid $table-row-active-border;
                        color: $table-row-active-color;

                        &.col.checkbox-col {
                            border-right: $table-row-active-border;

                            input[type='checkbox'] {
                                &:hover,
                                &:focus {
                                    + label {
                                        background: $table-row-active-hover-bg;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .no-records {
        padding: 1.5rem;
        border-bottom: $table-row-border;
        background-color: $table-bg;

        td {
            border: none;
        }
    }
}

.table-row-actions {
    width: 5rem;
    text-align: right;

    .btn-group {
        margin-top: 0.8rem;
    }

    .btn {
        padding: 0;
        width: 3.4rem;
        height: 3.4rem;
        text-align: center;
        color: inherit;
    }
}

@media (min-width: 1200px) {
    .table-container {
        tbody {
            tr {
                .table-row-actions {
                    .btn-group {
                        display: none;
                    }
                }

                &:hover {
                    .table-row-actions {
                        .btn-group {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

.pagination-container {
    padding: 1rem;
    overflow: hidden;
    border-top: none;
    background: $pgn-container-bg;
    font-size: 1.2rem;
    font-weight: bold;

    .pgn-btns {
        button {
            padding: 0.5rem;
            min-width: 3.4rem;
            min-height: 3.4rem;
            border: $pgn-btn-border;
            color: $pgn-btn-color;
            text-align: center;

            &:hover,
            &:focus {
                border-color: $pgn-btn-active-bg;
                background-color: rgba($pgn-btn-active-bg, 0.8);
                color: $pgn-btn-active-color;
            }

            &.active {
                border-color: $pgn-btn-active-bg;
                background-color: $pgn-btn-active-bg;
                color: $pgn-btn-active-color;

                &:hover,
                &:focus {
                    border-color: $pgn-btn-active-bg;
                    background-color: rgba($pgn-btn-active-bg, 0.8);
                    color: $pgn-btn-active-color;
                }
            }
        }
    }
}

td.pagination-container {
    display: block;
    width: 100%;
}

.pg-step-btns,
.pg-display-count-btns {
    text-align: center;
}

.pg-display-count-btns {
    margin-top: 1rem;
}

@media (min-width: 640px) {
    td.pagination-container {
        display: table-cell;
        width: auto;
    }

    .pg-step-btns {
        float: left;
        text-align: left;
    }

    .pg-display-count-btns {
        float: right;
        margin: 0;
    }
}

// FIXED HEADER TABLE
.table-scroll {
	table-layout: fixed;

	tr {
		display: table;
		table-layout: fixed;
	}

	thead {
		tr {
			width: 100%;
		}
	}

	tbody {
		width: 100%;
		display: block;
		overflow-y: scroll;
		overflow-x: hidden;

		tr {
			width: calc(100% + 17px)
		}
	}
}