// TAB NAVIGATION
.nav-tabs {
	border-bottom: 4px solid $nav-tab-inactive-border-color;
	
	> li {
		margin-bottom: -4px;

		> a {
			position: relative;
			margin: 0;
			padding: 0.7rem 1.5rem;
			font-size: 1.6rem;
			font-weight: bold;
			color: $nav-tab-inactive-color;
			border: none;
			border-bottom: 4px solid $nav-tab-inactive-border-color;

			&:hover {
				background: transparent;
			}

			.glyphicon {
				position: absolute;
				top: 0.9rem;
				left: 1rem;
				display: none;
				font-size: 1.6rem;
			}
		}

		&.has-error {
			> a {
				padding-left: 3.5rem;
			}

			.glyphicon {
				display: inline-block;
			}
		}

		&.active {
			> a {
				color: $nav-tab-active-color;
				background: transparent;
				border: none;
				border-bottom: 4px solid $nav-tab-active-border-color;
			}

			> a:hover,
			> a:focus {
				color: $nav-tab-active-color;
				background: transparent;
				border: none;
				border-bottom: 4px solid $nav-tab-active-border-color;
			}

			&.has-error {
				> a {
					color: $danger-text;
					border-bottom-color: $danger-border;
					opacity: 1;
				}

				> a:hover,
				> a:focus {
					color: $danger-text;
					border-bottom-color: $danger-border;
				}
			}
		}
	}
}

.tab-pane {
	padding-top: 2.5rem;
}


// TOGGLE TABS
.toggle-tabs {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        position: relative;
        float: left;
        margin-left: -1px;
        z-index: 1;

        &:hover {
            z-index: 2;
        }

        .btn {
            border-radius: 0;
        }

        &:first-child {
            .btn {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }

        &:last-child {
            .btn {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }

        &.active {
            z-index: 2;

            .btn {
                background: $toggle-tab-active-bg;
                border-color: $toggle-tab-active-border;
                color: $toggle-tab-active-color;
            }
        }
    }
}