<div class="modal-header">
	<button class="btn btn-default close" type="button" ng-click="userEditControl.cancel()"><span aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">{{userEditControl.title}}</h3>
</div>

<form name="userForm" novalidate>
	<div class="modal-body">
		<x-user-entry
			x-readonly="readonly"
			x-user="user"
			x-groups-and-roles="groupsAndRoles"
			x-org="org"
			x-mode="mode"
			x-enable-notes="enableNotes"
			x-enable-signature="enableSignature"
			x-enable-delete="enableDelete"
			x-enable-save="enableSave"
			x-enable-edit="enableEdit"
			x-enable-set-organization="enableSetOrganization"
			x-show-display-name="showDisplayName"
			x-show-username="showUsername"
			x-sref-return="srefReturn"
			x-control="userEntryControl">
	</div>
</form>

<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="userEditControl.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="userEntryControl.saveUser(userForm.$valid)" ng-show="enableSave">Save</button>
</div>