<div class="modal-header">
	<button type="button" class="btn btn-default close" ng-click="s.cancel()">
    	<span aria-hidden="true">&times;</span>
  	</button>
	<h3 class="modal-title">{{s.title || 'Select Contacts'}}</h3>
</div>

<div class="modal-body">

	<div class="inline-search-panel">
		<div class="inline-search-fields">
			<div class="form-group">
				<label class="control-label">Name</label>
				<input class="form-control" type="text" ng-model="s.name" ng-keypress="s.keyPressEvent($event)"></input>
			</div>
			<div class="form-group">
				<label class="control-label">Email</label>
				<input class="form-control" type="text" ng-model="s.email" ng-keypress="s.keyPressEvent($event)"></input>
			</div>
			<div class="form-group col-md-3">
				<label class="control-label">Organization</label>
				<input class="form-control" type="text" ng-model="s.org" ng-keypress="s.keyPressEvent($event)"></input>
			</div>
			<div class="form-group">
				<label class="control-label">Project Group</label>
				<select class="form-control" name="groupId" ng-model="s.groupId">
					<option ng-repeat="option in s.groups" ng-value="option.id">{{option.title}}</option>
				</select>
			</div>
		</div>
		<button class="btn btn-primary btn-sm" ng-click="s.search()">FIND</button>
	</div>

	<!-- Show this DIV if we are waiting on results -->
	<div class="loading" ng-show="s.searching"></div>

	<div class="table-container">
		<table class="user-search-table table table-hover table-scroll" ng-class="{'no-records': !$data || $data.length === 0}" ng-table="tableParams" show-filter="false">
			
			<!-- MULTI-SELECT TABLE FUNCTIONALITY -->
			<!-- Toggle Functionality should be accessible via the entire ROW, in exception of the 'Select All' header column -->
			<!-- Class on the TR element for a SELECTED item should include the 'active' selector (see ng-class on TR element) -->

			<tr ng-class="{'active': isChecked(o)}"
				ng-repeat="o in $data"
				ng-click="toggleItem(o)">
				<td class="col checkbox-col"
					header-class="'col checkbox-col'"
					header="'ng-table/headers/checkbox.html'">
					<div>
						<input id="{{o._id}}" type="checkbox" ng-model="checkboxes.items[o._id]" />
						<label for="{{o._id}}">
							<span class="glyphicon glyphicon-ok"></span>
						</label>
					</div>
				</td>
				<td class="col first-name-col" 
					header-class="'first-name-col'" 
					data-title="'Last Name'"
					filter="{'lastName':'text'}"
					sortable="'lastName'">{{o.lastName}}
				</td>
				<td class="col last-name-col"
					header-class="'last-name-col'"
					data-title="'First Name'"
					filter="{'firstName':'text'}"
					sortable="'firstName'">{{o.firstName}}
				</td>
				<td class="col email-col"
					header-class="'name-col'" 
					data-title="'Email'" 
					filter="{'email':'text'}" 
					sortable="'email'">{{o.email}}
				</td>
				<td class="col org-col" 
					header-class="'org-col'" 
					data-title="'Organization'" 
					filter="{'orgName':'text'}" 
					sortable="'orgName'">{{o.org ? o.org.name : o.orgName}}
				</td>
			</tr>
			<tr class="no-records" ng-if="!$data || $data.length === 0">
				<td colspan="2">
					No records found.
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="s.cancel()">Cancel</button>
	<button type="button" class="btn btn-primary" ng-click="s.ok()">Add</button>
</div>

<!-- this is actually what we watch to check/uncheck all checkboxes -->
<script type="text/ng-template" id="ng-table/headers/checkbox.html">
	<div ng-if="!singleselectmode || singleselectmode != 'true'">
		<input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
		<label>
			<span class="glyphicon glyphicon-ok"></span>
			<span class="glyphicon glyphicon-minus"></span>
		</label>
	</div>
</script>
