<form class="view-form" name="mainForm" novalidate>

	<div class="view-title-container flex-row">
		<h1>Project Group &nbsp;&rsaquo;&nbsp; {{s.group.name}} <span class="placeholder-value" ng-if="!s.group.name">Untitled</span>
		</h1>
		<div class="actions">
			<button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
			<button class="btn btn-danger btn-sm" ng-if="canDelete" ng-click="delete(s.group)"><span class="glyphicon glyphicon-trash"></span><span>Delete</span>
      </button>
			<button type="button" class="btn btn-primary btn-sm" ng-click="save(mainForm.$valid)">Save</button>
		</div>
	</div>

	<div class="view-body-container">

		<div class="panel panel-default" ng-form="detailsForm">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4 form-group" x-show-errors>
						<label class="control-label">Group Name<em class="required">(Required)</em></label>
						<input class="form-control" ng-model="s.group.name" id="name" name="name" title="Name" required/>
					</div>
					<div class="col-md-4 form-group" x-show-errors>
						<label class="control-label">Group Type<em class="required">(Required)</em></label>
						<select id="type" name="type" title="Type" class="form-control input-sm" ng-model="s.group.type" ng-options="item.value as item.display for item in types" ng-required="true"></select>
					</div>
				</div>
				<div class="form-group no-margin">
					<label>Members ({{members.length}})</label>
					<div class="button-bar">
						<button class="btn btn-default btn-sm" type="button"
							x-user-search-chooser
              x-title="'Add Project Members'"
							x-project="project"
							x-destination="existingRecipients">
							<span class="glyphicon glyphicon-plus"></span><span>Add Project Members</span></button>
					</div>

					<div class="panel panel-default no-margin">
						<table class="table table-hover" ng-table="tableParams" show-filter="true">
							<tr ng-repeat="o in $data">
								<td class="name-col"
									header-class="'name-col'"
									data-title="'Name'"
									filter="{'displayName':'text'}"
									sortable="'displayName'">{{o.displayName}}
								</td>
								<td class="email-col"
									header-class="'email-col'"
									data-title="'Email'"
									filter="{'email':'text'}"
									sortable="'email'">{{o.email}}
								</td>
								<td class="org-col"
									header-class="'org-col'"
									data-title="'Organization'"
									filter="{'orgName':'text'}"
									sortable="'orgName'">{{o.orgName}}
								</td>
								<td class="actions-col action-x1" header-class="'actions-col action-x1'" data-title="''">
									<button class="btn btn-default btn-sm" type="button"
										ng-click="removeMember(o.email)">
										<span class="glyphicon glyphicon-remove"></span></button>
								</td>
							</tr>
							<tr class="no-records" ng-if="!$data || $data.length === 0">
								<td colspan="4">No Project Members found.</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="form-footer">
			<div class="pull-right">
				<button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
				<button class="btn btn-danger btn-sm" ng-if="canDelete" ng-click="delete(s.group)">
          			<span class="glyphicon glyphicon-trash"></span><span>Delete</span></button>
				<button type="button" class="btn btn-primary btn-sm" ng-click="save(mainForm.$valid)">Save</button>
			</div>
		</div>

	</div>
</form>
