
<div class="view-title-container flex-row">
	<button class="btn icon-btn mobile-nav-btn" onclick="toggleSideNav();"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
	<h1>Project Groups</h1>
</div>

<div class="view-body-container">
	<div class="button-bar">
		<button class="btn btn-default btn-sm" ng-if="project.userCan.createProjectGroup" ui-sref="p.group.create">
			<span class="glyphicon glyphicon-plus"></span><span>Add Project Group</span>
		</button>
	</div>
	<div class="table-container">
		<table class="table" ng-class="{'table-hover': o.userCan.write}" ng-table="tableParams" show-filter="true">
			<tr ng-repeat="o in $data" ui-sref="p.group.detail({groupId:o._id})">
				<td data-title="'Name'"
					filter="{'name':'text'}"
					sortable="'name'">
					<a ui-sref="p.group.detail({groupId:o._id})">{{o.name}}</a></td>
				<td data-title="'Type'"
					filter="{'type':'text'}"
					sortable="'type'">{{projectGroupTypes.display(o.type)}}</td>
				<td data-title="'Members'"
					filter="{'members':'text'}"
					sortable="'members'">{{o.members ? o.members.length : 0}}</td>
				<td class="actions-col" header-class="'actions-col x2'">
					<div class="btns">
						<a class="btn icon-btn" title="Edit Project Group"
							ng-if="o.userCan.write"
							ng-click="$event.stopPropagation()"
							ui-sref="p.group.edit({groupId:o._id})">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</div>
				</td>
			</tr>
			<tr class="no-records" ng-if="!$data || $data.length === 0">
				<td colspan="4">No Project Groups found</td>
			</tr>
		</table>
	</div>
</div>
