
.ce-list {
    .sh-col,
    .ah-col {
        &.date {
            width: 7rem;
            text-align: right;
        }
    }

    .date {
        font-size: 0.875rem;
    }

    .doc-list-container {
        margin-top: 1.5rem;
    }
}