<div class="panel panel-default">
	<div class="panel-heading">
		Public Comments Vetting: {{ taskPubComVet.task.name }} <em class="small pull-right">{{ taskPubComVet.task.status }}</em>
	</div>
	<div class="panel-sub-heading">
		<div class="btn-group btn-group-justified" ng-init="taskPubComVet.filter = 'Unvetted'">
			<a href class="btn btn-default btn-sm" ng-class="{'btn-success': taskPubComVet.filter === 'Unvetted'}"	ng-click="taskPubComVet.filter = 'Unvetted'">Unvetted</a>
			<a href class="btn btn-default btn-sm" ng-class="{'btn-success': taskPubComVet.filter === 'Published'}"	ng-click="taskPubComVet.filter = 'Published'">Published ({{ (taskPubComVet.data.comments | filter:{eaoStatus: 'Published'}:true | filter:taskPubComVet.filterKeyword).length || 0 }})</a>
			<a href class="btn btn-default btn-sm" ng-class="{'btn-success': taskPubComVet.filter === 'Rejected'}"	ng-click="taskPubComVet.filter = 'Rejected'">Rejected ({{ (taskPubComVet.data.comments | filter:{eaoStatus: 'Rejected'}:true | filter:taskPubComVet.filterKeyword).length || 0 }})</a>
			<a href class="btn btn-default btn-sm" ng-class="{'btn-success': taskPubComVet.filter === 'Spam'}"		ng-click="taskPubComVet.filter = 'Spam'">Spam ({{ (taskPubComVet.data.comments | filter:{eaoStatus: 'Spam'} :true | filter:taskPubComVet.filterKeyword).length || 0 }})</a>
			<a href class="btn btn-default btn-sm" ng-class="{'btn-success': taskPubComVet.filter === 'Deferred'}"	ng-click="taskPubComVet.filter = 'Deferred'">Deferred ({{ (taskPubComVet.data.comments | filter:{eaoStatus: 'Deferred'} :true | filter:taskPubComVet.filterKeyword).length || 0 }})</a>
		</div>
	</div>

	<table class="table table-condensed">
		<thead>
			<tr ng-show="taskPubComVet.showFilter" class="panel-sub-heading">
				<td class="text-right form-inline" colspan="2">

					<div class="form-group">
						<label class="control-label">Filter</label>
						<div class="input-group input-group-sm">
							<input ng-model="taskPubComVet.filterKeyword" type="text" class="form-control" placeholder="Filter">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="taskPubComVet.filterKeyword = undefined"><span class="glyphicon glyphicon-remove"></span></button>
							</span>
						</div>						
					</div>

				</td>
			</tr>
			<tr class="small">
				<th>Comment</th>
				<th class="text-right"><a href ng-click="taskPubComVet.showFilter = !taskPubComVet.showFilter"><span class="glyphicon glyphicon-search"></span></a></th>				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="com in filteredComments = (taskPubComVet.data.comments | filter:{eaoStatus: taskPubComVet.filter}:true | filter:taskPubComVet.filterKeyword) track by $index" ng-class="{'bg-warning':taskPubComVet.activeComment._id === com._id}">

				<td width="60%" ng-if="taskPubComVet.activeComment._id === com._id"><small>{{ com.dateAdded | amDateFormat:'MMM Do, YYYY hh:mm a'}}</small><br/><small>{{ com.author }}</small>
					<pre>{{ com.comment }}</pre>
				</td>

				<td width="40%" ng-if="taskPubComVet.activeComment._id === com._id">

					<ul class="list-unstyled document-vetting no-lower-margin">
						<li class="clearfix" ng-repeat="doc in com.documents">
							<a href="/api/commentdocument/{{ doc._id }}/fetch" target="_blank" class="small">{{ doc.name }}</a>
							<div class="btn-group btn-group-xs pull-right">
								<a href class="btn btn-default" ng-class="{'btn-success': doc.eaoStatus === 'Published'}"	ng-click="doc.eaoStatus = 'Published'">Accept</a>
								<a href class="btn btn-default" ng-class="{'btn-danger': doc.eaoStatus === 'Rejected'}"	ng-click="doc.eaoStatus = 'Rejected'">Reject</a>
								<a href class="btn btn-default" ng-class="{'btn-info': doc.eaoStatus === 'Deferred'}"	ng-click="doc.eaoStatus = 'Deferred'">Defer</a>
							</div>
						</li>
						<li class="clearfix"><small>Overall Comment</small>
							<div class="btn-group btn-group-xs pull-right">
								<a href class="btn btn-default" ng-class="{'btn-success': taskPubComVet.workingStatus === 'Published'}"		ng-click="taskPubComVet.workingStatus = 'Published'">Accept</a>
								<a href class="btn btn-default" ng-class="{'btn-danger': taskPubComVet.workingStatus === 'Rejected'}"		ng-click="taskPubComVet.rejectWarning = true">Reject</a>
								<a href class="btn btn-default" ng-class="{'btn-info': taskPubComVet.workingStatus === 'Deferred'}"			ng-click="taskPubComVet.workingStatus = 'Deferred'">Defer</a>
								<a href class="btn btn-default" ng-class="{'btn-warning': taskPubComVet.workingStatus === 'Spam'}"			ng-click="taskPubComVet.workingStatus = 'Spam'">Spam</a>
							</div>
						</li>
						<li ng-show="taskPubComVet.rejectWarning">
							<div class="alert alert-danger small" style="margin-bottom: 0;">

								<div class="form-group">
									<label class="control-label text-danger">Rejection Reason</label>
									<select ng-model="com.rejectedReason" ng-options="reason for reason in taskPubComVet.rejectReasons" class="form-control input-sm">
									</select>
								</div>

								<div class="form-group">
									<label class="control-label text-danger">
										Rejection Notes
									</label>
									<textarea class="form-control input-sm" ng-model="com.rejectedNotes" rows=4></textarea>
								</div>

								<div class='form-group'>
									<div class="pull-right" style="margin-top: -4px;">
										<a href class="btn btn-default btn-xs" ng-click="taskPubComVet.rejectWarning = false">No</a>
										<a href class="btn btn-default btn-xs" ng-click="taskPubComVet.workingStatus = 'Rejected'">Yes, Reject</a>
									</div>
									Confirm Reject?
								</div>

								<span class="help-block text-danger">When finished, click Next Comment.</span>
							</div>
						</li>
						<li class="text-right">
							<a href class="btn-link btn" ng-click='taskPubComVet.finalizeCommentStatus(com)' ng-show="taskPubComVet.workingStatus !== 'Unvetted'">Next Comment <span class="glyphicon glyphicon-chevron-right"></span></a>
						</li>


					</ul>

				</td>


				<td width="100%" colspan="2" ng-if="taskPubComVet.activeComment._id !== com._id" class="text-muted clickable" ng-click="taskPubComVet.setActiveComment(com)">
					<div ng-bind-html="com.comment | safeHtml | max15Words"></div>
				</td>

			</tr>
			<tr ng-show="filteredComments.length === 0">
				<td colspan="2">There are no {{ taskPubComVet.filter }} comments.</td>
			</tr>
		</tbody>
	</table>

	<div class="panel-footer text-right">
		{{ taskPubComVet.unvettedCount || 0 }} Comments Remaining
	</div>

</div>
