<div class="panel panel-default">
	<div class="panel-heading">
		Public Comments Vetting: {{ taskPubComVet.task.name }} <em class="small pull-right">{{ taskPubComVet.task.status }}</em>
	</div>
	<div class="panel-sub-heading">
		<div class="btn-group btn-group-justified" ng-init="taskPubComVet.filter = 'Unvetted'">
			<a href class="btn btn-default btn-sm" ng-class="{'btn-success': taskPubComVet.filter === 'Unvetted'}"		ng-click="taskPubComVet.filter = 'Unvetted'">Unvetted ({{ (taskPubComVet.data.comments | filter:{overallStatus: 'Unvetted'}:true | filter:taskPubComVet.filterKeyword).length || 0 }})</a>
			<a href class="btn btn-default btn-sm" ng-class="{'btn-success': taskPubComVet.filter === 'Published'}"		ng-click="taskPubComVet.filter = 'Published'">Published ({{ (taskPubComVet.data.comments | filter:{overallStatus: 'Published'}:true | filter:taskPubComVet.filterKeyword).length || 0 }})</a>
			<a href class="btn btn-default btn-sm" ng-class="{'btn-success': taskPubComVet.filter === 'Rejected'}"		ng-click="taskPubComVet.filter = 'Rejected'">Rejected ({{ (taskPubComVet.data.comments | filter:{overallStatus: 'Rejected'}:true | filter:taskPubComVet.filterKeyword).length || 0 }})</a>
			<a href class="btn btn-default btn-sm" ng-class="{'btn-success': taskPubComVet.filter === 'Deferred'}"		ng-click="taskPubComVet.filter = 'Deferred'">Deferred ({{ (taskPubComVet.data.comments | filter:{overallStatus: 'Deferred'} :true| filter:taskPubComVet.filterKeyword).length || 0 }})</a>
		</div>
	</div>

	<table class="table table-condensed">
		<thead>
			<tr ng-show="taskPubComVet.showFilter" class="panel-sub-heading">
				<td class="text-right form-inline" colspan="2">

					<div class="form-group">
						<label class="control-label">Filter</label>
						<div class="input-group input-group-sm">
							<input ng-model="taskPubComVet.filterKeyword" type="text" class="form-control" placeholder="Filter">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" ng-click="taskPubComVet.filterKeyword = undefined"><span class="glyphicon glyphicon-remove"></span></button>
							</span>
						</div>						
					</div>

				</td>
			</tr>
			<tr class="small">
				<th>Comment</th>
				<th class="text-right"><a href ng-click="taskPubComVet.showFilter = !taskPubComVet.showFilter"><span class="glyphicon glyphicon-search"></span></a></th>				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="com in filteredComments = (taskPubComVet.data.comments | filter:{overallStatus: taskPubComVet.filter}:true | filter:taskPubComVet.filterKeyword) track by $index" ng-class="{'bg-warning':$first}">

				<td width="60%" ng-if="$first"><small>{{ com.dateAdded | amDateFormat:'MMM Do, YYYY hh:mm a'}}</small><br/><small>{{ com.author }}</small>
				<div ng-bind-html="com.comment | safeHtml"></div>
				</td>

				<td width="40%" ng-if="$first">

					<ul class="list-unstyled document-vetting no-lower-margin">
						<li class="clearfix"><small>Overall Comment</small>
							<div class="btn-group btn-group-xs pull-right">
								<a href class="btn btn-default" ng-class="{'btn-success': com.eaoStatus === 'Published'}"	ng-click="com.eaoStatus = 'Published'">Accept</a>
								<a href class="btn btn-default" ng-class="{'btn-danger': com.eaoStatus === 'Rejected'}"		ng-click="com.eaoStatus = 'Rejected'">Reject</a>
								<a href class="btn btn-default" ng-class="{'btn-info': com.eaoStatus === 'Deferred'}"		ng-click="com.eaoStatus = 'Deferred'">Defer</a>
							</div>
						</li>
						<li class="clearfix" ng-repeat="doc in com.documents">
							<a href="{{ doc.url }}" target="_new" class="small">{{ doc.name }}</a>
							<div class="btn-group btn-group-xs pull-right">
								<a href class="btn btn-default" ng-class="{'btn-success': doc.status === 'Published'}"	ng-click="doc.status = 'Published'">Accept</a>
								<a href class="btn btn-default" ng-class="{'btn-danger': doc.status === 'Rejected'}"	ng-click="doc.status = 'Rejected'">Reject</a>
								<a href class="btn btn-default" ng-class="{'btn-info': doc.status === 'Deferred'}"		ng-click="doc.status = 'Deferred'">Defer</a>
							</div>
						</li>
						<li class="text-right">
							<a href class="btn-link btn" ng-click='taskPubComVet.finalizeCommentStatus(com)' ng-disabled="com.status === 'Unvetted'">Next Comment <span class="glyphicon glyphicon-chevron-right"></span></a>
						</li>
					</ul>

				</td>


				<td width="100%" colspan="2" ng-if="!$first" class="text-muted">
					<div ng-bind-html="com.comment | safeHtml | max15Words"></div>
				</td>

			</tr>
			<tr ng-show="filteredComments.length === 0">
				<td colspan="2">There are no {{ taskPubComVet.filter }} comments.</td>
			</tr>
		</tbody>
	</table>

	<div class="panel-footer text-right">
		98 Comments Remaining
	</div>

</div>
