<div class="panel panel-default">
	<div class="panel-heading">
		Public Comments Classification: {{ taskPubComClassProp.task.name }} <em class="small pull-right">{{ taskPubComClassProp.task.status }}</em>
	</div>

	<div class="panel-sub-heading">
		<div class="btn-group btn-group-justified" ng-init="taskPubComClassProp.filter = 'Unclassified'">
			<a href class="btn btn-default btn-sm"
				ng-class="{'btn-success': taskPubComClassProp.filter === 'Unclassified'}"
				ng-click="taskPubComClassProp.filter = 'Unclassified'">
					Unclassified
			</a>
			<a href class="btn btn-default btn-sm"
				ng-class="{'btn-success': taskPubComClassProp.filter === 'Classified'}"
				ng-click="taskPubComClassProp.filter = 'Classified'">
				Classified ({{ (
					taskPubComClassProp.data.comments | 
					filter:{proponentStatus: 'Classified'}:true |
					filterClassifyComments:taskPubComClassProp.filterScopeComments:taskPubComClassProp.filterKeyword
					).length || 0 }})</a>
			
			<a href class="btn btn-default btn-sm"
				ng-class="{'btn-success': taskPubComClassProp.filter === 'Deferred'}"
				ng-click="taskPubComClassProp.filter = 'Deferred'">
				Deferred ({{ (
					taskPubComClassProp.data.comments | 
					filter:{proponentStatus: 'Deferred'}:true | 
					filterClassifyComments:taskPubComClassProp.filterScopeComments:taskPubComClassProp.filterKeyword
					).length || 0 }})</a>
		</div>
	</div>
	<table class="table table-condensed">
		<thead >
			<tr ng-show="taskPubComClassProp.showFilter" class="panel-sub-heading" ng-if="0">
				<td class="text-right form-inline">

					<div class="form-group pull-left">
						<div class="btn-group btn-group-sm">
							<button class="btn btn-default" type="button"
								ng-class="{'btn-primary': taskPubComClassProp.filterScopeComments}"
								ng-click="taskPubComClassProp.filterScopeComments = !taskPubComClassProp.filterScopeComments">
								Comments
							</button>
							
							<button class="btn btn-default" type="button"
								ng-class="{'btn-primary': taskPubComClassProp.filterScopeValueComponents}"
								ng-click="taskPubComClassProp.filterScopeValueComponents = !taskPubComClassProp.filterScopeValueComponents">
								Value Components
							</button>
							
							<button class="btn btn-default" type="button"
								ng-class="{'btn-primary': taskPubComClassProp.filterScopeTopics}"
								ng-click="taskPubComClassProp.filterScopeTopics = !taskPubComClassProp.filterScopeTopics">
								Topics
							</button>
						
						</div>
					</div>

					<div class="form-group">
						<label class="control-label">Filter</label>
						<div class="input-group input-group-sm">

							<input ng-model="taskPubComClassProp.filterKeyword" type="text" class="form-control" placeholder="Filter">

							<span class="input-group-btn">
								<button class="btn btn-default" type="button"
									ng-click="taskPubComClassProp.filterKeyword = undefined">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
							</span>
						</div>

					</div>

				</td>
			</tr>
			<tr class="small">
				<th>
					<a href class="pull-right" ng-if="0" ng-click="taskPubComClassProp.showFilter = !taskPubComClassProp.showFilter"><span class="glyphicon glyphicon-search"></span></a>
					Comment
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="com in filteredComments = (taskPubComClassProp.data.comments | filter:{proponentStatus: taskPubComClassProp.filter}:true | filterClassifyComments:taskPubComClassProp.filterScopeComments:taskPubComClassProp.filterKeyword) track by $index"
			ng-class="{'bg-warning':taskPubComClassProp.activeComment._id === com._id}">

				<td ng-if="taskPubComClassProp.activeComment._id === com._id" style="padding: 5px 0">

					<tmpl-classify-public-comment x-comment="com" x-project="taskPubComClassProp.project"></tmpl-classify-public-comment>

				</td>

				<td ng-if="taskPubComClassProp.activeComment._id !== com._id" class="text-muted clickable" ng-click="taskPubComClassProp.activeComment = com">
					<div ng-bind-html="com.comment | safeHtml | max15Words"></div>
				</td>

			</tr>

			<tr ng-show="filteredComments.length === 0">

				<td colspan="2" class="text-center" ng-show="taskPubComClassProp.filter === 'Unclassified'">
					<p ng-show="taskPubComClassProp.unclassifiedCount === 1">There is 1 unclassified comment.</p>
					<p ng-show="taskPubComClassProp.unclassifiedCount !== 1">There are {{ taskPubComClassProp.unclassifiedCount }} unclassified comments.</p>					
					<a href class="btn-default btn" ng-click='taskPubComClassProp.fetchNewComment()' ng-show="taskPubComClassProp.unclassifiedCount > 0">Get New Comment</a>
				</td>
				
				<td colspan="2" class="text-center" ng-show="taskPubComClassProp.filter !== 'Unclassified'">
					<p>There are no {{ taskPubComClassProp.filter }} comments.</p>
				</td>


			</tr>
		</tbody>

	</table>

	<div class="panel-footer text-right">
		{{ taskPubComClassProp.unclassifiedCount || 0 }} Comment{{ (taskPubComClassProp.unclassifiedCount === 1) ? '' : 's' }} Remaining
	</div>

</div>


