<div class="modal-header">
	<h3 class="modal-title">Manage Permissions for {{ targetObject.name }}</h3>
</div>
<div class="modal-body">
	
	<table class="table table-condensed table-striped table-hover">
		<thead>
			<tr>
				<th width="40%">System Role</th>
				<th width="20%" ng-repeat="key in permMatrix.keys"  class="text-center">{{ key | titleCase}}</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="role in permMatrix.roles">
				<td width="40%">{{ role.name }}</td>
				<td width="20%"
					ng-repeat="key in permMatrix.keys"
					class="text-center"
					ng-click="permMatrix.togglePermission(role.code, key)"
					ng-class="{'success': (permMatrix.permissions|accessHasRole:role.code:key)}">

					<span ng-show="permMatrix.permissions|accessHasRole:role.code:key"
						 class="text-success glyphicon glyphicon-ok"></span>

					<span ng-hide="permMatrix.permissions|accessHasRole:role.code:key"
						 class="text-danger glyphicon glyphicon-remove"></span>

				</td>
			</tr>
		</tbody>
	</table>	

</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="permMatrix.ok()">Save</button>
	<button class="btn btn-warning" type="button" ng-click="permMatrix.cancel()">Cancel</button>
</div>
