<div class="modal-header">
	<h3 class="modal-title">Users By Roles</h3>
</div>
<div class="modal-body">

	<div class="row">
		<div class="col-sm-6 col-md-4" ng-repeat="role in usersByRoles.roles | orderBy">
			<div class="thumbnail">
				<div class="caption">
					<label class="control-label">{{ role }}</label>
					<ul class="list-unstyled">
						<li x-modal-user-contact-info x-user="user" class="clickable">person</li>
					</ul>
					<label class="control-label text-right"><a x-modal-select-users href>Add / Edit</a></label>					
				</div>
			</div>
		</div>
	</div>
	<div class="alert alert-warning fadeIn" ng-show="usersByRoles.error" >{{ usersByRoles.error }}</div>
	<div class="row">
		<div class="col-sm-12 text-right form-inline">

			<button class="btn btn-default"
				ng-show="!usersByRoles.addRoleMode"
				ng-click="usersByRoles.addRoleMode = true">Add Role</button>

			<div class="form-group" ng-show="usersByRoles.addRoleMode">

				<select class="form-control" ng-model="usersByRoles.newOrg" ng-options="item as item for item in usersByRoles.userOrgs">
                    </select>

				<input class="form-control"					
					type="text"
					ng-model="usersByRoles.newRole"
					placeholder="Role Name">

				<button class="btn btn-default" ng-click="usersByRoles.saveNewRole()">Save</button>
				<button class="btn btn-default" ng-click="usersByRoles.cancelRole()">Cancel</button>				
			</div>

		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="usersByRoles.ok()">Close</button>
</div>