
<div class="modal-body">
    <section>
        <h2>Thank you for your comment!</h2>
        <p><strong>What happens next?</strong></p>
        <p>EAO publishes all comments received within seven days of receipt, except comments that EAO deems to be inappropriate for publication.</p>
        <p class="m-b-0">Comments may be considered inappropriate for publication if - in EAO’s view - they are profane, abusive or do not relate to the matter being consulted upon as stated in our <a href="http://www.eao.gov.bc.ca/pdf/EAO_Policy_Public_Comment.pdf" target="_blank">Public Comment Policy [PDF]</a>.</p>
    </section>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ctrl.ok()">OK</button>
</div>