
<div class="main-panel">
    
    <div class="view-title-container flex-row">
        <h1>Dashboard</h1>
        <div class="actions">
            <a class="btn btn-primary btn-sm" ng-show="application.userCan.createProject" ui-sref="p.edit({projectid:'new'})">
                <span class="glyphicon glyphicon-plus"></span><span>Add New Project</span>
            </a>
        </div>
    </div>

    <div class="view-body-container">

        <!-- Projects -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>My Projects</h2>
            </div>
            <div class="table-container">
                <table class="projects-table table table-hover"
                    ng-table="projectParams"
                    x-show-filter="true">
                    <tr ng-repeat="o in $data" ui-sref="p.detail({projectid: o.code})">
                        <td data-title="'Name'"
                            filter="{'name':'text'}"
                            sortable="'name'">{{o.name}}
                        </td>
                        <td ng-if="environment === 'MEM'"
                            title="'data-Permit'"
                            sortable="'memPermitID'">{{o.memPermitID}}
                        </td>
                        <td data-title="'Type'"
                            sortable="'type'">{{o.type}}
                        </td>
                        <td data-title="'Region'"
                            sortable="'region'">{{o.region | regionName}}
                        </td>
                        <td data-title="'Phase'"
                            sortable="'currentPhase.name'" >{{o.currentPhase.name}}
                        </td>
                        <td ng-if="environment === 'EAO'"
                            data-title="'Status'"
                            sortable="'status'">{{o.status}}
                        </td>
                    </tr>
                    <tr class="no-records" ng-show="!$data || !$data.length">
                        <td colspan="4">No Projects found</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- Activities -->
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h2 class="pull-left">Activities</h2>
            </div>
            <div class="table-container">
                <table class="table table-hover" ng-table="tableParams" show-filter="true">
                    <tr ng-repeat="o in $data" ui-sref="p.artifact.view({projectid: o.project.code, artifactId:o._id})">
                    <td class="project-name-col" header-class="'project-name-col'" 
                        data-title="'Project'" 
                        filter="{'project.name':'text'}" 
                        sortable="'project.name'">{{o.project.name}}
                    </td>
                    <td class="artifact-name-col" header-class="'artifact-name-col'" 
                        data-title="'Name'" 
                        filter="{'name':'text'}" 
                        sortable="'name'">{{o.name}}
                    </td>
                    <td ng-if="!published" 
                        data-title="'Stage'" 
                        filter="{'stage':'select'}" 
                        filter-data="stageArray" sortable="'stage'">{{o.stage}}<br/><span class="placeholder-value" ng-if="o.stageRole">({{o.stageRole}})</span>
                    </td>
                    <td data-title="'Last Updated'" 
                        filter-data="'dateUpdated'"
                        sortable="'dateUpdated'">{{ o.dateUpdated | amDateFormat:'MMM DD, YYYY' }}
                    </td>
                    </tr>
                    <tr class="no-records" ng-if="(!$data || $data.length === 0)">
                        <td colspan="4">No Activities found</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>
