<p class="lead">Company</p>
<div class="row">
	<div class="col-sm-8">
		<div class="form-group">
			<label for="proponent" class="control-label">Company (Doing Business As)</label>
			<input id="proponent" type="text" class="form-control input-sm" ng-model="uco.company">
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<label for="website" class="control-label">Website</label>
			<input id="website" type="text" class="form-control input-sm" ng-model="uco.website">
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<div class="form-group">
			<label for="companylegal" class="control-label">Company Legal Name</label>
			<input id="companylegal" type="text" class="form-control input-sm" ng-model="uco.companyLegal">
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<label for="website" class="control-label">Registered In</label>
			<select class="form-control input-sm" ng-model="uco.registeredIn" ng-options="key as value for (key, value) in uco.provs"></select>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-8">
		<div class="form-group">
			<label for="proponent" class="control-label">Parent Company (if applicable)</label>
			<input id="proponent" type="text" class="form-control input-sm" ng-model="uco.parentCompany">
		</div>
	</div>
	<div class="col-sm-4">
		<div class="form-group">
			<label for="companytype" class="control-label">Type</label>
			<select id="companytype" ng-model='uco.type' class="form-control input-sm">
				<option value="public">Publically Traded</option>
				<option value="private">Privately Owned</option>
			</select>
		</div>
	</div>
</div>

<div class="well well-sm">
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="address1" class="control-label">Address (Line 1)</label>
				<input id="address1" type="text" class="form-control input-sm" ng-model="uco.address1">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="address2" class="control-label">Address (Line 2)</label>
				<input id="address2" type="text" class="form-control input-sm" ng-model="uco.address2">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label for="city" class="control-label">City</label>
				<input id="city" type="text" class="form-control input-sm" ng-model="uco.city">
			</div>
		</div>

		<div class="col-sm-4">
			<div class="form-group">
				<label for="province" class="control-label">Province</label>
				<select class="form-control input-sm" ng-model="uco.province" ng-options="key as value for (key, value) in uco.project.provs"></select>
			</div>
		</div>

		<div class="col-sm-4">
			<div class="form-group">
				<label for="postal" class="control-label">Postal</label>
				<input id="postal" type="text" class="form-control input-sm" ng-model="uco.postal">
			</div>
		</div>
	</div>
</div>







