<div class="map-container" id='legend'>
    
    <div class="map-header-container">
        <div class="map-header clearfix">
            <div class="brand-container float-left">
                <a class="brand" href="#" ng-click="toggleMapActive()"></a>
            </div>
            <button class="btn close-btn float-right" ng-click="toggleMapActive()"><i class="material-icons">close</i></button>
        </div>
        <div class="action-bar">
            Mines Found: {{ projects.length }}
        </div>
    </div>

    <ui-gmap-google-map id='projects-map'
        center='map.center'
        control='control'
        zoom='map.zoom'
        refresh='1',
        options='map.options'>
        <ui-gmap-window
            show="map.window.show"
            coords="map.window.model"
            options="map.window.options"
            closeClick="map.window.closeClick()"
            templateUrl="'modules/projects/client/views/projects-partials/projects-map-window.html'"
            templateParameter="map.window.model"
            ng-cloak>
        </ui-gmap-window>

        <ui-gmap-markers
            models="projects"
            idKey="'_id'"
            coords="'self'"
            clusterOptions="map.clusterOptions"
            events="map.markersEvents">
        </ui-gmap-marker>

        <ui-gmap-layer  ng-repeat="layer in KMLLayers"
            type="KmlLayer"
            options="layer"
            show="layer.show">
        </ui-gmap-layer>

    </ui-gmap-google-map>

</div>