
<div class="hero-banner">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1>Connect with Us</h1>
                <p class="mb-2">BC Mine Information is continuously evolving. More information and features will be added to the site on an ongoing basis and we welcome feedback to help us decide what would be most valuable.</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="anchor-point">
    <div class="row">
        <main class="col-lg-8">
            <h2>Help Us Build a Better Service</h2>
            <p>Thank you for visiting the new BC Mine Information website. More information and features will be added to this site on an ongoing basis, and the design will be continuously refined to improve user experience. Suggestions on how to make this website better can be submitted via the form below.</p>
            <form>
                <div class="form-group">
                    <label>Your Name</label>
                    <input class="form-control" placeholder="Enter your Name" type="text" />
                </div>
                <div class="form-group">
                    <label>Email Address</label>
                    <input class="form-control" placeholder="Enter your Email Address" type="text" />
                </div>
                <div class="form-group">
                    <label>Your Feedback</label>
                    <textarea class="form-control" placeholder="Enter your message" rows="6"></textarea>
                </div>
                <div class="form-group" style="display: none;">
                    <label>Leave this field blank</label>
                    <input type="text" name="subject">
                </div>
                <div class="form-btns">
                    <button class="btn slide-r-btn submit-btn"><span>Submit Feedback</span><i class="material-icons">send</i></button>
                </div>
            </form>
        </main>
        <aside class="col-lg-4">
            <section>
                <h4>External Links &amp; Resources</h4>
                <ul class="mmti-list">
                    <li>
                        <a href="#">Ministy of Energy &amp; Mines</a>
                    </li>
                    <li>
                        <a href="#">Mineral Exploration &amp; Mining</a>
                    </li>
                    <li>
                        <a href="#">Ministry of Environment</a>
                    </li>
                    <li>
                        <a href="#">Environmental Assessment Office</a>
                    </li>
                </ul>
            </section>
        </aside>
    </div>
</div>