<div class="hero-banner">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1>Connect With Us</h1>
                <p class="mb-2">BC Mine Information is continuously evolving. More information and features will be added to the site on
                    an ongoing basis and we welcome feedback to help us decide what would be most valuable.</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="anchor-point">
    <div class="row">
        <main class="col-lg-8">
            <h2>Help Us Build a Better Service</h2>
            <p>Thank you for visiting the new BC Mine Information website. More information and features will be added to this
                site on an ongoing basis, and the design will be continuously refined to improve user experience. Suggestions
                on how to make this website better can be submitted via the form below.</p>
            <form name="commentForm" >
                <div class="form-group" x-show-errors>
                    <label>Your Name</label>
                    <input class="form-control" placeholder="Enter your Name" type="text" name="name" ng-model="comment.name" required/>
                </div>
                <div class="form-group" x-show-errors>
                    <label>Email Address</label>
                    <input class="form-control" placeholder="Enter your Email Address" type="email" name="email" ng-model="comment.email" required/>
                </div>
                <div class="form-group" x-show-errors>
                    <label>Your Feedback</label>
                    <textarea class="form-control" placeholder="Enter your message" rows="6" name="comment" ng-model="comment.comment" required></textarea>
                </div>
                <div class="form-group" style="display: none;">
                    <label>Leave this field blank</label>
                    <input type="text" name="subject">
                </div>
                <div ng-if="!busy" class="form-btns">
                    <button class="btn slide-r-btn submit-btn" ng-click="save(commentForm.$valid)" >
                        <span>Submit Feedback</span> <i class="material-icons">send</i>
                    </button>
                </div>
                <div ng-if="busy">
                    <button ng-disabled="busy" class="btn submit-btn"><span>Submitting...</span> <i class="material-icons">send</i></button>
                </div>
            </form>
        </main>
        <aside class="col-lg-4">
            <section>
                <h4>External Links &amp; Resources</h4>
                <ul class="mmti-list">
                    <li>
                        <a href="http://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations/ministries/energy-and-mines"
                            target="_blank">Ministy of Energy &amp; Mines</a>
                    </li>
                    <li>
                        <a href="http://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations/ministries/environment"
                            target="_blank">Ministry of Environment</a>
                    </li>
                    <li>
                        <a href="http://www.eao.gov.bc.ca/" target="_blank">Environmental Assessment Office</a>
                    </li>
                </ul>
            </section>
        </aside>
    </div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="thanksModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
               <h2>Thank you for your Feedback!</h2>
               <p>Your feedback has been sent.</p>
               <div>
                   <button class="ok-btn btn submit-btn" type="button" ng-click="userConfirmed()" data-dismiss="modal">Close</button>
               </div>
            </div>
        </div>
    </div>
</div>