

.action-summary {
    p {
        margin-bottom: 1.675rem;
        line-height: 1.675rem;
        font-size: 1.15rem;
        font-weight: bold;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.action-narrative {
    p {
        margin-bottom: 1.675rem;
        line-height: 1.675rem;
        font-style: italic;
    }
}