/* APP LEFT NAV */

.app-sidenav-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: rgba(255,255,255, 0.8);
    z-index: 3;

    &.open {
        display: block;
    }
}

.app-sidenav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 20rem;
    z-index: 3;
    background: rgba(0,0,0,0.8);
    transform: translateX(-100%);
    transition: all ease-out 0.3s;
    z-index: 4;

    &.open {
        transform: translateX(0);
    }

    .app-title-block {
        height: 4rem;
        padding: 1rem;
        font-size: 1.6rem;
        color: #FFF;
        text-align: center;
    }
}