

.authorization-blocks {
    color: #2b5580;

    .card {
        margin-bottom: 0.5rem;
        background: #F7F8FA;
    }

    .list-group-item {
        margin-bottom: 0 !important;
        padding: 0 !important;

        a {
            @include flex-box();
            @include flex(1 1 auto);
            padding: 1rem;
        }
    }

    a {
        text-decoration: none;

        .avatar {
            @include flex(0 0 auto);
            margin-top: 4px;
            width: 2.5rem;
        }

        .title {
            @include flex(1 1 auto);
        }

        .details {
            @include flex(0 0 auto);
        }

        .open-icon {
            display: none;
        }

        .collapse {
            .close-icon {
                display: block;
            }
        }

        &.collapsed {
            .open-icon {
                display: block;
            }

            .close-icon {
                display: none;
            }
        }

        &:hover {
            text-decoration: none;
        }
    }

    .title {
        .primary {
            font-size: 1.15rem;
        }

        .secondary {
            margin-top: 0.2rem;
            opacity: 0.5;
            font-weight: bold;
        }
    }

    .authorization-list {
        font-size: 0.75rem;
        font-weight: bold;

        li {
            border-bottom: 1px solid #EEE;

            &:last-child {
                border: none;
            }
        }

        a {
            @include flex-box();
            @include flex-direction(row);
            padding: 0.8rem 1rem;
            line-height: 0.875rem;
            transition: all ease-out 0.2s;

            i {
                margin-top: -2px;
                margin-right: 5px;
            }
            
            .avatar {
                @include flex(0 0 auto);
            }

            .title {
                @include flex(1 1 auto);

                &:hover {
                    text-decoration: underline;
                }
            }

            .details {
                @include flex(0 0 auto);
                font-weight: normal;
            }

            &:hover {
                background: #EEE;
            }
        }
    }
}