
.block-container {
    li {
        margin-bottom: 0.5rem;
    }
}

.block {
    @include flex-box();
    @include flex-direction(row);
    position: relative;
    background: #EEE;

    .avatar {
        @include flex(0 0 auto);
        padding-left: 1rem;

        i {
            margin-top: 1rem;
        }

        + .title {
            padding-left: 0.5rem;
        }
    }

    .title {
        @include flex(1 1 auto);
        padding: 1rem;

        .primary {
            font-weight: bold;
        }
    }

    .actions,  
    .details {
        @include flex(0 0 auto);
    }
}

@media (min-width: 1020px) {
    .block-container {
        margin: -0.5rem;

        li {
            float: left;
            margin-bottom: 0;
            padding: 0.5rem;
            width: 50%;
        }
    }
}

.block-hover {
    cursor: pointer;
    transition: all linear 0.2s;

    &:hover {
        background-color: #EEE;
    }
}

/* COMPLIANCE & ENFORCEMENT BLOCKS */
.ce-blocks {
    a {
        text-decoration: none;
        color: #2b5580;
    }

    .block {
        color: #2b5580;

        .title {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        } 
    }
}

.metric {
    flex: 0 0 auto;
    width: 3.5rem;
    padding-top: 0.45rem;
    color: #FFF;
    background: #2b5580;
    text-align: center;
    font-size: 1.675rem;
    font-weight: bold;
}


/* TOPIC BLOCKS */
.topic-blocks {
    .block {
        display: block;
        padding: 1rem;
        color: $app-color;

        &:focus,
        &:hover {
            text-decoration: none;
        }
    }

    h3 {
        display: block;
        font-size: 1.5rem;
    }

    .subtopics {
        margin-top: 0.2rem;
        display: block;
        font-size: 0.875rem;
        font-style: italic;
        opacity: 0.65;
    }

    .read-more-link {
        display: inline-block;
        margin-top: 0.75rem;
        color: #FFF;
    }
}