
.ce-grid {
    table {
        table-layout: fixed;
    }

    thead {
        font-size: 0.875rem;
        font-weight: bold;

        th {
            padding: 0.5rem 1rem;
        }
    }

    tbody {
        font-size: 0.875rem;

        td {
            padding: 1rem;

            a {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }

    .ce-date {
        font-size: 0.875rem;
    }
    
    .ce-tags {
        margin-top: 0.625rem;
    }
}

.inspections-grid,
.actions-grid {
    table-layout: fixed;

    tr {
        display: table;
        table-layout: fixed;
        border-bottom: 1px solid #EEE;
    }

    thead {
        tr {
            width: 100%;
        }

        th {
            border-bottom: none;
        }
    }

    tbody {
        width: 100%;
        display: block;

        td {
            border-top: none;
        }
    }

    .date-col {
        text-align: right;
    }

    tbody {
        tr {
            position: relative;
            width: 100%;
        }

        td.id-col {
            width: 100%;
        }

        td.date-col {
            position: absolute;
            top: 0;
            padding: 1rem;
            font-size: 0.75rem;
        }
    }

    .row-desc {
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;
        font-size: 0.75rem;
        font-style: italic;
    }

    .tag-list {
        margin-top: 0.5rem;

        .tag {
            margin-right: 0.25rem;
            font-size: 0.75rem;
        }
    }

    pre {
        overflow: hidden;
        white-space: normal;
        font-family: $app-font-family;
        font-size: 0.75rem;

        p {
            margin: 0.5rem 0;
        }
    }
}

.inspections-grid {
    .date-col {
        right: 11rem;
    }

    .followup-col {
        text-align: right;
        width: 11rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 0.75rem;
    }
}

.actions-grid {
    .date-col {
        right: 0;
    }
}