
.ce-grid {
    table {
        table-layout: fixed;
    }

    thead {
        font-size: 0.875rem;
        font-weight: bold;

        tr {
            width: 100%;
        }

        th {
            padding: 0.5rem 1rem;
            border-bottom: none;
        }
    }

    tbody {
        width: 100%;
        display: block;
        font-size: 0.875rem;

        tr {
            position: relative;
            width: 100%;
        }

        td {
            padding: 1rem;
            border-top: none;

            a {
                font-weight: bold;
            }
        }
    }

    tr {
        display: table;
        table-layout: fixed;
        border-bottom: 1px solid #EEE;
    }
    
    .ce-tags {
        margin-top: 0.625rem;
    }

     pre {
        overflow: hidden;
        white-space: normal;
        font-family: $app-font-family;
        font-size: 0.75rem;

        p {
            margin: 0.5rem 0;
            line-height: 1rem;
        }
    }

    .tag-list {
        margin-top: 0.5rem;

        .tag {
            margin-right: 0.25rem;
            font-size: 0.75rem;
        }
    }

    .ce-grid-row-desc {
        margin-top: 0.675rem;
        font-size: 0.75rem;
        font-style: italic;

        p {
            margin-bottom: 1rem;
            line-height: 1.2rem;
        }
    }
}

.inspections-grid {
    td.id-col {
        width: 100%;
    }

    td.date-col,
    td.followup-col {
        position: absolute;
        padding: 1rem;
    }
    
    .date-col {
        top: 0;
        right: 12rem;
        text-align: right;
    }

    .followup-col {
        top: 0;
        right: 0;
        width: 12rem;
        white-space: nowrap;
        overflow: hidden;
        text-align: right;
        text-overflow: ellipsis;
    }
}

.actions-grid {
    td.id-col {
        width: 100%;
    }

    td.date-col {
        position: absolute;
        top: 0;
        padding: 1rem;
        font-size: 0.75rem;
    }

    .date-col {
        right: 0;
        text-align: right;
    }
}


.conditions-grid {
    td.id-col {
        width: 100%;
    }

    th.agency-col,
    td.agency-col {
        text-align: right;
    }

    td.agency-col {
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        font-size: 0.75rem;
    }
}


.ng-table-pager {
    text-align: center;
}

.pagination {

    li {
        margin-right: 2px;
        display: inline-block;

        a {
            padding: 0.5rem 0.75rem;
            font-size: 0.875rem;
            font-weight: bold;
            background: #EEE;
        }

        &.active {
            a {
                color: #FFF;
                background: #2b5580;
            }
        }
    }
}

.ng-table-counts {
    display: none;
}