/* FLEX TABLE */

.flex-table-container {
    @include flexbox();
    flex-flow: column nowrap;

    table {
        @include flexbox();
        @include flex(1 1 auto);
        flex-flow: column nowrap;
        position: relative;

        thead {
            @include flex(0 0 auto);
            width: 100%;
            display: block;
            overflow: hidden;
            z-index: 2;

            th:last-child {
                min-width: calc(15rem + 17px);
                max-width: calc(15rem + 17px);
            }
        }

        tbody {
            @include flex(1 1 auto);
            width: 100%;
            display: block;
            overflow-y: scroll;
            overflow-x: scroll;
        }

        th, td {
            min-width: 15rem;
            max-width: 15rem;
        }

        + .pagination {
            @include flex(0 0 auto);
            display: block;
        }
    }

    + .pagination {
        display: none;
    }

    @media only screen
        and (orientation: portrait)
        and (-webkit-min-device-pixel-ratio: 1) {
        .flex-table-container {
            table {
                thead {
                    th:last-child {
                        padding-right: 2rem;
                    }
                }
            }
        }   
    }

    @media only screen 
        and (orientation: landscape)
        and (-webkit-min-device-pixel-ratio: 1) {
        .flex-table-container {
            table {
                thead {
                    th:last-child {
                        padding-right: 2rem;
                    }
                }
            }
        }   
    }
}