<div class="modal-header">
	<div class="pull-right form-inline">
		<div class="form-group">
			<input ng-model="alertsView.filterKeyword" type="text" class="form-control" placeholder="Filter">
			<a class="btn btn-default" x-modal-alert-new ng-if="alertsView.project" x-project="alertsView.project">Add</a>
		</div>
	</div>
	<h3 class="modal-title">Alerts</h3>
</div>
<div class="modal-body modal-pre-table">
	<panel-sort x-fields="alertsView.panelSort" x-data="alertsView.alerts"></panel-sort>
</div>

<table class='table table-hover table-modal'>
	<tbody>
		<tr ng-repeat="alert in filteredAlerts = (alertsView.alerts | filter: alertsView.filterKeyword)" ng-class="{'bg-danger': alert.urgency === 'Critical'}">
			<td>
				<h4>{{ alert.subject }}</h4>
				<p>{{ alert.description }}</p>
				<p class="small" ng-if="alert.link">Associated Link: <a href="{{ alert.link }}">{{ alert.link }}</a></p>
				<small>Initiated: {{ alert.dateInitiated | amDateFormat:'MMM Do, YYYY hh:mm a' }} by {{ alert.initiatedBy }}</small>
			</td>
			<td class="text-right small" width="30%">
				<h4>{{ alert.urgency }}</h4>
			</td>
		</tr>
		<tr ng-if="filteredAlerts.length === 0">
			<td>No matching alerts found.</td>
		</tr>
	</tbody>
</table>

<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="alertsView.cancel()">Close</button>
</div>
