<form class="view-form" name="inspection">

	<div class="view-title-container flex-row">
		<h1><span ng-show="project.name">Add/Edit Inspection &nbsp;&rsaquo;&nbsp; {{ir.name}} <span class="placeholder-value" ng-if="!ir.name">Untitled</span></h1>
		<div class="actions">
			<a class="btn btn-default btn-sm"
				ui-sref="p.ir.list"
				ng-click="cancel()">Cancel</a>
			<button class="btn btn-danger btn-sm"
	            ng-if="canDelete"
	            ng-click="delete()"><span class="glyphicon glyphicon-trash"></span><span>Delete</span></button>
			<button class="btn btn-primary btn-sm"
				ng-click="save()">Save</button>
			<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#publishNotify"
				ng-if="canUnpublish"
				ng-click="unpublish()"><span class="glyphicon glyphicon-minus-sign"></span><span>Unpublish</span></button>
			<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#publishNotify"
				ng-if="canPublish"
				ng-click="publish()"><span class="glyphicon glyphicon-share-alt"></span><span>Publish</span></button>
		</div>
	</div>

	<div class="view-body-container">

		<!-- INSPECTION DETAILS -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Inspection Details</h2>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6 form-group">
						<label>Name</label>
						<input class="form-control" title="Name" id="name" name="inspectionreportname" ng-model="ir.name" required/>
					</div>
					<div class="col-md-6 form-group">
						<label>Date of Inspection</label>
						<div class="form-control date-picker"
							x-modal-date-picker
							x-selected-date="ir.irDate"
							ng-model="ir.irDate">
							{{ ir.irDate | amDateFormat:'MMM Do, YYYY' }}
							<span class="glyphicon glyphicon-calendar"></span>
						</div>
					</div>
				</div>
				<div class="form-group no-margin">
					<label class="control-label">Inspection Record</label>
					<ul class="anchor-list">
						<li>
							<a ng-show="!isCreating" ui-sref="p.artifact.edit({artifactId:ir.artifact._id})"
								ng-if="ir.userCan.write">{{ir.artifact.name}}</a>
							<div ng-show="isCreating" ng-if="ir.userCan.write">{{ir.artifact.name}}</div>
						</li>
					</ul>
				</div>
			</div>
		</div><!--/INSPECTION DETAILS -->

		<div class="panel panel-default">
			<div class="panel-heading"><h2>Certificate Requirements Inspected</h2></div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12 form-group">
						<label class="control-label">Content ({{ir.conditionArtifacts.length}})</label>
						<div class="tag-list-container form-control clearfix">
							<ul class="tag-list">
								<li class="tag" ng-repeat="o in ir.conditionArtifacts">
									<span class="tag-name" ui-sref="p.artifact.view({artifactId:o._id})">{{o.name}}</span>
									<button class="btn" ng-click="removeCondition(o)"><span aria-hidden="true">×</span></button>
								</li><li class="add-tag">
									<button class="add-btn btn btn-sm"
										ng-if="project.userCan.createInspectionReport"
										ng-click="openAddTopic()" type="button" title="Add Associated Content">
										<span class="glyphicon glyphicon-plus"></span><span>Add Content</span>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group no-margin">
						<label class="control-label">Conditions ({{ir.conditions.length}})</label>
						<div class="tag-list-container form-control clearfix">
							<ul class="tag-list">
								<li class="tag" ng-repeat="o in ir.conditions">
									<span class="tag-name" ui-sref="p.artifact.view({artifactId:o._id})">{{o.name}}</span>
									<button class="btn" ng-click="removeCondition(o)"><span aria-hidden="true">×</span></button>
								</li><li class="add-tag">
									<button class="add-btn btn btn-sm"
										ng-if="project.userCan.createInspectionReport"
										ng-click="addIRCondition()" type="button" title="Add Conditions">
										<span class="glyphicon glyphicon-plus"></span><span>Add Conditions</span>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading flex-row">
				<h2>Enforcement Actions</h2>
				<div class="actions">
					<button class="btn btn-default btn-sm"
						ng-if="project.userCan.createInspectionReport"
						ng-click="openAddEnforcementAction()">
						<span class="glyphicon glyphicon-plus"></span><span>Add Enforcement Action</span>
					</button>
				</div>
			</div>
			<table ng-table="tableParams" class="enforcement-table table">
				<tr ng-repeat="o in ir.enforcementActions">
					<td class="enforcement-col"
						header-class="'enforcement-col'"
						data-title="'Action'"
						sortable="'o.action'">
						<strong class="enforcement-name">{{o.action}}</strong>

						<span class="enforcement-notes" ng-if="o.notes">{{o.notes}}</span>
					</td>
					<td data-title="'Enforcement Conditions'">
						<div class="anchor-list">
							<span ng-repeat="cell in o.condition.concat(o.conditionArtifacts)" href="#">{{cell.name}}{{$last ? '' : ', '}}</span>
						</div>
					</td>
					<td data-title="'Order'">
						<div class="anchor-list">
							<span>{{o.orderArtifact.name}}</span>
						</div>
					</td>
					<td class="status-col"
				 		header-class="'status-col'"
						data-title="'Status'"
						sortable="'status'">
						<span class="label"
							ng-class="{'label-primary': o.status == 'Open',
							 		   'label-success': o.status == 'Resolved',
									   'label-default': o.status == 'Recinded'}">{{o.status}}</span>
					</td>
					<td class="date-col"
						header-class="'date-col'"
						data-title="'Date Issued'"
						sortable="'date'">{{o.date | amDateFormat:'MMM Do, YYYY'}}</td>
					<td class="actions-col action-x2"
						header-class="'actions-col action-x2'">
						<a class="btn btn-default btn-sm" ng-click="openAddEnforcementAction(o);$event.stopPropagation()">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<a class="btn btn-default btn-sm" ng-click="deleteAction(o);$event.stopPropagation()">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
					<tr ng-show="ir.enforcementActions.length == 0">
						<td colspan="6">No Enforcement Actions found</td>
					</tr>
				</tr>
			</table>
		</div>

		<div class="form-footer clearfix">
			<div class="pull-right">
				<a class="btn btn-default btn-sm"
					ui-sref="p.ir.list"
					ng-click="cancel()">Cancel</a>
				<button class="btn btn-danger btn-sm"
					ng-if="canDelete"
					ng-click="delete()"><span class="glyphicon glyphicon-trash"></span><span>Delete</span></button>
				<button class="btn btn-primary btn-sm"
					ng-click="save()">Save</button>
			</div>
		</div>

	</div>
</form>
