<div class="inspection-report-view">

	<div class="view-title-container">
		<h1>Compliance Oversight</h1>
<!-- 		<tmpl-permissions-gear class="permission-btn" x-context="menu.project" x-object="menu.project" x-permissions=""></tmpl-permissions-gear> -->
	</div>

	<div class="view-body-container">
		<div class="button-bar clearfix">
			<a class="btn btn-default btn-sm pull-left"
				ui-sref="p.ir.create()"
				ng-if="project.userCan.createInspectionReport">
				<span class="glyphicon glyphicon-plus"></span>
				<span>Add Inspection</span>
			</a>
			<div class="pull-right">
				<show-filter x-toggle-filter="toggleFilter"></show-filter>
			</div>
		</div>

		<section class="panel panel-default">
			<table ng-table="tableParams" x-show-filter="toggleFilter" class="table table-hover table-striped">
				<tr ng-repeat="o in $data" ui-sref="p.ir.detail({irId:o._id})" class="clickable">
					<td data-title="'Name'"    sortable="'name'"    filter="{'name':'text'}"	>{{o.name}}</td>
					<td class="actions-col action-x1" header-class="'actions-col actions-x1'">
						<a class="btn btn-default btn-sm" ng-if="o.userCan.write" ng-click="$event.stopPropagation()" ui-sref="p.ir.edit({irId:o._id})">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<tmpl-permissions-gear class="permission-btn" x-context="project" x-object="o"></tmpl-permissions-gear>
					</td>
					<tr ng-show="!$data || !$data.length" class="text-center">
						<td colspan="2">No records found.</td>
					</tr>
				</tr>
			</table>
		</section>

</div>
