
<div class="view-title-container flex-row">
	<h1>Inspections &nbsp;&rsaquo;&nbsp; {{ir.name}}</h1>
	<div class="actions">
		<button class="btn btn-default btn-sm"
            ng-if="project.userCan.createInspectionReport"
			ng-click="$event.stopPropagation()"
			x-mode="'edit'"
			ui-sref="p.ir.edit({irId:ir._id})"><span class="glyphicon glyphicon-pencil"></span><span>Edit</span>
		</button>
		<tmpl-permissions-gear class="permission-btn" x-context="project" x-object="ir"></tmpl-permissions-gear>
	</div>
</div>

<div class="view-body-container">
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Inspection Details</h2>
		</div>
		<div class="panel-body detail-panel">
			<div class="row">
				<div class="detail-row col-md-6">
					<label>Name</label>
					<span class="value">{{ ::ir.name }}</span>
				</div>
				<div class="detail-row col-md-6">
					<label>Date of Inspection</label>
					<span class="value">{{ ir.irDate | amDateFormat:'MMM Do YYYY'}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 detail-row" ng-if="ir.conditionArtifacts.length > 0">
					<label>Associated Content</label>
					<ul class="anchor-list">
						<li ng-repeat="o in ir.conditionArtifacts" ui-sref="p.artifact.view({artifactId:o._id})">
							<a class="title">{{o.name}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 detail-row" ng-if="ir.condition.length > 0">
					<label>Conditions</label>
					<ul class="anchor-list">
						<li ng-repeat="o in ir.conditionArtifacts" ui-sref="p.artifact.view({artifactId:o._id})">
							<a class="title">{{o.name}}</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 detail-row">
					<label>Inspection Record</label>
					<div class="anchor-list">
						<a ui-sref="p.artifact.view({artifactId:ir.artifact._id})">{{ir.artifact.name}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>	
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Enforcment Actions</h2>
		</div>
		<div class="list-group no-border">
			<div class="list-group-item" ng-if="ir.enforcementActions == 0">No Actions available</div>

			<table class="hidden table table-hover table-striped" ng-table="tableParams" show-filter="false">
				<tr class="clickable" ui-sref="p.ir.detail({irId:o._id})">
					<td class="enforcement-col"
					 	header-class="'enforcement-col'"
						data-title="'Actions'" 
						sortable="'name'">
						<strong class="enforcement-name">Action</strong>
						<a class="condition-link" href="#">Link to Enforcment Condition</a>
					</td>
					<td class="status-col"
				 		header-class="'status-col'"
						data-title="'Status'"
						sortable="'status'">
						<span class="label label-default">Label</span>
					</td>
					<td class="date-col"
						header-class="actions-col action-x"
						sortable="'Date'">MMM DD, YYYY</td>
					<td class="actions-col action-x2" header-class="'actions-col action-x2'">
						<a class="btn btn-default btn-sm" ng-click="$event.stopPropagation()">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<a class="btn btn-default btn-sm" ng-click="$event.stopPropagation()">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
					</td>
					<tr ng-show="!$data || !$data.length">
						<td colspan="4">No records found.</td>
					</tr>
				</tr>
			</table>

			<div ng-repeat="o in ir.enforcementActions">
				<div>
					<label>Action</label>
					<div>{{o.action}}</div>
					<div>{{o.condition}}</div>
				</div>
				<div>
					<label>Status</label>
					<div>{{o.status}}</div>
				</div>
				<div>
					<label>Date</label>
					<div>{{o.date}}</div>
				</div>
			</div>
		</div>
	</div>

	<div class="form-footer no-border clearfix hidden">
		<a class="back-btn btn btn-link pull-left" ui-sref="p.ir.list"><span class="glyphicon glyphicon-chevron-left"></span>Back to Inspections</a>
	</div>

</div>