
<div class="view-title-container flex-row">
	<h1>Inspection - {{ir.name}}</h1>
	<div class="actions">
		<button class="btn btn-default btn-sm"
            ng-if="project.userCan.createInspectionReport"
			ng-click="$event.stopPropagation()"
			x-mode="'edit'"
			ui-sref="p.ir.edit({irId:ir._id})"><span class="glyphicon glyphicon-pencil"></span><span>Edit</span>
		</button>
		<tmpl-permissions-gear class="permission-btn" x-context="project" x-object="ir"></tmpl-permissions-gear>
	</div>
</div>

<div class="view-body-container">
	<div class="detail-row">
		<label>Report Name</label>
		<span class="value">{{ ::ir.name }}</span>
	</div>
	<div class="detail-row">
		<label>Date of Inspection </label>
		<span class="value">{{ ir.irDate | amDateFormat:'MMM Do YYYY'}}</span>
	</div>		
	
	<section>
		<h2>Associated Conditions</h2>
		<div class="panel panel-default">
			<div class="list-group">
				<div class="list-group-item">No Conditions available</div>
			</div>
		</div>
	</section>

	<section>
		<h2>Associated Content</h2>
		<div class="list-group">
			<div class="list-group-item" ng-if="ir.conditionArtifacts.length == 0">No Associated Content available</div>
			<a class="list-group-item" ng-repeat="o in ir.conditionArtifacts" ui-sref="p.artifact.view({artifactId:o._id})">{{o.name}}</a>
		</div>
	</section>

	<section>
		<h2>Actions</h2>
		<div ng-repeat="o in ir.enforcementActions">
			<div>
				<label>Action</label>
				<div>{{o.action}}</div>
				<div>{{o.condition}}</div>
			</div>
			<div>
				<label>Status</label>
				<div>{{o.status}}</div>
			</div>
			<div>
				<label>Date</label>
				<div>{{o.date}}</div>
			</div>
			/div>
	</section>

	<div>
		<a class="btn btn-default btn-sm" title="Go To Inspection Record"
		ng-click="$event.stopPropagation()"
		ui-sref="p.artifact.view({artifactId:ir.artifact._id})">Go To Inspection Record &nbsp;
		<span class="glyphicon glyphicon-share-alt"></span>
	</a>
	</div>

	<div class="form-footer no-border clearfix hidden">
		<a class="back-btn btn btn-link pull-left" ui-sref="p.ir.list"><span class="glyphicon glyphicon-chevron-left"></span>Back to Inspections</a>
	</div>

</div>