<h1 class="page-title">Conditions Library</h1>
<div class="row text-right">
	<div class="col-sm-12">
		<a class="btn btn-success btn-sm" ui-sref="admin.condition.create()"><i class="glyphicon glyphicon-plus"></i> Add New Condition</a>
	</div>
</div>
<div calss="row">&nbsp;</div>
<div class="row">
	<div class="col-sm-12">
		<section class="panel panel-default">
			<table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
				<tr ng-repeat="o in $data" ui-sref="admin.topic.detail({conditionId:o._id})">
					<td data-title="'Code'"    filter="{'code':'text'}"       sortable="'code'"    >{{o.code}}</td>
					<td data-title="'Subject'" filter="{'subject':'text'}"    sortable="'subject'" >{{o.subject}}</td>
					<td data-title="'Sector'"  filter="{'sector':'select'}"   sortable="'sector'"  filter-data="ptypes" >{{o.sector}}</td>
					<td data-title="'Stages'"   filter="{'stages':'text'}"  sortable="'stages'" >{{o.stageString}}</td>
					<td data-title="'Pillars'"  filter="{'pillars':'text'}" sortable="'pillars'"  >{{o.pillarString}}</td>
					<td>
						<a ng-click="$event.stopPropagation()" class="btn btn-default btn-xs" ui-sref="admin.condition.edit({conditionId:o._id})">
						<i class="glyphicon glyphicon-pencil"></i>
						</a>
					</td>
				</tr>
			</table>
		</section>
	</div>
</div>
