<h1 class="page-title">
	Add/Edit Condition
</h1>
	<div class="block-content">
		<div class="panel-body">
		<div class="row">
			<div class="col-sm-9">
				<div class="form-group">
					<label for="title" class="control-label">Condition Name</label>
					<input id="title" type="text" class="form-control input-sm" ng-model="condition.name">
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="sector" class="control-label">Project Sector</label>
					<select id="sector" ng-model='condition.sector' class="form-control input-sm" ng-options="sector.id as sector.title for sector in sectors"></select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="shortDesc" class="control-label">Condition Description</label>
					<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="condition.description" rows=6></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="shortDesc" class="control-label">Report Requirements</label>
					<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="condition.reportRequirements" rows=6></textarea>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="pillar" class="control-label">Pillar</label>
					<select ng-change="selectTopic(pillar)" id="pillar" ng-model='condition.pillar' class="form-control input-sm" ng-options="pillar.id as pillar.title for pillar in pillars"></select>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="stage" class="control-label">Project Stage</label>
					<select id="stage" ng-model='condition.stage' class="form-control input-sm" ng-options="stage.id as stage.title for stage in stages"></select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="topics" class="control-label">Topics</label>
					<select multiple id="topics" ng-model='condition.topics' class="form-control input-sm"
					ng-options="topic.code as topic.name for topic in topics">
					</select>
				</div>
			</div>

		</div>

		</div>
	</div>

<div>
	<a class="btn btn-default" ui-sref="admin.condition.list">Cancel</a>
	<a class="btn btn-primary" href ng-click="save()">Save</a>
</div>

