
<div class="view-title-container flex-row">
	<a class="btn icon-btn mobile-nav-btn" ui-sref="p.communication.list"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></a>
	<h1>Project Update &nbsp;&rsaquo;&nbsp; {{s.communication.name}}</h1>
	<div class="actions">
		<button class="btn btn-default btn-sm" ng-if="s.communication.userCan.write" ng-click="$event.stopPropagation()" x-mode="'edit'"
			ui-sref="p.communication.edit({communicationId:s.communication._id})"><span class="glyphicon glyphicon-pencil"></span><span>Edit</span>
      </button>
	</div>
</div>

<div class="view-body-container">
	<ul class="nav nav-tabs" ng-init="form.curTab = 'Update Details'">
		<li role="presentation" ng-class="{'active':form.curTab === 'Update Details'}" class="form-group">
			<a ng-click="form.curTab = 'Update Details'" title="Edit Project Update Details" name="projectUpdateDetailsForm">
				<span class="glyphicon glyphicon-exclamation-sign"></span>Update Details</a>
		</li>
		<li role="presentation" ng-class="{'active':form.curTab === 'recipients'}" class="form-group">
			<a ng-click="form.curTab = 'recipients'" title="Edit Project Recipients" name="recipientsForm">
				<span class="glyphicon glyphicon-exclamation-sign"></span>Recipients ({{recipients.length}})</a>
		</li>
	</ul>

	<div class="tab-pane active" ng-show="form.curTab === 'Update Details'" ng-form="projectUpdateDetailsForm">
		<div class="detail-row">
			<label class="control-label">Update Name</label>
			<span class="value">{{s.communication.name}}</span>
		</div>
		<div class="detail-row">
			<label>Related Content ({{documents.length}})</label>
			<div class="anchor-list">
				<span ng-if="!documents.length">No related content</span>
				<a ng-repeat="doc in documents" href="/api/document/{{ doc._id }}/fetch" target="_self">{{doc.displayName}}{{$last ? '' : ', '}}</a>
			</div>
		</div>
		<div class="detail-row">
			<label>Subject</label>
			<span class="value">{{s.communication.templateSubject}}</span>
		</div>
		<div class="detail-row">
			<label>Message</label>
			<pre class="value wrap-text" id="shortDesc" ng-bind-html="s.communication.templateContent"></pre>
		</div>
	</div>

	<div class="tab-pane" ng-show="form.curTab === 'recipients'" ng-form="recipientsForm">
		<x-recipients-mgr
			x-project="project"
			x-recipients="recipients"
			x-mode="'view'"
			x-enable-add-new="false"
			x-enable-add-existing="false"
			x-enable-cc="true"
			x-enable-bcc="true"
			x-show-mail="true">
	</div>

</div>