
<div class="hero-banner hero-banner-project">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1>{{project.name}}</h1>
                <p class="mb-2" ng-bind-html="project.overviewIntroText"></p>
            </div>
        </div>
    </div>
</div>

<div class="main" id="anchor-point">
    <div class="container">
        <div class="row">
            <main class="col-lg-8">
                <section class="mb-0">
                    <h2 ng-bind-html="content(project, 'SUBTITLE', 'DETAILS')"></h2>
                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item" ng-repeat="t in tabs">
                            <a class="nav-link" ng-class="{active:t.active}" href="" ui-sref="{{t.route}}" >{{t.heading}}</a>
                        </li>
                    </ul>
                    <div ui-view class="view"></div>
                </section>
            </main>
            <aside class="col-lg-4">
                <section>
                    <h4>Project Details</h4>
                    <div class="map-section">
                        <div class="map-thumb">
                            <a href ui-sref="maps({project: project})"><img src="{{project.staticMap}}"/></a>
                        </div>
                    </div>
                    <ul class="mmti-side-list mine-details-list">
                        <li>
                            <span class="name">Operator</span>
                            <span class="value">{{project.operator}}</span>
                        </li>
                        <li>
                            <span class="name">Ownership</span>
                            <span class="value" ng-bind-html="ownership(project)"></span>
                        </li>
                        <li>
                            <span class="name">Commodities</span>
                            <span class="value">{{project.commodities ? project.commodities.join(', ') : ''}}</span>
                        </li>
                        <li>
                            <span class="name">Number of Tailings Impoundments</span>
                            <span class="value">{{project.tailingsImpoundments}}</span>
                        </li>
                    </ul>
                </section>
                <section>
                    <h4>Site Activities</h4>
                    <ul class="sa-list">
                        <li ng-repeat="act in project.activities | orderBy : act.order" class="{{statusClass(act)}}" ng-class="{'na': !act.status}">
                            <span class="sa-name">{{act.name}}</span>
                            <span class="sa-status">{{act.status}}<span ng-if="!act.status">---</span></span>
                        </li>
                    </ul>
                </section>
                <section ng-if="links.length > 0">
                    <h4>External Links &amp; Resources</h4>
                    <ul class="mmti-side-list">
                        <li ng-repeat="l in links">
                            <a target="_blank" href="{{l.link}}">{{l.title}}</a>
                        </li>
                    </ul>
                </section>
            </aside>
        </div>
    </div>
</div>
