
<ui-view id="main-content-section">

    <div class="hero-banner">
        <div class="container">
            <div class="container-inner">
                <div class="hb-txt">
                    <h1>Find Mines in British Columbia</h1>
                    <p class="mb-2">The BC Mine Information website currently profiles 15 major mines located across the province. More mines will be added to this site in the coming months.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="anchor-point">
        <div class="row">
            <main class="col-lg-8">
                <section>
                    <h2>Major Mines in British Columbia</h2>
                    <p class="tab-intro">Use the list below to navigate to information on individual mine sites. Click on any mine to go directly to its profile page, or click the ‘+’ sign to expand the list item to see basic information (e.g., operator, ownership, commodity/ies produced) about that mine. You can also use our interactive map to navigate to information on individual mines across British Columbia.</p>

                    <div class="mine-list">
                        <div class="sort-header">
                            <div class="sh-row">
                                <div class="sh-col name sortable" ng-class="{'descending': !sorting.ascending}" ng-click="sortBy('name')">
                                    <span>Name</span>
                                    <span class="sort-icon" ng-show="sorting.column === 'name'"></span>
                                </div>
                                <div class="sh-col operator sortable" ng-class="{'descending': !sorting.ascending}" ng-click="sortBy('operator')">
                                    <span>Operator</span>
                                    <span class="sort-icon" ng-show="sorting.column === 'operator'"></span>
                                </div>
                                <div class="sh-col commodity sortable" ng-class="{'descending': !sorting.ascending}" ng-click="sortBy('commodity')">
                                    <span>Commodity</span>
                                    <span class="sort-icon" ng-show="sorting.column === 'commodity'"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mmti-accord mine-list" id="complianceList" role="tablist" aria-multiselectable="false">
                            <div ng-repeat="p in sortedList" class="mmti-accord-item">
                                <div class="mmti-accord-header" role="tab" id="heading{{$index+1}}">
                                    <div>
                                        <a class="toggle collapsed" data-toggle="collapse" href="#collapse{{$index+1}}" aria-expanded="true" aria-controls="collapse{{$index+1}}">
                                            <i class="material-icons open-icon">add</i>
                                            <i class="material-icons close-icon">remove</i>
                                        </a>
                                        <span class="ah-col name"><a ui-sref="project({projectid: p.code})">{{p.name}}</a></span>
                                        <span class="ah-col operator">{{p.operator}}</span>
                                        <span class="ah-col commodity">{{p.commodityType}}</span>
                                    </div>
                                </div>
                                <div class="collapse" role="tabpanel"
                                    id="collapse{{$index+1}}"
                                    aria-labelledby="heading{{$index+1}}">
                                    <div class="mmti-accord-body">
                                        <div class="summary" ng-bind-html="content(p, 'OVERVIEW_INTRO_TEXT', 'MINES')"></div>
                                        <!--
                                        <div>
                                            <a class="btn btn-sm btn-link" ui-sref="maps({project: p})"><span>Goto Mine Page</span></a>
                                            <a class="btn btn-sm btn-link" ui-sref="maps({project: p})"><span>View on Map</span></a> 
                                        </div>
                                        -->
                                        <div class="mine-list-container">
                                            <div class="mmti-list-header">Details</div>
                                            <ul class="mmti-list nv-pair">
                                                <li>
                                                    <span class="name">Operator</span>
                                                    <span class="value">{{p.operator}}</span>
                                                </li>
                                                <li>
                                                    <span class="name">Ownership</span>
                                                    <span class="value" ng-bind-html="ownership(p)"></span>
                                                </li>
                                                <li>
                                                    <span class="name">Commodities</span>
                                                    <span class="value">{{p.commodities ? p.commodities.join(', ') : ''}}</span>
                                                </li>
                                                <li>
                                                    <span class="name">Number of Tailings Impoundments</span>
                                                    <span class="value">{{p.tailingsImpoundments}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <aside class="col-lg-4">
                <section>
                    <h4>External Links &amp; Resources</h4>
                    <ul class="mmti-list">
                        <li>
                            <a href="#">Ministy of Energy &amp; Mines</a>
                        </li>
                        <li>
                            <a href="#">Mineral Exploration &amp; Mining</a>
                        </li>
                        <li>
                            <a href="#">Ministry of Environment</a>
                        </li>
                        <li>
                            <a href="#">Environmental Assessment Office</a>
                        </li>
                    </ul>
                </section>
            </aside>
        </div>
    </div>

</ui-view>


