

<div class="hero-banner">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1>{{project.name}}</h1>
                <p class="mb-2" ng-bind-html="content(project, 'SUBTITLE', 'DETAILS')"></p>
            </div>
        </div>
    </div>
</div>

<div class="main" id="anchor-point">
    <div class="container">
        <div class="row">
            <main class="col-lg-8">
                <section>
                    <h2>About {{project.name}} Mine</h2>

                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#overview" ng-click="page('DETAILS')">Mine Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#authorizations" ng-click="page('AUTHORIZATION')">Authorizations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#compliance" ng-click="page('COMPLIANCE')">Compliance Oversight</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#docs" ng-click="page('DOCS')">Other Documents</a>
                        </li>
                    </ul>

                    <div class="tab-content">

                        <!-- Overview -->
                        <div class="overview tab-pane active" id="overview" role="tabpanel" ng-bind-html="content(project, 'INTRO_TEXT', 'DETAILS')">
                        </div><!-- / Overview -->
                        
                        <!-- Authorizations -->
                        <div class="authorizations tab-pane" id="authorizations" role="tabpanel">
                            <!-- 
                            <p class="tab-intro" ng-bind-html="content(project, 'INTRO_TEXT', 'AUTHORIZATION')"></p>
                            -->
                            <p class="tab-intro">Major mine projects require many authorizations from different federal and provincial agencies. Environmental assessment (EA) certificates and permits issued under the Mines Act and the Environmental Management Act (EMA) are the primary provincial authorizations for major mines in British Columbia. Learn more about Authorizations here.</p>
                            <section class="auth-list-section">
                                <h3>Environmental Assessment Act <span>Environmental Assessment Office</span></h3>
                                <ul>
                                    <li class="flex-row">
                                        <span class="auth-name">
                                            <a href="http://a100.gov.bc.ca/appsdata/epic/documents/p285/1237403247586_286469e2062a9eff93eeb05dbbaf5feb44436a0a2dce54b6eef3ef5cdccfb280.pdf" target="_blank">Environmental Assessment Certificate</a>
                                        </span>
                                        <span class="auth-date">Issued &nbsp;|&nbsp; 2009-03-16</span>
                                    </li>
                                    <li class="flex-row">
                                        <span class="auth-name">
                                            <a href="http://a100.gov.bc.ca/appsdata/epic/documents/p285/d35402/1362418919238_7663b740436f6524ba2a1c5cf145e0cee79912c6feb99d7932b630eaeaf6fae0.pdf" target="_blank">Environmental Assessment Certificate - Amendement</a>
                                        </span>
                                        <span class="auth-date">Certificate Amended &nbsp;|&nbsp; 2013-03-01</span>
                                    </li>
                                </ul>
                            </section>
                            <section class="auth-list-section">
                                <h3>Environmental Management Act <span>Ministry of Environment</span></h3>
                                <ul>
                                    <li class="flex-row">
                                        <span class="auth-name">
                                            <a href="https://mem-mmt-test.pathfinder.gov.bc.ca/api/document/582a2d5348077f0017feb5a0/fetch" target="_blank">Air Permit</a>
                                        </span>
                                        <span class="auth-date">Permit Amended &nbsp;|&nbsp; 2016-06-22</span>
                                    </li>
                                    <li class="flex-row">
                                        <span class="auth-name">
                                            <a href="https://mem-mmt-test.pathfinder.gov.bc.ca/api/document/582a2d5348077f0017feb5a1/fetch" target="_blank">Effluent Permit</a>
                                        </span>
                                        <span class="auth-date">Permit Amended &nbsp;|&nbsp; 2016-06-22</span>
                                    </li>
                                    <li class="flex-row">
                                        <span class="auth-name">
                                            <a href="https://mem-mmt-test.pathfinder.gov.bc.ca/api/document/582a2d5348077f0017feb5a2/fetch" target="_blank">Landfill Permit</a>
                                        </span>
                                        <span class="auth-date">Permit Amended &nbsp;|&nbsp; 2016-06-21</span>
                                    </li>
                                </ul>
                            </section>
                            <section class="auth-list-section">
                                <h3>Mines Act <span>Ministry of Energy and Mines</span></h3>
                                <ul class="authorizations-list">
                                    <li class="flex-row">
                                        <span class="auth-name">
                                            <a href="https://mines.empr.gov.bc.ca/api/document/5822594b6d6ad30017cd6b81/fetch" target="_blank">Approval to Operate Tailings Storage Facility</a>
                                        </span>
                                        <span class="auth-date">Permit Amended &nbsp;|&nbsp; 2013-06-05</span>
                                    </li>
                                    <li class="flex-row">
                                        <span class="auth-name">
                                            <a href="https://mines.empr.gov.bc.ca/api/document/582259466d6ad30017cd6b40/fetch" target="_blank">Approval Construction of a Blend and Feed Ore Stockpile</a>
                                        </span>
                                        <span class="auth-date">Permit Amended &nbsp;|&nbsp; 2013-04-16</span>
                                    </li>
                                    <li class="flex-row">
                                        <span class="auth-name">
                                            <a href="https://mines.empr.gov.bc.ca/api/document/582259536d6ad30017cd6bf6/fetch" target="_blank">Approving Change in Security Schedule</a></span>
                                        <span class="auth-date">Permit Amended &nbsp;|&nbsp; 2010-07-14</span>
                                    </li>
                                    <li class="flex-row">
                                        <span class="auth-name">
                                            <a href="https://mines.empr.gov.bc.ca/api/document/5822597e6d6ad30017cd6db0/fetch" target="_blank">Approving Change in Security Schedule</a>
                                        </span>
                                        <span class="auth-date">Permit Issued &nbsp;|&nbsp; 2009-09-08</span>
                                    </li>
                                </ul>
                            </section>
                        </div><!-- / Authorizations -->

                        <!-- Compliance Oversight -->
                        <div class="compliance tab-pane" id="compliance" role="tabpanel">
                            <!-- 
                            <p class="tab-intro" ng-bind-html="content(project, 'INTRO_TEXT', 'COMPLIANCE')"></p>
                            -->
                            <p class="tab-intro">The Ministry of Energy and Mines (MEM), Ministry of Environment (ENV) and Environmental Assessment Office (EAO) work together to provide integrated oversight of British Columbia’s mining sector. Compliance and enforcement (C&E) activities begin after a claim is staked and continue through exploration and the life of a mine. Learn more about Compliance Oversight here.</p>
                            <section>
                                <h3>Inspections <span>January 1 - December 31, 2016<span></h3>
                                <div class="ce-list">
                                    <div class="sort-header">
                                        <div class="sh-row">
                                            <div class="sh-col name">Name</div>
                                            <div class="sh-col date">Date of Inspection</div>
                                        </div>
                                    </div>
                                    <div class="mmti-accord" id="complianceList" role="tablist" aria-multiselectable="false">
                                        <div class="mmti-accord-item">
                                            <div class="mmti-accord-header" role="tab" id="headingOne">
                                                <div>
                                                    <a class="toggle collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        <i class="material-icons open-icon">add</i>
                                                        <i class="material-icons close-icon">remove</i>
                                                    </a>
                                                    <span class="ah-col name">MEM-61307 (Ministry of Energy and Mines)</span>
                                                    <span class="ah-col date">2016-01-12</span>
                                                </div>
                                            </div>
                                            <div class="collapse" role="tabpanel"
                                                id="collapseOne"
                                                aria-labelledby="headingOne">
                                                <div class="mmti-accord-body">
                                                    <span class="summary">
                                                        On January 12, 2016, Rory Cumming, Inspector of Mines, Electrical visited the Mount Milligan mine site to conduct an electrical inspection.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mmti-accord-item">
                                            <div class="mmti-accord-header" role="tab" id="heading2">
                                                <a class="toggle collapsed" data-toggle="collapse" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                                    <i class="material-icons open-icon">add</i>
                                                    <i class="material-icons close-icon">remove</i>
                                                </a>
                                                <span class="ah-col name">ENV-24765 (Ministry of Environment)</span>
                                                <span class="ah-col date">2016-02-02</span>
                                            </div>
                                            <div class="collapse" role="tabpanel"
                                                id="collapse2"
                                                aria-labelledby="heading2">
                                                <div class="mmti-accord-body">
                                                    <span class="summary">File review of reports submitted by the Permittee for the Thompson Creek Metals Company Inc. gold-copper mill and mine complex Environmental Management Act 104777 permit. This file review was for the time period from 2013-09-01 to 2016-01-07. The following reports were reviewed in completing this file review; 2013 Annual Report,2013 Q3 and Q4 reports, 2015 Q1 report, 2015 Q2 Report, 2015 Q3 report and 2015 Q4 Report. No non-compliances were noted during this file review.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mmti-accord-item">
                                            <div class="mmti-accord-header" role="tab" id="heading3">
                                                <a class="toggle collapsed" data-toggle="collapse" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                                    <i class="material-icons open-icon">add</i>
                                                    <i class="material-icons close-icon">remove</i>
                                                </a>
                                                <span class="ah-col name">MEM-62156 (Ministry of Energy and Mines)</span>
                                                <span class="ah-col date">2016-03-03</span>
                                            </div>
                                            <div class="collapse" role="tabpanel"
                                                id="collapse3"
                                                aria-labelledby="heading3">
                                                <div class="mmti-accord-body">
                                                    <span class="summary">
                                                        On March 3, 2016, Laurie Meade and Kris Bailey, Inspectors of Mines, Health and Safety conducted an inspection at the Mount Milligan mine. The inspectors reviewed the mine's first aid records, training records and mine rescue training records and inspected the warehouse and shops.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mmti-accord-item">
                                            <div class="mmti-accord-header" role="tab" id="heading4">
                                                <a class="toggle collapsed" data-toggle="collapse" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                                    <i class="material-icons open-icon">add</i>
                                                    <i class="material-icons close-icon">remove</i>
                                                </a>
                                                <span class="ah-col name">MEM-63456 (Ministry of Energy and Mines)</span>
                                                <span class="ah-col date">2016-04-26</span>
                                            </div>
                                            <div class="collapse" role="tabpanel"
                                                id="collapse4"
                                                aria-labelledby="heading4">
                                                <div class="mmti-accord-body">
                                                    <span class="summary">
                                                        On April 26, 2016, James Robinson and Laurie Meade, Inspectors of Mines, Health and Safety, and Aaron Unger, Inspector of Mines, Ergonomics, visited the Mount Milligan mine to conduct a comprehensive inspection.
                                                    </span>
                                                    <div class="doc-list-container">
                                                        <div class="mmti-list-header">Related Documents</div>
                                                        <ul class="mmti-list">
                                                            <li><a href="https://mines.empr.gov.bc.ca/api/document/582294086d6ad30017ce0b36/fetch" target="_blank">Inspection Report - MEM-63456</a></li>  
                                                            <li><a href="https://mines.empr.gov.bc.ca/api/document/582294086d6ad30017ce0b36/fetch">Mine Managers Response - MEM-63456</a></li>      
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mmti-accord-item">
                                            <div class="mmti-accord-header" role="tab" id="heading5">
                                                <a class="toggle collapsed" data-toggle="collapse" href="#collapse5" aria-expanded="true" aria-controls="collapse5">
                                                    <i class="material-icons open-icon">add</i>
                                                    <i class="material-icons close-icon">remove</i>
                                                </a>
                                                <span class="ah-col name">MEM-63537 (Ministry of Energy and Mines)</span>
                                                <span class="ah-col date">2016-04-26</span>
                                            </div>
                                            <div class="collapse" role="tabpanel"
                                                id="collapse5"
                                                aria-labelledby="heading5">
                                                <div class="mmti-accord-body">
                                                    <span class="summary">
                                                        On April 26, 2016, James Robinson and Laurie Meade, Inspectors of Mines, Health and Safety, and Aaron Unger, Inspector of Mines, Ergonomics, visited the Mount Milligan mine to conduct a comprehensive inspection.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mmti-accord-item">
                                            <div class="mmti-accord-header" role="tab" id="heading6">
                                                <a class="toggle collapsed" data-toggle="collapse" href="#collapse6" aria-expanded="true" aria-controls="collapse6">
                                                    <i class="material-icons open-icon">add</i>
                                                    <i class="material-icons close-icon">remove</i>
                                                </a>
                                                <span class="ah-col name">MEM-63598 (Ministry of Energy and Mines)</span>
                                                <span class="ah-col date">2016-04-26</span>
                                            </div>
                                            <div class="collapse" role="tabpanel"
                                                id="collapse6"
                                                aria-labelledby="heading6">
                                                <div class="mmti-accord-body">
                                                    <span class="summary">
                                                        On April 26, 2016, James Robinson and Laurie Meade, Inspectors of Mines, Health and Safety, and Aaron Unger, Inspector of Mines, Ergonomics, visited the Mount Milligan mine to conduct a comprehensive inspection.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mmti-accord-item">
                                            <div class="mmti-accord-header" role="tab" id="heading7">
                                                <a class="toggle collapsed" data-toggle="collapse" href="#collapse7" aria-expanded="true" aria-controls="collapse7">
                                                    <i class="material-icons open-icon">add</i>
                                                    <i class="material-icons close-icon">remove</i>
                                                </a>
                                                <span class="ah-col name">MEM-65437 (Ministry of Energy and Mines)</span>
                                                <span class="ah-col date">2016-06-29</span>
                                            </div>
                                            <div class="collapse" role="tabpanel"
                                                id="collapse7"
                                                aria-labelledby="heading7">
                                                <div class="mmti-accord-body">
                                                    <span class="summary">
                                                        On June 29, 2016, Lori Meade, Inspector of Mines, Health and Safety and Brian Oke, Inspector of Mines, Permitting, visited the Mount Milligan mine site to conduct a general inspection.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mmti-accord-item">
                                            <div class="mmti-accord-header" role="tab" id="heading8">
                                                <a class="toggle collapsed" data-toggle="collapse" href="#collapse8" aria-expanded="true" aria-controls="collapse8">
                                                    <i class="material-icons open-icon">add</i>
                                                    <i class="material-icons close-icon">remove</i>
                                                </a>
                                                <span class="ah-col name">MEM-68056 (Ministry of Energy and Mines)</span>
                                                <span class="ah-col date">2016-09-01</span>
                                            </div>
                                            <div class="collapse" role="tabpanel"
                                                id="collapse8"
                                                aria-labelledby="heading8">
                                                <div class="mmti-accord-body">
                                                    <span class="summary">
                                                        On September 1, 2016, Laurie Meade and Kris Bailey, Inspectors of Mines, Health and Safety conducted a general inspection of the Mount Milligan mine site.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mmti-accord-item">
                                            <div class="mmti-accord-header" role="tab" id="heading9">
                                                <a class="toggle collapsed" data-toggle="collapse" href="#collapse9" aria-expanded="true" aria-controls="collapse9">
                                                    <i class="material-icons open-icon">add</i>
                                                    <i class="material-icons close-icon">remove</i>
                                                </a>
                                                <span class="ah-col name">MEM-69820 (Ministry of Energy and Mines)</span>
                                                <span class="ah-col date">2016-09-07</span>
                                            </div>
                                            <div class="collapse" role="tabpanel"
                                                id="collapse9"
                                                aria-labelledby="heading9">
                                                <div class="mmti-accord-body">
                                                    <span class="summary">
                                                        An inspection of the Mount Milligan mine was conducted on September 7, 2016, by Sean Shaw (Inspector of Mines, Environmental Geoscience), John Przeczek (contracted Inspector of Mines, Reclamation) and Brian Oke (Inspector of Mines, Permitting). The inspectors were accompanied by the mine manager and several mine employees as well as three members of the Nak ‘Azdli Whut’en First Nation.
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <!-- Other Documents -->
                        <div class="documents tab-pane" id="docs" role="tabpanel">
                            Content TBD
                        </div>
                    </div>

                </section>
            </main>
            <aside class="col-lg-4">
                <section>
                    <div class="map-section"><div class="map-thumb">Map Thumbnail Here</div></div>
                    <ul class="mmti-side-list mine-details-list">
                        <li>
                            <span class="name">Operator</span>
                            <span class="value">{{project.operator}}</span>
                        </li>
                        <li>
                            <span class="name">Ownership</span>
                            <span class="value" ng-bind-html="ownership(project)"></span>
                        </li>
                        <li>
                            <span class="name">Commodities</span>
                            <span class="value">{{project.commodities ? project.commodities.join(', ') : ''}}</span>
                        </li>
                        <li>
                            <span class="name">Number of Tailings Impoundments</span>
                            <span class="value">{{project.tailingsImpoundments}}</span>
                        </li>
                    </ul>
                </section>
                <section>
                    <h4>Site Activities</h4>
                    <ul class="sa-list">
                        <li ng-repeat="act in project.activities | orderBy : act.order" class="{{statusClass(act)}}">
                            <span class="sa-name">{{act.name}}</span>
                            <span class="sa-status">{{act.status}}</span>
                        </li>
                    </ul>
                </section>
                <section>
                    <h4>External Links &amp; Resources</h4>
                    <ul class="mmti-side-list">
                        <li ng-repeat="l in links">
                            <a href="{{l.link}}">{{l.title}}</a>
                        </li>
                    </ul>
                </section>
            </aside>
        </div>
    </div>
</div>
