
<ui-view id="main-content-section">

    <div class="hero-banner">
        <div class="container">
            <div class="container-inner">
                <div class="hb-txt">
                    <h1>Find Mines in British Columbia</h1>
                    <p class="mb-2">The BC Mine Information website’s currently includes 15 major mine sites</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <main class="col-lg-8">
                <section>
                    <h2>Major Mines in British Columbia</h2>
                    <p class="tab-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                    <div class="mine-list">
                        <div class="sort-header">
                            <div class="sh-row">
                                <div class="sh-col name">Name</div>
                                <div class="sh-col operator">Operator</div>
                                <div class="sh-col commodity">Commodity Type</div>
                            </div>
                        </div>
                        <div class="mmti-accord mine-list" id="complianceList" role="tablist" aria-multiselectable="false">
                            <div class="mmti-accord-item">
                                <div class="mmti-accord-header" role="tab" id="headingOne">
                                    <div>
                                        <a class="toggle collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <i class="material-icons open-icon">add</i>
                                            <i class="material-icons close-icon">remove</i>
                                        </a>
                                        <span class="ah-col name"><a ui-sref="project">Mount Milligan</a></span>
                                        <span class="ah-col operator">Thompson Creek Metals Company Inc.</span>
                                        <span class="ah-col commodity">Metal</span>
                                    </div>
                                </div>
                                <div class="collapse" role="tabpanel"
                                    id="collapseOne"
                                    aria-labelledby="headingOne">
                                    <div class="mmti-accord-body">
                                        <span class="summary">
                                            The Mount Milligan copper-gold mine is located 155 km northwest of Prince George, between the communities of Fort St. James and Mackenzie in central BC. Mine construction began in 2010, and Mount Milligan began production in August 2013.
                                        </span>
                                        <div class="mine-list-container">
                                            <div class="mmti-list-header">Details</div>
                                            <ul class="mmti-list nv-pair">
                                                <li>
                                                    <span class="name">Operator</span>
                                                    <span class="value">Thompson Creek Metals Company Inc.</span>
                                                </li>
                                                <li>
                                                    <span class="name">Ownership</span>
                                                    <span class="value">Thompson Creek Metals Company Inc. (wholly-owned subsidiary of Canterra Gold Inc.)</span>
                                                </li>
                                                <li>
                                                    <span class="name">Commodities</span>
                                                    <span class="value">Gold, Copper</span>
                                                </li>
                                                <li>
                                                    <span class="name">Number of Tailings Impoundments</span>
                                                    <span class="value">1</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mmti-accord-item">
                                <div class="mmti-accord-header" role="tab" id="headingTwo">
                                    <div>
                                        <a class="toggle collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            <i class="material-icons open-icon">add</i>
                                            <i class="material-icons close-icon">remove</i>
                                        </a>
                                        <span class="ah-col name"><a href ui-sref="project">Mount Milligan</a></span>
                                        <span class="ah-col operator">Thompson Creek Metals Company Inc.</span>
                                        <span class="ah-col commodity">Metal</span>
                                    </div>
                                </div>
                                <div class="collapse" role="tabpanel"
                                    id="collapseTwo"
                                    aria-labelledby="headingTwo">
                                    <div class="mmti-accord-body">
                                        <span class="summary">
                                            The Mount Milligan copper-gold mine is located 155 km northwest of Prince George, between the communities of Fort St. James and Mackenzie in central BC. Mine construction began in 2010, and Mount Milligan began production in August 2013.
                                        </span>
                                        <div class="mine-list-container">
                                            <div class="mmti-list-header">Details</div>
                                            <ul class="mmti-list nv-pair">
                                                <li>
                                                    <span class="name">Operator</span>
                                                    <span class="value">Thompson Creek Metals Company Inc.</span>
                                                </li>
                                                <li>
                                                    <span class="name">Ownership</span>
                                                    <span class="value">Thompson Creek Metals Company Inc. (wholly-owned subsidiary of Canterra Gold Inc.)</span>
                                                </li>
                                                <li>
                                                    <span class="name">Commodities</span>
                                                    <span class="value">Gold, Copper</span>
                                                </li>
                                                <li>
                                                    <span class="name">Number of Tailings Impoundments</span>
                                                    <span class="value">1</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <aside class="col-lg-4">
                <section>
                    <h4>External Links &amp; Resources</h4>
                    <ul class="mmti-list">
                        <li>
                            <a href="#">Ministy of Energy &amp; Mines</a>
                        </li>
                        <li>
                            <a href="#">Mineral Exploration &amp; Mining</a>
                        </li>
                        <li>
                            <a href="#">Ministry of Environment</a>
                        </li>
                        <li>
                            <a href="#">Environmental Assessment Office</a>
                        </li>
                    </ul>
                </section>
            </aside>
        </div>
    </div>

</ui-view>


