<section id="projects-view">

	<div class='col-sm-5'>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Public Project Listing</h3>
			</div>
			<div class='panel-body'>
				<p>The Environmental Assessment Office (EAO) is a neutral agency that manages the review of proposed major projects in British Columbia, as required by the Environmental Assessment Act.</p>
				<p>Please see our main site for more information.</p>
				<p>This service provides information on projects currently under review.  Click a project to view.</p>
			</div>
		</div>

		<div class='row'>
			<div class='col-sm-12'>
			
				<tmpl-quick-links></tmpl-quick-links>

			</div>
		</div>

		<div class="row">
			<div class='col-sm-12'>

				<tmpl-recent-activity></tmpl-recent-activity>

			</div>
		</div>


	</div>
	<div class='col-sm-7'>

		<tmpl-projects-filter-bar x-filter="vm"></tmpl-projects-filter-bar>

		<tmpl-projects-map x-projects='vm.projects'></tmpl-projects-map>

	</div>

</section>
