
<section id="project-view" class="row">

	<div class='col-sm-3'>
		<div class="panel panel-default project-info-panel">

			<div class="panel-header">
				<h1 class="panel-title">
					{{ vm.project.name }}
				</h1>
			</div>

			<div class='panel-body'>

				<div><label class="control-label">Location</label><p>{{ vm.project.location }}</p></div>
				<div><label class="control-label">Region</label><p>{{ vm.project.region | titleCase }}</p></div>
				<div><label class="control-label">Description</label><p>{{ vm.project.description }}</p></div>

				<div ng-if="(vm.project.dateCommentsOpen && vm.project.dateCommentsClosed)">
					<label class="control-label">Public Comment Period</label>
					<p>
						{{ vm.project.dateCommentsOpen | amDateFormat:'MMM Do, YYYY'}} to {{ vm.project.dateCommentsClosed | amDateFormat:'MMM Do, YYYY' }}
						<span ng-if="(vm.project.dateCommentsOpen | isInThePast) && (vm.project.dateCommentsClosed | isInTheFuture)"><br/><strong><em>Open Now</em></strong></span>
					</p>

				</div>

				<div class="form-group" ng-if="(vm.project.dateCommentsOpen | isInThePast) && (vm.project.dateCommentsClosed | isInTheFuture)">
					<a class="btn btn-block btn-success btn-md" href x-modal-add-public-comment x-project="vm.project">Click here to Comment on the Application</a>
				</div>

				<div>
					<label class="control-label">Documents</label>
					<p class="small">
						<a href><span class='glyphicon glyphicon-file'></span> Application</a>
					</p>
				</div>


			</div>

			<div class="location-map">
				<map center="{{ vm.project.lat }},{{ vm.project.lon }}" zoom="5" map-type-id="SATELLITE" street-view-control='false' min-zoom=5 disable-default-u-i="true">
					<marker id="marker_{{ vm.project._id }}" position="{{ vm.project.lat }},{{ vm.project.lon }}"></marker>
				</map>
			</div>
			
			<div class='panel-body' ng-show="vm.comments.length !== 0">
				<label class="control-label">Comment Volume by Date</label>
				<tmpl-public-project-comments-circle-chart x-refresh="vm.refreshVisualization" x-data="vm.commentsByDateVis" id="publicCommentsByDate"></tmpl-public-project-comments-circle-chart>
			</div>

		</div>
	</div>


	<div class='col-sm-9'>

		<div class="alert alert-info text-center" ng-if="vm.project.dateCommentsOpen | isInTheFuture">
			<div >
				<p>Public Comment Period begins on <strong>{{ vm.project.dateCommentsOpen | amDateFormat:'MMM Do, YYYY'}}</strong></p>
				<countdown-clock x-end="vm.project.dateCommentsOpen"></countdown-clock>
			</div>
		</div>




		<div class="concern-heading" ng-if="vm.project.dateCommentsOpen | isInTheFuture">
			<p>Related Topics for this project include:</p>
			<div class="row">
				<div class="col-md-6" ng-repeat="col in vm.project.buckets | orderBy:'name' | filter:{isValueComponent: true} | chunk:(vm.project.buckets.length/2)">
					<ul style="margin-bottom: 0;">
						<li ng-repeat="vc in col">{{ vc.name }}</li>
					</ul>
				</div>
			</div>

			<div ng-show="vm.comments.length === 0">
				<h3>No comments are available for this project yet.</h3>
				<p>Please check back for information regarding upcoming Public Comment Periods</p>
			</div>

		</div>

		<div class="panel panel-default">

			<div class="panel-body">		
				<div ng-if="vm.comments.length !== 0 && (vm.project.dateCommentsOpen | isInThePast) && (vm.project.dateCommentsClosed | isInTheFuture)">
					<nav class="navbar navbar-default navbar-sm" ng-init="vm.form.view = 'bydate'" ng-if="vm.comments.length !== 0">
						<div class="container-fluid">

							<ul class="nav navbar-nav navbar-form navbar-left">
								<li>
									<div class="btn-group btn-group-sm">
										<button class="btn btn-default" ng-click="vm.form.view = 'bydate'"	ng-class="{'btn-primary': vm.form.view === 'bydate'}">By Date</button>
										<button class="btn btn-default" ng-click="vm.form.view = 'bytopic'"	ng-class="{'btn-primary': vm.form.view === 'bytopic'}">By Topic</button>
										<button class="btn btn-default" ng-click="vm.form.view = 'bychart'"	ng-class="{'btn-primary': vm.form.view === 'bychart'}">By Topic Chart</button>
									</div>
								</li>
							</ul>

							<ul class="nav navbar-nav navbar-right">

								<li ng-if="vm.form.view !== 'bychart'">
									<form class="navbar-form" role="filter1">
										<div class="form-group">
											<label class="control-label">Keyword Search</label>
											<input ng-model="vm.filterKeyword" type="text" class="form-control" placeholder="">
										</div>
									</form>
								</li>
							</ul>

						</div><!-- /.container-fluid -->
					</nav>
				</div>


				<div ng-repeat="(heading, topic) in vm.commentsByTopicKeys | orderBy:'name' | filter:vm.filterBucketGroup" class="concern-list" ng-show="vm.form.view === 'bytopic'">
					<h3 ng-click='form[heading] = !form[heading]' class="clickable concern-heading">
						{{ heading }}<div class="pull-right small"><span ng-if="!form[heading]">Click to view.</span> Number of comments: {{ (vm.commentsByTopic[heading] | filter:vm.filterKeyword).length || 0 }}</div>
					</h3>
					<hr ng-if='!form[heading]'>
					<div class="" ng-show='form[heading]'>
							<div class="row comment-list" ng-repeat-start="item in vm.commentsByTopic[heading] | advancedFilter:vm.filterKeyword | orderBy:'dateAdded':true">
								<div class="col-sm-6">
									<pre>{{ item.comment }}</pre>
								</div>


								<div class="col-sm-3">
									<p ng-if="item.author && item.displayName">Name: {{ item.author }}</p>
									<p ng-if="item.location && item.displayName">Location: {{ item.location }}</p>								
									<p>{{ item.dateAdded | amDateFormat:'MMM Do, YYYY h:mm a'}}</p>
									<ul class="list-unstyled document-vetting small">
										<li ng-repeat="doc in item.documents">
											<a href="/api/commentdocument/{{ doc._id }}/fetch" target="_blank" class="small" ng-if="doc.eaoStatus !== 'Rejected'"><span class="glyphicon glyphicon-file"></span> {{ doc.name }}</a>
											<span class="small text-warning" ng-if="doc.eaoStatus === 'Rejected'"><i class="glyphicon glyphicon-file"></i> This document has not been shared as it does not meet the privacy policy rules.</span>
										</li>
									</ul>

								</div>

								<div class="col-sm-3" ng-show="item.buckets.length > 0">
									<label class="control-label">Related Topics</label>
									<ul class="small">
										<li ng-repeat="bucket in item.buckets">{{ bucket.name }}</li>
									</ul>
								</div>

							</div>
							<hr ng-if="!$last" ng-repeat-end>
					</div>


					<div class="panel panel-default panel-concern" ng-show='( buckets | advancedFilter:vm.filterKeyword).length === 0 && form[heading]'>
						<div class="panel-body">
							No comments match these keywords.
						</div>
					</div>
				</div>

				<div class="panel panel-default panel-concern" ng-show="!vm.commentsByTopic && vm.form.view === 'bytopic'">
					<div class="panel-body">
						No comments have been classified by topic yet.  Please check back later.
					</div>
				</div>


				<div ng-show="vm.form.view === 'bydate'">
					<div class="panel-body">
						<div class="row comment-list" ng-repeat-start="item in commentsFiltered = (vm.comments | advancedFilter:vm.filterKeyword) | orderBy:'dateAdded':true">

							<div class="col-sm-6">
								<pre>{{ item.comment }}</pre>
							</div>

							<div class="col-sm-3">
								<p ng-if="item.author && item.displayName">Name: {{ item.author }}</p>
								<p ng-if="item.location && item.displayName">Location: {{ item.location }}</p>								
								<p>{{ item.dateAdded | amDateFormat:'MMM Do, YYYY h:mm a'}}</p>
								<ul class="list-unstyled document-vetting small">
									<li ng-repeat="doc in item.documents">
										<a href="/api/commentdocument/{{ doc._id }}/fetch" target="_blank" class="small" ng-if="doc.eaoStatus !== 'Rejected'"><span class="glyphicon glyphicon-file"></span> {{ doc.name }}</a>
										<span class="small text-warning" ng-if="doc.eaoStatus === 'Rejected'"><i class="glyphicon glyphicon-file"></i> This document has not been shared as it does not meet the privacy policy rules.</span>
									</li>
								</ul>

							</div>

							<div class="col-sm-3" ng-show="item.buckets.length > 0">
								<label class="control-label">Related Topics</label>
								<ul class="small">
									<li ng-repeat="bucket in item.buckets">{{ bucket.name }}</li>
								</ul>
							</div>

						</div>
						<hr ng-if="!$last" ng-repeat-end>

						<div ng-if="commentsFiltered.length === 0 && vm.form.view === 'bydate'">
							No comments match those keywords.
						</div>

					</div>
				</div>

			

				<div class="" ng-show="vm.form.view === 'bychart'">
					<div class="panel-body">
						<label class="control-label">Comment Volume by Topic</label>
						<tmpl-public-project-comments-circle-chart x-refresh="vm.refreshVisualization" x-data="vm.commentsByTopicVis" id="publicCommentsByTopic"></tmpl-public-project-comments-circle-chart>
					</div>
				</div>

				<div class="" ng-show="vm.comments.length === 0">
					<div class="panel-body">
						There are no comments on this project.						
					</div>
				</div>

			</div>
		</div>




	</div>

</section>