<ui-view class="main-panel home-view"
	id="main-content-section">

	<section class="panel panel-default">
		<div class="panel-heading">
			<h2>Environmental Assessments</h2>
		</div>
		<tmpl-projects-map id="anchor-map" x-projects='projects'></tmpl-projects-map>
	</section>

	<section class="panel panel-default">
		<div class="panel-heading">
			<h2>List of Environmental Assessments</h2>
		</div>
		<tmpl-projects-list2 id="anchor-list" x-projects="projects"></tmpl-projects-list2>
	</section>

</ui-view>
