<section id="projects-view">

	<div class='col-sm-9' ng-init="vm.view = 'schedule'">

		<tmpl-projects-filter-bar	x-data="vm"></tmpl-projects-filter-bar>

		<panel-sort	x-fields="vm.panelSort" x-data="vm.projects" ng-show="vm.view !== 'intakes'"></panel-sort>

		<tmpl-projects-intake	x-projects='vm.intakes'	 ng-show="vm.view === 'intakes'"></tmpl-projects-intake>

		<tmpl-projects-schedule	x-projects='vm.projects' ng-show="vm.view === 'schedule'"></tmpl-projects-schedule>
		<tmpl-projects-list		x-projects='vm.projects' ng-show="vm.view === 'list'"></tmpl-projects-list>
		<tmpl-projects-panels	x-projects='vm.projects' ng-show="vm.view === 'preview'"></tmpl-projects-panels>
		<tmpl-projects-map		x-projects='vm.projects' ng-show="vm.view === 'map'"></tmpl-projects-map>

	</div>


	<div class='col-sm-3'>

		<tmpl-quicklinks-thumbnails></tmpl-quicklinks-thumbnails>

		<div class='row'>
			<div class='col-sm-12'>
				<div class="form-group">
					<button ui-sref="eao.newproject" class="form-control btn btn-block btn-success">New Project</button>
				</div>
			</div>
		</div>

		<div class='row'>
			<div class='col-sm-12'>
				<div class="form-group">
					<button x-manage-contacts class="form-control btn btn-block btn-default">Manage Contacts</button>
				</div>
			</div>
		</div>


		<div class='row'>
			<div class='col-sm-12'>
				<div class="form-group">
					<button ui-sref="configuration" class="form-control btn btn-block btn-default">System Configuration</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class='col-sm-12'>
				<tmpl-recent-activity></tmpl-recent-activity>
			</div>
		</div>

	</div>

</section>
