<section id="projects-view" class="row">

	<div class='col-sm-10'>

		<div class="panel panel-default" ng-show="!projects.authentication.user">
			<div class="panel-heading">
				<h3 class="panel-title">Public Project Listing</h3>
			</div>
			<div class='panel-body'>
				<p>The Environmental Assessment Office (EAO) is a neutral agency that manages the review of proposed major projects in British Columbia, as required by the Environmental Assessment Act.</p>
				<p>This service provides information on current and historical projects.  Click a project below to view.</p>
			</div>
		</div>

		<tmpl-projects-map id="anchor-map" x-projects='projects.projects'></tmpl-projects-map>

		<tmpl-projects-schedule id="anchor-schedule" x-projects='projects.projects'></tmpl-projects-schedule>


<embed height="800" width="100%" src="https://msit.powerbi.com/view?r=eyJrIjoiOWNkOWNiMTktMTA0Ni00Zjc2LWE0ODItZGU0NWRjOGYyOWRlIiwidCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImMiOjV9&showLogoBar=false">

		<div x-window-height>
			<tmpl-recent-activity id="anchor-recent"></tmpl-recent-activity>			
		</div>




	</div>
	<div class='col-sm-2'>
		<tmpl-system-menu x-menu-context="projects"></tmpl-system-menu>
	</div>

</section>
