<section id="projects-view" class="row">

	<div class='col-sm-9'>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Public Project Listing</h3>
			</div>
			<div class='panel-body'>
				<p>The Environmental Assessment Office (EAO) is a neutral agency that manages the review of proposed major projects in British Columbia, as required by the Environmental Assessment Act.</p>
				<p>This service provides information on current and historical projects.  Click a project below to view.</p>
			</div>
		</div>

		<tmpl-projects-map x-projects='vm.projects'></tmpl-projects-map>

		<div class='row'>
			<div class='col-sm-12'>

				<tmpl-quick-links></tmpl-quick-links>

			</div>
		</div>

		<div class="row">
			<div class='col-sm-12'>

				<tmpl-recent-activity></tmpl-recent-activity>

			</div>
		</div>


	</div>
	<div class='col-sm-3'>

		<div ui-scrollfix="+100">
			<ul class="list-unstyled">
				<li><a href="#map">Map</a></li>
				<li><a href="#list">Schedule</a></li>
				<li><a href="#recent">Recent Activity</a></li>
				<li><a href="#search">Search</a></li>
			</ul>

			<tmpl-quick-links></tmpl-quick-links>
		</div>
	</div>

</section>
