$news-feed-item-border: 1px solid #ddd;
$news-feed-panel-footer-bg: #fff;
$news-feed-date-color: #999;

.news-feed {
    @include flexbox();
	@include flexdirection(column);

    .panel-heading,
    .panel-footer {
        @include flex(0 0 auto);
    }

	.panel-body {
        @include flex(1 1 auto);
		padding: 0;
        overflow-y: scroll;
		overflow-x: hidden;
	}
	
	.panel-footer {
		padding: 0;
        background: $news-feed-panel-footer-bg;
	}
	
	.show-all-news-link {
		display: block;
		padding: 1rem;
		font-weight: bold;
	}
}

.news-feed-item {
	padding: 1.5rem;
	border-top: $news-feed-item-border;
	
	.news-title {
		margin-top: 0;
		margin-bottom: 0.75rem;
		font-size: 1.6rem;
		font-weight: bold;
	}
	
	.news-date-type {
		margin-bottom: 0.75rem;
		font-size: 1.2rem;
		color: $news-feed-date-color;
	}
	
	.news-content {
		margin: 0;
	}
	
	.show-more {
		margin-top: 1rem;
		font-size: 1.2rem;
		font-weight: bold;
	}

    &:first-child {
        border-top: none;
    }
}

// News & Announcements Table
.recent-activity-table,
.recent-activity-admin-table {
	tbody {
		> tr {
			> td {
				padding: 1.5rem 0.5rem;
				vertical-align: top;
			}
		}
	}

	.news-title {
		margin-top: 0;
		margin-bottom: 0.75rem;
		font-size: 1.6rem;
		font-weight: bold;
		color: $app-base-color;
	}
	
	.news-content {
		max-width: 70rem;
		margin: 0;
	}
	
	.show-more {
		margin-top: 1rem;
		font-size: 1.2rem;
		font-weight: bold;
	}
}

@media (min-width: 560px) {
	.recent-activity-table {
		.date-col,
		.type-col {
			width: 12rem;
		}
	}
}

@media (min-width: 760px) {
	.recent-activity-table {
		.date-col,
		.type-col {
			width: 20%;
		}
	}
}

.recent-activity-admin-table {
	.active-col,
	.date-col,
	.priority-col,
	.type-col {
		width: 12rem;
	}
}