
.project-conditions-view {
	.table {
		th:last-child {
			width: 6rem;
			text-align: right;
		}
	}
}

.custom-select-list {
	li {
		display: inline-block;
		margin-right: 0.4rem;
		padding-top: 0;

		.btn {
			padding: 0.3rem 1rem;
			font-size: 1.2rem;
			font-weight: normal;
		}
	}
}

.inline-search-panel {
	@extend .flex-row;
	align-items: center;

	.btn {
		@include flex(0 0 auto);
		margin-left: 0.5rem;
		width: 7rem;
		height: 3.4rem;
	}
}

.inline-search-fields {
	@include flex(1 1 auto);
	margin: 0 -0.2rem;

	.form-group:nth-last-child(4),
	.form-group:nth-last-child(4) ~ .form-group {
		padding: 0 0.2rem;
		width: 25%;
		float: left;
	}
}

.form-footer {
	.btn {
		min-width: 8rem;
	}
}