$pcp-alert-bg: #003366;
$pcp-alert-color: #ddd;
$pcp-alert-strong-color: #fff;
$pcp-btn-border: 1px solid #5091cd;
$pcp-btn-bg: #5091cd;
$pcp-btn-hover-bg: #96c0e6;
$pcp-btn-color: #fff;
$pcp-btn-text-shadow: 1px 1px 0 #3c85c7;
$pcp-text-shadow: 1px 1px 1px #3478b6;

$pcp-open-badge-bg: #5091cd;
$pcp-pending-badge-bg: #666;
$pcp-closed-badge-bg: #5cb85c;
$pcp-comment-icon-color: #ccc;


// Comment Period View Containers
.comment-period-view {
 .pcp-edit-view {
   @include flexbox();
   @include flexdirection(column);
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
 }
 
 .pcp-contents {
    @include flexbox();
    @include flexdirection(column);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
 }
}

.pcp-alert-container {
  margin-bottom: 2rem;
}

.pcp-table {
  table-layout: fixed;

  td {
    &.date-col {
      font-weight: bold;
    }

    &.count-col {
      .glyphicon {
        margin-top: -0.2rem;
        margin-right: 0.5rem;
        color: #ccc;
        vertical-align: middle;
        font-size: 1.8rem;
      }

      .count {
        font-size: 1.2rem;
        font-weight: bold;
      }
    }

    &.status-col {
      .label {
        background-color: $pcp-comment-icon-color;
        text-transform: uppercase;

        &.closed,
        &.completed,
        &.unpublished {
          background-color: $pcp-closed-badge-bg;
        }

        &.open {
          background-color: $pcp-open-badge-bg;
        }

        &.pending {
          background-color: $pcp-pending-badge-bg;
        }
      }
    }
  }
}

@media (max-width: 759px) {
  .pcp-table {
    thead {
      background: transparent !important;

      tr {
        position: relative;
        display: block;
        margin-bottom: 0.5rem;
        text-align: right;
      }

      th {
        display: inline-block;
        width: 33%;
        text-align: center !important;

        &.count-col,
        &.date-col,
        &.status-col {
          @include flex(0 0 auto);
        }

        &.details-col {
          display: none;
        }
      }
    }

    > tbody {
      display: block;

      > tr {
        position: relative;
        display: block;

        > td {
          display: block;
          padding: 1.25rem;
          border: none;
        }
      }
    }

    td {
      &.actions-col {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }

      &.count-col {
        position: absolute;
        top: 0;
        right: 0;
        width: 6rem;
        padding-right: 1.25rem !important;
        padding-left: 0;
        text-align: right;
      }

      &.date-col {
        padding-top: 1.25rem;
        padding-right: 1.25rem;
        padding-bottom: 1rem;
        padding-left: 1.25rem !important;
        font-size: 1.6rem;
      }

      &.details-col {
        padding-top: 0;
      }

      &.status-col {
        position: absolute;
        top: 0;
        right: 6rem;
        padding-right: 0;
        width: 33%;

        .label {
          min-width: 7rem;
          font-size: 1rem;
        }
      }
    }

    &.can-edit {
      th.actions-col {
        display: none;
      }

      td {
        &.count-col {
          right: 4rem;
        }

        &.status-col {
          right: 11rem;
        }

        &.actions-col {
          position: absolute;
          top: 0;
          right:0;

          .btn-group {
            top: 0.4rem;
            right: 0.4rem;
          }
        }
      }
    }
  }
}

@media (min-width: 760px) {
  .pcp-table {
    > tbody {
      > tr {
        > td {
          padding: 1.5rem 0.5rem;
          vertical-align: top;
        }
      }
    }

    .date-col {
      width: 12rem;
    }

    .status-col {
      width: 12rem;

      .label {
        min-width: 8rem;
      }
    }

    .count-col {
      width: 8.5rem;
      padding-right: 1rem;
    }
  }
}

@media (min-width: 1200px) {
  .pcp-table {
    .date-col {
      width: 14rem;
    }

    .status-col {
      width: 14rem;
    }

    .count-col {
      width: 8.5rem;
      padding-right: 1rem;
    }
  }
}

// Public Comment Period Alert Banner
.pcp-banner {
  position: relative;
  margin-bottom: 2rem;

  section {
    padding: 2rem;
  }

  .pcp-info {
     background: $pcp-alert-bg;
    color: $pcp-alert-color;

    h2 {
      margin: 0;
      color: $pcp-alert-strong-color;
      font-size: 2rem;
      font-weight: bold;
    }

    strong {
      color: $pcp-alert-strong-color;
    }

    .pcp-dates {
      display: block;
      font-size: 1.4rem;
      font-weight: bold;
    }

    .pcp-desc {
      display: block;
      margin-top: 1.5rem;
      font-size: 1.4rem;
    }
  }

  .pcp-addl-info {
    background: #fff;

    h3 {
      margin: 0;
      font-size: 1.8rem;
      font-weight: bold;
    }

    h4 {
      font-size: 1.4rem;
      font-weight: bold;
    }

    p {
      margin-top: 1rem;
      margin-bottom: 0;
    }

    section {
      padding-top: 1rem;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;
    }
  }

  .pcp-banner-btns {
    @include flexbox();
    @include flexdirection(column);
    margin-top: 2rem;

    .btn {
      @include flex(1 1 auto);
      padding: 1rem;
      border: $pcp-btn-border;
      border-radius: 0.25rem;
      background-color: $pcp-btn-bg;
      color: $pcp-btn-color;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: bold;
      transition: background ease-out 0.2s;

      &:hover {
        background: $pcp-btn-hover-bg;
      }

      .glyphicon {
        top: 2px;
        margin-right: 0.25rem;
        font-size: 1.5rem;
      }
    }

    .spacer {
      @include flex(0 0 auto);
      padding: 0.5rem;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

@media (max-width: 320px) {
  .pcp-banner {
    .pcp-info {
      .break {
        display: block;
      }
    }
  }
}

@media (min-width: 700px) {
  .pcp-banner {
    .pcp-info {
      h2 {
        font-size: 2.8rem;
      }

      .pcp-dates {
        margin-top: -0.25rem;
        font-size: 1.8rem;
      }

      .pcp-desc {
        font-size: 1.5rem;
      }

      .pcp-banner-btns {
        @include flexdirection(row);

        .btn {
          max-width: 20rem;
          font-size: 1.4rem;
        }

        .spacer {
          padding-top: 1.5rem;
          width: 3.5rem;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .pcp-banner {
    .pcp-info {
      h2 {
        font-size: 3.2rem;
      }
    }

    .pcp-banner-btns {
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 0;
      padding: 2rem;

      .btn {
        font-size: 1.8rem;
        padding: 1.25rem;

        .glyphicon {
          top: 2px;
          margin-right: 0.25rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}

// Public Comment Period Details
.pcp-details {
  padding: 2.5rem 2rem;
  background-color: #FFF;

  .pcp-about {
  p {
    margin: 0;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
  }
}

// Comments Table
.pcp-comment-actions-bar {
  padding-bottom: 1.5rem;

  .pcp-comment-count-label {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
  }

  .actions {
    margin-top: -1rem;

    .btn {
      padding: 0.65rem 1rem;
    }
  }

  + .tab-pane {
    padding-top: 0;
  }
}

.pcp-comment-filter-bar {
  padding: 1.25rem;
  background: #fff;

  label {
    padding: 0.65rem 0;
    margin-bottom: 0;
    margin-right: 1rem;
  }

  .btn {
    padding: 0.7rem 1rem;
  }

  .toggle-tabs {
    margin-right: 1rem;
  }

  select {
    width: 20rem;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.pcp-comment-header {
  + .tab-pane {
    padding-top: 0;
  }
}

.pcp-comment-table {
  table-layout: auto !important;

  table {
    > tbody {
      > tr {
        border: none;

        > td {
          padding-top: 1.5rem;
          padding-bottom: 1.25rem;
          border: none;
          vertical-align: top;
        }
      }
    }
  }

  thead {
    display: table;
    width: 100%;

    tr {
      display: table-row;
    }

    .date-col {
      text-align: right;
    }
  }

  tr {
    display: block;

    &.pcp-comment-cols {
      @include flexbox();
      width: 100%;
    }
  }

  h3 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: bold;
  }

  h4 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
    font-weight: bold;
  }

  .comment-pkg {
    + .comment-pkg {
      margin-top: 1.5rem;
    }
  }

  td.author-col {
    @include flex(1 1 auto);
  }

  .date-col {
    width: 16rem;
    text-align: right;
  }

  td.date-col {
    @include flex(0 0 auto);
    white-space: nowrap;
    font-size: 1.2rem;

    .attachment-icon {
      top: 0.2rem;
      margin-right: 0.75rem;
    }
  }

  .pillar-col,
  .vc-col,
  .location-col {
    display: none;
  }

  .id-col {
    width: 7rem;
    text-indent: 1rem
  }

  .location-col {
    width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

@media (min-width: 640px) {
  .pcp-comment-table {
    thead {
      display: table-header-group;

      .author-col {
        width: auto;
      }

      .date-col {
        width: 20rem;
      }
    }

    tr {
      display: table-row;

      &.pcp-comment-cols {
        display: table-row;
      }
    }

    .location-col {
      display: table-cell;
      width: 18rem;
    }

    .date-col {
      width: 20rem;
    }

    td.date-col {
      font-size: 1.4rem;
    }
  }
}

@media (min-width: 1200px) {
  .pcp-comment-table {
    .vc-col {
      display: table-cell;
      width: 30rem
    }

    .pillar-col {
      display: table-cell;
      width: 10rem;
    }
  }
}

// Open House Dates
.open-house-table {
  thead {
    > tr {
      > th {
        padding-left: 1.5rem !important;
      }
    }
  }

  tbody {
    > tr {
      > td {
        vertical-align: top;
        padding-left: 1.5rem !important;
      }
    }
  }

  .date-col {
    width: 18rem;
    font-weight: 700;
  }
}

// Related Documents Tab
.pcp-related-docs {
  h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  P {
    margin-bottom: 2rem;
  }
}

// LINKED DOCUMENTS
.pcp-linked-documents {
  .col {
    &.size-col {
      flex-basis: 14%;
    }

    &.status-col {
      flex-basis: 20%;
    }

    &.type-col {
      flex-basis: 12%;
    }
  }
}

@media (max-width: 768px) {
  .pcp-linked-documents {
    .col {
      &.status-col,
      &.type-col {
        display: none;
      }

      &.size-col {
        flex-basis: 11rem;
      }
    }
  }
}

// EDIT DETAILS
.edit-pcp-details {
  max-width: 1280px;

  .date-picker {
    min-width: 100%;
    max-width: 100%;
  }
}

// Joint PCP
.pcp-joint {
  .tab-pane {
    padding-top: 3.5rem;
  }

  textarea {
    resize: none;
  }

  section {
    margin-bottom: 4rem;

    h2 {
      margin-bottom: 2.5rem;
      font-size: 2rem;

      + .help-block {
        margin-top: -1.75rem;
        margin-bottom: 1rem;
      }
    }
  }

  .set-pcp-date-range {
    .form-group {
      margin-right: 2rem;
      min-width: 17rem;
    }
  }

  .form-footer {
    padding-top: 2.5rem;
    border-top: 4px solid #ddd;
  }

  .pcp-role-list {
    margin-top: 1.5rem;
    padding: 0;
    list-style-type: none;

    li {
      padding: 1.25rem;
      border-bottom: 1px solid #eee;
      background: #fff;

      &.no-results {
        font-weight: bold;
        background-color: #ddd;
      }
    }
  }

  .pcp-linked-documents {
    li {
      &.no-results {
        font-weight: bold;
        background-color: #ddd;
      }
    }
  }
}
/*
Set the width on the related documents list, just for PCP, to handle very long file names.
Without this the layout is busted.
Don't want to apply this to all uses of fb-col-group.
 */
.pcp-linked-documents .fb-col-group {
  width: 100%
}


.public-comment-modal {
  section {
    padding-bottom: 0;
    border-bottom: 0;

    + section {
      margin-top: 1.5rem;
      padding-top: 2rem;
      border-top: 3px solid #ddd;
    }

    h2 {
      margin-bottom: 1.5rem;
      font-size: 2rem;

      sup {
        top: 0;
        margin-bottom: 0.5rem;
        display: block;
        line-height: normal;
        font-size: 1.6rem;
      }
    }

    h3 {
      margin-top: 0;
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }

  hr {
    border-top: 3px solid #ddd;
  }

  .pcp-posted-by-section {
    position: relative;

    .updated-by {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.65rem;
      font-weight: bold;
    }
  }

  .pcp-posted-by-info {
    margin-top: 0.25rem;
    color: #999;
    font-weight: bold;
  }

  .pcp-comment-attachments {
    margin-top: 2rem;
    margin-bottom: 2.5rem;

    .actions-col {
      padding: 0 1rem;

      .btn {
        margin-top: 0.5rem;
      }
    }
    .review-col {
      padding: 0;

      .btn-group {
        margin-top: 0.5rem;
      }

      .btn {
        min-width: 8rem;
        min-height: 3.4rem;
      }

      .label {
        margin-top: 0.5rem;
      }
    }
  }

  .pcp-comment-state-section {
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 3px solid #ddd;
  }

  .pcp-review-btns {
    .label {
      padding: 0.65rem;
      font-weight: bold;
      min-width: 8rem;
    }

    .btn {
      min-width: 8rem;
      min-height: 3.4rem;
    }

    .defer-btn,
    .publish-btn,
    .reject-btn {
      text-shadow: 1px 1px 0 #FFF;

      &.active {
        color: #FFF;
        text-shadow: none;
      }
    }

    .defer-btn {
      &.active {
        background: $info-bg;
        border-color: $info-border;
      }
    }

    .publish-btn {
      &.active {
        background: $success-bg;
        border-color: $success-border;
      }
    }

    .reject-btn {
      &.active {
        background: $danger-bg;
        border-color: $danger-border;
      }
    }
  }

  .comment-alert {
  margin-bottom: 2rem;
  display: none;
  }

  .show-more-link {
    margin-left: 0.25rem;
    font-weight: bold;
  }

  .pcp-review-files {
    display: block;

    .fb-list {
      .fb-col-group {
        max-width: 100%;
      }

      .col + .col {
        @include flex(0 0 auto);
        display: inherit;
        padding-left: 1.5rem;
      }
    }

    .file-size-progress-col {
      width: auto;

      .progress-msg {
        margin-top: 0.5rem;
        margin-right: 1.5rem;
        font-size: 1.4rem;
      }
    }

    .progress {
      display: none;
    }
  }
}

// Submit Comment Form
.pcp-comment-step {
  .nv-pair {
    label {
      width: 6rem;
    }
  }

  .checkbox {
    label {
      font-weight: bold;

      + .help-block {
        margin-top: 0.25rem;
        font-size: 1.4rem;
      }
    }
  }
}

.fb-list .fb-list-item.has-error {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  border: 1px solid #a94442;
}

// TOPIC CLOUD CONTAINER
.topic-cloud-container {
  width: 100%;
  height: calc(100% - 5.6rem);
  overflow: hidden;

  svg {
  width: 100%;
  height: 100%;
  }
}

.modal.img-view-modal {
  padding-left: 0 !important;
  overflow: hidden;

  .modal-header {
  color: #FFF;

  .close {
    font-size: 2.2rem;
    color: #FFF;
    text-shadow: none;
    opacity: 1;
  }
  }

  & ~ .temp-overlay {
  background: rgba(0,0,0,0.8);
  }
}
