
$pcp-alert-bg: #003366;
$pcp-alert-color: #fff;
$pcp-btn-border: 1px solid #5091cd;
$pcp-btn-bg: #5091cd;
$pcp-btn-hover-bg: #96c0e6;
$pcp-btn-color: #fff;
$pcp-btn-text-shadow: 1px 1px 0 #3c85c7;
$pcp-text-shadow: 1px 1px 1px #3478b6;

$pcp-open-badge-bg: #5091cd;
$pcp-pending-badge-bg: #666;
$pcp-closed-badge-bg: #5cb85c;
$pcp-comment-icon-color: #ccc;

.pcp-alert-container {
    margin-bottom: 2rem;
}

.pcp-table {
    td {
        &.date-col {
            font-weight: bold;
        }

        &.count-col {
            .glyphicon {
                margin-top: -0.2rem;
                margin-right: 0.5rem;
                color: #ccc;
                vertical-align: middle;
                font-size: 1.8rem;
            }

            .count {
                font-size: 1.2rem;
                font-weight: bold;
            }
        }

        &.status-col {
            .label {
                background-color: $pcp-comment-icon-color;
                text-transform: uppercase;

                &.closed,
                &.completed,
                &.unpublished {
                    background-color: $pcp-closed-badge-bg;
                }

                &.open {
                    background-color: $pcp-open-badge-bg;
                }

                &.pending {
                    background-color: $pcp-pending-badge-bg;
                }
            }
        }
    }
}

@media (max-width: 759px) {
    .pcp-table {
        thead {
            background: transparent !important;
            
            tr {
                position: relative;
                display: block;
                margin-bottom: 0.5rem;
                text-align: right;
            }
            
            th {
                display: inline-block;
                width: 50%;
                text-align: center !important;

                &.count-col,
                &.date-col,
                &.status-col {
                    @include flex(0 0 auto);
                }

                &.count-col,
                &.details-col {
                    display: none;
                }
            }
        }

        > tbody {
            display: block;

            > tr {
                position: relative;
                display: block;

                > td {
                    display: block;
                    padding: 1.25rem;
                    border: none;
                }
            }
        }

        td {
            &.actions-col {
                position: absolute;
                top: 1rem;
                right: 1rem;
            }

            &.count-col {
                position: absolute;
                top: 0;
                right: 0;
                width: 6rem;
                padding-right: 1.25rem !important;
                padding-left: 0;
                text-align: right;
            }

            &.date-col {
                padding-top: 1.25rem;
                padding-right: 1.25rem;
                padding-bottom: 1rem;
                padding-left: 1.25rem !important;
                font-size: 1.6rem;
            }

            &.details-col {
                padding-top: 0;
            }

            &.status-col {
                position: absolute;
                top: 0;
                right: 6rem;
                padding-right: 0;
                width: auto;

                .label {
                    min-width: 7rem;
                    font-size: 1rem;
                }
            }
        }

        &.can-edit {
            th.actions-col {
                display: none;
            }

            td {
                &.count-col {
                    right: 4rem;
                }

                &.status-col {
                    right: 11rem;
                }

                &.actions-col {
                    position: absolute;
                    top: 0;
                    right:0;

                    .btn-group {
                        top: 0.4rem;
                        right: 0.4rem;
                    }
                }
            }
        }
    }
}


@media (min-width: 760px) {
    .pcp-table {
        > tbody {
            > tr {
                > td {
                    padding: 1.5rem 0.5rem;
                    vertical-align: top;
                }
            }
        }

        .date-col {
            width: 12rem;
        }

        .status-col {
            width: 12rem;

            .label {
                min-width: 8rem;
            }
        }

        .count-col {
            width: 8.5rem;
            padding-right: 1rem;
        }
    }
}

@media (min-width: 1200px) {
    .pcp-table {
        .date-col {
            width: 14rem;
        }

        .status-col {
            width: 14rem;
        }

        .count-col {
            width: 8.5rem;
            padding-right: 1rem;
        }
    }
}


// Public Comment Period Alert Banner
.pcp-alert {
    @include flexbox();
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.25rem;
	background: $pcp-alert-bg;
	color: $pcp-alert-color;

    .pcp-alert-info {
        @include flex(1 1 auto);

        h2 {
            margin: 0;
            font-size: 2rem;
            font-weight: bold;
        }

        .pcp-dates {
            margin-top: 1rem;
            display: block;
            color: $pcp-btn-color;
        }
    }

    .pcp-alert-btns {
        @include flexbox();
        @include flex(0 0 auto);
        margin-top: 1.5rem;
        flex-direction: column;
        text-align: center;

        .btn {
            @include flex(1 1 auto);
            padding: 1rem;
            border: $pcp-btn-border;
            border-radius: 0.25rem;
            background-color: $pcp-btn-bg;
            color: $pcp-btn-color;
            text-shadow: $pcp-btn-text-shadow;
            font-size: 1.25rem;
            font-weight: bold;
            transition: background ease-out 0.2s;

            
            &:hover { 
                background: $pcp-btn-hover-bg;
            } 
            
            .glyphicon {
                margin-top: -0.5rem;
                margin-right: 0.2rem;
                margin-left: -0.1rem;
                vertical-align: middle;
                font-size: 1.2rem;
            }
        }

        .pcp-btn-spacer {
            @include flex(1 1 auto); 
            text-align: center;
        }
    }
}

@media (min-width: 410px) {
    .pcp-alert {
        .pcp-alert-info {
            h2 {
                font-size: 2rem;
            }

            .pcp-dates {
                margin-top: 0;
            }
        }

        .pcp-alert-btns {
            flex-direction: row;
            text-align: center;

            .pcp-btn-spacer {
                margin-top: 1.1rem;
            }
        }
    }
}

@media (min-width: 700px) {
    .pcp-alert {
        flex-direction: row;
        text-align: left;

        .pcp-alert-info {
            margin-right: 1rem;

            h2 {
                font-size: 1.8rem;
            }

            .pcp-dates {
                margin-top: 0;
                font-size: 1.6rem;
            }
        }

        .pcp-alert-btns {
            display: block;
            margin-top: 0;

            .btn {
                padding: 1.25rem 1.5rem;
            }

            .pcp-btn-spacer {
                margin-right: 0.5rem;
                margin-left: 0.5rem;
            }
        }
    }
}

@media (min-width: 760px) {
    .pcp-alert {
        .pcp-alert-info {
            h2 {
                font-size: 2.1rem;
            }
        }
    }
}

@media (min-width: 1200px) {
    .pcp-alert {
        .pcp-alert-info {
            h2 {
                font-size: 2.8rem;
            }
        }

        .pcp-alert-btns {
            @include flex(0 0 auto);
            margin-top: 0;

            .btn {
                padding: 1.3rem 1.75rem;
                font-size: 1.55rem;

                .glyphicon {
                    margin-top: -0.4rem;
                    margin-right: 0.2rem;
                    margin-left: -0.1rem;
                    vertical-align: middle;
                    font-size: 1.5rem;
                }
            }

            .pcp-btn-spacer {
                margin: 0 0.5rem;
            }
        }
    }
}

// Public Comment Period Details
.pcp-details {
	padding: 2.5rem 2rem;
	background-color: #FFF;

    .pcp-about {
		p {
			margin: 0;
			font-size: 1.4rem;
			line-height: 2.2rem;
		}
	}
}

// Comments Table
.comment-table {
    .id-col {
        width: 5rem;
        text-align: center;
    }

    .author-col {
        .author-name {
            display: block;
            padding-right: 15rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: bold;
        }
    }  

    .date-col {
        width: 16rem; 
        text-align: right;
    }

    .attachment-icon {
        margin-top: -0.4rem;
        margin-right: 1rem;
        vertical-align: middle;
    }

    .comment {
        display: block;
        margin-top: 1rem;
    }
}

@media (max-width: 460px) {
    .comment-table {
        id-col {
            width: 5rem;
        }
    }
}

@media (max-width: 1199px) {
    .comment-table {
        display: block;

        thead, tfoot {
            display: table;
            width: 100%;

            tr {
                display: table-row;
            }
        }

        tbody {
            display: block;

            tr {
                position: relative;
                display: block;
            }
        } 

        .location-col,
        .pillar-col,
        .vc-col {
            display: none;
        }

        td.date-col {
            position: absolute;
            top: 0;
            right: 0;

            .date {
                margin-top: 1px;
                font-size: 1.1rem;
            }
        }
    }
}

@media (min-width: 760px) {
    .comment-table {
        .id-col {
            width: 8rem;
        }

        .date-col {
            width: 20rem;
        }
    }
}

@media (min-width: 1200px) {
    .comment-table { 
        .location-col {
            width: 12rem;
        }

        .pillar-col {
            width: 11rem;
        }

        .vc-col {
            width: 15rem;
        }
    }
}

.pcp-date {
    max-width: 100%;
}

// Open House Dates
.open-house-table {
    thead {
        > tr {
            > th {
                padding-left: 1.5rem !important;
            }
        }
    }

    tbody {
        > tr {
            > td {
                vertical-align: top;
                padding-left: 1.5rem !important;
            }
        }
    }

    .date-col {
        width: 18rem;
        font-weight: 700;
    }
}