// Gray
$gray9:                         #212529;
$gray8:                         #343a40;
$gray7:                         #495057;
$gray6:                         #868e96;
$gray5:                         #adb5bd;
$gray4:                         #ced4da;
$gray3:                         #dee2e6;
$gray2:                         #e9ecef;
$gray1:                         #f1f3f5;
$gray0:                         #f8f9fa;