<section class="row">
    <div class='col-sm-10'>
        <h1 class="page-title">
            Users
        </h1>
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Edit Organization</h3>
            </div>

            <div class="panel-body">
                <tmpl-organizations-display-edit x-organization-id="{{editOrganization.organizationId}}"></tmpl-organizations-display-edit>
            </div>

        </div>
    </div>
    <div class='col-sm-2'>
        <tmpl-system-menu x-menu-context="'settings'"></tmpl-system-menu>
    </div>
</section>
