<div class="edit-user-view">
	
	<div class="view-title-container">
		<h1>Add/Edit User</h1>
	</div>
	
	<div class="view-body-container">

	<form name="userForm" ng-submit="save(userForm.$valid)" novalidate>

		<div class="row hidden">
			<div class="col-sm-12 text-right">
				<button class="btn btn-xs btn-link" ui-sref="admin.organization.detail({orgId: org._id})">Cancel</button>
				<button class="btn btn-xs btn-link" href type="submit">Save</button>
			</div>
		</div>
		
		<section>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="salutation" class="control-label">Salutation</label>
						<select class="form-control" ng-model="user.salutation" ng-options="sal as sal for sal in salutations"></select>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group" x-show-errors>
						<label for="firstName" class="control-label">First Name</label>
						<input id="firstName" name="firstName" ng-change="calculateName()" type="text" class="form-control input-sm" ng-model="user.firstName" required>
							<div ng-messages="userForm.firstName.$error" role="alert">
								<p class="help-block error-text" ng-message="required">First name is required.</p>
							</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="middleName" class="control-label">Middle Name</label>
						<input id="middleName" ng-change="calculateName()" type="text" class="form-control input-sm" ng-model="user.middleName">

					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group" x-show-errors>
						<label for="lastName" class="control-label">Last Name</label>
						<input id="lastName" name="lastName" ng-change="calculateName()" type="text" class="form-control input-sm" ng-model="user.lastName" required>
							<div ng-messages="userForm.lastName.$error" role="alert">
								<p class="help-block error-text" ng-message="required">Last name is required.</p>
							</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-9">
					<div class="form-group">
						<label for="displayName" class="control-label">Full Name</label>
						<input id="displayName" disabled=true type="text" class="form-control input-sm" ng-model="user.displayName">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group" x-show-errors>
						<label for="username" class="control-label">Username</label>
						<input id="username" name="username" type="text" class="form-control input-sm" ng-model="user.username" required>
							<div ng-messages="userForm.username.$error" role="alert">
								<p class="help-block error-text" ng-message="required">User name is required.</p>
							</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="phoneNumber" class="control-label">Phone Number</label>
						<input id="phoneNumber" type="text" class="form-control input-sm" ng-model="user.phoneNumber">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="faxNumber" class="control-label">Fax Number</label>
						<input id="faxNumber" type="text" class="form-control input-sm" ng-model="user.faxNumber">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="cellPhoneNumber" class="control-label">Mobile Number</label>
						<input id="cellPhoneNumber" type="text" class="form-control input-sm" ng-model="user.cellPhoneNumber">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group" x-show-errors>
						<label for="email" class="control-label">Email</label>
						<input id="email" name="email" type="text" class="form-control input-sm" ng-model="user.email" required>
							<div ng-messages="userForm.email.$error" role="alert">
								<p class="help-block error-text" ng-message="required">Email is required.</p>
							</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label for="notes" class="control-label">Contact Preferences</label>
					<div class="form-group form-inline">
						<div class="checkbox">
							<label><input id="viaEmail" name="viaEmail" type="checkbox" ng-model="user.viaEmail">via Email</label>
						</div>
						<div class="checkbox">
							<label><input id="viaMail" name="viaMail" type="checkbox" ng-model="user.viaMail">via Mail</label>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="address1" class="control-label">Address (Line 1)</label>
						<input id="address1" type="text" class="form-control input-sm" ng-model="user.address1">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<label for="address2" class="control-label">Address (Line 2)</label>
						<input id="address2" type="text" class="form-control input-sm" ng-model="user.address2">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="city" class="control-label">City</label>
						<input id="city" type="text" class="form-control input-sm" ng-model="user.city">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="province" class="control-label">Province</label>
						<input id="province" type="text" class="form-control input-sm" ng-model="user.province">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="country" class="control-label">Country</label>
						<input id="country" type="text" class="form-control input-sm" ng-model="user.country">
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<label for="postalCode" class="control-label">Postal Code</label>
						<input id="postalCode" type="text" class="form-control input-sm" ng-model="user.postalCode">
					</div>
				</div>
			</div>
		</section>
		
		<section>
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="orgName" class="control-label">Organization</label>
						<select class="form-control" ng-model="user.org" ng-options="org._id as org.name for org in orgs"></select>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="department" class="control-label">Department</label>
						<input id="department" type="text" class="form-control input-sm" ng-model="user.department">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group">
						<label for="title" class="control-label">Title</label>
						<input id="title" type="text" class="form-control input-sm" ng-model="user.title">
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="notes" class="control-label">Notes</label>
						<textarea id="notes" rows="6" class="form-control" ng-model="user.notes"></textarea>
					</div>
				</div>
				<div class="col-sm-3" ng-show="roles.length > 0">
					<label for="complaint" class="control-label">Roles</label>
					<select-array x-source-array="roles" x-selected-array='user.roles' x-key-string="code" x-value-string="name"></select-array>
				</div>
			</div>
		</section>
		
		<div class="form-footer no-border clearfix">
			<div class="pull-right">
				<button class="btn btn-default" ui-sref="admin.organization.detail({orgId: org._id})">Cancel</button>
				<button class="btn btn-primary" type="submit">Save</button>
			</div>
		</div>

	</form>
	
	</div><!-- / VIEW BODY CONTAINER -->

</div>


