
	<div class="view-title-container flex-row">
		<h1>Organizations <span ng-if="org.name">&nbsp;&rsaquo;&nbsp; {{ org.name }}</span></h1>
		<div class="actions">
			<a class="btn btn-sm btn-default" ui-sref="admin.organization.edit({orgId: org._id})"><span class="glyphicon glyphicon-pencil"></span><span>Edit</span></a>
		</div>
	</div>

	<div class="view-body-container">
		
		<div class="row hidden" ng-init="expandOrgView = true">
			<div class="col-sm-12 text-right">
				<a class="btn btn-xs btn-link" href ng-click="expandOrgView = !expandOrgView">
					<span ng-show="expandOrgView">Reduce Organization Detail</span>
					<span ng-show="!expandOrgView">Expand Organization Detail</span>
				</a>
				<a class="btn btn-xs btn-link" ui-sref="admin.organization.list">Cancel</a>
				<a class="btn btn-xs btn-link" ui-sref="admin.organization.edit({orgId: org._id})">Edit</a>
			</div>
		</div>
		
		<ul class="nav nav-tabs">
			<li role="presentation" class="active">
				<a href="#orgDetails" aria-controls="home" role="tab" data-toggle="tab">Organization Details</a>
			</li>
    		<li role="presentation">
				<a href="#orgUsers" aria-controls="profile" role="tab" data-toggle="tab">Contacts</a>
			</li>
		</ul>

		<div class="tab-content">
			
			<!-- DETAILS TAB CONTENT -->
			<div class="tab-pane active" id="orgDetails" role="tabpanel">

				<fieldset>
					<legend>General Info</legend>
					<div class="row" >
						<div class="col-md-3">
							<div class="form-group">
								<label for="name" class="control-label">Organization Name</label>
								<p class="form-control-static">{{ org.name }}</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="company" class="control-label">Display Name<em>(Doing Business As)</em></label>
								<p class="form-control-static">{{ org.company }}</p>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="companyLegal" class="control-label">Company Legal</label>
								<p class="form-control-static">{{ org.companyLegal }}</p>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="companyType" class="control-label">Organization Type</label>
								<p class="form-control-static">{{ organizationTypes.display(org.companyType) }}</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="form-group">
								<label for="registeredIn" class="control-label">Registered In</label>
								<p class="form-control-static">{{ organizationRegisteredIns.display(org.registeredIn) }}</p>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label for="website" class="control-label">Website</label>
								<p class="form-control-static">{{ org.website }}</p>
							</div>
						</div>
					</div>
				</fieldset>

				<fieldset>
					<legend>Mailing Address</legend>
					<div ng-show="expandOrgView">
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<div class="form-group">
									<label for="address1" class="control-label">Street Address 1</label>
									<p class="form-control-static">{{ org.address1 }}</p>
								</div>
							</div>    
							<div class="col-sm-12 col-md-6">
								<div class="form-group">
									<label for="address2" class="control-label">Street Address 2</label>
									<p class="form-control-static">{{ org.address2 }}</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<div class="form-group">
									<label for="city" class="control-label">City</label>
									<p class="form-control-static">{{ org.city }}</p>
								</div>
							</div>    
							<div class="col-sm-3">
								<div class="form-group">
									<label for="province" class="control-label">Province/State</label>
									<p class="form-control-static">{{ org.province }}</p>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label for="country" class="control-label">Country</label>
									<p class="form-control-static">{{ org.country }}</p>
								</div>
							</div>
							<div class="col-sm-3">
								<div class="form-group">
									<label for="postal" class="control-label">Postal/Zip Code</label>
									<p class="form-control-static">{{ org.postal }}</p>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</div><!-- / DETAILS TAB CONTENT -->
			
			<!-- USERS TAB CONTENT -->
			<div class="tab-pane" id="orgUsers" role="tabpanel">
				<div class="button-bar clearfix">
					<a class="btn btn-default btn-sm pull-left" ui-sref="admin.organization.user.create({orgId: org._id})">
						<span class="glyphicon glyphicon-plus"></span><span>Add Contact</span>
					</a>
					<div class="pull-right">
						<show-filter x-toggle-filter="toggleFilter"></show-filter>
					</div>
				</div>
				<div class="table-container">
					<table ng-table="tableParams" x-show-filter="toggleFilter" class="table table-striped table-hover">
						<tr ng-repeat="o in $data" class='clickable' ui-sref="admin.organization.user.detail({orgId: org._id, userId: o._id})">
							<td data-title="'Name'" filter="{'displayName':'text'}" sortable="'displayName'">{{o.displayName}}</td>
							<td data-title="'Username'" filter="{'username':'text'}" sortable="'username'">{{o.username}}</td>
							<td data-title="'Email'" filter="{'email':'text'}" sortable="'email'" >{{o.email}}</td>
							<td class="actions-col" header-class="'actions-col x2'">
								<div class="btns">
									<a class="btn icon-btn" ng-click="$event.stopPropagation()" ui-sref="admin.organization.user.edit({orgId: org._id, userId: o._id})">
										<span class="glyphicon glyphicon-pencil"></span>
									</a>
									<a class="btn icon-btn" title="Remvoe User from Organization" ng-click="$event.stopPropagation();removeUserFromOrg(o._id)">
										<span class="glyphicon glyphicon-trash"></span>
									</a>
								</div>
							</td>
						</tr>
						<tr class="no-records" ng-show="!$data || !$data.length" class="text-center">
							<td colspan="2">No records found.</td>
						</tr>
					</table>
				</div>
			</div><!-- / USERS TAB CONTENT -->
		</div>

	</div><!-- / VIEW BODY CONTAINER -->