<div class="dnd-drag-target-top" dnd-scroll-area dnd-region="top" dnd-scroll-container="collectionList"></div>
<ul id="collectionList"
    dnd-list 
    dnd-drop="vm.onDrop(item, index)">
    <li class="dnd-row" ng-repeat="item in vm.list" id="{{'dc0-' + item.document._id}}" ng-class="{'selected': item.selected}"
        dnd-draggable="vm.getSelectedItemsIncluding(item)"
        dnd-dragstart="vm.onDragstart( event, 'dc0-')"
        dnd-moved="vm.onMoved()"
        dnd-dragend="vm.onDragend(event)"
        dnd-selected="item.selected = !item.selected"
        ng-hide="vm.dragging && item.selected">

        <div class="dnd-row-inner">
            <span class="dnd-handle">
                <span class="glyphicon glyphicon-sort"></span>
            </span>

            <span class="dnd-content">
                <span class="col avatar">
                    <span class="fb-file glyphicon glyphicon-file"></span>
                </span>
                <span class="col name">{{ item.document.displayName }}</span>
                <span class="col date">{{ item.document.documentDate | date: 'y-MM-dd' }}</span>
                <span class="col status">
                    <span class="label label-unpublished" ng-if="!item.document.isPublished">{{ item.document.isPublished ? 'PUBLISHED' : 'UNPUBLISHED' }}</span>
                    <span class="label label-success" ng-if="item.document.isPublished">{{ item.document.isPublished ? 'PUBLISHED' : 'UNPUBLISHED' }}</span>
                </span>

            </span>
        </div>
    </li>
    <li class="dndPlaceholder"><span class="glyphicon glyphicon-arrow-right"></span> Move here<li>
</ul>
<div class="dnd-drag-target-bottom" dnd-scroll-area dnd-region="bottom" dnd-scroll-container="collectionList"></div>
