<div class="view-title-container flex-row">
    <h1>{{ collection.displayName }}</h1>
    <div class="actions">
        <button class="btn btn-default btn-sm" ui-sref="p.collection.list">Cancel</button>
        <button class="btn btn-success btn-sm" ng-if="collection.addedBy && !collection.isPublished" ng-click="publish()" type="button"><span class="glyphicon glyphicon-ok"></span><span>Publish</span></button>
        <button class="btn btn-warning btn-sm" ng-if="collection.addedBy && collection.isPublished" ng-click="unpublish()" type="button"><span>Unpublish</span></button>
        <button class="btn btn-danger btn-sm" ng-if="collection.addedBy" ng-click="delete()" type="button"><span class="glyphicon glyphicon-trash"></span><span>Delete</span></button>
        <button class="btn btn-default btn-sm" ui-sref="p.collection.edit({ collectionId:collection._id })" type="button">Edit</button>
    </div>
</div>

<div class="view-body-container collections-view">
    <section>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="displayName" class="control-label">Name</label>
                    <p class="form-control-static">{{ collection.displayName }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="type" class="control-label">Type</label>
                    <p class="form-control-static">{{ collection.type }}</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="date" class="control-label">Date</label>
                    <p class="form-control-static">{{ collection.date | amDateFormat:'MMMM DD, YYYY' }}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label for="description" class="control-label">Description</label>
                <p class="form-control-static">{{ collection.description }}</p>
            </div>
        </div>
    </section>
    <section class="main-doc-section">
        <div class="row">
            <div class="col-sm-12">
                <h2>Main Document</h2>
                <div class="button-bar">
                    <button class="btn btn-default btn-sm" title="Link Main Document"
                        x-document-mgr-link-modal x-project="project"
                        x-target="linkedMainDocument"
                        x-target-name="collection.displayName"
                        x-on-ok="updateMainDocument"><span class="glyphicon glyphicon-link"></span><span>Link Main Document</span>
                    </button>
                </div>
                <div class="table-container">
                    <table class="table" ng-table="mainTableParams">
                        <tr ng-repeat="d in $data" ng-click="goToDocument(d.document)">
                            <td data-title="'Name'" title: 'Name'>{{ d.document.displayName | removeExtension }}</td>
                            <td data-title="'Date'" title: 'Date'>{{ d.document.documentDate | amDateFormat:'MMMM DD, YYYY' }}</td>
                            <td data-title="'Uploaded'" title: 'Uploaded'>{{ d.document.dateUploaded | amDateFormat:'MMMM DD, YYYY' }}</td>
                            <td class="actions-col" header-class="'actions-col x1'">
                                <a class="btn icon-btn" title="Remove Main Document" ng-click="removeMainDocument(d.document)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                        <tr class="no-results" ng-if="!$data || $data.length === 0">
                            <td colspan="4">No document found.</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="row">
            <div class="col-sm-12">
                <h2>Other Documents</h2>
                    <div class="button-bar">
                        <button class="btn btn-default btn-sm" title="Link Other Documents"
                            x-document-mgr-link-modal x-project="project"
                            x-target="linkedOtherDocuments"
                            x-target-name="collection.displayName"
                            x-on-ok="updateOtherDocuments"><span class="glyphicon glyphicon-link"></span><span>Link Other Documents</span>
                        </button>
                        <button class="btn btn-default btn-sm"
                                title="Reorder"
                                x-reorder-collection-modal x-collection="collection" x-on-save="otherDocsReordered">
                            <span class="glyphicon glyphicon-sort"></span>
                            <span>Re-order Documents</span>
                        </button>
                    </div>
                    <div class="table-container">
                        <table class="table" ng-table="otherTableParams">
                            <tr ng-repeat="d in $data">
                                <td data-title="'Name'" title='Name' sortable="'Name'">{{ d.document.displayName | removeExtension }}</td>
                                <td data-title="'Date'" title='Date' sortable="'Date'">{{ d.document.documentDate | amDateFormat:'MMMM DD, YYYY' }}</td>
                                <td class="actions-col" header-class="'actions-col x1'">
                                    <a class="btn icon-btn" title="Remove Other Document" ng-click="removeOtherDocument(d.document)">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr class="no-results" ng-if="!$data || $data.length === 0">
                                <td colspan="4">No documents found.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
