<footer ng-class="{'mapactive': isMapActive}">
	<div class="container">
		<div class="row">

			<div class="col-md-4">
				<section>
					<h4>About this website...</h4>
					<p class="mb-0">The Ministry of Energy and Mines (MEM), Ministry of Environment (MOE), and Environmental Assessment Office (EAO) have collaborated to make information on the Province’s oversight of major mines in British Columbia accessible to the public.</p>
				</section>
			</div>

			<div class="col-md-4">
				<section>
					<h4>Navigate</h4>
					<h5>About Mining in British Columbia</h5>
					<ul>
						<li>
							<a ui-sref="mining-lifecycle">The Mining Lifecycle</a>
						</li>
						<li>
							<a ui-sref="topics">Topics of Interest</a>
						</li>
						<li>
							<a ui-sref="projects">Find Mines in British Columbia</a>
						</li>
					</ul>
					<h5>Our Processes &amp; Procedures</h5>
					<ul class="mb-0">
						<li>
							<a ui-sref="legislation">Legislation</a>
						</li>
						<li>
							<a ui-sref="authorizations">Authorizations</a>
						</li>
						<li>
							<a ui-sref="compliance-oversight">Compliance Oversight</a>
						</li>
					</ul>
				</section>
			</div>

			<div class="col-md-4">
				<section class="last">
					<h4>Connect With Us</h4>
					<p>BC Mine Information is continuously evolving. More information and features will be added to the site on an ongoing basis and we welcome feedback to help us decide what would be most valuable.</p>
					<a class="btn slide-r-btn inverted" ui-sref="connect-with-us"><span>Submit Feedback</span><i class="material-icons">arrow_forward</i></a>
				</section>
			</div>
		</div>

		<div class="footer-admin clearfix">
			<ul class="gov-links">
				<li><a href="#">Home</a></li>
				<li><a href="http://www2.gov.bc.ca/gov/content/home/copyright" target="_blank">Copyright</a></li>
				<li><a href="http://www2.gov.bc.ca/gov/content/home/disclaimer" target="_blank">Disclaimer</a></li>
				<li><a href="http://www2.gov.bc.ca/gov/content/home/privacy" target="_blank">Privacy</a></li>
				<li><a href="http://www2.gov.bc.ca/gov/content/home/accessibility" target="_blank">Accessibility</a></li>
			</ul>
			<ul class="connect-links">
				<li>
					<div class="fb-share-button" data-href="https://mines.nrs.gov.bc.ca" data-layout="button" data-size="large" data-mobile-iframe="true">
						<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmines.nrs.gov.bc.ca%2F&amp;src=sdkpreparse">
							<img src="/modules/core/client/images/facebook_circle.svg"/>
						</a>
					</div>
				</li>
				<li>
					<a class="twitter-share-button" href="https://twitter.com/share" data-show-count="false" target="_blank">
						<img src="/modules/core/client/images/twitter_circle.svg"/>
					</a>
					<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
				</li>
				<li>
					<a href="https://plus.google.com/share?url=mines.nrs.gov.bc.ca" onclick="javascript:window.open(this.href,
					'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><img
					src="/modules/core/client/images/google_circle.svg" alt="Share on Google+"/></a>
				</li>
			<ul>
		</div>
		
	</div>
</footer>