<div class="app-footer clearfix" id="app-footer" ng-cloak>
	<nav class="app-footer__nav" aria-controls="footerNav">
		<ul>
			<li>
				<a ui-sref="projects" title="Home">Home</a>
			</li>
			<li>
				<a title="BC Government Copyright Information" href="http://www.gov.bc.ca/com/copyright.html">Copyright</a>
			</li>
			<li>
				<a title="BC Government Warranty Disclaimer and Limitation of Liabilities Information" href="http://www.gov.bc.ca/com/disclaimer.html">Disclaimer</a>
			</li>
			<li>
				<a title="BC Government Privacy Information" href="http://www.gov.bc.ca/com/privacy.html">Privacy</a>
			</li>
			<li>
				<a title="BC Government Accessibility Information" href="http://www.gov.bc.ca/com/accessibility.html">Accessibility</a>
			</li>
			<li>
				<a title="Contact the BC Environmental Assessment Office" ui-sref="contact">Contact Us</a>
			</li>
			<li ng-show="!footer.authentication.user">
				<a ui-sref="authentication.signin">Log In (Siteminder)</a>
			</li>
			<li ng-show="!footer.authentication.user">
				<a href ui-sref="authentication.local">Log In (Local)</a>
			</li>
			<li ng-show="footer.authentication.user">
				<a href="/api/auth/signout" target="_self">Log Out</a>
			</li>
		</ul>
	</nav>
</div>