<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<header class="app-header">
  <div class="alert alert-warning row" style="display: -webkit-box; padding: 8px 15px; background: #fcba19;">
    <div style="padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; margin-left: 50px;">
        <i class="fas fa-exclamation" style="font-size:36px; padding-left: 20%; padding-top: 10px; color: #212529;"></i>
    </div>
    <div class="" style="padding-top: 15px; padding-bottom: 0px; padding-left: 10px;  margin-right: 160px;">
      <p style="color: #212529;">
        As part of our continuous improvement, we will be launching an updated version of the site at the end of May.
        To facilitate this work the only updates, between now and our launch, will be those necessary to meet our legislative requirements.
        During this time you will still be able to access all information and download documents.
      </p>
    </div>
  </div>
  <div class="navbar-header">
    <button class="navbar-toggle collapsed" type="button" data-target="#mainNav" data-toggle="collapse" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"></a>
  </div>

  <div class="collapse navbar-collapse" id="mainNav">
    <ul class="main-nav nav navbar-nav">
      <li>
        <a href="/">
          <span>Find EA Projects</span>
        </a>
      </li>
      <li ng-if="authentication.user">
        <a ui-sref="dashboard">My Projects </a>
      </li>
      <li ng-if="authentication.user">
        <a x-modal-day-calculator>Calculator</a>
      </li>
      <li class="dropdown" ng-if="systemMenu.shouldRender(authentication.user)">
        <a class="dropdown-toggle" ng-click="$event.preventDefault();" id="dropdownSystemMenu" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">System
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right" aria-labelledby="dropdownSystemMenu">
          <li class="main-nav__menu-item" ng-repeat="item in systemMenu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);"
            ng-class="{'active': $state.includes(item.state)}">
            <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
          </li>
          <li class="main-nav__menu-item" ng-if="application.userCan.manageRoles">
            <a href x-role-users-modal x-context="application">Edit System Roles</a>
          </li>
          <li class="main-nav__menu-item" ng-if="application.userCan.managePermissions">
            <a href x-role-permissions-modal x-context="application" x-object="application">Edit System Permissions</a>
          </li>
          <li class="main-nav__menu-item" ng-if="application.userCan.managePermissions">
            <a href x-export-modal x-context="application" x-object="application">Export Data</a>
          </li>
        </ul>
      </li>
      <li ng-if="!authentication.user">
        <a ui-sref="authentication.signin">
          <span>Log In</span>
        </a>
      </li>
      <li class="dropdown" ng-if="authentication.user">
        <a class="dropdown-toggle" href ng-click="$event.preventDefault();" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="true">{{ authentication.user.displayName }}
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right" aria-labelledby="userMenu">
          <li>
            <a x-modal-edit-my-profile href>
              <strong>Edit Profile</strong>
            </a>
          </li>
          <li>
            <a href="/api/auth/signout" ng-click="signout()" target="_self">
              <strong>Log Out</strong>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</header>
