
<header class="app-header">
	<div class="navbar-header">
		<button class="navbar-toggle collapsed" type="button" 
			data-target="#mainNav"
			data-toggle="collapse"  
			aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" ui-sref="projects"></a>
	</div>
	<div class="collapse navbar-collapse" id="mainNav">
		<ul class="main-nav nav navbar-nav">
			<!--
			<li class="dropdown">
				<a class="dropdown-toggle" id="findProjects" data-toggle="dropdown" 
					ng-click="$event.preventDefault();"
					aria-haspopup="true"
					aria-expanded="true">Find EA Projects <span class="caret"></span>
				</a>
				<ul class="dropdown-menu pull-right" aria-labelledby="findProjects">
					<li class="main-nav__menu-item">
						<a href="http://www.esm-master.pathfinder.gov.bc.ca/project">
							<strong>Find Projects by List</strong>
							<span class="main-nav__menu-item--description">View a list of Environmental Assessment Office projects in British Columbia</span>
						</a>
					</li>
					<li class="main-nav__menu-item">
						<a href="http://www.esm-master.pathfinder.gov.bc.ca/map" target="_self">
							<strong>Find Projects by Map</strong>
							<span class="main-nav__menu-item--description">Use our interactive map to locate Environmental Assessment Office projects across British Columbia</span>
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="http://www.esm-master.pathfinder.gov.bc.ca/news">
					<span>Activities & Updates</span>
				</a>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" id="eaProcess" data-toggle="dropdown" 
					ng-click="$event.preventDefault();"
					aria-haspopup="true"
					aria-expanded="true">The EA Process <span class="caret"></span>
				</a>
				<ul class="dropdown-menu pull-right" aria-labelledby="eaProcess">
					<li class="main-nav__menu-item">
						<a href="http://www.esm-master.pathfinder.gov.bc.ca/legislation">
							<strong>Legislation</strong>
							<span class="main-nav__menu-item--description">Learn about the legislation and regulations that apply to environmental assessments in the province of British Columbia.</span>
						</a>
					</li>
					<li class="main-nav__menu-item">
						<a href="http://www.esm-master.pathfinder.gov.bc.ca/process" target="_self">
							<strong>Process & Procedures</strong>
							<span class="main-nav__menu-item--description">Learn more about how the Environmental Assessment Office neutrally administers a process that holds all participants accountable.</span>
						</a>
					</li>
					<li class="main-nav__menu-item">
						<a href="http://www.esm-master.pathfinder.gov.bc.ca/compliance-oversight" target="_self">	
							<strong>Compliance Oversight</strong>
							<span class="main-nav__menu-item--description">Learn about how we collaborate with other agencies to coordinate oversight of environmental assessment projects.</span>
						</a>
					</li>
				</ul>
			</li>
			-->
			<li ui-sref="projects">
				<a ui-sref="dashboard">Home</a>
			</li>
			<li ng-if="authentication.user">
				<a ui-sref="dashboard">My Projects</a>
			</li>
			<li class="dropdown" ng-if="systemMenu.shouldRender(authentication.user)">
				<a class="dropdown-toggle" 
					ng-click="$event.preventDefault();" id="dropdownSystemMenu" data-toggle="dropdown" 
					aria-haspopup="true"
					aria-expanded="true">System <span class="caret"></span>
				</a>
				<ul class="dropdown-menu pull-right" aria-labelledby="dropdownSystemMenu">
					<li class="main-nav__menu-item" 
						ng-repeat="item in systemMenu.items | orderBy: 'position'" 
						ng-if="item.shouldRender(authentication.user);"
						ng-class="{'active': $state.includes(item.state)}">
						<a ui-sref="{{item.state}}" ng-bind="item.title"></a>
					</li>
					<li class="main-nav__menu-item" ng-if="application.userCan.manageRoles">
						<a href x-role-users-modal x-context="application">Edit System Roles</a>
					</li>
					<li class="main-nav__menu-item" ng-if="application.userCan.managePermissions">
						<a href x-role-permissions-modal x-context="application" x-object="application">Edit System Permissions</a>
					</li>
				</ul>
			</li>
			<li ng-if="authentication.user">
				<a x-modal-day-calculator>Calculator</a>
			</li>
			<li>
				<a ui-sref="contact">
					<span>Contact</span>
				</a>
			</li>
			<li>
				<a ui-sref="guidance">
					<span>Guidance</span>
				</a>
			</li>
			<li ng-if="!authentication.user">
				<a ui-sref="authentication.signin">
					<span>Log In</span>
				</a>
			</li>
			<li class="dropdown" ng-if="authentication.user">
				<a class="dropdown-toggle user-details" href ng-click="$event.preventDefault();" id="userMenu" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="true">{{ authentication.user.displayName }} <span class="caret"></span>
				</a>
				<ul class="dropdown-menu pull-right" aria-labelledby="userMenu">
					<li><a x-modal-edit-my-profile href><strong>Edit Profile</strong></a></li>
					<li><a href="/api/auth/signout" target="_self"><strong>Log Out</strong></a></li>
				</ul>
			</li>
		</ul>
	</div>
</header>
