<section id="menu-side" style="position: fixed;">
<!--
<div class="container" ng-controller="HeaderController">
  <div class="navbar-header">
	<button class="navbar-toggle" type="button" ng-click="toggleCollapsibleMenu()">
	  <span class="sr-only">Toggle navigation</span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a ui-sref="home" class="navbar-brand">MEAN.JS</a>
  </div>
  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
	<ul class="nav navbar-nav" ng-if="menu.shouldRender(authentication.user);">
	  <li ng-repeat="item in menu.items | orderBy: 'position'" ng-if="item.shouldRender(authentication.user);" ng-switch="item.type" ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
		<a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button">{{::item.title}}&nbsp;<span class="caret"></span></a>
		<ul ng-switch-when="dropdown" class="dropdown-menu">
		  <li ng-repeat="subitem in item.items | orderBy: 'position'" ng-if="subitem.shouldRender(authentication.user);" ui-sref-active="active">
			<a ui-sref="{{subitem.state}}" ng-bind="subitem.title"></a>
		  </li>
		</ul>
		<a ng-switch-default ui-sref="{{item.state}}" ng-bind="item.title"></a>
	  </li>
	</ul>
	<ul class="nav navbar-nav navbar-right" ng-hide="authentication.user">
	  <li ui-sref-active="active">
		<a ui-sref="authentication.signup">Sign Up</a>
	  </li>
	  <li class="divider-vertical"></li>
	  <li ui-sref-active="active">
		<a ui-sref="authentication.signin">Sign In</a>
	  </li>
	</ul>
	<ul class="nav navbar-nav navbar-right" ng-show="authentication.user">
	  <li class="dropdown" dropdown>
		<a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
		  <img ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
		  <span ng-bind="authentication.user.displayName"></span> <b class="caret"></b>
		</a>
		<ul class="dropdown-menu" role="menu">
		  <li ui-sref-active="active">
			<a ui-sref="settings.profile">Edit Profile</a>
		  </li>
		  <li ui-sref-active="active">
			<a ui-sref="settings.picture">Change Profile Picture</a>
		  </li>
		  <li ui-sref-active="active" ng-show="authentication.user.provider === 'local'">
			<a ui-sref="settings.password">Change Password</a>
		  </li>
		  <li ui-sref-active="active">
			<a ui-sref="settings.accounts">Manage Social Accounts</a>
		  </li>
		  <li class="divider"></li>
		  <li>
			<a href="/api/auth/signout" target="_self">Signout</a>
		  </li>
		</ul>
	  </li>
	</ul>
  </nav>
</div>
 -->

	<ul class="list-unstyled">
<!-- 		<li><a x-modal-alerts-viewer class="text-danger">Alerts</a></li> -->
		<li><a ui-sref="projects" href>All Projects</a></li>
		<li><a ui-sref="project, {id: menu.project._id}" href>{{ menu.project.name }}</a></li>
		<li><a ng-click="menu.goToPrevious()" href>Back</a></li>
	</ul>
	<div ng-show="menu.authentication.user">
		<hr>
		<ul class="list-unstyled">
			<li><a href ui-sref="settings.profile">My Tasks</a></li>
	  	</ul>
	</div>	
	<div ng-if="menu.context === 'projects'">
	 	<hr>
		<label class="control-label">Projects</label>
		<ul class="list-unstyled">
			<li><a du-smooth-scroll ng-if="menu.showMenu('anchor-map')" href="#anchor-map">Map</a></li>
			<li><a du-smooth-scroll ng-if="menu.showMenu('anchor-schedule')" href="#anchor-schedule">Schedule</a></li>
			<li><a du-smooth-scroll ng-if="menu.showMenu('anchor-recent')" href="#anchor-recent">Recent Activity</a></li>
			<li><a du-smooth-scroll ng-if="menu.showMenu('anchor-search')" href="#anchor-search">Search</a></li>
		</ul>
		<ul class="list-unstyled" ng-show="menu.projectsMenu.shouldRender(menu.authentication.user);">
			<li ng-repeat="item in menu.projectsMenu.items | orderBy: 'position'" ng-if="item.shouldRender(menu.authentication.user);" ng-class="{ active: $state.includes(item.state) }" class="{{item.class}}">
				<a ui-sref="{{item.state}}" ng-bind="item.title"></a>
			</li>
		</ul>
		<ul class="list-unstyled" ng-show="menu.authentication.user">
			<li><a x-modal-project-entry href>Add Project</a></li>
		</ul>
	</div>
	<div ng-if="menu.context === 'project'">
	 	<hr>
		<label class="control-label">{{ menu.project.name }}</label>
		<ul class="list-unstyled">
			<li><a du-smooth-scroll ng-if="menu.showMenu('anchor-tombstone')"		href="#top">Tombstone</a></li>
			<li><a du-smooth-scroll ng-if="menu.showMenu('anchor-publiccomments')"	href="#anchor-publiccomments">Public Comments</a></li>
			<li><a du-smooth-scroll ng-if="menu.showMenu('anchor-documents')"		href="#anchor-documents">Documents</a></li>
			<li><a du-smooth-scroll ng-if="menu.showMenu('anchor-activities')"		href="#anchor-activities">Activities</a></li>
			<li><a du-smooth-scroll ng-if="menu.showMenu('anchor-map')"				href="#anchor-map">Map</a></li>
		</ul>
		<ul class="list-unstyled" ng-show="menu.projectMenu.shouldRender(menu.authentication.user);">
			<li ng-repeat="item in menu.projectMenu.items | orderBy: 'position'" ng-if="item.shouldRender(menu.authentication.user);" ng-class="{ active: $state.includes(item.state) }" class="{{item.class}}">
				<a ui-sref="{{item.state}}" ng-bind="item.title"></a>
			</li>
		</ul>
		<ul class="list-unstyled">
			<li><a x-modal-project-entry href>Add Project</a></li>
			<li><a x-modal-project-entry href x-project="menu.project">Edit {{ menu.project.name }}</a></li>
			<li><a x-modal-project-schedule href x-project="menu.project">Edit Schedule</a></li>
		</ul>		
	</div>	
	<div ng-show="menu.systemMenu.shouldRender(menu.authentication.user);">
		<hr>
		<label class="control-label">System</label>
		<ul class="list-unstyled">
			<li ng-repeat="item in menu.systemMenu.items | orderBy: 'position'" ng-if="item.shouldRender(menu.authentication.user);" ng-class="{ active: $state.includes(item.state) }" class="{{item.class}}">
				<a ui-sref="{{item.state}}" ng-bind="item.title"></a>
			</li>
		</ul>
	</div>
	<div ng-show="menu.authentication.user">
		<hr>
		<label class="control-label">User</label>
		<ul class="list-unstyled">
			<li><a href ui-sref="settings.profile">Profile</a></li>
			<li><a href="/api/auth/signout" target="_self">Logout</a></li>
	  	</ul>
	</div>	
	<hr>
	<tmpl-quick-links></tmpl-quick-links>
</div>