<section id="menu-side" class="sidenav">

	<!-- PUBLIC USERS (COMMON) -->
	<div ng-show="!menu.authentication.user">
		<ul class="list-unstyled">
			<li><a ui-sref="p.detail" href>Project Details</a></li>
			  <!-- <li ng-if="ENV === 'EAO'"><a ui-sref="p.enforcements" href>Compliance Oversight</a></li> -->
     		<li><a ui-sref="p.documents" href>Documents</a></li>
     		<li><a ui-sref="p.commentperiod.list" href>Public Comment Periods</a></li>
		</ul>
	</div><!-- / PUBLIC USERS (COMMON) -->

	<div ng-if="(menu.context === 'projects' || menu.context === 'mylist') && menu.pageAnchors('anchor-group-projects')" id="anchor-group-projects">
		<ul class="list-unstyled">
			<li><a du-smooth-scroll  href="#anchor-map">Map</a></li>
			<li><a du-smooth-scroll  href="#anchor-list">List</a></li>
			<li><a du-smooth-scroll  href="#anchor-recent">Recent News</a></li>
			<li><a du-smooth-scroll  href="#anchor-schedule">Schedule</a></li>
		</ul>
	</div>

	<div ng-if="(menu.context === 'projects' || menu.context === 'mylist') && menu.projectsMenu.shouldRender(menu.authentication.user, menu.project);">
		<ul class="list-unstyle">
			<li ng-repeat="item in menu.projectsMenu.items | orderBy: 'position'" ng-if="item.shouldRender(menu.authentication.user, menu.project);" ng-class="{ active: $state.includes(item.state) }" class="{{item.class}}">
				<a ui-sref="{{item.state}}" ng-bind="item.title"></a>
			</li>
		</ul>
	</div>

	<div ng-if="(menu.context === 'project' || menu.context === 'activity') && menu.pageAnchors('anchor-group-project');" id="anchor-group-project">
		<hr>
		<ul class="list-unstyled">
			<li><a du-smooth-scroll 	href="#anchor-tombstone">Overview</a></li>
			<li><a du-smooth-scroll 	href="#anchor-timeline">Timeline</a></li>
			<li><a du-smooth-scroll 	href="#anchor-enforcement">Enforcement</a></li>
			<li><a du-smooth-scroll 	href="#anchor-publiccomments">Public Comments</a></li>
			<li><a du-smooth-scroll 	href="#anchor-artifacts">Artifacts</a></li>
			<li><a du-smooth-scroll 	href="#anchor-activities">Activities</a></li>
			<li><a du-smooth-scroll 	href="#anchor-documents">Documents</a></li>
			<li><a du-smooth-scroll 	href="#anchor-map">Map</a></li>
		</ul>
	</div>

	<!-- PROJECT MENU - AUTHENTICATED -->
	<div ng-if="(menu.context === 'project' || menu.context === 'activity') && menu.authentication.user">
		<ul class="list-unstyled">
			<li><a ui-sref="p.detail({projectid: menu.project.code})">Project Detail</a></li>
		</ul>

		<!-- PROJECT CLIENT MENUS (project.client.menus.js) -->
		<ul class="list-unstyled" ng-show="menu.authentication.user">
			<li ng-repeat="item in menu.projectTopMenu.items | orderBy: 'position'" ng-if="item.shouldRender(menu.authentication.user, menu.project);"
			    ng-class="{ 'active': $state.includes(item.state) }" class="{{item.class}}">
				<a ui-sref="{{item.state}}" ng-bind="item.title"></a>
			</li>
		</ul><!-- / PROJECT CLIENT MENUS -->

		<!-- <ul class="list-unstyled" ng-show="menu.projectMenu.shouldRender(menu.authentication.user, menu.project)"> -->
		<ul class="list-unstyled">
			<li ng-repeat="item in menu.projectMenu.items | orderBy: 'position'"
			    ng-if="item.shouldRender(menu.authentication.user, menu.project);"
					ng-class="{ active: $state.includes(item.state) }" class="{{item.class}}">
				  <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
			</li>
		</ul>
    <!--
		<ul class="list-unstyled" ng-show="menu.authentication.user">
			<li>
				<a ui-sref="p.workinggroup.list">Working Group</a>
			</li>
			<li>
				<a x-modal-set-object-permissions href x-project="menu.project" x-target-object="menu.project" x-target-object-type="'projects'">Set Object Permissions</a>
			</li>
		</ul>
		-->
  </div><!-- / PROJECT MENU - AUTHENTICATED -->
<div ng-if="menu.authentication.user">
	<tmpl-permissions-gear x-context="menu.project" x-object="menu.project"></tmpl-permissions-gear>
	<tmpl-roles-gear x-context="menu.project"></tmpl-roles-gear>
</div>

</section>


