<section id="menu-side" class="sidenav">

	<!-- Common on all pages Logged In -->
	<div class="hidden" ng-show="menu.authentication.user">
		<ul class="list-unstyled">
			<li><a ui-sref="projects" href>All Projects</a></li>
			<!-- <li><a href ui-sref="projects.schedule">Schedule</a></li> -->
		</ul>
	</div>

	<!-- Common on all pages Not Logged In -->
	<div class="hidden" ng-show="!menu.authentication.user">
		<ul class="list-unstyled">
			<li><a ui-sref="projects" href>All Projects</a></li>
		</ul>
	</div>

	<div ng-if="(menu.context === 'projects' || menu.context === 'mylist') && menu.pageAnchors('anchor-group-projects')" id="anchor-group-projects">
		<hr>
		<ul class="list-unstyled">
			<li><a du-smooth-scroll  href="#anchor-map">Map</a></li>
			<li><a du-smooth-scroll  href="#anchor-list">List</a></li>
			<li><a du-smooth-scroll  href="#anchor-recent">Recent News</a></li>
			<li><a du-smooth-scroll  href="#anchor-schedule">Schedule</a></li>
		</ul>
	</div>


	<div ng-if="(menu.context === 'projects' || menu.context === 'mylist') && menu.projectsMenu.shouldRender(menu.authentication.user);">
		<hr>
		<ul class="list-unstyled">
			<li ng-repeat="item in menu.projectsMenu.items | orderBy: 'position'" ng-if="item.shouldRender(menu.authentication.user);" ng-class="{ active: $state.includes(item.state) }" class="{{item.class}}">
				<a ui-sref="{{item.state}}" ng-bind="item.title"></a>
			</li>
		</ul>
	</div>


	<div ng-if="(menu.context === 'project' || menu.context === 'activity') && menu.pageAnchors('anchor-group-project');" id="anchor-group-project">
		<hr>
		<ul class="list-unstyled">
			<li><a du-smooth-scroll 	href="#anchor-tombstone">Overview</a></li>
			<li><a du-smooth-scroll 	href="#anchor-timeline">Timeline</a></li>
			<li><a du-smooth-scroll 	href="#anchor-enforcement">Enforcement</a></li>
			<li><a du-smooth-scroll 	href="#anchor-publiccomments">Public Comments</a></li>
			<li><a du-smooth-scroll 	href="#anchor-artifacts">Artifacts</a></li>
			<li><a du-smooth-scroll 	href="#anchor-activities">Activities</a></li>
			<li><a du-smooth-scroll 	href="#anchor-documents">Documents</a></li>
			<li><a du-smooth-scroll 	href="#anchor-map">Map</a></li>
		</ul>
	</div>

	<div ng-if="(menu.context === 'project' || menu.context === 'activity') && menu.authentication.user">
		
		<ul class="list-unstyled">
			<li><a ui-sref="p.detail({projectid: menu.project.code})">Project Detail</a></li>
		</ul>
		
		<ul class="list-unstyled" ng-show="menu.authentication.user">
			<li ng-repeat="item in menu.projectTopMenu.items | orderBy: 'position'" ng-if="item.shouldRender(menu.authentication.user, menu.project.code);"
			    ng-class="{ 'active': $state.includes(item.state) }" class="{{item.class}}">
				<a ui-sref="{{item.state}}" ng-bind="item.title"></a>
			</li>
<!-- 			<li ng-if="menu.isEAO">
				<a x-modal-project-schedule href x-project="menu.project">Project Schedule</a>
			</li> -->
		</ul>
		
		<ul class="list-unstyled" ng-show="menu.projectMenu.shouldRender(menu.authentication.user, menu.project.code)">
			<li ng-repeat="item in menu.projectMenu.items | orderBy: 'position'"
			    ng-if="item.shouldRender(menu.authentication.user, menu.project.code);"
					ng-class="{ active: $state.includes(item.state) }" class="{{item.class}}">
				  <a ui-sref="{{item.state}}" ng-bind="item.title"></a>
			</li>
		</ul>
		
		<ul class="list-unstyled" ng-show="menu.authentication.user">
			<li><a ui-sref="p.workinggroup.list">Working Group</a></li>
		</ul>
	</div>
	
</div>


