<div class="spinner-container" ng-show="s.busy">
	<div class="spinner-new rotating"></div>
	<!--div>{{s.progressMsg}}</div-->
</div>
<div class="modal-header">
	<button class="btn btn-default close" ng-click="s.cancel()"><span aria-hidden="true">×</span></button>
	<h3 class="modal-title">Edit Roles &nbsp;&rsaquo;&nbsp; {{s.name}}</h3>
</div>

<div class="modal-body">

	<!-- TABS -->
	<ul class="tab-container nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href ng-click="s.userView = !s.userView" role="tab" data-toggle="tab">By User</a></li>
		<li role="presentation"><a href ng-click="s.userView = !s.userView" role="tab" data-toggle="tab">By Roles</a></li>
	</ul>
	<!-- / TABS -->

	<!-- SET BY USERS -->
	<div class="tab-pane" ng-show="s.userView">
		<div class="form-group select-permission">
			<label class="control-label">Select User</label>
			<select class="form-control" id="user" ng-model="s.currentUser" ng-options="user.lastName +', '+ user.firstName for user in s.allUsers | orderBy: 'lastName'"></select>
			<button ng-if="s.context.userCan.addUsersToContext" class="btn btn-default btn-sm" type="button"
				x-user-search-chooser
				x-title="'Select Contacts'"
				x-project="s.context"
				x-destination="contacts">
				<span class="glyphicon glyphicon-plus"></span><span>Add User</span>
			</button>
    	</div>
		<div class="form-group manage-permission no-margin">
			<label class="control-label">Manage Roles for User</label>
			<tmpl-role-new context="s.context" class="new-role-btn" ng-if="s.context.userCan.createRole"></tmpl-role-new>
		</div>
		<div class="panel panel-default">
			<div class="table-container">
				<table class="user-search-table table table-hover">
					<tr ng-class="{'active': s.roleSelect(s.currentUser, role)}"
						ng-repeat="role in s.allRoles">
						<td class="col checkbox-col"
							header-class="'col checkbox-col'">
							<div>
								<input type="checkbox"
								ng-model="s.userRoleIndex.user[s.currentUser.username][role]"
								ng-change="s.clickRole(s.currentUser, role, s.userRoleIndex.user[s.currentUser.username][role])"
								ng-disabled="!s.currentUser"
								id="{{role}}"/>
								<label for="{{role}}">
									<span class="glyphicon glyphicon-ok"></span>
								</label>
							</div>
						</td>
						<td class="name-col">
							{{ role }}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<!-- SET BY ROLE -->
	<div class="tab-pane" ng-show="!s.userView">
		<div class="form-group select-permission">
			<label class="control-label" for="role">Select Role</label>
			<select class="form-control" id="role" ng-model="s.currentRole" ng-options="p as p for p in s.allRoles"></select>
			<tmpl-role-new context="s.context" ng-if="s.context.userCan.createRole"></tmpl-role-new>
		</div>
		<div class="form-group manage-permission no-margin">
			<label class="control-label">Manage Users for Role</label>
      		<button ng-if="s.context.userCan.addUsersToContext" class="btn btn-default btn-sm" type="button"
				x-user-search-chooser
				x-title="'Select Contacts'"
				x-project="s.context"
				x-destination="contacts">
				<span class="glyphicon glyphicon-plus"></span><span>Add User</span>
			</button>
		</div>
		<div class="panel panel-default">
			<div class="table-container">
				<table class="user-search-table table table-hover">
					<tr ng-class="{'active': s.userSelect(u, s.currentRole)}"
						ng-repeat="u in s.allUsers | orderBy: 'lastName'">
						<td class="col checkbox-col"
							header-class="'col checkbox-col'">
							<div>
								<input type="checkbox" 
								ng-model="s.userRoleIndex.role[s.currentRole][u.username]"
								ng-disabled="!s.currentRole"
								ng-change="s.clickUser(u, s.currentRole, s.userRoleIndex.role[s.currentRole][u.username])"
								id="{{u}}"/>
								<label for="{{u}}">
									<span class="glyphicon glyphicon-ok"></span>
								</label>
							</div>
						</td>
						<td class="name-col">
							{{u.lastName}},&nbsp;{{u.firstName}}
						</td>
					</tr>
				</table>
			</div>	
		</div>
	<!-- SET BY ROLE -->

</div>

<div class="modal-footer">
	<button class="btn btn-default" ng-click="s.cancel()">Cancel</button>
	<button class="btn btn-primary" ng-disabled="!s.dirty" ng-click="s.ok()">OK</button>
</div>
