<div class="modal-header">
	<button class="btn btn-default close" ng-click="s.cancel()"><span aria-hidden="true">×</span></button>
	<h3 class="modal-title">Edit Permissions &nbsp;&rsaquo;&nbsp; {{s.name}}</h3>
</div>

<div class="modal-body">

	<!-- TABS -->
	<ul class="tab-container nav nav-tabs" role="tablist">
		<li class="active" role="presentation">
			<a href ng-click="s.permissionView = !s.permissionView" role="tab" data-toggle="tab">By Permission</a>
		</li>
		<li role="presentation">
			<a href ng-click="s.permissionView = !s.permissionView" role="tab" data-toggle="tab">By Role</a>
		</li>
	</ul><!-- / TABS -->

	<!-- SET BY ACTION -->
	<div class="tab-pane" ng-show="s.permissionView">
		<div class="form-group select-permission">
			<label>Select Permission</label>
			<select class="form-control" id="permission" ng-model="s.currentPermission" ng-options="p as p for p in s.allPermissions"></select>
		</div>
		<div class="form-group manage-permission no-margin">
			<label class="control-label">Manage Roles for Permission</label>
			<tmpl-role-new class="new-role-btn" context="s.context" ng-if="s.context.userCan.createRole"></tmpl-role-new>
		</div>
		<div class="panel panel-default">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="role in s.allRoles | orderBy">
					<div class="checkbox">
						<label>
							<input type="checkbox"
								   ng-disabled="!s.currentPermission"
								   ng-change="s.clickRole(s.currentPermission, role, s.permissionRoleIndex.permission[s.currentPermission][role])"
								ng-model="s.permissionRoleIndex.permission[s.currentPermission][role]" >
								{{ role }}
							</input>
						</label>
					</div>
				</li>
			</ul>
		</div>
	</div><!-- / SET BY ACTION -->

	<!-- SET BY ROLE -->
	<div class="tab-pane" ng-show="!s.permissionView">
		<div class="form-group select-permission">
			<label class="control-label">Select Role</label>
			<select class="form-control" id="role" ng-model="s.currentRole" ng-options="p as p for p in s.allRoles"></select>
			<tmpl-role-new context="s.context" ng-if="s.context.userCan.createRole"></tmpl-role-new>
		</div>
		<label>Manage Permissions for Role</label>
		<div class="panel panel-default">
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="permission in s.allPermissions | orderBy">
					<div class="checkbox">
						<label>
							<input type="checkbox"
							ng-disabled="!s.currentRole"
							ng-change="s.clickPermission(permission, s.currentRole, s.permissionRoleIndex.role[s.currentRole][permission])"
							ng-model="s.permissionRoleIndex.role[s.currentRole][permission]" >
							{{ permission }}
							</input>
						</label>
					</div>
				</li>
			</ul>
		</div>
	</div><!-- / SET BY ROLE -->

</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="s.cancel()">Cancel</button>
	<button class="btn btn-primary" ng-disabled="!s.dirty" ng-click="s.ok()">OK</button>
</div>
