<h1 class="page-title no-lower-margin">
	Add / Edit Complaint
</h1>

<div class="row">
	<div class="col-sm-12 text-right">
		<a class="btn btn-xs btn-link" ui-sref="p.complaint.list">Cancel</a>
		<a class="btn btn-xs btn-link" href ng-click="save()">Save</a>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">

			<div class="col-sm-8">
				<div class="form-group">
					<label for="complainant" class="control-label">Complainant</label>
					<input id="complainant" ng-model='complaint.complainant' class="form-control input-sm" />
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="stage" class="control-label">Stage</label>
					<select id="stage" ng-model='complaint.stage' class="form-control input-sm" ng-options="v as v for v in stages"></select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">
				<div class="form-group">
					<label for="complaint" class="control-label">Complaint Description</label>
					<textarea id="complaint" type="text" class="form-control input-sm" ng-model="complaint.complaint" rows=10></textarea>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="stage" class="control-label">Applicable Value Components</label>
					<select-array x-source-array="d.vcs" x-selected-array='complaint.vcs'></select-array>
				</div>
			</div>			
		</div>
		
		<hr>

		<div class="text-right">
			<a class="btn btn-default" ui-sref="p.complaint.list">Cancel</a>
			<a class="btn btn-default" href ng-click="save()">Save</a>
		</div>

	</div>
</div>

