<h1 class="page-title no-lower-margin">
	Complaint for {{ project.name }}
</h1>

<div class="row">
	<div class="col-sm-12 text-right">
		<a class="btn btn-xs btn-link" ui-sref="p.complaint.list">Cancel</a>
		<a class="btn btn-xs btn-link" ui-sref="p.complaint.edit({complaintId:complaint._id})">Edit</a>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">

		<div class="row">

			<div class="col-sm-8">
				<div class="form-group">
					<label for="complainant" class="control-label">Complainant</label>
					<p class="form-control-static">{{ complaint.complainant }}</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="stage" class="control-label">Stage</label>
					<p class="form-control-static">{{ complaint.stage }}</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-8">
				<div class="form-group">
					<label for="complaint" class="control-label">Complaint Description</label>
					<p class="form-control-static" ng-bind-html="complaint.complaint"></p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="stage" class="control-label">Applicable Value Components</label>
					<display-array x-source-array="d.vcs" x-selected-array='complaint.vcs'></display-array>
				</div>
			</div>			
		</div>
		
		<hr>

		<div class="text-right">
			<a class="btn btn-default" ui-sref="p.complaint.list">Cancel</a>
			<a class="btn btn-default" ui-sref="p.complaint.edit({complaintId:complaint._id})">Edit</a>
		</div>

	</div>
</div>
