
<form class="view-form" name="complaintForm" ng-submit="save(complaintForm.$valid)" novalidate>

	<div class="view-title-container flex-row">
		<h1>Add/Edit Complaint</h1>
		<div class="actions">
			<button class="btn btn-default btn-sm" ui-sref="p.complaint.list">Cancel</button>
			<button class="btn btn-primary btn-sm" type="submit">Save</button>
		</div>
	</div>

	<div class="view-body-container">
		<div class="row hidden">
			<div class="col-sm-12 text-right">
				<button class="btn btn-xs btn-link" ui-sref="p.complaint.list">Cancel</button>
				<button class="btn btn-xs btn-link" href type="submit">Save</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div class="form-group" x-show-errors>
					<label for="complainant" class="control-label">Complainant</label>
					<input id="complainant" name="complainant" ng-model='complaint.complainant' class="form-control input-sm" required>
					<div ng-messages="complaintForm.complainant.$error" role="alert">
						<p class="help-block error-text" ng-message="required">Complainant is required.</p>
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="stage" class="control-label">Stage</label>
					<select id="stage" ng-model='complaint.stage' class="form-control input-sm" ng-options="v as v for v in stages"></select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-8">
				<div class="form-group" x-show-errors>
					<label for="complaint" class="control-label">Complaint Description</label>
					<textarea id="complaint" name="complaint" type="text" class="form-control input-sm" ng-model="complaint.complaint" rows=10 required></textarea>
						<div ng-messages="complaintForm.complaint.$error" role="alert">
							<p class="help-block error-text" ng-message="required">Complaint is required.</p>
						</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="form-group">
					<label for="stage" class="control-label">Applicable Value Components</label>
					<select-array x-source-array="d.vcs" x-selected-array='complaint.vcs' x-key-string="id" x-value-string="title"></select-array>
				</div>
			</div>			
		</div>		
	</div>

</form>
	

