
<div class="view-title-container">
	<h1>Complaints</h1>
</div>

<div class="view-body-container">
	<div class="button-bar">
		<a class="btn btn-default btn-sm" ui-sref="p.complaint.create()">
			<span class="glyphicon glyphicon-plus"></span>
			<span>Add Complaint</span>
		</a>
	</div>
	<section class="panel panel-default">
		<table ng-table="tableParams" show-filter="true" class="table table-hover table-striped">
			<tr ng-repeat="o in $data" ui-sref="p.complaint.detail({complaintId:o._id})" class="clickable">
				<td data-title="'Complainant'"	title:'Complainant'		filter="{'complainant':'text'}"	sortable="'complainant'"    >{{o.complainant}}</td>
				<td data-title="'Stage'"		title:'Stage'			filter="{'stage':'select'}"		sortable="'stage'"   filter-data="data.stypes">{{o.stage}}</td>
				<td class="actions-col action-x2" header-class="'action-col action-x2'">
					<a ng-click="$event.stopPropagation()" class="btn btn-link btn-sm" ui-sref="p.complaint.edit({complaintId:o._id})">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
					<tmpl-permissions-gear class="permission-btn" x-context="project" x-object="o"></tmpl-permissions-gear>
				</td>
			</tr>
			<tr ng-if="!$data || $data.length === 0">
				<td colspan="3">
					No records found.
				</td>
			</tr>
		</table>
	</section>
</div>
