
/* FLEX MIXINS */
@mixin flexbox() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin flexdirection($values) {
  -webkit-flex-direction: $values;
  -ms-flex-direction: $values;
  flex-direction: $values;
}

@mixin userselect($values) {
    -webkit-user-select: $values;
    -ms-user-select: $values;
    user-select: $values;
}


/* UTILITY SELECTORS */
.text-align-right {
    text-align: right;
}


/* COLORS */
$file-browser-bg: #FFF;
$file-browser-border: 1px solid #CCC;

$file-browser-breadcrumb-color: #999;
$file-browser-breadcrumb-active-color: #494949;

$file-browser-table-header-bg: #F7F8FA;
$file-browser-table-header-hover-bg: #EEE;

$file-browser-row-border: 1px solid #EEE;
$file-browser-row-hover-bg: #f7f8fa;

$file-browser-folder-color: #5091cd;
$file-browser-file-color: #96c0e6;



/* FILE BROWSER */
.file-browser {
    @include flexbox();
    @include flex(1 1 auto);
    @include flexdirection(column);

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

.file-browser-header {
    @include flexbox();
    @include flex(0 0 auto);
    padding: 0.7rem 1rem;
    background: $file-browser-bg;

    .file-browser-breadcrumbs {
        @include flex(1 1 auto);

        li {
            display: inline-block;


            + li {
                &:before {
                    display: inline-block;
                    margin-left: 4px;
                    font-size: 2.3rem;
                    vertical-align: middle;
                    content: '›';
                    color: $file-browser-breadcrumb-color;
                }
            }
        }

        li:last-child {
            .btn {
                font-weight: bold;
                color: $file-browser-breadcrumb-active-color;
            }
        }

        .btn {
            height: 3.2rem;
            padding: 0.6rem;
            font-weight: normal;
            color: $file-browser-breadcrumb-color;
            background: transparent;

            &:hover {
                border: 1px solid $file-browser-breadcrumb-color;
            }

            .glyphicon {
                top: 0;
                font-size: 1.4rem;
            }
        }
    }

    .file-batch-actions {
        @include flex(0 0 auto);

        .btn {
            height: 3.2rem;
        }
    }
}

.file-browser-body {
    @include flexbox();
    @include flexdirection(column);
    @include flex(1 1 auto);
    background: $file-browser-bg;

    .column-header {
        @include flexbox();
        @include flexdirection(row);
        @include flex(0 0 auto);
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 1.2rem;
        font-weight: bold;
        background: $file-browser-table-header-bg;

        .col {
            padding: 1rem 0.5rem;

            &.sortable {
                &:hover {
                    background: $file-browser-table-header-hover-bg;
                }
            }

            .sort-icon {
                display: inline-block;
                margin-top: -2px;
                margin-left: 0.25rem;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: #494949 transparent transparent transparent; 
                vertical-align: middle;
            }

            &.descending {
                .sort-icon {
                    border-width: 0 5px 5px 5px;
                    border-color: transparent transparent #494949 transparent;
                }
            }
        }
    }

    .scroll-container {
        @include flex(1 1 auto);
        position: relative;
        overflow-y: auto;
        overflow-x: hidden;
    }

    li {
        border-bottom: $file-browser-row-border;
    }

    .cell-contents {
        @include flexbox();
        @include userselect(none);
        padding: 0.75rem 1rem;

        span.avatar {
            margin-top: 0;
            margin-right: 0.75rem;
            text-align: center;
        }

        span.col {
            margin-top: 0.6rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 2.4rem;
        }

        &.selected {
            color: #FFF;
            background: #5091cd;
            border-bottom-color: #4187c9;

            .glyphicon {
                color: #FFF;
            }
        }

    }

    .fb-folder {
        .glyphicon {
            margin-top: 0.2rem;
            font-size: 2.1rem;
            color: $file-browser-folder-color;
        }
    }

    .fb-file {
        .glyphicon {
            margin-top: 0.4rem;
            font-size: 1.8rem;
            color: $file-browser-file-color;
        }
    }

    .empty-directory-msg {
        padding: 1.5rem;
    }
}


/* COLUMNS */
span.avatar {
    @include flex(0 0 3rem);
}

.col.name-col {
    @include flex(1 1 auto);
}

.col.date-added-col {
    @include flex(0 0 15rem);
}

.col.file-size-col{
    @include flex(0 0 10rem)
}

@media (min-width: 1200px) {
    .col.date-added-col {
        @include flex(0 0 20rem)
    }

    .col.file-size-col{
        @include flex(0 0 20rem)
    }
}

/* Need to set on the 'view-body-container' when the file browser is placed within this element. */
.file-browser-container {
    position: relative;

    .file-browser {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        bottom: 1.5rem;
        left: 1.5rem;
    }
}