
@import "modules/documents/client/styles/spinner.scss";

/* COLORS */
$file-browser-bg: #FFF;
$file-browser-border: 1px solid #EEE;

$file-browser-breadcrumb-color: #999;
$file-browser-breadcrumb-active-color: #494949;

$file-browser-table-header-bg: #F7F8FA;
$file-browser-table-header-hover-bg: #EEE;

$file-browser-row-border: 1px solid #EEE;
$file-browser-row-hover-bg: #f7f8fa;

$fb-folder-color: #999;
$fb-file-color: #CCC;

$list-selected-color: #FFF;
$list-selected-bg: #5091cd;
$list-selected-hover-bg: #4187c9;
$list-selected-border: 1px solid #4187c9;

/* MIXINS */
@mixin flexbox() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin flexdirection($values) {
  -webkit-flex-direction: $values;
  -ms-flex-direction: $values;
  flex-direction: $values;
}

@mixin userselect($values) {
    user-select: $values;
}

/* UTILITY SELECTORS */
.text-align-right {
    text-align: right;
}

.icon-default {
    font-size: 2.4rem;
}


/* CUSTOM BUTTON STYLING */
.icon-btn {
    min-width: 3.4rem;
    height: 3.4rem;
    padding: 0;
    text-align: center;
    background: transparent;
    border: 1px solid transparent;

    .glyphicon {
        top: 0;
        vertical-align: middle;
        font-size: 1.8rem;
        color: inherit;
    }

    &:hover {
        background: #EEE;
        border-color: #CCC;
    }

    &:disabled {
        opacity: 0.2;
    }
}


/* NAME-VALUE PAIR */
.nv-pair {
    li {
        @include flexbox();
        @include flexdirection(row);

        &:last-child {
            margin-bottom: 0;
        }
    }

    span.name {
        width: 15rem;
    }

    span.value {
        @include flex(1 1 auto);
    }
}


/* FILE BROWSER */
.file-browser {
    @include flexbox();
    @include flex(1 1 auto);
    @include flexdirection(column);
    overflow: hidden;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}

.fb-header {
    @include flexbox();
    @include flex(0 0 auto);
    padding: 0.7rem 1rem;
    background: $file-browser-bg;
    border-bottom: $file-browser-border;

    .fb-breadcrumbs {
        @include flex(1 1 auto);

        .btn {
            height: 3.4rem;
            padding: 0.6rem;
            font-weight: normal;
        }

        li {
            display: inline-block;

            + li {
                &:before {
                    display: inline-block;
                    margin-left: 4px;
                    font-size: 2.3rem;
                    vertical-align: middle;
                    content: '›';
                    color: $file-browser-breadcrumb-color;
                }
            }
        }

        li:last-child {
            .btn {
                font-weight: bold;
                color: $file-browser-breadcrumb-active-color;

                &:hover,
                &:focus {
                    background: transparent;
                    border-color: transparent;
                }
            }
        }
    }

    .file-batch-actions {
        @include flex(0 0 auto);
    }

    .toggle-details-btn {
        display: none;
    }
}

@media only screen 
    and (max-width: 1024px) {

    .fb-header {
        .fb-breadcrumbs {
            li {
                display: none;

                + li {
                    &:before {
                        display: none;
                    }
                }
            }

            li:last-child,
            li:nth-last-child(2) {
                display: inline-block;
            }

            li:nth-last-child(2) {
                position: relative;
                margin-right: 0.25rem;

                :before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 3.2rem;
                    height: 3.4rem;
                    display: inline-block;
                    line-height: 3.4rem;
                    font-size: 4.8rem;
                    content: '‹'; 
                }

                .btn {
                    span {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .fb-header {
        .toggle-details-btn {
            display: inline-block;
        }
    }
}


.fb-body {
    @include flex(1 1 auto);
    @include flexbox();
    @include flexdirection(row);
    background: $file-browser-bg;

    .fb-details-panel {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: $file-browser-bg;
        transform: translateX(100%);
        transition: transform ease-out 0.2s;

        .fb-details-content {
            width: 100%;
        }
    }

    &.panel-open {
         .fb-list,
         .fb-details-panel {
            transform: translateX(0);
         }
    }
}

@media (min-width: 1024px) {
    .fb-body {
        .fb-details-panel {
            position: relative;
            transform: translateX(0);
            transition: flex-basis ease-out 0.2s;

            .fb-details-content {
                width: 35rem;
            }
        }

        &.panel-open {
            .fb-list {
                @include flex(1 1 auto);
                transform: translateX(0);
            }

            .fb-details-panel {
                @include flex(0 0 35rem);
                transform: translateX(0);
            }
        }
    }
}


.fb-list {
    @include flexbox();
    @include flexdirection(column);
    @include flex(1 1 auto);
    position: relative;
    overflow: hidden;

    .column-header {
        @include flexbox();
        @include flexdirection(row);
        @include flex(0 0 auto);
        font-size: 1.2rem;
        font-weight: bold;
        background: $file-browser-table-header-bg;
        z-index: 3;

        .col {
            padding: 1rem 0.5rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.sortable {
                &:hover {
                    background: $file-browser-table-header-hover-bg;
                }
            }

            .sort-icon {
                display: inline-block;
                margin-top: -2px;
                margin-left: 0.25rem;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: #494949 transparent transparent transparent; 
                vertical-align: middle;
            }

            &.descending {
                .sort-icon {
                    border-width: 0 5px 5px 5px;
                    border-color: transparent transparent #494949 transparent;
                }
            }
        }
    }

    .scroll-container {
        @include flex(1 1 1px);
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;

        .scroll-container-inner {
            margin-right: -17px;
        }
    }

    @media only screen
        and (min-device-width: 768px) 
        and (max-device-width: 1024px) {
        
        .scroll-container {
            .scroll-container-inner {
                margin-right: 0;
            }
        }
    }

    .cell-contents {
        @include flexbox();
        @include userselect(none);
        position: relative;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: $file-browser-row-border;

        .avatar {
            top: 0.5rem;
            margin-right: 0.75rem;
            text-align: center;
        }

        .col {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .row-actions {
            position: absolute;
            top: 0.6rem;
            right: 2.5rem;

            .btn {
                margin-left: 0.5rem;
                padding: 0;
                width: 3.4rem;
                height: 3.4rem;
                text-align: center;
                color: inherit;
            }
        }

        &:hover {
            .row-actions {
                display: block;
            }
        }

        &.selected {
            color: $list-selected-color;
            background: $list-selected-bg;
            border-bottom: $list-selected-border;

            .btn:focus,
            .btn:hover {
                background: transparent;
                border-color: $list-selected-color;
            }

            .avatar {
                .glyphicon {
                    color: inherit;
                }
            }
        }
    }

    .col {
        &:first-child {
            padding-left: 1.5rem;
        }

        &:last-child {
            padding-right: 1.5rem;
        }
    }

    .fb-folder {
        top: 0.4rem;
        font-size: 2.1rem;
        color: $fb-folder-color;
    }

    .fb-file {
        top: 0.4rem;
        font-size: 1.8rem;
        color: $fb-file-color;
    }

    .empty-directory-msg {
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        background: #EEE;
    }
}

@media only screen
    and (max-device-width: 768px) {
    .fb-list {
        .col + .col {
            display: none;
        }
    }
}

@media only screen 
    and (min-device-width: 768px)
    and (max-device-width: 1024px) {
    .fb-list {
        .cell-contents {
            .row-actions {
                display: block;
                right: 1rem;
            }
        }
    }
}


/* COLUMNS */
span.avatar {
    @include flex(0 0 3rem);
}

.col.name-col {
    @include flex(1 1 auto);
}

.col.date-added-col {
    @include flex(0 0 25%);
}

.col.file-size-col{
    @include flex(0 0 25%)
}

@media (min-width: 1200px) {
    .col.date-added-col {
        @include flex(0 0 30%)
    }

    .col.file-size-col{
        @include flex(0 0 30%)
    }
}

$fb-details-panel-width: 35rem;

.fb-details-panel {
    @include flex(0 0 0);
    position: relative;
    overflow: hidden;
    border-left: $file-browser-border;

    .fb-details-content {
        @include flexbox();
        @include flexdirection(column);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: $fb-details-panel-width;

        .title-panel {
            @include flex(0 0 auto);
            position: relative;
            margin: 0 2rem;
            padding-top: 2rem;
            padding-bottom: 1.5rem;
            z-index: 3;

            h2 {
                margin: 0;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 2.2rem;
                font-weight: normal;
            }

            .close {
                position: absolute;
                top: 1.15rem;
                right: 0;
                width: 3.4rem;
                height: 3.4rem;
                padding: 0;
                font-size: 2.4rem;
                border: 1px solid transparent;

                &:hover {
                    border: 1px solid #CCC;
                }
            }
        }

        section {
            margin-bottom: 3rem;

            &:last-child {
                margin-bottom: 0;
            }

            h3 {
                margin-top: 0;
                margin-bottom: 1rem;
                padding-bottom: 0.75rem;
                font-size: 1.4rem;
                font-weight: bold;
                border-bottom: 1px solid #EEE;
            }
        }

        .scroll-container {
            @include flex(1 1 auto);
            position: relative;
            padding: 0.5rem 2rem 2rem 2rem;
            overflow-y: auto;
        }

        li {
            margin-bottom: 0.75rem;
        }
    }
}


/* Need to set on the 'view-body-container' when the file browser is placed within this element. */
.file-browser-container {
    position: relative;

    .file-browser {
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        bottom: 1.5rem;
        left: 1.5rem;
    }
}


/* File Upload */
$fb-upload-target-height: 10rem;
$fb-upload-target-bg: #DDD;
$fb-upload-target-hover-bg: #FFF;
$fb-upload-target-border: 2px dashed #BBB;

.fb-upload-target-container {
    position: relative;
}

.fb-upload-target-status {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5rem;
    width: 100%;
    height: $fb-upload-target-height;
    background: $fb-upload-target-bg;
    text-align: center;
}

.fb-upload-target {
    position: relative;
    height: $fb-upload-target-height;
    padding: 0.5rem;
    background: $fb-upload-target-bg;
    text-align: center;
    transition: all ease-out 0.2s;

    .fb-upload-target-border {
       position: relative;
       height: 100%;
       border: $fb-upload-target-border;
    }

    &:hover,
    &.fb-upload-target-hover {
        padding: 1rem;
        background: $fb-upload-target-hover-bg;

        .fb-upload-target-border {
            border-color: #CCC;
        }
    }

    .fb-upload-target-alert {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $fb-upload-target-bg;
    }
}

.fb-upload-target-content {
    position: absolute;
    top: 3.85rem;
    right: 0;
    left: 0;
    text-align: center;

    .glyphicon {
        top: -0.3rem;
        margin-right: 0.5rem;
        vertical-align: middle;
    }

    .fb-upload-target-msg {
        font-size: 1.6rem;
        font-weight: bold;
        color: #999;

        b {
            color: #494949;
        }
    }
}

.fb-upload-container {
    .fb-upload-target {
        margin-bottom: 2rem;
    }

    .fb-list {
        .cell-contents {
            .row-actions {
                right: 1rem;
            }
        }
    }
}


/* PROGRESS BAR */
.progress {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.progress {
    height: 1rem;
    border-radius: 0;
}

.file-size-progress-col {
    width: 30%;
    overflow: visible;

    .progress-container {
        padding-right: 5rem;
    }

    .btn {
        position: absolute;
        top: 0.75rem;
        right: 1rem;
    }
}