
<div class="hero-banner">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1>Compliance Oversight</h1>
                <p class="mb-2">Compliance and enforcement (C&E) activities begin after a claim is staked and continue through exploration and the life of a mine.</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="anchor-point">
    <div class="row">
        <main class="col-lg-8">
            <section class="mb-0">
                <h2>Integrated Oversight of British Columbia's Mining Sector</h2>
                <p>The Ministry of Energy and Mines (MEM), Ministry of Environment (ENV), Environmental Assessment Office (EAO) and other agencies, such as the Ministry of Forests, Lands and Natural Resource Operations (FLNRO), work together to provide compliance oversight of mining activities in British Columbia.  The agencies co-ordinate inspection priorities, share information about compliance concerns, share training opportunities, conduct joint inspections and “observe, record, report” for one another.</p>
                <p>Each agency conducts field inspections and desk-based reviews of compliance information related to its mandate. In some cases, compliance officers may be cross-designated to enable effective use of inspection resources. While the agencies work closely together, each is responsible for compliance oversight and enforcement related to its respective mandate. Inspections by the various agencies focus on different legal requirements, and are based on mandate, on-the-ground conditions, project phase, any ongoing compliance issues, officer discretion, etc. When non-compliances are identified, compliance staff assess which agency may be the best-placed regulator to address the issue based on expertise, familiarity with the issue, regulatory tools, etc.</p>
                <p>MEM’s oversight responsibilities under the <a href="http://www.bclaws.ca/civix/document/id/complete/statreg/96293_01" target="_blank">Mines Act</a> generally apply within the mine site boundary defined in the <a ui-sref="authorizations({'#': 'minesActPermits'})">Mines Act permit</a>. MEM Inspectors of Mines regularly conduct field inspections to make sure that mines are complying with the Mines Act, the <a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/health-safety/health-safety-and-reclamation-code-for-mines-in-british-columbia" target="_blank">Health, Safety and Reclamation Code for Mines in British Columbia</a>, other codes and standards such as the Canadian Electrical Code, and site-specific Mines Act permit conditions. Some MEM inspections are specialized (e.g., occupational health inspections, geotechnical inspections) while others are more general in scope.</p>
                <p>ENV’s responsibilities under the <a href="http://www.bclaws.ca/civix/document/id/complete/statreg/03053_00" target="_blank">Environmental Management Act (EMA)</a> are typically limited to actual or potential environmental impacts beyond the mine site boundary. Key environmental concerns related to mining include water contamination from the processes of heavy-metal and non-metal leaching, and acid rock drainage. To ensure environmental protection, ENV regulates effluent discharges, air emissions and hazardous waste produced by mines, as well as landfills associated with mining activities, through site-specific permits issued under EMA and associated regulations, such as the Hazardous Waste Regulation.</p>
                <p>EAO’s work does not end when a mining project receives an environmental assessment (EA) certificate under the <a ui-sref="authorizations({'#': 'eaProcess'})">Environmental Assessment Act</a>. C&E is an important part of the EA process to ensure that operators are following their EA certificate conditions.</p>
                <p class="mb-0">FLNRO’s responsibilities under the Land Act, the Forest Act and the Water Act include areas on and off the mine site, and this ministry’s C&E activities usually have a detailed focus. At this time, FLNRO records are not available via this platform.</p>
            </section>
        </main>
        <aside class="col-lg-4">
            <section>
                <h4>Related Documents</h4>
                <ul class="mmti-side-list">
                    <li><a href="http://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/mineral-exploration-mining/documents/compliance-and-enforcement/board_tor.pdf" target="_blank">Mining Compliance & Enforcement Board Terms of Reference</a></li>
                    <li><a href="http://www2.gov.bc.ca/assets/gov/environment/research-monitoring-and-reporting/reporting/reporting-documents/environmental-enforcement-docs/compliance_mgmt_framework.pdf" target="_blank">Ministry of Environment Compliance Management Framework</a></li>
                    <li><a href="http://www.env.gov.bc.ca/main/prgs/docs/ce_policy_and_procedure.pdf" target="_blank">Ministry of Environment Compliance and Enforcement Policy and Procedure</a></li>
                    <li><a href="http://www2.gov.bc.ca/gov/content/environment/research-monitoring-reporting/reporting/env-compliance-inspection-report" target="_blank">Ministry of Environment Environmental Compliance Inspections Reporting</a></li>
                </ul>
            </section>
            <section>
                <h4>External Links &amp; Resources</h4>
                <ul class="mmti-side-list">
                    <li><a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/compliance-enforcement" target="_blank">Mining Compliance & Enforcement (Ministry of Energy and Mines) </a></li>
                    <li><a href="http://www.eao.gov.bc.ca/compliance.html" target="_blank">Environmental Assessment Office Compliance & Enforcement </a></li>
                    <li><a href="http://www2.gov.bc.ca/gov/content/environment/research-monitoring-reporting/reporting/environmental-enforcement-reporting" target="_blank">Environmental Enforcement Reporting (Ministry of Environment) </a></li>
                </ul>
            </section>
        </aside>
    </div>
</div>