
// Themes
@import "themes/default.scss";

// Global
@import "global/utilities.scss";
@import "global/layout.scss";
@import "global/typography.scss";
@import "global/header.scss";
@import "global/footer.scss";

// Components
@import "components/aside.scss";
@import "components/authorizations-list.scss";
@import "components/buttons.scss";
@import "components/fast-facts.scss";
@import "components/feature-block.scss";
@import "components/hero-banner.scss";
@import "components/mmti-accord.scss";
@import "components/mmti-list.scss";
@import "components/mmti-table.scss";
@import "components/site-activities.scss";
@import "components/sort-header.scss";
@import "components/tab-nav.scss";

// Pages
@import "modules/authorizations/client/scss/project-authorizations.scss";
@import "modules/home/client/scss/home.scss";
@import "modules/inspections/client/scss/project-inspections.scss";
@import "modules/maps/client/scss/map.scss";
@import "modules/other-documents/client/scss/other-documents.scss";
@import "modules/projects/client/scss/projects.scss";
@import "modules/users/client/scss/sign-in.scss";
