/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */

/* ----- Colors ----- */
$header-blue:				#141a41;
$header-grey:				#666666;
$navbar-blue:				#154681;
$brand-primary:			#337ab7;
$brand-success:			#5cb85c;
$brand-info:				#5bc0de;
$brand-warning:			#f0ad4e;
$brand-danger:				#d9534f;
$link-light:				#337ab7;
$link-dark:				#23527c;
$border-grey:				#dddddd;
$off-white:				#f4f4f4;
$danger-text:				#a94442;

// -------------------------
// Bootstrap Overrides
// -------------------------

/* ----- Typography ----- */
$font-family-heading: 'Nunito', sans-serif;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2) !important;
}

/* Remove border to delete the 1px line */
.navbar-fixed-top {
	border: 0;
}

.input-group .form-control {
	height: auto;
}

.btn-list .btn {
	margin: 0 2px 4px;
	display: inline-block;
}

.navbar-form .form-group .control-label,
.form-inline .form-group .control-label {
	padding-right: 10px;
	display: inline-block;
}

.well .table tr:first-child td {
	padding-top: 0;
}

.well > h3, .panel-body h3:first-child {
	margin-top: 0;
	margin-bottom: 20px;
}
.well > h4 {
	margin-top: 0;
	margin-bottom: 15px;
}

label.control-label,
a.control-label,
.control-label a {
	font-size: 85%;
	font-weight: 500;
	font-style: italic;
	display: block;
	padding: 0 0 2px;
	margin: 0 0 2px;
	color: #ababab;
}

a.control-label,
.control-label a {
	display: inline-block;
	color: $link-light;
	cursor: pointer;
}

a.control-label:hover,
.control-label a:hover {
	color: $link-dark;
}

.label-list,
.panel-sort {
	list-style-type: none;
	padding-left: 0;
}

.label-list li,
.panel-sort li {
	display: inline-block;
	white-space: nowrap;
}

.label-list li {
	margin-bottom: 3px;
	margin-right: 3px;
}


.table-center table {
	margin: 0 auto;
}


// -------------------------
// GENERALLY SPEAKING...
// -------------------------


[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}

a:hover,
a:link,
a:active,
a:visited {
	text-decoration: none;
}

button:focus, a:focus {
	outline: 0 !important;
}

html {

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,fcfcfc+0,f2f2f2+100 */
	background: #606c88; /* Old browsers */
	background: -moz-linear-gradient(top,  #606c88 0%, #fcfcfc 0%, #f2f2f2 100%); /* FF3.6-15 */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(0%,#fcfcfc), color-stop(100%,#f2f2f2)); /* Chrome4-9,Safari4-5 */
	background: -webkit-linear-gradient(top,  #606c88 0%,#fcfcfc 0%,#f2f2f2 100%); /* Chrome10-25,Safari5.1-6 */
	background: -o-linear-gradient(top,  #606c88 0%,#fcfcfc 0%,#f2f2f2 100%); /* Opera 11.10-11.50 */
	background: -ms-linear-gradient(top,  #606c88 0%,#fcfcfc 0%,#f2f2f2 100%); /* IE10 preview */
	background: linear-gradient(to bottom,  #606c88 0%,#fcfcfc 0%,#f2f2f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

}

a:hover {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: 400;
	font-family: $font-family-heading;
	letter-spacing: -0.01em;
}

p.small {
	margin: 0 0 0;
}

td h4 {
	margin-top: 0;
}
th > .progress {
	margin-bottom: 0;
}

pre {
	padding: 0;
	margin: 0;
	font-size: inherit;
	line-height: inherit;
	background-color: transparent;
	border: 0;
	white-space: pre-wrap;       /* CSS 3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

ul > li > h3 {
	margin-top: 5px;
}

h3 .small {
	padding-top: 10px;
	font-size: 60%;
}

h3 .small .label {
	font-weight: 500;
}

// -------------------------
// HELPER CLASSES...
// -------------------------

/* Workaround for unwanted route changes due to empty href attributes - see http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a, .clickable { cursor: pointer; }

.undecorated-link:hover {
	text-decoration: none;
}

.vertical-scroll ul.list-indent-left {
	min-height: 400px;
}

.no-lower-padding {
	padding-bottom: 0 !important;
}

.vertical-scroll,
.vertical-scroll-padded {
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 400px;
	max-height: 400px;
}
.vertical-scroll-padded {
	padding-top: 15px;
	padding-bottom: 15px;
}

.scrolling-fixed-box {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 400px;
	display: block;
}

.scrollable {
	max-height: 200px;
	overflow-y: scroll;
}

.no-wrap {
	white-space: nowrap;
}
.wrap {
	white-space: normal !important;
}
.no-upper-margin {
	margin-top: 0 !important;
}
.no-lower-margin {
	margin-bottom: 0 !important;
}
ul.list-indent-left {
	margin-left: 3px;
	border-left: 1px solid $border-grey;
	margin-bottom: 0;
}

.col-no-padding li {
	padding: 2px 8px;
}

.col-border-right {
	border-right: 1px solid $border-grey;
}

.list-documents li,
.list-tasks li {
	border-top: 1px solid $border-grey;
	padding: 3px 5px;
	position: relative;
}
.list-documents li.active,
.list-documents li.active a {
	color: #ffffff;
}
.list-documents .btn-download {
	position: absolute;
	top: 0;
	right: 15px;
}
.list-documents li:first-child,
.list-tasks li:first-child {
	border-top: none
}


.row-folder span.arrow,
.row-document span.arrow {
	display: none;
}

.row-folder.active,
.row-document.active {
    background-color: #204d74;
    border-color: #122b40;
}
.row-folder a,
.row-document a {
	display: block
}
.row-folder.active span.arrow,
.row-document.active span.arrow {
	display: inline-block;
}
.row-folder-depth-2 {
	padding-left: 15px !important;
}
.row-folder-depth-3 {
	padding-left: 30px !important;
}
.bg-muted {
	background-color: #f2f2f2;
}

.list-documents li.active .arrow {
	position:absolute;
	right: 4px;
	top: 4px;
}
.list-icon-right li {
	position: relative;
	padding-right: 21px;
}
.list-icon-right li > span {
	position: absolute;
	right: 5px;
	top: 5px;
}

.list-icon-left li {
	position: relative;
	padding-left: 21px;
}
.list-icon-left li a span {
	position: absolute;
	left: 5px;
	top: 6px;
}
h3.firstHeading {
	margin-top: 5px;
}

.datetimepicker {
	margin: 0 auto;
}

.btn-spaced {
	margin-right: 3px;
}
.col-no-padding {
	padding-left: 0;
	padding-right: 0;
}
.col-top-padding {
	padding-top: 10px !important;
}
.outlined-box {
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.slight {
	font-style: normal !important;
}

.text-danger {
	color: $danger-text !important;
}

.drop-box {
	background: #F8F8F8;
	border: 3px dashed #DDD;
	text-align: center;
	padding: 25px;
	margin-bottom: 15px;
}

.dragover {
	border: 3px dotted #449d44;
}

a.return-link {
	text-decoration: none;
	font-size: 14px;
	color: #333333;
}

a.return-link:hover {
	text-decoration: none;
}

.text-dark .panel-sort li,
.modal .panel-sort li {
	color: #777;
}

.text-dark .panel-sort li a,
.modal .panel-sort li a {
	color: #777;
}

.close-adjust-top {
	margin-top: -2px;
}

.document-cell a {
	position: relative;
	display: block;
	padding-left: 18px;
}

.document-cell a span {
	position: absolute;
	top : 2px;
	left : 0;
}

.document-cell a:hover {
	text-decoration: none;
}

.table-no-head > tbody > tr:first-child > td {
	border-top: none;
}

.no-margins {
	margin: 0;
}

th .progress-bar {
	font-weight: 500;
}
.progress-alert-box {
	margin-top: 15px;
	text-align: left;
	font-weight: 500;
}

.progress-info-button {
	padding-top: 1px;
	padding-left: 7px;
}

.countdown-wrapper ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.countdown-wrapper li {
	display: inline-block;
	padding-left: 5px;
}

.countdown-wrapper li:first-child {
	padding-left: 0;
}

.countdown-wrapper li span.time-units{
	font-size: 10px;
	font-style: italic;
	opacity: 0.8;
}

.control-with-label {
	margin-top: 25px !important;
}
// -------------------------
// PANELS...
// -------------------------

.block-content > h3 {
	border-bottom: 1px solid $border-grey;
	padding: 8px 15px;
	margin-bottom: 0;
}
.block-content {
	 margin-bottom: 15px;
	 border-bottom: 2px solid $border-grey;
}
.block-content:last-child,
.block-content.block-stacked {
	margin-bottom: 0;
}
.panel > .block-content:first-child > h3 {
	margin-top: 0;
}
.panel-body.no-vertical-padding {
	padding-top: 0;
	padding-bottom: 0;
}
.panel > .table.table-stacked {
	margin-bottom: 30px;
}

.panel-tombstone-menu {
	font-size: 13px;
	line-height: 15px;
}
.panel-tombstone-menu p {
	margin: 0 0 8px;
}

.panel-tombstone-menu hr {
	margin-top: 15px;
	margin-bottom: 15px;
}

.menu-side hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.panel-body .panel-toggle {
	color: #777;
}

.panel-toggle {
	position: absolute;
	top: -10px;
	left: -8px;
	color: $header-grey;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
}

.panel-toggle:hover {
	font-size: 24px;
	color: $header-grey;
	top: -20px;
	left: -14px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
}

h3.panel-title {
	margin-bottom: 0;
}

.panel-header h1.panel-title {
	font-size: 2em;
	padding: 15px;
	border-bottom: 1px solid #ddd;
}

.panel-sub-title {
	border-top: 1px solid #ddd;
	margin: 0;
	font-size: 1.4em;
	padding-bottom: 0;
}

.panel-top-border {
	border-top: 1px solid #ddd;
}

.panel-sub-heading {
	background-color: #f5f5f5;
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

.panel label + p,
.panel label + ul {
	margin-bottom: 15px;
}

.panel .project-small-tombstone label + p,
.panel .project-small-tombstone label + .progress {
	margin-bottom: 0;
}

.panel-sort li {
	font-size: 80%;
	color: $header-grey;
}

.panel-sort li a {
	padding: 0 5px 0 3px;
	color: $header-grey;
}

.panel-sort li:before {
	content: '|';
}

.panel-sort li:first-child:before {
	content: '';
}

.panel-sort li a span:after {
	content: '\0020';
}

.panel-sort li.asc a span:after {
	content: '\0020\25B2';
}

.panel-sort li.desc a span:after {
	content: "\0020\25BC";
}

.panel-heading .label {
	font-size: 12px;
}

.panel {
	position: relative;
}

// -------------------------
// SECTION SPECIFIC RULES
// -------------------------

.document-vetting li:first-child,
.no-top-border {
	border-top: none !important;
}

.document-vetting li {
	border-top: 1px solid #ddd;
	padding: 2px 0;
}
.project-info-panel .dl-vertical dt {
	margin-top: 20px;
	border-bottom: 1px solid #cccccc;
}

.task-selected {
	border-left: 5px solid white;
	border-right: 5px solid white;
}

.user-quick-links h1 {
	padding: 0;
	margin: 0;
}

.user-quick-links a {
	color: #fff;
}

.user-quicklinks a.thumbnail {
	position: relative;
	font-size: 12px;
	height: 80px !important;
}
.user-quicklinks a.thumbnail .caption {
	padding: 0;
	position: absolute;
	bottom: 3px;
	left: 3px;
}
.user-quick-links a:hover {
	text-shadow: 0 0 20px rgba(255,255,255,0.4);
}

.bucket-content-activity {
	font-size: 85%;
	border-top: 1px solid #ccc;
}

h3.activity-title {
	color: #33333;
	margin-top: 0;
}

.concern-list > h3:first-child {
	margin-top: 0;
}

.research-content {
	border-top: 1px solid #ccc;
	padding: 3px 5px;
}

.task-list {
	margin-bottom: 0;
}

.task-list li {
	padding-top: 5px;
	position: relative;
}
.task-list li:first-child {
	padding-top: 0;
	position: relative;
}
.task-list li .task-current-status {
	font-weight: 700;
}
.task-list li button {
	white-space: normal;
	position: relative;
	text-align: left;
}
.task-list li button.btn-layer {
	white-space: normal;
}

.task-permission-control {
	display: none;
	position: absolute;
	right: 3px;
	bottom: 5px;
}

.task-list li:hover .task-permission-control {
	display: block;
}

.vc-task-arrows {
	opacity: 0.2;
}

.btn-task-not-started {
	background-color: $brand-info;
}
.btn-task-complete {
	background-color: $brand-success;
}
.btn-task-in-progress {
	background-color: $brand-warning;
}
.btn-task-not-applicable {
	opacity: 0.5;
}

.comment-box {
	padding: 2px 4px;
	border-top: 1px solid #e3e3e3;
}
.comment-box:first-child {
	border-top: none;
}

.project-info-panel .location-map {
	margin: 0;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.project-info-panel .location-map map {
	height: 200px;
}

.project-info-panel .progress {
	margin-bottom: 10px;
}

.project-info-panel > .panel-heading {
	padding-bottom: 0;
}

.concern-heading,
.concern-heading * {
	color: #333333 !important;
}

.panel-project-summary h3 {
	margin-top: 2px;
}

// -------------------------
// ERRORS...
// -------------------------

.error-text {
	display: none;
}
.has-error .help-block.error-text {
	display: block;
}
.has-error .help-inline.error-text {
	display: inline;
}

// -------------------------
// MODALS...
// -------------------------

.modal-pre-table {
	padding-top: 5px;
	padding-bottom: 0;
}
.table-modal {
	margin-bottom: 0
}
.modal-header {
	padding: 5px 15px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.modal-footer {
	padding: 10px 15px;
}

.modal-header input.form-control {
	background-color: rgba(255,255,255,0.3);
	color: #fff;
	border: none;
}
.modal-header .form-group {
	text-shadow: none !important;
}
.modal-header input.form-control::-webkit-input-placeholder {
	color: #fff;
}

.modal-header input.form-control:-moz-placeholder { /* Firefox 18- */
	color: #fff;
}

.modal-header input.form-control::-moz-placeholder {  /* Firefox 19+ */
	color: #fff;
}

.modal-header input.form-control:-ms-input-placeholder {
	color: #fff;
}

.modal .modal-body > h3,
.panel-concern .panel-body > h3 {
	margin-top: 0;
}

// -------------------------
// HEADER...
// -------------------------

.header-profile-image {
	opacity: 0.8;
	height: 28px;
	width: 28px;
	border-radius: 50%;
	margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
	opacity: 1;
}
.user-header-dropdown-toggle {
	padding-top: 11px !important;
	padding-bottom: 11px !important;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
		padding-top: 0;
	background-color: transparent;
	font-family: $font-family-sans-serif;
}

.has-navigation {
		padding-top: 80px;
}


.navbar-custom .navbar-nav > li > a {
	color: $navbar-blue;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
	color: $navbar-blue;
	background-color:transparent;
}
.navbar-custom .navbar-brand {
	color: $navbar-blue;
	padding: 10px 15px;
}
.nav > li.navbar-user {
	padding: 10px 0;
}
.nav > li.navbar-user > a {
	padding: 0 !important;
	margin: 0 !important;
	display: inline-block;
}
.nav > li.navbar-user > a:hover {
	background-color: transparent;
}
.nav > li.navbar-user-icon {
	font-size: 40px;
	padding: 10px 10px;
	line-height: 40px;
}

.navbar-custom {
	background-color: #ffffff;
	color:#154681;
	border-radius:0;
	box-shadow: 3px 3px 20px rgba(0,0,0,0.5);
}

nav {
	cursor: default;
}
.navbar-sm .form-control {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.navbar-sm .navbar-text {
	font-size: 12px;
	margin-top: 14px;
	margin-bottom: 14px;
}
h1.page-title {
	padding: 0;
	color: $header-grey;
	margin-top: 0;
	margin-bottom: 20px;
}
h2.page-title {
	padding: 0;
	color: $header-grey;
	font-size: 1em;
	margin: 0 2px 0;
}


.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height:40px !important}

// -------------------------
// FOOTER...
// -------------------------

.footer .panel {
	margin-bottom: 0;
}

.footer {
	margin-bottom: 10px;
}


.edit-outlines .text-block {
	border: 2px dotted $brand-info;
	padding: 3px;
	border-radius: 8px;
	cursor: pointer;
	background-color: transparent;
}
.edit-outlines .text-block-success {
	border: 2px dotted $brand-success;
	background-color: transparent;
	padding-left: 5px;
	padding-right: 5px;
}
.text-block > p:last-child {
	margin-bottom: 0;
}

.edit-outlines .text-block:focus,
.edit-outlines .text-block-focus {
	border: 2px dashed $brand-info;
	outline: none !important;
	background-color: #d9edf7;
}

.doc-detail-col {
	border-right: 1px solid $border-grey;
	overflow: hidden;
	padding-right: 0;
}

.doc-action-col {
	text-align: center;
	font-size: 2rem;
	padding-top: 5px;
	padding-left: 0;
}

.doc-action-col a {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.well hr {
	border-top: 1px solid $border-grey;
	margin-top: 5px;
	margin-bottom: 8px;
}

/*
//-------------------
// Schedule D3 Styles
// -------------------
*/

.schedule-control-cell {
	padding: 0 !important;
	position: relative;
}
.svg-div-root {
	position: absolute;
	top:0;left:0;bottom:0;right:0;
	overflow: hidden;
}

.svg-element{
	position: relative;
	width: 100%;
}

.svg-background{
	fill: lightyellow;
	fill-opacity: 0.3;
}

.projectToday-line {
	stroke: darkorange;
	stroke-width: .5;
	fill: none;
}


.list-array-item {
	margin-bottom: 3px;
	padding: 3px 5px;
}

/*
// --------------------------
// ng-table and form styles
// --------------------------
*/

table thead tr.ng-table-sort-header {
}

.ng-table-pager {
	border-top: 1px solid $border-grey;
	padding: 15px;
	overflow: auto;
}
table thead tr.ng-table-filters {
	background-color: $border-grey;
}

/*
// -------------------
// template styles
// -------------------
*/

.template {
  background-color: #ffffff;
  padding:10px;
}

.template h1, li, p {
  font-family: $font-family-sans-serif;
}

.template-subitem {
  margin-left:10px;
}

.template ol[type="1"].template-hierarchy li {
  font-weight: bold;
  font-size: 28px;
  color: #65909a;
}

.template ol[type="a"].template-hierarchy li {
  font-weight: bold;
  font-size: 24px;
  color: #9a6590;
  margin-top:10px;
}

.template ol[type="i"].template-hierarchy li {
  font-weight: bold;
  font-size: 20px;
  color: #909a65;
  margin-top:10px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
  
@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}