// THEME
@import "modules/core/client/scss/themes/default.scss";

// GLOBAL
@import "modules/core/client/scss/global/mixins.scss";
@import "modules/core/client/scss/global/helpers.scss";
@import "modules/core/client/scss/global/header.scss";
@import "modules/core/client/scss/global/footer.scss";
@import "modules/core/client/scss/global/layout.scss";

// COMPONENTS
@import "modules/core/client/scss/components/accordion.scss";
@import "modules/core/client/scss/components/alert.scss";
@import "modules/core/client/scss/components/badges.scss";
@import "modules/core/client/scss/components/buttons.scss";
@import "modules/core/client/scss/components/context-menu.scss";
@import "modules/core/client/scss/components/core-views.scss";
@import "modules/core/client/scss/components/drag-and-drop.scss";
@import "modules/core/client/scss/components/file-browser.scss";
@import "modules/core/client/scss/components/forms.scss";
@import "modules/core/client/scss/components/map.scss";
@import "modules/core/client/scss/components/modal.scss";
@import "modules/core/client/scss/components/misc.scss";
@import "modules/core/client/scss/components/panel.scss";
@import "modules/core/client/scss/components/pdf-viewer.scss";
@import "modules/core/client/scss/components/recipient-manager.scss";
@import "modules/core/client/scss/components/spinner.scss";
@import "modules/core/client/scss/components/table.scss";
@import "modules/core/client/scss/components/tabs.scss";
@import "modules/core/client/scss/components/ng-table-overrides.scss";
@import "modules/core/client/scss/components/view-containers.scss";

// MODULES
@import "modules/activities/client/scss/activities.scss";
@import "modules/codelists/client/scss/codelist.scss";
@import "modules/collections/client/scss/collections.scss";
@import "modules/communications/client/scss/communications.scss";
@import "modules/conditions/client/scss/conditions.scss";
@import "modules/documents/client/styles/documents.confirm.scss";
@import "modules/documents/client/scss/document-manager.scss";
@import "modules/documents/client/scss/document-manager-link.scss";
@import "modules/documents/client/scss/document-manager-move.scss";
@import "modules/email-templates/client/scss/email-templates.scss";
@import "modules/guidance/client/scss/guidance.scss";
@import "modules/invitations/client/scss/invitations.scss";
@import "modules/project-comments/client/scss/project-comments.scss";
@import "modules/projects/client/scss/project-details.scss";
@import "modules/projects/client/scss/project-edit.scss";
@import "modules/projects/client/scss/project-timeline.scss";
@import "modules/projects/client/scss/project-schedule.scss";
@import "modules/projects/client/scss/projects-abstract.scss";
@import "modules/recent-activity/client/scss/recent-activity.scss";
@import "modules/search/client/scss/search-results.scss";
@import "modules/search/client/scss/search-widget.scss";
@import "modules/users/client/scss/users.scss";
@import "modules/users/client/scss/user-dashboard.scss";
@import "modules/users/client/scss/user-entry.scss";
@import "modules/users/client/scss/user-search-chooser.scss";
@import "modules/vcs/client/scss/vcs.scss";

