<div>
	<ul class="list-unstyled task-list">
		<li ng-repeat="item in actTasks.tasks">
			<button
				class="btn btn-sm btn-block clearfix btn-task-indicator btn-task-{{ item.status | kebab }}" 
				ng-click="actTasks.taskChange(item, actTasks.project, $event)"
				ng-class="{'task-selected': actTasks.currentTask === 'task-' + ( item._id | kebab )}">

				<div>{{ item.name }}</div>
				<div class="task-current-status">{{ item.status }}</div>
			</button>
		</li>
	</ul>
	
</div>
<div>
	<ul class="list-unstyled">
		<li><label class="control-label">
			Click to Select<br/>Shift+Click to change status<br/>Alt+Click for Not Applicable<br/>
			<a href x-modal-add-custom-task x-activity="actTasks.activity" x-tasks="actTasks.tasks">Add Custom Task</a>
		</label></li>
	</ul>
</div>
