<h1 class="page-title">
	Add/Edit Template
</h1>
	<div class="block-content">
		<div class="panel-body">
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="documentType" class="control-label">For Document Type</label>
					<select id="documentType" ng-model='template.documentType' class="form-control input-sm" ng-options="type in types"></select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="control-label">Sections</label>
					<button ng-click="addSection()">Append Section</button>
				</div>
			</div>
		</div>
		<div class="row" ng-repeat="section in template.sections">
			<div class="row">
			<div class="form-group">
				<div class="col-sm-12">
					<label for="sname" class="input-label">Topic Name</label>
					<input id="title" type="text" class="form-control  input-lg" ng-model="topic.name">
				</div>
			</div>
			</div>
			<div class="row" ng-if="section.multiple">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="shortDesc" class="control-label">Header</label>
						<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="section.description" rows=6></textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="shortDesc" class="control-label">Template</label>
						<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="section.description" rows=6></textarea>
					</div>
				</div>
			</div>
			<div class="row" ng-if="section.multiple">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="shortDesc" class="control-label">Footer</label>
						<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="section.description" rows=6></textarea>
					</div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="shortDesc" class="control-label">Report Requirements</label>
					<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="template.reportRequirements" rows=6></textarea>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="pillar" class="control-label">Pillar</label>
					<select ng-change="selectTopic(pillar)" id="pillar" ng-model='template.pillar' class="form-control input-sm" ng-options="pillar.id as pillar.title for pillar in pillars"></select>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="stage" class="control-label">Project Stage</label>
					<select id="stage" ng-model='template.stage' class="form-control input-sm" ng-options="stage.id as stage.title for stage in stages"></select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="topics" class="control-label">Topics</label>
					<select multiple id="topics" ng-model='template.topics' class="form-control input-sm"
					ng-options="topic.code as topic.name for topic in topics">
					</select>
				</div>
			</div>

		</div>

		</div>
	</div>

<div class="button-panel">
	<a class="btn btn-danger" ui-sref="admin.template.list">Cancel</a>
	<a class="btn btn-primary" href ng-click="save()">Save</a>
</div>

