<h1 class="page-title">
	View Template
</h1>
<div class="block-content">
	<div class="panel-body">
	<div class="row">
		<div class="col-sm-3">Document Type</div>
		<div class="col-sm-9">{{template.documentType}}</div>
	</div>
	<div class="row">
		<div class="col-sm-3">Version Number</div>
		<div class="col-sm-9">{{template.versionNumber}}</div>
	</div>
	<div class="row">
		<div class="col-sm-3">Date Updated</div>
		<div class="col-sm-9">{{template.dateUpdated}}</div>
	</div>
	<div class="row">
		<div class="col-sm-3">Sections</div>
	</div>
	<div class="row" ng-repeat="section in template.sections">
		<div class="col-sm-2">&nbsp;</div>
		<div class="col-sm-10">
			<hr/>
			<div class="row"><div class="col-sm-3">Name</div><div class="col-sm-9">{{section.name}}</div></div>
			<div class="row"><div class="col-sm-3">Multiple</div><div class="col-sm-9">{{section.multiple}}</div></div>
			<div class="row"><div class="col-sm-3">Optional</div><div class="col-sm-9">{{section.optional}}</div></div>
			<div class="row"><div class="col-sm-3">Template</div><div class="col-sm-9"><textarea disabled="true" width="100%">{{section.template}}</textarea></div></div>
			<div class="row"><div class="col-sm-3">Variables</div></div>

			<div class="row" ng-repeat="field in section.meta">
				<div class="col-sm-2">&nbsp;</div>
				<div class="col-sm-10">
					<hr/>
					<div class="row"><div class="col-sm-3">Name   </div><div class="col-sm-9">{{field.name}}   </div></div>
					<div class="row"><div class="col-sm-3">Label  </div><div class="col-sm-9">{{field.label}}  </div></div>
					<div class="row"><div class="col-sm-3">type   </div><div class="col-sm-9">{{field.type}}   </div></div>
					<div class="row"><div class="col-sm-3">default</div><div class="col-sm-9">{{field.default}}</div></div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
<div class="button-panel">
	<a class="btn btn-danger" ui-sref="admin.template.list">Cancel</a>
	<a class="btn btn-primary" ui-sref="admin.template.edit({templateId:template._id})">Edit</a>
</div>



