

<div class="document-panel panel panel-default">
    <div class="panel-heading flex-row">
        <h2>{{::title}}</h2>
        <div class="actions">
            <button class="btn btn-sm btn-default" title="Link Documents"
                    ng-if="editable"
                    x-document-mgr-link-modal
                    x-project="project"
                    x-target-name="title"
                    x-target="filelist"
                    x-published-only="'false'"
                    x-on-ok="documentsControl.update"><span class="glyphicon glyphicon-link"></span><span>Link Documents</span></button>
        </div>
    </div>
    <div class="attachments">
        <div class="list-group no-border">
            <div class="list-group-item flex-row" ng-if="filelist.length == 0">
                <span class="title">No files available.</span>
            </div>
            <div class="list-group-item flex-row" ng-repeat="file in filelist" href>
                <span class="icon">
                    <span class="fb-file glyphicon glyphicon-file" ng-if="!['png','jpg','jpeg'].includes(file.internalExt)"></span>
                    <span class="fb-img glyphicon glyphicon-picture" ng-if="['png','jpg','jpeg'].includes(file.internalExt)"></span>
                </span>
                <span class="title">
                    <a ng-if="file.userCan.read"
                       href="/api/document/{{ file._id }}/fetch"
                       target="_self"
                       title="Download File">{{ file.displayName || file.documentFileName || file.internalOriginalName  }}</a>
                    <span class="file-details">
                        <small>V.{{ file.documentVersion }}</small>
                        <small> &nbsp;|&nbsp; {{ file.dateUpdated | amDateFormat:'MMMM Do YYYY'}}</small>
                        <span class="label label-success" ng-if="file.isPublished && authentication.user">Published</span>
                    </span>
                </span>
                <span class="actions">
                    <button ng-disabled="file.internalMime !== 'application/pdf'" ng-click="$event.stopPropagation()"
                            x-modal-pdf-viewer
                            x-pdfobject="file"
                            title="View File"
                            class="btn btn-sm btn-default"><span class="glyphicon glyphicon-eye-open"></span></button>
                    <a class="btn btn-sm btn-default"
                       ng-if="file.userCan.read"
                       href="/api/document/{{ file._id }}/fetch"
                       target="_self"
                       title="Download File"><span class="glyphicon glyphicon-download-alt"></span></a>
                </span>
            </div>
        </div>
    </div>
</div>
