
	
	<div class="view-title-container">
		<h1 class="view-title">{{template.documentType}} &nbsp;<span class="placeholder-value">(Version {{template.versionNumber}})</span></h1>

		<!-- TODO: Need a mechanism to get back to the templates list quickly -->
		<a class="btn btn-xs btn-link hidden" ui-sref="admin.template.list">Cancel</a>
	</div>

	<div class="view-body-container template-view">
		
		<div class="button-bar hidden" ng-init="toggleBlue = true">
			<button class="btn btn-default btn-sm" ng-click="toggleBlue = !toggleBlue">
				<span ng-show="toggleBlue">Hide Outlines</span>
				<span ng-show="!toggleBlue">Show Outlines</span>
			</button>
			<button class="btn btn-default btn-sm" onclick="window.print()">
				<span class="glyphicon glyphicon-print"></span>
				<span>Print</span>
			</button>
		</div>

		<div ng-class="{'edit-outlines': toggleBlue}">	
			<div class="data-set-col">
				<div class="form-group" ng-if="allsections.length > 0"><hr>
					<label class="control-label">Go To Section</label>
					<ul class="task-list list-unstyled">
						<li ng-repeat="section in allsections"><a du-smooth-scroll href="#{{ section.name }}">{{ section.label }}</a></li>
					</ul>
				</div>
				<div class="form-group" ng-if="repeatsections.length > 0"><hr>
					<label class="control-label">Append New in Section</label>
					<ul class="task-list list-unstyled">
						<li ng-repeat="section in repeatsections"><a href ng-click="append(section.name)">{{ section.label }}</a></li>
					</ul>
				</div>
				<div class="form-group"><hr>
					<label class="control-label">Data Set</label>
					<pre class="small">{{dataset | json}}</pre>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading flex-row">
					<h2>Template</h2>
					<div class="actions" ng-init="toggleBlue = true">
						<button class="btn btn-default btn-sm" ng-click="toggleBlue = !toggleBlue">
							<span ng-show="toggleBlue">Hide Outlines</span>
							<span ng-show="!toggleBlue">Show Outlines</span>
						</button>
						<button class="btn btn-default btn-sm" onclick="window.print()">
							<span class="glyphicon glyphicon-print"></span>
							<span>Print Document</span>
						</button>
					</div>
				</div>
				<tmpl-template-render x-template="template" x-mode="'edit'" x-project="project" x-document="dataset"></tmpl-template-render>
			</div>

		</div>
	</div>

