

<div class="document-panel panel panel-default">
    <div class="panel-heading flex-row">
        <h2>{{::title}}</h2>
        <div class="actions">
            <button class="btn btn-sm btn-default" title="Link Documents"
                    ng-if="editable"
                    x-document-mgr-link-modal
                    x-project="project"
                    x-target-name="title"
                    x-target="filelist"
                    x-published-only="'false'"
                    x-on-ok="documentsControl.update"><span class="glyphicon glyphicon-link"></span><span>Link Documents</span></button>
        </div>
    </div>
    <div class="attachments">
        <div class="list-group no-border">
            <div class="list-group-item flex-row" ng-if="filelist.length == 0">
                <span class="title">No files available.</span>
            </div>
            <a class="list-group-item flex-row" ng-repeat="file in filelist" href="/api/document/{{ file._id }}/fetch" target="_blank" title="Download file">
                <span class="icon">
                    <span class="glyphicon glyphicon-file"></span>
                </span>
                <span class="title">
                    <span>{{ file.internalOriginalName }}</span>
                    <span class="file-details">
                        <span class="directory hidden">
                            <small ng-if="file.projectFolderType">{{ file.projectFolderType }}</small>
                            <small ng-if="file.projectFolderSubType"> / {{ file.projectFolderSubType }}</small>
                            <small ng-if="file.projectFolderSubType"> / {{ file.projectFolderName }}</small>
                        </span>
                        <small>V.{{ file.documentVersion }}</small>
                        <small> &nbsp;|&nbsp; {{ file.dateUpdated | amDateFormat:'MMMM Do YYYY'}}</small>
                        <span class="label label-success" ng-if="file.isPublished && authentication.user">Published</span>
                    </span>
                </span>
                <span class="actions">
                    <button class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                </span>
            </a>
        </div>
    </div>
</div>
