
<div class="view-title-container">
	<h1>Template Library</h1>
	<!-- <tmpl-permissions-gear class="permission-btn" x-context="menu.project" x-object="menu.project" x-permissions=""></tmpl-permissions-gear> -->
</div>

<div class="view-body-container">
	<div class="button-bar clearfix">
		<a ng-if="application.userCan.createTemplate" class="btn btn-default btn-sm" ui-sref="admin.template.create()">
			<span class="glyphicon glyphicon-plus"></span>
			<span>Add Template</span>
		</a>
		<div class="pull-right">
			<show-filter x-toggle-filter="toggleFilter"></show-filter>
		</div>
	</div>
	<div class="panel panel-default">
		<table ng-table="tableParams" x-show-filter="toggleFilter" class="table table-hover table-striped">
			<tr ng-repeat="o in $data" ui-sref="admin.template.detail({templateId:o.id})" class="clickable">
				<td data-title="'Document Type'"
					filter="{'documentType':'text'}"
					sortable="'name'">{{o.documentType}}</td>
				<td data-title="'Version Number'"
					sortable="'versionNumber'"
					class="text-center">{{o.versionNumber}}</td>
				<td data-title="'Date Updated'"
					sortable="'dateUpdated'"
					class="text-center">{{o.dateUpdated | date:'y-MM-dd HH:mm a'}}</td>
				<td class="actions-col action-x2" header-class="'actions-col action-x2'">
					<a ng-if="application.userCan.createTemplate" class="btn btn-link btn-sm" title="Edit Template" ng-click="$event.stopPropagation()" ui-sref="admin.template.edit({templateId:o.id})">
						<span class="glyphicon glyphicon-pencil"></span></a>
					<a ng-if="application.userCan.createTemplate" class="btn btn-link btn-sm" title="Test Template" ng-click="$event.stopPropagation()" ui-sref="admin.template.test({templateId:o.id})">
						<span class="glyphicon glyphicon-play"></span>
					</a>
				</td>
			</tr>
			<tr ng-if="!$data || $data.length === 0">
				<td colspan="4">
					No records found.
				</td>
			</tr>
		</table>
	</div>

</div><!-- / view-body-container -->
