

<div class="document-panel panel panel-default">
    <div class="panel-heading flex-row">
        <h2>{{::title}}</h2>
        <div class="actions">
            <button class="btn btn-default btn-sm" title="Link Document" 
                ng-if="editable"
                x-modal-document-link x-current="curVal" 
                x-project="project" 
                x-doc-location-code="docLocationCode" 
                x-artifact="artifact">
                <span class="glyphicon glyphicon-link"></span><span>Link Document<span>
            </button>
        </div>
    </div>
    <div class="attachments">
        <div class="list-group no-border">
            <div class="list-group-item flex-row" ng-if="filelist.length == 0">
                <span class="title">No files available.</span>
            </div>
            <a class="list-group-item flex-row" ng-repeat="file in filelist" href="/api/document/{{ file._id }}/fetch" target="_blank" title="Download file">
                <span class="icon">
                    <span class="glyphicon glyphicon-file"></span>
                </span>
                <span class="title">
                    <span>{{ file.internalOriginalName }}</span>
                    <span class="file-details">
                        <span class="directory hidden">
                            <small ng-if="file.projectFolderType">{{ file.projectFolderType }}</small>
                            <small ng-if="file.projectFolderSubType"> / {{ file.projectFolderSubType }}</small>
                            <small ng-if="file.projectFolderSubType"> / {{ file.projectFolderName }}</small>
                        </span>
                        <small>{{file.isPublished}}</small>
                        <small>V.{{ file.documentVersion }}</small>
                        <small> &nbsp;|&nbsp; {{ file.dateUpdated | amDateFormat:'MMMM Do YYYY'}}</small>
                        <span class="label label-success" ng-if="file.isPublished">Published</span>
                    </span>
                </span>
                <span class="actions">
                    <button class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-download-alt"></span>
                    </button>
                </span>
            </a>
        </div>
    </div>
</div>
