
	<div class="view-title-container flex-row">
		<h1>Add/Edit Template</h1>
		<div class="actions">
			<a class="btn btn-default btn-sm" ui-sref="admin.template.list">Cancel</a>
			<a class="btn btn-primary btn-sm" href ng-click="save()">Save</a>
		</div>
	</div>

	<div class="view-body-container">
		<section>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<label for="documentType" class="control-label">For Document Type</label>
						<select ng-disabled="which=='edit'" id="documentType" ng-model='template.documentType' class="form-control input-sm" ng-options="type.code as type.name for type in types"></select>
					</div>
				</div>
			</div>
		</section>
		<div class="panel panel-default" ng-show="template.sections.length === 0">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<h5 class="no-upper-margin">Section</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p>There are no sections on this template.</p>
						<a href class="small" ng-click="addSection()">+ Append Section</a>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default" ng-repeat="section in template.sections">
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-12">
						<h5 class="no-upper-margin">Section: {{ section.name }}</h5>
					</div>
				</div>
				<div class="row form-group">
					<div class="col-sm-3">
						<label for="name" class="control-label">Name</label>
						<input id="name" type="text" class="form-control input-sm" ng-model="section.name">
					</div>
					<div class="col-sm-3">
						<label for="slabel" class="control-label">Label</label>
						<input id="slabel" type="text" class="form-control input-sm" ng-model="section.label">
					</div>
					<!--
					<div class="col-sm-2">
						<div class="checkbox control-with-label">
							<label for="optional">
								<input id="optional" type="checkbox" ng-model="section.optional">
								Optional
							</label>
						</div>
					</div>
					-->
					<div class="col-sm-2">
						<div class="checkbox control-with-label">
							<label for="multiple">
								<input id="multiple" type="checkbox" ng-model="section.multiple">
								Multiple
							</label>
						</div>
					</div>
					<div class="col-sm-2" ng-if="section.multiple">
						<div class="checkbox control-with-label">
							<label for="isheader">
								<input id="isheader" type="checkbox" ng-model="section.isheader">
								Header
							</label>
						</div>
					</div>
					<div class="col-sm-2" ng-if="section.multiple">
						<div class="checkbox control-with-label">
							<label for="isfooter">
								<input id="isfooter" type="checkbox" ng-model="section.isfooter">
								Footer
							</label>
						</div>
					</div>
				</div>
				<div class="row" ng-if="section.multiple && section.isheader">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="shortDesc" class="control-label">Header (Optional)</label>
							<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="section.header" rows=6></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="shortDesc" class="control-label">Template</label>
							<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="section.template" rows=6></textarea>
						</div>
					</div>
				</div>
				<div class="row" ng-if="section.multiple && section.isfooter">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="shortDesc" class="control-label">Footer (Optional)</label>
							<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="section.footer" rows=6></textarea>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<h5>Variables</h5>
					</div>
				</div>
				<div class="row form-group" ng-repeat="field in section.meta">
					<div class="col-sm-3">
						<label for="name" class="control-label">Variable Name (no spaces)</label>
						<input id="name" type="text" class="form-control input-sm" ng-model="field.name">
					</div>
					<div class="col-sm-3">
						<label for="label" class="control-label">Label</label>
						<input id="label" type="text" class="form-control input-sm" ng-model="field.label">
					</div>
					<div class="col-sm-3">
						<label for="type" class="control-label">Variable Type</label>
						<select id="type" ng-model="field.type" class="form-control">
							<option>Text</option>
							<option>Html</option>
							<option>Auto</option>
							<option>List</option>
							<option>Content</option>
							<option>Document List</option>
						</select>
					</div>
					<div class="col-sm-3" ng-if="field.type==='Text'||field.type==='Html'">
						<label for="default" class="control-label">Default value</label>
						<input id="default" type="text" class="form-control input-sm" ng-model="field.default">
					</div>
					<div class="col-sm-3" ng-if="field.type==='Auto'">
						<label for="default" class="control-label">Default value</label>
						<input id="default" type="text" class="form-control input-sm" ng-model="field.default">
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<a href class="small" ng-click="addVariable(section.meta)">+ Add Variable</a>
					</div>
				</div>

			</div>

			<div class="panel-footer" ng-if="$last">
				<div class="row">
					<div class="col-sm-12">
						<a href class="small" ng-click="addSection()">+ Append Section</a>
					</div>
				</div>
			</div>

		</div>

		<div class="form-footer clearfix">
			<div class="pull-right">
				<a class="btn btn-default btn-sm" ui-sref="admin.template.list">Cancel</a>
				<a class="btn btn-primary btn-sm" href ng-click="save()">Save</a>
			</div>
		</div>
	</div><!-- / VIEW BODY CONTAINER -->

</div>
