$app-footer-font-size-sm: 0.85rem;
$app-footer-font-size: 1.15rem;
$app-footer-color: #fff;

.app-footer {
	padding: 1rem 2rem;
	color: $app-footer-color;
	border-top: 4px solid $corp-gold;
	background: $corp-blue;
	text-align: center;
	font-size: $app-footer-font-size-sm;

	&__nav {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		
        li {
            display: inline-block;
            margin: 0.25rem 0;
			
			+ li {
				&:before {
					position: relative;
					top: -1px;
					display: inline-block;
					margin-left: 0.5rem;
					margin-right: 0.75rem;
					content: '|';
				}
			}
        }

		a {
			color: $app-footer-color;
			text-decoration: none;
		}
	}

}

@media (min-width: 768px) {
	.app-footer {
		text-align: left;
		font-size: $app-footer-font-size;
	}
}

.footer-admin {
    margin-top: 2rem;
    padding-top: 1.5rem;
    text-align: center;

    .gov-links {
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 0;


    }

    .connect-links {
        margin-top: -0.5rem;
        margin-bottom: 0;

        li {
            margin: 0.25rem;
            display: inline-block;

            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

@media (min-width: 760px) {
    .footer-admin {
        margin-top: 3rem;

        .gov-links {
            float: left;
            margin-bottom: 0;
        }

        .connect-links {
            margin-right: 3.5rem;
            float: right;
        }
    }
}

@media (min-width: 1200px) {
    .footer-admin {
        .connect-links {
            margin-right: 0;
        }
    }
}