
footer {
    border-top: 4px solid $gold;
    background: $footer-bg;
    color: $footer-color;
    text-align: center;

    .container {
        padding-top: 3rem;
        padding-bottom: 1rem;
    }

    section {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid #5475a7;

        &.last {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
    }

    h4 {
        margin-bottom: 1.25rem;
        font-size: 1rem;
        font-weight: 600;
    }

    h5 {
        padding-top: 0.25rem;
        font-size: 0.875rem;
        font-weight: 600;
        text-transform: uppercase;
        opacity: 0.5;
    }

    p {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }

    ul {
        padding: 0;
        font-size: 0.875rem;
        list-style-type: none;

        &.last {
            margin-bottom: 0;
        }

        li {
            margin-bottom: 0.25rem;
        }
    }

    a {
        color: #FFF;

        &:focus,
        &:hover {
            color: $gold;
        }
    }

    .btn {
        border-color: $gold;
        color: $gold;
        font-size: 0.875rem;
        font-weight: 700;
    }
}

@media (min-width: 560px) {
    footer {
        text-align: left;
    }
}

@media (min-width: 768px) {
    footer {
        section {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: none;
        }

        h4 {
            padding-bottom: 1.25rem;
            border-bottom: 1px solid #5475a7;
        }
    }
}

.footer-admin {
    margin-top: 2rem;
    padding-top: 1.5rem;
    border-top: 1px solid #5475a7;
    text-align: center;

    .gov-links {
        margin-top: 0;
        margin-bottom: 1rem;
        padding: 0;

        li {
            display: inline-block;
            margin: 0;
            line-height: 1rem;

            &:after {
                position: relative;
                top: -1px;
                display: inline-block;
                margin-left: 0.5rem;
                margin-right: 0.25rem;
                content: '|';
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }
    }

    .connect-links {
        margin-top: -0.5rem;
        margin-bottom: 0;

        li {
            margin: 0.25rem;
            display: inline-block;

            img {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}

@media (min-width: 760px) {
    .footer-admin {
        margin-top: 3rem;

        .gov-links {
            float: left;
            margin-bottom: 0;
        }

        .connect-links {
            margin-right: 3.5rem;
            float: right;
        }
    }   
}

@media (min-width: 1200px) {
    .footer-admin {
        .connect-links {
            margin-right: 0;
        }
    }
}