
header {
    @include clearfix;
    padding: 0.5rem;
    background: $header-bg;
    color: $header-font-color;
}

.brand-container {
    @include clearfix;  
}

.brand {
    float: left;
    display: block;
    width: 240px;
    height: 40px;
    background-image: url("/modules/core/client/images/bcgov-logo-horiz-SM.png");
    background-repeat: no-repeat;
    background-size: auto;
}

.navbar-toggler {
    margin-top: 0.05rem;
    padding: 0.5rem 0.4rem;
    border: 2px solid $gold;
    color: $gold;
    font-size: 1rem;
    font-weight: 600;

    &.collapsed {
        border: 2px solid transparent;
        color: #FFF;
    }

    i {
        float: left;
        margin-top: -0.25rem;
        margin-bottom: -0.25rem;

        + span {
            display: none;
            margin-left: 0.25rem;
            font-size: 0.85rem;
        }
    }
}

@media (min-width: 400px) {
    .navbar-toggler {
        i {
            + span {
                display: inline-block;
            }
        }
    }
}

.main-nav {
    padding: 0;

    .navbar-nav {
        margin-top: 0.5rem;

        .nav-link {
            position: relative;
            z-index: 1001; // +1 to keep above dropdown menus
            padding: 0.875rem 0.5rem;
            line-height: 1.2rem;
            border-top: 1px solid $mn-border-color;
            color: $mn-color;
            font-size: $mn-font-size;
            cursor: pointer;
        }

        .dropdown {
            &.show {
                .dropdown-toggle {
                    color: $gold;
                }
            }
        }

        .dropdown-menu {
            margin-top: -0.4rem;
            padding-top: 0;
            border: none;
            border-radius: 0;
            background-color: transparent;

            .dropdown-item {
                padding: 0.5rem;
                color: $mn-color;
                font-size: $mn-dropdown-menu-size;
                white-space: normal;
                cursor: pointer;

                strong {
                    font-weight: 600;
                    transition: color 0.2s ease-out;
                }

                .dd-item-desc {
                    display: block;
                    font-size: 0.75rem;
                    opacity: 0.5;
                    transition: opacity 0.2s ease-out;
                }

                &:focus,
                &:hover {
                    background: transparent;

                    strong {
                        color: $mn-hover-color;
                    }

                    .dd-item-desc {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        padding: 0;
        border-bottom-style: solid;
        border-bottom-width: 0;
        border-bottom-color: transparent;
        background-color: rgba($header-bg, 0);
        transition: all linear 0.2s;

        &.dark {
            border-bottom-width: 4px;
            border-bottom-color: $gold;
            background-color: $header-bg;
        }
    }

    .brand-container {
        float: left;

        .navbar-toggler {
            display: none;
        }
    }

    .brand {
        margin-top: 0.25rem;
        margin-left: 0.25rem;
        width: 380px; // Using PX dimensions here to ensure exact match to image
        height: 60px;
        background-image: url("/modules/core/client/images/bcgov-logo-horiz-LG.png");
        background-size: auto;
    }

    .main-nav {
        float: right;

        .navbar-nav {
            margin-top: 0;

            .nav-link {
                height: 4rem; //60px to match the branding height
                padding: 0.5rem 1rem !important;
                border-top: none;

                span {
                    margin-top: 0.9rem;
                    display: block;
                }

                &:hover {
                    background-color: #002663;
                }
            }

            > li {
                .dropdown-menu {
                    margin: 0;
                    padding: 0.5rem;
                    min-width: 18rem;
                    background-color: #002663;
                    // box-shadow: 0.2rem 0.2rem 0.5rem rgba(0,0,0,0.2);
                }

                &.dropdown {
                    &.show  {
                        .dropdown-toggle {
                            color: $mn-color;
                        }

                        .dropdown-menu {
                            display: none;
                        }
                    }

                    &:hover {
                        > a, 
                        > a:hover,
                        > a:focus {
                            background-color: #002663;
                            border: none;
                        }

                        .dropdown-menu {
                            display: block;
                        }
                    }
                }
            }

            .dropdown-toggle:after {
                display: none;
            }
        }
    }
}