// Colors
$primary:              			#003366;
$gold:                 			#fcba19;

// Header
$header-height: 	   			64px;
$header-bg:			   			#003366;
$header-font-color:	   			#fff;

// Main Navigation
$mn-font-size:                  1.3rem; //14px
$mn-dropdown-menu-size:         0.875rem; //13px
$mn-color:                      #fff;
$mn-border-color:               #5f79a2;
$mn-hover-bg:                   #002663;
$mn-hover-color:                #fff;
$mn-toggle-color:               $gold;
$mn-dropdown-bg:                #002663;
$mn-dropdown-hover-color:		$gold;


header {
    &.app-header {
        @include clearfix;
        border-bottom: 4px solid $gold;
        background: $header-bg;
        color: $header-font-color;
	}

	.navbar {
		&-toggle {
			margin-top: 10px;
			margin-right: 12px;
			padding: 9px;
			width: 41px;
			height: 36px;
			border: 2px solid $gold;

			.icon-bar {
				width: auto;
				background-color: $gold;
				
				+ .icon-bar {
					margin-top: 3px;
				}
			}

			&.collapsed {
				border: 2px solid transparent;

				.icon-bar {
					background-color: $mn-color;
				}
			}
		}

		&-brand {
			display: block;
			padding: 0;
			width: 255px;
			height: 55px;
			background-image: url("/modules/core/client/images/bcgov-eao-horiz-sm.png");
			background-position: center;
			background-repeat: no-repeat;
		}

		&-collapse {
			padding: 0;
			box-shadow: none;
		}

		&-nav {
			@include flexbox();
			@include flexflow(column nowrap);
			margin: 0;
			margin-top: 0.65rem;

			> li {
				@include flex(1 1 auto);
				line-height: auto;	
	
				> a {
					padding: 1.35rem 1.5rem;
					color: $mn-color;
					letter-spacing: 0.07rem;
					text-transform: uppercase;
					font-size: $mn-font-size;
					font-weight: 700;
					cursor: pointer;

					&:hover,
					&:focus {
						color: $mn-hover-color;
						background: $mn-hover-bg; 
					}

				}
	
				> .dropdown-menu {
					padding: 0;
					border: none;
					border-radius: 0;
					background-color: $mn-dropdown-bg;

					> li {
						a {
							padding: 1rem 1.25rem;
							color: $mn-color;
							white-space: normal;
	
							strong {
								display: block;
							}
	
							&:hover,
							&:focus {
								color: $gold;
								background: $mn-hover-bg; 

								.main-nav__menu-item--description {
									color: $mn-color;
								}
							}
						}
					}
				}
			}
		}

	}

	.nav {
		.open {
			a {
				background: $mn-hover-bg; 

				&:hover,
				&:focus {
					background: $mn-hover-bg; 
				}
			}
		}
	}

}

.main-nav {
	&__menu-item {

		&--description {
			display: block;
			min-width: 24rem;
			opacity: 0.5;
			font-size: 1.2rem;
		}
	}

	&__vert-pipe {
		div {
			margin-top: 1.25rem;
			margin-right: 0.5rem;
			margin-left: 0.5rem;
			display: block;
			width: 1px;
			height: 40px;
			background-color: $mn-border-color;
		}
	}
}

@media (max-width: 1199px) {
	header {
		.navbar {
			&-header {
				float: none;
			}

			&-nav {
				float: none;

				> li {
					> a {
						border-top: 1px solid $mn-border-color;
					}

					&.main-nav__vert-pipe {
						display: none;
					}
				}

				.open {
					.dropdown-toggle {
						color: $gold;
					}

					.dropdown-menu {
						position: static;
						float: none;
						margin-top: -0.5rem;
						padding-bottom: 0.5rem;
						width: 100%;
						background-color: $mn-dropdown-bg;
						

						> li {
							> a {
								padding: 1rem 1.35rem;
							}
						}
					}
				}
			}

			&-toggle {
				display: block !important;
			}

			&-collapse {
				&.collapse {
					display: none !important;
					
					&.in {
						display: block !important;
					}	
				}
			}
		}
	}

}

@media (min-width: 1200px) {
	header {
		.navbar {
			&-brand {
				margin-bottom: 2px;
				margin-left: 2px;
				width: 305px;
				height: $header-height;
				background-image: url('/modules/core/client/images/bcgov-eao-horiz-lg.png');
			}

			&-nav {
				@include flexflow(row nowrap);
				margin-top: 0;
				float: right;
		
				> li {
					@include flex(1 1 auto);
		
					> a {
						padding-top: 22px;
						height: 66px;
						color: $mn-color;
					}

					> .dropdown-menu {
						padding: 0.5rem;
					}
				}

				.dropdown {
					&:hover {
						.dropdown-toggle {
							background: $mn-hover-bg;  
						}

						.dropdown-menu {
							display: block;
						}
					}
				}
			}
		}
	}
}