
a {
    color: #1a5a96;
}

// Container
.container {
    margin: 0 auto;
    padding-top: 2rem;
    padding-right: 1.5rem;
    padding-bottom: 2.25rem;
    padding-left: 1.5rem;
    width: 100%;
    max-width: 1100px;

    section {
        &.last {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 760px) {
    .container {
        padding-top: 3rem;
        padding-right: 2rem;
        padding-bottom: 3.5rem;
        padding-left: 2rem;
    }
}

// Main Element
main {
    h2 {
        margin-bottom: 1.5rem;
        line-height: 2rem;
        font-size: 1.75rem;
    }

    h3 {
        margin-bottom: 1.5rem;
        line-height: 1.75rem;
        font-size: 1.5rem;

        span {
            display: block;
            font-size: 1rem;
            letter-spacing: 0;
        }
    }

    p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    // Named anchor helper
    .pg-anchor[id]:before {
        content:" ";
        display:block;
        height: 98px;
        margin:-98px 0 0;
    }
}

@media (min-width: 760px) {
    main {
        h2 {
            margin-bottom: 2rem;
            line-height: 2.25rem;
            font-size: 2rem;

            span {
                display: block;
            }
        }
        
        h3 {
            font-size: 1.75rem;
        }
    }
}

main {
    section {
        margin-bottom: 2rem;

        h3 {
            margin-bottom: 1.5rem;
        }

        h4 {
            margin-bottom: 1.5rem;
            line-height: 1.9rem;
        }

        h5 {
            line-height: 1.25rem;
            font-size: 1rem;
            font-weight: 600;
        }

        ul {
            margin-bottom: 1.75rem;
            list-style-type: square;
        }
    }

    ul.content-external-links {
        margin-bottom: 2rem;
    }
}
