// Mixins
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin list-reset() {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin flex-box() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin flex-direction($values) {
  -webkit-flex-direction: $values;
  -ms-flex-direction: $values;
  flex-direction: $values;
}



// Icon Sizing 
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

// Typekit Loading Fix
.wf-loading {
    display: none;
}






