<form ng-submit="confirmDlg.ok()">
	<div class="modal-header">

		<!-- Cancel and close modal -->
		<button class="btn btn-default close" type="button" ng-click="confirmDlg.cancel()">
			<span aria-hidden="true">&times;</span>
		</button>
		<h3 class="modal-title">{{confirmDlg.titleText}}</h3>
	</div>

	<div ng-show="confirmDlg.errorMsg">{{confirmDlg.errorMsg}}</div>
	<div class="modal-body">
		<div class="form-group">
			<label class="control-label">{{confirmDlg.confirmText}}</label>
			<!-- show a list of items if they exist -->
			<ul>
				<li ng-repeat="t in confirmDlg.confirmItems">{{t}}</li>
			</ul>
		</div>
	</div>

	<div class="modal-footer">

		<!-- Cancel and close Modal -->
		<button class="btn btn-default" type="button" ng-click="confirmDlg.cancel()">{{confirmDlg.cancelText}}</button>

		<!-- Disabled until something is entered into the input field -->
		<button class="btn btn-primary" type="submit">{{confirmDlg.okText}}</button>

	</div>
</form>