/* THEMES */
/* THEME */
@import url("https://fonts.googleapis.com/css?family=Arimo|Open+Sans");
/*70px based on 16px @ 1rem */
/* HELPERS */
/* MIXINS */
/* HELPERS */
a {
  color: #1a5a96; }

h1, h2, h3 {
  margin: 0; }

h1 {
  font-size: 2.25rem;
  font-weight: bold; }

h2 {
  font-size: 1.375rem;
  font-weight: bold; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  margin-bottom: 1.5rem;
  line-height: 1.65rem; }

.list-group-item {
  padding: 1.5rem; }

.checkbox-group label {
  width: 50%; }

/* FLOATS */
.fl {
  float: left; }

.fr {
  float: right; }

/* MARGINS */
.mt-025 {
  margin-top: 0.25rem; }

.mt-05 {
  margin-top: 0.5rem; }

/* BUTTONS */
.btn-link {
  color: #1a5a96; }

/* FONT COLORS */
.primary-color {
  color: #494949; }

.secondary-color, .breadcrumbs span {
  color: #999; }

/* MISC COMPONENTS */
.read-more-link {
  display: inline-block;
  white-space: nowrap;
  font-size: 0.875rem;
  font-weight: bold; }

/* BOOTSTRAP OVERRIDES */
.tag-default {
  color: #494949;
  font-weight: bold;
  background: #DDD; }

.table thead th {
  background: #FFF;
  border-bottom: 1px solid #EEE;
  font-size: 0.75rem; }

.table-striped tbody tr:nth-of-type(odd) {
  background: #F7F8FA; }

.table-hover tr {
  cursor: pointer;
  transition: background ease-in 0.5s; }
  .table-hover tr td {
    background: transparent; }
.table-hover tr:hover {
  background: #f1f3f5; }

.form-group label {
  font-size: 0.875rem; }
.form-group .form-control {
  font-size: 0.875rem; }
.form-group .tag-list {
  margin-top: 0.5rem; }

/* ICON HELPERS */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* LAYOUT */
html, body {
  margin: 0;
  background: #FFF; }

html {
  height: 100%;
  font-size: 14px; }

@media (min-width: 1020px) {
  html {
    font-size: 16px; } }
body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: scroll;
  height: 100vh;
  color: #494949;
  font-family: "Arimo", sans-serif; }

header {
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 1rem;
  color: #FFF;
  background: #003366;
  border-bottom: 3px solid #fcba19; }
  header img {
    margin-top: -3px; }

footer {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  padding: 1rem;
  color: #FFF;
  background: #003366;
  border-top: 2px solid #fcba19;
  font-size: 0.875rem; }

.app-main {
  flex: 1 0 auto; }
  .app-main .container {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem; }

.title-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-bottom: 2rem; }
  .title-container h1 {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .title-container.stacked {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  .title-container .tag-list {
    margin-top: 0.5rem; }
    .title-container .tag-list .tag {
      margin-right: 0.25rem;
      padding: 0.4em 0.6em; }
  .title-container .actions {
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
    .title-container .actions .btn {
      padding: 0.5rem;
      font-size: 0.875rem;
      font-weight: bold; }
      .title-container .actions .btn i {
        margin-top: -0.3rem;
        margin-right: 0.3rem;
        margin-bottom: -0.3rem; }

.page-narrative p {
  margin-bottom: 1.5rem; }
  .page-narrative p:last-child {
    margin-bottom: 0; }
.page-narrative li {
  margin-bottom: 1.5rem; }
  .page-narrative li:last-child {
    margin-bottom: 0; }

.card {
  border: none; }

.card-title {
  margin: 0;
  padding: 0.875rem 1rem;
  font-size: 1rem; }

.card-title,
.card-block {
  padding: 1rem; }

.card-block {
  background: #F7F8FA; }

.aside-left main {
  float: right; }

aside {
  margin-top: 3rem; }
  aside section.card {
    margin-bottom: 1rem; }
    aside section.card:last-child {
      margin-bottom: 0; }
  aside .card-title {
    background: #2b5580;
    color: #FFF;
    font-size: 0.875rem;
    font-weight: bold; }

@media (min-width: 720px) {
  aside {
    margin-top: 0; } }
main section {
  margin-bottom: 2.5rem; }
  main section:last-child {
    margin-bottom: 0; }
  main section h2 {
    margin-bottom: 0.875rem; }

.modal-fullscreen .modal-dialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0; }
.modal-fullscreen .modal-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: none; }
.modal-fullscreen .modal-header {
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding: 1rem;
  color: #FFF;
  background: #003366;
  border-bottom: 3px solid #fcba19; }
  .modal-fullscreen .modal-header .btn-link {
    font-size: 1.6rem;
    color: #FFF; }
.modal-fullscreen .modal-body {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  padding: 0; }
.modal-fullscreen .modal-footer {
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

@media (min-width: 544px) {
  .modal-fullscreen .modal-dialog {
    max-width: 100%; } }
.modal.fade .modal-dialog {
  -moz-transition: none !important;
  -o-transition: none !important;
  -webkit-transition: none !important;
  transition: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important; }

.tag {
  padding: 0.4em 0.6em; }

.card-block .form-group label {
  font-size: 0.875rem;
  font-weight: bold; }
.card-block .buttons {
  margin-top: 1rem; }
  .card-block .buttons button {
    font-size: 0.875rem;
    font-weight: bold; }
  .card-block .buttons ul {
    margin-left: -0.25rem;
    margin-right: -0.25rem; }
  .card-block .buttons li {
    float: left;
    width: 50%;
    padding: 0.25rem; }
    .card-block .buttons li .btn {
      width: 100%; }

.map-thumb {
  background: #f7f8fa;
  padding: 1rem;
  padding-bottom: 0; }
  .map-thumb img {
    background-color: #FFF;
    min-width: 100%;
    max-width: 100%;
    cursor: pointer; }

.map-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .map-container .title-container {
    color: #FFF;
    background: #003366;
    height: 70px;
    position: relative; }
    .map-container .title-container h1 {
      margin-top: 1.1rem;
      margin-left: 1rem; }
    .map-container .title-container a {
      position: absolute;
      right: 1rem;
      top: 1.5rem;
      color: #FFF; }

.map-layers-view {
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0; }

.angular-google-map {
  width: 100%;
  height: 100%; }

.angular-google-map-container {
  position: absolute;
  width: 100%;
  height: 100%; }

.conditions aside .card-title {
  background: #EEE;
  color: #494949; }

.checkbox-temp label {
  display: block;
  width: 50%;
  float: left;
  font-weight: normal !important; }

.nav-tabs {
  margin-bottom: 1.5rem;
  background: transparent;
  border-bottom: 4px solid #CCC;
  font-weight: bold; }
  .nav-tabs .nav-item {
    margin-bottom: -4px; }
    .nav-tabs .nav-item .nav-link {
      color: #999; }
    .nav-tabs .nav-item.active .nav-link {
      color: #2b5580;
      border-bottom: 4px solid #2b5580; }
  .nav-tabs .nav-link {
    background: transparent;
    border: none; }

pre li {
  margin-bottom: 1rem; }
  pre li:last-child {
    margin-bottom: 0; }

.has-read-more {
  position: relative;
  margin-bottom: 4rem; }
  .has-read-more .toggle-link {
    position: absolute;
    bottom: -1rem;
    cursor: pointer; }

.topic-narrative .toggle-link:after {
  position: absolute;
  display: block;
  content: "Read More";
  background: #FFF;
  white-space: nowrap;
  font-weight: bold;
  font-size: 0.875rem;
  color: #2b5580; }
.topic-narrative .toggle-link + .content p {
  display: none; }
.topic-narrative .toggle-link + .content p:first-child {
  display: block; }
.topic-narrative .toggle-link + .content p:nth-child(2) {
  display: block; }
.topic-narrative .toggle-link:checked + .content p {
  display: block; }
.topic-narrative .toggle-link:checked:after {
  content: "Read Less"; }

.subtopic-narrative .toggle-link:after {
  position: absolute;
  display: block;
  content: "Read More";
  background: #FFF;
  white-space: nowrap;
  font-weight: bold;
  font-size: 0.875rem;
  color: #2b5580; }
.subtopic-narrative .toggle-link + .content p {
  display: none; }
.subtopic-narrative .toggle-link + .content p:first-child {
  display: block; }
.subtopic-narrative .toggle-link + .content p:nth-child(2) {
  display: block; }
.subtopic-narrative .toggle-link:checked + .content p {
  display: block; }
.subtopic-narrative .toggle-link:checked:after {
  content: "Read Less"; }

.project-narrative .toggle-link:after {
  position: absolute;
  display: block;
  content: "Read More";
  background: #FFF;
  white-space: nowrap;
  font-weight: bold;
  font-size: 0.875rem;
  color: #2b5580; }
.project-narrative .toggle-link + .content p {
  display: none; }
.project-narrative .toggle-link + .content p:first-child {
  display: block; }
.project-narrative .toggle-link:checked + .content p {
  display: block; }
.project-narrative .toggle-link:checked:after {
  content: "Read Less"; }

.ce-narrative .toggle-link:after {
  position: absolute;
  display: block;
  content: "Read More";
  background: #FFF;
  white-space: nowrap;
  font-weight: bold;
  font-size: 0.875rem;
  color: #2b5580; }
.ce-narrative .toggle-link + .content p {
  display: none; }
.ce-narrative .toggle-link + .content p:first-child {
  display: block; }
.ce-narrative .toggle-link + .content p:nth-child(2) {
  display: block; }
.ce-narrative .toggle-link:checked + .content p {
  display: block; }
.ce-narrative .toggle-link:checked:after {
  content: "Read Less"; }

.ce-grid th.sortable .sort-indicator {
  padding-right: 18px;
  position: relative; }
.ce-grid th.sortable.sort-asc,
.ce-grid th.sortable.sort-desc {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); }
.ce-grid th.sortable.sort-asc,
.ce-grid th.sortable.sort-desc {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); }
.ce-grid th.sortable .sort-indicator:before {
  margin-top: 2px;
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000; }
.ce-grid th.sortable.sort-desc .sort-indicator:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  box-shadow: none; }
.ce-grid th.sortable .sort-indicator:after,
.ce-grid .ng-table th.sortable .sort-indicator:before {
  content: "";
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000 transparent;
  visibility: visible;
  right: 5px;
  top: 50%;
  position: absolute;
  opacity: .3;
  margin-top: -4px; }

section h2 em {
  font-weight: normal;
  font-style: normal; }

/* MAP LAYER */
.map-legend {
  position: absolute;
  top: 80px;
  right: 1rem;
  width: 200px;
  background: #FFF;
  box-shadow: 0 0 4px #333; }
  .map-legend h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem;
    text-transform: uppercase; }
  .map-legend .legend-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .map-legend .legend-item .swatch {
      -webkit-box-flex: 0 0 auto;
      -moz-box-flex: 0 0 auto;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
      margin: 0.45rem;
      margin-right: 0.2rem;
      width: 0.875rem;
      height: 0.875rem; }
    .map-legend .legend-item .layer-name {
      -webkit-box-flex: 1 1 auto;
      -moz-box-flex: 1 1 auto;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      margin: 0.25rem;
      font-size: 0.875rem;
      font-weight: bold; }

/* COMPONENTS */
.action-summary p {
  margin-bottom: 1.675rem;
  line-height: 1.675rem;
  font-size: 1.15rem;
  font-weight: bold; }
  .action-summary p:last-child {
    margin-bottom: 0; }

.action-narrative p {
  margin-bottom: 1.675rem;
  line-height: 1.675rem;
  font-style: italic; }

.breadcrumbs {
  margin-bottom: 1.5rem;
  font-size: 0.875rem; }

.authorization-blocks {
  color: #2b5580; }
  .authorization-blocks .secondary {
    margin-top: 0.1rem;
    opacity: 0.65; }
  .authorization-blocks.resource-list .list-group-item {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 1rem; }
    .authorization-blocks.resource-list .list-group-item .details {
      margin-top: 0.5rem; }
      .authorization-blocks.resource-list .list-group-item .details span {
        display: inline-block; }

@media (min-width: 1020px) {
  .authorization-blocks.resource-list .list-group-item {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .authorization-blocks.resource-list .list-group-item .details {
      display: block;
      margin-top: 0;
      text-align: right; }
      .authorization-blocks.resource-list .list-group-item .details span {
        display: block; } }
.ce-grid table {
  table-layout: fixed; }
.ce-grid thead {
  font-size: 0.875rem;
  font-weight: bold; }
  .ce-grid thead tr {
    width: 100%; }
  .ce-grid thead th {
    padding: 0.5rem 1rem;
    border-bottom: none; }
.ce-grid tbody {
  width: 100%;
  display: block;
  font-size: 0.875rem; }
  .ce-grid tbody tr {
    position: relative;
    width: 100%; }
  .ce-grid tbody td {
    padding: 1rem;
    border-top: none; }
    .ce-grid tbody td a {
      font-weight: bold; }
.ce-grid tr {
  display: table;
  table-layout: fixed;
  border-bottom: 1px solid #EEE; }
.ce-grid .ce-tags {
  margin-top: 0.625rem; }
.ce-grid pre {
  overflow: hidden;
  white-space: normal;
  font-family: "Arimo", sans-serif;
  font-size: 0.75rem; }
  .ce-grid pre p {
    margin: 0.5rem 0;
    line-height: 1rem; }
.ce-grid .tag-list {
  margin-top: 0.5rem; }
  .ce-grid .tag-list .tag {
    margin-right: 0.25rem;
    font-size: 0.75rem; }
.ce-grid .ce-grid-row-desc {
  margin-top: 0.675rem;
  font-size: 0.75rem;
  font-style: italic; }
  .ce-grid .ce-grid-row-desc p {
    margin-bottom: 1rem;
    line-height: 1.2rem; }

.inspections-grid td.id-col {
  width: 100%; }
.inspections-grid td.date-col,
.inspections-grid td.followup-col {
  position: absolute;
  padding: 1rem; }
.inspections-grid .date-col {
  top: 0;
  right: 12rem;
  text-align: right; }
.inspections-grid .followup-col {
  top: 0;
  right: 0;
  width: 12rem;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis; }

.actions-grid td.id-col {
  width: 100%; }
.actions-grid td.date-col {
  position: absolute;
  top: 0;
  padding: 1rem;
  font-size: 0.75rem; }
.actions-grid .date-col {
  right: 0;
  text-align: right; }

.conditions-grid td.id-col {
  width: 100%; }
.conditions-grid th.agency-col,
.conditions-grid td.agency-col {
  text-align: right; }
.conditions-grid td.agency-col {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 0.75rem; }

.ng-table-pager {
  text-align: center; }

.pagination li {
  margin-right: 2px;
  display: inline-block; }
  .pagination li a {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    font-weight: bold;
    background: #EEE; }
  .pagination li.active a {
    color: #FFF;
    background: #2b5580; }

.ng-table-counts {
  display: none; }

.detail-list {
  margin-top: -0.2rem;
  margin-bottom: -0.2rem;
  font-size: 0.75rem; }
  .detail-list li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 1rem; }
    .detail-list li span {
      float: left;
      width: 50%; }
      .detail-list li span:first-child {
        padding-right: 0.4rem;
        font-weight: bold; }
      .detail-list li span:last-child {
        padding-left: 0.4rem; }

.resource-list-sm.project-status {
  padding: 0; }
  .resource-list-sm.project-status .list-group-item {
    margin-bottom: 2px;
    border-bottom: 1px solid #EEE; }
    .resource-list-sm.project-status .list-group-item .title {
      line-height: 1.4rem; }
  .resource-list-sm.project-status .tag {
    min-width: 5rem;
    font-size: 0.75rem; }
  .resource-list-sm.project-status .tag-default {
    background: #CCC;
    font-weight: bold;
    color: #494949; }
  .resource-list-sm.project-status .inactive {
    color: #CCC; }
    .resource-list-sm.project-status .inactive .tag {
      opacity: 0.4; }

.resource-list .list-group-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background: #f7f8fa;
  border: none;
  border-radius: 0 !important;
  transition: all ease-out 0.2s; }
  .resource-list .list-group-item.list-group-item-action {
    color: #1a5a96; }
  .resource-list .list-group-item.list-group-item-action:hover {
    background: #EEE; }
  .resource-list .list-group-item a {
    color: #1a5a96; }
  .resource-list .list-group-item .actions {
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
  .resource-list .list-group-item .avatar {
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }
  .resource-list .list-group-item .title {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    line-height: 1.25rem; }
    .resource-list .list-group-item .title span {
      display: block; }
    .resource-list .list-group-item .title .primary {
      font-weight: bold; }
    .resource-list .list-group-item .title .secondary {
      font-size: 0.875rem; }
  .resource-list .list-group-item .details span {
    display: block;
    white-space: nowrap;
    font-size: 0.75rem;
    font-weight: bold; }

.resource-list-sm {
  padding-top: 0.4rem;
  padding-bottom: 0.5rem;
  background: #f7f8fa; }
  .resource-list-sm .list-group-item {
    padding: 0.6rem 1rem 0.6rem 1rem;
    line-height: 0.875rem;
    font-size: 0.75rem;
    font-weight: bold; }
    .resource-list-sm .list-group-item .avatar {
      margin-left: -2px;
      padding-right: 0.4rem; }
    .resource-list-sm .list-group-item .title {
      line-height: 1rem; }
    .resource-list-sm .list-group-item .actions i {
      margin-left: 0.5rem; }
    .resource-list-sm .list-group-item i {
      margin-top: -1px; }

.resource-list-lg .list-group-item {
  margin-bottom: 0.25rem;
  padding: 1rem 1rem 0.75rem 1rem;
  line-height: 1rem;
  font-size: 0.875rem;
  background: #f1f3f5; }
  .resource-list-lg .list-group-item .avatar {
    padding-right: 0.5rem; }
    .resource-list-lg .list-group-item .avatar i {
      margin-top: -2px; }
  .resource-list-lg .list-group-item .actions i {
    margin-top: -2px;
    margin-left: 0.75rem; }

.subtopic .block .title {
  padding-left: 0;
  font-weight: bold; }

.title-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  background-color: #EEE; }
  .title-bar h3 {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin: 0;
    padding: 0.9375rem;
    font-size: 0.875rem;
    font-weight: bold; }
  .title-bar .filters {
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: table-cell;
    padding-right: 0.9375rem;
    padding-bottom: 0.9375rem;
    padding-left: 0.9375rem; }
    .title-bar .filters label {
      font-size: 0.75rem;
      font-weight: bold; }
    .title-bar .filters .form-group:last-child {
      margin-bottom: 0; }
    .title-bar .filters .form-control {
      padding: 0.2rem 0.5rem;
      height: 2rem !important;
      font-size: 0.875rem; }

@media (min-width: 720px) {
  .title-bar {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
    .title-bar .filters {
      padding-top: 0.4rem;
      padding-right: 0.4rem;
      padding-bottom: 0; } }
.block-container li {
  margin-bottom: 0.5rem; }

.block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  background: #EEE; }
  .block .avatar {
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-left: 1rem; }
    .block .avatar i {
      margin-top: 1rem; }
    .block .avatar + .title {
      padding-left: 0.5rem; }
  .block .title {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem; }
    .block .title .primary {
      font-weight: bold; }
  .block .actions,
  .block .details {
    -webkit-box-flex: 0 0 auto;
    -moz-box-flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; }

@media (min-width: 1020px) {
  .block-container {
    margin: -0.5rem; }
    .block-container li {
      float: left;
      margin-bottom: 0;
      padding: 0.5rem;
      width: 50%; } }
.block-hover {
  cursor: pointer;
  transition: all linear 0.2s; }
  .block-hover:hover {
    background-color: #EEE; }

/* COMPLIANCE & ENFORCEMENT BLOCKS */
.ce-blocks a {
  text-decoration: none;
  color: #2b5580; }
.ce-blocks .block {
  color: #2b5580; }
  .ce-blocks .block .title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
  .ce-blocks .block.disabled {
    opacity: 0.5; }

.metric {
  flex: 0 0 auto;
  width: 3.5rem;
  padding-top: 0.45rem;
  color: #FFF;
  background: #2b5580;
  text-align: center;
  font-size: 1.675rem;
  font-weight: bold; }

/* TOPIC BLOCKS */
.topic-blocks .block {
  display: block;
  padding: 1rem;
  color: #494949; }
  .topic-blocks .block:focus, .topic-blocks .block:hover {
    text-decoration: none; }
  .topic-blocks .block.disabled {
    opacity: 0.5; }
.topic-blocks h3 {
  display: block;
  color: #2b5580;
  font-size: 1.5rem;
  font-weight: bold; }
.topic-blocks .subtopics {
  margin-top: 0.25rem;
  display: block;
  color: #2b5580;
  font-size: 0.875rem;
  opacity: 0.65;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.topic-blocks .read-more-link {
  display: inline-block;
  margin-top: 0.75rem;
  color: #FFF; }

/*# sourceMappingURL=prototype.css.map */
