
<div class="public-comment-modal modal fade" id="commentDetailModal" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn btn-default close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Public Comment  &nbsp;&rsaquo;&nbsp; Anonymous</h3>
			</div>
			<div class="modal-body">
                
                <!-- STATUS ALERTS -->
                <div class="eao-alerts">
                    <div class="alert alert-danger hidden">
                        Review period for this comment expires in <strong>1 Days</strong>
                    </div>
                    <div class="alert alert-info">
                        Review period for this comment expires in <strong>7 Days</strong>
                    </div>
                </div><!-- / STATUS ALERTS -->
                
                <!-- DEFER NOTES -->
                <div class="alert alert-info eao-comment-notes hidden">
                    <div class="detail-row">
                        <label>Deferred by:</label><span class="value">User Name</span>
                    </div>
                    <div class="notes detail-row">
                        <span class="value wrap-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</span>
                    </div>
                    <div class="date">MM/DD/YYYY</div>
                </div><!-- / DEFER NOTES -->
                
                <!-- REJECTION NOTES -->
                <div class="alert alert-danger eao-comment-notes">
                    <div class="detail-row">
                        <label>Rejected by:</label><span class="value">User Name</span>
                    </div>
                    <div class="detail-row">
                        <label>Reason for Rejection:</label><span class="value">Rejection Reason Here</span>
                    </div>
                    <div class="notes detail-row">
                        <span class="value wrap-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</span>
                    </div>
                    <div class="date">MM/DD/YYYY</div>
                </div><!-- / REJECTION NOTES -->
                
                <section class="comment-info">
                    <label>Posted March 21, 2016</label>
                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                </section>
                
                <!-- PILLARS & VC'S -->
                <section class="pillers-vc">  
                    <!-- DISPLAY VALUES -->
                    <div class="pillers-vc-display hidden">
                        <div class="detail-row">
                            <label>Pillars</label>
                            <span class="value">Health, Environment, Heritage</span>
                        </div>
                        <div class="detail-row">
                            <label>Valued Components</label>
                            <span class="value">Air Quality, Water Quality, Regulatory Process, Rights & Titles</span>
                        </div>
                    </div><!-- / DISPLAY VALUES --> 
                    <!-- PROPONENT ASSIGN -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="detail-row">
                                <label>Assign Pillars</label>
                                <div class="pick-list panel panel-default" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="checkbox" autocomplete="off">Pillar 1 
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="checkbox" autocomplete="off">Pillar 2
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="checkbox" autocomplete="off">Pillar 3
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="detail-row">
                                <label>Assign Valued Components</label>
                                <div class="pick-list panel panel-default" data-toggle="buttons">
                                    <label class="btn btn-default" title="Really Really Really Really Really Really Long Valued Component Name">
                                        <input type="checkbox" autocomplete="off" checked>Really Really Really Really Really Really Long Valued Component Name
                                    </label>
                                    <label class="btn btn-default" title="Valued Component 2">
                                        <input type="checkbox" autocomplete="off">Valued Component 2
                                    </label>
                                    <label class="btn btn-default" title="Valued Component 1">
                                        <input type="checkbox" autocomplete="off">Valued Component 1
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div><!-- / PROPONENT ASSIGN -->
                </section><!-- / PILLARS & VC'S -->
                
                <!-- ATTACHMENTS -->
                <section>
                    <!-- PUBLIC/PROPONENT -->
                    <div class="detail-row hidden">
                        <label>Attachments</label>
                        <div class="attachments list-group">
                            <a class="list-group-item">
                                <div class="file-name">file-name-1.jpg</div>
                                <button class="file-action btn btn-link">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button> 
                            </a>
                            <a class="list-group-item">
                                <div class="file-name">file-name-1.jpg</div>
                                <button class="file-action btn btn-link">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button>  
                            </a>
                        </div>
                    </div><!-- PUBLIC/PROPONENT -->
                    <!-- EAO ONLY -->
                    <div class="detail-row">
                        <label>Attachments</label>
                        <ul class="attachments list-group">
                            <li class="list-group-item clearfix">
                                <div class="file-name">file-name-1.jpg</div>
                                <div class="file-review btn-group" data-toggle="buttons">
                                    <label class="btn btn-danger btn-sm">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked />Reject
                                    </label>
                                    <label class="btn btn-success btn-sm">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked />Accept
                                    </label>
                                </div>
                                <button class="file-action btn btn-link">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button>
                            </li>
                            <li class="list-group-item clearfix">
                                <div class="file-name">file-name-1.jpg</div>
                                <div class="file-review btn-group" data-toggle="buttons">
                                    <label class="btn btn-danger btn-sm">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked />Reject
                                    </label>
                                    <label class="btn btn-success btn-sm">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked />Accept
                                    </label>
                                </div>
                                <button class="file-action btn btn-link">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button>
                            </li>
                            <li class="list-group-item clearfix">
                                <div class="file-name">file-name-1.jpg</div>
                                <div class="file-review btn-group" data-toggle="buttons">
                                    <label class="btn btn-danger btn-sm">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked />Reject
                                    </label>
                                    <label class="btn btn-success btn-sm">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked />Accept
                                    </label>
                                </div>
                                <button class="file-action btn btn-link">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button>
                            </li>
                        </ul>
                    </div><!-- EAO ONLY -->   
                </section><!-- / ATTACHMENTS -->
                
                <!-- SET COMMENT STATUS -->
                <section>
                    <div class="detail-row">
                        <label>Set Comment Status</label>
                        <div class="btn-group comment-status-btns" data-toggle="buttons">
                            <label class="btn btn-default active">
                                <input type="radio" name="commentStatus" id="deferComment" autocomplete="off" checked> Defer
                            </label>
                            <label class="btn btn-danger">
                                <input type="radio" name="commentStatus" id="rejectComment" autocomplete="off"> Reject
                            </label>
                            <label class="btn btn-success">
                                <input type="radio" name="commentStatus" id="publishComment" autocomplete="off"> Publish
                            </label>
                        </div>
                    </div>
                </section><!-- / SET COMMENT STATUS -->
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="close">Reject</button>
                <button type="button" class="btn btn-default" data-dismiss="close">Defer</button>
                <button type="button" class="btn btn-success" data-dismiss="close" disabled="disabled">Publish</button>
			</div>
		</div>
	</div>
</div>