<h1 class="page-title">
	Comment Periods for {{ project.name }}
</h1>

<div class="block-content">
	<div class="panel-body">
		Phase: {{period.phaseName}} <br/>
		Target: {{period.targetType}}  {{period.targetVersion}}<br/>
		Roles: {{period.roles.join ('<br/>')}} <br/>
		Instructions: {{period.instructions}} <br/>
		Resolved: {{period.resolved}} <br/>
		Start Date : {{period.dateStarted}} <br/>
		End Date : {{period.dateCompleted}} <br/>
	</div>
</div>
<div>
	<a class="btn btn-default" ui-sref="p.commentperiod.list">Cancel</a>
	<a class="btn btn-success" ui-sref="p.commentperiod.edit({periodId:period._id})">Edit</a>
</div>


