<div class="edit-project-comment-period-view">

	<div class="view-title-container">
		<h1><span ng-show="project.name">{{ project.name }}&nbsp; &rsaquo; &nbsp;</span>Add/Edit Comment Period</h1>
	</div>

	<div class="hidden">
		<div class="col-sm-12 text-right">
			<a class="btn btn-xs btn-link" ui-sref="p.commentperiod.list">Cancel</a>
			<a class="btn btn-xs btn-link" href ng-click="save()">Save</a>
		</div>
	</div>
	
	<div class="view-body-container">
		
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label class="control-label">Comment Period Type</label>
					<select ng-model="period.periodType" class="form-control">
						<option selected>Working Group</option>
						<option>Public</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label">Artifact for Review</label>
					<select ng-model="period.artifact" class="form-control" ng-options="artifact as artifact.name for artifact in artifacts">
					</select>
				</div>
				<div class="form-group">
					<label class="control-label">Comment Period Open</label>

					<div class="input-group">
						<p class="form-control-static">{{ period.dateStarted | amDateFormat:'MMM Do YYYY' }} <a x-modal-date-picker x-selected-date="period.dateStarted" >&nbsp;&nbsp;<i class="glyphicon glyphicon-calendar"></i></a>&nbsp; &nbsp;</p>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Comment Period Close</label>
					<div class="input-group">
						<p class="form-control-static">{{ period.dateCompleted | amDateFormat:'MMM Do YYYY' }} <a x-modal-date-picker x-selected-date="period.dateCompleted" >&nbsp;&nbsp;<i class="glyphicon glyphicon-calendar"></i></a>&nbsp; &nbsp;</p>
					</div>
				</div>
			</div>
			<div class="col-sm-3" ng-if="period.periodType==='Working Group'">
				<label class="control-label">Select Applicable Roles</label>
				<div class="well well-sm">
					<ul class="list-unstyled task-list">
						<li>working-group</li>
						<!-- 						
						<li ng-repeat="role in period.projectRoles">
							<button class="btn btn-block btn-sm btn-layer btn-default"
								ng-click="processEngageWGConfig.chosenRoles[role] = !processEngageWGConfig.chosenRoles[role]"
								ng-class="{'btn-success': processEngageWGConfig.chosenRoles[role]}">{{ role }}
							</button>
						</li>
						-->
					</ul>
				</div>
			</div>
			<div class="col-sm-3" ng-if="period.periodType==='Public'">
				<label class="control-label">Select Applicable Roles</label>
				<div class="well well-sm">
					<ul class="list-unstyled task-list">
						<li>public</li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6">
				<label class="control-label">Instructions to Working Group</label>
				<textarea rows="6" ng-model="period.instructions" class="form-control"></textarea>
			</div>

		</div>

		<hr>

		<div class="text-right">
			<a class="btn btn-default" ui-sref="p.commentperiod.list">Cancel</a>
			<a class="btn btn-default" href ng-click="save()">Save</a>
		</div>
	</div>
</div>

