.mine-list .summary,
.ce-list .summary {
  font-size: 0.875rem;
  font-style: italic; }

.mine-list .ah-col.name,
.ce-list .ah-col.name {
  padding-left: 0;
  font-weight: 700; }

.mine-list .mine-list-container {
  margin-top: 1.5rem; }

.mine-list .sh-col.commodity,
.mine-list .ah-col.commodity {
  width: 9.5rem;
  text-align: center; }

.mine-list .sh-col.operator,
.mine-list .ah-col.operator {
  display: none;
  width: 40%;
  white-space: nowrap;
  overflow: hidden; }

@media (min-width: 760px) {
  .mine-list .sh-col.operator,
  .mine-list .ah-col.operator {
    display: table-cell; } }

.tab-intro {
  margin-bottom: 2.5rem; }

.ce-list .date {
  font-size: 0.875rem; }

.ce-list .doc-list-container {
  margin-top: 1.5rem; }
