<div class="modal-header">
	<h3 class="modal-title">Contribute a Comment</h3>
</div>
<!-- 
<div class="modal-body" ng-if="publicComment.sent">
	<h3>Thank you for your comment</h3>
	<label class="control-label">What happens next?</label>
	<p>Within 7 days comment will be published to the public project record and then responded to by the proponent a short time later.</p>
	<p>All published comments can be found in the lower section of this page.</p>
</div> -->

<div class="modal-body" ng-if="!publicComment.sent">
	<div class="form-group">
		<label for="publiccomment" class="control-label">Your Comment</label>
		<textarea id="publiccomment" class="form-control" rows="6" ng-model="publicComment.data.comment"></textarea>
	</div>
	<div class="form-group">
		<label for="name" class="control-label">Your Name <em class="small">Optional</em></label>
		<input type="input" id="name" class="form-control" ng-model="publicComment.data.author"/>
	</div>
	<div class="form-group">
		<label for="location" class="control-label">Your Location <em class="small">Optional</em></label>
		<input type="input" id="name" class="form-control" ng-model="publicComment.data.author"/>
	</div>


	<a href ng-click="publicComment.form.showDocuments = true" ng-show="!publicComment.form.showDocuments">Click here to upload documents and images.</a>
	<div ng-show="publicComment.form.showDocuments">
		<tmpl-documents-upload-general x-project="publicComment.project" x-type="comment" x-hide-upload-button="true" x-parent-id="publicComment.data._id"></tmpl-documents-upload-general>
	</div>
</div>

<div class="modal-body" ng-if="publicComment.sent">
	<h3>Thank you for your comment</h3>
	<label class="control-label">What happens next?</label>
	<p>Within 7 days comment will be published to the public project record and then responded to by the proponent a short time later.</p>
	<p>All published comments can be found in the lower section of this page.</p>
</div>


<div class="modal-footer" ng-if="!publicComment.sent">
	<button class="btn btn-default" type="button" ng-click="publicComment.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="publicComment.send()">Send</button>
</div>

<div class="modal-footer" ng-if="publicComment.sent">
	<button class="btn btn-primary" type="button" ng-click="publicComment.ok()">Close</button>
</div>