<div class="modal-header">
	<h3 class="modal-title">Project Schedule</h3>
</div>


<table class='table table-condensed'>	
	<thead>
		<tr class="small">
			<th width="28%">Milestone</th>
			<th width="18%" class='text-center'>Estimated Start</th>
			<th width="18%" class='text-center'>Estimated End</th>
			<th width="18%" class='text-center'>Actual Start</th>
			<th width="18%" class='text-center'>Actual End</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="milestone in pesched.project.milestones track by $index">
			<td><p class="form-control-static">{{ milestone.name }}</p></td>
			<td class='text-center'>
				<input type='date' x-date-field ng-model="milestone.dateEstimatedStart" class="form-control text-center" ng-disabled="milestone.dateActualStart" ng-change="milestone.changed = true"/>
			</td>
			<td class='text-center'>
				<input type='date' x-date-field ng-model="milestone.dateEstimatedEnd" class="form-control text-center" ng-disabled="milestone.dateActualEnd" ng-change="milestone.changed = true"/>
			</td>
			<td class='text-center'><p class="form-control-static">{{ milestone.dateActualStart | amDateFormat:'MMM Do YYYY' }}</p></td>
			<td class='text-center'><p class="form-control-static">{{ milestone.dateActualEnd | amDateFormat:'MMM Do YYYY' }}</p></td>
			<td></td>
		</tr>

		<tr ng-if="!pesched.project.milestones">
			<td colspan="6" class="text-center">This project has no milestones.  Please contact the system administrator to fix.</td>
		</tr>
	
	</tbody>
</table>


<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="pesched.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="pesched.ok()">Close</button>
</div>
