<!-- Hiding this until we figure out the final structure -->
<h1 class="page-title hidden" ng-class="{'no-lower-margin': (environment === 'EAO' && authentication.user && project.isPublished)}">{{ project.name }} DERPP</h1>

<div class="pull-right" ng-if="environment === 'EAO' && authentication.user">
	<div class="col-sm-12 text-right btn-link-separated-list">
		<a class="btn btn-xs btn-link"
			ng-click="completePhase()"
			ng-if="!project.currentPhase.completed">Complete Current Phase</a>

		<a class="btn btn-xs btn-link"
			ng-click="startNextPhase()"
			ng-if="project.currentPhase.completed">Start Next Phase</a>

		<small ng-if="!project.isPublished"> / </small>

		<a class="btn btn-xs btn-link"
			ng-click="publishProject()"
			ng-if="!project.isPublished">Publish Project</a>
	</div>
</div>

<h2>Project Details</h2>

<section class="panel panel-default">
    
	<tmpl-project-tombstone
		class="anchor-section"
		id="anchor-tombstone"
		x-project="project"
		ng-if="('project' | shouldDisplayPanel:'tombstone':project.status)">
	</tmpl-project-tombstone>

	<tmpl-schedule-timeline
		class="anchor-section"
		id="anchor-timeline"
		x-phases="project.phases"
		ng-if="environment === 'EAO'">
	</tmpl-schedule-timeline>

	<tmpl-enforcement-browser
		class="anchor-section"
		id="anchor-enforcement"
		x-project="project"
		ng-if="project.currentPhase.code === 'post-certification'">
	</tmpl-enforcement-browser>

	<tmpl-project-initiated
		class="anchor-section"
		id="anchor-initiated"
		x-project="project"
		ng-if="('project'| shouldDisplayPanel:'initiated':project.status) && environment === 'EAO'">
	</tmpl-project-initiated>

	<tmpl-project-stream-select
		class="anchor-section"
		id="anchor-stream"
		x-project="project"
		ng-if="('project'| shouldDisplayPanel:'stream':project.status) && environment === 'EAO'">
	</tmpl-project-stream-select>

	<div class="anchor-section" id="anchor-artifacts" ng-if="environment === 'EAO'">
		<section class="block-content">
			<h3>Project Artifacts</h3>
			<div class="panel-body">
				<tmpl-artifact-list x-project="project"></tmpl-artifact-list>
			</div>
		</section>
	</div>

	<tmpl-public-comment-display
		class="anchor-section"
		id="anchor-publiccomments"
		x-project="project"
		ng-if="('project'| shouldDisplayPanel:'public-comments':project.status) && project.dateCommentsOpen && environment === 'EAO'">
	</tmpl-public-comment-display>

<!--
	<tmpl-project-activities
		class="anchor-section"
		id="anchor-activities"
		x-project="project"
		ng-if="('project'| shouldDisplayPanel:'activities':project.status) && environment === 'EAO'">
	</tmpl-project-activities>

 -->
	<tmpl-documents-browser
		class="anchor-section"
		id="anchor-documents"
		x-project="project"
		x-approvals="false"
		ng-if="('project'| shouldDisplayPanel:'documents':project.status) && environment === 'MEM'">
	</tmpl-documents-browser>


	<tmpl-map
		class="anchor-section"
		id="anchor-map"
		x-project="project"
		ng-if="('project'| shouldDisplayPanel:'map':project.status)">
	</tmpl-map>


</section>
