
	<div class="view-title-container flex-row">
		<button class="btn icon-btn mobile-nav-btn" onclick="toggleSideNav();"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
		<h1>{{ project.name }}</h1>
		<div class="actions">
			<div class="actions-group" ng-if="authentication.user">
				<a class="btn btn-default btn-sm" ui-sref="p.edit({pId:o._id})" ng-if="project.userCan.write">
					<span class="glyphicon glyphicon-pencil"></span><span>Edit Project</span></a>
				<a class="btn btn-success btn-sm"
					ng-click="publishProject()"
					ng-if="project.userCan.publish && !project.isPublished">Publish Project</a>
			</div>
			<tmpl-permissions-gear class="permission-btn" x-context="project" x-object="project"></tmpl-permissions-gear>
		</div>
	</div>

	<div class="view-body-container">

		<!-- PROJECT INFO -->
		<section class="project-info">
			<tmpl-project-tombstone id="anchor-tombstone" x-project="project"></tmpl-project-tombstone>
		</section>

		<!-- PROJECT MAP -->
		<section class="project-map">
			<div class="panel panel-default no-margin">
				<div class="panel-heading">
					<h2>Project Map</h2>
				</div>
				<tmpl-map id="anchor-map" x-project="project"></tmpl-map>
			</div>
		</section>

	</div>
