<form class="view-form" name="projectForm" ng-submit="saveProject(projectForm.$valid)" validate>

	<div class="floating-alert alert alert-info alert-dismissible fade in hidden">
		<span class="pull-left">Floating Alert Container!</span>
		<button type="button" class="btn btn-default close" data-dismiss="alert">
        	<span aria-hidden="true">&times;</span>
    	</button>
	</div>

	<div class="view-title-container flex-row">
		<h1>Edit Project &nbsp;&rsaquo;&nbsp; {{project.name}}<span class="placeholder-text" ng-if="!project.name">Untitled Project</span></h1>
		<div class="actions">
			<button class="btn btn-default btn-sm" title="Cancel">Cancel</button>
			<button class="btn btn-primary btn-sm" title="Save Project">Save</button>
			<button class="btn btn-primary btn-sm" title="Submit Project" disabled="disabled">Submit Project</button>
		</div>
	</div>

	<div class="view-body-container">
		
		<!-- TABS -->
		<ul class="nav nav-tabs" ng-init="form.curTab = 'Project Details'">
			<li role="presentation" ng-class="{'active':form.curTab === 'Project Details'}">
				<a href ng-click="form.curTab = 'Project Details'" title="Edit Project Details">Project Details</a>
			</li>
			<li role="presentation" ng-class="{'active':form.curTab === 'Project Contacts'}">
				<a href ng-click="form.curTab = 'Project Contacts'" title="Edit Project Contacts">Contacts</a>
			</li>
			<li role="presentation" ng-class="{'active':form.curTab === 'Project EAO Info'}">
				<a href ng-click="form.curTab = 'Project EAO Info'" title="Edit Environmental Assessment Office Info">EAO Details</a>
			</li>
		</ul><!-- / TABS -->

		<div class="edit-project-form tab-pane active" ng-show="form.curTab === 'Project Details'">
			<!-- PROJECT INFORMATION -->
			<fieldset>
				<legend>General Info</legend>
				<div class="form-group">
					<label class="control-label" for="projectname">Project Name</label>
					<input class="form-control" type="text" title="Project Name" name="projectname"
						ng-model="project.name"
						ng-change="onChangeProjectName()"></input>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label">Project Type </label>
						<select class="form-control" id="type" name="type"
							ng-model='project.type'
							ng-options="type as type for type in types"></select>
						<div ng-messages="projectForm.type.$error" role="alert">
							<p class="help-block error-text" ng-message="required">Type is required.</p>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label">Nature of Project</label>
						<select class="form-control" id="build" ng-model="project.build">
							<option value="new">New Construction</option>
							<option value="modification">Modification of Existing</option>
							<option value="dismantling">Dismantling or Abandonment</option>
						</select>
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label">Sector</label>
						<select class="form-control" title="Project Sector"></select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Project Description</label>
					<textarea class="form-control" id="shortDesc" rows="4"
						ng-model="project.description"></textarea>
				</div>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="region">Region</label>
						<select class="form-control" if="region" name="region"
						 	ng-model='project.region' 
							ng-options="key as value for (key, value) in regions"></select>
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label">Latitude / Longitude</label>
						<div class="coord-input flex-row">
							<input class="form-control" id="latitude" type="number" ng-model="project.lat">
							<input class="form-control" id="longitude" type="number" ng-model="project.lon">
						</div>
					</div>
					<div class="col-sm-12 col-md-4 form-group">
						<label class="control-label">Location Description <em>(Optional)</em></label>
						<input class="form-control" id="location" type="text" ng-model="project.location">
					</div>
				</div>
			</fieldset>
			<!-- PROJECT INFORMATION -->

			<!-- ADDITIONAL INFO -->
			<fieldset>
				<legend>Additional Info</legend>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">Capital Investment <em>(Optional)</em></label>
							<input class="form-control" type="number" placeholder="$" 
								ng-model="project.investment"></input>
						</div>
						<div class="form-group">
							<label class="control-label">Investment Notes</label>
							<textarea class="form-control" rows="2" 
								ng-model="project.investmentNotes"></textarea>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">Construction Jobs <em>(Optional)</em></label>
							<input class="form-control" type="number" 
								ng-model="project.constructionjobs"></input>
						</div>
						<div class="form-group">
							<label class="control-label">Construction Notes</label>
							<textarea class="form-control" rows="2" 
								ng-model="project.constructionjobsNotes"></textarea>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">Operational Jobs <em>(Optional)</em></label>
							<input class="form-control" type="number" 
								ng-model="project.operationjob"></input>
						</div>
						<div class="form-group">
							<label class="control-label">Operation Notes</label>
							<textarea class="form-control" rows="2"
								ng-model="project.operationjobNotes"></textarea>
						</div>
					</div>
				</div>
			</fieldset>
			<!-- / ADDITIONAL INFO -->

			<!-- CEAA INVOLVEMENT -->
			<fieldset>
				<legend>Canada Environmental Assessment Agency (CEAA) Involvement</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label">CEAA involvement</label>
						<select class="form-control"></select>
					</div>
					<div class="col-md-8 form-group">
						<label class="control-label">CEAA URL<em>(Optional)</em></label>
						<input class="form-control" type="url"></input>
					</div>
				</div>
			</fieldset>
			<!-- / CEAA INVOLVEMENT -->

			<!-- ELECTORAL DISTRICTS -->
			<fieldset>
				<legend>Electoral Districts</legend>
				<div class="row">
					<div class="col-md-6 form-group">
						<label class="control-label">Federal Electoral Districts <em>(Optional)</em></label>
						<input class="form-control"></input>
					</div>
					<div class="col-md-6 form-group">
						<label class="control-label">Provincial Electoral Districts <em>(Optional)</em></label>
						<input class="form-control"></input>
					</div>
				</div>
			</fieldset>
			<!-- / ELECTORAL DISTRICTS -->
		</div>

		<div class="edit-project-form tab-pane" ng-show="form.curTab === 'Project Contacts'">
			<fieldset>
				<legend>Project Lead</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="projectleadname">Name</label>
						<input class="form-control" name="projectleadname"></input>
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label" for="projectleademail">Email</label>
						<input class="form-control" name="projectleademail" placeholder="example@domain.com"></input>
					</div>
					<div class="col-sm-6 col-md-2 form-group">
						<label class="control-label">Phone</label>
						<input class="form-control" placeholder="e.g. (555) 555-5555"></input>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Executive Project Director</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="projectleadname">Name</label>
						<input class="form-control" name="projectleadname"></input>
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label" for="projectleademail">Email</label>
						<input class="form-control" name="projectleademail" placeholder="example@domain.com"></input>
					</div>
					<div class="col-sm-6 col-md-2 form-group">
						<label class="control-label">Phone</label>
						<input class="form-control" placeholder="e.g. (555) 555-5555"></input>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Compliance and Enforcement Lead</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="projectleadname">Name</label>
						<input class="form-control" name="projectleadname"></input>
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label" for="projectleademail">Email</label>
						<input class="form-control" name="projectleademail" placeholder="example@domain.com"></input>
					</div>
					<div class="col-sm-6 col-md-2 form-group">
						<label class="control-label">Phone</label>
						<input class="form-control"  placeholder="e.g. (555) 555-5555"></input>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Additional Team Info</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="projectleadname">Analyst<em>(Optional)</em></label>
						<input class="form-control" name="projectleadname"></input>
					</div>
					<div class="col-md-4 form-group">
						<label class="control-label" for="projectleadname">Assistant<em>(Optional)</em></label>
						<input class="form-control" name="projectleadname"></input>
					</div>
					<div class="col-md-4 form-group">
						<label class="control-label" for="projectleadname">Admin Assistant<em>(Optional)</em></label>
						<input class="form-control" name="projectleadname"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="projectleadname">Team Notes<em>(Optional)</em></label>
					<textarea class="form-control" name="projectleadname" rows="4"></textarea>
				</div>
			</fieldset>
		</div>

		<div class="edit-project-form tab-pane" ng-show="form.curTab === 'Project EAO Info'">
			<fieldset>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="projectleadname">Environmental Assessment Status</em></label>
						<select class="form-control"></select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 form-group">
						<label class="control-label" for="projectleadname">Does this project require an Environmental Assessment Certificate?</label>
						<div class="radio-group">
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> YES
							</label>
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> NO
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 form-group">
						<label class="control-label" for="projectleadname">Assessment Notes<em>(Optional)</em></label>
						<textarea class="form-control" name="projectleadname" rows="4"></textarea>
					</div>
				</div>
			</fieldset>
		</div>

	</div>
</form>

<div class="edit-project-details-view hidden">

		<div class="view-title-container clearfix">
			<h1><span>Add/Edit Project</span><span ng-show="project.name">&nbsp; &rsaquo; &nbsp;{{ project.name }}</span></h1>
			<div class="view-title-actions hidden">
				<button class="btn btn-default btn-sm" ng-if="!isNew" ui-sref="p.detail">Cancel</button>
				<button class="btn btn-default btn-sm" ng-if="isNew" ui-sref="projects">Cancel</button>
				<button class="btn btn-default btn-sm" href type="submit">Save</button>
				<button class="btn btn-default btn-sm" href ng-click="submitProject(projectForm.$valid)" ng-if="project.status === 'Initiated'">Submit Project</button>
			</div>
		</div>

		<!-- VIEW BODY CONTAINER -->
		<div class="view-body-container">

			<!-- TAB NAVIGATION -->
			<ul class="tab-container nav nav-tabs">
				<li ng-class="{'active':form.curTab === 'Project Information'}">
					<a href ng-click="form.curTab = 'Project Information'">Project Information</a>
				</li>
				<li ng-class="{'active':form.curTab === 'Proponent'}">
					<a href ng-click="form.curTab = 'Proponent'">Proponent</a>
				</li>
				<li ng-class="{'active':form.curTab === 'Intake Profile'}">
					<a href ng-click="form.curTab = 'Intake Profile'">Intake Profile</a>
				</li>
			</ul> <!-- / TAB NAVIGATION -->

			<!-- TAB CONTENT -->
			<div class="tab-content">

				<!-- PROJECT INFORMATION TAB -->
				<div class="tab-panel" ng-show="form.curTab === 'Project Information'">
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group" x-show-errors>
								<label for="title" class="control-label">Project Name</label>
								<input id="title"
									   ng-change="onChangeProjectName()"
									   name="name"
									   type="text"
									   class="form-control input-sm"
									   ng-model="project.name"
									   required />
								<div ng-messages="projectForm.name.$error" role="alert">
									<p class="help-block error-text" ng-message="required">Project Name is required.</p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group" x-show-errors>
								<label for="shortName" class="control-label">Short Name</label>
								<input id="shortName"
									name="shortName"
									ng-disabled=true
									type="text"
									class="form-control input-sm"
									ng-model="project.shortName"
									ng-blur="project.code = _.kebabCase(project.shortName);" required>
									<div ng-messages="projectForm.shortName.$error" role="alert">
										<p class="help-block error-text" ng-message="required">Short Name is required.</p>
									</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<label for="shortDesc" class="control-label">Short Description</label>
								<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="project.description" rows=6></textarea>
							</div>
						</div>
					</div>

					<!-- MEM ONLY INFORORMATION -->
					<div class="row" ng-if="environment === 'MEM'">
						<div class="col-sm-3">
							<div class="form-group" x-show-errors>
								<label for="permitid" class="control-label">Permit Number</label>
								<input id="permitid" name="permitid" type="text" class="form-control input-sm" ng-model="project.memPermitID">
									<div ng-messages="projectForm.permitid.$error" role="alert">
										<p class="help-block error-text" ng-message="required">Permit Number is required.</p>
									</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group" x-show-errors>
								<label for="commodity" class="control-label">Commodity/ies</label>
								<input id="commodity" name="commodity" type="text" class="form-control input-sm" ng-model="project.commodity">
									<div ng-messages="projectForm.commodity.$error" role="alert">
										<p class="help-block error-text" ng-message="required">Commodity is required.</p>
									</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group" x-show-errors>
								<label for="ownership" class="control-label">Ownership</label>
								<input id="ownership" name="ownership" type="text" class="form-control input-sm" ng-model="project.ownership">
									<div ng-messages="projectForm.ownership.$error" role="alert">
										<p class="help-block error-text" ng-message="required">Ownership is required.</p>
									</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group" x-show-errors>
								<label for="tailingsImpoundments" class="control-label">Tailings Impoundments</label>
								<input id="tailingsImpoundments" name="tailingsImpoundments" type="text" class="form-control input-sm" ng-model="project.tailingsImpoundments">
									<div ng-messages="projectForm.tailingsImpoundments.$error" role="alert">
										<p class="help-block error-text" ng-message="required">Tailings Impoundments is required.</p>
									</div>
							</div>
						</div>
					</div> <!-- / MEM ONLY INFORMATION -->

					<div class="row">
						<div class="col-sm-6">
							<div class="form-group" x-show-errors>
								<label for="type" class="control-label">Type</label>
								<select id="type" name="type" ng-model='project.type' class="form-control input-sm" ng-options="type as type for type in types" required></select>
									<div ng-messages="projectForm.type.$error" role="alert">
										<p class="help-block error-text" ng-message="required">Type is required.</p>
									</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="build" class="control-label">Project Nature</label>
								<select id="build" ng-model='project.build' class="form-control input-sm">
									<option value="new">New Construction</option>
									<option value="modification">Modification of Existing</option>
									<option value="dismantling">Dismantling or Abandonment</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-8">
							<div class="form-group">
								<label for="location" class="control-label">Location Description</label>
								<input id="location" type="text" class="form-control input-sm" ng-model="project.location">
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group" x-show-errors>
								<label for="region" class="control-label">Region</label>
								<select if="region" name="region" ng-model='project.region' class="form-control input-sm" ng-options="key as value for (key, value) in regions" required></select>
									<div ng-messages="projectForm.region.$error" role="alert">
										<p class="help-block error-text" ng-message="required">Region is required.</p>
									</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<label for="latitude" class="control-label">Latitude</label>
								<input id="latitude" type="text" class="form-control input-sm" ng-model="project.lat">
							</div>
						</div>
						<div class="col-sm-6">
							<div class="form-group">
								<label for="longitude" class="control-label">Longitude</label>
								<input id="longitude" type="text" class="form-control input-sm" ng-model="project.lon">
							</div>
						</div>
					</div>
				</div><!-- / PROJECT INFORMATION TAB -->

				<!-- PROPONENT INFORMATION -->
				<fieldset ng-show="form.curTab === 'Proponent'">
					<tmpl-company-entry-form x-company="project.proponent"></tmpl-company-entry-form>
					<tmpl-user-entry-form x-user="project.primaryContact" x-project="project" ></tmpl-user-entry-form>
				</fieldset> <!-- / PROPONENT INFORMATION -->

				<!-- INTAKE PROFILE -->
				<div ng-show="form.curTab === 'Intake Profile'">
					<div ng-repeat="question in questions">
						<div class="form-group row" ng-if="question.type === 'smalltext'">
							<div class="col-xs-8">
								<p>{{ question.content }}</p>
							</div>
							<div class="col-xs-4">
								<input class="form-control input-sm" ng-model="project.intake[question.code]"/>
							</div>
						</div>
						<div class="form-group" ng-if="question.type === 'text'">
							<p>{{ question.content }}</p>
							<textarea ng-if="question.type === 'text'" class="form-control input-sm" ng-model="project.intake[question.code]" rows=4></textarea>
						</div>
						<div class="form-group row" ng-if="question.type === 'dropdown'">
							<div class="col-xs-8">
								<p>{{ question.content }}</p>
							</div>
							<div class="col-xs-4">
								<select ng-if="question.type === 'dropdown'" class="form-control input-sm" ng-model="project.intake[question.code]" ng-options="opt for opt in question.options"></select>
							</div>
						</div>
					</div>
				</div><!-- / INTAKE PROFILE -->

			</div><!-- / TAB CONTENT -->

			<div ng-if="form.curTab === 'Accepted'">
				<h3>Project Submission Accepted</h3>
				<p>Thank you.</p>
				<p>Your project submission has been sent to EAO and is waiting to be received.</p>
				<p>You will be contacted shortly regarding the next steps.</p>
			</div>

			<div class="form-footer clearfix">
				<div class="pull-right">
					<button class="btn btn-default" ng-if="!isNew" ui-sref="p.detail">Cancel</button>
					<button class="btn btn-default" ng-if="isNew" ui-sref="projects">Cancel</button>
					<button class="btn btn-primary" type="submit">Save</button>
					<button class="btn btn-success" ng-click="submitProject(projectForm.$valid)" ng-if="project.status === 'Initiated'">Submit Project</button>
				</div>
			</div>
		</div><!-- / VIEW BODY CONTAINER -->

	</form>

</div>

