<div class="project-roles-view"></div>

	<div class="view-title-container no-border">
		<h1>Delete Milestone</h1>
	</div>

	<div class="view-body-container">
		<div class="modal-body">
				<p>Are you sure you want to remove this milestone?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="self.cancel()">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="self.ok()" data-dismiss="modal">OK</button>
			</div>
	</div>

</div>