<form class="view-form" name="projectForm" novalidate>

	<div class="view-title-container flex-row">
		<h1>Edit Project &nbsp;&rsaquo;&nbsp; {{project.name}}<span class="placeholder-value" ng-if="!project.name">Untitled Project</span></h1>
		<div class="actions">
			<button class="btn btn-default btn-sm" ng-if="!isNew" ui-sref="p.detail">Cancel</button>
			<button class="btn btn-default btn-sm" ng-if="isNew" ui-sref="projects">Cancel</button>
			<button class="btn btn-primary btn-sm"
				ng-click="saveProject(projectForm.$valid)"
				ng-if="project.status !== 'Initiated'"
				type="submit">Save</button>
			<button class="btn btn-danger btn-sm"
              	ng-click="deleteProject()"
              	ng-if="!isNew && !project.isPublished && project.userCan.delete">
				<span class="glyphicon glyphicon-trash"></span><span>Delete Project</span></button>
			<button class="btn btn-success btn-sm"
				ng-click="submitProject(projectForm.$valid)"
				ng-if="project.status === 'Initiated'">Submit Project</button>
		</div>
	</div>

	<div class="view-body-container">
		<ul class="nav nav-tabs" ng-init="form.curTab = 'Project Details'">
			<li role="presentation" ng-class="{'active':form.curTab === 'Project Details'}" class="form-group" x-show-errors>
				<a ng-click="form.curTab = 'Project Details'" title="Edit Project Details" name="detailsForm">
					<span class="glyphicon glyphicon-exclamation-sign"></span>Project Details</a>
			</li>
			<li role="presentation" ng-class="{'active':form.curTab === 'Proponent Info'}" class="form-group" >
				<a ng-click="form.curTab = 'Proponent Info'" title="Edit Project Details" name="proponentForm">
					<span class="glyphicon glyphicon-exclamation-sign"></span>Proponent Info</a>
			</li>
			<li role="presentation" ng-class="{'active':form.curTab === 'Project Contacts'}" class="form-group" x-show-errors>
				<a ng-click="form.curTab = 'Project Contacts'" title="Edit Project Contacts" name="contactsForm">
					<span class="glyphicon glyphicon-exclamation-sign"></span>Contacts</a>
			</li>
		</ul>

		<div class="edit-project-form tab-pane active" ng-show="form.curTab === 'Project Details'" ng-form="detailsForm">
			
			<!-- PROJECT INFORMATION -->
			<fieldset>
				<legend>General Info</legend>
				<div class="form-group" x-show-errors>
					<label class="control-label" for="name">Project Name<em class="required">(Required)</em></label>
					<input class="form-control" title="Project Name" id="name" name="projectname"
						ng-model="project.name" ng-change="onChangeProjectName()" required />
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-4 form-group" x-show-errors>
						<label class="control-label" for="type">Type<em class="required">(Required)</em></label>
						<select class="form-control" title="Project Type" id="type" name="type"
							ng-model="project.type"
							ng-change="project.sector = undefined"
							ng-options="type for type in types" required></select>
					</div>
					<div class="col-sm-6 col-md-4 form-group" x-show-errors>
						<label class="control-label" for="subtype">Sub-type<em class="required">(Required)</em></label>
						<select class="form-control" title="Project Sub-type" id="subtype" name="subtype"
							ng-model="project.sector"
							ng-options="subType for subType in subTypes[project.type]" required></select>
					</div>
					<div class="col-md-4 form-group" x-show-errors>
						<label class="control-label" for="build">Nature of Project<em class="required">(Required)</em></label>
						<select class="form-control" id="build" name="build"
						 	ng-model="project.build" required>
							<option value=""></option>
							<option value="new">New Construction</option>
							<option value="modification">Modification of Existing</option>
							<option value="dismantling">Dismantling or Abandonment</option>
						</select>
					</div>
				</div>
				<div class="form-group" x-show-errors>
					<label class="control-label" for="shortDesc">Project Description<em class="required">(Required)</em></label>
					<textarea title="Project Description"
						class="form-control"
						rows="5"
						id="shortDesc"
						name="projectdesc"
						ng-model="project.description" required></textarea>
				</div>
				<div class="row">
					<div class="col-md-4 form-group" x-show-errors>
						<label class="control-label" for="region">Region<em class="required">(Required)</em></label>
						<select class="form-control" if="region" id="region" name="region"
						 	ng-model='project.region'
							ng-options="key as value for (key, value) in regions" required></select>
					</div>
					<div class="col-sm-12 col-md-8 form-group" x-show-errors>
						<label class="control-label" for="location">Location Description<em class="required">(Required)</em></label>
						<input class="form-control" id="location" type="text" name="location"
							ng-model="project.location" required>
					</div>
				</div>
				<div class="row">
					<div class="lat-input col-sm-3 col-md-2 form-group" x-show-errors>
						<label class="control-label">Latitude<em class="required">(Required)</em></label>
						<input class="form-control" id="latitude" name="latitude" type="number"  min="47" max="61"
							ng-model="project.lat" required />
					</div>
					<div class="long-input col-sm-3 col-md-2 form-group" x-show-errors>
						<label class="control-label">Longitude<em class="required">(Required)</em></label>
						<input class="form-control" id="longitude" name="longitude" type="number" min="-141" max="-113"
							ng-model="project.lon" required />
					</div>
				</div>
				<div class="row">
				<div class="col-md-4 form-group">
					<label class="control-label" for="eacDecision">Decision<em>(Optional)</em></label>
					<select class="form-control" name="eacDecision" id="eacDecision"
						ng-model="project.eacDecision"
						ng-options="d for d in eacDecisions">
					</select>
				</div>

			</fieldset>
			<!-- PROJECT INFORMATION -->

			<!-- CEAA INVOLVEMENT -->
			<fieldset>
				<legend>Canada Environmental Assessment Agency (CEAA) Involvement</legend>
				<div class="row">
					<div class="col-md-4 form-group" x-show-errors>
						<label class="control-label" for="ceaainvolvement">CEAA involvement</label>
						<select class="form-control" name="ceaainvolvement" id="ceaainvolvement"
							ng-model="project.CEAAInvolvement"
							ng-options="opt for opt in CEAA" required>
						</select>
					</div>
					<div class="col-md-8 form-group">
						<label class="control-label" for="ceaaurl">CEAA URL<em>(Optional)</em></label>
						<input class="form-control" placeholder="e.g. http://www.website.com" type="url"
							name="ceaaurl"
							id="ceaaurl"
							ng-model="project.CEAALink" />
					</div>
				</div>
			</fieldset>
			<!-- / CEAA INVOLVEMENT -->

			<!-- ADDITIONAL INFO -->
			<fieldset>
				<legend>Additional Info</legend>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label" for="capitalinvestment">Capital Investment</label>
							<input class="form-control" step="any"
								name="capitalinvestment"
								id="capitalinvestment"
								ng-model="project.intake.investment" />
						</div>
						<div class="form-group">
							<label class="control-label" for="capitalinvestmentnotes">Investment Notes<em>(Optional)</em></label>
							<textarea class="form-control" rows="3"
								name="capitalinvestmentnotes"
								id="capitalinvestmentnotes"
								ng-model="project.intake.investmentNotes"></textarea>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label" form="constructionjobs">Construction Jobs</label>
							<input class="form-control"
								name="constructionjobs"
								ng-model="project.intake.constructionjobs" />
						</div>
						<div class="form-group">
							<label class="control-label" for="constructionjobsnotes">Construction Jobs Notes<em>(Optional)</em></label>
							<textarea class="form-control" rows="3"
								name="constructionjobsnotes"
								id="constructionjobsnotes"
								ng-model="project.intake.constructionjobsNotes"></textarea>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label" for="operatingjobs">Operating Jobs</label>
							<input class="form-control"
								name="operatingjobs"
								id="operatingjobs"
								ng-model="project.intake.operatingjobs" />
						</div>
						<div class="form-group">
							<label class="control-label" for="operatingjobsnotes">Operating Jobs Notes<em>(Optional)</em></label>
							<textarea class="form-control" rows="3"
								name="operatingjobsnotes"
								id="operatingjobsnotes"
								ng-model="project.intake.operatingjobsNotes"></textarea>
						</div>
					</div>
				</div>
			</fieldset>
			<!-- / ADDITIONAL INFO -->

			<!-- ELECTORAL DISTRICTS -->
			<fieldset>
				<legend>Electoral Districts</legend>
				<div class="row">
					<div class="col-md-6 form-group">
						<label class="control-label" for="fedelecdist">Federal Electoral Districts <em>(Optional)</em></label>
						<input class="form-control"
							name="fedelecdist"
							id="fedelecdist"
							ng-model="project.fedElecDist" />
					</div>
					<div class="col-md-6 form-group">
						<label class="control-label" for="provelecdist">Provincial Electoral Districts <em>(Optional)</em></label>
						<input class="form-control"
							name="provelecdist"
							id="provelecdist"
							ng-model="project.provElecDist" />
					</div>
				</div>
			</fieldset>
			<!-- / ELECTORAL DISTRICTS -->

		</div>

		<div class="edit-project-form tab-pane" ng-show="form.curTab === 'Project Contacts'" ng-form="contactsForm">
			<fieldset>
				<legend>Executive Project Director</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="projectdirector">Name<em class="required">(Required)</em></label>
						<input class="form-control" name="projectdirector" id="projectdirector"
							placeholder="{{ project.responsibleEPD }}" disabled />
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label" for="projectdirectormmail">Email<em class="required">(Required)</em></label>
						<input class="form-control" name="projectdirectormmail" id="projectdirectormmail"
							ng-model="project.responsibleEPDEmail" ng-disabled="!project.responsibleEPD" />
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label" for="projectdirectorphone">Phone<em class="required">(Required)</em></label>
						<input class="form-control" name="projectdirectorphone" id="projectdirectorphone"
							ng-model="project.responsibleEPDPhone" ng-disabled="!project.responsibleEPD" />
					</div>
				</div>
				<div class="form-group no-margin">
					<button class="btn btn-default btn-sm" type="button"
						x-user-search-chooser
						x-title="'Set Executive Project Director'"
						x-destination="saveEPD"
						x-orgId="'Environmental Assessment Office'"
						x-singleselectmode="true"
						x-project="project">Set Executive Project Director</button>
				</div>
			</fieldset>
			<hr/>
			<fieldset>
				<legend>Project Lead</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="projectleadname">Name<em class="required">(Required)</em></label>
						<input class="form-control" name="projectleadname" id="projectleadname"
							placeholder="{{ project.projectLead }}"  disabled />
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label" for="projectleademail">Email<em class="required">(Required)</em></label>
						<input class="form-control"  name="projectleademail" id="projectleademail"
							ng-model="project.projectLeadEmail" ng-disabled="!project.projectLead" />
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label" for="projectleadphone">Phone<em class="required">(Required)</em></label>
						<input class="form-control" name="projectleadphone" id="projectleadphone"
							ng-model="project.projectLeadPhone" ng-disabled="!project.projectLead" />
					</div>
				</div>
				<div class="form-group no-margin">
					<button class="btn btn-default btn-sm" type="button"
						x-user-search-chooser
						x-title="'Set Project Lead'"
						x-destination="saveProjectLead"
						x-singleselectmode="true"
						x-orgid="'Environmental Assessment Office'"
						x-project="project">Set Project Lead</button>
				</div>
			</fieldset>
			<hr/>
			<fieldset>
				<legend>Compliance and Enforcement Lead</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="celead">Name<em class="required">(Required)</em></label>
						<input class="form-control" name="celead" id="celead"
							placeholder="{{ project.CELead }}"  disabled />
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label" for="celeademail">Email<em class="required">(Required)</em></label>
						<input class="form-control" name="celeademail" id="celeademail"
							ng-model="project.CELeadEmail" disabled/>
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label">Phone<em class="required">(Required)</em></label>
						<input class="form-control"  name="cephone"
							ng-model="project.CELeadPhone" ng-disabled="!project.CELead" />
					</div>
				</div>
				<div class="form-group no-margin">
						<button class="btn btn-default btn-sm" type="button"
							x-user-search-chooser
							x-title="'Set Compliance and Enforcement Lead'"
							x-destination="saveCELead"
							x-orgId="'Environmental Assessment Office'"
							x-singleselectmode="true"
							x-project="project">Set Compliance and Enforcement Lead</button>
					</div>
			</fieldset>
			<hr/>
			<fieldset>
				<legend>Support Team</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="analyst">Analyst<em>(Optional)</em></label>
						<input class="form-control" name="analyst" id="analyst"
							ng-model="project.projectAnalyst" />
					</div>
					<div class="col-md-4 form-group">
						<label class="control-label" for="assistant">Assistant<em>(Optional)</em></label>
						<input class="form-control" name="assistant" id="assistant"
							ng-model="project.projectAssistant" />
					</div>
					<div class="col-md-4 form-group">
						<label class="control-label" for="adminassistant">Admin Assistant<em>(Optional)</em></label>
						<input class="form-control" name="adminassistant" id="adminassistant"
							ng-model="project.administrativeAssistant" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="teamnotes">Team Notes<em>(Optional)</em></label>
					<textarea class="form-control" rows="4"
						name="teamnotes" id="teamnotes"
						ng-model="project.teamNotes"></textarea>
				</div>
			</fieldset>
		</div>

		<div class="edit-project-form tab-pane" ng-show="form.curTab === 'Project EAO Info'">
			<fieldset>
				<div class="row hidden">
					<div class="col-md-4 form-group">
						<label class="control-label" for="projectleadname">Environmental Assessment Status</em></label>
						<select class="form-control"></select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 form-group">
						<label class="control-label" for="projectleadname">Does this project require an Environmental Assessment Certificate?</label>
						<div class="radio-group">
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions"
									ng-model="project.eacDecision"
									id="inlineRadio1"
									value="Certificate Required"> YES
							</label>
							<label class="radio-inline">
								<input type="radio"	name="inlineRadioOptions"
									ng-model="project.eacDecision"
									id="inlineRadio2"
									value="Certificate Not Required"> NO
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label class="control-label" for="eanotes">Assessment Notes<em>(Optional)</em></label>
						<textarea class="form-control" name="eanotes" id="eanotes" rows="4"
							ng-model="project.eaNotes"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label class="control-label" for="eaissues">Assessment Issues<em>(Optional)</em></label>
						<textarea class="form-control" name="eaissues" id="eaissues" rows="4"
							ng-model="project.eaIssues"></textarea>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="edit-project-form tab-pane" ng-show="form.curTab === 'Proponent Info'">
			<fieldset>
				<legend>Organization</legend>
				<div class="row">
					<div class="form-group col-md-4">
						<label class="control-label">Name</label>
						<input class="form-control" placeholder="{{ project.proponent.name }}" disabled />
					</div>
					<div class="form-group col-md-4">
						<label class="control-label">Website</label>
						<input class="form-control" placeholder="{{ project.proponent.website }}" disabled />
					</div>
				</div>
				<div class="form-group no-margin">
					<button class="btn btn-default btn-sm" type="button"
						x-org-search-chooser
						x-title="'Set Organization'"
						x-destination="project.proponent"
						x-project="project">Set Organization</button>
				</div>
			</fieldset>
			<hr/>
			<fieldset>
				<legend>Primary Contact</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label">Name</label>
						<input class="form-control" placeholder="{{ project.primaryContact.displayName }}" disabled />
					</div>
					<div class="col-md-4 form-group">
						<label class="control-label">Email</label>
						<input class="form-control" placeholder="{{ project.primaryContact.email }}" disabled />
					</div>
				</div>
				<div class="form-group no-margin">
					<button class="btn btn-default btn-sm" type="button"
						x-user-search-chooser
						x-title="'Set Primary Contact'"
						x-project="project"
						x-singleselectmode="'true'"
						x-destination="project.primaryContact">Set Primary Contact</button>
				</div>
			</fieldset>
		</div>

		<div class="edit-project-form tab-pane" ng-show="form.curTab === 'Intake Profile'">
			<div ng-repeat="question in questions">
				<div class="form-group row" ng-if="question.type === 'smalltext'">
					<div class="col-xs-8">
						<p>{{ question.content }}</p>
					</div>
					<div class="col-xs-4">
						<input class="form-control input-sm" ng-model="project.intake[question.code]"/>
					</div>
				</div>
				<div class="form-group" ng-if="question.type === 'text'">
					<p>{{ question.content }}</p>
					<textarea ng-if="question.type === 'text'" class="form-control input-sm" ng-model="project.intake[question.code]" rows=4></textarea>
				</div>
				<div class="form-group row" ng-if="question.type === 'dropdown'">
					<div class="col-xs-8">
						<p>{{ question.content }}</p>
					</div>
					<div class="col-xs-4">
						<select ng-if="question.type === 'dropdown'" class="form-control input-sm" ng-model="project.intake[question.code]" ng-options="opt for opt in question.options"></select>
					</div>
				</div>
			</div>
		</div>

		<div class="form-footer clearfix">
			<div class="pull-right">
				<button class="btn btn-default btn-sm" ng-if="!isNew" ui-sref="p.detail">Cancel</button>
				<button class="btn btn-default btn-sm" ng-if="isNew" ui-sref="projects">Cancel</button>
				<button class="btn btn-primary btn-sm"
					ng-click="saveProject(projectForm.$valid)"
					ng-if="project.status !== 'Initiated'"
					type="submit">Save</button>
				<button class="btn btn-success btn-sm"
					ng-click="submitProject(projectForm.$valid)"
					ng-if="project.status === 'Initiated'">Submit Project</button>
			</div>
		</div>

	</div>

	<div class="edit-project-details-view hidden">
		<div class="view-body-container">
			<div ng-if="form.curTab === 'Accepted'">
				<h3>Project Submission Accepted</h3>
				<p>Thank you.</p>
				<p>Your project submission has been sent to EAO and is waiting to be received.</p>
				<p>You will be contacted shortly regarding the next steps.</p>
			</div>
		</div>
	</div>
	
</form>

