<section>
	<div class="row">
		<div class="col-sm-6">
			<div class='panel panel-default panel-project-summary' x-expand-panel='projTomb.tombstone'>

				<div class='panel-body' ng-if="!projTomb.tombstone">
					<div class='row project-small-tombstone'>

						<div class='col-sm-4'>
							<div><label class="control-label">Location</label><p>{{ projTomb.project.location }}</p></div>
						</div>

						<div class='col-sm-4'>
							<div><label class="control-label">Current Phase</label><p x-phase-colour x-phase="projTomb.project.currentPhase">{{ projTomb.project.currentPhase | phaseName:projTomb.project.phases }}</p></div>
						</div>

						<div class='col-sm-4'>
							<div><label class="control-label">Estimated Phase Completion</label><p>{{ projTomb.project.dateCurrentPhaseEstimatedEnd | amDateFormat:'MMM Do YYYY' }}</p></div>
						</div>
						
					</div> 
				</div><!-- /project-info-small -->

				<div class='panel-body' ng-if="projTomb.tombstone">
					<div class='row'>
						<div class='col-sm-3'>
							<div><label class="control-label">Type</label><p>{{ projTomb.project.type }}</p></div>
							<div><label class="control-label">Location</label><p>{{ projTomb.project.location }}</p></div>
							<div><label class="control-label">Current Phase</label><p x-phase-colour x-phase="projTomb.project.currentPhase">{{ projTomb.project.currentPhase | phaseName:projTomb.project.phases }}</p></div>
							<div><label class="control-label">Estimated Phase Completion</label><p>{{ projTomb.project.dateCurrentPhaseEstimatedEnd | amDateFormat:'MMM Do YYYY' }}</p></div>
							<div><label class="control-label">Next Phase</label><p x-phase-colour x-phase="projTomb.project.nextPhase">{{ projTomb.project.nextPhase }}</p></div>
						</div>

						<div class='col-sm-6'>
							<div><label class="control-label">Description</label><p>{{ projTomb.project.description }}</p></div>
							<div><small><a href><span class='glyphicon glyphicon-file'></span> Comprehensive Project Description</a></small></div>
						</div>

						<div class='col-sm-3'>
							<label class="control-label">Phase Completion</label>
							<tmpl-progress-circle x-subtext="estimated progress" x-percentage="projTomb.project.progress" x-max-width="200"></tmpl-progress-circle>
						</div>
					</div>
				</div><!--  /project-info-large -->
			</div><!--  /panel -->


		</div> <!-- /col-sm-6 -->

		<div class="col-sm-3">
			<div class='panel panel-default panel-project-summary'>

				<div class='panel-body' ng-if="!projTomb.tombstone">
					<div class='row project-small-tombstone'>
					
						<div class='col-sm-6'>
							<label class="control-label">Overall Progress</label>
							<tmpl-progress-bar x-percentage="projTomb.project.overallProgress || 0"></tmpl-progress-bar>
						</div>
		
						<div class='col-sm-6'>
							<label class="control-label">Phase Progress</label>
							<tmpl-progress-bar x-percentage="projTomb.project.phases[projTomb.project.currentPhase].progress || 0"></tmpl-progress-bar>
						</div>					
					
					</div>
				</div>

				<div class='panel-body' ng-if="projTomb.tombstone">
					Activities In Progress:<br/>
					Activities Complete:<br/>
					Activities Not Started:<br/>
					Documents:<br/>
					Valid Comments:<br/>
					Time to Next Phase:<br/>
					Schedule Estimate Accuracy:<br/>
				</div>

			</div> <!-- /col3 performance indicators -->
		</div>
	
		<div class="col-sm-3">
			<div class='panel panel-default panel-project-summary panel-tombstone-menu'>

				<div class='panel-body' ng-if="!projTomb.tombstone">
					<p><a href x-modal-project-edit-plan-schedule 		x-project="projTomb.project"><span class='glyphicon glyphicon-calendar'></span> Manage Schedule</a></p>
					<a href x-modal-eao-access							x-project="projTomb.project"><span class='glyphicon glyphicon-user'></span> Manage Access</a>
				</div>

				<div class='panel-body' ng-if="projTomb.tombstone">

					<p><a href x-modal-project-edit-plan-schedule 		x-project="projTomb.project"><span class='glyphicon glyphicon-calendar'></span> Manage Schedule</a></p>
					<p><a href x-modal-eao-access						x-project="projTomb.project"><span class='glyphicon glyphicon-user'></span> Manage Access</a></p>

					<hr>

					<p><a href x-modal-eao-project-edit		x-project="projTomb.project"><span class='glyphicon glyphicon-pencil'></span> Edit Project</a></p>

					<hr>
					<p><a href x-modal-manage-documents		x-project="projTomb.project"><span class='glyphicon glyphicon-file'></span> Documents</a></p>

					<p><a href x-modal-manage-reports		x-project="projTomb.project"><span class='glyphicon glyphicon-signal'></span> Reports</a></p>

					<hr>

					<a href x-modal-view-spatially 			x-project="projTomb.project"><span class='glyphicon glyphicon-globe'></span> View Spatially</a>

					<hr>

					<p><a href ui-sref="configuration"><span class='glyphicon glyphicon-pencil'></span> System Configuration</a></p>

				</div>


			</div>
		</div> <!-- /col3 menu  -->
	
	</div>




</section>
