<div class="project-schedule-view">

	<div class="view-title-container no-border">
		<h1><span ng-show="project.name">{{ project.name }}&nbsp; &rsaquo; &nbsp;</span>Schedule</h1>
	</div>{{filterList}}
	<div class="view-body-container">
		<div class="panel-group"
			 id="phaseGroup"
			 role="tablist"
			 aria-multiselectable="true"
			 ng-repeat="phase in rPhases | orderBy:'order'">
			
			<!-- BEGIN: PROJECT PHASE CONTAINER -->
			<div class="panel panel-default accordion">
				<div class="panel-heading" role="tab" id="phaseOne">

					<a class="clearfix" role="button" data-toggle="collapse" href="#{{phase.name}}" aria-expanded="true" aria-controls="{{phase.name}}">
						<span class="glyphicon glyphicon-plus pull-left"></span>
                    	<span class="glyphicon glyphicon-minus pull-left"></span>
						<span class="pull-left">{{phase.name}}</span>
						<span class="pull-right">&nbsp;Estimated: {{phase.dateStartedEst | date : format : timezone}} / {{phase.dateCompletedEst | date : format : timezone}}</span>
						<span class="pull-right">&nbsp;Actual: {{phase.dateStarted | date : format : timezone}} / {{phase.dateCompleted | date : format : timezone}}</span>
					</a>
				</div>
				<div id="{{phase.name}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="{{phase.name}}">
					<div class="panel-body">
						<div class="button-bar">
							<button ng-if="phase.code !== 'pre-submission'"
									ng-click="popluatePhaseDropdown(phase)"
									class="btn btn-default btn-sm"
									data-toggle="modal"
									data-target="#addMilestoneModal">Add Milestone</button>
							<button ng-if="phase.code !== 'pre-submission'"
									class="btn btn-default btn-sm hidden"
									data-toggle="modal"
									data-target="#addCommentSessionModal">Add Comment Period</button>
							<button class="btn btn-default btn-sm pull-right"
									ng-click="completeCurrentPhase(project)"
									ng-if="canCompletePhase(phase)"
									data-toggle="modal"
									data-target="#completePhaseModal">Complete Phase</button>
							<button class="btn btn-default btn-sm pull-right"
									ng-click="startNextPhase(project)"
									ng-if="isNextPhase(phase._id)"
									data-toggle="modal"
									data-target="#completePhaseModal">Start Phase</button>
							<div class="pull-right">
								<button class="btn btn-default btn-sm"
									ng-click="selectPhaseForEdit(phase)"
									data-toggle="modal"
									data-target="#editPhaseDetail">Edit Phase Detail</button>
							</div>
							<div ng-if="phase.status === 'Complete'" class=" pull-right">
								<button class="btn btn-default btn-sm" disabled="disabled">Phase Completed</button>
							</div>
						</div>
						<table class="table project-milestones-comments">
								<td>Name</td>
								<td>Estimate</td>
								<td>Actual</td>
								<td>Status</td>
								<td></td>
								<td></td>
							<tr ng-repeat="row in phase.milestones">
								<td>{{row.name}}</td>
								<td>{{row.dateStartedEst | date : format : timezone}} / {{row.dateCompletedEst | date : format : timezone}}</td>
								<td>{{row.dateStarted | date : format : timezone}} / {{row.dateCompleted | date : format : timezone}}</td>
								<td>{{row.status}}</td>
								<!-- <td>-Template Link-</tdf> -->
								<td class="button-col">
									<button class="btn btn-default btn-sm"
											ng-if="row.status === 'Not Started'"
											ng-click="startMilestone(row._id)">Start Milestone</button>
									<button class="btn label-success btn-default btn-sm"
											ng-if="row.status === 'In Progress'"
											ng-click="completeMilestone(row._id)">Complete Milestone</button>
								</td>
								<td class="actions-col">
									<button class="btn btn-link">
										<span class="glyphicon glyphicon-pencil"
											  ng-click="openEditMilestone(row._id)"></span>
									</button>
									<button class="btn btn-link" ng-click="openDeleteMilestone(row._id)">
										<span class="glyphicon glyphicon-trash"></span>
									</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<!-- END: PROJECT PHASE CONTAINER -->
			
		</div>
		
	</div>

</div>

<!-- ADD MILESTONE MODAL -->
<div class="modal fade" id="editPhaseDetail" role="dialog" tabindex="-1">
	<div class="modal-dialog add-phase-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn btn-default close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Edit Phase Detail</h3>
			</div>
			<div class="modal-body">
				<div class="form-group has-error" ng-class="{'has-error': validateForm}">
					<label>Actual Date Range / Effective Date?</label>
					<div class="date-range-control clearfix">
						<div class="date-range pull-left">
							<div class="input-group">
								<p x-modal-date-picker x-selected-date="selectedPhase.dateStarted" class="btn form-control-static">{{ selectedPhase.dateStarted | amDateFormat:'MMM Do YYYY' }} &nbsp;&nbsp;<i class="glyphicon glyphicon-calendar"></i>&nbsp; &nbsp;</p>
							</div>
						</div>
						<div class="pull-left spacer">-</div>
						<div class="date-range pull-left">
							<div class="input-group">
								<p x-modal-date-picker x-selected-date="selectedPhase.dateCompleted" class="btn form-control-static">{{ selectedPhase.dateCompleted | amDateFormat:'MMM Do YYYY' }} &nbsp;&nbsp;<i class="glyphicon glyphicon-calendar"></i>&nbsp; &nbsp;</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-body">
				<div class="form-group has-error" ng-class="{'has-error': validateForm}">
					<label>Estimated Date Range / Effective Date?</label>
					<div class="date-range-control clearfix">
						<div class="date-range pull-left">
							<div class="input-group">
								<p x-modal-date-picker x-selected-date="selectedPhase.dateStartedEst" class="btn form-control-static">{{ selectedPhase.dateStartedEst | amDateFormat:'MMM Do YYYY' }} &nbsp;&nbsp;<i class="glyphicon glyphicon-calendar"></i>&nbsp; &nbsp;</p>
							</div>
						</div>
						<div class="pull-left spacer">-</div>
						<div class="date-range pull-left">
							<div class="input-group">
								<p x-modal-date-picker x-selected-date="selectedPhase.dateCompletedEst" class="btn form-control-static">{{ selectedPhase.dateCompletedEst | amDateFormat:'MMM Do YYYY' }} &nbsp;&nbsp;<i class="glyphicon glyphicon-calendar"></i>&nbsp; &nbsp;</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button ng-click="savePhaseDetail()" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- EDIT MILESTONE -->

<!-- ADD MILESTONE MODAL -->
<div class="modal fade" id="addMilestoneModal" role="dialog" tabindex="-1">
	<div class="modal-dialog add-milestone-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn btn-default close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Add Milestone</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Select a Milestone</label>
					<select class="form-control"
							ng-model="selectedMilestoneType"
							ng-options="milestone as milestone.name for milestone in rMilestonesForPhase"
							ng-selected="selectedAMilestone(selectedMilestoneType)">
						<!-- <option ng-repeat="milestone in rMilestonesForPhase" value="{{ milestone.code }}">{{ milestone.name }}</option> -->
					</select>
				</div>
				<div ng-show="showCustom" class="form-group">
					<label class="control-label">Custom Milestone</label>
					<input type="text" class="form-control" ng-model="customMilestoneText"/>
				</div>
				<div class="form-group has-error" ng-class="{'has-error': validateForm}">
					<label>Date Range / Effective Date?</label>
					<div class="date-range-control clearfix">
						<div class="date-range pull-left">
							<div class="input-group">
								<p x-modal-date-picker x-selected-date="dateStarted" class="btn form-control-static">{{ dateStarted | amDateFormat:'MMM Do YYYY' }} &nbsp;&nbsp;<i class="glyphicon glyphicon-calendar"></i>&nbsp; &nbsp;</p>
							</div>
						</div>
						<div class="pull-left spacer">-</div>
						<div class="date-range pull-left">
							<div class="input-group">
								<p x-modal-date-picker x-selected-date="dateCompleted" class="btn form-control-static">{{ dateCompleted | amDateFormat:'MMM Do YYYY' }} &nbsp;&nbsp;<i class="glyphicon glyphicon-calendar"></i>&nbsp; &nbsp;</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button ng-click="addMilestone(selectedMilestoneType, dateStarted, dateCompleted)" type="button" class="btn btn-primary" data-dismiss="modal">Add Milestone</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- EDIT MILESTONE -->

<!-- ADD COMMENT SESSION MODAL -->
<div class="modal fade" id="addCommentSessionModal" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-lg add-comment-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn btn-default close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Add/Edit Comment Session</h3>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label class="control-label">Comment Session Role</label>
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" id="commentSessionMenu" data-toggle="dropdown" aria-expanded="false">
							Select Comment Session Role &nbsp;&nbsp;<span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="commentSessionMenu">
							<li>
								<a href="#">Public Comment Session</a>
							</li>
							<li>
								<a href="#">Working Group Comment Session</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">Select Content</label>
					<select class="form-control">
						<option selected="selected">---</option>
					</select>
				</div>
				<div class="form-group">
					<label class="control-label">Name</label>
					<input type="text" class="form-control"/>
				</div>
				<div class="form-group">
					<label class="control-label">Description<em>* Viewable by Public when Comment Period is active</em></label>
					<textarea class="form-control" rows="6"></textarea>
				</div>
				<div class="form-group has-error" ng-class="{'has-error': validateForm}">
					<label class="control-label">Start / End Dates</label>
					<div class="date-range-control clearfix">
						<div class="date-range input-group pull-left">
							<span class="input-group-btn">
								<button class="btn btn-default">
									<span class="glyphicon glyphicon-calendar"></span>
								</button>
							</span>
							<input class="form-control" placeholder="mm/dd/yyyy" />
						</div>
						<div class="pull-left spacer">-</div>
						<div class="date-range input-group pull-left">
							<span class="input-group-btn">
								<button class="btn btn-default">
									<span class="glyphicon glyphicon-calendar"></span>
								</button>
							</span>
							<input class="form-control" placeholder="mm/dd/yyyy" />
						</div>
					</div>
					<div class="help-block">Invalid Date Range Message</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" disabled="disabled">Add Comment Session</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->