<div class="public-comment-period-view">
    
    <div class="view-title-container">
        <h1>{{project.name}} &nbsp;&rsaquo;&nbsp; Public Comment Periods</h1>
    </div>
    
    <div class="view-body-container">
        
        <div class="public-comment-alert">
            <h2>Public Comment Period is Now Open!</h2>
            <div class="details">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <ul class="public-comment-period-document-links">
                    <li><a class="document-name" href="#">Application Information Requirements</a><a href="#">[ DOWNLOAD ]</a><a href="#">[ VIEW ]</a></li>
                    <li><a class="document-name" href="#">Associated Documentation</a><a href="#">[ DOWNLOAD ]</a><a href="#">[ VIEW ]</a></li>
                </ul>
                <button class="btn btn-success" data-toggle="modal" data-target="#submitCommentModal">
                    Click Here to Submit a Comment
                </button>
            </div>
        </div>
        
        <!-- PROTOTYPE PUBLIC ROW TEMPLATES  -->
        <table ng-table="tableParams" show-filter="true" class="table table-striped table-hover hidden">			
            <tr class="comment-row" data-toggle="modal" data-target="#commentDetailModal">
                <td class="comment-col" header-class="'comment-col no-mobile'" data-title="'Posted by'" filter="{'name':'text'}" sortable="'name'">
                    <h2 class="comment-title">Anonymous</h2>
                    <div ng-init="toggleProject.desc = (false)">
                        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </td>
                <td class="location-col no-mobile" header-class="'location-col no-mobile'" data-title="'Location'" filter="{'name':'text'}" sortable="'commentLocation'">Location</td>
                <td class="pillar-col" header-class="'pillar-col no-mobile'" data-title="'Pillar'" filter="{'pillar':'select'}" sortable="'commentPillar'">Health, Environment, Heritage</td>
                <td class="vc-col" header-class="'pillar-col'" data-title="'Valued Component'" filter="{'commentVC':'select'}" sortable="'commentVC'">Air Quality, Water Quality, Regulatory Process, Rights & Titles</td>			
                <td class="attachment-col" header-class="'attachment-col'"><span class="glyphicon glyphicon-paperclip"></span></td>
                <td class="date-col" header-class="'date-col'" data-title="'Date Posted'" filter="{'date':'text'}" sortable="'dateAdded'" >MM/DD/YYYY</td>
            </tr>
            <tr class="comment-row" data-toggle="modal" data-target="#commentDetailModal">
                <td class="comment-col" header-class="'comment-col no-mobile'" data-title="'Headline'" filter="{'name':'text'}" sortable="'name'">
                    <h2 class="comment-title">Anonymous</h2>
                    <div ng-init="toggleProject.desc = (false)">
                        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </td>	
                <td class="location-col no-mobile" header-class="'location-col no-mobile'" data-title="'Location'" filter="{'name':'text'}" sortable="'commentLocation'">Location</td>
                <td class="pillar-col" header-class="'pillar-col no-mobile'" data-title="'Pillar'" filter="{'pillar':'select'}" sortable="'commentPillar'">Health, Environment, Heritage</td>
                <td class="vc-col" header-class="'pillar-col'" data-title="'Valued Component'" filter="{'commentVC':'select'}" sortable="'commentVC'">Air Quality, Water Quality, Regulatory Process, Rights & Titles</td>			
                <td class="attachment-col" header-class="'attachment-col'"><span class="glyphicon glyphicon-paperclip"></span></td>
                <td class="date-col" header-class="'date-col'" data-title="'Date Posted'" filter="{'date':'text'}" sortable="'dateAdded'" >MM/DD/YYYY</td>
            </tr>
            <tr class="comment-row" data-toggle="modal" data-target="#commentDetailModal">
                <td class="comment-col" header-class="'comment-col no-mobile'" data-title="'Headline'" filter="{'name':'text'}" sortable="'name'">
                    <h2 class="comment-title">Anonymous</h2>
                    <div ng-init="toggleProject.desc = (false)">
                        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </td>	
                <td class="location-col no-mobile" header-class="'location-col no-mobile'" data-title="'Location'" filter="{'name':'text'}" sortable="'commentLocation'">Location</td>
                <td class="pillar-col" header-class="'pillar-col no-mobile'" data-title="'Pillar'" filter="{'pillar':'select'}" sortable="'commentPillar'">Health, Environment, Heritage</td>
                <td class="vc-col" header-class="'pillar-col'" data-title="'Valued Component'" filter="{'commentVC':'select'}" sortable="'commentVC'">Air Quality, Water Quality, Regulatory Process, Rights & Titles</td>			
                <td class="attachment-col" header-class="'attachment-col'"><span class="glyphicon glyphicon-paperclip"></span></td>
                <td class="date-col" header-class="'date-col'" data-title="'Date Posted'" filter="{'date':'text'}" sortable="'dateAdded'" >MM/DD/YYYY</td>
            </tr> 
            <tr ng-if="!$data || $data.length === 0">
                <td colspan="5">No records found.</td>
            </tr>
        </table><!-- / PROTOTYPE PUBLIC ROW TEMPLATES  -->
        
        <!-- PROTOTYPE EAO STAFF ROW TEMPLATES  -->
        <div>
            <ul class="tab-container nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#pendingReview" aria-controls="pendingReview" role="tab" data-toggle="tab">Pending Review (X)</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Deferred (X)</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Published (X)</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Rejected (X)</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="pendingReview">
                    <div class="panel panel-default">
                        <table ng-table="tableParams" show-filter="true" class="eao-comment-table table table-striped table-hover">			
                            <tr class="comment-row" data-toggle="modal" data-target="#commentDetailModal">
                                <td class="comment-col" header-class="'comment-col no-mobile'" data-title="'Posted by'" filter="{'name':'text'}" sortable="'name'">
                                    <h2 class="comment-title">Anonymous</h2>
                                    <div ng-init="toggleProject.desc = (false)">
                                        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </td>
                                <td class="location-col no-mobile" header-class="'location-col no-mobile'" data-title="'Location'" filter="{'name':'text'}" sortable="'commentLocation'">Location</td>
                                <td class="pillar-col" header-class="'pillar-col no-mobile'" data-title="'Pillar'" filter="{'pillar':'select'}" sortable="'commentPillar'">Health, Environment, Heritage</td>
                                <td class="vc-col" header-class="'pillar-col'" data-title="'Valued Component'" filter="{'commentVC':'select'}" sortable="'commentVC'">Air Quality, Water Quality, Regulatory Process, Rights & Titles</td>			
                                <td class="attachment-col" header-class="'attachment-col'"><span class="glyphicon glyphicon-paperclip"></span></td>
                                <td class="date-col" header-class="'date-col'" data-title="'Date Posted'" filter="{'date':'text'}" sortable="'dateAdded'" >MM/DD/YYYY</td>
                                <td class="status-col" header-class="'status-col no-mobile'" data-title="'Status'" filter="{'date':'select'}" sortable="'status'" ><span class="label label-info">EXPIRES IN 7 DAYS</span></td>
                            </tr>
                            <tr class="comment-row" data-toggle="modal" data-target="#commentDetailModal">
                                <td class="comment-col" header-class="'comment-col no-mobile'" data-title="'Headline'" filter="{'name':'text'}" sortable="'name'">
                                    <h2 class="comment-title">Anonymous</h2>
                                    <div ng-init="toggleProject.desc = (false)">
                                        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </td>	
                                <td class="location-col no-mobile" header-class="'location-col no-mobile'" data-title="'Location'" filter="{'name':'text'}" sortable="'commentLocation'">Location</td>
                                <td class="pillar-col" header-class="'pillar-col no-mobile'" data-title="'Pillar'" filter="{'pillar':'select'}" sortable="'commentPillar'">Health, Environment, Heritage</td>
                                <td class="vc-col" header-class="'pillar-col'" data-title="'Valued Component'" filter="{'commentVC':'select'}" sortable="'commentVC'">Air Quality, Water Quality, Regulatory Process, Rights & Titles</td>			
                                <td class="attachment-col" header-class="'attachment-col'"><span class="glyphicon glyphicon-paperclip"></span></td>
                                <td class="date-col" header-class="'date-col'" data-title="'Date Posted'" filter="{'date':'text'}" sortable="'dateAdded'" >MM/DD/YYYY</td>
                                <td class="status-col" header-class="'status-col no-mobile'" data-title="'Status'" filter="{'date':'select'}" sortable="'status'" ><span class="label label-warning">EXPIRES IN 7 DAYS</span></td>
                            </tr>
                            <tr class="comment-row" data-toggle="modal" data-target="#commentDetailModal">
                                <td class="comment-col" header-class="'comment-col no-mobile'" data-title="'Headline'" filter="{'name':'text'}" sortable="'name'">
                                    <h2 class="comment-title">Anonymous</h2>
                                    <div ng-init="toggleProject.desc = (false)">
                                        <p class="comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    </div>
                                </td>	
                                <td class="location-col no-mobile" header-class="'location-col no-mobile'" data-title="'Location'" filter="{'name':'text'}" sortable="'commentLocation'">Location</td>
                                <td class="pillar-col" header-class="'pillar-col no-mobile'" data-title="'Pillar'" filter="{'pillar':'select'}" sortable="'commentPillar'">Health, Environment, Heritage</td>
                                <td class="vc-col" header-class="'pillar-col'" data-title="'Valued Component'" filter="{'commentVC':'select'}" sortable="'commentVC'">Air Quality, Water Quality, Regulatory Process, Rights & Titles</td>			
                                <td class="attachment-col" header-class="'attachment-col'"></td>
                                <td class="date-col" header-class="'date-col'" data-title="'Date Posted'" filter="{'date':'text'}" sortable="'dateAdded'" >MM/DD/YYYY</td>
                                <td class="status-col" header-class="'status-col no-mobile'" data-title="'Status'" filter="{'date':'select'}" sortable="'status'"><span class="label label-danger">EXPIRES IN 1 DAY</span></td>
                            </tr> 
                            <tr ng-if="!$data || $data.length === 0">
                                <td colspan="6">No records found.</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- / PROTOTYPE EAO STAFF ROW TEMPLATES  -->
        
    </div>
</div>

<!-- COMMENT DETAIL MODAL  -->
<div class="public-comment-detail-modal modal fade" id="commentDetailModal" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn btn-default close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Public Comment  &nbsp;&rsaquo;&nbsp; Anonymous</h3>
			</div>
			<div class="modal-body">
                
                <!-- STATUS ALERTS -->
                <div class="eao-alerts">
                    <div class="alert alert-danger hidden">
                        Review period for this comment expires in <strong>1 Days</strong>
                    </div>
                    <div class="alert alert-info hidden">
                        Review period for this comment expires in <strong>7 Days</strong>
                    </div>
                </div>
                
                <div class="alert alert-info">
                    No Pillars or Valued Components have been assigned to this comment.
                </div>
                
                <section>
                    <label>Posted March 21, 2016</label>
                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                </section>
                
                <!-- PILLARS & VC'S -->
                <section class="pillers-vc hidden">  
                    <!-- DISPLAY VALUES -->
                    <div class="pillers-vc-display hidden">
                        <div class="detail-row">
                            <label>Pillars</label>
                            <span class="value">Health, Environment, Heritage</span>
                        </div>
                        <div class="detail-row">
                            <label>Valued Components</label>
                            <span class="value">Air Quality, Water Quality, Regulatory Process, Rights & Titles</span>
                        </div>
                    </div><!-- / DISPLAY VALUES --> 
                    <!-- PROPONENT ASSIGN -->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="detail-row">
                                <label>Assign Pillars</label>
                                <div class="pick-list panel panel-default" data-toggle="buttons">
                                    <label class="btn btn-default active">
                                        <input type="checkbox" autocomplete="off">Pillar 1 
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="checkbox" autocomplete="off">Pillar 2
                                    </label>
                                    <label class="btn btn-default">
                                        <input type="checkbox" autocomplete="off">Pillar 3
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="detail-row">
                                <label>Assign Valued Components</label>
                                <div class="pick-list panel panel-default" data-toggle="buttons">
                                    <label class="btn btn-default" title="Really Really Really Really Really Really Long Valued Component Name">
                                        <input type="checkbox" autocomplete="off" checked>Really Really Really Really Really Really Long Valued Component Name
                                    </label>
                                    <label class="btn btn-default" title="Valued Component 2">
                                        <input type="checkbox" autocomplete="off">Valued Component 2
                                    </label>
                                    <label class="btn btn-default" title="Valued Component 1">
                                        <input type="checkbox" autocomplete="off">Valued Component 1
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div><!-- / PROPONENT ASSIGN -->
                </section><!-- / PILLARS & VC'S -->
                
                <!-- ATTACHMENTS -->
                <section>
                    <!-- PUBLIC/PROPONENT -->
                    <div class="detail-row hidden">
                        <label>Attachments</label>
                        <div class="attachments list-group">
                            <a class="list-group-item">
                                <div class="file-name">file-name-1.jpg</div>
                                <button class="file-action btn btn-link">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button> 
                            </a>
                            <a class="list-group-item">
                                <div class="file-name">file-name-1.jpg</div>
                                <button class="file-action btn btn-link">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button>  
                            </a>
                        </div>
                    </div><!-- PUBLIC/PROPONENT -->
                    <!-- EAO ONLY -->
                    <div class="detail-row">
                        <label>Attachments</label>
                        <ul class="attachments list-group">
                            <li class="list-group-item clearfix">
                                <div class="file-name">file-name-1.jpg</div>
                                <div class="file-review btn-group" data-toggle="buttons">
                                    <label class="btn btn-danger btn-sm">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked />REJECT
                                    </label>
                                    <label class="btn btn-success btn-sm">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked />ACCEPT
                                    </label>
                                </div>
                                <button class="file-action btn btn-link">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button>
                            </li>
                            <li class="list-group-item clearfix">
                                <div class="file-name">file-name-1.jpg</div>
                                <div class="file-review btn-group" data-toggle="buttons">
                                    <label class="btn btn-danger btn-sm">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked />REJECT
                                    </label>
                                    <label class="btn btn-success btn-sm">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked />ACCEPT
                                    </label>
                                </div>
                                <button class="file-action btn btn-link">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button>
                            </li>
                            <li class="list-group-item clearfix">
                                <div class="file-name">file-name-1.jpg</div>
                                <div class="file-review btn-group" data-toggle="buttons">
                                    <label class="btn btn-danger btn-sm">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked />REJECT
                                    </label>
                                    <label class="btn btn-success btn-sm">
                                        <input type="radio" name="options" id="option1" autocomplete="off" checked />ACCEPT
                                    </label>
                                </div>
                                <button class="file-action btn btn-link">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button>
                            </li>
                        </ul>
                    </div><!-- EAO ONLY -->   
                </section><!-- / ATTACHMENTS -->
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="close">Reject</button>
                <button type="button" class="btn btn-default" data-dismiss="close">Defer</button>
                <button type="button" class="btn btn-success" data-dismiss="close" disabled="disabled">Publish</button>
			</div>
		</div>
	</div>
</div><!-- / COMMENT DETAIL MODAL -->

<!-- SUBMIT COMMENT MODAL  -->
<div class="public-comment-modal modal fade" id="submitCommentModal" role="dialog" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn btn-default close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Submit a Comment</h3>
			</div>
			<div class="modal-body">  
                <form>
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-sm-12 col-md-6">
                                <label class="control-label">Name<em>Optional</em></label>
                                <input class="form-control" placeholder="Anonymous" type="text" />
                            </div>
                            <div class="form-group col-sm-12 col-md-6">
                                <label class="control-label">Location<em>Optional</em></label>
                                <input class="form-control" placeholder="IE: City, Province" type="text" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <div class="checkbox">
                                    <label><input type="checkbox" />Make my name and location visible to public.</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label">Comment</label>
                                <textarea class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label">Attachments</label>
                                <ul class="attachments list-group">
                                    <li class="list-group-item clearfix">
                                        <div class="file-name">file-name-1.jpg</div>
                                        <div class="file-progress progress">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                <span class="sr-only"></span>
                                            </div>
                                        </div>
                                        <button class="file-action btn btn-link">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </li>
                                     <li class="list-group-item clearfix">
                                        <div class="file-name">file-name-1-really-really-really-really-long-file-name.jpg</div>
                                        <div class="file-progress progress">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                <span class="sr-only"></span>
                                            </div>
                                        </div>
                                        <button class="file-action btn btn-link">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </li>
                                    <li class="list-group-item clearfix">
                                        <div class="file-name">file-name-1-really-really-really-really-long-file-name.jpg</div>
                                        <div class="file-progress progress hidden">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                                                <span class="sr-only"></span>
                                            </div>
                                        </div>
                                        <button class="file-action btn btn-link">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </li>
                                </ul>
                                <div class="attachments-upload-target">
                                    <input type="file" multiple accept=".jpg,.jpeg,.pdf" />
                                    <div><strong>Drag & Drop</strong> or <strong>Click Here</strong> to Upload Attachments</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Submit Comment</button>
			</div>
		</div>
	</div>
</div><!-- / SUBMIT COMMENT MODAL -->

