<div class="modal-header">
	<button class="btn btn-default close" ng-click="cancel()"><span aria-hidden="true">×</span></button>
	<h3 class="modal-title" title="Edit Milestone &nbsp;&rsaquo;&nbsp; {{ milestone.name }}">Edit Milestone &nbsp;&rsaquo;&nbsp; {{ milestone.name }}</h3>
</div>

<form name="editMilestoneForm" ng-submit="save(editMilestoneForm.$valid)" novalidate>
  <div class="modal-body">
    <div class="form-group datePicker">
        <label class="control-label" for="date">Estimated Date Range <em class="control-label">(YYYY-MM-DD)</em></label>
        <div class="form-inline">
          <p class="input-group" x-show-errors >
            <input class="form-control" placeholder="YYYY-MM-DD"  id="eDateStart" name="eDateStart"
              ng-model="milestone.dateStartedEst"
              type="text"
              uib-datepicker-popup
              is-open="datePicker1.opened"
              datepicker-options="dateOptions"
              close-text="Close"/>
            <span class="input-group-btn">
              <span class="btn btn-default" ng-click="dateOpen1()"><span class="glyphicon glyphicon-calendar"/></button>
            </span>
          </p>
        <span> &nbsp;-&nbsp; </span>
            <p class="input-group" x-show-errors >
              <input class="form-control" placeholder="YYYY-MM-DD"  id="eDateEnd" name="eDateEnd"
                ng-model="milestone.dateCompletedEst"
                type="text"
                uib-datepicker-popup
                is-open="datePicker2.opened"
                datepicker-options="dateOptions"
                close-text="Close"/>
              <span class="input-group-btn">
                <span class="btn btn-default" ng-click="dateOpen2()"><span class="glyphicon glyphicon-calendar"/></button>
              </span>
            </p>
          </div>
          <div ng-show="!editMilestoneForm.eDateStart.$valid ||!editMilestoneForm.eDateEnd.$valid" role="alert">
            <p class="text-danger help-block">Date range not in valid format</p>
          </div>
    </div>

    <div class="form-group datePicker">
        <label class="control-label" for="aDateEnd ">Actual Date Range <em class="control-label">(YYYY-MM-DD)</em></label>
        <div class="form-inline">
          <p class="input-group" x-show-errors >
            <input class="form-control" placeholder="YYYY-MM-DD"  id="aDateStart" name="aDateStart"
              ng-model="milestone.dateStarted"
              type="text"
              uib-datepicker-popup
              is-open="datePicker3.opened"
              datepicker-options="dateOptions"
              close-text="Close"/>
            <span class="input-group-btn">
              <span class="btn btn-default" ng-click="dateOpen3()"><span class="glyphicon glyphicon-calendar"/></button>
            </span>
          </p>
        <span> &nbsp;-&nbsp; </span>
            <p class="input-group" x-show-errors >
              <input class="form-control" placeholder="YYYY-MM-DD"  id="aDateEnd" name="aDateEnd"
                ng-model="milestone.dateCompleted"
                type="text"
                uib-datepicker-popup
                is-open="datePicker4.opened"
                datepicker-options="dateOptions"
                close-text="Close"/>
              <span class="input-group-btn">
                <span class="btn btn-default" ng-click="dateOpen4()"><span class="glyphicon glyphicon-calendar"/></button>
              </span>
            </p>
          </div>
          <div ng-show="!editMilestoneForm.aDateStart.$valid ||!editMilestoneForm.aDateEnd.$valid" role="alert">
            <p class="text-danger help-block">Date range not in valid format</p>
          </div>
    </div>
  </div>
</form>

<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="ok(editMilestoneForm.$valid)" ng-disabled="!editMilestoneForm.$valid">Save</button>
</div>
