<form class="view-form" name="projectForm" ng-submit="saveProject(projectForm.$valid)" novalidate>

	<div class="floating-alert alert alert-danger alert-dismissible fade in hidden">
		<span class="pull-left">Floating Alert Container!</span>
		<button type="button" class="btn btn-default close" data-dismiss="alert">
        	<span aria-hidden="true">&times;</span>
    	</button>
	</div>

	<div class="view-title-container flex-row">
		<h1>Edit Project &nbsp;&rsaquo;&nbsp; {{project.name}}<span class="placeholder-value" ng-if="!project.name">Untitled Project</span></h1>
		<div class="actions">
			<button class="btn btn-default btn-sm" ng-if="!isNew" ui-sref="p.detail">Cancel</button>
			<button class="btn btn-default btn-sm" ng-if="isNew" ui-sref="projects">Cancel</button>
			<button class="btn btn-primary btn-sm" type="submit">Save</button>
			<button class="btn btn-primary btn-sm" ng-click="submitProject(projectForm.$valid)" ng-if="project.status === 'Initiated'">Submit Project</button>
		</div>
	</div>

	<div class="view-body-container">
		
		<!-- TABS -->
		<ul class="nav nav-tabs" ng-init="form.curTab = 'Project Details'">
			<li role="presentation" ng-class="{'active':form.curTab === 'Project Details'}">
				<a href ng-click="form.curTab = 'Project Details'" title="Edit Project Details">Project Details</a>
			</li>
			<li role="presentation" ng-class="{'active':form.curTab === 'Project Contacts'}">
				<a href ng-click="form.curTab = 'Project Contacts'" title="Edit Project Contacts">Contacts</a>
			</li>
			<li role="presentation" ng-class="{'active':form.curTab === 'Project EAO Info'}">
				<a href ng-click="form.curTab = 'Project EAO Info'" title="Edit Environmental Assessment Office Info">EAO Details</a>
			</li>
			<li class="hidden" role="presentation" ng-class="{'active':form.curTab === 'Proponent Info'}">
				<a href ng-click="form.curTab = 'Proponent Info'" title="Edit Environmental Assessment Office Info">Proponent</a>
			</li>
			<li class="hidden" role="presentation" ng-class="{'active':form.curTab === 'Intake Profile'}">
				<a href ng-click="form.curTab = 'Intake Profile'" title="Edit Environmental Assessment Office Info">Intake Profile</a>
			</li>
		</ul><!-- / TABS -->

		<div class="edit-project-form tab-pane active" ng-show="form.curTab === 'Project Details'">
			<!-- PROJECT INFORMATION -->
			<fieldset>
				<legend>General Info</legend>
				<div class="form-group" x-show-errors>
					<label class="control-label" for="projectname">Project Name</label>
					<input class="form-control" title="Project Name" id="name" name="name"
						ng-model="project.name"
						ng-change="onChangeProjectName()" required></input>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-4 form-group" x-show-errors>
						<label class="control-label" for="type">Type</label>
						<select class="form-control" title="Project Type" id="type" name="type"
							ng-model="project.type"
							ng-options="type as type for type in types" required></select>
					</div>
					<div class="col-sm-6 col-md-4 form-group" x-show-errors>
						<label class="control-label" for="subtype">Sub-type</label>
						<select class="form-control" title="Project Sub-type" id="subtype" name="subtype"
							ng-modal="project.sector" required>
						</select>
					</div>
					<div class="col-sm-6 col-md-4 form-group" x-show-errors>
						<label class="control-label" for="build">Nature of Project</label>
						<select class="form-control" id="build" name="build"
						 	ng-model="project.build">
							<option value="new">New Construction</option>
							<option value="modification">Modification of Existing</option>
							<option value="dismantling">Dismantling or Abandonment</option>
						</select>
					</div>
				</div>
				<div class="form-group" x-show-errors>
					<label class="control-label" for="projectdesc">Project Description</label>
					<textarea class="form-control" title="Project Description" id="shortDesc" name="projectdesc" rows="3"
						ng-model="project.description" required></textarea>
				</div>
				<div class="row">
					<div class="col-md-4 form-group" x-show-errors>
						<label class="control-label" for="region">Region</label>
						<select class="form-control" if="region" name="region"
						 	ng-model='project.region' 
							ng-options="key as value for (key, value) in regions" required></select>
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label">Latitude / Longitude</label>
						<div class="coord-input flex-row">
							<input class="form-control" id="latitude" type="number" step="any" ng-model="project.lat">
							<input class="form-control" id="longitude" type="number" step="any" ng-model="project.lon">
						</div>
					</div>
					<div class="col-sm-12 col-md-4 form-group">
						<label class="control-label">Location Description <em>(Optional)</em></label>
						<input class="form-control" id="location" type="text" ng-model="project.location">
					</div>
				</div>
			</fieldset>
			<!-- PROJECT INFORMATION -->

			<!-- ADDITIONAL INFO -->
			<fieldset>
				<legend>Additional Info</legend>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label" for="capitalinvestment">Capital Investment <em>(Optional)</em></label>
							<input class="form-control" step="any"
								name="capitalinvestment"
								ng-model="project.intake.investment"></input>
						</div>
						<div class="form-group">
							<label class="control-label" for="capitalinvestmentnotes">Investment Notes</label>
							<textarea class="form-control" rows="3"
								name="capitalinvestmentnotes" 
								ng-model="project.intake.investmentNotes"></textarea>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label" form="constructionjobs">Construction Jobs <em>(Optional)</em></label>
							<input class="form-control"
								name="constructionjobs"
								ng-model="project.intake.constructionjobs"></input>
						</div>
						<div class="form-group">
							<label class="control-label" for="constructionjobsnotes">Construction Jobs Notes</label>
							<textarea class="form-control" rows="3" 
								name="constructionjobsnotes"
								ng-model="project.intake.constructionjobsNotes"></textarea>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label" for="operatingjobs">Operating Jobs <em>(Optional)</em></label>
							<input class="form-control" 
								name="operatingjobs"
								ng-model="project.intake.operatingjobs"></input>
						</div>
						<div class="form-group">
							<label class="control-label" for="operatingjobsnotes">Operating Jobs Notes</label>
							<textarea class="form-control" rows="3"
								name="operatingjobsnotes"
								ng-model="project.intake.operatingjobsNotes"></textarea>
						</div>
					</div>
				</div>
			</fieldset>
			<!-- / ADDITIONAL INFO -->

			<!-- CEAA INVOLVEMENT -->
			<fieldset>
				<legend>Canada Environmental Assessment Agency (CEAA) Involvement</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="ceaainvolvement">CEAA involvement<em>(Optional)</em></label>
						<input class="form-control" name="ceaainvolvement"
							ng-model="project.CEAAInvolvement"></input>
					</div>
					<div class="col-md-8 form-group">
						<label class="control-label" for="ceaaurl">CEAA URL<em>(Optional)</em></label>
						<input class="form-control" placeholder="e.g. http://www.website.com" type="url"
							name="ceaaurl"
							ng-model="project.CEAALink"></input>
					</div>
				</div>
			</fieldset>
			<!-- / CEAA INVOLVEMENT -->

			<!-- ELECTORAL DISTRICTS -->
			<fieldset>
				<legend>Electoral Districts</legend>
				<div class="row">
					<div class="col-md-6 form-group">
						<label class="control-label" for="fedelecdist">Federal Electoral Districts <em>(Optional)</em></label>
						<input class="form-control"
							name="fedelecdist"
							ng-model="project.fedElecDist"></input>
					</div>
					<div class="col-md-6 form-group">
						<label class="control-label" for="provelecdist">Provincial Electoral Districts <em>(Optional)</em></label>
						<input class="form-control"
							name="provelecdist"
							ng-model="project.provElecDist"></input>
					</div>
				</div>
			</fieldset>
			<!-- / ELECTORAL DISTRICTS -->

			<!-- MEM ONLY INFORORMATION -->
			<div class="row" ng-if="environment === 'MEM'">
				<div class="col-sm-3">
					<div class="form-group" x-show-errors>
						<label for="permitid" class="control-label">Permit Number</label>
						<input id="permitid" name="permitid" type="text" class="form-control input-sm" ng-model="project.memPermitID">
							<div ng-messages="projectForm.permitid.$error" role="alert">
								<p class="help-block error-text" ng-message="required">Permit Number is required.</p>
							</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group" x-show-errors>
						<label for="commodity" class="control-label">Commodity/ies</label>
						<input id="commodity" name="commodity" type="text" class="form-control input-sm" ng-model="project.commodity">
							<div ng-messages="projectForm.commodity.$error" role="alert">
								<p class="help-block error-text" ng-message="required">Commodity is required.</p>
							</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group" x-show-errors>
						<label for="ownership" class="control-label">Ownership</label>
						<input id="ownership" name="ownership" type="text" class="form-control input-sm" ng-model="project.ownership">
							<div ng-messages="projectForm.ownership.$error" role="alert">
								<p class="help-block error-text" ng-message="required">Ownership is required.</p>
							</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group" x-show-errors>
						<label for="tailingsImpoundments" class="control-label">Tailings Impoundments</label>
						<input id="tailingsImpoundments" name="tailingsImpoundments" type="text" class="form-control input-sm" ng-model="project.tailingsImpoundments">
							<div ng-messages="projectForm.tailingsImpoundments.$error" role="alert">
								<p class="help-block error-text" ng-message="required">Tailings Impoundments is required.</p>
							</div>
					</div>
				</div>
			</div>
			<!-- / MEM ONLY INFORMATION -->
		</div>

		<div class="edit-project-form tab-pane" ng-show="form.curTab === 'Project Contacts'">
			<fieldset>
				<legend>Project Lead</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="projectleadname">Name</label>
						<input class="form-control" name="projectleadname"
							ng-model="project.projectLead"></input>
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label" for="projectleademail">Email</label>
						<input class="form-control" placeholder="example@domain.com" name="projectleademail"
							ng-model="project.projectLeadEmail"></input>
					</div>
					<div class="col-sm-6 col-md-2 form-group">
						<label class="control-label">Phone</label>
						<input class="form-control" placeholder="e.g. (555) 555-5555"
							ng-model="project.projectLeadPhone"></input>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Executive Project Director</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="projectdirector">Name</label>
						<input class="form-control" name="projectdirector"
							ng-model="project.responsibleEPD"></input>
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label" for="projectdirectormmail">Email</label>
						<input class="form-control" placeholder="example@domain.com" name="projectdirectormmail"
							ng-model="project.responsibleEPDEmail"></input>
					</div>
					<div class="col-sm-6 col-md-2 form-group">
						<label class="control-label" for="projectdirectorphone">Phone</label>
						<input class="form-control" placeholder="e.g. (555) 555-5555" name="projectdirectorphone"
							ng-model="project.responsibleEPDPhone"></input>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Compliance and Enforcement Lead</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="celead">Name</label>
						<input class="form-control" name="celead"
							ng-model="project.CELead"></input>
					</div>
					<div class="col-sm-6 col-md-4 form-group">
						<label class="control-label" for="celeademail">Email</label>
						<input class="form-control" placeholder="example@domain.com" name="celeademail"
							ng-model="project.CELeadEmail"></input>
					</div>
					<div class="col-sm-6 col-md-2 form-group">
						<label class="control-label">Phone</label>
						<input class="form-control" placeholder="e.g. (555) 555-5555" name="cephone"
							ng-model="project.CELeadPhone"></input>
					</div>
				</div>
			</fieldset>
			<fieldset>
				<legend>Additional Team Info</legend>
				<div class="row">
					<div class="col-md-4 form-group">
						<label class="control-label" for="analyst">Analyst<em>(Optional)</em></label>
						<input class="form-control" name="analyst"
							ng-model="project.projectAnalyst"></input>
					</div>
					<div class="col-md-4 form-group">
						<label class="control-label" for="assistant">Assistant<em>(Optional)</em></label>
						<input class="form-control" name="assistant"
							ng-model="project.projectAssistant"></input>
					</div>
					<div class="col-md-4 form-group">
						<label class="control-label" for="adminassistant">Admin Assistant<em>(Optional)</em></label>
						<input class="form-control" name="adminassistant"
							ng-model="project.administrativeAssistant"></input>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="projectleadname">Team Notes<em>(Optional)</em></label>
					<textarea class="form-control" rows="4"
						name="projectleadname"
						ng-model="project.teamNotes"></textarea>
				</div>
			</fieldset>
		</div>

		<div class="edit-project-form tab-pane" ng-show="form.curTab === 'Project EAO Info'">
			<fieldset>

				<div class="row hidden">
					<div class="col-md-4 form-group">
						<label class="control-label" for="projectleadname">Environmental Assessment Status</em></label>
						<select class="form-control"></select>
					</div>
				</div>

				<div class="row">
					<div class="col-md-8 form-group">
						<label class="control-label" for="projectleadname">Does this project require an Environmental Assessment Certificate?</label>
						<div class="radio-group">
							<label class="radio-inline">
								<input type="radio" name="inlineRadioOptions"
									ng-model="project.eacDecision"
									id="inlineRadio1"
									value="Certificate Required"> YES
							</label>
							<label class="radio-inline">
								<input type="radio"	name="inlineRadioOptions"
									ng-model="project.eacDecision"
									id="inlineRadio2"
									value="Certificate Not Required"> NO
							</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label class="control-label" for="eanotes">Assessment Notes<em>(Optional)</em></label>
						<textarea class="form-control" name="eanotes" rows="4"
							ng-model="project.eaNotes"></textarea>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 form-group">
						<label class="control-label" for="eaissues">Assessment Issues<em>(Optional)</em></label>
						<textarea class="form-control" name="eaissues" rows="4"
							ng-model="project.eaIssues"></textarea>
					</div>
				</div>
			</fieldset>
		</div>

		<div class="edit-project-form tab-pane" ng-show="form.curTab === 'Proponent Info'">
			<tmpl-company-entry-form x-company="project.proponent"></tmpl-company-entry-form>
			<tmpl-user-entry-form x-user="project.primaryContact" x-project="project" ></tmpl-user-entry-form>
		</div>

		<div class="edit-project-form tab-pane" ng-show="form.curTab === 'Intake Profile'">
			<div ng-repeat="question in questions">
				<div class="form-group row" ng-if="question.type === 'smalltext'">
					<div class="col-xs-8">
						<p>{{ question.content }}</p>
					</div>
					<div class="col-xs-4">
						<input class="form-control input-sm" ng-model="project.intake[question.code]"/>
					</div>
				</div>
				<div class="form-group" ng-if="question.type === 'text'">
					<p>{{ question.content }}</p>
					<textarea ng-if="question.type === 'text'" class="form-control input-sm" ng-model="project.intake[question.code]" rows=4></textarea>
				</div>
				<div class="form-group row" ng-if="question.type === 'dropdown'">
					<div class="col-xs-8">
						<p>{{ question.content }}</p>
					</div>
					<div class="col-xs-4">
						<select ng-if="question.type === 'dropdown'" class="form-control input-sm" ng-model="project.intake[question.code]" ng-options="opt for opt in question.options"></select>
					</div>
				</div>
			</div>
		</div>

	</div>


<div class="edit-project-details-view hidden">

		<!-- VIEW BODY CONTAINER -->
		<div class="view-body-container">

			<div ng-if="form.curTab === 'Accepted'">
				<h3>Project Submission Accepted</h3>
				<p>Thank you.</p>
				<p>Your project submission has been sent to EAO and is waiting to be received.</p>
				<p>You will be contacted shortly regarding the next steps.</p>
			</div>

		</div><!-- / VIEW BODY CONTAINER -->

</div>

</form>

