<div class="compliance-oversight-view">
    
    <div class="view-title-container no-border">
        <h1><span ng-show="project.name">{{ project.name }}&nbsp; &rsaquo; &nbsp;</span>Compliance Oversight</h1>
    </div>
    
    <div class="view-body-container">
    
        <div class="panel panel-default accordion">
            <div class="panel-heading" role="tab" id="ir1">
                <a class="clearfix" role="button" data-toggle="collapse" href="#ir1Collapse" aria-expanded="true" aria-controls="ir1Collapse">
                    <span class="glyphicon glyphicon-plus pull-left"></span>
                    <span class="glyphicon glyphicon-minus pull-left"></span>
                    <h2 class="pull-left">Inspection Report 1</h2>
                    <span class="pull-right">January 7, 2016</span>
                </a>
            </div>
            <div id="ir1Collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="ir1Collapse">
                <div class="ir-cert-requirements">
                    <h3>Certification requirements inspected for this report:</h3>
                    <ul>
                        <li><a href="#">Permit PR-16078 Environmental Management and Monitoring Plans</a></li>
                        <li><a href="#">Environment Permit PR-16078</a></li>
                        <li><a href="#">Wildlife and Wildlife Habitat</a></li>
                        <li><a href="#">Business Opportunities</a></li>
                    </ul>
                </div>
                <div class="actions-table-container">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="enforcement-col">Actions</th>
                                <th class="status-col">Status</th>
                                <th class="date-col">Date Issued</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="enforcement-col">
                                    <strong>Warning</strong>
                                    <div><a href="#">Permit PR-16078 Environmental Management and Monitoring Plans</a></div>
                                </td>
                                <td class="status-col"><span class="label label-primary">Open</span></td>
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
                            <tr>
                                <td class="enforcement-col">
                                    <strong>Order to Cease</strong>
                                    <div><a href="#">Environment Permit PR-16078</a></div>
                                </td>
                                <td class="status-col"><span class="label label-primary">Open</span></td> 
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
                            <tr>
                                <td class="enforcement-col">
                                    <strong>Order to Remedy</strong>
                                    <div><a href="#">Wildlife and Wildlife Habitat</a></div>
                                </td>
                                <td class="status-col"><span class="label label-success">Resolved</span></td> 
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
                            <tr>
                                <td class="enforcement-col">
                                    <strong>Compliance Agreement</strong>
                                    <div><a href="#">Business Opportunities</a></div>
                                </td> 
                                <td class="status-col">
                                    <span class="label label-default">Rescinded</span>
                                </td>
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
                            <tr>
                                <td class="enforcement-col">
                                    <strong>Referral</strong>
                                    <div><a href="#">Environment Permit PR-16078</a></div>
                                </td> 
                                <td class="status-col"><span class="label label-primary">Open</span></td>
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
                            <tr>
                                <td class="enforcement-col">
                                    <strong>Other</strong>
                                    <div><a href="#">Environment Permit PR-16078</a></div>
                                </td> 
                                <td class="status-col"><span class="label label-primary">Open</span></td>
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
       
        <div class="panel panel-default accordion">
            <div class="panel-heading" role="tab" id="ir2">
                <a class="clearfix" role="button" data-toggle="collapse" href="#ir2Collapse" aria-expanded="true" aria-controls="ir2Collapse">
                    <span class="glyphicon glyphicon-plus pull-left"></span>
                    <span class="glyphicon glyphicon-minus pull-left"></span>
                    <h2 class="pull-left">Inspection Report 2</h2>
                    <span class="pull-right">March 15, 2016</span>
                </a>
            </div>
            <div id="ir2Collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="ir2Collapse">
                <div class="ir-cert-requirements">
                    <h3>Certification requirements inspected for this report:</h3>
                    <ul>
                        <li><a href="#">Permit PR-16078 Environmental Management and Monitoring Plans</a></li>
                        <li><a href="#">Environment Permit PR-16078</a></li>
                        <li><a href="#">Wildlife and Wildlife Habitat</a></li>
                        <li><a href="#">Business Opportunities</a></li>
                    </ul>
                </div>
                <div class="actions-table-container">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="enforcement-col">Actions</th>
                                <th class="status-col">Status</th>
                                <th class="date-col">Date Issued</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="enforcement-col">
                                    <strong>Warning</strong>
                                    <div><a href="#">Permit PR-16078 Environmental Management and Monitoring Plans</a></div>
                                </td>
                                <td class="status-col"><span class="label label-primary">Open</span></td>
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
                            <tr>
                                <td class="enforcement-col">
                                    <strong>Order to Cease</strong>
                                    <div><a href="#">Environment Permit PR-16078</a></div>
                                </td>
                                <td class="status-col"><span class="label label-primary">Open</span></td> 
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
                            <tr>
                                <td class="enforcement-col">
                                    <strong>Order to Remedy</strong>
                                    <div><a href="#">Wildlife and Wildlife Habitat</a></div>
                                </td>
                                <td class="status-col"><span class="label label-success">Resolved</span></td> 
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
                            <tr>
                                <td class="enforcement-col">
                                    <strong>Compliance Agreement</strong>
                                    <div><a href="#">Business Opportunities</a></div>
                                </td> 
                                <td class="status-col">
                                    <span class="label label-default">Rescinded</span>
                                </td>
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
                            <tr>
                                <td class="enforcement-col">
                                    <strong>Referral</strong>
                                    <div><a href="#">Environment Permit PR-16078</a></div>
                                </td> 
                                <td class="status-col"><span class="label label-primary">Open</span></td>
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
                            <tr>
                                <td class="enforcement-col">
                                    <strong>Other</strong>
                                    <div><a href="#">Environment Permit PR-16078</a></div>
                                </td> 
                                <td class="status-col"><span class="label label-primary">Open</span></td>
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    </div>
    
</div>