<div class="modal-header">
	<button class="btn btn-default btn-sm pull-right" type="button" ng-click="taskComDetail.cancel()">Close</button>
	<h3 class="modal-title">Comment Detail</h3>
</div>

<div class="modal-body" style="padding: 0">

	<tmpl-public-comment-classify x-comment="taskComDetail.comment" x-project="taskComDetail.project" x-single="true"></tmpl-public-comment-classify>

</div>

<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="taskComDetail.cancel()">Close</button>
</div>


