
<!-- Compliance Oversight Page -->

<div class="hero-banner">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1>Compliance Oversight</h1>
                <p class="mb-2">Compliance and enforcement (C&E) activities begin after a claim is staked and continue through exploration and the life of a mine.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <main class="col-lg-8">
            <section>
                <h2>Integrated Oversight of BC's Mining Sector</h2>
                <p>The Ministry of Energy and Mines (MEM), Ministry of Environment (MOE), Environmental Assessment Office (EAO) and Ministry of Forests, Lands and Natural Resource Operations (FLNRO) work together to provide integrated oversight of British Columbia’s mining sector. Compliance and enforcement (C&amp;E) activities begin after a claim is staked and continue through exploration and the life of a mine.</p>
                <p>MEM’s oversight responsibilities under the Mines Act generally apply within the mine site boundary defined in the Mines Act permit /associated amendments. MEM Inspectors of Mines regularly conduct field inspections to make sure that mines are complying with the Mines Act, the Health, Safety and Reclamation Code for Mines in British Columbia, other codes and standards such as the Canadian Electrical Code, and site-specific Mines Act permit conditions. Some MEM inspections are specialized (e.g., occupational health inspections, geotechnical inspections) while others are more general in scope.</p>
                <p>MOE’s responsibilities under the Environmental Management Act are typically limited to actual or potential environmental impacts beyond the mine site boundary.</p>
                <p>EAO’s work does not end when a mining project receives an environmental assessment (EA) certificate under the Environmental Assessment Act. C&E is an important part of the EA process to ensure that operators are following their EA certificate conditions.</p>
                <p>FLNRO’s responsibilities under the Land Act, the Forest Act and the Water Act include areas on and off the mine site, and this ministry’s C&E activities usually have a detailed focus. At this time, FLNRO records are not available via this platform.</p>
            </section>
        </main>
        <aside class="col-lg-4">
            <section>
                <h4>Related Documents</h4>
                <ul class="mmti-side-list">
                    <li>
                        <a class="document-link" href="http://www2.gov.bc.ca/assets/gov/environment/research-monitoring-and-reporting/reporting/reporting-documents/environmental-enforcement-docs/compliance_mgmt_framework.pdf" target="_blank"> 
                            <span>Ministry of Environment - Compliance Management Framework</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section>
                <h4>External Links &amp; Resources</h4>
                <ul class="mmti-side-list">
                    <li>
                        <a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/compliance-enforcement" target="_blank">Mining Compliance &amp; Enforcement</a>
                    </li>
                    <li>
                        <a href="http://www.eao.gov.bc.ca/compliance.html" target="_blank">Environmental Assessment Office Compliance &amp; Enforcement</a>
                    </li>
                </ul>
            </section>
        </aside>
    </div>
</div>