
<!-- Authorizations Page -->

<div class="hero-banner">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1>Authorizations</h1>
                <p>Major mines in British Columbia require authorizations from different federal and provincial agencies, and vary from project to project.</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="anchor-point">
    <div class="row">
        <main class="col-lg-8">
            <section>
                <h2>Authorizations for Major Mines in British Columbia</h2>
                <p>Major mines in British Columbia typically produce metal and coal, but very large aggregate or industrial minerals operations may also qualify as major mines. Major mines require many authorizations from many different federal and provincial agencies. The number and type of authorizations required varies from mining project to mining project, but typically there are three primary provincial authorizations:</p>
                <ul>
                    <li>Environmental assessment (EA) certificates, issued under the Environmental Assessment Act (Environmental Assessment Office)</li>
                    <li>Permits issued under the Mines Act (Ministry of Energy and Mines)</li>
                    <li>Waste discharge permits issued under the Environmental Management Act (Ministry of Environment)</li>
                </ul>
                <p>Authorizations issued under these three acts are available on this website.</p>
                <p>Established in late 2014, the Ministy of Energy and Mines Major Mine Permitting Office (MMPO) improves the co-ordination of major mine permitting across British Columbia. MMPO brings clear accountability to both industry and government to ensure timely and durable decisions are made with respect to permitting major mine projects around the province.</p>
            </section>
            <section id="eaProcess">
                <h3>Environmental Assessment (EA) Process</h3>
                <p>Proposed major mines and major expansions to existing mines in British Columbia typically require environmental assessment (EA) certificates. The Environmental Assessment Office (EAO) is a neutral agency that manages the assessment of proposed major projects in BC as required by the Environmental Assessment Act. BC has a rigourous EA process that carefully evaluates the potential environmental, economic, social, heritage and health impacts of proposed projects, as well as potential impacts to First Nations interests. Proposed mine projects in BC above production thresholds set out in the Reviewable Projects Regulation of the Environmental Assessment Act automatically trigger the provincial EA process. Project proponents can also “opt in” to the EA process, and the Minister of Environment has the power to designate a project as reviewable.</p>
                <p>For more information on the BC EA process, please visit http://www.eao.gov.bc.ca/ea_process.html or refer to the EAO User Guide.</p>
            </section>
            <section id="majorPermits">
                <h3>Major Permits</h3>
                <p>The Ministry of Energy and Mines (MEM) and the Ministry of Environment (ENV) have developed a document to outline the information that mining project proponents are required to submit in support of a joint application for a Mines Act permit and a waste discharge permit issued under the Environmental Management Act (EMA). This document is intended for both new and existing major mines, including proposed major expansions/extensions of mining projects. The combined technical information requirements are intended to reduce overlap in technical information required by both ministries and enable one application, or bundled applications, to be submitted for review. While this document is aimed at proponents, it may also serve as a resource to anyone interested in learning more about the kind of information required during the mine permitting process.</p>
                <ul>
                    <li><a href="#">Joint Application Information Requirements for Mines Act and EMA Permits</a></li>
                </ul>
                <h4>Mine Act Permits</h4>
                <p>Proposed major mines (e.g., metal and coal mines as well as some large aggregate and industrial minerals operations), major expansions/upgrades to existing mines, and some large-scale exploration/development projects require approval under the Mines Act as per part 10 of the Health, Safety and Reclamation Code for Mines in British Columbia (the Code).</p>
                <p>The Chief Inspector of Mines (or a delegated Inspector of Mines) is the statutory decision maker (SDM) for Mines Act permits. Applications for Mines Act permits, including applications for exploration programs, are typically referred by MEM to other agencies and First Nations to review and provide comments that inform the SDM when making a decision on whether to issue a permit.</p>
                <p>The Mines Act permitting process includes on-site activities, such as the management of water quality, waste and metal leaching and acid rock drainage (ML/ARD) at the mine, as well as geotechnical design and reclamation and closure planning.</p>
                <p>Depending on the complexity of the proposal, an application is reviewed by either the relevant regional Mine Development Review Committee or a project-specific Mine Review Committee before the SDM makes a decision.</p>
                <h4>Environmental Management Act (EMA) Permits</h4>
                <p>Because major mining operations discharge material to the environment, they require waste discharge authorizations under the Environmental Management Act (EMA). Waste discharge authorizations are required for the following:</p>
                <ul>
                    <li>Effluent discharges (e.g., tailings pond supernatant, mine-influenced run-off and sewage);</li>
                    <li>Air emissions (e.g., refuse incinerator emissions, emissions from large power-generating plants, emissions from milling processes, etc.); and</li>
                    <li>Solid wastes (e.g., mill tailings, water-treatment plant sludge, municipal and industrial refuse, etc.).</li>
                </ul>
                <p>A permit issued under EMA authorizes an ongoing/long term discharge of waste to the environment to ensure protection of human health and the environment. Some of the terms and conditions include limiting the quantity and quality of waste discharge contaminants, monitoring the discharge and the receiving environment, and reporting information to the Ministry of Environment (ENV).</p>
                <p>An approval issued under EMA is similar to an EMA permit, but it is issued for short-term discharges up to a maximum of 15 months duration. An approval may be amended, suspended, cancelled or transferred and will automatically expire at the end of its term. If a discharge is expected to go beyond the maximum 15-month discharge period, a permit is required.</p>
                <p>Authorizations for mining under EMA are issued by the Ministry of Environment’s Environmental Protection Division (EPD) Mining Authorizations team.</p>
                <ul>
                    <li><a href="#">More on EMA permits and approval processes</a></li>
                </ul>
            </section>
            <section id="otherAuths">
                <h3>Other Authorizations for Mining Projects in BC</h3>
                <h4>Tenure Authorizations</h4>
                <p>In British Columbia, sub-surface rights are different from surface rights, and, like proponents of other industrial activities, mining project proponents are required to apply for tenures. The Mineral Titles Branch of the Ministry of Energy and Mines administers the legislation governing the acquisition, exploration and development of mineral, placer mineral, and coal rights in the province. The branch maintains the coal and mineral titles registries under the Mineral Tenure Act and the Coal Act and associated regulations, and issues licences and leases.</p>
                <ul>
                    <li>Learn more about claims, licences and leases</li>
                    <li>Crown land tenure</li>
                </ul>
                <h4>Ministry of Forests, Lands and Natural Resource Operations (FLNRO) Authorizations</h4>
                <p>FLNRO is responsible for:</p>
                <ul>
                    <li>licensing or approving water use, and water storage facilities or diversion channels under the Water Sustainability Act and the BC Dam Safety Regulation;</li>
                    <li>issuing Wildlife Act authorizations;</li>
                    <li>administering the Heritage Conservation Act and associated authorizations;</li>
                    <li>reviewing/authorizing any cutting or spoiling of Crown trees under the Forest Act;</li>
                    <li>issuing Land Act tenure; and</li>
                    <li>authorizing access roads, utility corridors, and other improvements related to the mine operation on Crown land outside of mine areas under the Land Act or Forest Act.</li>
                </ul>
                <p>To learn more about authorizations issued by FLNRO, please visit the <a href="https://portal.nrs.gov.bc.ca/web/client/home" target="_blank">Natural Resource Sector Online Services portal.</a></p>
                <h4>Federal Government Authorizations</h4>
                <ul>
                    <li>Most major mines in British Columbia require Fisheries Act authorizations</li>
                    <li>The Canadian Environmental Assessment Agency (CEAA) conducts reviews of major projects across Canada, including major mine projects in British Columbia, under the Canadian Environmental Assessment Act, 2012. If a major mine project is deemed reviewable by CEAA, it requires federal environmental assessment (EA) approval.</li>
                    <li>Other federally managed statutes may also apply to major mine projects in British Columbia, and authorizations under these statutes may be required.</li>
                    <li>The Government of Canada’s Major Project Management Office (MPMO) manages major resource projects in the federal regulatory review process, including some major mine projects in BC.</li>
                </ul>
            </section>
        </main>
        <aside class="col-lg-4">
            <section>
                <h4>Related Documents</h4>
                <ul class="mmti-side-list">
                    <li><a href="http://www.eao.gov.bc.ca/pdf/EAO_User_Guide_20150629.pdf" target="_blank">Environmental Assessment Office User Guide (June 2015)</a></li>
                    <li><a href="http://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/mineral-exploration-mining/documents/permitting/minesact-ema_application_information_requirements_feb2016.pdf" target="_blank">Joint Application Information Requirements for Mines Act and Environmental Management Act Permits (February 2016)</a></li>
                </ul>
            </section>
            <section>
                <h4>External Links &amp; Resources</h4>
                <ul class="mmti-side-list">
                    <li><a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/permitting/major-mine-permitting-office" target="_blank">Major Mine Permitting Office (Ministry of Energy and Mines)</a></li>
                    <li><a href="http://www.eao.gov.bc.ca/ea_process.html" target="_blank">BC Environmental Assessment Process</a></li>
                    <li><a href="http://www2.gov.bc.ca/gov/content/environment/waste-management/waste-discharge-authorization" target="_blank">Waste Discharge Authorizations (Ministry of Environment)</a></li>
                    <li><a href="http://www2.gov.bc.ca/gov/content/environment/waste-management/industrial-waste/mining-smelting" target="_blank">Mining & Smelting (Ministry of Environment)</a></li>
                    <li><a href="https://portal.nrs.gov.bc.ca/web/client/home" target="_blank">Natural Resource Sector Online Services Portal </a></li>
                </ul>
            </section>
        </aside>
    </div>
</div>