<div class="modal-header">
	<h3 class="modal-path">Feature Detail ({{d.dmode}})</h3>
</div>

<div class="modal-body">

	<div class="block-content">
		<div class="panel-body">
		<div class="row">
			<div class="col-sm-9">
				<div class="form-group">
					<label for="title" class="control-label">Feature Name</label>
					<input id="title" type="text" class="form-control input-sm" ng-model="d.feature.name">
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="path" class="control-label">Path</label>
					<input id="path" type="text" class="form-control input-sm" ng-model="d.feature.path">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="shortDesc" class="control-label">Feature Description</label>
					<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="d.feature.description" rows=6></textarea>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="roles" class="control-label">{{d.rolename}} (that can perform this action)</label>
					<select multiple ng-multiple="true" id="roles"
					ng-model='d.feature.submit' class="form-control input-sm"
					ng-options="c for c in d.roles"
					>
					<!-- <option ng-repeat="code in d.roles" value="{{code}}">{{code}}</option> -->
					</select>
				</div>
			</div>
		</div>



		</div>
	</div>

</div> <!-- /modalbody -->

<div class="modal-footer">
	<a class="btn btn-default" href ng-click="d.cancel()">Cancel</a>
	<a class="btn btn-default" href ng-click="d.ok()">OK</a>
</div>

