/* THEME */

@import url('https://fonts.googleapis.com/css?family=Arimo|Open+Sans');


$app-bg: #FFF;
$app-color: #494949;
$app-color-secondary: #999;
$app-font-family: 'Arimo', sans-serif;

$header-height: 4.375rem; /*70px based on 16px @ 1rem */
$header-color: #FFF;
$header-bg: #003366;
$header-brand-img: url("/lib/prototype/images/bc_logo_transparent.png");
$header-border-color: #fcba19;
$header-shadow: 0 0 0.5rem rgba(0,0,0,0.5);

$footer-color: #FFF;
$footer-bg: #003366;

$app-main-bg: #EEE;

$aside-card-bg: #F8F9Fa;
$aside-card-title-bg: #2b5580;
$aside-card-title-color: #FFF;
$aside-card-title-font-size: 0.875rem;

$title-bar-bg: #2b5580;
$title-bar-color: #FFF;


$table-header-bg: #FFF;
$table-striped-row-bg: #F7F8FA;