
.app-container {
    @include flexbox();
    @include flexflow(column nowrap);
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.app-header {
    @include flex(0 0 auto);
}

.app-main {
    @include flex(1 1 auto);
    flex-direction: column;
    position: relative;
    width: 100%;

    .left-panel {
        position: absolute;
        z-index: 5;
        width: 100%;
        height: 100%;
        overflow: hidden;
        visibility: hidden;

        .sidenav {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 22rem;
            overflow-y: auto;
            box-shadow: 0 0 1rem #999;
            background: #FFF;
            transform: translateX(-22rem);
            transition: all 0.3s ease-out 0.1s;
        }

        .sidenav-overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: transparent;
        }

        &.open {
            visibility: visible;

            .sidenav {
                transform: translateX(0);
            }
        }
    }

    .main-panel {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        overflow-y: auto;
    }
}

.mobile-nav-btn {
    margin-top: -0.2rem;
    margin-right: 0.75rem;
    margin-left: -0.75rem;
}

@media (min-width: 1020px) {
    .mobile-nav-btn {
        display: none;
    }

    .app-main {
        @include flexbox();
        flex-direction: row;

        .main-panel,
        .left-panel {
            position: absolute;
            top: 0;
            bottom: 0;
        }

        .main-panel {
            right: 0;
        }

        .left-panel {
            left: 0;
            width: 22rem;
            border-right: 1px solid #eee;
            visibility: visible;

            .sidenav {
                position: absolute;
                transform: translateX(0);
            }

            .sidenav-overlay {
                display: none;
            }

            + .main-panel {
                left: 22rem;
            }
        }
    }
}