
$spinner-width: 50px;
$spinner-color: #5091cd;
$spinner-bg: rgba(255,255,255,0.8);
$spinner-invert-color: #FFF;
$spinner-invert-bg: rgba(0,0,0,0.8);

.spinner {
  	width: $spinner-width;
	opacity: 1;
  	
	  &:before {
    	content: '';
    	display: block;
    	padding-top: 100%;
  	}
}

.spin-path {
  	stroke-dasharray: 1, 200;
  	stroke-dashoffset: 0;
  	animation: dash 1.5s ease-in-out infinite, spin 6s ease-in-out infinite;
  	stroke-linecap: round;
}

/* ANIMATIONS */
@keyframes rotate {
  	100% {
    	transform: rotate(360deg);
  	}
}

@keyframes dash {
  	0% {
    	stroke-dasharray: 1, 200;
    	stroke-dashoffset: 0;
  	}
  	50% {
    	stroke-dasharray: 89, 200;
    	stroke-dashoffset: -35px;
  	}
  	100% {
    	stroke-dasharray: 89, 200;
    	stroke-dashoffset: -124px;
  	}
}

@keyframes spin {
	100%,
	0% {
		stroke: $spinner-color;
	}
	40% {
		stroke: $spinner-color;
	}
	66% {
		stroke: $spinner-color;
	}
	80%,
	90% {
		stroke: $spinner-color;
	}
}

@keyframes spin-inverted {
	100%,
	0% {
		stroke: $spinner-invert-color;
	}
	40% {
		stroke: $spinner-invert-color;
	}
	66% {
		stroke: $spinner-invert-color;
	}
	80%,
	90% {
		stroke: $spinner-invert-color;
	}
}

.circular {
  	animation: rotate 2s linear infinite;
  	height: 100%;
  	transform-origin: center center;
  	width: 100%;
 	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	margin: auto;
}

.spinner-container {
	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	padding: 5%;
	background: $spinner-bg;
	z-index: 2;

	&.inverted {
		background: $spinner-invert-bg;

		.spin-path {
			animation: dash 1.5s ease-in-out infinite, spin-inverted 6s ease-in-out infinite;
		}
	}

    &.fixed {
        position: fixed;
        z-index: 1000;
    }

	.spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: calc(-#{$spinner-width} / 1.5);
		margin-left: calc(-#{$spinner-width} / 2);
	}
}