
.pcp-tab-content {
    .btn-sm {
        padding: 0.65rem 1rem;
    }

    .nav-pills {
        > li {
            > a {
                padding: 0.8rem 1.2rem;
                font-size: 1.2rem;
                font-weight: bold;
                background: #DDD;
                color: #777;

                &:hover {
                    background-color: #1a5a96;
                    color: #FFF;
                }
            }

            &.active {
                > a {
                    color: #FFF;
                    background-color: #1a5a96;

                    &:focus {
                        background-color: #1a5a96;  
                    }
                }
            }
        }
    }
}