<section class="row">
  <div class='col-sm-10'>

    <h1 class="page-title">
      Admin
    </h1>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>

      <div class="panel-body">

        <div class="form-group">
          <label for="searchUsers" class="control-label">Search Users</label>
          <input id="searchUsers" class="form-control" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
        </div>

          <table class="table table-condensed table-hover">
            <thead>
            <tr>
              <th>Username</th>
              <th>Roles</th>
              <th>Email</th>
            </tr>
            </thead>
            <tr ng-repeat="user in pagedItems" ui-sref="admin.user({userId: user._id})">
              <td ng-bind="user.username"></td>
              <td ng-bind="user.roles"></td>
              <td ng-bind="user.email"></td>
            </tr>
          </table>

        <div class="text-right">
          <pagination class="pagination-sm" boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>        </div>

        </div>
      </div>
    </div>
  </div>
  <div class='col-sm-2'>
    <tmpl-system-menu x-menu-context="'settings'"></tmpl-system-menu>
  </div>
</section>
