<div class="view-title-container">
	<h1>Contacts</h1>
	<!-- <tmpl-permissions-gear class="permission-btn" x-context="menu.project" x-object="menu.project" x-permissions=""></tmpl-permissions-gear> -->
</div>

<div class="view-body-container">
	<div class="button-bar">
		<a ng-if="application.userCan.createContact" class="btn btn-default btn-sm" ui-sref="admin.user.create()">
			<span class="glyphicon glyphicon-plus"></span><span>Add New Contact</span>
		</a>
	</div>
	<div class="table-container">
		<table class="table table-hover" ng-table="tableParams" x-show-filter="true">
			<tr ng-repeat="o in $data" ui-sref="admin.user.detail({userId:o._id})">
				<td data-title="'Last Name'"
					filter="{'lastName':'text'}"
					filter-data="ptypes"
					sortable="'lastName'">{{o.lastName}}</td>
				<td data-title="'First Name'"
					filter="{'firstName':'text'}"
					filter-data="ptypes"
					sortable="'firstName'">{{o.firstName}}</td>
				<td data-title="'Username'"
					filter="{'username':'text'}"
					filter-data="ptypes"
					sortable="'username'">{{o.username}}</td>
				<td data-title="'Organization'"
					filter="{'orgName':'text'}"
					sortable="'orgName'">{{o.org.name}}</td>
				<td data-title="'Phone'"
					filter="{'phoneNumber':'text'}"
					sortable="'phoneNumber'">{{o.phoneNumber}}</td>
				<td data-title="'Email'"
					filter="{'email':'text'}"
					sortable="'email'">{{o.email}}</td>
				<td class="actions-col" header-class="'actions-col x1'">
					<div class="btns">
						<a class="btn icon-btn" title="Edit Contact" ng-if="application.userCan.createContact"
							ng-click="$event.stopPropagation()"
							ui-sref="admin.user.edit({userId:o._id})">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</div>
				</td>
			</tr>
			<tr ng-if="!$data || $data.length === 0">
				<td colspan="6">No records found</td>
			</tr>
		</table>
	</div>
</div>
