
<form class="view-form" name="userForm" ng-submit="save(userForm.$valid)" novalidate>

	<div class="view-title-container flex-row">
		<h1>Add/Edit User<span ng-show="user.username"> &nbsp;&rsaquo;&nbsp; {{user.username}}</span></h1>
		<div class="actions">
			<button class="btn btn-default btn-sm" ui-sref="admin.user.list" type="button">Cancel</button>
			<button class="btn btn-primary btn-sm" type="submit">Save</button>
		</div>
	</div>
	<div class="view-body-container">
		<!-- USER PROFILE -->
		<fieldset>
			<legend>User Profile</legend>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="form-group">
						<label for="salutation" class="control-label">Salutation<em>(Optional)</em></label>
						<select id="salutation" class="form-control" ng-model="user.salutation" ng-options="sal as sal for sal in salutations"></select>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="form-group" x-show-errors>
						<label for="firstName" class="control-label">First Name</label>
						<input class="form-control" id="firstName" name="firstName" ng-change="calculateName()" type="text" ng-model="user.firstName" required>
						<div ng-messages="userForm.firstName.$error" role="alert">
							<p class="help-block error-text" ng-message="required">First name is required.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="form-group">
						<label class="control-label" for="middleName">Middle Name<em>(Optional)</em></label>
						<input class="form-control" id="middleName" ng-change="calculateName()" type="text" ng-model="user.middleName">

					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="form-group" x-show-errors>
						<label for="lastName" class="control-label">Last Name</label>
						<input class="form-control" id="lastName" name="lastName" ng-change="calculateName()" type="text" ng-model="user.lastName" required>
						<div ng-messages="userForm.lastName.$error" role="alert">
							<p class="help-block error-text" ng-message="required">Last name is required.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="form-group" x-show-errors>
						<label for="username" class="control-label">Username</label>
						<input class="form-control" id="username" name="username" type="text" ng-model="user.username" required>
						<div ng-messages="userForm.username.$error" role="alert">
							<p class="help-block error-text" ng-message="required">User name is required.</p>
						</div>
					</div>
				</div>
			</div>
		</fieldset><!-- / USER PROFILE -->

		<div class="row">
			<div class="col-sm-6 col-md-3 hidden">
				<div class="form-group">
					<label class="control-label" for="displayName">Displayed Name</label>
					<input class="form-control" id="displayName" disabled=true type="text" ng-model="user.displayName">
				</div>
			</div>
		</div>

		<!-- CONTACT INFO -->
		<fieldset>
			<legend>Contact Details</legend>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="form-group" x-show-errors>
						<label class="control-label" for="email">Email</label>
						<input class="form-control" placeholder="myname@example.com" id="email" name="email" type="text" ng-model="user.email" required>
						<div ng-messages="userForm.email.$error" role="alert">
							<p class="help-block error-text" ng-message="required">Email is required.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="form-group">
						<label for="phoneNumber" class="control-label">Phone</label>
						<input class="form-control" placeholder="eg: 123-456-7890" id="phoneNumber" type="text" ng-model="user.phoneNumber">
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="form-group">
						<label for="cellPhoneNumber" class="control-label">Mobile</label>
						<input class="form-control" placeholder="eg: 123-456-7890"  id="cellPhoneNumber" type="text" ng-model="user.cellPhoneNumber">
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="form-group">
						<label for="faxNumber" class="control-label">Fax</label>
						<input class="form-control" placeholder="eg: 123-456-7890" id="faxNumber" type="text" ng-model="user.faxNumber">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group" x-show-errors>
						<label for="address1" class="control-label">Street Address 1</label>
						<input class="form-control" id="address1" type="text" ng-model="user.address1">
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group">
						<label for="address1" class="control-label">Street Address 2</label>
						<input class="form-control" id="address2" type="text" ng-model="user.address2">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="form-group"x-show-errors>
						<label for="city" class="control-label">City</label>
						<input class="form-control" id="city" type="text" ng-model="user.city">
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="form-group" x-show-errors>
						<label for="province" class="control-label">Province</label>
						<input class="form-control" id="province" type="text" ng-model="user.province">
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="form-group" x-show-errors>
						<label for="country" class="control-label">Country</label>
						<input class="form-control" id="country" type="text" ng-model="user.country">
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="form-group" x-show-errors>
						<label for="postalCode" class="control-label">Postal Code</label>
						<input class="form-control" id="postalCode" type="text" ng-model="user.postalCode">
					</div>
				</div>
			</div>
		</fieldset>	<!-- / CONTACT INFO -->

    <fieldset>
      <legend>Contact Preferences</legend>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label class="control-label" for="viaEmail">By Email</label>
            <input type="checkbox" ng-model="user.viaEmail" id="viaEmail" />
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="form-group">
            <label class="control-label" for="viaMail">By Mail</label>
            <input type="checkbox" ng-model="user.viaMail" id="viaMail" />
          </div>
        </div>

      </div>
    </fieldset>	<!-- / CONTACT Preferences -->

		<!-- ORGANIZATIONAL INFO -->
		<fieldset>
			<legend>Organization</legend>
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<div class="form-group">
						<label for="orgName" class="control-label">Organization</label>
						<select id="orgName" class="form-control"
								ng-model="user.org"
								ng-sort="name"
								ng-options="org as org.name for org in orgs track by org._id"></select>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="form-group">
						<label for="department" class="control-label">Department<em>(Optional)</em></label>
						<input class="form-control" id="department" type="text" ng-model="user.department">
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="form-group">
						<label for="title" class="control-label">Title<em>(Optional)</em></label>
						<input class="form-control" id="title" type="text" ng-model="user.title">
					</div>
				</div>
			</div>
		</fieldset><!-- / ORGANIZATIONAL INFO -->

		<!-- ADDITIONAL INFO -->
		<fieldset>
			<legend>Additional</legend>
			<div class="row">
				<div class="col-sm-12">
					<div class="form-group">
						<label for="notes" class="control-label">Notes<em>(Optional)</em></label>
						<textarea class="form-control" id="notes" rows="2" ng-model="user.notes"></textarea>
					</div>
				</div>
			</div>
		</fieldset>
	</div>
</form>
