<div class="panel panel-default">
	<div class="panel-heading">
		Start Process: {{ taskSetPhase.task.name }} <em class="small pull-right">{{ taskSetPhase.task.status }}</em>
	</div>
	<div class="panel-body">
		<div class="pull-right">
			<select class="form-control" ng-model="taskSetPhase.project.currentPhase" ng-options="phase as phase.name for phase in taskSetPhase.project.phases track by phase.name"></select>
		</div>
		<p>{{ taskSetPhase.task.description }}</p>
	</div>
	<div class="panel-footer text-right">
		<a class="btn btn-default" href ng-click="taskSetPhase.saveTask()">Save</a>
	</div>	
</div>
