<section>
<hr>
<h3>Select Buckets</h3>
<a href x-modal-select-items x-unique="1" x-all-items="configStream.data.buckets" x-single='false' x-selected-items="configStream.tree.buckets" x-item-name="Buckets" x-callback="configStream.addBuckets">
    <span ng-if="configStream.activeRecord.buckets.length === 0 || !configStream.activeRecord.buckets">Click here to select</span>
    <span ng-repeat="bucket in configStream.activeRecord.buckets track by $index"><span ng-if="!$first">,&nbsp;</span>{{ bucket.name }}</span>
</a>
</section>

<section>
<hr>
<h3>Select Phases</h3>
<a href x-modal-select-items x-unique="1" x-all-items="configStream.data.phases" x-single='false' x-selected-items="configStream.tree.phases" x-item-name="Phases" x-callback="configStream.addPhases">
    <span ng-if="configStream.activeRecord.phases.length === 0 || !configStream.activeRecord.phases">Click here to select</span>
    <span ng-repeat="phase in configStream.activeRecord.phases track by $index"><span ng-if="!$first">,&nbsp;</span>{{ phase.name }}</span>
</a>
</section>

<section ng-show="configStream.activeRecord.phases.length > 0">
<hr>
<h3>Add Milestones to Phases</h3>
    <div ng-repeat="phase in configStream.activeRecord.phases track by $index"">
        <em class="small text-success">phase:</em> <a href x-modal-select-items x-all-items="configStream.data.milestones" x-single='false' x-selected-items="configStream.tree.milestonesByPhase[phase._id]" x-item-name="Milestones for {{ phase.name }}" x-callback="configStream.milestonesToPhase">{{ phase.name }}</a>
        <ul>
            <li ng-show="configStream.tree.milestonesByPhase[phase._id].length === 0">No milestones selected</a></li>
            <li ng-repeat="milestone in configStream.tree.milestonesByPhase[phase._id] track by $index"><em class="small text-success">milestone:</em>&nbsp;{{ milestone.name }}</li>
        </ul>
    </div>
</section>


<section ng-show="configStream.activeRecord.phases.length > 0">
<hr>
<h3>Add Activities to Phases / Add Tasks to Activities / Add Requirements to Tasks</h3>
    <div ng-repeat="phase in configStream.activeRecord.phases track by $index"">
        <em class="small text-success">phase:</em> <a href x-modal-select-items x-all-items="configStream.data.activities" x-single='false' x-selected-items="configStream.tree.activitiesByPhase[phase._id]" x-item-name="Activities for {{ phase.name }}" x-callback="configStream.activitiesToPhase">{{ phase.name }}</a>
        <ul>
            <li ng-show="configStream.tree.activitiesByPhase[phase._id].length === 0">No activities selected</a></li>
            <li ng-repeat="activity in configStream.tree.activitiesByPhase[phase._id] track by $index"> <em class="small text-success">activity:</em>


                <a href x-modal-select-items x-all-items="configStream.data.tasks" x-single='false' x-selected-items="configStream.tree.tasksByActivity[activity._id]" x-item-name="Tasks for {{ activity.name }}" x-callback="configStream.tasksToActivity">{{ activity.name }}</a>
                <ul>
                    <li ng-show="configStream.tree.tasksByActivity[activity._id].length === 0">No tasks selected</a></li>
                    <li ng-repeat="task in configStream.tree.tasksByActivity[activity._id] track by $index"><em class="small text-success">task:</em>


                        <a href x-modal-select-items x-all-items="configStream.data.requirements" x-single='false' x-selected-items="configStream.tree.requirementsByTask[task._id]" x-item-name="Requirements for {{ task.name }}" x-callback="configStream.requirementsToTask">{{ task.name }}</a>
                        <ul>
                            <li ng-show="configStream.tree.requirementsByTask[task._id].length === 0">No requirements selected</a></li>
                            <li ng-repeat="requirement in configStream.tree.requirementsByTask[task._id] track by $index"><em class="small text-success">requirement:</em>&nbsp;{{ requirement.name }}</li>
                        </ul>

                    </li>
                </ul>

            </li>
        </ul>
    </div>
</section>

<section ng-show="configStream.activeRecord.buckets.length > 0">
<hr>
<h3>Add Requirements to Buckets</h3>
    <div ng-repeat="bucket in configStream.activeRecord.buckets track by $index"">
        <em class="small text-success">bucket:</em>

        <a href x-modal-select-items x-all-items="configStream.data.requirements" x-single='false' x-selected-items="configStream.tree.requirementsByBucket[bucket._id]" x-item-name="Requirements for {{ bucket.name }}" x-callback="configStream.requirementsToBucket">{{ bucket.name }}</a>
        <ul>
            <li ng-show="configStream.tree.requirementsByBucket[bucket._id].length === 0">No requirements selected</a></li>
            <li ng-repeat="requirement in configStream.tree.requirementsByBucket[bucket._id] track by $index"><em class="small text-success">requirement:</em>&nbsp;{{ requirement.name }}</li>
        </ul>

    </div>
</section>


<section ng-show="configStream.activeRecord.milestones.length > 0">
<hr>
<h3>Add Requirements to Milestones</h3>
    <div ng-repeat="milestone in configStream.activeRecord.milestones track by $index"">
        <em class="small text-success">milestone:</em>

        <a href x-modal-select-items x-all-items="configStream.data.requirements" x-single='false' x-selected-items="configStream.tree.requirementsByMilestone[milestone._id]" x-item-name="Requirements for {{ milestone.name }}" x-callback="configStream.requirementsToMilestone">{{ milestone.name }}</a>
        <ul>
            <li ng-show="configStream.tree.requirementsByMilestone[milestone._id].length === 0">No requirements selected</a></li>
            <li ng-repeat="requirement in configStream.tree.requirementsByMilestone[milestone._id] track by $index"><em class="small text-success">requirement:</em>&nbsp;{{ requirement.name }}</li>
        </ul>

    </div>
</section>



