<section>
    <hr>
    <div class="row">
        <div class="col-sm-7">
            <table class="table table-condensed table-striped table-hover">
                <thead class="small">
                <th width="15%">Code</th>
                <th width="20%">Name</th>
                <th width="30%">Description</th>
                <th width="25%">Process Code</th> 
                <th class="text-center">Order</th>              
                </thead>
                <tbody>
                <tr ng-repeat="activity in configDataElement.data.activities | orderBy:'order'" ng-click='configDataElement.editRecord(activity)' class="clickable">
                    <td>{{ activity.code }}</td>
                    <td>{{ activity.name }}</td>
                    <td>{{ activity.description }}</td>
                    <td>{{ activity.processCode }}</td>
                    <td class="text-center">{{ activity.order }}</td>
                </tr>
                <tr ng-if="configDataElement.data.activities.length === 0">
                    <td colspan="5">No activities defined.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-5">
            <div class="well">
                <h4 ng-if="configDataElement.msg">{{configDataElement.msg}}</h4>

                <div ng-show="!configDataElement.activeRecord">Select an item in the table or <a href ng-click="configDataElement.newRecord()">click here</a> to create a new one.</div>

                <div ng-show="configDataElement.activeRecord">

                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input class="form-control" type="text" ng-model="configDataElement.activeRecord.name" x-kebab-this x-source="configDataElement.activeRecord.name" x-destination="configDataElement.activeRecord.code">
                    </div>


                    <div class="form-group">
                        <label class="control-label">Code</label>
                        <input class="form-control" type="text" ng-model="configDataElement.activeRecord.code">
                    </div>


                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea class="form-control" ng-model="configDataElement.activeRecord.description">{{ configDataElement.activeRecord.description }}</textarea>
                    </div>


                    <div class="form-group">
                        <label class="control-label">Process Code</label>
                        <select class="form-control" ng-model="configDataElement.activeRecord.processCode" ng-options="(item | kebab) as item for item in configDataElement.processCodes">
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Order</label>
                        <input class="form-control" type="number" ng-model="configDataElement.activeRecord.order">
                    </div>


                    <div class="form-group">
                        <a href
                            class="control-label pull-right"
                            x-modal-select-items
                            x-all-items="configDataElement.data.tasks"
                            x-single="false"
                            x-parent-object="configDataElement.activeRecord"
                            x-selected-items="configDataElement.activeRecord.tasks"
                            x-item-name="Tasks for {{ configDataElement.activeRecord.name }}"
                            x-callback="">Edit</a>
                        <label class="control-label">Tasks for this Activity</label>


                        <ul class="list-unstyled well well-sm">
                            <li ng-show="configDataElement.activeRecord.tasks.length === 0">No Tasks selected</li>
                            <li ng-repeat="task in configDataElement.activeRecord.tasks | orderBy:'order' track by $index"><em class="small text-success">task:</em>&nbsp;{{ task.name }}</li>
                        </ul>


                    </div>

                    <div class="form-group">
                        <a href modal-permission-matrix x-target-object="configDataElement.activeRecord">Permissions</a>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-6">
                            <button class="btn btn-primary" ng-click="configDataElement.saveRecord()">Save</button>
                            <button class="btn btn-default" ng-click="configDataElement.cancelRecord()">Cancel</button>
                        </div>
                        <div class="form-group col-sm-6 text-right" ng-show="!configDataElement.activeRecordNew">
                            <button class="btn btn-danger" ng-click="configDataElement.deleteRecord()">Delete</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
