<section>
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-condensed table-striped table-hover">
                <thead class="small">
                    <th width="20%">Code</th>
                    <th width="20%">Name</th>
                    <th width="20%">Description</th>
                    <th width="20%">Default Status</th>                
                    <th width="10%">Mandatory Duration (days)</th>
                    <th width="10%" class="text-center">Order</th>
                </thead>
                <tbody>
                <tr ng-repeat="phase in configDataElement.data.phases | orderBy:'order'" ng-click='configDataElement.editRecord(phase)' class="clickable">
                    <td>{{ phase.code }}</td>
                    <td>{{ phase.name }}</td>
                    <td>{{ phase.description }}</td>
                    <td>{{ phase.status }}</td>
                    <td>{{ phase.duration }}</td>
                    <td class="text-center">{{ phase.order }}</td>
                </tr>
                <tr ng-if="configDataElement.data.phases.length === 0">
                    <td colspan="6">No phases defined.</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <h4 ng-if="configDataElement.msg">{{configDataElement.msg}}</h4>

                <div ng-show="!configDataElement.activeRecord">Select an item in the table or <a href ng-click="configDataElement.newRecord()">click here</a> to create a new one.</div>

                <div ng-show="configDataElement.activeRecord">

                    <form name="phasesForm" ng-submit="configDataElement.saveRecord(phasesForm.$valid)" novalidate>

                        <div class="form-group" x-show-errors>
                            <label class="control-label">Name</label>
                            <input name="name" class="form-control" type="text" ng-model="configDataElement.activeRecord.name" x-kebab-this x-source="configDataElement.activeRecord.name" x-destination="configDataElement.activeRecord.code" required>
                                <div ng-messages="phasesForm.name.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Name is required.</p>
                                </div>
                        </div>


                        <div class="form-group" x-show-errors>
                            <label class="control-label">Code</label>
                            <input name="code" class="form-control" type="text" ng-model="configDataElement.activeRecord.code" required>
                                <div ng-messages="phasesForm.code.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Code is required.</p>
                                </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label">Description</label>
                            <textarea class="form-control" ng-model="configDataElement.activeRecord.description"></textarea>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Default Status</label>
                            <input class="form-control" type="text" ng-model="configDataElement.activeRecord.status">
                        </div>

                        <div class="form-group" x-show-errors>
                            <label class="control-label">Mandatory Duration (days)</label>
                            <input name="duration" class="form-control" type="number" ng-model="configDataElement.activeRecord.duration" required>
                                <div ng-messages="phasesForm.duration.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Mandatory Duration is required.</p>
                                </div>
                        </div>

                        <div class="form-group" x-show-errors>
                            <label class="control-label">Order</label>
                            <input name="order" class="form-control" type="number" ng-model="configDataElement.activeRecord.order" required>
                                <div ng-messages="phasesForm.order.$error" role="alert">
                                    <p class="help-block error-text" ng-message="required">Order is required.</p>
                                </div>
                        </div>

                        <div class="form-group">
                            <a href
                                class="control-label pull-right"
                                x-modal-select-items
                                x-all-items="configDataElement.data.milestones"
                                x-single="false"
                                x-parent-object="configDataElement.activeRecord"
                                x-selected-items="configDataElement.activeRecord.milestones"
                                x-item-name="Milestones for {{ configDataElement.activeRecord.name }}"
                                x-callback="">Edit</a>
                            <label class="control-label">Milestones for this Phase</label>


                            <ul class="list-unstyled well well-sm">
                                <li ng-show="configDataElement.activeRecord.milestones.length === 0">No Milestones selected</li>
                                <li ng-repeat="milestone in configDataElement.activeRecord.milestones | orderBy:'order' track by $index"><em class="small text-success">milestone:</em>&nbsp;{{ milestone.name }}</li>
                            </ul>

                        </div>

                        <div class="form-group">
                            <a href modal-permission-matrix x-target-object="configDataElement.activeRecord">Permissions</a>
                        </div>

                        <hr>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <button class="btn btn-danger" ng-click="configDataElement.deleteRecord()" ng-show="!configDataElement.activeRecordNew">Delete</button>
                            </div>
                            <div class="form-group col-sm-6 text-right">
                                <button class="btn btn-default" ng-click="configDataElement.cancelRecord()">Cancel</button>
                                <button class="btn btn-default" type="submit">Save</button>                           
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>

    </div>
</section>
