<div class="hero-banner landing-pg-banner">
	<div class="container">
		<div class="container-inner">
			<div ng-if="!seenOnce" class="welcome-alert alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h2>BC Mine Information</h2>
				<p>Welcome to the new BC Mine Information website. This site builds upon and will eventually replace www.mines.empr.gov.bc.ca.
<br><br>
This new website is being launched as a “beta”—a fully functional starting point upon which to build continuous improvements. As such, we’re seeking your feedback on how to make it better. Going forward, additional information will be added on an ongoing basis, and the design will be refined based on user feedback.</p>
				<div class="clearfix">
					<button class="btn btn-success pull-right" data-dismiss="alert" aria-label="Close">Close</button>
				</div>
			</div>
			<div class="hb-txt">
				<h1>British Columbia <span>Mine Information</span><span class="badge" id="alpha" title="What is this?">BETA</span></h1>
				<p>Mining is one of British Columbia’s oldest and most dynamic industries. The Province of British Columbia is committed to continuing to provide effective oversight of this important sector.</p>
				<div class="hb-btns">
					<strong>Find Mines in British Columbia...</strong>
					<a class="btn slide-l-btn hero-btn inverted" ui-sref="projects"><i class="material-icons">list</i><span>View List</span></a>
					<span>or</span>
					<a class="btn slide-l-btn hero-btn inverted" ui-sref="maps" x-project="projects"><i class="material-icons">map</i><span>View Map</span></a>
				</div>
			</div>
		</div>
	</div>
</div>

<main id="anchor-point">
	<div class="bg-default">
		<div class="site-intro container">
			<div class="row">
				<div class="col-lg-8">
					<section class="about-info mb-0">
						<h2>About BC Mine Information</h2>
						<p>The Ministry of Energy and Mines (MEM), the Ministry of Environment (ENV) and the Environmental Assessment Office (EAO) have collaborated to make information on the Province’s oversight of major mines in British Columbia more accessible than ever before.</p>
						<p>This is the first time mine-related information from all three agencies has been made available online in one place, and more information will be added on an ongoing basis.</p>
						<p>This site currently profiles 15 major mines across the province (7 operating metal mines, 6 operating coal mines, and 2 under construction metal mines). Other permitted major mines in BC will be added in the coming months.</p>
						<p class="mb-0">If you want to learn more about a major mine not yet included on this website, please visit <a href="https://mines.empr.gov.bc.ca" target="_blank">mines.empr.gov.bc.ca</a>.</p>
					</section>
				</div>
				<div class="col-lg-4">
					<section class="fast-facts">
						<h4>Fast Facts about the Mining Industry in British Columbia</h4>
						<ul class="row mb-0">
							<li class="col-xs-12 col-sm-6 col-lg-12">
								<div>
									<span class="metric">$5.9<sup>B</sup></span>
									<span class="metric-desc">2015 Production Value of Mining [Natural Resources Canada Preliminary Estimate]</span>
								</div>
							</li>
							<li class="col-xs-12 col-sm-6 col-lg-12">
								<div>
									<span class="metric">$205<sup>M</sup></span>
									<span class="metric-desc">2016 Industry Mineral Exploration Spending [British Columbia Geological Survey]</span>
								</div>
							</li>
							<li class="col-xs-12 col-sm-6 col-lg-12">
								<div>
									<span class="metric">14</span>
									<span class="metric-desc">Number of Operating Metal &amp; Coal Mines in British Columbia</span>
								</div>
							</li>
							<li class=" col-xs-12 col-sm-6 col-lg-12">
								<div>
									<span class="metric">6</span>
									<span class="metric-desc">Number of environmental assessment applications for mining projects under review</span>
								</div>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
	<div class="fb-container bg-faded">
		<section class="container">
			<h2>Mining in British Columbia</h2>
			<div class="row feature-blocks">
				<div class="col-md-4">
					<div class="feature-block">
						<h3>The Mining Lifecycle</h3>
						<p>It can take decades to develop a deposit into a mine, which in turn can operate for decades</p>
						<a class="btn inverted" ui-sref="mining-lifecycle">Learn More</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-block">
						<h3>Topics of Interest</h3>
						<p>Profiling key topics of interest regarding mining activities in British Columbia</p>
						<a class="btn inverted" ui-sref="topics">Learn More</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-block">
						<h3>Find Mines in B.C.</h3>
						<p>The BC Mine Information website currently profiles 15 major mines</p>
						<a class="btn inverted" ui-sref="projects">View List</a>
						<span>&nbsp;</span>
						<a class="btn inverted" ui-sref="maps">View Map</a>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="fb-container" id="bottom">
		<section class="container mt-0">
			<h2>Our Processes &amp; Procedures</h2>
			<div class="row">
				<div class="col-md-4">
					<div class="feature-block">
						<h3>Legislation</h3>
						<p>Learn about the key statutes and regulations that apply to mining activities in the province of British Columbia.</p>
						<a class="btn inverted" ui-sref="legislation">Learn More</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-block">
						<h3>Authorizations</h3>
						<p>Environmental assessment certificates and permits issued under the Mines Act and Environmental Management Act</p>
						<a class="btn inverted" ui-sref="authorizations">Learn More</a>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature-block">
						<h3>Compliance Oversight</h3>
						<p>Several provincial agencies work together to provide integrated oversight of British Columbia’s mining sector</p>
						<a class="btn inverted" ui-sref="compliance-oversight">Learn More</a>
					</div>
				</div>
			</div>
		</section>
	</div>

</main>
