<div class="panel panel-default">
	<div class="panel-heading">
		{{ taskCnc.item.title }} {{ taskCnc.item.value}}
	</div>

	<div class="panel-body" ng-if="taskCnc.item.value === 'Not Started'">

		<div class="row" >
			<div class="col-sm-10">
				<label>Confirmation Needed.</label>
			</div>
		</div>

	</div>

	<div class="panel-body" ng-if="taskCnc.item.value === 'In Progress'">

		<div class="row">
			<div class="col-sm-10">
				Click complete to confirm.
			</div>
			<div class="col-sm-2">
				<button class="btn btn-success btn-block" ng-click="taskCnc.completeTask();">Complete</button>
			</div>	
		</div>

	</div>

	<div class="panel-body" ng-if="taskCnc.item.value === 'Complete'">

		<div class="row">
			<div class="col-sm-12">
				Task Completed on DATE TIME, by USER 
			</div>
		</div>

	</div>


</div>

