<div class="view-title-container flex-row">
    <h1><span ng-show="project.name"><span ng-if="mode == 'create'">Add</span><span ng-if="mode == 'edit'">Edit</span> Comment Period</h1>
    <div class="actions">
        <a class="btn btn-default btn-sm" ui-sref="p.commentperiod.list" ng-disabled="busy">Cancel</a>
        <a class="btn btn-primary btn-sm" href ng-click="save()" ng-disabled="busy">Save</a>
    </div>
</div>

<div class="view-body-container">
    <div class="spinner-container" ng-show="busy">
        <div class="spinner-new rotating"></div>
    </div>

    <div ng-show="hasErrors" class="alert alert-danger flex-row">
        <div class="alert-icon"><span class="glyphicon glyphicon-exclamation-sign"></span></div>
        <div class="alert-msg">
            <span class="alert-msg-title">Roles &amp; Permissions are not complete.</span>
            <span class="alert-msg-details">There must be at least one (1) role assigned to each permission.</span>
        </div>
    </div>

    <!-- TABS -->
    <ul class="nav nav-tabs" ng-init="form.curTab = 'pcpRelatedDocs'">
        <li role="presentation" ng-class="{'active':form.curTab === 'pcpRelatedDocs'}">
            <a href ng-click="form.curTab = 'pcpRelatedDocs'">Related Documents</a>
        </li>
        <li role="presentation" ng-class="{'active':form.curTab === 'pcpDateRange'}">
            <a href ng-click="form.curTab = 'pcpDateRange'">Set Date Range</a>
        </li>
        <li role="presentation" ng-class="{'active':form.curTab === 'pcpRoles'}">
            <a href ng-click="form.curTab = 'pcpRoles'">Roles &amp; Permissions</a>
        </li>
    </ul><!-- / TABS -->

    <!-- RELATED DOCUMENTS -->
    <div class="tab-pane" ng-show="form.curTab === 'pcpRelatedDocs'">
        <!-- PACKAGE 1 -->
        <section>
            <h2 class="section-title">1.&nbsp;&nbsp;Provincial Content</h2>
            <div class="form-group">
                <label class="control-label">What Provincial information being commented on?</label>
                <input class="form-control" type="text" ng-model="period.informationLabel" spellcheck="false"></input>
            </div>
            <div class="form-group">
                <div class="button-bar">
                    <button class="btn btn-sm btn-default" title="Link Documents"
                            ng-if="project.userCan.createCommentPeriod"
                            x-document-mgr-link-modal
                            x-project="project"
                            x-target-name="'Provincial Package'"
                            x-published-only="'true'"
                            x-on-ok="addToProvincialPackage"><span class="glyphicon glyphicon-link"></span><span>Link Documents</span></button>
                </div>
                <tmpl-period-documents-list x-can-modify="true" x-file-list="period.relatedDocuments"></tmpl-period-documents-list>
            </div>
            <div class="form-group">
                <label class="control-label">Additional Information<em>(Optional)</em></label>
                <textarea class="form-control" rows="3" type="input" ng-model="period.additionalText" spellcheck="false"></textarea>
            </div>
        </section>
        <!-- / PACKAGE 1 -->

        <!-- PACKAGE 2 -->
        <section>
            <h2>2. Federal Content</h2>
            <div class="form-group">
                <label class="control-label">What Federal information being commented on?</label>
                <input class="form-control" type="text" ng-model="period.ceaaInformationLabel" spellcheck="false"></input>
            </div>
            <div class="form-group">
                <div class="button-bar">
                    <button class="btn btn-sm btn-default" title="Link Documents"
                            ng-if="project.userCan.createCommentPeriod"
                            x-document-mgr-link-modal
                            x-project="project"
                            x-target-name="'Federal Package'"
                            x-published-only="'true'"
                            x-on-ok="addToFederalPackage"><span class="glyphicon glyphicon-link"></span><span>Link Documents</span></button>
                </div>
                <tmpl-period-documents-list x-can-modify="true" x-file-list="period.ceaaRelatedDocuments"></tmpl-period-documents-list>
            </div>
            <div class="form-group">
                <label class="control-label">Additional Information<em>(Optional)</em></label>
                <textarea class="form-control" rows="3" type="input" ng-model="period.ceaaAdditionalText" spellcheck="false"></textarea>
            </div>
        </section>
        <!-- / PACKAGE 2 -->

        <!-- PREVIEW INFORMATION -->
        <section>
            <h2>3. Preview Information</h2>
            <span class="help-block">This is how your content will appear to the general public.</span>
            <div class="form-group">
                <textarea class="form-control" rows="3" disabled ng-bind-html="period.instructions"></textarea>
            </div>
        </section>
        <!-- / PREVIEW INFORMATION -->

        <div class="form-footer">
            <div class="pull-left">
                <button class="btn btn-default btn-sm" ng-click="form.curTab = 'pcpDateRange'">Next &nbsp;&rsaquo;</button>
            </div>
            <div class="pull-right">
                <a class="btn btn-default btn-sm" ui-sref="p.commentperiod.list" ng-disabled="busy">Cancel</a>
                <a class="btn btn-primary btn-sm" href ng-click="save()" ng-disabled="busy">Save</a>
            </div>
        </div>

    </div>
    <!-- / RELATED DOCUMENTS -->

    <!-- DATE RANGE TAB CONTENT -->
    <div class="tab-pane" ng-show="form.curTab === 'pcpDateRange'">
        <section class="edit-pcp-details">
            <h2>Set Comment Period Dates</h2>
            <div class="form-group">
                <div class="radio-group inline">
                    <label class="control-label" ng-repeat="t in rangeTypes">
                        <input type="radio" name="dateOptions" ng-model="ui.rType" ng-change="typeChange()" ng-value="t" /> {{t.displayName}}
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Duration</label>
                        <select class="form-control"
                            ng-disabled="!rangePickerEnabled"
                            ng-change="periodChange()"
                            ng-model="ui.rOption"
                            ng-options="p.displayName for p in rangeOptions"
                            ng-selected="p === ui.rOption">
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">Start Date</label>
                        <div class="form-control pcp-date date-picker"
                            ng-disabled="!startPickerEnabled" x-max="period.dateCompleted"
                            x-modal-date-picker x-selected-date="period.dateStarted" x-picker-enabled="startPickerEnabled"
                            title="{{ period.dateStarted | amDateFormat:'HH:mm:ss' }}">
                            <span ng-if="!period.dateStarted">Start Date</span>
                            {{ period.dateStarted | amDateFormat:'MMMM DD, YYYY' }}
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="control-label">End Date</label>
                        <div class="form-control pcp-date date-picker"
                            ng-disabled="!endPickerEnabled" x-min="period.dateStarted"
                            x-modal-date-picker x-selected-date="period.dateCompleted" x-picker-enabled="endPickerEnabled"
                            title="{{ period.dateCompleted | amDateFormat:'HH:mm:ss' }}">
                            <span ng-if="!period.dateCompleted">End Date</span>
                            {{ period.dateCompleted | amDateFormat:'MMMM DD, YYYY' }}
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="form-footer">
            <div class="pull-left">
                <button class="btn btn-default btn-sm" ng-click="form.curTab = 'pcpRelatedDocs'">&lsaquo;&nbsp; Previous</button>
                <button class="btn btn-default btn-sm" ng-click="form.curTab = 'pcpRoles'">Next &nbsp;&rsaquo;</button>
            </div>
            <div class="pull-right">
                <a class="btn btn-default btn-sm" ui-sref="p.commentperiod.list" ng-disabled="busy">Cancel</a>
                <a class="btn btn-primary btn-sm" href ng-click="save()" ng-disabled="busy">Save</a>
            </div>
        </div>
    </div>
    <!-- / DATE RANGE TAB CONTENT -->

    <!-- ROLES & PERMISSIONS TAB CONTENT -->
    <div class="tab-pane" ng-show="form.curTab === 'pcpRoles'">

        <section>
            <h2 class="m-b-1">Can Post Comments</h2>
            <ul class="pcp-role-list">
                <li class="no-results" ng-if="period.commenterRoles == 0">No Roles assigned.</li>
                <li ng-repeat="role in period.commenterRoles">{{ role }}</li>
            </ul>
        </section>

        <section>
            <h2 class="m-b-1">Can Vet Comments</h2>
            <button class="btn btn-default btn-sm"
                x-role-chooser
                x-context="project"
                x-current="period.vettingRoles"
                x-public="false"
                x-allowed-roles="'assessment-lead,assessment-team,project-epd'"><span class="glyphicon glyphicon-plus"></span><span>Assign Roles</span>
            </button>
            <ul class="pcp-role-list">
                <li class="no-results" ng-if="period.vettingRoles == 0">No Roles assigned.</li>
                <li ng-repeat="role in period.vettingRoles | orderBy">{{ role }}</li>
            </ul>
        </section>

        <section>
            <h2 class="m-b-1">Can Download Comments</h2>
            <button class="btn btn-default btn-sm"
                x-role-chooser
                x-context="project"
                x-current="period.downloadRoles"
                x-public="false"
                x-allowed-roles="'assessment-lead,assessment-team,project-epd,proponent-lead,proponent-team,assessment-ceaa'"><span class="glyphicon glyphicon-plus"></span><span>Assign Roles</span>
            </button>
            <ul class="pcp-role-list">
                <li class="no-results" ng-if="period.downloadRoles == 0">No Roles assigned.</li>
                <li ng-repeat="role in period.downloadRoles | orderBy">{{ role }}</li>
            </ul>
        </section>

        <div class="form-footer">
            <div class="pull-left">
                <button class="btn btn-default btn-sm" ng-click="form.curTab = 'pcpDateRange'">&lsaquo;&nbsp; Previous</button>
            </div>
            <div class="pull-right">
                <a class="btn btn-default btn-sm" ui-sref="p.commentperiod.list" ng-disabled="busy">Cancel</a>
                <a class="btn btn-primary btn-sm" href ng-click="save()" ng-disabled="busy">Save</a>
            </div>
        </div>
    </div>
    <!-- / ROLES & PERMISSIONS TAB CONTENT -->

</div>