<section class="block-content">
	<h3>Enforcement</h3>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-sm-4 col-browser-subtitles'>
				<label class="control-label">Inspection Reports</label>
			</div>
			<div class='col-sm-4 col-browser-subtitles list-indent-left'>
				<label class="control-label">Conditions</label>
			</div>
			<div class='col-sm-4 col-browser-subtitles'>
				<label class="control-label">Enforcement Actions</label>
			</div>				
		</div>
	</div>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-sm-4 col-no-padding vertical-scroll col-border-right'>
				<ul class="small list-unstyled list-documents">
					<li
						ng-click="enfBrowser.filterList(row)"
						class="row-folder clickable"
						ng-repeat="row in ::enfBrowser.inspReports"
						ng-class="{'active btn-primary': enfBrowser.filterReport(row)}">
						<span class="glyphicon glyphicon-play arrow"></span>
						{{ row.name }}
					<li>
				</ul>

			</div>
			<div class='col-sm-8 col-no-padding vertical-scroll'>
				
				<ul class="small list-unstyled list-documents list-indent-left">
					<li
						class="row-document clickable row-enforcement"
						ng-repeat="cond in ::enfBrowser.conditions"
						ng-class="{'active btn-primary': filterSummary._id === cond._id}">


						<div class='container-fluid'>
							<div class='row'>
								<div class='col-sm-6 cell-condition'>
									{{ cond.name }}
								</div>
								<div class='col-sm-6 no-side-padding'>
									<ul class="list-unstyled list-documents">
										<li ng-repeat="enf in cond.enforcement"
											ng-class="{
												'bg-warning': enf.name === 'Warning',
												'bg-info': enf.name === 'Remedy',
												'bg-danger': enf.name === 'Cease',
											}">
											<span class="glyphicon glyphicon-alert text-warning" ng-if="enf.name === 'Warning'"></span>
											<span class="glyphicon glyphicon-alert text-info" ng-if="enf.name === 'Remedy'"></span>
											<span class="glyphicon glyphicon-ban-circle text-danger" ng-if="enf.name === 'Cease'"></span>				
											{{ enf.name }}</span>
										</li>
										<li ng-if="!cond.enforcement || cond.enforcement.length === 0">
											No enforcement actions for this condition.
										</li>
									</ul>
								</div>

							</div>
						</div>

					</li>
				</ul>


			</div>
		</div>
	</div>

</section>
