<div class="inspection-report-view">

	<div class="view-title-container">
		<h1><span ng-show="project.name">{{ project.name }}&nbsp; &rsaquo; &nbsp;</span>Compliance Oversight</h1>
<!-- 		<tmpl-permissions-gear class="permission-btn" x-context="menu.project" x-object="menu.project" x-permissions=""></tmpl-permissions-gear> -->
	</div>

	<div class="view-body-container">
		<div class="button-bar clearfix">
			<div class="pull-right">
				<show-filter x-toggle-filter="toggleFilter"></show-filter>
			</div>
		</div>

		<section class="panel panel-default">
			<table ng-table="tableParams" x-show-filter="toggleFilter" class="table table-hover table-striped">
				<tr ng-repeat="o in $data" ui-sref="p.ir.detail({irId:o._id})" class="clickable">
					<td data-title="'Name'"    sortable="'name'"    filter="{'name':'text'}">{{o.name}}</td>
					<tr ng-show="!$data || !$data.length" class="text-center">
						<td colspan="2">No records found.</td>
					</tr>
				</tr>
			</table>
		</section>

</div>
