<section class="document-browser-view">
	<div class="panel panel-default">
		<div class="panel-heading flex-row">
			<h2>Documents in Review</h2>
			<div class="actions">
				<a href class="btn btn-default bt-sm"
					x-modal-document-upload-review
					x-project="docBrowser.project"
					ng-if="docBrowser.authentication.user"><span class="glyphicon glyphicon-upload"></span><span>Upload Documents</span></a>	
			</div>
		</div>
		<div class="panel-body">
			<div class='col-sm-4 col-no-padding vertical-scroll col-border-right'>
				<ul class="small list-unstyled list-documents">
					<li
						class="row-folder row-folder-depth-{{ row.depth }}"
						ng-repeat="row in docBrowser.rdocTypes"
						ng-class="{'active btn-primary': rfilterDocs[row.reference] === row.label}">
						<span class="glyphicon glyphicon-play arrow"></span>
						<a href ng-click="docBrowser.rfilterList(row.reference, row.label)">{{ row.label }}</a>
					<li>
				</ul>
			</div>
			<div class='col-sm-4 col-no-padding vertical-scroll col-border-right'>
				<ul class="small list-unstyled list-documents list-indent-left">
					<li ng-repeat="doc in docBrowser.rdocumentFiles | filter : rfilterDocs : true">
						<a ng-click="docBrowser.rDoc=doc" href="">
							<span class="glyphicon glyphicon-file"></span>{{ doc.internalOriginalName | removeExtension }}
						</a>
					</li>
				</ul>
			</div>
			<div class='col-sm-4 col-no-padding vertical-scroll' ng-class="{'bg-muted': !docBrowser.rDoc}">
				<ul class="small list-unstyled list-documents list-indent-left" ng-show="docBrowser.rDoc">
					<li>
						<h3>
							<a
								class="small btn-download"
								href="/api/document/{{ docBrowser.rDoc._id }}/fetch"
								target="_blank">Download <span class="glyphicon glyphicon-download"></span>
							</a>
							{{ docBrowser.rDoc.internalOriginalName | removeExtension }}</h3>
						<p>File Name: {{ docBrowser.rDoc.documentFileName }}</p>
						<p>Date Posted: {{ docBrowser.rDoc.projectFolderDatePosted | date : format : timezone }}</p>
						<p>File Format: {{ docBrowser.rDoc.documentFileFormat }}</p>
						<p>File Size: {{ docBrowser.rDoc.documentFileSize }}</p>
						<button class="btn btn-default" type="button" ng-click="docBrowser.downloadAndApprove(docBrowser.rDoc)">Approve</button>
						<button class="btn btn-default" type="button" ng-click="docBrowser.rejectDocument(docBrowser.rDoc)">Reject</button>
					</li>
				</ul>
			</div>
		</div>
			
	</div>
</section>
