<section class="document-browser-view">
	
		<!-- PHASE DOCUMENTS -->
		<div class="panel panel-default accordion hidden">
            <div class="panel-heading" role="tab" id="phase1">
                <a class="clearfix" role="button" data-toggle="collapse" href="#phase1Collapse" aria-expanded="true" aria-controls="phase1Collapse">
                    <span class="glyphicon glyphicon-plus pull-left"></span>
                    <span class="glyphicon glyphicon-minus pull-left"></span>
                    <h2 class="pull-left">Phase Title</h2>
                </a>
            </div>
            <div id="phase1Collapse" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="ir1Collapse">
                <div class="actions-table-container">
					
					<table ng-table="vm.tableParams" class="table table-striped document-browser" show-filter="false">
						<tr class="hidden" ng-repeat="user in $data">
							<td class="name-col" header-class="'name-col'" title="'Name'" filter="{ name: 'text'}" sortable="'name'">
								{{user.name}}</td>
							<td title="'Status'" filter="{ age: 'number'}" sortable="'status'">
								{{user.age}}</td>
							<td title="'Last Modified'" filter="{ age: 'number'}" sortable="'last-modified'">
								{{user.age}}</td>
							<td class="actions-col action-x1" header-class="'actions-col action-x1'">
								<a class="btn btn-link btn-sm" href="javascript:void();">
									<span class="glyphicon glyphicon-option-horizontal"></span>
								</a>
							</td>
						</tr>
						<!-- PROTOTYPE ROWS -->
						<tr>
							<td class="name-col" header-class="'name-col'" title="'Name'" filter="{ name: 'text'}" sortable="'name'">
								<span class="glyphicon glyphicon-folder-close"></span>Folder Name</td>
							<td title="'Status'" filter="{ age: 'number'}" sortable="'status'">
								Status</td>
							<td title="'Last Modified'" filter="{ age: 'number'}" sortable="'last-modified'">
								Last Modified</td>
							<td class="actions-col action-x1" header-class="'actions-col action-x1'">
								<a class="btn btn-link btn-sm" href="javascript:void();">
									<span class="glyphicon glyphicon-option-horizontal"></span>
								</a>
							</td>
						</tr>
						<tr>
							<td class="name-col" header-class="'name-col'" title="'Name'" filter="{ name: 'text'}" sortable="'name'">
								<span class="glyphicon glyphicon-folder-close"></span>Folder Name</td>
							<td title="'Status'" filter="{ age: 'number'}" sortable="'status'">
								Status</td>
							<td title="'Last Modified'" filter="{ age: 'number'}" sortable="'last-modified'">
								Last Modified</td>
							<td class="actions-col action-x1" header-class="'actions-col action-x1'">
								<a class="btn btn-link btn-sm" href="javascript:void();">
									<span class="glyphicon glyphicon-option-horizontal"></span>
								</a>
							</td>
						</tr>
						<tr class="selected">
							<td class="name-col" header-class="'name-col'" title="'Name'" filter="{ name: 'text'}" sortable="'name'">
								<span class="glyphicon glyphicon-file"></span>File Name</td>
							<td title="'Status'" filter="{ age: 'number'}" sortable="'status'">
								Status</td>
							<td title="'Last Modified'" filter="{ age: 'number'}" sortable="'last-modified'">
								Last Modified</td>
							<td class="actions-col action-x1" header-class="'actions-col action-x1'">
								<a class="btn btn-link btn-sm" href="javascript:void();">
									<span class="glyphicon glyphicon-option-horizontal"></span>
								</a>
							</td>
						</tr><!-- / PROTOTYPE ROWS -->
					</table>
					
                    <table class="table table-striped hidden">
                        <thead>
                            <tr>
                                <th class="name-col">Name</th>
                                <th class="status-col">Status</th>
								<th class="date-col">Last Modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="name-col">
									<span class="glyphicon glyphicon-folder-close"></span>
                                    <span>Folder Name</span>
                                </td>
                                <td class="status-col"></td>
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
							<tr>
                                <td class="name-col">
									<span class="glyphicon glyphicon-folder-close"></span>
                                    <span>Folder Name</span>
                                </td>
                                <td class="status-col"></td>
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
							<tr>
                                <td class="name-col">
									<span class="glyphicon glyphicon-folder-close"></span>
                                    <span>Folder Name</span>
                                </td>
                                <td class="status-col"></td>
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
							<tr>
                                <td class="name-col">
									<span class="glyphicon glyphicon-file"></span>
                                    <span>File Name</span>
                                </td>
                                <td class="status-col"></td>
                                <td class="date-col">mm/dd/yyyy</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div><!-- / PHASE DOCUMENTS -->
	
	
	<div class="panel panel-default">
		<div class="panel-heading clearfix">
			<h2 class="pull-left">Documents</h2>
			<div class="panel-heading-actions pull-right">
				<a href class="btn btn-default btn-sm"
					x-modal-document-upload-classify
					x-project="docBrowser.project"
					ng-if="(docBrowser.authentication.user) && environment === 'EAO'"><span class="glyphicon glyphicon-arrow-up"></span>&nbsp;&nbsp;Upload</a>
				<a href class="btn btn-default btn-sm"
					x-modal-document-upload-classify-mem
					x-project="docBrowser.project"
					ng-if="(docBrowser.authentication.user) && environment === 'MEM'"><span class="glyphicon glyphicon-arrow-up"></span>&nbsp;&nbsp;Upload</a>	
			</div>
		</div>
		<div class="file-browser clearfix">
			
			<!-- FOLDER HIERARCHY -->
			<div class="col-sm-6 col-md-4 file-browser-list">
				<ul ng-if="environment === 'EAO'">
					<li
						ng-click="docBrowser.filterList(row)"
						ng-hide="row.label === 'Not Specified'"
						class="row-folder clickable row-folder-depth-{{ row.depth }}"
						ng-repeat="row in docBrowser.docTypes"
						ng-if="row.label === 'ARTIFACT'"
						ng-class="{'active btn-primary': docBrowser.filterDocsSelected(row)}">
						<span class="glyphicon glyphicon-play arrow"></span>
						Recent Documents
					</li>
				</ul>
				<div ng-if="environment === 'EAO'"
					 class="file-browser-category">Legacy Documents</div>
				<ul>
					<li class="row-folder clickable row-folder-depth-{{ row.depth }}" ng-class="{'active btn-primary': docBrowser.filterDocsSelected(row)}"
						ng-click="docBrowser.filterList(row)"
						ng-hide="row.label === 'Not Specified'"
						ng-repeat="row in docBrowser.docTypes"
						ng-if="row.label != 'ARTIFACT'">
						<span class="glyphicon glyphicon-folder-close"></span>&nbsp;
						<!-- <span class="glyphicon glyphicon-folder-open"></span> -->
						{{ row.label }}
					</li>
				</ul>
			</div><!-- / FOLDER HIERARCHY -->
			
			<!-- DOCUMENT LIST -->
			<div class="col-sm-6 col-md-4 file-browser-list">
				<ul> 
					<li class="row-document clickable" ng-class="{'active btn-primary': filterSummary._id === doc._id}"
						ng-click="docBrowser.filterSummary(doc)"
						ng-repeat="doc in docBrowser.documentFiles | filter:filterLinage:true">
						<span class="glyphicon glyphicon-file"></span>&nbsp;
						{{ doc.internalOriginalName | removeExtension }}
					</li>
				</ul>
			</div><!-- DOCUMENTS LIST -->
			
			<!-- DOCUMENT DETAILS -->
			<div class="col-sm-12 col-md-4 file-browser-details" ng-class="{'bg-muted': !filterSummary}" >
				<div ng-show="filterSummary">
					<!-- DOCUMENT INFO -->
					<div class="doc-info">
						<h3>{{ filterSummary.internalOriginalName | removeExtension }}</h3>
						<div class="detail-row">
							<label>System File Title</label>
							<span class="value">{{ filterSummary.internalName }}</span>
						</div>
						<div class="detail-row">
							<label>Date Posted</label>
							<span class="value">{{ filterSummary.projectFolderDatePosted | date : format : timezone }}</span>
						</div>
						<div class="detail-row">
							<label>File Format</label>
							<span class="value">{{ filterSummary.internalMime }}</span>
						</div>
						<div class="detail-row">
							<label>File Size</label>
							<span class="value">{{ filterSummary.MBytes }} MB</span>
						</div>
						<div class="detail-row">
							<label>In Review</label>
							<span class="value">{{ filterSummary.documentIsInReview?'Yes':'No' }}</span>
						</div>
						
						<!-- NB: Project folders are authors in EPIC:  We override this behavior here -->
						<div ng-show="filterSummary.documentAuthor" class="detail-row">
							<label>Author</label>
							<span class="value">{{ filterSummary.documentAuthor }}</span>
						</div>
						
						<div class="detail-row">
							<label>Current Revision</label>
							<span class="value value-list">
								<a class="clearfix" href="/api/document/{{ filterSummary._id }}/fetch" target="_self">
									<span class="pull-left">Revision {{ filterSummary.documentVersion }}</span>
									<span class="glyphicon glyphicon-download-alt pull-right"></span>
								</a>
							</span>
						</div>
						
						<div class="detail-row">
							<label>Latest Revision:</label>
							<span class="value">{{ filterSummary.documentIsLatestVersion?'Yes':'No' }}</span>
						</div>
						
						<div clas="detail-row">
							<label>Revisions</label>
							<span class="value value-list">
								<a class="clearfix" href="{{ docVersion.documentFileURL }}" ng-repeat="docVersion in docBrowser.docVersions">
									<span class="pull-left">Revision {{ docVersion.documentVersion }}&nbsp;&nbsp;-&nbsp;&nbsp;{{ docVersion.dateUpdated | date : format : timezone}}</span>
									<span class="glyphicon glyphicon-download-alt pull-right"></span></a>
							</span>
						</div>
					</div><!-- / DOCUMENT INFO -->
					
					<!-- DOCUMENT ACTIONS -->
					<div class="doc-actions">
						<a class="btn btn-default btn-sm" href="/api/document/{{ filterSummary._id }}/fetch" target="_self" title="Download">
							<span class="glyphicon glyphicon-download-alt"></span> Download
						</a>
						<a class="btn btn-default btn-sm" ng-if="docBrowser.allowLink" href ng-click="docBrowser.toggleDocumentLink( filterSummary )" title="Link">
							<span class="glyphicon glyphicon-link"></span> Link
						</a>
						<a class="btn btn-default btn-sm" href ng-click="docBrowser.deleteDocument(filterSummary._id)" ng-if="(docBrowser.authentication.user)" title="Delete Document">
							<span class="glyphicon glyphicon-remove"></span> Remove
						</a>
					</div><!-- / DOCUMENT ACTIONS -->
				</div>

			</div><!-- / DOCUMENT DETAILS -->
		</div>
		
	</div>

</section>
