<section class="block-content">
	<h3>Documents</h3>

	<div class='container-fluid'>
		<div class='row'>
			<div class='col-sm-4 col-no-padding vertical-scroll col-border-right'>
				
				<ul class="small list-unstyled list-documents">
					<li
						class="row-folder row-folder-depth-{{ row.depth }}"
						ng-repeat="row in docBrowser.docTypes"
						ng-class="{'active btn-primary': filterDocs[row.reference] === row.label}">
						<span class="glyphicon glyphicon-play"></span>
						<a href ng-click="docBrowser.filterList(row.reference, row.label)">{{ row.label }}</a>
					<li>
				</ul>

			</div>
			<div class='col-sm-4 col-no-padding vertical-scroll col-border-right'>
			
				<ul class="small list-unstyled list-documents list-indent-left">

					<li ng-repeat="doc in docBrowser.documentFiles | filter : filterDocs : true" >
						<a ng-mouseover="docBrowser.filterSummary(doc)" href="{{ doc.documentFileURL }}"><span class="glyphicon glyphicon-file"></span>{{ doc.documentFileName }} </a>
					</li>
				</ul>

			</div>
			<div class='col-sm-4 col-no-padding vertical-scroll'>

				<ul class="small list-unstyled list-documents list-indent-left">
					<li>
						<h3>Executive Summary</h3>
						<p>Date Posted: {{ filterSummary.projectFolderDatePosted | date : format : timezone }}</p>
						<p>File Format: {{ filterSummary.documentFileFormat }}</p>
						<p>File Size: {{ filterSummary.documentFileSize }}</p>
						<p>In Review?: {{ filterSummary.documentIsInReview?'Yes':'No' }}</p>
						<!-- NB: Project folders are authors in EPIC:  We override this behavior here -->
						<p>Author: {{ filterSummary.documentAuthor }}</p>
						<p>Current Revision: <a href="{{ filterSummary.documentFileURL }}">{{ filterSummary.documentVersion }} <span class="glyphicon glyphicon-download"></span></a></p>
						<p>Latest Revision: {{ filterSummary.documentIsLatestVersion?'Yes':'No' }} </p>
					</li>
					<!-- <li>
						Tags
					</li> -->
					<li>
						Revisions:
					</li>
					<li ng-repeat="docVersion in docBrowser.docVersions">
						<a href="{{ docVersion.documentFileURL }}">{{ docVersion.dateUpdated | date : format : timezone}}: {{ docVersion.documentVersion }} <span class="glyphicon glyphicon-download"></span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
