
<div class="upload-documents-view">

	<!-- UPLOAD -->
	<div class="form-group attachments">
		<label>Select Files for Upload</label>

		<div class="alert alert-danger" ngf-no-file-drop >
			File Drag and Drop is not supported for this browser.
		</div>

		<div class="attachments-upload-target">
			<div ngf-drop ngf-select ng-model="files"
				ngf-drag-over-class="dragover"
				ngf-multiple="true"
				ngf-allow-dir="true"
				ngf-max-total-size="1MB">
				<div class="instructions"><strong>Drag and Drop Files Here</strong> or <strong>Select Files</strong></div>
				<div class="requirements">Total upload size limited to 300MB.</div>
			</div>
		</div>

		<div class="list-group hover">
			<li class="list-group-item" ng-class="{'danger': f.$error}" ng-repeat="f in docUpload.fileList">
				<div class="file-icon">
					<span class="glyphicon glyphicon-file"></span>
				</div>
				<div class="file-name">{{f.name}} {{f.$error}} {{f.$errorParam}}</div>
				<div class="file-progress" ng-if="!f.$error && f.progress">
					<div class="progress">
						<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{f.progress}}%" ng-bind="f.progress + '%'">
							<span class="sr-only">{{ f.progress }}</span>
						</div>
					</div>
				</div>
				<button class="file-actions btn btn-link" ng-if="!f.$error && !f.progress" ng-click="docUpload.removeFile(f)" title="Remove File">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</li>
		</div>

	</div><!-- UPLOAD -->

	<!-- REQUIRED FIELDS -->
	<div class="form-group">
		<label class="control-label">Select Related Content<em>Required</em></label>
		<select class="form-control" 
				ng-options="stype as stype.name for stype in docUpload.artifacts" 
				ng-model="docUpload.selectedArtifact"></select>
	</div>

	<div class="form-group">
		<label class="control-label">Document Type<em>Required</em></label>
		<select class="form-control" 
				ng-options="docLocation as docLocation.name for docLocation in docUpload.docLocations"
				ng-model="docUpload.selectedDocLocation"></select>
	</div><!-- / REQUIRED FIELDS -->

</div>



