<div class="modal-header">
	<button class="btn btn-default close" ng-click="vmm.cancel()"><span aria-hidden="true">×</span></button>
	<h3 class="modal-title">Set Default Sort Order > {{vmm.folder.displayName}}</h3>
</div>

<div class="modal-body">
	<div class="btn-toolbar doc-sort-options">
		<div class="radio-btn-group btn-group">
			<div class="radio-btn">
				<input type="radio" name="defaultSort" id="nameAsc" value="name-asc" ng-model="vmm.defaultSortColumn" ng-click="vmm.setDefaultSortOrder('name-asc')"/>
				<label class="btn btn-default btn-sm" for="nameAsc">
					<span class="glyphicon glyphicon-sort-by-alphabet"></span>
					Name Ascending
				</label>
			</div>
			<div class="radio-btn">
				<input type="radio" name="defaultSort" id="nameDesc" value="name-desc" ng-model="vmm.defaultSortColumn" ng-click="vmm.setDefaultSortOrder('name-desc')"/>
				<label class="btn btn-default btn-sm" for="nameDesc">
					<span class="glyphicon glyphicon-sort-by-alphabet-alt"></span>
					Name Descending
				</label>
			</div>
			<div class="radio-btn">
				<input type="radio" name="defaultSort" id="dateAsc" value="date-asc" ng-model="vmm.defaultSortColumn" ng-click="vmm.setDefaultSortOrder('date-asc')"/>
				<label class="btn btn-default btn-sm" for="dateAsc">
					<span class="glyphicon glyphicon glyphicon-sort-by-attributes"></span>
					Date Ascending
				</label>
			</div>
			<div class="radio-btn">
				<input type="radio" name="defaultSort" id="dateDesc" value="date-desc" ng-model="vmm.defaultSortColumn" ng-click="vmm.setDefaultSortOrder('date-desc')"/>
				<label class="btn btn-default btn-sm" for="dateDesc">
					<span class="glyphicon glyphicon glyphicon-sort-by-attributes-alt"></span>
					Date Descending
				</label>
			</div>
			<div class="radio-btn">
				<input type="radio" name="defaultSort" id="custom" value="custom" ng-model="vmm.defaultSortColumn" ng-click="vmm.setDefaultSortOrder('custom')"/>
				<label class="btn btn-default btn-sm" for="custom">Custom Order</label>
			</div>
		</div>
		<div class="btn-group" ng-if="!vmm.customSorting">
			<div class="checkbox">
				<label>
					<input type="checkbox" id="applyToChildren" ng-model="vmm.applyToChildren" /> Apply {{vmm.sortDescription}} to all subfolders
				</label>
			</div>
		</div>
	</div>

	<div class="doc-sort-header fb-list">
		<div class="column-header">
			<div class="col name">Name</div>
			<div class="col date">Document Date</div>
			<div class="col status">Status</div>
		</div>
	</div>

	<div class="doc-sort-scroll-container">
		<x-reorder-documents-content class="dnd-sort-list doc-sort-folders"
      ng-class="{'active' : vmm.folders.isActive}"
			x-list="vmm.folders"
			x-parent="vmm"
			x-title="'Folders'">
		</x-reorder-documents-content>

		<x-reorder-documents-content class="dnd-sort-list doc-sort-files"
			x-list="vmm.documents"
			x-parent="vmm"
			x-title="'Documents'">
		</x-reorder-documents-content>

	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-default" ng-click="vmm.cancel($event)">Cancel</button>
	<button class="btn btn-primary" ng-click="vmm.ok()">Save</button>
</div>

<div class="spinner-container" ng-show="vmm.busy">
  <div class="spinner-new rotating"></div>
</div>
