<div class="modal-header">
	<h3 class="modal-title">Project Documents for Review</h3>
</div>
<div class="modal-body">
	<tmpl-documents-upload-classify x-project="docUploadModalReview.project" x-type="project" x-artifact="docUploadModalReview.artifact"></tmpl-documents-upload-classify>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="docUploadModalReview.cancel()">Cancel</button>
	<button class="btn btn-default" type="button" ng-click="docUploadModalReview.ok()">Save</button>
</div>
