
<div class="modal-header">
	<button type="button" class="btn btn-default close" ng-click="docLinkModal.cancel()"><span aria-hidden="true">&times;</span></button>
	<!-- MEM -->
	<h3 ng-if="!docLinkModal.docLocationCode" class="modal-title">Link Documents</h3>
	<!-- EAO -->
	<h3 ng-if="docLinkModal.docLocationCode" class="modal-title">Link Documents &nbsp;&rsaquo;&nbsp; {{docLinkModal.artifact.name}} ({{docLinkModal.docLocationCode | displayFriendlyCode}})</h3>
</div>

<div class="modal-body">
	<tmpl-documents-link x-current="docLinkModal.current" x-project="docLinkModal.project" x-type="project" x-doc-location-code="docLinkModal.docLocationCode" x-artifact="docLinkModal.artifact" x-documents-control="docLinkModal.documentsControl"></tmpl-documents-link>
</div>

<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="docLinkModal.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="docLinkModal.ok()">Save</button>
</div>
