<div class="document-viewer-header">
	<h1 title="{{documentName}}">{{documentName}}</h1>
	<div class="actions">
		<a class="btn icon-btn download" href="{{pdfURL}}" target="_self" title="Download File">
			<span class="glyphicon glyphicon-download-alt"></span></a>
		<button class="btn close" ng-click="closeWindow()" title="Close Window"><span aria-hidden="true">&times;</span></button>
	</div>
</div>

<div class="document-viewer-body">
	<div class="showbox">
		<div class="spinner-container transparent" ng-if="loading">
			<div class="spinner-new rotating"></div>
		</div>
	</div>
	<pdfviewer class="document" src="{{pdfURL}}" id="viewer" on-page-load='pageLoaded(page,total)' load-progress='loadProgress(loaded, total, state)'></pdfviewer>	
</div>

<div class="document-viewer-footer" ng-class="{'show-footer': !loading}">
	<button class="btn btn-sm glyphicon glyphicon-step-backward" ng-click="gotoPage(1)" ng-disabled="currentPage == 1" title="Jump to First"></button>
	<button class="btn btn-sm glyphicon glyphicon-chevron-left" ng-click="prevPage()" ng-disabled="currentPage == 1" title="Previous Page"></button>
	<label ng-show="totalPages">{{currentPage}} of {{totalPages}}</label>
	<button class="btn btn-sm glyphicon glyphicon-chevron-right" ng-click="nextPage()" ng-disabled="currentPage == totalPages" title="Next Page"></button>
	<button class="btn btn-sm glyphicon glyphicon-step-forward" ng-click="gotoPage(totalPages)" ng-disabled="currentPage == totalPages" title="Jump to Last"></button>
</div>