$search-widget-input-bg: #fff;
$search-widget-focus-color: #5091cd;
$search-widget-btn-offset: 0.1rem;


.search-widget {
    text-align: right;

    .sw-resize-container {
        position: relative;
        display: inline-block;
        transition: all ease-out 0.2s;

        .icon-btn {
            position: absolute;
            z-index: 3;
            width: 3.4rem;
            height: 3.4rem;
            background: none;

            i {
                font-size: 1.8rem;
            }

            &:focus {
                border: 1px solid $search-widget-focus-color;
                outline: none;
            }
        }

        .sw-expand-btn {
            top: $search-widget-btn-offset;
            left: $search-widget-btn-offset;
            background: $search-widget-input-bg;
        }

        .sw-collapse-btn,
        .sw-toggle-btn {
            top: $search-widget-btn-offset;
        }

        .sw-collapse-btn {
            right: $search-widget-btn-offset;
            font-size: 2rem;
        }

        .sw-toggle-btn {
            right: 3.65rem;

            i {
                font-size: 1.4rem;
            }
        }

        .sw-input {
            position: relative;
            z-index: 2;
            display: inline-block;
            width: 100%;
            height: 3.6rem;
            background-color: $search-widget-input-bg;
            font-size: 1.3rem;
        }
    }

    &.collapsed {
        .sw-resize-container {
            width: 3.6rem;

            .sw-collapse-btn,
            .sw-toggle-btn {
                visibility: hidden;
            }

            .sw-input {
                padding-right: 0;
                padding-left: 0;
                opacity: 0;
                transition: 0.2s opacity ease-out 0.2s;
            }
        }
    }

    &.expanded {
        .sw-resize-container {
            width: 100%;

            .sw-expand-btn {
                visibility: hidden;
            }

            .sw-collapse-btn,
            .sw-toggle-btn {
                visibility: visible;
            }

            .sw-input {
                padding-right: 7.2rem;
                opacity: 1;
                transition: all ease-out 0.2s;
            }
        }
    }

    .dropdown-menu {
        padding: 0;
        width: 100%;
        border-radius: 0;
    }
}

$selected-color: #5091cd;
$selected-border-color: #4187c9;
$inverted-text-color: #FFF;

tr.selected td {
    border-top: none !important;
}

/*
Show scroll bar on large datasets.
 */
.file-browser-search {
    overflow: visible;
}

.search-table {
    .selected {
        /*  Force over-write the tr.selected styling from core.  */
        color: $inverted-text-color !important;
        background: $selected-color !important;
        border-top: none !important;
        border-bottom: 1px solid $selected-border-color !important;
    }
    .checkbox-col {
        width: 4rem;
    }
    .date-added-col {
        width: 20rem;
    }
    .status-col {
        width: 8rem;
    }
    .actions-col {
        width: 8rem;
        .btn-group {
            opacity: 1;
        }
    }
    .row-actions {
        display: block;
        //position: absolute;
        //top: 0.6rem;
        right: 2.5rem;
        .btn {
            padding: 0;
            width: 3.4rem;
            height: 3.4rem;
            text-align: center;
            color: #000;
        }
        .selected {
            color: $inverted-text-color !important;
        }
    }

    .document-info {
        @extend .flex-row;
        .icon {
            @include flex(0 0 auto);
            .avatar {
                margin-right: 0.75rem;
                text-align: center;
                .glyphicon {
                    margin-top: -0.2rem;
                    font-size: 3rem;
                    vertical-align: top;
                }
            }
        }
        .text {
            @extend .flex-column;
            @include flex(1 1 auto);
            .name {
                @include flex(1 1 auto);
            }
            .description {
                @include flex(1 1 auto);
            }
        }
    }
}



@media (max-width: 750px) {
    .search-widget {
        .dropdown-menu {
            position: fixed;
            top: 11.4rem;
            right: 0;
            bottom: 0;
            left: 0;
            margin: 0;
            border-right: none;
            border-bottom: none;
            border-left: none;
        }

        .sw-form-container {
            @include flexbox();
            @include flexdirection(column);
            height: 100%;

            .sw-form-items {
                @include flex(1 1 auto);
                overflow-y: scroll;
            }

            .sw-form-btns {
                @include flex(0 0 auto);
            }
        }
    }
}

@media (min-width: 760px) {
    .search-widget {
        &.collapsed,
        &.expanded {
            .sw-resize-container {
                width: auto;

                .sw-expand-btn {
                    left: 0.2rem;
                    background-color: transparent;
                    pointer-events: none;
                    visibility: visible;
                }

                .sw-input {
                    padding-right: 3.5rem;
                    padding-left: 3.5rem;
                    width: 30rem;
                    opacity: 1;
                    transition: all ease-out 0.2s;

                    &:focus {
                        width: 35rem;
                    }
                }

                .sw-toggle-btn {
                    right: $search-widget-btn-offset;
                    visibility: visible;
                }

                .sw-collapse-btn {
                    visibility: hidden;
                }

                &.open {
                    .sw-input {
                        width: 35rem;
                    }
                }
                
                .dropdown-menu {
                    width: 35rem;
                }
            }
        }  
    }
}

// Search Widget Form
$sw-form-font-size: 1.3rem;

.sw-form-container {
    .sw-form-items {
        padding: 1.5rem;

        .form-group {
            &:last-child {
                margin-bottom: 0.5rem;
            }
        }
    }

    .control-label {
        margin-bottom: 0.25rem;
        font-size: $sw-form-font-size;
    }

    .checkbox {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 0.25rem;
        font-size: $sw-form-font-size;

        +.checkbox {
            margin-top: 1rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .sw-form-btns {
        padding: 1.5rem;
        border-top: 1px solid #ccc;
        text-align: right;

        .btn {
            padding: 0.7rem 1.2rem;
            min-width: 10rem;
            text-transform: uppercase;
            font-size: 1.3rem;
        }
    }
}

// Position the control inside the View Title Container
.view-title-container {
    .search-widget {
        position: absolute;
        top: 1.3rem;
        right: 5.5rem;

        &.expanded {
            right: 1.5rem;
            left: 1.5rem;
        }
    }
}

@media (min-width: 760px) {
    .view-title-container {
        .search-widget {
            &.collapsed,
            &.expanded {
                right: 5.5rem;
            }
        }
    }
}


// Search Results Prototype
@keyframes sw-search-results-anim {
    0% {
       visibility: visible;
    }

    90% {
        opacity: 1;
    }

    100% {
        visibility: hidden;
        opacity: 0;
    }
}

.sw-fb-prototype {
    z-index: 5;
    visibility: hidden;

    &.visible {
        visibility: visible;

        .spinner-container {
            visibility: hidden;
            animation: sw-search-results-anim 2s forwards;
        }
    }
}

.sw-results-label {
    @include flex(1 1 auto);
    padding-top: 0.75rem;
    padding-left: 1rem;
    font-weight: bold;
}