<section id="activity-view" class="row">

	<div class='col-sm-10'>
		<h2 class="page-title">
			{{ actBase.project.name }}
		</h2>
		<h1 class="page-title">
			{{ actBase.activity.name }}
		</h1>

		<section class="row">
			<section class="col-sm-2">

				<ul class="list-unstyled no-lower-margin list-icon-right list-tasks">
					<li class="clickable" ng-repeat="task in actBase.activity.tasks" ng-click="formTasks[task._id] = !formTasks[task._id]" ng-class="{'bg-success': task.complete}">
						<span ng-if="task.complete" class="glyphicon glyphicon-ok-circle text-success"></span>
						<span ng-if="!task.complete" class="glyphicon glyphicon-remove-circle text-danger"></span>
						<div>{{ task.name }}</div>{{ task.complete}}
						<div class="task-metam small form-group" ng-if="formTasks[task._id] && task.complete">
							<span>Date Complete: {{ task.dateComplete }}</span><br/>
							<span>Completed By: {{ }}</span>
						</div>
						<div class="task-metam small form-group" ng-if="formTasks[task._id] && !task.complete">
							<span>Status: {{ task.status }}</span>
						</div>

					</li>
					<li ng-if="actBase.activity.tasks.length === 0">No tasks identified.</li>
				</ul>

			</section>
			<section class="col-sm-10">
				<tmpl-load-activity-process x-project="actBase.project" x-activity="actBase.activity"></tmpl-load-activity-process>
			</section>
		</section>

	</div> <!-- /col9 -->
	<div class='col-sm-2'>
		<tmpl-system-menu x-menu-context="'activity'" x-project="actBase.project"></tmpl-system-menu>
	</div>

</section>
