<div class="modal-header">
	<h3 class="modal-title">Contact Detail ({{d.dmode}})</h3>
</div>

<div class="modal-body">

	<div class="block-content">
		<div class="panel-body">
		<div class="row">
			<div class="col-sm-9">
				<div class="form-group">
					<label for="title" class="control-label">Contact Name</label>
					<input id="title" type="text" class="form-control input-sm" ng-model="d.contact.name">
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="sector" class="control-label">Project Sector</label>
					<select id="sector" ng-model='d.contact.sector' class="form-control input-sm" ng-options="sector as sector for sector in d.sectors"></select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="shortDesc" class="control-label">Contact Description</label>
					<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="d.contact.description" rows=6></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="shortDesc" class="control-label">Report Requirements</label>
					<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="d.contact.reportRequirements" rows=6></textarea>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="pillar" class="control-label">Pillar</label>
					<select ng-change="d.selectTopic(pillar)" id="pillar" ng-model='d.contact.pillar' class="form-control input-sm" ng-options="pillar as pillar for pillar in d.pillars"></select>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="stage" class="control-label">Project Stage</label>
					<select id="stage" ng-model='d.contact.stage' class="form-control input-sm" ng-options="stage as stage for stage in d.stages"></select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="topics" class="control-label">Topics</label>
					<select multiple id="topics" ng-model='d.contact.topics' class="form-control input-sm">
						<option ng-repeat="topic in d.topics" value="{{topic.code}}">{{topic.name}}</option>
					</select>
				</div>
			</div>

		</div>

		</div>
	</div>

</div> <!-- /modalbody -->

<div class="modal-footer">
	<a class="btn btn-default" href ng-click="d.cancel()">Cancel</a>
	<a class="btn btn-default" href ng-click="d.ok()">OK</a>
</div>

