
// Home Page

// Banner Images
.hero-banner {
    background-image: url("/modules/core/client/images/sample-bg-img-duotone-2.jpg");
    background-repeat: no-repeat;
}

.site-intro {
    .fast-facts {
        margin-top: 2.5rem;
    }
}

@media (min-width: 900px) {
    .site-intro {
        .fast-facts {
            margin-top: 0;
        }
    }
}