TOOLS_PROJECT=l8g1vt-tools
TARGET_PROJECT=l8g1vt-dev
ADMIN_SERVER_NODEJS_BUILD=stir-admin-1-nodejs-server
ADMIN_SERVER_NODEJS_DEPLOYMENT=stir-admin-server
ADMIN_SERVER_MONGODB_DEPLOYMENT=stir-admin-mongodb
ADMIN_SERVER_MINIO_DEPLOYMENT=stir-admin-minio
ADMIN_SERVER_NGINX_BUILD=stir-admin-2-nginx
ADMIN_SERVER_NGINX_DEPLOYMENT=stir-admin-nginx
ADMIN_SERVER_BC_TEMPLATE=admin-1-admin-server-bc-on-tools.json
ADMIN_SERVER_BC_PARAMS=admin-1-admin-server-bc-on-tools.params
ADMIN_SERVER_DC_TEMPLATE=admin-2-admin-server-dc-on-env.json
ADMIN_SERVER_DC_PARAMS=admin-2-admin-server-dc-on-env-dev.params
NGINX_BC_TEMPLATE=admin-3-nginx-bc-on-tools.json
NGINX_BC_PARAMS=admin-3-nginx-bc-on-tools.params
NGINX_DC_TEMPLATE=admin-4-nginx-dc-on-env.json
NGINX_DC_PARAMS=admin-4-nginx-dc-on-env-dev.params