<section class="panel panel-default">
	<div class="block-content">
		<h3>Working Group Engagement Configuration</h3>

		<div class="panel-body">
			<!-- START/END DATE -->
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label class="control-label">Content for Review</label>
						<select ng-model="processEngageWGConfig.config.content" class="form-control">
							<option value="projectdescription">Project Description</option>
							<option value="draftair">Draft AIR</option>
							<option value="air">AIR</option>
							<option value="application">Application</option>
						</select>
					</div>
					<div class="form-group">
						<label class="control-label">Working Group Session Open</label>

						<div class="input-group">
							<input type="text"
								class="form-control text-center"
								ng-model="processEngageWGConfig.config.dateOpen"
								ng-disabled="1"/>
							<div x-modal-date-picker
								x-selected-date="processEngageWGConfig.config.dateOpen"
								class="input-group-addon btn-default">
							<i class="glyphicon glyphicon-calendar"></i></div>
						</div>
										
					</div>
					<div class="form-group">
						<label class="control-label">Working Group Session Close</label>

						<div class="input-group">
							<input type="text"
								class="form-control text-center"
								ng-model="processEngageWGConfig.config.dateClose"
								ng-disabled="1"/>
							<div x-modal-date-picker
								x-selected-date="processEngageWGConfig.config.dateClose"
								class="input-group-addon btn-default">
							<i class="glyphicon glyphicon-calendar"></i></div>
						</div>

					</div>
				</div>
				<div class="col-sm-3">
					<label class="control-label">Select Applicable Roles</label>
					<div class="well well-sm">
						<ul class="list-unstyled task-list">
							<li ng-repeat="role in ['admin', 'project-team', 'working-group', 'first-nations', 'consultant']">
								<button class="btn btn-block btn-sm btn-layer btn-default"
									ng-click="processEngageWGConfig.chosenRoles[role] = !processEngageWGConfig.chosenRoles[role]"
									ng-class="{'btn-success': processEngageWGConfig.chosenRoles[role]}">{{ role }}</button>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<label class="control-label">Instructions to Working Group</label>
					<textarea rows="6" ng-model="processEngageWGConfig.config.instructions" class="form-control"></textarea>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="panel panel-default">
	<div class="block-content">
		<h3>Notify Working Group</h3>
		<tmpl-notifications x-project=""></tmpl-notifications>
	</div>
</section> <!-- /panel -->