<div class="modal-header">
	<h3 class="modal-title">Order Detail</h3>
</div>

<div class="modal-body">

	<div class="form-group">
		<label for="part" class="control-label">Reviewable Projects Regulation Part Number</label>
		<input id="part" type="text" class="form-control input-sm" ng-model="ctrlOrderDetail.part">
	</div>

	<div class="form-group">
		<label for="orderThreshold" class="control-label">Reason / Threshold</label>
		<textarea ui-tinymce id="orderThreshold" type="text" class="form-control input-sm" ng-model="ctrlOrderDetail.threshold" rows=6></textarea>
	</div>

	<div class="form-group">
		<label for="orderDate" class="control-label">Order Date</label>
		<div class="input-group">
			<input id="orderDate" type="text" class="form-control text-center" ng-model="ctrlOrderDetail.dateOrder" ng-disabled="1"/>
			<div x-modal-date-picker x-selected-date="ctrlOrderDetail.dateOrder" class="input-group-addon btn-default"><i class="glyphicon glyphicon-calendar"></i></div>
		</div>
	</div>

</div> <!-- /modalbody -->

<div class="modal-footer">
	<a class="btn btn-default" href ng-click="ctrlOrderDetail.cancel()">Cancel</a>
	<a class="btn btn-default" href ng-click="ctrlOrderDetail.ok()">OK</a>
</div>

