<div class="modal-header">
	<button class="btn btn-default close" ng-click="cancel()"><span aria-hidden="true">×</span></button>
	<h3 class="modal-title">Select {{title}}</h3>
</div>

<div class="modal-body">
	<section class="panel panel-default no-margin add-vc-table">
		<table class="table table-scroll add-valued-component-table" ng-table="tableParams" show-filter="true">
			<tr ng-repeat="o in $data">
				<td class="select" data-title="'Name'"
					sortable="'name'"
					filter="{'name':'text'}"
					ng-click="toggleItem(o)"><input type="checkbox" ng-checked="index(o) !== -1"/>{{resolve(o, valueString)}}</td>
			</tr>
		</table>
	</section>
</div>

<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	<button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
