<div class="modal-header">
	<div class="pull-right">
		<div class="form-group">
			<input ng-model="filterText" type="text" class="form-control" placeholder="Filter">
		</div>
	</div>
	<h3 class="modal-title">{{ rd.term }} Related Content</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-sm-9">
			<p>{{ rd.relatedData.selectedContent }}</p>
		</div>

	</div>
	<hr/>
	
	<div ng-repeat="(heading, results) in rd.relatedData.relatedContent">
		<div ng-if="results">
			<div ng-repeat="(type, items) in results" class="form-group" >
				<label ng-click="form[type] = !form[type]" ng-class="{'clickable': fitlerItems.length > 0}" class="control-label">{{ heading }} {{ type }} (<span>{{ fitlerItems.length || 0 }}</span><span ng-if="fitlerItems.length < items.length">&nbsp;of&nbsp;{{ items.length }}</span>)</label>
				<div class="research-content clearfix container-fluid small" ng-repeat="item in fitlerItems = (items | filter:filterText)" ng-show="form[type]">
					<a href x-go-to-element x-go-to-id='item._id' x-go-to-project='item.projectId' x-go-to-type='type' class="pull-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></a>
					{{ item.description }}
				</div>
			</div>
		</div>

	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-warning" type="button" ng-click="rd.cancel()">Close</button>
</div>
