<section class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Recent Activity</h3>
	</div>
	<div class='panel-body'>


			<table class="table table-condensed table-no-head">
				<tbody>
					<tr ng-repeat="activity in raPanel.recentActivity">
						<td>
							<a html ui-sref="public.project({id: activity.projectId})">{{ activity.name }}</a> <small><em>{{activity.activity}}</em></small>
						</td>
						<td class="text-right no-wrap">
							{{ project.date }}
						</td>
					</tr>
				</tbody>
			</table>


		</div>
	</div>
</section>