
form {
    padding-top: 0.5rem;
}

.form-group {
    margin-bottom: 2rem;

    label {
        font-weight: 600;
    }
}

.form-btns {
    margin-top: 2rem;
}

.form-control {
    padding: 0.75rem;
    border: 2px solid #EEE;
    background: #eee;
    font-size: 0.9375rem;
    font-weight: 400;
}