<h1 class="page-title">
	Notify Contacts of {{artifact.type.type}} for {{ project.name }}
</h1>

<div class="block-content">
	<div ng-include="'modules/artifacts/client/views/partial.artifact-view.html'"></div>
</div>
<tmpl-notifications x-project="project"></tmpl-notifications>
<div>
	<a class="btn btn-default" ui-sref="p.artifactlist">Cancel</a>
	<a class="btn btn-success" ng-click="submit()">Notify</a>
</div>

<div  class="block-content" ng-include="'modules/artifacts/client/views/partial.artifact-notes.html'"></div>

<div  class="block-content" ng-include="'modules/artifacts/client/views/partial.artifact-comments.html'"></div>
