<div class="view-title-container flex-row">
	<h1>Notify Contacts <span>&nbsp;&rsaquo;&nbsp; {{artifact.name}}</h1>
	<div class="actions">
		<a class="btn btn-default btn-sm" ui-sref="p.artifact.view">Cancel</a>
		<a class="btn btn-primary btn-sm" href ng-click="saveProcess()">Save</a>
		<a class="btn btn-success btn-sm" href ng=click="submit()" ng-show="form.curTab === 'Recipients' && status === 'pending' && dateQueued">Add to Queue</a>
	</div>
</div>

<div class="view-body-container artifact-view">

<section>
	<ul class="nav nav-tabs" ng-init="form.curTab = 'Content'">
		<li role="presentation" ng-class="{'active':form.curTab === 'Content'}"><a href ng-click="form.curTab = 'Content'">Content</a></li>
		<li role="presentation" ng-class="{'active':form.curTab === 'Schedule'}"><a href ng-click="form.curTab = 'Schedule'">Schedule</a></li>
		<li role="presentation" ng-class="{'active':form.curTab === 'Recipients'}"><a href ng-click="form.curTab = 'Recipients'">Recipients <span title="Receiving Digital">({{ form.recipEmail || 0 }})</span> <span title="Receiving Traditional Mail">({{ form.recipMail || 0}})</span></a></li>
	</ul>

	<!-- CONTENT TAB -->
	<div class="tab-pane" ng-show="form.curTab === 'Content'">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label class="control-label" for="template">Email Content Template</label>
					<select type="text" id="template" class="form-control" ng-options="tmp as tmp.name group by tmp.group for tmp in emailTemplates track by tmp.code" ng-change="setContent()" ng-model="selectedTemplate"></select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<textarea class="form-control" rows="5" ng-model="mailContent"></textarea>
			</div>
		</div>
	</div>
	<!-- CONTENT TAB -->

	<!-- SCHEDULE TAB -->
	<div class="tab-pane" ng-show="form.curTab === 'Schedule'">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">

				<div class="form-group">
					<label class="control-label" for="scheduledDate">Send On</label>
					<div class="input-group">
						<input type="text" class="form-control text-center" ng-model="dateQueued" ng-disabled="1"/>
						<div x-modal-date-picker x-selected-date="dateQueued" class="input-group-addon btn-default"><i class="glyphicon glyphicon-calendar"></i></div>
					</div>
				</div>

				<div class="form-group text-center" ng-if="status === 'pending' && dateQueued" >
					<a class="btn btn-success" href ng-click="status = 'queued'">Add to Queue</a>
				</div>

				<div class="form-group text-center" ng-if="status === 'queued'" >
					<a class="btn btn-warning" href ng-click="status = 'pending'">Remove from Queue</a>
				</div>

				<div class="form-group text-center" ng-if="status === 'sent'" >
					<p ng-if="status === 'sent'">Sent on {{ dateSent  | amDateFormat:'MMM Do, YYYY hh:mm a' }}</p>
				</div>

			</div>
		</div>
	</div>
	<!-- SCHEDULE TAB -->

		<div class="tab-pane" ng-show="form.curTab === 'Recipients'">
			<!-- Recipients -->
			<div class="row">
				<div class="col-sm-12 text-right small">
					<a href x-modal-select-users
						x-callback="addRecipients"
						x-unique="true"
						x-users="customRecipients"
						x-project="project">Add Recipients</a> | <a href x-modal-recipient-list x-users="recipients.mailOut">Get Addresses</a>
				</div>
			</div>
			<div class="row" ng-repeat="(type, list) in recipients">
				<div class="col-sm-6">
					<div ng-if="list.viaEmail.length > 0">
						<label class="control-label">{{ type }} By Email</label>
						<div class="well well-sm">
							<ul class="list-unstyled no-lower-margin">
								<li ng-repeat="user in list.viaEmail" ng-init="form.recipEmail = (form.recipEmail + 1)">
									<a href x-modal-user-contact-info x-user="user">{{ user.displayName }} <em class="small">{{ user.email }}</em></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div ng-if="list.viaMail.length > 0">
						<label class="control-label">{{ type }} By Traditional Mail</label>
						<div class="well well-sm">
							<ul class="list-unstyled no-lower-margin">
								<li ng-repeat="user in list.viaMail" ng-init="form.recipMail = (form.recipMail + 1)">
									<a href x-modal-user-contact-info x-user="user">{{ user.displayName }}</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-if="!recipients">
				<div class="col-sm-12">
					No recipients indicated.
				</div>
			</div>
		</div>

		<div class="form-footer no-border clearfix">
			<div class="pull-left form-control-static" ng-show="status === 'queued' && dateQueued && !dateSent">
				Date Queued: {{ dateQueued  | amDateFormat:'MMM Do, YYYY hh:mm a' }}
			</div>
			<div class="pull-left form-control-static" ng-show="dateSent">
				Date Sent: {{ dateSent  | amDateFormat:'MMM Do, YYYY hh:mm a' }}
			</div>
		</div>

</section>

<tmpl-artifact-display x-mode="'view'" x-artifact="artifact" x-project="project"></tmpl-artifact-display>

<div ng-include="'modules/artifacts/client/views/partial.artifact-notes.html'"></div>
<div ng-include="'modules/artifacts/client/views/partial.artifact-comments.html'"></div>

</div>