
<div class="view-title-container flex-row">
	<h1>{{artifact.name}}</h1>
	<div class="actions">
		<a class="btn btn-default btn-sm" ng-if="artifact.stage === 'Edit' && artifact.userCan.write" ui-sref="p.artifact.edit({artifactId:artifact._id})"><span class="glyphicon glyphicon-pencil"></span><span>Edit</span></a>
		<a class="btn btn-default btn-sm" ng-if="artifact.stage === 'Review' && rolePermissions['Review']" ui-sref="p.artifact.review({artifactId:artifact._id})"><span class="glyphicon glyphicon-pencil"></span><span>Edit</span></a>
		<a class="btn btn-default btn-sm" ng-if="artifact.stage === 'Approval' && rolePermissions['Approval']" ui-sref="p.artifact.approve({artifactId:artifact._id})"><span class="glyphicon glyphicon-pencil"></span><span>Edit</span></a>
		<a class="btn btn-default btn-sm" ng-if="artifact.stage === 'Executive Approval' && rolePermissions['Executive Approval']" ui-sref="p.artifact.executive({artifactId:artifact._id})"><span class="glyphicon glyphicon-pencil"></span><span>Edit</span></a>
		<a class="btn btn-default btn-sm" ng-if="artifact.stage === 'Decision' && rolePermissions['Decision']" ui-sref="p.artifact.decision({artifactId:artifact._id})"><span class="glyphicon glyphicon-pencil"></span><span>Edit</span></a>
		<a class="btn btn-default btn-sm" ng-if="artifact.stage === 'Publish' && rolePermissions['Publish']" ui-sref="p.artifact.publish({artifactId:artifact._id})"><span class="glyphicon glyphicon-pencil"></span><span>Edit</span></a>

		<tmpl-permissions-gear class="permission-btn" x-context="project" x-object="artifact"></tmpl-permissions-gear>
	</div>
</div>

<div class="view-body-container">
	<tmpl-artifact-display x-mode="'view'" x-artifact="artifact" x-project="project"></tmpl-artifact-display>
	<div ng-if="authentication.user" ng-include="'modules/artifacts/client/views/partial.artifact-notes.html'"></div>
	<div ng-if="authentication.user" ng-include="'modules/artifacts/client/views/partial.artifact-comments.html'"></div>
</div>
