<div class="modal-header">
	<h3 class="modal-title">Project VC's</h3>
</div>
<div class="modal-body">
	<ul class="list-group">
		<li ng-repeat="art in s.artifacts" ng-click="s.selected = art._id" class="list-group-item clickable" ng-class="{'active':(s.selected === art._id)}">
		<span ng-if="art.published" class="label label-success pull-right">published</span>
		{{ art.name }} ( {{ art.version }} )
		</li>
	</ul>
</div>
<div class="modal-footer">
 	<button class="btn btn-default" ng-click="s.cancel()">Cancel</button>
	<button class="btn btn-primary" ng-click="s.ok()" ng-disabled="!s.selected">Select <span aria-hidden="true">&rarr;</span></button>
</div>
