<div ng-if="artifact.isTemplate">
	<!--

		This section gets displayed if the content is a template

	 -->
	<tmpl-template-render ng-if="artifact.isTemplate" x-template="artifact.template" x-mode="mode" x-project="project" x-document="artifact.templateData"></tmpl-template-render>
</div>
<div ng-if="!artifact.isTemplate" ng-init="editable=false">
	<!--

		This section gets displayed if the content is a document

	 -->
	<div class="row">

	    <div class="col-sm-12">


	        <div class="panel panel-info">
	            <div class="panel-heading">
	            	Main Artifact Document
	            </div>
	            <div class="panel-body">
	                <div class="file-horiz">
	                    <span class="glyphicon glyphicon-list-alt"></span>
	                    <div ng-if="!artifact.document._id">
	                        <small>
	                            [ no document uploaded yet ] <br/> FOR <br/>
	                            {{ artifact.name }} ({{ artifact.version }} {{ artifact.stage }})<br/>
	                            <a href ng-if="mode === 'edit'" x-modal-document-link class="btn btn-xs btn-link" x-current="artifact.maindocument" x-project="project">
	                                + Upload Document
	                            </a>
	                        </small>
	                    </div>
	                    <div class="panel panel-info"  ng-if="artifact.document._id">
	                        <a href="/api/document/{{ file._id }}/fetch" target="_blank">
	                            <small>
	                            	{{ artifact.document.internalOriginalName }}<br/> AS <br/>
	                                {{ artifact.name }} ({{ artifact.version }} {{ artifact.stage }})<br/>
	                                <a href ng-if="mode === 'edit'" x-modal-document-link class="btn btn-xs btn-link" x-current="artifact.maindocument" x-project="project">
	                                    + Upload Document
	                                </a>
	                            </small>
	                        </a>
	                    </div>
	                </div>
	            </div>
	        </div>
		</div>

		<div class="col-sm-12">
			<div x-content-document ng-model="artifact.supportingDocuments" title="'Supporting Documents'" project="project" editable="mode === 'edit'"></div>
		</div>
	</div>
</div>
