
<div class="view-title-container flex-row">
	<h1>{{artifact.name}}</h1>
	<div class="actions">
		<a class="btn btn-default btn-sm" title="Cancel" ui-sref="p.artifact.view({artifactId:artifact._id})">Cancel</a>
        <a class="btn btn-default btn-sm" title="Reset" ng-click="reset()" ng-if="rolePermissions[artifact.stage]">Reset</a>
		<a class="btn btn-success btn-sm" title="Publish Content" ng-click="submit()" ng-if="rolePermissions[artifact.stage]">Publish Content</a>
	</div>
</div>

<div class="view-body-container">
	<tmpl-artifact-display x-mode="'view'" x-artifact="artifact" x-project="project"></tmpl-artifact-display>

	<div ng-include="'modules/artifacts/client/views/partial.artifact-notes.html'"></div>
	<div ng-include="'modules/artifacts/client/views/partial.artifact-comments.html'"></div>

</div>

