<h1 class="page-title">
	Approve {{artifact.type.type}} ({{artifact.version}}) for {{ project.name }}
</h1>

<div class="block-content">
	<div ng-include="'modules/artifacts/client/views/partial.artifact-view.html'"></div>
</div>

<div>
	<h4>Approval / Rejection Note</h4>
	<textarea ng-model="artifact.approvalnote"></textarea>
</div>
<div>
	<a class="btn btn-default" ui-sref="p.detail">Cancel</a>
	<a class="btn btn-success" ng-click="reject()">Reject and return for {{buttons.prev}}</a>
	<a class="btn btn-success" ng-click="submit()">Accept for {{buttons.next}}</a>
</div>

<div  class="block-content" ng-include="'modules/artifacts/client/views/partial.artifact-notes.html'"></div>

<div  class="block-content" ng-include="'modules/artifacts/client/views/partial.artifact-comments.html'"></div>

