
<div class="view-title-container flex-row">
	<h1>{{artifact.name}}</h1>
	<div class="actions">
		<a class="btn btn-default btn-sm" title="Cancel" ui-sref="p.artifact.view">Cancel</a>
		<button class="btn btn-danger btn-sm" title="Reject" ng-click="reject()" ng-if="rolePermissions[artifact.stage]">Reject</button>
		<button class="btn btn-success btn-sm" title="Submit for {{buttons.next}}" ng-click="submit()" ng-if="rolePermissions[artifact.stage]">Submit for {{buttons.next}}</button>
	</div>
</div>

<div class="view-body-container">
	<tmpl-artifact-display x-mode="'view'" x-artifact="artifact" x-project="project"></tmpl-artifact-display>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Approval / Rejection Note</h2>
		</div>
		<div class="panel-body">
			<textarea class="form-control no-margin" rows="6" ng-model="artifact.approvalnote"></textarea>
		</div>
	</div>

	<div ng-include="'modules/artifacts/client/views/partial.artifact-notes.html'"></div>
	<div ng-include="'modules/artifacts/client/views/partial.artifact-comments.html'"></div>

	<div class="form-footer clearfix">
		<div class="pull-right">
			<a class="btn btn-default btn-sm" title="Cancel" ui-sref="p.artifact.view">Cancel</a>
			<button class="btn btn-danger btn-sm" title="Reject and return for {{buttons.prev}}" ng-click="reject()" ng-if="rolePermissions[artifact.stage]">Reject</button>
			<button class="btn btn-success btn-sm" title="Submit for {{buttons.next}}" ng-click="submit()" ng-if="rolePermissions[artifact.stage]">Submit for {{buttons.next}}</button>
		</div>
	</div>

</div>

