<h1 class="page-title">
	Edit {{artifact.type.type}} ({{artifact.version}}) for {{ project.name }}
</h1>

<div class="block-content">
	<div ng-include="'/modules/artifacts/client/views/partial.artifact-edit.html'"></div>
</div>

<div class="block-content" ng-include="'/modules/artifacts/client/views/partial.artifact-notes.html'"></div>

<div class="block-content" ng-include="'/modules/artifacts/client/views/partial.artifact-comments.html'"></div>

<div>
	<a class="btn btn-default" ui-sref="p.detail">Cancel</a>
	<a class="btn btn-success" ng-click="save()">Save</a>
	<a class="btn btn-success" ng-click="saveas()">Save As</a>
	<select ng-model="version" class="form-control" ng-options="v as v for v in artifact.type.versions"></select>
	<a class="btn btn-success" ng-click="submit()">Submit for {{buttons.next}}</a>
</div>
