<h1 class="page-title">
	Comment On {{artifact.name}} ({{artifact.version}}) for {{ project.name }}
</h1>

<div class="text-right">
	<a class="btn btn-link btn-xs" ui-sref="p.artifact.view">Cancel</a>
</div>

<!-- <div ng-include="'modules/artifacts/client/views/partial.artifact-view.html'"></div> -->

<tmpl-artifact-display x-mode="'view'" x-artifact="artifact" x-project="project"></tmpl-artifact-display>

<div class="panel panel-default">
	<div class="panel-body">
		<tmpl-wg-comments></tmpl-wg-comments>
	</div>
</div>

<div ng-include="'modules/artifacts/client/views/partial.artifact-notes.html'"></div>
<div ng-include="'modules/artifacts/client/views/partial.artifact-comments.html'"></div>

