<div ng-if="artifact.isTemplate">
	<!--

		This section gets displayed if the content is a template

	 -->
	<tmpl-template-render x-template="artifact.template" x-mode="view" x-project="project" x-document="artifact.templateData"></tmpl-template-render>
</div>


<div ng-if="!artifact.isTemplate">
<div class="row">
	<!--

		This section gets displayed if the content is a document

	 -->
	<div class="col-sm-3">
		<h4>Main Document</h4>
		<div ng-if="artifact.document">
		[ no document uploaded yet ]
		</div>
		<div ng-if="!artifact.document">
			<span class="glyphicon glyphicon-file"></span> {{artifact.type.type}} - {{artifact.version}}
		</div>
		<div>
		<small ng-if="artifact.document"><a href="/api/document/{{ artifact.document._id }}/fetch"target="_blank" title="Download">
			<span class="glyphicon glyphicon-download"></span> Download Document</a>
		</small>
		</div>
	</div>
	<div>
		<h4>Supporting Documents</h4>
		[[ this is where a list of upporting documents will go ]]
	</div>
</div>
</div>
