<div class="row">

  <div class="col-sm-12">
    <h4>Collection of Artifacts</h4>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="file-horiz">
          <span class="glyphicon glyphicon-list-alt"></span>
          <div ng-if="!artifact.document._id">
            <small>
              [ no document uploaded yet ] <br/> FOR <br/>
              {{ artifact.name }} ({{ artifact.version }} {{ artifact.stage }})<br/>
              <a href ng-if="editable" x-modal-document-link class="btn btn-xs btn-link"
                 x-current="artifact.maindocument" x-project="project">
                + Upload Document
              </a>
            </small>
          </div>
          <div class="panel panel-info" ng-if="artifact.document._id">
            <a href="/api/document/{{ file._id }}/fetch" target="_blank">
              <small>
                {{ artifact.document.internalOriginalName }}<br/> AS <br/>
                {{ artifact.name }} ({{ artifact.version }} {{ artifact.stage }})<br/>
                <a href ng-if="editable" x-modal-document-link class="btn btn-xs btn-link"
                   x-current="artifact.maindocument" x-project="project">
                  + Upload Document
                </a>
              </small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12">
    <div x-content-document ng-model="artifact.supportingDocuments" title="'Supporting Documents'" project="project"
         editable="editable"></div>
  </div>

  <div class="col-sm-12">
    <div x-content-document ng-model="artifact.additionalDocuments" title="'Additional Documents'" project="project"
         editable="editable"></div>
  </div>

  <div class="col-sm-12" ng-hide="!authentication.user && !authentication.user._id || !artifact.canSeeInternalDocuments">
    <div x-content-document ng-model="artifact.internalDocuments" title="'Internal Documents'" project="project"
         editable="editable"></div>
  </div>
</div>



