
<div class="panel panel-default" ng-if="artifact.reviewNotes.length">
	<div class="panel-heading">
		<h2>Review Notes</h2>
	</div>
	<div class="panel-body">
		<div class="block-content" ng-if="artifact.reviewNotes.length" ng-repeat="note in artifact.reviewNotes">
			<pre>{{ note.note }}</pre>
			<p><span class="small">{{ note.username }} &bullet; {{ note.date | amDateFormat:'dddd, MMMM Do YYYY hh:mm a' }}</span></p>
		</div>
	</div>
</div>

<div class="panel panel-default" ng-if="artifact.approvalNotes.length">
	<div class="panel-heading">
		<h2>Approval Notes</h2>
	</div>
	<div class="panel-body">
		<div class="block-content" ng-if="artifact.approvalNotes.length" ng-repeat="note in artifact.approvalNotes">
			<pre>{{ note.note }}</pre>
			<p><span class="small">{{ note.username }} &bullet; {{ note.date | amDateFormat:'dddd, MMMM Do YYYY hh:mm a' }}</span></p>
		</div>
	</div>
</div>

<div class="panel panel-default" ng-if="artifact.decisionNotes.length">
	<div class="panel-heading">
		<h2>Decision Notes</h2>
	</div>
	<div class="panel-body">
		<div class="block-content" ng-if="artifact.decisionNotes.length" ng-repeat="note in artifact.decisionNotes">
			<pre>{{ note.note }}</pre>
			<p><span class="small">{{ note.username }} &bullet; {{ note.date | amDateFormat:'dddd, MMMM Do YYYY hh:mm a' }}</span></p>
		</div>
	</div>
</div>
