<div class="modal-header">
	<button type="button" class="btn btn-default close" ng-click="s.cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Submit a Comment</h3>
</div>

<!-- COMMENT FORM - STEP 1 -->
<form class="comment-form-1" ng-if="s.step===1">
	<div class="modal-body">
		<h4>Submitting Your Comments: How it Works</h4>
		<p>All accepted comments submitted to the Environmental Assessment Office (EAO) will be published online within seven days of receipt. Comments are not accepted if - in EAO’s view - they are profane, abusive or do not relate to the matter being consulted upon as stated in our  <a href="http://www.eao.gov.bc.ca/pdf/EAO_Policy_Public_Comment.pdf" target="_blank">Public Comment Policy [PDF]</a>.</p>
		<p>EAO forwards all accepted comments to the project proponent so they can be considered during the project's environmental assessment.</p>
		<p>You may choose to provide your name and city/town when making a comment, but in order to have your name displayed with your comment; you must select the 'Make my Name visible to public' option. All hyperlinks in comments will be converted to plain text. All attachments must be no larger than <strong>5MB</strong>.</p>
		<hr>
		<p><strong>Privacy Policy</strong></p>
		<p>Personal information collected through this comment period will inform the Environmental Assessment Office on the <em>{{project.name}} Project</em> under the authority of s.26 (c) and (e) of the <a href="http://www.bclaws.ca/Recon/document/ID/freeside/96165_00" target="_blank">Freedom of Information and Protection of Privacy Act</a>. If you have any questions about the collection, use and disclosure of your personal information, please contact:</p>
		<p class="m-b-0">Rumon Carter - Director, Engagement &amp; Digital Services<br>Environmental Assessment Office<br>836 Yates Street, Victoria, BC<br>Rumon.Carter@gov.bc.ca<br>(250) 356-7440
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="s.cancel()">Cancel</button>
		<button type="button" class="btn btn-success" ng-click="s.next()">Continue</button>
	</div>
</form>
<!-- / COMMENT FORM - STEP 1 -->

<!-- COMMENT FORM - STEP 2 -->
<form class="comment-form" ng-if="s.step===2">
	<div class="modal-body">
		<fieldset>
			<div class="row">
				<div class="form-group col-sm-12 col-md-6">
					<label class="control-label">Name<em>Optional</em></label>
					<input ng-model="s.comment.author" class="form-control" placeholder="Anonymous" type="text" />
				</div>
				<div class="form-group col-sm-12 col-md-6">
					<label class="control-label">Location<em>Optional</em></label>
					<input ng-model="s.comment.location" class="form-control" placeholder="IE: City, Province, etc." type="text" />
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-12">
					<div class="checkbox comment-opt-in">
						<label><input ng-model="s.comment.makeVisible" type="checkbox" />Make my Name visible to public.</label>
					</div>
					<div class="help-block">All comments are submitted anonymously by default. Checking this option will display your Name (if entered) on the public site.</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-12">
					<label class="control-label">Your Comment</label>
					<textarea id="content" rows="10" name="content" class="form-control" ng-model="s.comment.comment"></textarea>
				</div>
			</div>
			<div class="row">
				<div class="upload-attachments form-group no-margin col-sm-12">
					<label class="control-label">Upload Attachments</label>
					<div class="alert alert-danger" ng-show="s.showAlert">
						All attachments must be no larger than <strong>5MB</strong>.
						<button type="button" class="close">
							<span ng-click="s.closeAlert()">&times;</span>
						</button>
					</div>

					<!-- UPLOAD CONTAINER -->
					<div class="fb-upload-container">
						<div class="fb-upload-target-container">
							<div class="fb-upload-target pcp" 
								ngf-drop 
								ngf-select
								ngf-allow-dir="true"
								ng-model="s.comment.files"
								ngf-drag-over-class="fb-upload-target-hover"
								ngf-multiple="true">
								<div class="fb-upload-target-content">
									<span class="glyphicon glyphicon-open icon-default"></span>
									<span class="fb-upload-target-msg"><b>Drag &amp; Drop</b> or <b>browse files</b> to upload.</span>
									<span class="fb-upload-req-msg">Size limited to 5MB.</span>
								</div>
								<div class="fb-upload-target-border"></div>
							</div>

							<!-- UPLOAD STATUS -->
							<div class="fb-upload-target-status" ng-if="uploadService.actions.busy || uploadService.actions.completed"></div>
						</div>

						<div class="file-browser" ng-if="s.fileList != 0">
							<div class="fb-body">

								<div class="fb-list">
									<ul>
										<li class="fb-list-item" ng-class="{'has-error': f.$error}" ng-repeat="f in s.fileList">
											<span class="fb-col-group">							
												<span class="col name-col">
													<span class="avatar">
														<span class="fb-file glyphicon glyphicon-file"></span>
													</span>
													{{f.name}}
												</span>
												<span class="col file-size-progress-col">
													<div class="progress-container">
														<div class="progress-msg">
															<span ng-if="f.progress && f.progress < 100">{{f.progress}}% of </span> 
															<span>{{f.size | bytes:2}}</span>
															<span ng-if="f.progress == 100"> - Complete</span>
														</div>
														<div class="progress">
															<div class="progress-bar" style="width:{{f.progress}}%" title="{{f.progress}}%" role="progressbar"></div>
														</div>
													</div>
													<button class="btn icon-btn" title="Remove File"
														ng-click="s.comment.removeFile(f)"
														ng-disabled="f.progress">
														<span class="glyphicon glyphicon-trash"></span>
													</button>
												</span>
											</span>
										</li>
									</ul>
								</div>

							</div>
						</div>

					</div><!-- / UPLOAD CONTAINER -->
				</div>

			</div>
		</fieldset>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="s.cancel()">Cancel</button>
		<button type="button" class="btn btn-success" ng-click="s.submit()" ng-disabled="!s.comment.comment && s.fileList.length === 0">Submit Comment</button>
	</div>
</form><!-- / COMMENT FORM - STEP 2 -->

<!-- COMMENT FORM - STEP 3 -->
<div class="comment-submit-success" ng-if="s.step===3">
	<div class="modal-body">
		<h4>Thank you for your comment!</h4>
		<p>What happens next? EAO publishes all comments received within seven days of receipt, except comments that EAO deems to be inappropriate for publication. Comments may be considered inappropriate for publication if - in EAO’s view - they are profane, abusive or do not relate to the matter being consulted upon as stated in our <a href="http://www.eao.gov.bc.ca/pdf/EAO_Policy_Public_Comment.pdf" target="_blank">Public Comment Policy [PDF]</a>.</p>
	</div><!-- / COMMENT RECEIVED -->
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="s.ok()">OK</button>
	</div>
</div>

<div class="comment-submit-error" ng-if="s.step===4">
	<div class="modal-body">
		<div class="alert alert-danger">
			Oops. Something went wrong here...
		</div>
		<p>We can't accept your comment at this time. Please try again later.</p>
	</div><!-- / COMMENT RECEIVED -->
	<div class="modal-footer">
		<button type="button" class="btn btn-default" ng-click="s.ok()">OK</button>
	</div>
</div><!-- / COMMENT FORM - STEP 3 -->

