<div >
    <div ng-if="s.isEao">
        <!-- PROTOTYPE EAO ROW TEMPLATES  -->
        <ul class="tab-container nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#pendingReview" aria-controls="pendingReview" role="tab" data-toggle="tab">Pending Review (X)</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Deferred (X)</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Published (X)</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Rejected (X)</a></li>
        </ul>
    </div>
    <div ng-if="s.isProponent">
        <!-- PROPONENT TEMPLATES  -->
        <ul class="tab-container nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#pendingReview" aria-controls="pendingReview" role="tab" data-toggle="tab">Unassigned (X)</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Assigned (X)</a></li>
        </ul>
    </div>
            <div class="public-comment-panel panel panel-default">
                <table ng-table="s.tableParams" show-filter="true" class="eao-comment-table table table-striped table-hover">
                    <tr class="comment-row" ng-repeat="o in $data" ui-sref="p.artifact.view({artifactId:o.artifact})">
                        <td
                            class="comment-col"
                            header-class="'comment-col no-mobile'"
                            data-title="'Posted by'"
                            filter="{'comment':'text'}"
                            sortable="'comment'"
                        >
                            <h2 ng-if="::o.isAnonymous" class="comment-title">Anonymous</h2>
                            <h2 ng-if="::!o.isAnonymous" class="comment-title">{{ ::o.author }}</h2>
                            <div ng-init="toggleProject.desc = (false)">
                                <p class="comment">{{ ::o.comment }}</p>
                            </div>
                        </td>
                        <td
                            class="location-col no-mobile"
                            header-class="'location-col no-mobile'"
                            data-title="'Location'"
                            filter="{'location':'text'}"
                            sortable="'location'"
                        >
                            {{ ::o.location }}
                        </td>
                        <td
                            class="pillar-col"
                            header-class="'pillar-col no-mobile'"
                            data-title="'Pillars'"
                            filter="{'pillars':'text'}"
                            sortable="'pillars'"
                        >
                            <ul>
                            <li ng-repeat="pillar in o.pillars">{{pillar}}</li>
                            </ul>
                        </td>
                        <td
                            class="vc-col"
                            header-class="'pillar-col'"
                            data-title="'Valued Components'"
                            filter="{'vcs':'text'}"
                            sortable="'vcs'"
                        >
                            <ul>
                            <li ng-repeat="vc in o.vcs">{{vc}}</li>
                            </ul>
                        </td>
                        <td
                            class="attachment-col"
                            header-class="'attachment-col no-mobile'"
                        >
                            <span class="glyphicon glyphicon-paperclip" ng-if="o.documents.length > 0"></span>
                        </td>
                        <td
                            class="date-col"
                            header-class="'date-col'"
                            data-title="'Date Posted'"
                            filter="{'dateAdded':'text'}"
                            sortable="'dateAdded'"
                        >
                            {{o.dateAdded | date : 'yyyy-MM-dd' : 'PST'}}
                        </td>
                    </tr>
                    <tr ng-if="!$data || $data.length === 0">
                        <td colspan="7">No records found.</td>
                    </tr>
                </table>
            </div>
    <!-- / EAO ROW TEMPLATES  -->
</div>
