<!-- COMMENT DETAIL MODAL  -->
<div class="public-comment-modal modal fade" id="commentDetailModal" role="dialog" tabindex="-1">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn btn-default close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">Public Comment  &nbsp;&rsaquo;&nbsp; Anonymous</h3>
			</div>
			<div class="modal-body">
     
                <section>
                    <label>Posted March 21, 2016</label>
                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                </section>
                
                <!-- PILLARS / VALUED COMPONENTS -->
                <section>
                    <div class="detail-row">
                        <label>Pillar</label>
                        <span class="value">Health, Environment, Heritage</span>
                    </div>
                    <div class="detail-row">
                        <label>Valued Components</label>
                        <span class="value">Air Quality, Water Quality, Regulatory Process, Rights & Titles</span>
                    </div>
                </section>
                
                <!-- ATTACHMENTS -->
                <section>
                    <div class="detail-row">
                        <label>Attachments</label>
                        <div class="attachments list-group">
                            <a class="list-group-item">
                                <div class="file-name">file-name-1.jpg</div>
                                <button class="file-action btn btn-link">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button> 
                            </a>
                            <a class="list-group-item">
                                <div class="file-name">file-name-1.jpg</div>
                                <button class="file-action btn btn-link">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                </button>  
                            </a>
                        </div>
                    </div>
                </section><!-- / ATTACHMENTS -->
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="close">Close</button>
			</div>
		</div>
	</div>
</div><!-- / COMMENT DETAIL MODAL -->