<div class="modal-header">
	<button type="button" class="btn btn-default close" ng-click="s.cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Add Open House</h3>
</div>

<div class="modal-body">
	<div class="form-group">
		<label class="control-label">Event Date</label>
		<div class="form-inline">
			<div class="form-control date-picker" x-modal-date-picker x-selected-date="s.openHouse.eventDate">
				<span ng-if="!s.openHouse.eventDate">Select Date</span>
				{{ s.openHouse.eventDate | amDateFormat:'MMM Do, YYYY' }}
				<span class="glyphicon glyphicon-calendar"></span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label class="control-label">Open House Details</label>
		<textarea id="content" rows="10" name="content" class="form-control" ng-model="s.openHouse.description" required></textarea>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="s.cancel()">Cancel</button>
	<button type="button" class="btn btn-primary" ng-click="s.ok()">OK</button>
</div>

