<div class="modal-header">
	<button type="button" class="btn btn-default close" ng-click="s.cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Add Open House</h3>
</div>

<form name="openHouseForm" novalidate>
<div class="modal-body">
	<div class="form-group" x-show-errors>
    <label class="control-label">Start Date<em class="control-label">(YYYY-MM-DD)</em></label>
    <div class="datepicker__input">
      <p class="input-group">
        <input class="form-control" placeholder="YYYY-MM-DD"  id="dateStart" name="dateStart"
            ng-model="s.openHouse.eventDate" type="text"
            uib-datepicker-popup
            is-open="datePicker.opened"
            datepicker-options="dateOptions"
            close-text="Close"
            ng-change="validate()"/>
        <span class="input-group-btn">
          <span class="btn btn-default" ng-click="dateOpen()"><span class="glyphicon glyphicon-calendar"/></span>
        </span>
      </p>
    </div>
	<div class="form-group" x-show-errors>
		<label class="control-label">Open House Details<em class="control-label">(Required)</em></label>
		<textarea id="content" rows="10" name="content" class="form-control" ng-model="s.openHouse.description" required></textarea>
	</div>
</div>
</form>

<div class="modal-footer">
	<button type="button" class="btn btn-default" ng-click="s.cancel()">Cancel</button>
	<button type="button" class="btn btn-primary" ng-click="s.ok(openHouseForm.$valid)">OK</button>
</div>

