$section-border: 1px dotted #999;
$section-header-bg: #fff;

.user-entry-permissions {
    .permission-list-container {
        @include flexbox();
        margin-bottom: 0;
        padding: 2rem 1.5rem;

        section {
            @include flex(0 0 auto);
            margin: 0;
            padding: 0;
            width: 50%;
        }
    }

    section {
        border: none;

        h3 {
            margin: 0;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: bold;

            .label {
                margin-top: -0.4rem;
                margin-right: 0.5rem;
                vertical-align: top;
                font-weight: bold;

                &.label-default {
                    opacity: 0.5;
                }

                &.label-primary {
                    opacity: 1;
                }
            }
        }

        ul {
            margin-top: 0.75rem;
            margin-bottom: 0;
            padding: 0;

            li {
                display: inline-block;

                &:after {
                    margin-right: 0.75rem;
                    content: ",";
                }

                &:last-child:after {
                    display: none;
                }
            }
        }
    }
}

/*
Dashboard drop zone
 */
.rowContainer {
    /* to make the content stretch to fit the available panel */
    width: 100%;
}
.dropDocAccordian, .dropDocList {
    list-style: none;
    padding: 0;
    overflow: auto;
}

.dropDocAccordian{
    /* to line up with Project name */
    padding-left: 6rem;
}

.dropDocAccordian, .dropDocList:hover{
    background-color: #ffffff;
}
.dropDocRow{
    padding-bottom: 1.5rem;
}
.dropFileCol {
    display: inline-block;
    padding-right: 1rem;

    &:last-child {
        padding-right: 0;
    }
}
.docName {
    width: 30rem;
}
.docUploadUser, .docUploadDate {
    width: 15rem;
}
.docActions {
    width: 5rem;
}
.docDescription {
    width: 80%;
    margin-left: 3rem;
    margin-top: 0.5rem;
}

/*
.table tbody > tr > td {
    padding: 1.25rem 0.5rem;
    border-top: none;
    border-bottom: 1px solid #EEE;
    vertical-align: middle;
}
*/

.toggle {
    display: table-cell;
    width: 3.5rem;
    vertical-align: middle;
    text-align: center;

    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
    }

    .close-icon {
        display: block;
    }

    .open-icon {
        display: none;
    }

    &.collapsed {
        .close-icon {
            display: none;
        }

        .open-icon {
            display: block;
        }
    }
}

.projectsTable,
.projectsTable > thead,
.projectsTable > thead > tr,
.projectsTable > thead > tr > th,
.projectsTable > tbody,
.projectsTable > tbody > tr,
.projectsTable > tbody > tr > td,
.rowNestedTable,
.rowNestedTable > tbody,
.rowNestedTable > tbody > tr,
.rowNestedTable > tbody > tr > td,
.rowContainer
{
    border: none;
    padding: 0;
    margin: 0;
}

.nameCol {
    width: 40rem;
}

.typeCol,
.regionCol,
.phaseCol,
.statusCol {
    width: 20rem;
}
.actionCol {
    width: 10rem;
}
.expandCol {
    width: 5rem;
}


.hdrRow th,
.projectRow td
{
    /* use important to override the explict table definitions from bootstrap and core */
    padding-top: 1rem !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    padding-bottom: 1rem !important;

}

.dropMoveDialog {
    .displayName {
        font-weight: bolder;
        font-family: sans-serif;
    }

    .fb-breadcrumbs {
        /* handle long directory names with scroll */
        overflow: auto;
    }
}
