
.dzf-container {
    background: transparent;
}

.dzf-project-row {
    margin-top: 2px;
}

.dzf-table {
    border-top: 1px solid #EEE;

    td {
        border-bottom-color: #fff !important;
    }

    .project-name-col {
        a {
            margin-top: 0.25rem;
            display: inline-block;
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

    .expand-col {
        width: 4rem;
        padding-right: 0;
        padding-left: 1rem;
        
        .icon-btn {
            .glyphicon {
                font-size: 1.4rem;
            }
        }
    }
    
    .upload-col {
        width: 7rem;
        padding-right: 1rem;
        text-align: center;
    }

    .inbox-col {
        width: 5rem;
        text-align: center;

        label {
            min-width: 2.5rem;
            margin-top: 3px;
            font-size: 1.3rem;
            font-weight: bold;
        }
    }

    .actions-col {
        width: 6rem;
    }
}

.dzf-collapse-panel {
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    background: #fff;

    .dzf-file-container {
        border: 1px solid #ddd;

        .no-results {
            padding: 1.25rem;
        }
    }
}

.dzf-file-table {
    td {
        vertical-align: top !important;
    }

    .no-results {
        &:hover {
            background: transparent;
            cursor: none;
        }
    }

    .name-col {
        padding-left: 1.5rem !important;

        .name-col-inner {
            @include flexbox();
        }

        .avatar {
            @include flex(0 0 auto);
            margin-top: -0.2rem;
            margin-right: 1rem;
            margin-bottom: -0.5rem;
            font-size: 1.8rem;
        }

        .dzf-info {
            @include flex(1 1 auto);

            .dzf-name {
                font-weight: bold;
            }
        }

        .dzf-file {
            color: #999;
        }

        .dzf-desc {
            margin-top: 0.5rem;
        }
    }

    .upload-by-col {
        display: none;
    }

    .upload-date-col {
        width: 10rem;
    }

    .actions-col {
        width: 5rem;
    }
}

.dropMoveDialog {
    .modal-body {
        padding: 1rem 2rem;
    }

    .file-browser {
        height: 28rem;
    }
    .description {
        padding-left: 0;
    }
    .displayName {
        font-weight: bolder;
        font-family: sans-serif;
    }

    .fb-breadcrumbs {
        /* handle long directory names with scroll */
        overflow: auto;
    }
}

@media (max-width: 759px) {
    .dzf-table {
        .upload-col {
            .btn {
                border: none;

                .glyphicon {
                    font-size: 1.8rem;
                }

                .btn-txt {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 760px) {
    .dzf-table {
        .inbox-col {
            width: 5rem;
        }

        .upload-col {
            width: 14rem;
        }
    }

    .dzf-file-table {
        .upload-by-col {
            display: table-cell;
            width: 15rem;
        }

        .upload-date-col {
            width: 18rem;
        }
    }
}

@media (min-width: 1024px) {
    .dzf-file-table {
        .upload-by-col {
            width: 25rem;
        }

        .upload-date-col {
            width: 25rem;
        }
    }
}