// INLINE SEARCH PANELS
.inline-search-panel {
	@extend .flex-row;
	align-items: center;

	.btn {
		@include flex(0 0 auto);
		margin-left: 0.5rem;
		width: 7rem;
		height: 3.4rem;
	}
}

.inline-search-fields {
	@include flex(1 1 auto);
	margin: 0 -0.2rem;

	.form-group:nth-last-child(4),
	.form-group:nth-last-child(4) ~ .form-group {
		padding: 0 0.2rem;
		width: 25%;
		float: left;
	}
}

// DEV SIGN-IN VIEW
.sign-in-view {
	width: 60rem;
	margin: 0 auto;
}

// USER PROFILE SIGNATURE
.signature-preview {
	width: 30rem;
	height: 10rem;
	padding: 1rem;
	text-align: center;

	img {
		max-width: 100%;
		max-height: 100%;
	}

	+ .btn {
		margin-top: 1rem;
	}
}