<div class="panel panel-default">
	<div class="panel-heading">
		{{ taskCwc.item.title }} {{ taskCnc.item.value }}
	</div>

	<div class="panel-body" ng-if="taskCnc.item.value === 'Not Started'">

		<div class="row" >
			<div class="col-sm-10">
				<label>Comment</label>
				<p>{{ taskCwc.data.comment }}</p>
			</div>
		</div>

	</div>

	<div class="panel-body" ng-if="taskCnc.item.value === 'In Progress'">

		<div class="row">
			<div class="col-sm-10">
				<label>Comment</label>
				<textarea class="form-control" ng-model="taskCwc.data.comment"></textarea>
			</div>
			<div class="col-sm-2">
				<button class="btn btn-success btn-block" ng-click="taskCwc.completeTask();">Complete</button>
			</div>	
		</div>

	</div>

	<div class="panel-body" ng-if="taskCnc.item.value === 'Complete'">

		<div class="row">
			<div class="col-sm-12">
				Task Completed on DATE TIME, by USER 
			</div>
		</div>

	</div>


</div>

