<div class="row">
	<div class="col-sm-4" ng-repeat="(role, users) in roles track by $index | orderBy" ng-class="{'clear-left': !($index % 3)}">
		<div class="thumbnail">
			<div class="caption">
				<label class="control-label">{{ ::role }}</label>
				<ul class="list-unstyled task-list">
					<li x-modal-user-contact-info x-user="user" ng-repeat="user in users track by $index" class="clickable">{{ user.displayName }}</li>
				</ul>
				<label class="control-label text-right">
					<a href x-modal-select-users
						x-callback="assignUsersToRole"
						x-users="users"
						x-unique="true"
						x-project="project"
						x-parent="{type: 'role', reference: role}"
						>Manage Users</a>
				</label>
			</div>
		</div>
	</div>
</div>
<div class="alert alert-warning fadeIn" ng-show="error" >{{ error }}</div>
<div class="row">
	<div class="col-sm-12 text-right form-inline">

		<button class="btn btn-default"
			ng-show="!addRoleMode"
			ng-click="addRoleMode = true">Add Role</button>

		<div class="form-group" ng-show="addRoleMode">

			<select ng-if="userOrgs" class="form-control" ng-model="newOrg" ng-options="item as item for item in userOrgs"></select>

			<input class="form-control"					
				type="text"
				ng-model="newRole"
				placeholder="Role Name">

			<button class="btn btn-default" ng-click="saveNewRole()">Save</button>
			<button class="btn btn-default" ng-click="newRole = undefined; addRoleMode = false;">Cancel</button>				
		</div>

	</div>
</div>