<h1 class="page-title no-lower-margin">
	Add / Edit System Roles
</h1>

<div class="row">
	<div class="col-sm-12 text-right">
		<a class="btn btn-xs btn-link" ui-sref="admin.roles.list">Cancel</a>
		<a class="btn btn-xs btn-link" href ng-click="save()">Save</a>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="code" class="control-label">Code</label>
					<input id="code" name="code" type="text" class="form-control input-sm" ng-model="role.code">
				</div>
			</div>
		
			<div class="col-sm-3">
				<div class="form-group">
					<label for="projectCode" class="control-label">Project Code</label>
					<input id="projectCode" name="projectCode" type="text" class="form-control input-sm" ng-model="role.projectCode">
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group">
					<label for="orgCode" class="control-label">Organization Code</label>
					<select id="orgCode"
						name="orgCode"
						class="form-control input-sm"
						ng-model="role.orgCode"
						>
						<option value="eao">EAO</option>
						<option value="proponent">Proponent</option>
					</select>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group">
					<label for="roleCode" class="control-label">Role Code</label>
					<input id="roleCode" name="roleCode" type="text" class="form-control input-sm" ng-model="role.roleCode">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group form-group-sm">
					<div class="checkbox control-with-label">
					<label>
						<input id="active" name="active" type="checkbox" ng-model="role.isSystem"> System Role
					</label>
					</div>
				</div>
			</div>
		</div>
		
		<hr>
		
		<div class="text-right">
			<a class="btn btn-default" ui-sref="admin.roles.list">Cancel</a>
			<a class="btn btn-default" href ng-click="save()">Save</a>
		</div>

	</div>
</div>


