<h1 class="page-title no-lower-margin">
	Add / Edit System Roles
</h1>

<div class="row">
	<div class="col-sm-12 text-right">
		<a class="btn btn-xs btn-link" ui-sref="admin.roles.list">Cancel</a>
		<a class="btn btn-xs btn-link" ui-sref="admin.roles.edit({roleCode:role.code})">Edit</a>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="code" class="control-label">Code</label>
					<p class="form-control-static">{{ role.code }}</p>
				</div>
			</div>
		
			<div class="col-sm-3">
				<div class="form-group">
					<label for="projectCode" class="control-label">Project Code</label>
					<p class="form-control-static">{{ role.projectCode }}</p>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group">
					<label for="orgCode" class="control-label">Organization Code</label>
					<p class="form-control-static">{{ role.orgCode }}</p>
				</div>
			</div>

			<div class="col-sm-3">
				<div class="form-group">
					<label for="roleCode" class="control-label">Role Code</label>
					<p class="form-control-static">{{ role.roleCode }}</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="roleCode" class="control-label">Usage</label>
					<table class="table table-condensed table-striped">
						<thead>
							<tr><th width="25%">System Element</th><th>&nbsp;</th></tr>
						</thead>
						<tbody>
							<tr><td>Users</td><td>{{ role.users.length || 'Not Used' }}</td></tr>
							<tr><td>Projects</td><td>{{ role.projects.length || 'Not Used' }}</td></tr>
							<tr><td>Activities</td><td>{{ role.activities.length || 'Not Used' }}</td></tr>
							<tr><td>Features</td><td>{{ role.features.length || 'Not Used' }}</td></tr>
							<tr><td>Artifacts</td><td>{{ role.artifacts.length || 'Not Used' }}</td></tr>
							<tr><td>Documents</td><td>{{ role.documents.length || 'Not Used' }}</td></tr>
							<tr><td>Comments</td><td>{{ role.comments.length || 'Not Used' }}</td></tr>
							<tr><td>Public Comments</td><td>{{ role.publiccomments.length || 'Not Used' }}</td></tr>
							<tr><td>Comment Periods</td><td>{{ role.commentperiod.length || 'Not Used' }}</td></tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
				
		<hr>
		
		<div class="text-right">
			<a class="btn btn-default" ui-sref="admin.roles.list">Cancel</a>
			<a class="btn btn-default" ui-sref="admin.roles.edit({roleCode:role.code})">Edit</a>
		</div>

	</div>
</div>


