<h1 class="page-title no-lower-margin">
	Add / Edit System Roles
</h1>

<div class="row">
	<div class="col-sm-12 text-right">
		<a class="btn btn-xs btn-link" ui-sref="admin.roles.list">Cancel</a>
		<a class="btn btn-xs btn-link" href ng-click="save()">Save</a>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="roleCode" class="control-label">Role Code</label>
					<input id="roleCode" name="roleCode" type="text" class="form-control input-sm" ng-model="role.roleCode">
				</div>
			</div>
		</div>
		 
		<hr>
		
		<div class="text-right">
			<a class="btn btn-default" ui-sref="admin.roles.list">Cancel</a>
			<a class="btn btn-default" href ng-click="save()">Save</a>
		</div>

	</div>
</div>


