<div class="system-roles-view"></div>

	<div class="view-title-container"><h1>System Roles</h1></div>

	<div class="view-body-container">
		
		<div class="button-bar clearfix">
			<a class="btn btn-default btn-sm pull-left" ui-sref="admin.roles.create()">
				<span class="glyphicon glyphicon-plus"></span>
				<span>Add System Role</span>
			</a>
			<div class="pull-right">
				<show-filter x-toggle-filter="toggleFilter"></show-filter>
			</div>
		</div>
		
		<div class="panel panel-default">
			<table ng-table="tableParams" x-show-filter="toggleFilter" class="table table-striped table-hover">
				<tr ng-repeat="o in $data" ui-sref="admin.roles.detail({roleCode:o.code})" class="clickable">
					<td data-title="'Name'"  filter="{'name':'text'}"   sortable="'name'">{{o.name}}</td>
					<td data-title="'Code'"  filter="{'code':'text'}"   sortable="'code'">{{o.code}}</td>
								<td data-title="'Organization Code'"  filter="{'orgCode':'text'}"   sortable="'orgCode'">{{o.orgCode}}</td>
								<td data-title="'Role Code'"  filter="{'roleCode':'text'}"   sortable="'roleCode'">{{o.roleCode}}</td>
					<td data-title="'Functional'"  filter="{'isFunctional':'text'}"   sortable="'isFunctional'">{{o.isFunctional}}</td>
          			<td data-title="'Project Default'"  filter="{'isProjectDefault':'text'}"   sortable="'isProjectDefault'">{{o.isProjectDefault}}</td>
					<td class="actions-col action-x1" header-class="'actions-col action-x1'">
						<a class="btn btn-link btn-sm" title="Edit System Role" ng-click="$event.stopPropagation()" ui-sref="admin.roles.edit({roleCode:o.code})">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
					</td>
				</tr>
				<tr ng-if="!$data || $data.length === 0">
					<td colspan="4">
						No records found.
					</td>
				</tr>
			</table>
		</div>
	</div>

</div>
