<div class="view-title-container flex-row">
	<a class="btn icon-btn mobile-nav-btn" ui-sref="p.projectcondition.list"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></a>
	<h1>Condition &nbsp;&rsaquo;&nbsp; {{condition.name}}</h1>
	<div class="actions">
		<button class="btn btn-sm btn-default"
			ng-if="condition.userCan.write"
			ui-sref="p.projectcondition.edit({conditionId:condition._id})">
			<span class="glyphicon glyphicon-pencil"></span><span>Edit</span></button>
		<button class="btn btn-sm btn-success"
			ng-if="condition.userCan.publish && !condition.isPublished"
			ng-click="publish()">Publish</button>
		<button class="btn btn-sm btn-default"
			ng-if="condition.userCan.unPublish && condition.isPublished"
			ng-click="unpublish()">Unpublish</button>
	</div>
</div>

<div class="view-body-container">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Details</h2>
		</div>
		<div class="panel-body detail-panel">
			<div class="row">
				<div class="detail-row col-md-3">
					<label>Name</label>
					<div class="value" ng-bind-html="condition.name"></div>
				</div>
				<div class="detail-row col-md-3">
					<label>Subject</label>
					<div ng-bind-html="condition.subject"></div>
				</div>
				<div class="detail-row col-md-3">
					<label>Sector</label>
					<div class="value" ng-bind-html="condition.sector"></div>
				</div>
				<div class="detail-row col-md-3">
					<label>Stage</label>
					<div class="value" ng-bind-html="condition.stage"></div>
				</div>
			</div>
			<div class="row" ng-if="condition.vcs.length > 0">
				<div class="detail-row col-md-12">
					<label for="shortDesc">Associated Valued Components</label>
					<div class="anchor-list">
						<a ng-repeat="o in condition.vcs" ui-sref="p.vc.detail({vcId:o._id})" class="clickable">{{o.name}}{{$last ? '' : ', '}}</a>
					</div>
				</div>
			</div>
			<div class="row" ng-if="condition.phases.length > 0">
				<div class="detail-row col-md-12">
					<label for="shortDesc">Post Certification Phases</label>
					<div class="anchor-list">
						<span ng-repeat="o in condition.phases">{{o}}{{$last ? '' : ', '}}</span>
					</div>
				</div>
			</div>
			<div class="detail-row">
				<label>Description</label>
				<pre class="value wrap-text" ng-bind-html="condition.description"></pre>
			</div>
			<div class="detail-row no-margin">
				<label>Report Requirements</label>
				<pre class="value wrap-text" ng-bind-html="condition.reportRequirements"></pre>
			</div>
		</div>
	</div>

	<div class="row hidden">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="pillar" class="control-label">Pillars</label>
				<div class="well well-sm">
					<display-array x-source-array="pillars" x-selected-array="condition.pillars" x-key-string="id" x-value-string="title"></display-array>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="stage" class="control-label">Phase</label>
				<div class="well well-sm">
					<display-array x-source-array="phases" x-selected-array="condition.phases" x-key-string="id" x-value-string="title"></display-array>
				</div>
			</div>
		</div>
	</div>

	<div class="form-footer">
		<div class="pull-right">
			<button class="btn btn-sm btn-default"
				ng-if="project.userCan.createProjectCondition"
				ui-sref="p.projectcondition.edit({conditionId:condition._id})">
			<span class="glyphicon glyphicon-pencil"></span><span>Edit</span></button>
			<button class="btn btn-sm btn-success"
				ng-if="project.userCan.publish && !condition.isPublished"
				ng-click="publish()">Publish</button>
			<button class="btn btn-sm btn-default"
				ng-if="project.userCan.unPublish && condition.isPublished"
				ng-click="unpublish()">Unpublish</button>
		</div>
	</div>

</div>

