
<form class="view-form" name="conditionForm">

	<div class="view-title-container flex-row">
		<h1>Add/Edit Condition &nbsp;&rsaquo;&nbsp; {{condition.name}}<span class="placeholder-value" ng-if="!condition.name">Untitled</span></h1>
		<div class="actions">
			<button class="btn btn-default btn-sm"
				ui-sref="p.projectcondition.list">Cancel</button>
			<button class="btn btn-danger btn-sm"
				ng-if="condition.userCan.delete && edit === true"
				ng-click="delete()"><span class="glyphicon glyphicon-trash"></span><span>Delete</span></button>
			<button class="btn btn-primary btn-sm"
				ng-disabled="conditionForm.$invalid"
				ng-click="save()">Save</button>
		</div>
	</div>
	
	<div class="view-body-container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2>Condition Details</h2>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-3">
						<div class="form-group" x-show-errors>
							<label class="control-label" for="name">Name<em class="required">(Required)</em></label>
							<input class="form-control" id="name" name="name" type="text" ng-model="condition.name" required>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label" for="subject">Subject</label>
							<input class="form-control" id="subject" type="text" ng-model="condition.subject">
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label" for="sector">Sector</label>
							<select class="form-control" id="sector"
								ng-model="condition.sector" 
								ng-options="sector.id as sector.title for sector in sectors"></select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group">
							<label class="control-label" for="stage">Stage</label>
							<select class="form-control" id="stage"
								ng-model="condition.stage" 
								ng-options="stage.id as stage.title for stage in stages"></select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="shortDesc">Associated Value Components</label>
					<div class="tag-list-container form-control">
						<ul class="tag-list clearfix">
							<li class="tag" ng-repeat="o in condition.vcs">
								<span class="tag-name" ui-sref="p.artifact.view({artifactId:o._id})">{{o.name}}</span>
								<button class="btn" ng-click="condition.vcs.splice($index, 1)"><span aria-hidden="true">×</span></button>
							</li>
							<li class="add-tag">
								<button class="btn btn-sm" type="button" title="Link Valued Components"ng-click="editLinkedVcs()"><span class="glyphicon glyphicon-plus"></button>
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="phase">Post Certification Phases</label>
					<select-array class="custom-select-list"
						x-source-array="phases"
						x-selected-array="condition.phases"
						x-key-string="id"
						x-value-string="title"></select-array>
				</div>
				<div class="form-group">
					<label class="control-label">Description</label>
					<textarea class="form-control" ui-tinymce rows="5"
						ng-model="condition.description"></textarea>
				</div>
				<div class="form-group no-margin">
					<label class="control-label">Report Requirements</label>
					<textarea class="form-control" ui-tinymce rows="5"
						ng-model="condition.reportRequirements"></textarea>
				</div>
			</div>
		</div>

		<!-- HIDDEN AS PER PM REQUEST -->
		<div class="col-sm-6 hidden">
			<div class="form-group">
				<label for="pillar" class="control-label">Pillars</label>
				<div class="well well-sm">
					<select-array x-source-array="pillars" x-selected-array="condition.pillars" x-key-string="id" x-value-string="title"></select-array>
				</div>
			</div>
		</div><!--/HIDDEN AS PER PM REQUEST -->

		<div class="form-footer clearfix">
			<div class="pull-right">
				<button class="btn btn-sm btn-default"
					ui-sref="p.projectcondition.list">Cancel</button>
				<button class="btn btn-sm btn-danger"
					ng-if="condition.userCan.delete && edit === true"
					ng-click="delete()"><span class="glyphicon glyphicon-trash"></span><span>Delete</span></button>
				<button class="btn btn-sm btn-primary"
					ng-disabled="conditionForm.$invalid"
					ng-click="save()">Save</button>
			</div>
		</div>

	</div><!--/VIEW BODY CONTAINER -->

</form>


