
<div class="view-title-container flex-row">
	<button class="btn icon-btn mobile-nav-btn" onclick="toggleSideNav();"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
	<h1>Conditions</h1>
</div>

<div class="view-body-container">
	<div class="button-bar">
		<a class="btn btn-default btn-sm" 
			ng-if="project.userCan.createProjectCondition" 
			ui-sref="p.projectcondition.create()">
			<span class="glyphicon glyphicon-plus"></span>
			<span>Add Condition</span>
		</a>
	</div>
	<section class="table-container">
		<table class="table table-hover" ng-table="tableParams" x-show-filter="true">
			<tr ng-repeat="o in $data" ui-sref="p.projectcondition.detail({conditionId:o._id})">
				<td data-title="'Name'"
					filter="{'name':'text'}" 
					sortable="'name'">{{o.name}}</td>
				<td data-title="'Subject'"
					filter="{'subject':'text'}"
					sortable="'subject'">{{o.subject}}</td>
				<td data-title="'Stage'"
					filter="{'stage':'text'}"
					sortable="'stage'">{{o.stage}}</td>
				<td data-title="'Phases'"
					filter="{'phases':'text'}"
					sortable="'phases'">{{o.phases.join(', ')}}</td>
				<td class="actions-col" header-class="'actions-col x2'">
					<div class="btns">
						<a class="btn icon-btn" 
							ng-if="showedit" 
							ng-click="$event.stopPropagation()" 
							ui-sref="p.projectcondition.edit({conditionId:o._id})">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<tmpl-permissions-gear class="permission-btn" x-context="project" x-object="o"></tmpl-permissions-gear>
					</div>
				</td>
			</tr>
			<tr ng-if="!$data || $data.length === 0">
				<td colspan="5">No records found.</td>
			</tr>
		</table>
	</section>
</div>


