<div class="project-conditions-view">

	<div class="view-title-container">
		<h1><span ng-show="project.name">{{ project.name }}&nbsp; &rsaquo; &nbsp;</span>Conditions</h1>
	</div>
	
	<div class="view-body-container">
		<div class="button-bar clearfix">
			<a class="btn btn-default btn-sm" ui-sref="p.projectcondition.create()">
				<span class="glyphicon glyphicon-plus"></span>
				<span>Add Condition</span>
			</a>
			<div class="pull-right">
				<show-filter x-toggle-filter="toggleFilter"></show-filter>
			</div>
		</div>
		<section class="panel panel-default">
			<table ng-table="tableParams" x-show-filter="toggleFilter" class="table table-condensed table-striped table-hover">
				<tr ng-repeat="o in $data" ui-sref="p.projectcondition.detail({conditionId:o._id})" class="clickable">
					<td data-title="'Sector'"  filter="{'sector':'select'}"   sortable="'sector'"  filter-data="ptypes" >{{o.sector}}</td>
					<td data-title="'Name'"  filter="{'name':'text'}"   sortable="'name'" >{{o.name}}</td>
					<td data-title="'Subject'" filter="{'subject':'text'}"    sortable="'subject'" >{{o.subject}}</td>
					<td data-title="'Stages'"   filter="{'stages':'text'}"  sortable="'stages'" >{{o.stageString}}</td>
					<td data-title="'Pillars'"  filter="{'pillars':'text'}" sortable="'pillars'"  >{{o.pillarString}}</td>
					<td>
						<a ng-click="$event.stopPropagation()" class="btn btn-link btn-xs" ui-sref="p.projectcondition.edit({conditionId:o._id})">
							<i class="glyphicon glyphicon-pencil"></i>
						</a>
					</td>
				</tr>
				<tr ng-if="!$data || $data.length === 0">
					<td colspan="6">
						No records found.
					</td>
				</tr>
			</table>
		</section>
	</div>
	
</div>
