<h1 class="page-title no-lower-margin">
	Add / Edit Content Type
</h1>

<form name="artifactForm" ng-submit="save(artifactForm.$valid)" novalidate>

<div class="row">
	<div class="col-sm-12 text-right">
		<button class="btn btn-xs btn-link" ui-sref="admin.artifact.list">Cancel</button>
		<button class="btn btn-xs btn-link" href type="submit">Save</button>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">

		<div class="row">
			<div class="col-sm-5">
				<div class="form-group" x-show-errors>
					<label for="name" class="control-label">Name</label>
					<input id="name" name="name" type="text" class="form-control input-sm" ng-model="artifact.name" required>
						<div ng-messages="artifactForm.name.$error" role="alert">
							<p class="help-block error-text" ng-message="required">Name is required.</p>
						</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="initiator" class="control-label">Initiator</label>
					<select id="initiator" ng-model='artifact.initiator' class="form-control input-sm">
						<option>EAO</option>
						<option>Proponent</option>
					</select>
				</div>
			</div>
 			<div class="col-sm-2">
				<div class="checkbox control-with-label">
					<label for="multiple">
						<input id="multiple" type="checkbox" ng-model="artifact.multiple">
						Allow Multiple
					</label>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="checkbox control-with-label">
					<label for="isTemplate">
						<input id="isTemplate" type="checkbox" ng-model="artifact.isTemplate">
						Use Template
					</label>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="shortDesc" class="control-label">Condition</label>
					<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="artifact.description" rows=6></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="shortDesc" class="control-label">Report Requirements</label>
					<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="artifact.reportRequirements" rows=6></textarea>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="pillar" class="control-label">Pillars</label>
					<div class="well well-sm">
						<select-array x-source-array="pillars" x-selected-array="artifact.pillars" x-key-string="id" x-value-string="title"></select-array>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="stage" class="control-label">Applicable Stages</label>
					<div class="well well-sm">
						<select-array x-source-array="stages" x-selected-array="artifact.stages" x-key-string="id" x-value-string="title"></select-array>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-sm-12 text-right">
				<button class="btn btn-default" ui-sref="admin.artifact.list">Cancel</button>
				<button class="btn btn-default" type="submit">Save</button>
			</div>
		</div>

	</div>
</div>

</form>
