<h1 class="page-title no-lower-margin">
	Content Library
</h1>

<div class="row">
	<div class="col-sm-12 text-right">
		<a class="btn btn-xs btn-link" ui-sref="admin.artifact.create()">
			+ Add New Content Type
		</a>
		<show-filter x-toggle-filter="toggleFilter"></show-filter>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<section class="panel panel-default">
			<table ng-table="tableParams" x-show-filter="toggleFilter" class="table table-condensed table-striped table-hover">
				<tr ng-repeat="o in $data" ui-sref="admin.artifact.view({artifactId:o._id})" class="clickable">
					<td data-title="'Type'"    filter="{'type':'text'}"     sortable="'type'"    >{{o.type}}</td>
					<td data-title="'Template'" sortable="'isTemplate'"><i ng-if="o.isTemplate" class="glyphicon glyphicon-ok"></i></td>
					<td data-title="'Document'" sortable="'isDocument'"><i ng-if="o.isDocument" class="glyphicon glyphicon-ok"></i></td>
					<td data-title="'Initiator'" sortable="'initiator'"><i ng-if="o.initiator" class="glyphicon glyphicon-ok"></i></td>
					<td width="1%" class="text-right">
			        		<span ng-if="o.userPermissions.write && !o.published">
				        	<a ng-click="$event.stopPropagation()" class="btn btn-link btn-xs" ui-sref="admin.artifact.edit({artifactId:o._id})">
				        	<i class="glyphicon glyphicon-pencil"></i>
				        	</a>
				        </span>
			        </td>
				</tr>
				<tr ng-if="!$data || $data.length === 0">
					<td colspan="5">
						There are no artifacts available at this time.
					</td>
				</tr>
			</table>
		</section>
	</div>

</div>



