<section class="panel panel-default" ng-repeat="activity in recentActs" ng-class="{'watermark-chat': activity.type === 'Public Comment Period', 'watermark-news': activity.type === 'News'}">
	<div class='panel-body news-headline clickable' ui-sref="p.detail({projectid: projectlookup[activity.project].code })">
		<h5>{{ activity.headline }}</h5>
		<p class="small news-content" ng-if="!activity.showmore">
			{{ limitWords(activity.content, 30) }}
			<button class="btn btn-xs btn-link" ng-click="$event.stopPropagation();activity.showmore=!activity.showmore"> more</button>
		</p>
		<p class="small news-content" ng-if="activity.showmore">
			{{ activity.content }}
			<button class="btn btn-xs btn-link" ng-click="$event.stopPropagation();activity.showmore=!activity.showmore"> less</button>
		</p>
		<p class="small">{{ activity.dateAdded | date }}</p>
		<p class="small">{{ activity.type }}</p>
	</div>
</section>
<section class="panel panel-default" ng-show="!recentActs || recentActs.length === 0">
	<div class='panel-body'>
		<h3 class="no-lower-margin">No Recent Activity</h3>
	</div>
</section>
