<div class="main-panel">

	<div class="view-title-container">
		<h1>News & Announcements</h1>
	</div>

	<div class="view-body-container news-public-view">
		<section class="panel panel-default">
		<table ng-table="tableParams" x-show-filter="toggleFilter" class="table table-condensed">
			<!-- NEWS ROW ITEM TEMPLATE -->
			<tr ng-repeat="o in $data">
				<td data-title="'Headline'" filter="{'headline':'text'}" sortable="'headline'">
          <h2 class="news-title" ng-class="{clickable: o.project}" ng-click="s.onNewsClick(o, $event)">{{o.headline}}</h2>
					<div ng-init="toggleProject.desc = (false)">
						<p class="news-content">{{ o.content | maxWords:30:toggleProject.desc }}</p>
						<div class="show-more" ng-if="(o.content | wordCount) > 30">
							<a href ng-click="toggleProject.desc = !toggleProject.desc">
								<span ng-show="!toggleProject.desc">Show More ({{ o.content | wordCount }} words)<span class="caret"></span>
								</span>
								<span ng-show="toggleProject.desc">Show Less <span class="caret caret-up"></span>
								</span>
							</a>
						</div>
					</div>
				</td>
				<td class="type-col" header-class="'type-col'" data-title="'Type'" filter="{'type':'text'}" sortable="'type'">{{o.type}}</td>
				<td class="date-col" header-class="'date-col'" data-title="'Date'" sortable="'dateAdded'" >{{o.dateAdded | date}}</td>
			</tr><!-- / NEWS ROW ITEM TEMPLATE -->
			<tr ng-if="!$data || $data.length === 0">
				<td colspan="3">No records found.</td>
			</tr>
		</table>
		</section>
	</div>

</div>


<!-- Link for Row Item Template -->
<!-- ui-sref="admin.recentactivity.detail({recentActivityId:o._id})" -->
