<script type="text/ng-template" id="pin-header.html">
	<span class="glyphicon glyphicon-pushpin"></span><span class="sort-indicator"></span>
</script>

<div class="main-panel">

	<div class="view-title-container">
		<h1>Activities & Updates</h1>
	</div>

	<div class="view-body-container news-admin-view">

		<div class="spinner-container" ng-if="s.busy">
			<div class="spinner-new rotating"></div>
		</div>


		<div class="button-bar clearfix">
			<a ng-if="application.userCan.createNews" class="btn btn-default btn-sm pull-left" ui-sref="admin.recentactivity.create()">
				<span class="glyphicon glyphicon-plus"></span>
				<span>Add Activity or Update</span>
			</a>
		</div>
		<div class="table-container">
			<table class="activity-table table table-hover" ng-table="tableParams" x-show-filter="true">
				<!-- NEWS ROW ITEM TEMPLATE -->
				<tr ng-repeat="o in $data" ui-sref="admin.recentactivity.edit({recentActivityId:o._id})">
					<td class="pin-col" header-class="'pin-col'" header="'pin-header.html'"
						data-title="'Pinned'"
						sortable="'pinned'">
						<button class="btn icon-btn pin-btn" ng-class="{'active': o.pinned}" 
							title="Pinned items will appear on the Public Home Page"
							ng-click="$event.stopPropagation();s.onPinActivity(o);">
							<span class="glyphicon glyphicon-pushpin"></span>
						</button>
					</td>
					<td data-title="'Headline'" filter="{'headline':'text'}" sortable="'headline'">{{o.headline}}
					</td>
					<td class="project-col"
						header-class="'project-col'"
						data-title="'Project'"
						filter="{'project.name':'text'}"
						sortable="'project.name'">{{o.project.name}}</td>
					<td class="type-col"
						header-class="'type-col'"
						data-title="'Type'"
						filter="{type:'select'}"
						filter-data="s.typeArray"
						sortable="'type'">{{o.type}}</td>
					<td class="date-col"
						header-class="'date-col'"
						data-title="'Date Added'"
						sortable="'dateAdded'" >{{o.dateAdded | date}}</td>
					<td class="priority-col"
						header-class="'priority-col'"
						data-title="'Priority'"
						filter="{priorityDesc:'select'}"
						filter-data="s.priorityDescArray"
						sortable="'priorityDesc'" >{{o.priorityDesc}}</td>
					<td class="status-col"
						header-class="'status-col'"
						data-title="'Status'"
						filter="{active:'select'}"
						filter-data="s.activeDescArray"
						sortable="'activeDesc'">
							<span class="label label-success" ng-if="o.activeDesc == 'Active'">ACTIVE</span>
							<span class="label label-unpublished" ng-if="o.activeDesc == 'Inactive'">INACTIVE</span>
					</td>
				</tr><!-- / NEWS ROW ITEM TEMPLATE -->

				<tr ng-if="!$data || $data.length === 0">
					<td colspan="4">No records found.</td>
				</tr>

			</table>
		</div>

	</div>
</div>
