<div class="news-feed-view">

	<section class="news-feed-item" ng-repeat="activity in recentActs">
		<div class='news-headline' ng-class="{clickable: activity.project}" ng-click="s.onNewsClick(activity, $event)">
			<p class="news-date-type">{{ activity.type }} &nbsp;|&nbsp; {{ activity.dateAdded | date }}</p>
			<h2 class="news-title">{{ activity.headline }}</h2>
			<p class="news-content">{{ activity.content | maxWords:20:activity.showmore }}</p>
			<div class="show-more" ng-if="(activity.content | wordCount) > 20">
				<a href ng-click="$event.stopPropagation(); activity.showmore = !activity.showmore">
					<span ng-show="!activity.showmore">Show More ({{ activity.content | wordCount }} words) <span class="caret"></span></span>
					<span ng-show="activity.showmore">Show Less <span class="caret-up"></span></span>
				</a>
			</div>
		</div>
	</section>

	<section class="panel panel-default hidden" ng-show="!recentActs || recentActs.length === 0">
		<div>
			<h3 class="no-lower-margin">News and Notices</h3>
			<p>Please check back here for recent activity notices.</p>
		</div>
	</section>

</div>
