<div class="news-announcements-edit-view">
	
	<div class="view-title-container">
		<h1>{{ recentActivity.headline }}</h1>
	</div>
	
	<div class="view-body-container">

		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="headline" class="control-label">Headline</label>
					<p class="form-control-static">{{ recentActivity.headline }}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="content" class="control-label">Content</label>
					<p class="form-control-static">{{ recentActivity.content }}</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<div class="form-group">
					<label for="dateAdded" class="control-label">Project</label>
					<p class="form-control-static">{{ projects[recentActivity.project].name }}</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="dateAdded" class="control-label">Date Added</label>
					<p class="form-control-static">{{ recentActivity.dateAdded }}</p>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="type" class="control-label">Type</label>
					<p class="form-control-static">{{ recentActivity.type }}</p>
				</div>
			</div>			
			<div class="col-sm-1">
				<div class="form-group">
					<label for="priority" class="control-label">Priority</label>
					<p class="form-control-static">{{ recentActivity.priority }}</p>
				</div>
			</div>
			<div class="col-sm-1">
				<div class="form-group">
					<label for="priority" class="control-label">Active</label>
					<p class="form-control-static">{{ recentActivity.active }}</p>
				</div>
			</div>
		</div>
				
		<div class="form-footer clearfix">
			<a class="btn btn-default btn-sm pull-left" ui-sref="admin.recentactivity.list">&lsaquo;&nbsp; Back to Recent News</a>
			<a class="btn btn-default btn-sm pull-right" ui-sref="admin.recentactivity.edit({recentActivityId:recentActivity._id})">Edit</a>
		</div>

	</div>

</div>
