<section id="configuration-view" class="row">

	<div class='col-sm-10'>
		<h1 class="page-title">
			Project Template Provisioning
		</h1>
		<div class="panel panel-default">
			<div class='panel-body'>

				<div>
					<ul class="nav nav-pills nav-justified" >
						<li ng-class="{'active':configData.curTab === 'activities'}">		<a href ng-click="configData.curTab = 'activities'">Activities</a></li>
						<li ng-class="{'active':configData.curTab === 'milestones'}">		<a href ng-click="configData.curTab = 'milestones'">Milestones</a></li>
						<li ng-class="{'active':configData.curTab === 'phases'}">			<a href ng-click="configData.curTab = 'phases'">Phases</a></li>
						<li ng-class="{'active':configData.curTab === 'streams'}">			<a href ng-click="configData.curTab = 'streams'">Streams</a></li>
					</ul>

					<div ng-if="configData.curTab === 'activities'">
						<tmpl-config-activities x-config="configData.config" x-context="activity" x-child-group="tasks"></tmpl-config-activities>
					</div>

					<div ng-if="configData.curTab === 'milestones'">
						<tmpl-config-milestones x-config="configData.config" x-context="milestone" x-child-group="activities"></tmpl-config-milestones>
					</div>

					<div ng-if="configData.curTab === 'phases'">
						<tmpl-config-phases x-config="configData.config" x-context="phase" x-child-group="milestones"></tmpl-config-phases>
					</div>

					<div ng-if="configData.curTab === 'streams'">
						<tmpl-config-streams x-config="configData.config" x-context="stream" x-child-group="phases"></tmpl-config-streams>
					</div>


				</div>


			</div> <!-- /panelbody -->

		</div> <!-- /panel -->

	</div> <!-- /col12 -->
	<div class='col-sm-2'>
		<tmpl-system-menu x-menu-context="'configuration'"></tmpl-system-menu>
	</div>

</section>
