// Document List
.mmti-doc-list {
    .sh-col,
    .ah-col {
        &.date {
            width: 7rem;
            text-align: right;
        }
    }

    .ah-col {
        &.name {
            padding-left: 0;
            font-weight: 400;
        }
    }

    .mmti-list {
        li {
            @include flex-box();

            i {
                margin-top: 0.25rem;
                margin-right: 0.75rem;
                color: $link-color;
                //font-size: 1.3rem;
            }

            .name {
                @include flex(1 1 auto);
            }

            .date {
                @include flex(0 0 auto);
                width: 7rem;
                text-align: right;
                white-space: nowrap;
            }
        }
    }
}