// Document List
.mmti-doc-list {
    .sh-col,
    .ah-col {
        &.date {
            width: 7rem;
            text-align: right;
        }
    }

    .ah-col {
        &.name {
            padding-left: 0;
            font-weight: 400;
        }
    }
}

.mmti-doc-list {
    &.nv-pair {
        span {
            &.name {
                margin: 0;
                width: 25%;
            }
            &.value {
                width: 75%;
            }
        }
    }
}