
.map-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #f1f1f1;
    z-index: 9999;

    ui-gmap-google-map {
        position: absolute;
        width: 100%;
        height: 100%;

        .angular-google-map,
        .angular-google-map-container {
            width: 100%;
            height: 100%;
        }
    }
}

.map-active {
    @include flex-box();
    @include flex-direction(column);
    width: 100vw;
    height: 100vh;

    .view {
        @include flex(1 1 auto);
        position: relative;
    }
}

.map-header-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 0 0.75rem rgba(#000, 0.2);

    .action-bar {
        padding: 0.75rem 1rem;
        background-color: rgba($header-bg, 0.75);
        color: #FFF;
        font-size: 0.875rem;
    }
}

.map-header {
    padding: 0.5rem;
    background: rgba($header-bg, 0.9);

    .close-btn {
        margin-top: 4px;
        margin-right: 3px;
        padding: 0;
        width: 2rem;
        height: 2rem;
        line-height: 1rem;
        color: #FFF;
    }
}

@media (min-width: 900px) {
    .map-header {
        padding: 0;

        .close-btn {
            margin: 1rem;
        }
    }
}

// Map Popup Styling
.gm-style-iw {
   width: 25rem !important;
   top: 0 !important;
   left: 0 !important;
   overflow: visible !important;
   box-shadow: none;
   background-color: transparent;
   border: none;
   border-radius: 2px 2px 0 0;

   > div:first-child {
       display: block !important;
       width: 100%;
       overflow: visible !important;
   }
}

.map-popup-content {
    @include flex-box();
    @include flex-direction(column);
    position: relative;
    height: 16.25rem;
    margin-bottom: -18px;
    margin-right: -55px;
    padding: 1.5rem;
    box-shadow: 0.25rem 0.25rem 1rem rgba(#000, 0.5);
    border-radius: 4px;
    background: #003366;
    color: #FFF;

    &:after {
        position: absolute;
        bottom: -28px;
        left: 50%;
        margin-left: -20px;
        display: block;
        width: 0;
        height: 0;
        border-left: 18px solid transparent;
        border-right: 18px solid transparent;
        border-top: 30px solid #003366;
        content: ' ';
    }

    h3 {
        margin-bottom: 1rem;
    }

    .popup-title-container,
    .popup-btn-container {
        @include flex(0 0 auto);
    }

    .popup-detail-container {
        @include flex(1 1 auto);
        overflow: hidden;
        height: 5rem;

        p {
            margin-bottom: 0;
            line-height: 1.25rem;
            font-size: 0.875rem;
        }

        a {
            color: inherit;
            text-decoration: underline;
        }
    }

    .popup-btn-container {
        margin-top: 1.25rem;
    }
}
