<section class='panel panel-default'>

	<ui-gmap-google-map id='projects-map'
					center='projectList.map.center'
					zoom='projectList.map.zoom'
					refresh='1'
					options='projectList.map.options'>

		<ui-gmap-window
			show="projectList.map.window.show"
			coords="projectList.map.window.model"
			options="projectList.map.window.options"
			closeClick="projectList.map.window.closeClick()"
			templateUrl="'modules/projects/client/views/projects-partials/projects-map-window.html'"
			templateParameter="projectList.map.window.model"
			ng-cloak>
		</ui-gmap-window>


		<ui-gmap-markers
			models="projectList.projectsFiltered"
			idKey="'_id'"
			coords="'self'"
			type="'cluster'"
			events="projectList.map.markersEvents">
		</ui-gmap-marker>

	</ui-gmap-google-map>

	<div class="row map-filter">
		<div class="col-sm-12">
			<div class="form-inline text-right">
				<div class="form-group form-group-sm">
					<span class="form-control-static">Projects Found: {{ projectList.projectsFiltered.length || 0}}&nbsp;&nbsp;</span>
				</div>
				<select ng-model="filterType" class="form-control input-sm" ng-options="v as v for v in projectList.types"><option value="">All</option></select>
				<select ng-model="filterStatus" class="form-control input-sm" ng-options="v as v for v in projectList.status"><option value="">All</option></select>
				<select ng-model="filterRegion" class="form-control input-sm" ng-options="v as (v | regionName) for v in projectList.regions"><option value="">All</option></select>
				<button class="btn btn-link btn-sm" ng-click="filterType = undefined; filterStatus = undefined; filterRegion=undefined;">Show All</button>

			</div>
		</div>
	</div>
</section>