
<nav class="navbar navbar-default navbar-sm">
	<div class="container-fluid">

		<div class="nav navbar-nav navbar-right navbar-form">
			<div class="form-group">
				<label class="control-label">Filter</label>
				<input ng-model="fbc.filter.$" type="text" class="form-control" placeholder="Filter" ng-change="fbc.updateFilter()">
			</div>
			<div class="form-group" x-user-is="admin">
				<label class="control-label">&nbsp;&nbsp;Type</label>
				<select ng-model='fbc.filter.type' class="form-control" ng-change="fbc.updateFilter()">
					<option value="">All</option>
					<option ng-repeat='type in fbc.types' value='{{ type }}'>{{ type }}</option>
				</select>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</nav>
