<section class='panel panel-default panel-project-summary clickable'  ng-repeat="project in projectIntakeList.projects" ng-if="projectIntakeList.projects.length > 0" ui-sref="eao.intakeproject({id:project._id})">
	<div class='panel-body'>
		<div class='row'>
			<div class='col-sm-12'>
				<h3>{{ project.name }}</h3>

				<p>{{ project.description }}</p>				
				<br/>
				<div class='row'>
					<div class="col-sm-4">
						<div>
							<label class="control-label">Type</label>
							<p>{{ project.type }}</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div>
							<label class="control-label">Location</label>
							<p>{{ project.location }}</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div>
						</div>
					</div>
				</div> <!-- /row -->

				<div class='row'>
					<div class="col-sm-4">
						<div>
							<label class="control-label">Nature</label>
							<p x-phase-colour x-phase="project.phase">{{ project.build }}</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div>
							<label class="control-label">Region</label>
							<p>{{ project.region }}</p>
						</div>
					</div>
					<div class="col-sm-4">
					</div>
				</div> <!-- /row -->

			</div>

		</div> <!-- /row -->

	</div>
</section>

<section class='panel panel-default' ng-if="projectIntakeList.projects.length === 0">
	<div class='panel-body'>
		There are no submitted projects that match that filter.
	</div>
</section>

