<section class='panel panel-default'>
	<div class="block-content">
		<h3>Current Projects</h3>
	</div>
	<table ng-table="projectList.tableParams" class="table table-condensed table-striped">
		<tr ng-repeat="o in $data" class='clickable' ui-sref="p.detail({projectid: o.code})">
			<td title="'Name'"     filter="{'name':'text'}"     sortable="'name'"   >{{o.name}}</td>
			<td title="'Type'"     filter="{'type':'text'}"     sortable="'type'"   >{{o.type}}</td>
			<td title="'Region'"   filter="{'region':'text'}"   sortable="'sector'" >{{o.region}}</td>
			<td title="'Phase'"    filter="{'currentPhase.name':'text'}"   sortable="'sector'" >{{o.currentPhase.name}}</td>
			<td title="'Status'"    filter="{'status':'text'}"   sortable="'sector'" >{{o.status}}</td>
		</tr>
	</table>

</section>
