<section class='panel panel-default panel-project-summary clickable' ng-click="pl.goToProject({id:project._id})" ng-repeat="project in filteredProjects = (pl.projects | filter:vm.filterKeyword | filter:vm.filterObject)" ng-if="filteredProjects.length > 0">
	<div class='panel-body'>
		<div class='row'>
			<div class='col-md-9 col-sm-6 col-lg-10'>
				<h3>{{ project.name }}</h3>

				<p>{{ project.description }}</p>				
				<br/>
				<div class='row'>
					<div class="col-sm-4">
						<div>
							<label class="control-label">Type</label>
							<p>{{ project.type }}</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div>
							<label class="control-label">Region</label>
							<p>{{ project.region }}</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div>
							<label class="control-label">Location</label>
							<p>{{ project.location }}</p>
						</div>
					</div>
				</div> <!-- /row -->

				<div class='row'>
					<div class="col-sm-4">
						<div>
							<label class="control-label">Phase</label>
							<p x-phase-colour x-phase="project.phase">{{ project.phase }}</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div>
							<label class="control-label">Est. Phase Completion</label>
							<p>{{ project.estimatedPhaseCompleteDate | amDateFormat:'MMM Do, YYYY' }}</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div>
							<label class="control-label">Next Phase</label>
							<p x-phase-colour x-phase="project.nextPhase">{{ project.nextPhase }}</p>
						</div>
					</div>
				</div> <!-- /row -->


			</div>
			<div class='col-md-3 col-sm-6 col-lg-2 text-right'>
				<tmpl-progress-circle x-subtext="estimated progress" x-percentage="project.progress" x-instance="$index"></tmpl-progress-circle>
			</div>
		</div> <!-- /row -->


	</div>
</section>

<section class='panel panel-default' ng-if="filteredProjects.length === 0">
	<div class='panel-body'>
		There are no projects that match the filter.
	</div>
</section>