
<nav class="navbar navbar-default navbar-sm">
	<div class="container-fluid">

		<ul class="nav navbar-nav navbar-left" role="view-selection">
			<li ng-if="fbc.userType === 'eao'">
				<button class="btn btn-warning navbar-btn btn-sm" ng-click="data.view = 'intakes'"	ng-class="{'btn-primary': fbc.data.view === 'intakes'}" ng-show="fbc.data.intakes.length > 0">Pending Intakes ({{ fbc.data.intakes.length }})</button>	
				<div class="navbar-form btn-group btn-group-sm">
					<button class="btn btn-default" ng-click="data.view = 'schedule'"	ng-class="{'btn-primary': fbc.data.view === 'schedule'}">Schedule</button>	
					<button class="btn btn-default" ng-click="data.view = 'map'"		ng-class="{'btn-primary': fbc.data.view === 'map'}">Map</button>
					<button class="btn btn-default" ng-click="data.view = 'list'"		ng-class="{'btn-primary': fbc.data.view === 'list'}">List</button>
					<button class="btn btn-default" ng-click="data.view = 'preview'"	ng-class="{'btn-primary': fbc.data.view === 'preview'}">Preview</button>	
				</div>
			</li>
			<li ng-if="fbc.userType === 'eao'">
				<div class="navbar-form btn-group btn-group-sm">
					<button class="btn btn-default" ng-click="data.group = 'all'"			ng-class="{'btn-primary': fbc.data.group === 'all'}">All</button>
					<button class="btn btn-default" ng-click="data.group = 'assigned'"		ng-class="{'btn-primary': fbc.data.group === 'assigned'}">Assigned</button>
					<button class="btn btn-default" ng-click="data.group = 'unassigned'"	ng-class="{'btn-primary': fbc.data.group === 'unassigned'}">Unassigned</button>				
				</div>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li>
				<div class="navbar-form">
					<div class="form-group">
						<label class="control-label">Filter</label>
						<input ng-model="fbc.filter.filterKeyword" type="text" class="form-control" placeholder="Filter" ng-change="fbc.updateFilter()">
					</div>
				</div>
			</li>
			<li ng-if="fbc.userType === 'eao'">
				<div class="navbar-form">
					<div class="form-group">
						<label class="control-label">Type</label>
						<select ng-model='fbc.filter.filterObject.type' class="form-control" ng-change="fbc.updateFilter()">
							<option value="">All</option>
							<option ng-repeat='type in fbc.types' value='{{ type }}'>{{ type }}</option>
						</select>
					</div>
				</div>	
			</li>	
			<li ng-if="fbc.userType === 'eao'">
				<div class="navbar-form">
					<div class="form-group">
						<label class="control-label">Phase</label>
						<select ng-model='fbc.filter.filterObject.phase' class="form-control" ng-change="fbc.updateFilter()">
							<option value="">All</option>
							<option ng-repeat='phase in fbc.phases' value='{{ phase.name }}'>{{ phase.name }}</option>
						</select>
					</div>
				</div>	
			</li>	
		</ul>

	</div><!-- /.container-fluid -->
</nav>
