<section id="project-view" class="row">

	<div class='col-sm-10'>
		<h1 class="page-title">
			All Activities
		</h1>

		<section class="panel panel-default">
			<div class="panel-sub-heading">
				<div class="form-inline">

					<div class="form-group pull-right">
						<label class="control-label">Keyword Search</label>
						<input type="text" ng-model="userActs.search" class="form-control input-sm"/ >
						<a ng-show="userActs.search" href class="btn btn-sm btn-default" ng-click="userActs.search = undefined">Clear</a>
					</div>

					<div class="form-group">
						<label class="control-label">Project</label>
						<select ng-model="userActs.filter" ng-options="key as project.name group by (project.region | regionName) for (key, project) in (userActs.projectNames | orderBy:'project.name')" class="form-control input-sm">
						</select>
						<a ng-show="userActs.filter" href class="btn btn-sm btn-default" ng-click="userActs.filter = undefined">All Projects</a>
					</div>

				</div>
			</div>

			<div class='panel-body'>
				

				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="activity in acts = (userActs.activities | filter:{ 'project': userActs.filter } | filter: userActs.search)">
						<a href class="thumbnail bg-info" ui-sref="activity({project: activity.project, activity: activity._id})">
							<small>{{ userActs.projectNames[activity.project].name }}</small><br/>
							{{ activity.name }}
						</a>
					</div>

					<div class="col-xs-12" ng-if="!userActs.activities || userActs.activities.length === 0">
						You have no activities.
					</div>
					<div class="col-xs-12" ng-if="userActs.activities && userActs.activities.length !== 0 && acts.length === 0">
						No activities match your search criteria.
					</div>

				</div>


			</div>


		</section>
		
	</div> <!-- /col10 -->
	<div class='col-sm-2'>
		<tmpl-system-menu x-menu-context="mylist"></tmpl-system-menu>
	</div>

</section>
