.auth-section,
.ce-section,
.doc-section {
    margin-bottom: 2.5rem;

    h3 {
        margin-bottom: 1rem;
    }
}

.mine-list,
.ce-list {
    .summary {
        font-size: 0.875rem;
        font-style: italic;

        p {
            font-size: 0.875rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .mine-btns {
        margin-top: 1rem;

        .btn {
            font-size: 0.875rem;
        }
    }

    .ah-col {
        &.name {
            padding-left: 0;
            font-weight: 400;
        }
    }
}

.mine-list {
    .mine-list-container {
        margin-top: 1.5rem;
    }

    .sh-col,
    .ah-col {
        &.commodity {
            width: 7.5rem;
            text-align: right;
        }

        &.operator {
            display: none;
            width: 40%;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

@media (min-width: 760px) {
    .mine-list {
        .sh-col,
        .ah-col {
            &.commodity {
                width: 9.5rem;
            }

            &.operator {
                display: table-cell;
            }
        }
    }
}

// Mine Page
.tab-intro {
    margin-bottom: 2.5rem;
}


// TODO - Nees to be moved to the module once it's created
.mine-details-list {
    li {
        @include clearfix();

        span {
            float: left;
            display: block;

            &.name {
                width: 25%;
            }

            &.value {
                width: 75%;
            }
        }
    }
}

.mine-list-btns {
    .btn {
        margin-top: 0.5rem;
        width: 100%;

        &:first-child {
            margin-top: 0;
        }
    }
}

@media (min-width: 760px) {
    .mine-list-btns {
        @include flex-box();

        .btn {
            @include flex(1 1 auto);
            margin-top: 0;
            
            &:first-child {
                margin-right: 0.25rem;
            }

            &:last-child {
                margin-left: 0.25rem;
            }
        }
    }
}

@media (min-width: 1020px) {
    .mine-details-list {
        li {
            span {
                &.name,
                &.value {
                    width: 50%;
                }
            }
        }
    }
}

.map-section {
    margin-bottom: 0;
    display: table;
    width: 100%;

    a {
        display: block;
        padding: 0.2rem;
        background: #EEE;

        img {
            width: 100%;
            min-height: 200px;
        }
    }
}

.map-thumb {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}