
.home-view {
	padding: 2rem;
	overflow-y: auto;

	.angular-google-map-container,
	.news-feed {
		height: 400px;
	}
}

@media only screen 
	and (min-device-width: 768px)
	and (max-device-width: 1024px)
	and (orientation: portrait)
	and (-webkit-min-device-pixel-ratio: 1) {

	.home-view {
		.angular-google-map-container {
			height: 500px;
		}

		.news-feed {
			height: 545px;
		}
	}

	.project-table {
		th {
			font-size: 1.1rem;
		}

		.comment-col {
			width: 12rem;
		}

		.decision-col,
		.phase-col,
		.region-col,
		.type-col {
			width: 10rem;
		}
	}
}

@media (min-width: 1024px) {
	.project-table {
		.name-col {
			width: 32rem;
		}
	}
}