
<div class="view-title-container flex-row">
    <button class="btn icon-btn mobile-nav-btn" onclick="toggleSideNav();"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
    <h1>Invitations</h1>
</div>

<div class="view-body-container">
    <div class="button-bar clearfix">
        <button ng-if="project.userCan.createProjectInvitation" class="btn btn-default btn-sm" ui-sref="p.invitation.create">
            <span class="glyphicon glyphicon-plus"></span><span>Add Project Invitation</span>
        </button>
    </div>
    <div class="table-container">
        <table class="project-invitations-table table table-hover" ng-table="tableParams" show-filter="true">
            <tr ng-repeat="o in $data" ui-sref="p.invitation.detail({communicationId:o._id})" class="clickable">
                <td class="name-col" header-class="'name-col'"
                    data-title="'Name'"
                    filter="{'name':'text'}"
                    sortable="'name'"><a ui-sref="p.invitation.detail({communicationId:o._id})">{{o.name}}</a>
                </td>
                <td class="artifacts-col" header-class="'artifacts-col'"
                    data-title="'Type'"
                    filter="{'emailTemplate.name':'text'}"
                    sortable="'emailTemplate.name'">{{o.emailTemplate.name}}</td>
                <td class="count-col" header-class="'count-col'"
                    data-title="'Recipients'"
                    sortable="'recipients'">{{o.recipients ? o.recipients.length : 0}}</td>
                <td class="sent-col has-actions" header-class="'sent-col'"
                    data-title="'Sent on'"
                    sortable="'sent'">{{ o.dateSent | date : format : timezone }}
                </td>
                <td class="actions-col" header-class="'actions-col x1'">
                     <div class="btn-group" ng-if="o.userCan.write">
                        <a class="btn icon-btn" title="Edit Project Invitation" ng-click="$event.stopPropagation()" ui-sref="p.invitation.edit({communicationId:o._id})">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </div>
                </td>
            </tr>
            <tr class="no-records hidden" ng-if="!$data || $data.length === 0">
                <td colspan="4">No records found.</td>
            </tr>
        </table>
    </div>
</div>
