
<div class="container">
    <div class="breadcrumbs">
        <a ui-sref="projects">MEM</a>
        <span>/</span>
        <a href="#">Projects</a>
        <span>/</span>
        <a ui-sref="admin.prototype.projectmain">{{project.name}}</a>
        <span>/</span>
        <span>Authorizations</span>
    </div>
    <div class="title-container">
        <h1>Authorizations</h1>
    </div>
    <div class="row">

        <main class="col-sm-12 col-md-7 col-lg-8">
            <section class="page-narrative">
                <p>Coming soon...</p>
            </section>
        </main>
    </div>
</div>