<div class="app-main">
    <div class="container">

        <div class="breadcrumbs">
            <a href="#">Projects</a> 
            <span>/</span>
            <a href="/admin/prototype/project-main">{{projectDetail.name}}</a> 
            <span>/</span>
            <a href="/admin/prototype/compliance-and-enforcement">Compliance &amp; Enforcement</a>
            <span>/</span>
            <a href="/admin/prototype/inspection">Inspection Report: {{projectinspections[0].id}}</a>
            <span>/</span>
            <span>{{projectactions[0].type}} Issued: {{projectactions[0].id}}</span>
        </div>

        <div class="title-container">
            <h1>{{projectactions[0].type}} Issued: {{projectactions[0].id}}</h1>

        </div>
        <div class="row">
            <main class="col-sm-12 col-md-7 col-lg-8">
                
                <section class="action-summary">
                    <p>{{projectactions[0].summary}}</p>
                </section>

                <section class="action-narrative">
                    <h2>Inspector's Order</h2>
                    <div ng-bind-html="projectactions[0].detail"></div>
                    <ul class="resource-list resource-list-lg list-group">
                        <li class="list-group-item list-group-item-action" ng-repeat="document in projectactions[0].documents">
                            <div class="avatar">
                                <i class="material-icons">insert_drive_file</i>
                            </div>
                            <span class="title">
                                <a class="primary" href="">{{document.name}}</a>
                            </span>
                            <span class="actions">
                                <i class="material-icons">file_download</i>
                            </span>
                        </li>
                    </ul>
                </section>

                <section class="action-narrative">
                    <h2>Mine Manager's Response</h2>
                    <p>{{projectactions[0].response}}</p>
                     <ul class="resource-list resource-list-lg list-group">
                        <li class="list-group-item list-group-item-action" ng-repeat="document in projectactions[0].responseDocuments">
                            <div class="avatar">
                                <i class="material-icons">insert_drive_file</i>
                            </div>
                            <span class="title">
                                <a class="primary" href="">{{document.name}}</a>
                            </span>
                            <span class="actions">
                                <i class="material-icons">file_download</i>
                            </span>
                        </li>
                    </ul>
                </section>

            </main>
            <aside class="col-sm-12 col-md-5 col-lg-4">

                <section class="card">
                    <h2 class="card-title">Inspection Details</h2>
                    <div class="card-block">
                    <ul class="detail-list">
                        <li class="clearfix">
                            <span class="name">Mine Name:</span>
                            <span class="value">{{projectDetail.name}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Inspection Date:</span>
                            <span class="value">{{projectinspections[0].date}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Inspecting Agency:</span>
                            <span class="value">{{projectinspections[0].agency}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Inspector(s):</span>
                            <span class="value">{{projectinspections[0].inspector}}</span>
                        </li>
                    </ul>
                </div>
                </section>
                 
                <section class="card">
                    <h2 class="card-title">Related Documents</h2>
                     <div class="resource-list resource-list-sm list-group">
                        <a class="list-group-item list-group-item-action" href="#"
                            ng-repeat="document in projectinspections[0].relatedDocuments">
                            <span class="avatar">
                                <i class="material-icons md-18">insert_drive_file</i>
                            </span>
                            <span class="title">
                                <span class="primary">{{document.name}}</span>
                            </span>
                            <span class="actions">
                                <i class="material-icons md-18">file_download</i>
                            </span>
                        </a>
                    </div>
                </section>
                
            </aside>
        </div>
    </div>
</div>