
<div class="container">

    <div class="breadcrumbs">
        <a ui-sref="projects">MEM</a>
        <span>/</span>
        <a href="#">Projects</a>
        <span>/</span>
        <a ui-sref="admin.prototype.projectmain">{{project.name}}</a>
        <span>/</span>
        <a ui-sref="admin.prototype.cemain">Compliance &amp; Enforcement</a>
        <span>/</span>
        <a ui-sref="admin.prototype.inspection({inspectionId: inspection.inspectionId})">Inspection Report: {{inspection.inspectionId}}</a>
        <span>/</span>
        <span>{{action.type}} Issued: {{action.orderId}}</span>
    </div>

    <div class="title-container stacked">
        <h1>{{action.type}} Issued: {{action.orderId}}</h1>
    </div>
    <div class="row">
        <main class="col-sm-12 col-md-7 col-lg-8">
            
            <section class="action-summary">
                <p>{{action.orderIntroText}}</p>
            </section>

            <section class="action-narrative">
                <h2>Inspector's Order</h2>
                <p ng-bind-html="action.text"></p>
                <ul class="resource-list resource-list-lg list-group">
                    <li class="list-group-item list-group-item-action">
                        <div class="avatar">
                            <i class="material-icons">insert_drive_file</i>
                        </div>
                        <span class="title">
                            <a class="primary" ng-ref="{{action.documentUrl}}" target="_blank">Download Inspection Report - {{action.inspectionId}}</a>
                        </span>
                        <span class="actions">
                            <i class="material-icons">file_download</i>
                        </span>
                    </li>
                </ul>
            </section>

            <section class="action-narrative">
                <h2>Mine Manager's Response</h2>
                <p>{{action.responseText}}</p>
                    <ul class="resource-list resource-list-lg list-group">
                    <li class="list-group-item list-group-item-action">
                        <div class="avatar">
                            <i class="material-icons">insert_drive_file</i>
                        </div>
                        <span class="title">
                            <a class="primary" href="{{action.followupDocumentUrl}}" target="_blank">Download Mine Manager's Response - {{action.inspectionId}}</a>
                        </span>
                        <span class="actions">
                            <i class="material-icons">file_download</i>
                        </span>
                    </li>
                </ul>
            </section>

        </main>
        <aside class="col-sm-12 col-md-5 col-lg-4">

            <section class="card">
                <h2 class="card-title">Inspection Details</h2>
                <div class="card-block">
                <ul class="detail-list">
                    <li class="clearfix">
                        <span class="name">Mine Name:</span>
                        <span class="value">{{project.name}}</span>
                    </li>
                    <li class="clearfix">
                        <span class="name">Inspection Date:</span>
                        <span class="value">{{action.issuedDate}}</span>
                    </li>
                    <li class="clearfix">
                        <span class="name">Inspecting Agency:</span>
                        <span class="value">{{action.agency}}</span>
                    </li>
                    <li class="clearfix">
                        <span class="name">Inspector(s):</span>
                        <span class="value">{{inspection.inspector}}</span>
                    </li>
                </ul>
            </div>
            </section>
                
            <!--
            <section class="card">
                <h2 class="card-title">Related Documents</h2>
                    <div class="resource-list resource-list-sm list-group">
                    <a class="list-group-item list-group-item-action" href="#"
                        ng-repeat="document in inspection.relatedDocuments">
                        <span class="avatar">
                            <i class="material-icons md-18">insert_drive_file</i>
                        </span>
                        <span class="title">
                            <span class="primary">{{document.name}}</span>
                        </span>
                        <span class="actions">
                            <i class="material-icons md-18">file_download</i>
                        </span>
                    </a>
                </div>
            </section>
            -->
            
        </aside>
    </div>
</div>