
<div class="container">
    <div class="breadcrumbs">
        <a href="#">Projects</a> <span>/</span> <a href="/admin/prototype/project-main">{{project.name}}</a> <span>/</span> <span>Topic</span>
    </div>
    <div class="title-container">
        <h1>Inspection Report: {{inspection.id}}</h1>
    </div>
    <div class="row">
        <main class="col-sm-12 col-md-7 col-lg-8">
            
            <section class="page-narrative">
                <p>{{inspection.summary}}</p>   
                <ul class="resource-list resource-list-lg list-group">
                    <li class="list-group-item list-group-item-action">
                        <div class="avatar">
                            <i class="material-icons">insert_drive_file</i>
                        </div>
                        <span class="title">
                            <span class="primary">{{inspection.reportfilename}}}</span>
                        </span>
                        <span class="actions">
                            <i class="material-icons">more_vert</i>
                        </span>
                    </li>
                </ul>
            </section>

            <section>
                <h2>Inspection Follow Up</h2>
                     <ul class="resource-list resource-list-lg list-group">
                        <li class="list-group-item list-group-item-action">
                            <div class="avatar">
                                <i class="material-icons">insert_drive_file</i>
                            </div>
                            <span class="title">
                                <span class="primary">{{inspection.responsefilename}}}</span>
                            </span>
                            <span class="actions">
                                <i class="material-icons">more_vert</i>
                            </span>
                        </li>
                    </ul>
            </section>

            <section>
                <h2>Actions</h2>
                <section>
                    <table ng-table="tableParams" class="inspections-grid ce-grid table table-striped table-hover" show-filter="false">
                        <tr ng-repeat="action in project.inspection">
                            <td class="id-col"
                                header-class="'id-col'"
                                data-title="'ID'"
                                filter="{'actionID':'text'}"
                                sortable="'actionID'">
                                <a href="/admin/prototype/inspection">{{action.id}}</a>
                                <div class="row-desc">{{action.description}}</div>
                                <div class="tag-list">
                                    <span class="tag tag-default" ng-repeat="topic in action">{{topic}}</span>
                                </div>
                            </td>
                            <td class="date-col" 
                                header-class="'date-col'" 
                                data-title="'Date'"
                                filter="{'inspectionID':'text'}"
                                sortable="'inspectionID'">{{action.date}}</td>
                        </tr>
                    </table>
            </section>
            </section>

        </main>
        <aside class="col-sm-12 col-md-5 col-lg-4">

            <section class="card">
                <h2 class="card-title">Inspection Details</h2>
                <div class="card-block">
                    <ul class="detail-list">
                        <li class="clearfix">
                            <span class="name">Mine Name:</span>
                            <span class="value">{{projectName}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Inspection Date:</span>
                            <span class="value">{{inspection.date}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Inspecting Agency:</span>
                            <span class="value">{{inspection.agency}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Inspector(s):</span>
                            <span class="value">{{inspection.inspector}}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Phase:</span>
                            <span class="value">{{inspection.phase}}</span>
                        </li>
                    </ul>
                </div>
            </section>
                
            <section class="card">
                <h2 class="card-title">Related Documents</h2>
                {{> document-resource-list}}
            </section>

            <section class="card">
                <h2 class="card-title">Links of Interest</h2>
                {{> external-resource-list}}
            </section>
            
        </aside>
    </div>
</div>
