
<div class="container">
    
    <div class="breadcrumbs">
        <a ui-sref="projects">MEM</a>
        <span>/</span>
        <a href="#">Projects</a>
        <span>/</span>
        <a ui-sref="admin.prototype.projectmain">{{project.name}}</a>
        <span>/</span>
        <a ui-sref="admin.prototype.cemain">Compliance &amp; Enforcement</a>
        <span>/</span>
        <span>Inspection Report: {{inspection.inspectionId}} </span>
    </div>

    <div class="title-container">
        <h1>Inspection Report: {{inspection.inspectionId}}</h1>
    </div>

    <div class="row">
        <main class="col-sm-12 col-md-7 col-lg-8">
            
            <section class="page-narrative">
                <p>{{inspection.followupText}}</p>
                <ul class="resource-list resource-list-lg list-group">
                    <li class="list-group-item list-group-item-action">
                        <div class="avatar">
                            <i class="material-icons">insert_drive_file</i>
                        </div>
                        <span class="title">
                            <a class="primary" href="{{inspection.documentUrl}}" target="_blank">Download Inspection Report - {{inspection.inspectionId}}</a>
                        </span>
                        <span class="actions">
                            <i class="material-icons">file_download</i>
                        </span>
                    </li>
                </ul>
            </section>

            <section ng-if="inspection.followupDocumentUrl">
                <h2>Inspection Follow Up</h2>
                     <ul class="resource-list resource-list-lg list-group">
                        <li class="list-group-item list-group-item-action">
                            <div class="avatar">
                                <i class="material-icons">insert_drive_file</i>
                            </div>
                            <span class="title">
                                <a class="primary" href="{{inspection.followupDocumentUrl}}">Download Mine Manager's Response - {{inspection.inspectionId}}</a>
                            </span>
                            <span class="actions">
                                <i class="material-icons">file_download</i>
                            </span>
                        </li>
                    </ul>
            </section>

            <section>
                <h2>Inspection Actions</h2>
                <div class="title-bar">
                    <h3>Viewing {{tableParams.total()}} of {{inspectionActions.length}} Actions</h3>
                    <div class="filters">
                        <div class="form-inline">
                            <div class="form-group">
                                <select class="form-control" class="form-control" ng-model="pageSize" ng-options="size for size in tableParams.settings().counts" ng-change="changePageSize(pageSize)"></select>
                            </div>
                        </div>
                    </div>
                </div>

                <table ng-table="tableParams" class="actions-grid ce-grid table table-striped" show-filter="false">
                    <tr ng-repeat="action in $data">
                        <td class="id-col"
                            header-class="'id-col'"
                            data-title="'ID'"
                            filter="{'orderId':'text'}"
                            sortable="'orderId'">
                            <a ng-show="action.documentUrl !== ''" ui-sref="admin.prototype.action({orderId: action.orderId})">{{action.type}} Issued: {{action.orderId}}</a>
                            <a ng-show="action.documentUrl === ''" disabled ui-sref="#">{{action.type}} Issued: {{action.orderId}}</a>
                            <pre class="row-desc" ng-bind-html="action.text"></pre>
                            <div class="tag-list">
                                <span class="tag tag-default" ng-repeat="topic in action.topics">{{topic}}</span>
                            </div>
                        </td>
                        <td class="date-col" 
                            header-class="'date-col'" 
                            data-title="'Date'"
                            filter="{'issuedDate':'text'}"
                            sortable="'issuedDate'">{{action.issuedDate}}</td>
                    </tr>
                    <tr ng-if="!$data || $data.length === 0">
                        <td colspan="2">
                            No records found.
                        </td>
                    </tr>
                </table>
        </section>

        </main>
        <aside class="col-sm-12 col-md-5 col-lg-4">

            <section class="card">
                <h2 class="card-title">Inspection Details</h2>
                <div class="card-block">
                    <ul class="detail-list">
                        <li class="clearfix">
                            <span class="name">Mine Name:</span>
                            <span class="value">{{project.name}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Inspection Date:</span>
                            <span class="value">{{inspection.date}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Inspecting Agency:</span>
                            <span class="value">{{inspection.agency}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Inspector(s):</span>
                            <span class="value">{{inspection.inspector}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Phase:</span>
                            <span class="value">{{inspection.phase}}</span>
                        </li>
                    </ul>
                </div>
            </section>
                
            <section class="card">
                <h2 class="card-title">Related Documents</h2>
                <div class="resource-list resource-list-sm list-group">
                   <li class="list-group-item list-group-item-action">
                        <div class="avatar">
                            <i class="material-icons md-18">insert_drive_file</i>
                        </div>
                        <span class="title">
                            <a class="primary" ng-href="{{inspection.documentUrl}}" target="_blank">Inspection Report - {{inspection.inspectionId}}</a>
                        </span>
                        <span class="actions">
                            <i class="material-icons md-18">file_download</i>
                        </span>
                    </li>
                    <li class="list-group-item list-group-item-action" ng-if="inspection.followupDocumentUrl">
                        <div class="avatar">
                            <i class="material-icons md-18">insert_drive_file</i>
                        </div>
                        <span class="title">
                            <a class="primary" ng-href="{{inspection.followupDocumentUrl}}" target="_blank">Mine Manager's Response - {{inspection.inspectionId}}</a>
                        </span>
                        <span class="actions">
                            <i class="material-icons md-18">file_download</i>
                        </span>
                    </li>
                </div>
            </section>
            
        </aside>
    </div>
</div>
