
<div class="container">
    <div class="breadcrumbs">
        <a ui-sref="projects">MEM</a>
        <span>/</span>
        <a href="#">Projects</a>
        <span>/</span>
        <a ui-sref="admin.prototype.projectmain">{{project.name}}</a>
        <span>/</span>
        <span>{{project.ceDetails.title}}</span>
    </div>
    <div class="title-container">
        <h1>{{project.ceDetails.title}}</h1>
    </div>
    <div class="row">
        <main class="col-sm-12 col-md-8">

             <section class="has-read-more ce-narrative">
                <input class="toggle-link" type="checkbox"/>
                <div class="content" ng-bind-html="project.ceDetails.description"></div>
            </section>

            <section>
                <h2>Compliance Oversight &nbsp;<em>(Jan 1 &ndash; Sept 30, 2016)</em></h2>
                <ul class="ce-blocks block-container clearfix">
                    <li>
                        <div class="block">
                            <div class="avatar">
                                <i class="material-icons">assignment_turned_in</i>
                            </div>
                            <span class="title">
                                <span class="primary">Inspections</span>
                            </span>
                            <span class="metric">
                                <div class="metric-block">{{project.inspections.length}}</div>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="block">
                            <div class="avatar">
                                <i class="material-icons">assignment</i>
                            </div>
                            <span class="title">
                                <span class="primary">Actions</span>
                            </span>
                            <span class="metric">
                                <div class="metric-block">{{project.actions.length}}</div>
                            </span>
                        </div>
                    </li>
                </ul>
            </section>
            <section>

                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="tab" href="#inspections" role="tab">Inspections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#actions" role="tab">Actions</a>
                    </li>
               </ul>

               <div class="tab-content">

                   <!-- INSPECTIONS TAB CONTENT -->
                    <div class="tab-pane active" id="inspections" role="tabpanel">
                
                        <div class="title-bar">
                            <h3>Showing {{tableParamsInspectionsStats.first}} - {{tableParamsInspectionsStats.last}} of {{tableParamsInspectionsStats.totalCount}}</h3>
                            <div class="filters">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>Show&nbsp;</label>
                                        <select class="form-control" class="form-control" ng-model="pageSizeInspections" ng-options="size for size in tableParamsInspections.settings().counts" ng-change="changePageSizeInspections(pageSizeInspections)"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <table ng-table="tableParamsInspections" class="inspections-grid ce-grid table table-striped" show-filter="false">
                            <tr ng-repeat="inspection in $data">
                                <td class="id-col"
                                    header-class="'id-col'"
                                    data-title="'ID'"
                                    filter="{'inspectionId':'text'}"
                                    sortable="'inspectionId'">
                                    <a ng-show="inspection.detailPage === 'Y'" ui-sref="admin.prototype.inspection({inspectionId:inspection.inspectionId})">{{inspection.inspectionId}} ({{inspection.agency}}) </a>
                                    <a ng-show="inspection.detailPage !== 'Y'" ui-sref="#">{{inspection.inspectionId}} ({{inspection.agency}}) </a>
                                    <div class="ce-grid-row-desc" ng-bind-html="inspection.followupText"></div>
                                </td>
                                <td class="date-col" 
                                    header-class="'date-col'" 
                                    data-title="'Inspection Date'"
                                    filter="{'date':'text'}"
                                    sortable="'date'">{{inspection.date}}</td>
                                <td class="followup-col"
                                    header-class="'followup-col'"
                                    data-title="'Recent Follow-Up'"
                                    filter="{'followupType':'text'}"
                                    sortable="'followupType'">{{inspection.followupType}}</td>
                            </tr>
                            <tr ng-if="!$data || $data.length === 0">
                                <td colspan="3">
                                    No Inspections.
                                </td>
                            </tr>
                        </table>

                    </div><!-- -->

                    <!-- ACTIONS TAB CONTENT -->
                    <div class="tab-pane" id="actions" role="tabpanel">
                        <div class="title-bar">
                            <h3>Showing {{tableParamsActionsStats.first}} - {{tableParamsActionsStats.last}} of {{tableParamsActionsStats.totalCount}}</h3>
                            <div class="filters">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>Show&nbsp;</label>
                                        <select class="form-control" class="form-control" ng-model="pageSizeActions" ng-options="size for size in tableParamsActions.settings().counts" ng-change="changePageSizeActions(pageSizeActions)"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table ng-table="tableParamsActions" class="actions-grid ce-grid table table-striped" show-filter="false">
                            <tr ng-repeat="action in $data">
                                <td class="id-col"
                                    header-class="'id-col'"
                                    data-title="'ID'"
                                    filter="{'orderId':'text'}"
                                    sortable="'orderId'">
                                    <a ng-show="action.documentUrl !== ''" ui-sref="admin.prototype.action({orderId: action.orderId})">{{action.type}} Issued: {{action.orderId}}</a>
                                    <a ng-show="action.documentUrl === ''" disabled ui-sref="#">{{action.type}} Issued: {{action.orderId}}</a>
                                    <div class="ce-grid-row-desc" ng-bind-html="action.text"></div>
                                </td>
                                <td class="date-col"
                                    header-class="'date-col'"
                                    data-title="'Date'"
                                    filter="{'issueDate':'text'}"
                                    sortable="'issueDate'">{{action.issuedDate}}</td>
                            </tr>
                            <tr ng-if="!$data || $data.length === 0">
                                <td colspan="2">
                                    No Actions.
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- -->

                </div>
            </section>
        </main>

        <aside class="col-sm-12 col-md-4">
                
            <section class="card">
                <h2 class="card-title">Related Documents</h2>
                <ul class="resource-list resource-list-sm list-group">
                    <li class="list-group-item list-group-item-action" href="#">
                        <span class="avatar">
                            <i class="material-icons md-18">insert_drive_file</i>
                        </span>
                        <span class="title">
                            <a href="http://www2.gov.bc.ca/assets/gov/environment/research-monitoring-and-reporting/reporting/reporting-documents/environmental-enforcement-docs/compliance_mgmt_framework.pdf" target="_blank">Ministry of Environment - Compliance Management Framework</a>
                        </span>
                        <span class="actions">
                            <i class="material-icons md-18">file_download</i>
                        </span>
                    </li>
                </ul>
            </section>

            <section class="card">
                <h2 class="card-title">External Links</h2>
                <ul class="resource-list resource-list-sm list-group">
                    <li class="list-group-item"><a href="#" target="_blank">Mining Compliance &amp; Enforcement</a></li>
                    <li class="list-group-item"><a href="#" target="_blank">Environmental Assessment Office Compliance &amp; Enforcement</a></li>
                </ul>
            </section>
            
        </aside>
    </div>
</div>