
<div class="container">
    <div class="breadcrumbs">
        <a ui-sref="projects">MEM</a>
        <span>/</span>
        <a href="#">Projects</a>
        <span>/</span>
        <a ui-sref="admin.prototype.projectmain">{{project.name}}</a>
        <span>/</span>
        <span>{{project.ceDetails.title}}</span>
    </div>
    <div class="title-container">
        <h1>{{project.ceDetails.title}}</h1>
    </div>
    <div class="row">
        <main class="col-sm-12 col-md-8">
            <section class="page-narrative">
                <p>{{project.ceDetails.description}} <a class="read-more-link" href="javascript:void();">Read More »</a></p>
            </section>
            <section>
                <h2>Compliance Oversight</h2>
                <ul class="ce-blocks block-container clearfix">
                    <li>
                        <div class="block">
                            <div class="avatar">
                                <i class="material-icons">playlist_add_check</i>
                            </div>
                            <span class="title">
                                <span class="primary">Inspections</span>
                            </span>
                            <span class="metric">
                                <div class="metric-block">{{project.inspections.length}}</div>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="block">
                            <div class="avatar">
                                <i class="material-icons">flag</i>
                            </div>
                            <span class="title">
                                <span class="primary">Actions</span>
                            </span>
                            <span class="metric">
                                <div class="metric-block">{{project.actions.length}}</div>
                            </span>
                        </div>
                    </li>
                </ul>
            </section>
            <section>
                <h2>Inspections</h2>
                    <div class="title-bar">
                        <h3>Viewing {{project.inspections.length}} of {{project.inspections.length}} inspections</h3>
                        <div class="filters">
                            <div class="form-inline">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option selected>Sort by</option>
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option selected>10</option>
                                        <option>25</option>
                                        <option>50</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table ng-table="tableParams" class="inspections-grid ce-grid table table-striped table-hover" show-filter="false">
                        <tr ng-repeat="inspection in project.inspections">
                            <td class="id-col"
                                header-class="'id-col'"
                                data-title="'ID'"
                                filter="{'inspectionID':'text'}"
                                sortable="'inspection._id'">
                                <a ui-sref="admin.prototype.inspection({inspectionId:inspection.inspectionId})">{{inspection.inspectionId}} ({{inspection.agency}}) </a>
                                <div class="tag-list">
                                    <span class="tag tag-default" ng-repeat="topic in inspection.topics">{{topic}}</span>
                                </div>
                            </td>
                            <td class="date-col" 
                                header-class="'date-col'" 
                                data-title="'Inspection Date'"
                                filter="{'inspection.date':'text'}"
                                sortable="'inspection.date'">{{inspection.date}}</td>
                            <td class="date-col"
                                header-class="'date-col'"
                                data-title="'Most Recent Follow-Up'"
                                filter="{'inspection.date':'text'}"
                                sortable="'inspection.date'">{{inspection.followupType}}</td>
                        </tr>
                    </table>
            </section>
        </main>

        <aside class="col-sm-12 col-md-4">
                
            <section class="card">
                <h2 class="card-title">Related Documents</h2>
                <div class="resource-list resource-list-sm list-group">
                    <a class="list-group-item list-group-item-action" href="#">
                        <span class="avatar">
                            <i class="material-icons md-18">insert_drive_file</i>
                        </span>
                        <span class="title">
                            <a class="primary" href="http://www2.gov.bc.ca/assets/gov/environment/research-monitoring-and-reporting/reporting/reporting-documents/environmental-enforcement-docs/compliance_mgmt_framework.pdf" target="_blank">Document Link</a>
                        </span>
                        <span class="actions">
                            <i class="material-icons md-18">file_download</i>
                        </span>
                    </a>
                </div>
            </section>

            <section class="card">
                <h2 class="card-title">External Links</h2>
                <ul class="resource-list resource-list-sm list-group">
                    <li class="list-group-item"><a href="#" target="_blank">Mining Compliance &amp; Enforcement</a></li>
                    <li class="list-group-item"><a href="#" target="_blank">Environmental Assessment Office Compliance &amp; Enforcement</a></li>
                </ul>
            </section>
            
        </aside>
    </div>
</div>