
<div class="container">
    <div class="breadcrumbs">
        <a ui-sref="projects">MEM</a>
        <span>/</span>
        <a href="#">Projects</a>
        <span>/</span>
        <a ui-sref="admin.prototype.projectmain">{{project.name}}</a>
        <span>/</span>
        <a ui-sref="admin.prototype.conditionsmain">Project Conditions</a>
        <span>/</span>
        <span>Condition: {{condition.title}} </span>
    </div>
    <div class="title-container stacked">
        <h1>{{condition.title}}</h1>
        <div class="tag-list">
            <span class="tag tag-default" ng-repeat="topic in condition.topics">{{topic}}</span>
        </div>
    </div>
    <div class="row">

        <main class="col-sm-12 col-md-7 col-lg-8">
            <section class="page-narrative">
                <p ng-bind-html="condition.conditionText"></p>
            </section>
            <section>
                <h2>Supporting Documents</h2>
                <ul class="resource-list resource-list-lg list-group">
                    <li class="list-group-item list-group-item-action" ng-repeat="document in condition.supportDocuments">
                        <div class="avatar">
                            <i class="material-icons">insert_drive_file</i>
                        </div>
                        <span class="title">
                            <a class="primary" href="">{{document.name}}</a>
                        </span>
                        <span class="actions">
                            <i class="material-icons">file_download</i>
                        </span>
                    </li>
                </ul>
            </section>
        </main>

        <aside class="col-sm-12 col-md-5 col-lg-4">
            <section class="card">
                <h2 class="card-title">Condition Details</h2>
                <div class="card-block">
                <ul class="detail-list">
                    <li class="clearfix">
                        <span class="name">Last Updated:</span>
                        <span class="value">{{condition.lastUpdated}}</span>
                    </li>
                    <li class="clearfix">
                        <span class="name">Agency:</span>
                        <span class="value">{{condition.agency}}</span>
                    </li>
                    <li class="clearfix">
                        <span class="name">Phase(s):</span>
                        <span class="value">
                            <span ng-repeat="phase in condition.phases">{{phase}}</span>
                        </span>
                    </li>
                    <li class="clearfix">
                        <span class="name">Condition Type:</span>
                        <span class="value">{{condition.conditionType}}</span>
                    </li>
                    <li class="clearfix">
                        <span class="name">Permit Section:</span>
                        <span class="value">{{condition.authorizationSection}}</span>
                    </li>
                </ul>
            </div>
            </section>
        </aside>
    </div>
</div>