
<div class="container">
    <div class="breadcrumbs">
        <a ui-sref="projects">MEM</a>
        <span>/</span>
        <a href="#">Projects</a>
        <span>/</span>
        <a ui-sref="admin.prototype.projectmain">{{project.name}}</a>
        <span>/</span>
        <a ui-sref="admin.prototype.conditionsmain">Project Conditions</a>
        <span>/</span>
        <span>Condition: {{condition.title}} </span>
    </div>
    <div class="title-container stacked">
        <h1>{{condition.title}} - {{condition.conditionNo}}</h1>
    </div>
    <div class="row">

        <main class="col-sm-12 col-md-7 col-lg-8">
            <section class="page-narrative">
                <p ng-bind-html="condition.conditionText"></p>
            </section>
            <section ng-if="condition.supportDocuments.length > 0">
                <h2>Supporting Documents</h2>
                <ul class="resource-list resource-list-lg list-group">
                    <li class="list-group-item list-group-item-action" ng-repeat="document in condition.supportDocuments">
                        <div class="avatar">
                            <i class="material-icons">insert_drive_file</i>
                        </div>
                        <span class="title">
                            <a class="primary" href="{{document.url}}" target="_blank">{{document.name}}{{documenturl}}</a>
                        </span>
                        <span class="actions">
                            <i class="material-icons">file_download</i>
                        </span>
                    </li>
                </ul>
            </section>
        </main>

        <aside class="col-sm-12 col-md-5 col-lg-4">
            <section class="card">
                <h2 class="card-title">Condition Details</h2>
                <div class="card-block">
                <ul class="detail-list">
                    <li class="clearfix">
                        <span class="name">Last Updated:</span>
                        <span class="value">{{condition.lastUpdated}}</span>
                    </li>
                    <li class="clearfix">
                        <span class="name">Agency:</span>
                        <span class="value">{{condition.agency}}</span>
                    </li>
                    <li class="clearfix">
                        <span class="name">Phase(s):</span>
                        <span class="value">
                            <span ng-repeat="phase in condition.phases">{{phase}}</span>
                        </span>
                    </li>
                    <li class="clearfix">
                        <span class="name">Condition Type:</span>
                        <span class="value">{{condition.conditionType}}</span>
                    </li>
                    <li class="clearfix">
                        <span class="name">Permit Section:</span>
                        <span class="value">{{condition.authorizationSection}}</span>
                    </li>
                </ul>
            </div>
            </section>
            <section class="card">
                <h2 class="card-title">Related Documents</h2>
                <div class="resource-list resource-list-sm list-group">
                    <a class="list-group-item list-group-item-action" href="https://mines.empr.gov.bc.ca/api/document/5822594b6d6ad30017cd6b81/fetch">
                        <span class="avatar">
                            <i class="material-icons md-18">insert_drive_file</i>
                        </span>
                        <span class="title">
                            <span class="primary">Mines Act Permit M-236 - Approval to Operate Tailings Storage Facility</span>
                        </span>
                        <span class="actions">
                            <i class="material-icons md-18">file_download</i>
                        </span>
                    </a>
                </div>
            </section>
        </aside>
    </div>
</div>