
<div class="container">
    
    <div class="breadcrumbs">
        <a ui-sref="projects">MEM</a>
        <span>/</span>
        <a ui-sref="admin.prototype.projectmain">Projects</a>
        <span>/</span> 
        <span>{{project.name}}</span>
    </div>
    
    <div class="title-container">
        <h1>{{project.name}}</h1>
    </div>
    <div class="row">
        <main class="col-sm-12 col-md-8">
            
            <section class="page-narrative">
                <p>{{project.description}} <a class="read-more-link" href="#">Read More »</a></p>
            </section>

            <section>
                <h2>Topics</h2>
                <p>Explore the topic areas below to learn more about how the mining operations generally and the {{project.name}} specifically address the shared values of the people of British Columbia.</p>
                <ul class="topic-blocks block-container clearfix">
                    <li ng-repeat="topic in topics">
                        <a class="block block-hover" ng-show="topic.description !== ''" ui-sref="admin.prototype.topic({topicId: topic.topicId})">
                            <h3>{{topic.name}}</h3>
                            <span class="subtopics">Air, Water, Land, Tailings Management etc.</span>
                        </a>
                        <a class="block disabled" ng-show="topic.description ===''" ui-sref="#">
                            <h3>{{topic.name}}</h3>
                            <span class="subtopics">Subtopic, Subtopic, Subtopic, etc.</span>
                        </a>
                    </li>
                </ul>
            </section>

            <section>
                <h2>Authorizations</h2>
                <ul class="authorization-blocks resource-list resource-list-lg list-group">
                    <li class="list-group-item" ng-repeat="authorization in project.groupedAuthorizations">
                        <span class="title">
                            <span class="primary">{{authorization.name}}</span>
                            <span class="secondary secondary-color">{{authorization.agency}}</span>
                        </span>
                        <span class="details">
                            <span>{{authorization.status}}</span>
                            <span>{{authorization.date}}</span>
                        </span>
                    </li>
                </ul>
                <a class="read-more-link mt-1" href="javascript:void();">Learn More about Authorizations for {{project.name}} »</a>
                <!-- <a class="read-more-link mt-05" ui-sref="admin.prototype.conditionsmain">Browse all Conditions for {{project.name}} »</a> -->
            </section>

            <section>
                <h2>Compliance &amp; Enforcement</h2>
                <ul class="ce-blocks block-container clearfix">
                    <li>
                        <div class="block">
                            <div class="avatar">
                                <i class="material-icons">assignment_turned_in</i>
                            </div>
                            <span class="title">
                                <span class="primary">Inspections</span>
                            </span>
                            <span class="metric">
                                <div class="metric-block">{{project.inspections.length}}</div>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="block">
                            <div class="avatar">
                                <i class="material-icons">assignment</i>
                            </div>
                            <span class="title">
                                <span class="primary">Actions</span>
                            </span>
                            <span class="metric">
                                <div class="metric-block">{{project.actions.length}}</div>
                            </span>
                        </div>
                    </li>
                </ul>
                <a class="read-more-link mt-05" ui-sref="admin.prototype.cemain">More about Compliance &amp; Enforcement at {{project.name}} »</a>
            </section>

        </main>
        <aside class="col-sm-12 col-md-4">

            <section class="card">
                <h2 class="card-title">Details</h2>
                <div class="map-thumb">
                    <img src="modules/prototype/client/images/map-thumb.png"
                        ui-sref="admin.prototype.map"
                        data-toggle="modal" 
                        data-target="#mapWindow" />
                </div>

                <div class="card-block">
                    <ul class="detail-list">
                        <li class="clearfix">
                            <span class="name">Operator</span>
                            <span class="value">{{project.operator}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Ownership</span>
                            <span class="value">{{project.ownership}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Commodities</span>
                            <span class="value">{{project.commodities}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Tailings Impoundments</span>
                            <span class="value">{{project.tailingsCount}}</span>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="card">
                <h2 class="card-title">Project Status</h2>
                <ul class="project-status resource-list resource-list-sm list-group">
                    <li class="list-group-item" ng-class="{'inactive' : phase.status == 'Inactive'}" ng-repeat="phase in project.phases | orderBy: 'order'">
                        <span class="title">
                            <span class="primary">{{phase.name}}</span>
                        </span>
                        <span class="actions">
                            <span class="tag"
                                    ng-class="{'tag-info': phase.status == 'Active', 'tag-default': phase.status == 'Complete' || phase.status == 'Inactive'}">{{phase.status}}</span>
                        </span>
                    </li>
                </ul>
            </section>


        </aside>
    </div>
</div>
