<div class="container page-main">

    <div class="breadcrumbs">
        <a ui-sref="projects">MEM</a>
        <span>/</span>
        <a ui-sref="admin.prototype.projectmain">Projects</a>
        <span>/</span>
        <span>{{project.name}}</span>
    </div>

    <div class="title-container">
        <h1>{{project.name}}</h1>
        <div class="actions">
            <a class="btn btn-link" ui-sref="admin.prototype.documents">
                <i class="material-icons fl">insert_drive_file</i>Project Documents
            </a>
        </div>
    </div>
    <div class="row">
        <main class="col-sm-12 col-md-8">

            <section class="has-read-more project-narrative">
                <input class="toggle-link" type="checkbox" />
                <div class="content" ng-bind-html="project.description"></div>
            </section>

            <section>
                <h2>Topics</h2>
                <p>The Province strives to ensure that mines provide jobs and economic benefits in communities across the province while operating in a safe, environmentally responsible manner that protects health, heritage and other resources for future generations. Explore the topic areas below to learn more about oversight of Mount Milligan, including project-specific conditions, inspections and actions.</p>
                <ul class="topic-blocks block-container clearfix">
                    <li ng-repeat="topic in topics">
                        <a class="block block-hover" ng-show="topic.description !== ''" ui-sref="admin.prototype.topic({topicId: topic.topicId})">
                            <h3>{{topic.name}}</h3>
                            <span class="subtopics">Air, Water, Land, Tailings Management, etc.</span>
                        </a>
                        <a class="block disabled" ng-show="topic.description ===''" ui-sref="#">
                            <h3>{{topic.name}}</h3>
                            <span class="subtopics">Subtopic, Subtopic, Subtopic, etc.</span>
                        </a>
                    </li>
                </ul>
            </section>

            <section>
                <h2>Authorizations</h2>
                <p>Environmental assessment certificates and permits issued under the Mines Act and the Environmental Management Act (EMA) are the primary provincial authorizations for major mine projects in BC.</p>

                <div class="authorization-blocks resource-list resource-list-lg" id="accordion" role="tablist" aria-multiselectable="false">
                    <div class="card">
                        <div class="list-group-item" role="tab" id="headingOne">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">
                                <span class="title">
                                    <span class="primary">Environmental Assessment Act</span>
                                    <span class="secondary">Environmental Assessment Office</span>
                                </span>
                                 <span class="avatar">
                                    <i class="material-icons md-36 open-icon">add</i>
                                    <i class="material-icons md-36 close-icon">remove</i>
                                </span>
                            </a>
                        </div>

                        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                            <ul class="authorization-list">
                                <li>
                                    <a href="http://a100.gov.bc.ca/appsdata/epic/documents/p285/1237403247586_286469e2062a9eff93eeb05dbbaf5feb44436a0a2dce54b6eef3ef5cdccfb280.pdf" target="_blank">
                                        <i class="material-icons md-18">insert_drive_file</i>
                                        <span class="title">Environmental Assessment Certificate</span>
                                        <span class="details">Issued - 2009-03-16</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="http://a100.gov.bc.ca/appsdata/epic/documents/p285/d35402/1362418919238_7663b740436f6524ba2a1c5cf145e0cee79912c6feb99d7932b630eaeaf6fae0.pdf" target="_blank">
                                        <i class="material-icons md-18">insert_drive_file</i>
                                        <span class="title">Environmental Assessment Certificate Amendment</span>
                                        <span class="details">Certificate Amended - 2013-03-01</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="list-group-item" role="tab" id="headingTwo">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false">
                                <span class="title">
                                    <span class="primary">Environmental Management Act</span>
                                    <span class="secondary">Ministry of Environment</span>
                                </span>
                                 <span class="avatar">
                                    <i class="material-icons md-36 open-icon">add</i>
                                    <i class="material-icons md-36 close-icon">remove</i>
                                </span>
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <ul class="authorization-list">
                                <li>
                                    <a href="https://mem-mmt-test.pathfinder.gov.bc.ca/api/document/582a2d5348077f0017feb5a0/fetch" target="_blank">
                                        <i class="material-icons md-18">insert_drive_file</i>
                                        <span class="title">{{project.authorizations[2].type}}</span>
                                        <span class="details">{{project.authorizations[2].status}} - {{project.authorizations[2].date}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://mem-mmt-test.pathfinder.gov.bc.ca/api/document/582a2d5348077f0017feb5a1/fetch" target="_blank">
                                        <i class="material-icons md-18">insert_drive_file</i>
                                        <span class="title">{{project.authorizations[0].type}}</span>
                                        <span class="details">{{project.authorizations[0].status}} - {{project.authorizations[0].date}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://mem-mmt-test.pathfinder.gov.bc.ca/api/document/582a2d5348077f0017feb5a2/fetch" target="_blank">
                                        <i class="material-icons md-18">insert_drive_file</i>
                                        <span class="title">{{project.authorizations[1].type}}</span>
                                        <span class="details">{{project.authorizations[1].status}} - {{project.authorizations[1].date}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="list-group-item" role="tab" id="headingThree">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false">
                                <span class="title">
                                    <span class="primary">Mines Act</span>
                                    <span class="secondary">Ministry of Energy and Mines</span>
                                </span>
                                <span class="avatar">
                                    <i class="material-icons md-36 open-icon">add</i>
                                    <i class="material-icons md-36 close-icon">remove</i>
                                </span>
                            </a>
                        </div>
                        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                            <ul class="authorization-list">
                                <li>
                                    <a href="https://mines.empr.gov.bc.ca/api/document/5822594b6d6ad30017cd6b81/fetch" target="_blank">
                                        <i class="material-icons md-18">insert_drive_file</i>
                                        <span class="title">Approval to Operate Tailings Storage Facility</span>
                                        <span class="details">Permit Amendment - 2013-06-05</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://mines.empr.gov.bc.ca/api/document/582259466d6ad30017cd6b40/fetch" target="_blank">
                                        <i class="material-icons md-18">insert_drive_file</i>
                                        <span class="title">Approving Construction of a Blend and Feed Ore Stockpile</span>
                                        <span class="details">Permit Amendment - 2013-04-16</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://mines.empr.gov.bc.ca/api/document/582259536d6ad30017cd6bf6/fetch" target="_blank">
                                        <i class="material-icons md-18">insert_drive_file</i>
                                        <span class="title">Approving Change in Security Schedule</span>
                                        <span class="details">Permit Amendment - 2010-07-14</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://mines.empr.gov.bc.ca/api/document/5822597e6d6ad30017cd6db0/fetch" target="_blank">
                                        <i class="material-icons md-18">insert_drive_file</i>
                                        <span class="title">Approving Mine Plan and Reclamation Program</span>
                                        <span class="details">Permit - 2009-09-08</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>
                        <a class="read-more-link mt-05" ui-sref="admin.prototype.conditionsmain">Browse all Conditions for {{project.name}} »</a>
                    </li>
                </ul>

            </section>

            <section>
                <h2>Compliance &amp; Enforcement &nbsp;<em>(Jan 1 &ndash; Sept 30, 2016)</em></h2>
                <ul class="ce-blocks block-container clearfix">
                    <li>
                        <div class="block">
                            <div class="avatar">
                                <i class="material-icons">assignment_turned_in</i>
                            </div>
                            <span class="title">
                                <span class="primary">Inspections</span>
                            </span>
                            <span class="metric">
                                <div class="metric-block">{{project.inspections.length}}</div>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="block">
                            <div class="avatar">
                                <i class="material-icons">assignment</i>
                            </div>
                            <span class="title">
                                <span class="primary">Actions</span>
                            </span>
                            <span class="metric">
                                <div class="metric-block">{{project.actions.length}}</div>
                            </span>
                        </div>
                    </li>
                </ul>
                <a class="read-more-link mt-05" ui-sref="admin.prototype.cemain">More about Compliance &amp; Enforcement at {{project.name}} »</a>
            </section>

        </main>
        <aside class="col-sm-12 col-md-4">

            <section class="card">
                <h2 class="card-title">Details</h2>
                <div class="map-thumb">
                    <img src="modules/prototype/client/images/map-thumb.png" ui-sref="admin.prototype.map" data-toggle="modal" data-target="#mapWindow"/>
                </div>

                <div class="card-block">
                    <ul class="detail-list">
                        <li class="clearfix">
                            <span class="name">Operator</span>
                            <span class="value">{{project.operator}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Ownership</span>
                            <span class="value">{{project.ownership}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Commodities</span>
                            <span class="value">{{project.commodities}}</span>
                        </li>
                        <li class="clearfix">
                            <span class="name">Tailings Impoundments</span>
                            <span class="value">{{project.tailingsCount}}</span>
                        </li>
                    </ul>
                </div>
            </section>

            <section class="card">
                <h2 class="card-title">Project Status</h2>
                <ul class="project-status resource-list resource-list-sm list-group">
                    <li class="list-group-item" ng-class="{'inactive' : phase.status == 'Inactive'}" ng-repeat="phase in project.phases | orderBy: 'order'">
                        <span class="title" title="{{phase.description}}">
                            <span class="primary">{{phase.name}}</span>
                        </span>
                        <span class="actions">
                            <span class="tag" title="{{phase.status}}"
                                    ng-class="{'tag-info': phase.status == 'Active', 'tag-default': phase.status == 'Complete' || phase.status == 'Inactive'}">{{phase.status}}</span>
                        </span>
                    </li>
                </ul>
            </section>

            <section class="card">
                <h2 class="card-title">External Links</h2>
                <ul class="resource-list resource-list-sm list-group">
                    <li class="list-group-item"><a href="http://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations/ministries/energy-and-mines"
                            target="_blank">Ministry of Energy &amp; Mines</a></li>
                    <li class="list-group-item"><a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/health-safety/health-safety-and-reclamation-code-for-mines-in-british-columbia"
                            target="_blank">Mineral Exploration &amp; Mining (Ministry of Energy and Mines)</a></li>
                    <li class="list-group-item"><a href="http://www2.gov.bc.ca/gov/content/governments/organizational-structure/ministries-organizations/ministries/environment"
                            target="_blank">Ministry of Environment</a></li>
                    <li class="list-group-item"><a href="http://www.eao.gov.bc.ca/" target="_blank">Environmental Assessment Office</a></li>
                    <li class="list-group-item"><a href="http://a100.gov.bc.ca/appsdata/epic/html/deploy/epic_project_home_285.html" target="_blank">Mount Milligan Environmental Assessment</a></li>
                </ul>
            </section>


        </aside>
    </div>
</div>