
<div class="container">

    <div class="breadcrumbs">
        <a ui-sref="projects">MEM</a>
        <span>/</span>
        <a href="#">Projects</a>
        <span>/</span>
        <a ui-sref="admin.prototype.projectmain">{{project.name}}</a>
        <span>/</span>
        <a ui-sref="admin.prototype.topic({topicId: topic.topicId})">{{topic.name}}</a>
        <span>/</span>
        <span>{{subtopic.name}}</span>
    </div>
    
    <div class="title-container">
        <h1>{{subtopic.name}}</h1>
    </div>
    <div class="row">
        <main class="col-sm-12 col-md-7 col-lg-8">
        
            <section ng-bind-html="subtopic.description">
            </section>

            <section>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#conditions" role="tab">Conditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#inspections" role="tab">Inspections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#actions" role="tab">Actions</a>
                    </li>
               </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="conditions" role="tabpanel">
                        <table ng-table="tableParams" class="inspections-grid ce-grid table table-striped table-hover" show-filter="false">
                            <tr ng-repeat="condition in subtopic.conditions">
                                <td class="id-col"
                                    header-class="'id-col'"
                                    data-title="'Name'"
                                    filter="{'name':'text'}"
                                    sortable="'name'">
                                    <a ui-sref="admin.prototype.condition({conditionId: condition.conditionId})">{{condition.title}}</a>
                                    <pre class="row-desc" ng-bind-html="condition.conditionText"></pre>
                                    <div class="tag-list">
                                        <span class="tag tag-default" ng-repeat="topic in condition.topics">{{topic}}</span>
                                    </div>
                                </td>
                                <td class="date-col" 
                                    header-class="'date-col'" 
                                    data-title="'Agency'"
                                    filter="{'agency':'text'}"
                                    sortable="'agency'">{{condition.agency}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="inspections" role="tabpanel">
                        <table ng-table="tableParams" class="inspections-grid ce-grid table table-striped table-hover" show-filter="false">
                            <tr ng-repeat="inspection in subtopic.inspections">
                                <td class="id-col"
                                    header-class="'id-col'"
                                    data-title="'ID'"
                                    filter="{'inspectionID':'text'}"
                                    sortable="'inspection._id'">
                                    <a ui-sref="admin.prototype.inspection({inspectionId:inspection.inspectionId})">{{inspection.inspectionId}} ({{inspection.agency}}) </a>
                                    <div class="tag-list">
                                        <span class="tag tag-default" ng-repeat="topic in inspection.topics">{{topic}}</span>
                                    </div>
                                </td>
                                <td class="date-col" 
                                    header-class="'date-col'" 
                                    data-title="'Date'"
                                    filter="{'inspection.date':'text'}"
                                    sortable="'inspection.date'">{{inspection.date}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="actions" role="tabpanel">
                        <table ng-table="tableParams" class="inspections-grid ce-grid table table-striped table-hover" show-filter="false">
                            <tr ng-repeat="action in subtopic.actions">
                                <td class="id-col"
                                    header-class="'id-col'"
                                    data-title="'ID'"
                                    filter="{'name':'text'}"
                                    sortable="'name'">
                                    <a ui-sref="admin.prototype.action({orderId: action.orderId})">{{action.type}} Issued: {{action.orderId}}</a>
                                    <pre class="row-desc" ng-bind-html="action.text"></pre>
                                    <div class="tag-list">
                                        <span class="tag tag-default" ng-repeat="topic in action.topics">{{topic}}</span>
                                    </div>
                                </td>
                                <td class="date-col" 
                                    header-class="'date-col'" 
                                    data-title="'Date'"
                                    filter="{'issueDate':'text'}"
                                    sortable="'issueDate'">{{action.issuedDate}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>

        </main>
        <aside class="col-sm-12 col-md-5 col-lg-4">
                
            <section class="card">
                <h2 class="card-title">Related Documents</h2>
                <div class="resource-list resource-list-sm list-group">
                    <a class="list-group-item list-group-item-action" href="#">
                        <span class="avatar">
                            <i class="material-icons md-18">insert_drive_file</i>
                        </span>
                        <span class="title">
                            <span class="primary">Mount Milligan 2015 Dam Safety Inspection</span>
                        </span>
                        <span class="actions">
                            <i class="material-icons md-18">file_download</i>
                        </span>
                    </a>
                </div>
            </section>

            <section class="card">
                <h2 class="card-title">Links of Interest</h2>
                <ul class="resource-list resource-list-sm list-group">
                    <li class="list-group-item"><a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/permitting/geotechnical-information" target="_blank">Ministry of Energy &amp; Mines Geotechnical Information</a></li>
                    <li class="list-group-item"><a href="https://news.gov.bc.ca/releases/2016MEM0018-001393" target="_blank">News Release: British Columbia Now a Global Leader on Mine Tailings Storage Regulations</a></li>
                    <li class="list-group-item"><a href="http://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/mineral-exploration-mining/documents/health-and-safety/code-review/hsrc_code_part_10_revisions_effective_july_20_2016.pdf" target="_blank">Revisions to Part 10 of the Health, Safety and Reclamation Code for Mines in British Columbia (effective July 20, 2016)</a></li>
                </ul>
            </section>

        </aside>
    </div>
</div>