
<div class="container">

    <div class="breadcrumbs">
        <a ui-sref="projects">MEM</a>
        <span>/</span>
        <a href="#">Projects</a>
        <span>/</span>
        <a ui-sref="admin.prototype.projectmain">{{project.name}}</a>
        <span>/</span>
        <a ui-sref="admin.prototype.topic({topic: topic.topic})">{{topic.topic}}</a>
        <span>/</span>
        <span>{{subtopic.subtopic}}</span>
    </div>
    
    <div class="title-container">
        <h1>{{subtopic.subtopic}}</h1>
    </div>
    <div class="row">
        <main class="col-sm-12 col-md-7 col-lg-8">
        
            <section ng-bind-html="subtopic.description">
            </section>

            <section>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#conditions" role="tab">Conditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#inspections" role="tab">Inspections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#actions" role="tab">Actions</a>
                    </li>
               </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="conditions" role="tabpanel">
                        <table ng-table="tableParams" class="inspections-grid ce-grid table table-striped table-hover" show-filter="false">
                            <tr ng-repeat="condition in project.subtopic.conditions">
                                <td class="id-col"
                                    header-class="'id-col'"
                                    data-title="'Name'"
                                    filter="{'actionID':'text'}"
                                    sortable="'actionID'">
                                    <a ui-sref="admin.prototype.condition({conditionId: condition._id})">{{condition.name}}</a>
                                    <pre class="row-desc" ng-bind-html="condition.description"></pre>
                                    <div class="tag-list">
                                        <span class="tag tag-default" ng-repeat="topic in condition.topics">{{topic.name}}</span>
                                    </div>
                                </td>
                                <td class="date-col" 
                                    header-class="'date-col'" 
                                    data-title="'Agency'"
                                    filter="{'inspectionID':'text'}"
                                    sortable="'inspectionID'">{{condition.agency}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="inspections" role="tabpanel">
                        <table ng-table="tableParams" class="inspections-grid ce-grid table table-striped table-hover" show-filter="false">
                            <tr ng-repeat="inspection in project.subtopic.inspections">
                                <td class="id-col"
                                    header-class="'id-col'"
                                    data-title="'ID'"
                                    filter="{'inspectionID':'text'}"
                                    sortable="'inspection._id'">
                                    <a ui-sref="admin.prototype.inspection({inspectionId:inspection._id})">{{inspection._id}} ({{inspection.agency}}) </a>
                                    <div class="tag-list">
                                        <span class="tag tag-default" ng-repeat="topic in inspection.topics">{{topic.name}}</span>
                                    </div>
                                </td>
                                <td class="date-col" 
                                    header-class="'date-col'" 
                                    data-title="'Date'"
                                    filter="{'inspection.date':'text'}"
                                    sortable="'inspection.date'">{{inspection.date}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="actions" role="tabpanel">
                        <table ng-table="tableParams" class="inspections-grid ce-grid table table-striped table-hover" show-filter="false">
                            <tr ng-repeat="action in subtopic.actions">
                                <td class="id-col"
                                    header-class="'id-col'"
                                    data-title="'ID'"
                                    filter="{'actionID':'text'}"
                                    sortable="'actionID'">
                                    <a ui-sref="admin.prototype.action({actionId: action._id})">{{action.type}} Issued: {{action._id}}</a>
                                    <pre class="row-desc" ng-bind-html="action.detail"></pre>
                                    <div class="tag-list">
                                        <span class="tag tag-default" ng-repeat="topic in action.topics">{{topic.name}}</span>
                                    </div>
                                </td>
                                <td class="date-col" 
                                    header-class="'date-col'" 
                                    data-title="'Date'"
                                    filter="{'inspectionID':'text'}"
                                    sortable="'inspectionID'">{{action.issueDate}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>

        </main>
        <aside class="col-sm-12 col-md-5 col-lg-4">
                
            <section class="card">
                <h2 class="card-title">Related Documents</h2>
                <div class="resource-list resource-list-sm list-group">
                    <a class="list-group-item list-group-item-action" href="#">
                        <span class="avatar">
                            <i class="material-icons md-18">insert_drive_file</i>
                        </span>
                        <span class="title">
                            <span class="primary">Document Link</span>
                        </span>
                        <span class="actions">
                            <i class="material-icons md-18">file_download</i>
                        </span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <span class="avatar">
                            <i class="material-icons md-18">insert_drive_file</i>
                        </span>
                        <span class="title">
                            <span class="primary">Document Link</span>
                        </span>
                        <span class="actions">
                            <i class="material-icons md-18">file_download</i>
                        </span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <span class="avatar">
                            <i class="material-icons md-18">insert_drive_file</i>
                        </span>
                        <span class="title">
                            <span class="primary">Document Link</span>
                        </span>
                        <span class="actions">
                            <i class="material-icons md-18">file_download</i>
                        </span>
                    </a>
                </div>
            </section>

            <section class="card">
                <h2 class="card-title">Links of Interest</h2>
                <ul class="resource-list resource-list-sm list-group">
                    <li class="list-group-item"><a href="#">Document Link</a></li>
                    <li class="list-group-item"><a href="#">Document Link</a></li>
                    <li class="list-group-item"><a href="#">Document Link</a></li>
                </ul>
            </section>

        </aside>
    </div>
</div>