
<div class="container">

    <div class="breadcrumbs">
        <a ui-sref="projects">MEM</a>
        <span>/</span>
        <a href="#">Projects</a>
        <span>/</span>
        <a ui-sref="admin.prototype.projectmain">{{project.name}}</a>
        <span>/</span>
        <a ui-sref="admin.prototype.topic({topicId: topic.topicId})">{{topic.name}}</a>
        <span>/</span>
        <span>{{subtopic.name}}</span>
    </div>
    
    <div class="title-container">
        <h1>{{subtopic.name}}</h1>
    </div>
    <div class="row">
        <main class="col-sm-12 col-md-7 col-lg-8">
        
            <section class="has-read-more subtopic-narrative">
                <input class="toggle-link" type="checkbox" id="readmore" />
                <label class="toggle-link-label" for="readmore"></label>
                <div class="content" ng-bind-html="subtopic.description"></div>
            </section>

            <section>
                <ul class="nav nav-tabs">
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="tab" href="#conditions" role="tab">Conditions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#inspections" role="tab">Inspections</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#actions" role="tab">Actions</a>
                    </li>
               </ul>

                <div class="tab-content">

                    <!-- CONDITIONS TAB CONTENT -->
                    <div class="tab-pane active" id="conditions" role="tabpanel">

                        <p>Conditions related to tailings management found in the Environmental Assessment certificate/amendment and Mines Act and Environmental Management Act permits/amendments for Mount Milligan mine are listed below. Click the links for more information on individual conditions.</p>

                        <div class="title-bar">
                            <h3>Showing {{tableParamsConditionsStats.first}} - {{tableParamsConditionsStats.last}} of {{tableParamsConditionsStats.totalCount}}</h3>
                            <div class="filters">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <select class="form-control" class="form-control" ng-model="pageSizeConditions" ng-options="size for size in tableParamsConditions.settings().counts" ng-change="changePageSizeConditions(pageSizeConditions)"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table ng-table="tableParamsConditions" class="conditions-grid ce-grid table table-striped" show-filter="false">
                            <tr ng-repeat="condition in $data">
                                <td class="id-col"
                                    header-class="'id-col'"
                                    data-title="'Name'"
                                    filter="{'title':'text'}"
                                    sortable="'title'">
                                    <a ng-show="condition.detailPage === 'Y'" ui-sref="admin.prototype.condition({conditionId: condition.conditionId})">{{condition.title}} <span ng-if="condition.conditionNo">- {{condition.conditionNo}}</span></a>
                                    <a ng-show="condition.detailPage !== 'Y'" disabled ui-sref="#">{{condition.title}} <span ng-if="condition.conditionNo">- {{condition.conditionNo}}</span></a>
                                    <div class="ce-grid-row-desc" ng-bind-html="condition.conditionText"></div>
                                </td>
                                <td class="agency-col" 
                                    header-class="'agency-col'" 
                                    data-title="'Agency'"
                                    filter="{'agency':'text'}"
                                    sortable="'agency'">{{condition.agency}}</td>
                            </tr>
                            <tr ng-if="!$data || $data.length === 0">
                                <td colspan="2">
                                    No Conditions.
                                </td>
                            </tr>
                        </table>
                    </div><!-- -->

                    <!-- INSPECTIONS TAB CONTENT -->
                    <div class="tab-pane" id="inspections" role="tabpanel">

                        <p>Inspections related to tailings management at Mount Milligan mine conducted by staff from the Ministry of Energy and Mines, Ministry of Environment and Environmental Assessment Office are listed below. Click the links for more information on individual inspections.</p>

                       <div class="title-bar">
                            <h3>Showing {{tableParamsInspectionsStats.first}} - {{tableParamsInspectionsStats.last}} of {{tableParamsInspectionsStats.totalCount}}</h3>
                            <div class="filters">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <select class="form-control" class="form-control" ng-model="pageSizeInspections" ng-options="size for size in tableParamsInspections.settings().counts" ng-change="changePageSizeInspections(pageSizeInspections)"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table ng-table="tableParamsInspections" class="inspections-grid ce-grid table table-striped" show-filter="false">
                            <tr ng-repeat="inspection in $data">
                                <td class="id-col"
                                    header-class="'id-col'"
                                    data-title="'ID'"
                                    filter="{'inspectionID':'text'}"
                                    sortable="'inspection.inspectionId'">
                                    <a ng-show="inspection.detailPage === 'Y'" ui-sref="admin.prototype.inspection({inspectionId:inspection.inspectionId})">{{inspection.inspectionId}} ({{inspection.agency}}) </a>
                                    <a ng-show="inspection.detailPage !== 'Y'" ui-sref="#">{{inspection.inspectionId}} ({{inspection.agency}})</a>
                                    <div class="ce-grid-row-desc" ng-bind-html="inspection.followupText"></div>
                                </td>
                                <td class="date-col" 
                                    header-class="'date-col'" 
                                    data-title="'Date'"
                                    filter="{'inspection.date':'text'}"
                                    sortable="'inspection.date'">{{inspection.date}}</td>
                                <td class="followup-col" 
                                    header-class="'followup-col'" 
                                    data-title="'Recent Follow Up'"
                                    filter="{'followupType':'text'}"
                                    sortable="'followupType'">{{inspection.followupType}}</td>
                            </tr>
                            <tr ng-if="!$data || $data.length === 0">
                                <td colspan="3">
                                    No Inspections.
                                </td>
                            </tr>
                        </table>
                    </div><!-- -->

                    <!-- ACTIONS TAB CONTENT -->
                    <div class="tab-pane" id="actions" role="tabpanel">

                        <p>Compliance &amp; enforcement actions (e.g., orders, warnings, tickets) of the Ministry of Energy and Mines, Ministry of Environment and Environmental Assessment Office for tailings management at the Mount Milligan mine are listed below. Click the links for more information on individual actions.</p>

                        <div class="title-bar">
                            <h3>Showing {{tableParamsActionsStats.first}} - {{tableParamsActionsStats.last}} of {{tableParamsActionsStats.totalCount}}</h3>
                            <div class="filters">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <select class="form-control" class="form-control" ng-model="pageSizeActions" ng-options="size for size in tableParamsActions.settings().counts" ng-change="changePageSizeActions(pageSizeActions)"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table ng-table="tableParamsActions" class="actions-grid ce-grid table table-striped" show-filter="false">
                            <tr ng-repeat="action in $data">
                                <td class="id-col"
                                    header-class="'id-col'"
                                    data-title="'ID'"
                                    filter="{'orderId':'text'}"
                                    sortable="'orderId'">
                                    <a ng-show="action.documentUrl !== ''" ui-sref="admin.prototype.action({orderId: action.orderId})">{{action.type}} Issued: {{action.orderId}}</a>
                                    <a ng-show="action.documentUrl === ''" disabled ui-sref="#">{{action.type}} Issued: {{action.orderId}}</a>
                                    <div class="ce-grid-row-desc" ng-bind-html="action.text"></div>
                                </td>
                                <td class="date-col" 
                                    header-class="'date-col'" 
                                    data-title="'Date'"
                                    filter="{'issueDate':'text'}"
                                    sortable="'issueDate'">{{action.issuedDate}}</td>
                            </tr>
                            <tr ng-if="!$data || $data.length === 0">
                                <td colspan="2">
                                    No Actions.
                                </td>
                            </tr>
                        </table>
                    </div><!-- -->

                </div>
            </section>

        </main>
        <aside class="col-sm-12 col-md-5 col-lg-4">
                
            <section class="card">
                <h2 class="card-title">Related Documents</h2>
                <div class="resource-list resource-list-sm list-group">
                    <a class="list-group-item list-group-item-action" href="#">
                        <span class="avatar">
                            <i class="material-icons md-18">insert_drive_file</i>
                        </span>
                        <span class="title">
                            <span class="primary">Mount Milligan 2015 Dam Safety Inspection</span>
                        </span>
                        <span class="actions">
                            <i class="material-icons md-18">file_download</i>
                        </span>
                    </a>
                </div>
            </section>

            <section class="card">
                <h2 class="card-title">Links of Interest</h2>
                <ul class="resource-list resource-list-sm list-group">
                    <li class="list-group-item"><a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/permitting/geotechnical-information" target="_blank">Ministry of Energy &amp; Mines Geotechnical Information</a></li>
                    <li class="list-group-item"><a href="https://news.gov.bc.ca/releases/2016MEM0018-001393" target="_blank">News Release: British Columbia Now a Global Leader on Mine Tailings Storage Regulations</a></li>
                    <li class="list-group-item"><a href="http://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/mineral-exploration-mining/documents/health-and-safety/code-review/hsrc_code_part_10_revisions_effective_july_20_2016.pdf" target="_blank">Revisions to Part 10 of the Health, Safety and Reclamation Code for Mines in British Columbia (effective July 20, 2016)</a></li>
                </ul>
            </section>

        </aside>
    </div>
</div>