
<div class="container">

    <div class="breadcrumbs">
        <a href="#">Projects</a> <span>/</span> <a href="/admin/prototype/project-main">Mount Milligan Mine</a> <span>/</span> <span>Topic</span>
    </div>
    <div class="title-container">
        <h1>Project Topic</h1>
    </div>
    <div class="row">
        <main class="col-sm-12 col-md-7 col-lg-8">
        
            <section class="page-narrative">
                <p>Page Narrative</p>
            </section>

        </main>
        <aside class="col-sm-12 col-md-5 col-lg-4">
                
            <section class="card">
                <h2 class="card-title">Related Documents</h2>
                <div class="resource-list resource-list-sm list-group">
                    <a class="list-group-item list-group-item-action" href="#">
                        <span class="avatar">
                            <i class="material-icons md-18">insert_drive_file</i>
                        </span>
                        <span class="title">
                            <span class="primary">Document Link</span>
                        </span>
                        <span class="actions">
                            <i class="material-icons md-18">more_vert</i>
                        </span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <span class="avatar">
                            <i class="material-icons md-18">insert_drive_file</i>
                        </span>
                        <span class="title">
                            <span class="primary">Document Link</span>
                        </span>
                        <span class="actions">
                            <i class="material-icons md-18">more_vert</i>
                        </span>
                    </a>
                    <a class="list-group-item list-group-item-action" href="#">
                        <span class="avatar">
                            <i class="material-icons md-18">insert_drive_file</i>
                        </span>
                        <span class="title">
                            <span class="primary">Document Link</span>
                        </span>
                        <span class="actions">
                            <i class="material-icons md-18">more_vert</i>
                        </span>
                    </a>
                </div>
            </section>

            <section class="card">
                <h2 class="card-title">Other Resources</h2>
            </section>
            
        </aside>
    </div>
</div>