// Colors
$primary:                       #003366;
$gold:                          #fcba19;

// Header
$header-font-color:             #FFF;
$header-bg:                     $primary;

// Main Navigation
$mn-font-size: 0.875rem; //14px
$mn-dropdown-menu-size: 0.875rem; //13px

$mn-color:           #FFF;
$mn-border-color:    #5f79a2;   
$mn-hover-bg:        #2b4777;
$mn-hover-color:     $gold;
$mn-toggle-color:    $gold;
$mn-dropdown-bg:     #2b4777;

// Footer 
$footer-bg:                     $primary;
$footer-color:                  #FFF;

// Typography
$font-color:                    #494949;

// Links
$link-color:                    #1a5a96;

// Aside
$aside-title-bg:                #1a5a96;
$aside-title-color:             #FFF;
$aside-body-bg:                 #f1f1f1;