@font-face {
	font-family: 'Myriad-Pro';
	src: url('../fonts/MyriadWebPro.ttf');
	src: url('../fonts/MyriadWebPro.eot'); /* IE9 Compat Modes */
	src: url('../fonts/MyriadWebPro.woff2') format('woff2'), /* Super Modern Browsers */
		 url('../fonts/MyriadWebPro.woff') format('woff'), /* Pretty Modern Browsers */
		 url('../fonts/MyriadWebPro.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('../fonts/MyriadWebPro.svg#MyriadProRegular') format('svg'); /* Legacy iOS */
}

// BASE COLORS
$corp-blue: 				#003366;
$corp-gold: 				#fcba19;
$header-blue:		    	#141a41;
$header-grey:				#666666;
$navbar-blue:				#154681;
$brand-primary:				#337ab7;
$brand-success:				#5cb85c;
$brand-info:		    	#5bc0de;
$brand-warning:				#f0ad4e;
$brand-danger:				#d9534f;
$link-color: 				#1a5a96;
$link-light:				#337ab7;
$link-dark:					#23527c;
$border-grey:				#EEE;
$off-white:					#f4f4f4;
$danger-text:				#a94442;

// APPLICATION
$app-bg: 					#F1f1f1;
$app-base-color: 			#494949;
$app-base-font-size:		1.4rem;

// BADGES
$badge-success-color:		#fff;
$badge-success-bg:			green;
$badge-unpublished-color:	#fff;
$badge-unpublished-bg:		#ccc;

// BUTTONS
$btn-focus-bg-color: 		#FFF;
$btn-focus-border-color: 	#5475a7;
$btn-primary-bg:			#1a5a96;
$btn-primary-focus-bg:		#5475a7;
$btn-font-size:				1.4rem;
$btn-sm-font-size:			1.2rem;
$btn-xs-font-size:			1.2rem;

// FONTS
$font-color-grey: 			#666;
$font-color-disabled: 		#CCC;
$font-family-heading: 		Myriad-Pro, Calibri, Arial, sans serif;
$font-family-sans-serif: 	Myriad-Pro, Calibri, Arial, sans serif;

// FOOTER
$footer-font-size:			1.2rem;

// LEFT PANEL
$left-panel-width: 			19rem;
$left-panel-bg:				#FFF;
$left-panel-shadow-width:	0.4rem;
$left-panel-shadow-color:	#999;

// LISTS
$pick-list-active-item-bg: #5cb85c;

// MAP
$map-popup-title-font-size:	1.8rem;
$map-popup-body-font-size:	1.2rem;

// MODAL WINDOW
$uibModal-body-bg: 			#f1f1f1;
$uibModal-header-bg: 			#FFF;
$uibModal-footer-bg: 			#FFF;

// PANELS
$panel-border: 				1px solid #eee;
$panel-border-radius: 		0.5rem;
$panel-border-color: 		#ddd;
$panel-header-bg: 			#fff;
$panel-header-color: 		#494949;
$panel-footer-bg: 			#FFF;

$view-panel-bg:             #fff;
$view-panel-border:         1px solid #EEE;

// RADIO INPUT
$radio-btn-bg: 				#fff;
$radio-btn-border-color: 	#ccc;
$radio-btn-active-color: 	#fff;
$radio-btn-active-bg: 		#5091cd;

// SIDE NAVIGATION
$sidenav-bg: 				#FFF;
$sidenav-color: 			$link-color;
$sidenav-width:				18rem;
$sidenav-shadow:            0 0 0.4rem #CCC;
$sidenav-text-shadow:       0 0 2px #FFF;
$sidenav-hover-bg:			#F7F8FA;

// TABLES
$table-bg: 					#FFF;
$table-header-bg: 			#f7f8fa;
$table-header-hover-bg: 	#eee;
$table-row-bg: 				#FFF;
$table-row-hover-bg:		#f7f8fa;
$table-row-active-color: 	#fff;
$table-row-active-bg: 		#5091cd;
$table-row-active-hover-bg: #4187c9;
$table-row-border: 			1px solid #EEE;
$table-row-active-border: 	#4187c9;
$table-row-hover-bg: 		#f7f8fa;
$table-head-bg: 			#F7F8FA;
$table-filter-bg: 			#FFF;
$table-footer-bg: 			#F7F8FA;

// TABLE PAGINATION
$table-pagination-bg: 		#fff;
$pgn-container-bg:      	#f7f8fa;
$pgn-btn-active-bg:     	#5091cd;
$pgn-btn-active-color:  	#fff;
$pgn-btn-border:        	1px solid #ccc;
$pgn-btn-color:         	#000;

// TAB NAVIGATION
$nav-tab-active-color:						#1a5a96;
$nav-tab-inactive-color:					#999;
$nav-tab-active-border-color: 				#1a5a96;
$nav-tab-inactive-border-color: 			#DDD;

// TOGGLE TABS
$toggle-tab-active-bg: 						#5091cd;
$toggle-tab-active-border: 					#4187c9;
$toggle-tab-active-color: 					#fff;

// UPLOAD TARGET
$upload-target-focus-bg:					#FFF;
$upload-target-focus-border-color:			#5475a7;

// UTILITY THEMES
$danger-bg:				 	#d9534f;
$danger-border:				#d43f3a;
$info-bg:					#5bc0de;
$info-border:				#5bc0de;
$placeholder-value-color:	#999;
$success-bg: 				#5cb85c;
$success-border: 			#4cae4c;
$warning-bg:				#f0ad4e;
$warning-border:			#eea236;