<section ng-controller="EditProfileController">
    <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group" show-errors>
              <label for="firstName" class="control-label">First Name</label>
              <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="First Name" required>
              <div ng-messages="userForm.firstName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">First name is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="email" class="control-label">Email</label>
              <input type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="Email" lowercase required>
              <div ng-messages="userForm.email.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Email address is required.</p>
                <p class="help-block error-text" ng-message="email">Email address is invalid.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group" show-errors>
              <label for="lastName" class="control-label">Last Name</label>
              <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="Last Name" required>
              <div ng-messages="userForm.lastName.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Last name is required.</p>
              </div>
            </div>
            <div class="form-group" show-errors>
              <label for="username" class="control-label">Username</label>
              <input type="text" id="username" name="username" class="form-control" ng-model="user.username" placeholder="Username" lowercase required>
              <div ng-messages="userForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Username is required.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-right form-group">
          <button type="submit" class="btn btn-default">Save Profile</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>Profile Saved Successfully</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
</section>
