<div class="modal-header">
	<button class="btn btn-default close" type="button"
		ng-click="myProfile.cancel()"><span aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Edit Profile</h3>
</div>

<form name="userForm" ng-submit="save(userForm.$valid)" novalidate>
	<div class="modal-body">

		<!-- USER DETAILS -->
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="form-group">
					<label class="control-label" for="salutation">Salutation<em>(Optional)</em></label>
					<select class="form-control" id="salutation" name="salutation"
						ng-model="myProfile.user.salutation" 
						ng-options="sal as sal for sal in myProfile.salutations"></select>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="form-group" x-show-errors>
					<label class="control-label" for="firstName">First Name<em class="required">(Required)</em></label>
					<input class="form-control" id="firstName" name="firstName" type="text" 
						ng-change="myProfile.calculateName()"
						ng-model="myProfile.user.firstName"
						required>
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="form-group">
					<label class="control-label" for="middleName">Middle Name<em>(Optional)</em></label>
					<input class="form-control" id="middleName" type="text"
						ng-change="myProfile.calculateName()"
						ng-model="myProfile.user.middleName">
				</div>
			</div>
			<div class="col-sm-6 col-md-3">
				<div class="form-group" x-show-errors>
					<label class="control-label" for="lastName">Last Name<em class="required">(Required)</em></label>
					<input class="form-control" id="lastName" name="lastName" type="text"
						ng-change="myProfile.calculateName()"
						ng-model="myProfile.user.lastName"
						required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="form-group">
					<label class="control-label" for="departement">Department<em>(Optional)</em></label>
					<input class="form-control" id="departement" type="text" 
						ng-model="myProfile.user.department" >
				</div>
			</div>
			<div class="col-sm-6 col-md-6">
				<div class="form-group" x-show-errors>
					<label class="control-label" for="title">Title<em>(Optional)</em></label>
					<input class="form-control" id="title" type="text"
						ng-model="myProfile.user.title">
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="control-label">Preferred Contact Method</label>
			<div class="checkbox-row">
				<div class="checkbox-inline">
					<label class="control-label" for="viaEmail">
						<input id="viaEmail" name="viaEmail" type="checkbox"
							ng-model="myProfile.user.viaEmail"
							checked/>By Email
					</label>
				</div>
				<div class="checkbox-inline">
					<label class="control-label" for="viaMail">
						<input id="viaMail" name="viaMail" type="checkbox" 
							ng-model="myProfile.user.viaMail" />By Mail
					</label>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-3 form-group" x-show-errors>
				<label class="control-label" for="email">Email<em class="required">(Required)</em></label>
				<input class="form-control" id="email" name="email" placeholder="myname@example.com" type="email"
					ng-model="myProfile.user.email"
					ng-required="myProfile.user.viaEmail === true">
			</div>
			<div class="col-sm-6 col-md-3 form-group">
				<label class="control-label" for="phoneNumber">Phone</label>
				<input class="form-control" id="phoneNumber" placeholder="eg: 123-456-7890" type="text"
					ng-model="myProfile.user.phoneNumber">
			</div>
			<div class="col-sm-6 col-md-3 form-group">
				<label class="control-label" for="cellPhoneNumber">Mobile</label>
				<input class="form-control" id="cellPhoneNumber" placeholder="eg: 123-456-7890" type="text"
					ng-model="myProfile.user.cellPhoneNumber">
			</div>
			<div class="col-sm-6 col-md-3 form-group">
				<label class="control-label" for="faxNumber">Fax</label>
				<input class="form-control" id="faxNumber" placeholder="eg: 123-456-7890" type="text"
					ng-model="myProfile.user.faxNumber">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6 form-group" x-show-errors>
				<label class="control-label" for="address1">Street Address 1<em class="required">(Required)</em></label>
				<input class="form-control" id="address1" name="address1" type="text"
					ng-model="myProfile.user.address1"
					ng-required="myProfile.user.viaMail === true">
			</div>
			<div class="col-sm-12 col-md-6 form-group">
				<label class="control-label" for="address2">Street Address 2<em>(Optional)</em></label>
				<input class="form-control" id="address2" type="text" 
					ng-model="myProfile.user.address2">
			</div>
			<div class="col-sm-6 col-md-3 form-group" x-show-errors>
				<label class="control-label" for="city">City<em class="required">(Required)</em></label>
				<input class="form-control" id="city" name="city" type="text"
					ng-model="myProfile.user.city"
					ng-required="myProfile.user.viaMail === true">
			</div>
			<div class="col-sm-6 col-md-3 form-group" x-show-errors>
				<label class="control-label" for="province">Province<em class="required">(Required)</em></label>
				<input class="form-control" id="province" name="province" type="text" 
					ng-model="myProfile.user.province"
					ng-required="myProfile.user.viaMail === true">
			</div>
			<div class="col-sm-6 col-md-3 form-group" x-show-errors>
				<label class="control-label" for="country">Country<em class="required">(Required)</em></label>
				<input class="form-control" id="country" name="country" type="text"
					ng-model="myProfile.user.country"
					ng-required="myProfile.user.viaMail === true">
			</div>
			<div class="col-sm-6 col-md-3 form-group" x-show-errors>
				<label class="control-label" for="postalCode">Postal Code<em class="required">(Required)</em></label>
				<input class="form-control" id="postalCode" name="postalCode"
					ng-model="myProfile.user.postalCode"
					ng-required="myProfile.user.viaMail === true">
			</div>
		</div>
		<div class="form-group no-margin">
			<label class="control-label">Signature</label>
			<div class="signature-preview form-control">
				<img src="{{myProfile.signatureHREF}}" id="sig" name="sig"/>
			</div>
			<a class="btn btn-default btn-sm" 
				x-modal-set-signature>
				<span class="glyphicon glyphicon-open"></span><span>Upload Signature</span>
			</a>
		</div>
	</div>
</form>

<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="myProfile.cancel()">Cancel</button>
	<button class="btn btn-primary" type="button" ng-click="myProfile.ok()">Save</button>
</div>