<section id="project-view" class="row">

	<div class='col-sm-10'>
		<h1 class="page-title">
			{{ projDescEdit.project.name }}
		</h1>

		<div class="row">
			<div class="col-sm-2">
				<label class="control-label">Versions</label>

				<ul class="list-unstyled no-lower-margin list-tasks">
					<li class="clickable" ng-repeat="ver in projDescEdit.versions" ng-click="projDescEdit.loadVersion(ver)" ng-class="{'bg-success': ver.versionNumber === projDescEdit.data.versionNumber}">
						{{ ver.version }} {{ ver.versionNumber }}
					</li>
					<li ng-show="!projDescEdit.versions.length || projDescEdit.versions.length === 0">No saved versions</li>
				</ul>


			</div>
			<div class="col-sm-10">

				<section class="panel panel-default">
					<div class="panel-body">
						<h4>General</h4>

						<h5>Background</h5>

						<div class="text-block form-group"
							ng-show="!edit.background"
							ng-class="{'text-block-success': projDescEdit.data.general.background}"
							ng-bind-html="projDescEdit.data.general.background || 'Click to add'"
							ng-click="edit.background = true">
						</div>

						<div class="text-block form-group"
							ng-class="{'text-block-success': projDescEdit.data.general.background}"
							ng-show="edit.background">
							<div class="form-group">
								<textarea
									ui-tinymce="{menubar:''}"
									type="text"
									class="form-control input-sm"
									ng-model="projDescEdit.data.general.background" rows=10></textarea>
							</div>
							<div class="text-right">
								<a class="btn btn-default" href ng-click="edit.background = false">Close</a>
							</div>
						</div>

						<h5>Location</h5>

						<div class="text-block form-group"
							ng-show="!edit.location"
							ng-class="{'text-block-success': projDescEdit.data.general.location}"
							ng-bind-html="projDescEdit.data.general.location || 'Click to add'"
							ng-click="edit.location = true">
						</div>

						<div class="text-block form-group"
							ng-class="{'text-block-success': projDescEdit.data.general.location}"
							ng-show="edit.location">
							<div class="form-group">
								<textarea
									ui-tinymce="{menubar:''}"
									type="text"
									class="form-control input-sm"
									ng-model="projDescEdit.data.general.location" rows=10></textarea>
							</div>
							<div class="text-right">
								<a class="btn btn-default" href ng-click="edit.location = false">Close</a>
							</div>
						</div>

						<h5>Location Documents</h5>

						<p>List here</p>
						<!-- <a href class="small pull-right" current="[1,2,3]" x-modal-document-link x-project="docBrowser.project" ng-if="docBrowser.authentication.user">Link <span class="glyphicon glyphicon-upload"></span></a> -->

						<h4>Overview</h4>
						<h5>Components</h5>
						
						<div class="text-block form-group"
							ng-show="!edit.components"
							ng-class="{'text-block-success': projDescEdit.data.overview.components}"
							ng-bind-html="projDescEdit.data.overview.components || 'Click to add'"
							ng-click="edit.components = true">
						</div>

						<div class="text-block form-group"
							ng-class="{'text-block-success': projDescEdit.data.overview.components}"
							ng-show="edit.components">
							<div class="form-group">
								<textarea
									ui-tinymce="{menubar:''}"
									type="text"
									class="form-control input-sm"
									ng-model="projDescEdit.data.overview.components" rows=10></textarea>
							</div>
							<div class="text-right">
								<a class="btn btn-default" href ng-click="edit.components = false">Close</a>
							</div>
						</div>




						<h5>Scheduled Phases</h5>

						<div class="text-block form-group"
							ng-show="!edit.schedulePhases"
							ng-class="{'text-block-success': projDescEdit.data.overview.schedulePhases}"
							ng-bind-html="projDescEdit.data.overview.schedulePhases || 'Click to add'"
							ng-click="edit.schedulePhases = true">
						</div>

						<div class="text-block form-group"
							ng-class="{'text-block-success': projDescEdit.data.overview.schedulePhases}"
							ng-show="edit.schedulePhases">
							<div class="form-group">
								<textarea
									ui-tinymce="{menubar:''}"
									type="text"
									class="form-control input-sm"
									ng-model="projDescEdit.data.overview.schedulePhases" rows=10></textarea>
							</div>
							<div class="text-right">
								<a class="btn btn-default" href ng-click="edit.schedulePhases = false">Close</a>
							</div>
						</div>



						<h5>Costs</h5>

						<div class="text-block form-group"
							ng-show="!edit.costs"
							ng-class="{'text-block-success': projDescEdit.data.overview.costs}"
							ng-bind-html="projDescEdit.data.overview.costs || 'Click to add'"
							ng-click="edit.costs = true">
						</div>

						<div class="text-block form-group"
							ng-class="{'text-block-success': projDescEdit.data.overview.costs}"
							ng-show="edit.costs">
							<div class="form-group">
								<textarea
									ui-tinymce="{menubar:''}"
									type="text"
									class="form-control input-sm"
									ng-model="projDescEdit.data.overview.costs" rows=10></textarea>
							</div>
							<div class="text-right">
								<a class="btn btn-default" href ng-click="edit.costs = false">Close</a>
							</div>
						</div>


						<h5>Site Plan Documents</h5>
						<p>List here</p>

						<h4>Land User Setting</h4>

						<div class="text-block form-group"
							ng-show="!edit.landUserSetting"
							ng-class="{'text-block-success': projDescEdit.data.landUserSetting}"
							ng-bind-html="projDescEdit.data.landUserSetting || 'Click to add'"
							ng-click="edit.landUserSetting = true">
						</div>

						<div class="text-block form-group"
							ng-class="{'text-block-success': projDescEdit.data.landUserSetting}"
							ng-show="edit.landUserSetting">
							<div class="form-group">
								<textarea
									ui-tinymce="{menubar:''}"
									type="text"
									class="form-control input-sm"
									ng-model="projDescEdit.data.landUserSetting" rows=10></textarea>
							</div>
							<div class="text-right">
								<a class="btn btn-default" href ng-click="edit.landUserSetting = false">Close</a>
							</div>
						</div>


						<h4>Consulting Activities</h4>

						<div class="text-block form-group"
							ng-show="!edit.consultingActivities"
							ng-class="{'text-block-success': projDescEdit.data.consultingActivities}"
							ng-bind-html="projDescEdit.data.consultingActivities || 'Click to add'"
							ng-click="edit.consultingActivities = true">
						</div>

						<div class="text-block form-group"
							ng-class="{'text-block-success': projDescEdit.data.consultingActivities}"
							ng-show="edit.consultingActivities">
							<div class="form-group">
								<textarea
									ui-tinymce="{menubar:''}"
									type="text"
									class="form-control input-sm"
									ng-model="projDescEdit.data.consultingActivities" rows=10></textarea>
							</div>
							<div class="text-right">
								<a class="btn btn-default" href ng-click="edit.consultingActivities = false">Close</a>
							</div>
						</div>


						<h4>Proposed Development Schedule</h4>

						<div class="text-block form-group"
							ng-show="!edit.proposedDevelopmentSchedule"
							ng-class="{'text-block-success': projDescEdit.data.proposedDevelopmentSchedule}"
							ng-bind-html="projDescEdit.data.proposedDevelopmentSchedule || 'Click to add'"
							ng-click="edit.proposedDevelopmentSchedule = true">
						</div>

						<div class="text-block form-group"
							ng-class="{'text-block-success': projDescEdit.data.proposedDevelopmentSchedule}"
							ng-show="edit.proposedDevelopmentSchedule">
							<div class="form-group">
								<textarea
									ui-tinymce="{menubar:''}"
									type="text"
									class="form-control input-sm"
									ng-model="projDescEdit.data.proposedDevelopmentSchedule" rows=10></textarea>
							</div>
							<div class="text-right">
								<a class="btn btn-default" href ng-click="edit.proposedDevelopmentSchedule = false">Close</a>
							</div>
						</div>
						<hr/>
						<div class="form-inline text-right">
							<div class="form-group">
								<select ng-model="projDescEdit.saveAsType" class="form-control" ng-options="type as type for type in projDescEdit.versionStrings"></select>
							</div>
							<div class="form-group">						
								<a class="btn btn-default" href ng-disabled="!projDescEdit.saveAsType" ng-click="projDescEdit.save()">Save</a>
							</div>
						</div>	
					</div>
				</section>
			</div>
		</div>

	</div> <!-- /col9 -->
	<div class='col-sm-2'>
		<tmpl-system-menu x-menu-context="project" x-project="projDescEdit.project"></tmpl-system-menu>
	</div>

</section>
