.edit-collection-form {
    section {
        padding: 0;
        border: none;
    }
}

.collection-table {
    .date-col {
        width: 13rem;
    }

    .status-col {
        width: 12rem;
    }
}

@media (min-width: 1200px) {
    .collection-table {
        .date-col {
            width: 17%;
        }

        .status-col {
            width: 12%;
        }
    }
}

.collection-docs {
    .ng-table-pager {
        display: none;
    }
}

.collection-document-table {
    td {
        vertical-align: top !important;
    }

    .date-col {
        width: 13rem;
    }
    .date-uploaded-col {
        width: 14rem;
    }

    .status-col {
        width: 12rem;
    }
}

@media (min-width: 1200px) {
    .collection-document-table {
        .date-col {
            width: 17%;
        }
        .date-uploaded-col {
            width: 17%;
        }

        .status-col {
            width: 12%;
        }
    }
}

.collection-document {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .date {
        flex: 0 1 10%;
    }
    
    .name {
        flex: 1 1 20%;
    }

    .status {
        flex: 0 1 8%; 
    }
}

@media (min-width: 768px) {
    .collection-document {
        .date {
            flex: 0 1 15rem;
        }
        
        .name {
            flex: 1 1 20rem;  
        }

        .status {
            flex: 0 1 15rem;
        }
    }
}