.edit-collection-form {
    section {
        padding: 0;
        border: none;
    }
}

.collection-table {
    .date-col {
        width: 13rem;
    }

    .status-col {
        width: 12rem;
    }
}

@media (min-width: 1200px) {
    .collection-table {
        .date-col {
            width: 17%;
        }

        .status-col {
            width: 12%;
        }
    }
}

.collection-docs {
    .ng-table-pager {
        display: none;
    }
}

.collection-document-table {
    td {
        vertical-align: top !important;
    }

    .date-col {
        width: 13rem;
    }
    .date-uploaded-col {
        width: 14rem;
    }

    .status-col {
        width: 12rem;
    }
}

@media (min-width: 1200px) {
    .collection-document-table {
        .date-col {
            width: 17%;
        }
        .date-uploaded-col {
            width: 17%;
        }

        .status-col {
            width: 12%;
        }
    }
}

.collection-document {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .date {
        flex: 0 1 10%;
    }
    
    .name {
        flex: 1 1 20%;
    }

    .status {
        flex: 0 1 8%; 
    }
}

@media (min-width: 768px) {
    .collection-document {
        .date {
            flex: 0 1 15rem;
        }
        
        .name {
            flex: 1 1 20rem;  
        }

        .status {
            flex: 0 1 15rem;
        }
    }
}

$dnd-selected-color: #FFF;
$dnd-selected-bg: #5091cd;
$dnd-selected-hover-bg: #4187c9;
$dnd-selected-border: 1px solid #4187c9;

$dnd-placeholder-height: 0.5rem;
$dnd-drag-target-height: 2.5rem;

.fs-modal {
    .modal-dialog {
        position: fixed;
        top: 2rem;
        right: 2rem;
        bottom: 2rem;
        left: 2rem;
        margin: 0;
        overflow: hidden;
        width: auto;

        .modal-content {
            @include flexbox();
            @include flexdirection(column);
            height: 100%;

            .modal-header,
            .modal-footer {
                @include flex(0 0 auto);
            }

            .modal-body {
                @include flex(1 1 auto);
                position: relative;
            }
        }
    }
}

.dnd-sort-list {
    @include flexbox();
    @include flexdirection(column);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    [class^="dnd-drag-target"] {
        height: $dnd-drag-target-height;
        background: #ddd;
        //opacity: 0.5;
    }

    .dnd-drag-target-top {
        @include flex(0 0 auto);
        background: #eee;
        //margin-bottom: calc( #{$dnd-drag-target-height} * -1);
    }

    .dnd-scroll-container {
        @include flex(1 1 auto);
        overflow-y: auto;
        background: #fff;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    }

    .dnd-row {
        padding: 2rem;
        border-bottom: 1px solid #eee;

        &.selected {
            color: $dnd-selected-color;
            border-bottom: $dnd-selected-border;
            background-color: $dnd-selected-bg;

            &:hover {
                background-color: $dnd-selected-hover-bg;
            }
        }
    }

    .dnd-drag-target-bottom  {
        @include flex(0 0 auto);
       // margin-top: calc( #{$dnd-drag-target-height} * -1);
    }
}

.dndDragging {
    padding: 0;
    color: $dnd-selected-color;
    background-color: $dnd-selected-bg;
    opacity: 1 !important;
}

.dndDraggingSource {
    display: none;
}

.dndPlaceholder {
    padding: 2rem;
    //margin: -1rem 0;
    //height: 2rem;
    background: #5091cd !important;
    opacity: 0.5;
}