
<div class="modal-header">
	<button class="btn btn-default close" ng-click="self.cancel()"><span aria-hidden="true">×</span></button>
	<h3 class="modal-title">Add Valued Component(s)</h3>
</div>

<div class="modal-body">
	<div class="table-container">
		<table class="table table-hover table-scroll" ng-table="self.tableParams" show-filter="self.showFilter">
			<tr ng-class="{'active': self.chosen(o._id)}"
				ng-repeat="o in $data"
				ng-click="self.toggleItem(o)">
				<td class="col checkbox-col"
					header-class="'col checkbox-col'">
					<div>
						<input id="{{o._id}}" type="checkbox" ng-checked="self.chosen(o._id)"/>
						<label for="{{o._id}}">
							<span class="glyphicon glyphicon-ok"></span>
						</label>
					</div>
				</td>
				<td class="name-col"
					data-title="'Name'"
					sortable="'name'"
					filter="{'name':'text'}">{{o.name}}
				</td>
				<td class="pillar-col" 
					header-class="'pillar-col'" 
					data-title="'Pillar'"
					sortable="'pillar'"
					filter="{'pillar':'select'}"
					filter-data="self.pillars">{{o.pillar}}
				</td>
			</tr>
		</table>
	</div>
</div>

<div class="modal-footer">
	<div>
		<button class="btn btn-default" href ng-click="self.cancel()" ng-disabled="self.cancelDisabled" >Cancel</button>
		<button class="btn btn-primary" href ng-click="self.ok()" ng-disabled="self.okDisabled">Ok</button>
	</div>
</div>
	
