<h1 class="page-title no-lower-margin">
	Add / Edit Value Component
</h1>

<div class="row">
	<div class="col-sm-12 text-right">
		<a class="btn btn-xs btn-link" ui-sref="p.vc.list">Cancel</a>
		<a class="btn btn-xs btn-link" href ng-click="save()">Save</a>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-9">
				<div class="form-group">
					<label for="title" class="control-label">Valued Component Name</label>
					<input id="title" type="text" class="form-control input-sm" ng-model="d.vc.name">
				</div>
			</div>
			<div class="col-sm-3">
				<div class="form-group">
					<label for="sector" class="control-label">Project Sector</label>
					<select id="sector" ng-model='d.vc.sector' class="form-control input-sm" ng-options="sector as sector for sector in d.sectors"></select>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="shortDesc" class="control-label">Valued Component Description</label>
					<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="d.vc.description" rows=6></textarea>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="shortDesc" class="control-label">Report Requirements</label>
					<textarea id="shortDesc" type="text" class="form-control input-sm" ng-model="d.vc.reportRequirements" rows=6></textarea>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="pillar" class="control-label">Pillar</label>
					<select ng-change="d.selectTopic(pillar)" id="pillar" ng-model='d.vc.pillar' class="form-control input-sm" ng-options="pillar as pillar for pillar in d.pillars"></select>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="form-group">
					<label for="stage" class="control-label">Project Stage</label>
					<select id="stage" ng-model='d.vc.stage' class="form-control input-sm" ng-options="stage as stage for stage in d.stages"></select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="topics" class="control-label">Topics</label>
					<select multiple id="topics" ng-model='d.vc.topics' class="form-control input-sm">
						<option ng-repeat="topic in d.topics" value="{{topic.code}}">{{topic.name}}</option>
					</select>
				</div>
			</div>

		</div>

		<hr>

		<div text-align="right">
			<a class="btn btn-default" ui-sref="p.vc.list">Cancel</a>
			<a class="btn btn-default" href ng-click="save()">Save</a>
		</div>

	</div>
</div>

