
<div class="view-title-container flex-row">
	<button class="btn icon-btn mobile-nav-btn" onclick="toggleSideNav();"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
	<h1>Valued Components</h1>
</div>

<div class="view-body-container">
	<div class="button-bar" ng-if="project.userCan.createValuedComponent">
		<button class="btn btn-default btn-sm" ui-sref="p.vc.list" ng-click="openAddTopic()">
			<span class="glyphicon glyphicon-plus"></span><span>Add Valued Component</span>
		</button>
	</div>
	<div class="table-container">
		<table class="vc-list table table-hover" ng-table="tableParams" show-filter="true">
			<tr ng-repeat="o in $data" ui-sref="p.vc.detail({vcId:o._id})">
				<td data-title="'Name'"
					filter="{'name':'text'}"
					sortable="'name'">{{o.name}}</td>
				<td data-title="'Title'"
					filter="{'title':'text'}"
					sortable="'title'">
					<a ui-sref="p.vc.detail({vcId:o._id})">{{o.title}}</a>
				</td>
				<td data-title="'Pillar'"
					filter="{'pillar':'text'}"
					sortable="'pillar'">{{o.pillar}}</td>
				<td data-title="'Type'"
					filter="{'type':'text'}"
					sortable="'type'" >{{o.type}}</td>
				<td class="status-col" header-class="'status-col'"
					ng-if="authentication.user"
					data-title="'Status'"
					sortable="'artifact.isPublished'">
					<span class="label label-success" ng-if="o.artifact.isPublished">Published</span>
					<span class="label label-default" ng-if="!o.artifact.isPublished">Unpublished</span>
				</td>
				<td class="actions-col" header-class="'actions-col x2'">
					<div class="btns">
						<a class="btn icon-btn" title="Edit Valued Component"
							ng-if="o.userCan.write"
							ng-click="$event.stopPropagation()"
							ui-sref="p.vc.edit({vcId:o._id})">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button class="btn icon-btn hidden" title="Remove Valued Component from Project" ng-click="$event.stopPropagation();">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
						<tmpl-permissions-gear class="permission-btn" x-context="project" x-object="o"></tmpl-permissions-gear>
					</div>
				</td>
			</tr>
			<tr class="no-records" ng-if="!$data || $data.length === 0">
				<td colspan="6">No records found</td>
			</tr>
		</table>
	</div>
</div>

