<div class="valued-component-view">

	<div class="view-title-container">
		<h1><span ng-show="project.name">{{ project.name }}&nbsp; &rsaquo; &nbsp;</span>Valued Component</h1>
	</div>

	<div class="view-body-container">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="title" class="control-label">Valued Component Name</label>
					<div class="form-control-static" id="title">{{vc.name}}</div>
				</div>
			</div>
			<div class="col-sm-3 hidden">
				<div class="form-group">
					<label for="sector" class="control-label">Project Sector</label>
					<div class="form-control-static" id="title">{{vc.sector}}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="shortDesc" class="control-label">Description</label>
					<div class="form-control-static textarea" id="shortDesc">{{vc.description}}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="shortDesc" class="control-label">Report Requirements</label>
					<div class="form-control-static textarea" id="shortDesc">{{vc.reportRequirements}}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="pillar" class="control-label">Pillar</label>
					<div class="form-control-static" id="pillar" >{{vc.pillar}}</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="stage" class="control-label">Project Stage</label>
					<div class="form-control-static" id="pillar">{{vc.stage}}</div>
				</div>
			</div>
		</div>
		<tmpl-artifact-display x-mode="'view'" x-artifact="vc.artifact" x-project="project"></tmpl-artifact-display>
	</div>
		
		<div class="form-footer clearfix">
			<a class="back-btn btn btn-link pull-left" ui-sref="p.vc.list"><span class="glyphicon glyphicon-chevron-left"></span>Back to Valued Components</a>
			<a class="btn btn-default pull-right" ng-click="$event.stopPropagation()" x-mode="'edit'" ui-sref="p.vc.edit({vcId:vc._id})">Edit</a>
		</div>
		
	</div>
	
</div>