
<div class="view-title-container flex-row">
	<a class="btn icon-btn mobile-nav-btn" ui-sref="p.vc.list"><span class="glyphicon glyphicon glyphicon-chevron-left"></span></a>
	<h1>Valued Component &nbsp;&rsaquo;&nbsp; {{vc.title}}</h1>
	<div class="actions">
		<button class="btn btn-default btn-sm"
            ng-if="vc.userCan.write"
			ng-click="$event.stopPropagation()"
			x-mode="'edit'"
			ui-sref="p.vc.edit({vcId:vc._id})"><span class="glyphicon glyphicon-pencil"></span><span>Edit</span>
		</button>
		<tmpl-permissions-gear class="permission-btn" x-context="project" x-object="vc"></tmpl-permissions-gear>
	</div>
</div>

<div class="view-body-container">
	<!-- DETAILS -->
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2>Details</h2>
		</div>
		<div class="panel-body vc-details-panel-body">
			<div class="row">
				<div class="col-sm-6 col-lg-3 detail-row">
					<label>Title</label>
					<span class="value">{{vc.title}}</span>
				</div>
				<div class="col-sm-6 col-lg-3 detail-row">
					<label>Name</label>
					<span class="value">{{vc.name}}</span>
				</div>
				<div class="col-sm-6 col-lg-3 detail-row">
					<label>Pillar</label>
					<span class="value">{{vc.pillar}}</span>
				</div>
				<div class="col-sm-6 col-lg-3 detail-row">
					<label>Type</label>
					<span class="value">{{vc.type}}</span>
				</div>
				<div class="col-sm-12 detail-row" ng-if="vclist.length > 0">
					<label>Associated Valued & Pathway Components</label>
					<div class="anchor-list">
						<a ng-repeat="o in vclist" ui-sref="p.vc.detail({vcId:o._id})" class="clickable">{{o.title}}{{$last ? '' : ', '}}</a>
					</div>
				</div>
			</div>
			<div class="detail-row" ng-if="vc.description">
				<label>Description</label>
				<pre class="value wrap-text" id="shortDesc" ng-bind-html="vc.description"></pre>
			</div>
			<div class="detail-row" ng-if="vc.indicators">
				<label>Indicators</label>
				<pre class="value wrap-text" id="indicators" ng-bind-html="vc.indicators"></pre>
			</div>
		</div>
	</div><!-- / DETAILS -->

	<div class="hidden">
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="title" class="control-label">Valued Component Name</label>
					<div class="form-control-static" id="title">{{vc.name}}</div>
				</div>
			</div>
			<div class="col-sm-3 hidden">
				<div class="form-group">
					<label for="sector" class="control-label">Project Sector</label>
					<div class="form-control-static" id="title">{{vc.sector}}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="shortDesc" class="control-label">Description</label>
					<pre class="form-control-static" id="shortDesc" ng-bind-html="vc.description"></pre>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group">
					<label for="shortDesc" class="control-label">Report Requirements</label>
					<div class="form-control-static textarea" id="shortDesc">{{vc.reportRequirements}}</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="form-group">
					<label for="pillar" class="control-label">Pillar</label>
					<div class="form-control-static" id="pillar" >{{vc.pillar}}</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label for="stage" class="control-label">Project Stage</label>
					<div class="form-control-static" id="pillar">{{vc.stage}}</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<tmpl-artifact-display x-mode="'view'" x-artifact="vc.artifact" x-project="project"></tmpl-artifact-display>
	</div>

	<div class="form-footer no-border clearfix">
		<a class="back-btn btn btn-link pull-left" ui-sref="p.vc.list"><span class="glyphicon glyphicon-chevron-left"></span>Back to Valued Components</a>
	</div>

</div>

