<div class="modal-header">
  <h3 class="modal-title">Email Templates</h3>
</div>
<div class="modal-body">
  <ul class="list-group check-list">
    <li class="list-group-item" ng-repeat="t in s.templates" ng-click="s.select(t._id)">
      <input type="checkbox" ng-checked="s.isSelected(t._id)"></input>{{ t.name }} ({{ t.group }})
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="s.cancel()">Cancel</button>
  <button class="btn btn-primary" ng-disabled="!(s.selected && s.selected.length > 0)" ng-click="s.ok()">OK</span></button>
</div>
