
<div class="modal-header">
	<h3 class="modal-title">Email Templates</h3>
</div>

<div class="modal-body">
	<div class="table-container">
		<table class="table table-hover table-scroll select-email-template" ng-class="{'no-records': !s.items || s.items.length === 0}" ng-table="self.tableParams">
			<tr ng-class="{'active': s.isSelected(t._id)}"
				ng-repeat="t in s.items"
				ng-click="s.select(t._id)">
				<td class="col checkbox-col"
					header-class="'col checkbox-col'">
					<div>
						<input id="{{t._id}}" type="checkbox" ng-checked="s.isSelected(t._id)"/>
						<label for="{{t._id}}">
							<span class="glyphicon glyphicon-ok"></span>
						</label>
					</div>
				</td>
				<td class="name-col"
					data-title="'Name'">
					{{t.name}}
				</td>
				<td class="group-col"
					data-title="'Group'">
					{{t.group}}
				</td>
			</tr>
			<tr class="no-records" ng-if="!s.items || s.items.length === 0">
				<td colspan="3">
					No Email Templates found.
				</td>
			</tr>  
		</table>
	</div>
</div>

<div class="modal-footer">
	<button class="btn btn-default" ng-click="s.cancel()">Cancel</button>
	<button class="btn btn-primary" ng-disabled="!(s.selected && s.selected.length > 0)" ng-click="s.ok()">OK</span></button>
</div>
