
<div class="view-title-container flex-row">
	<h1>Email Templates&nbsp; &rsaquo; &nbsp;{{ emailtemplate.name }}</h1>
	<div class="actions">
			<a class="btn btn-sm btn-default" ui-sref="admin.emailtemplate.edit({emailtemplateId:emailtemplate._id})">
				<span class="glyphicon glyphicon-pencil"></span><span>Edit</span>
			</a>
	</div>
</div>

<div class="view-body-container">
	<div class="row hidden">
		<div class="col-sm-12 text-right">
			<a class="btn btn-xs btn-link" ui-sref="admin.emailtemplate.list">Cancel</a>
			<a class="btn btn-xs btn-link" ui-sref="admin.emailtemplate.edit({emailtemplateId:emailtemplate._id})">Edit</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="name" class="control-label">Name</label>
				<p class="form-control-static">{{ emailtemplate.name }}</p>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="subject" class="control-label">Subject</label>
				<p class="form-control-static">{{ emailtemplate.subject }}</p>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<label for="content" class="control-label">Content</label>
				<pre class="form-control-static" ng-bind-html="emailtemplate.content"></pre>
			</div>
		</div>
	</div>

	<div class="form-footer clearfix">
		<a class="back-btn btn btn-link pull-left" ui-sref="admin.emailtemplate.list"><span class="glyphicon glyphicon-chevron-left"></span>Back to Email Templates</a>
	</div>
</div><!-- / VIEW BODY CONTAINER -->



