
<div class="hero-banner">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1>Reclamation &amp; Securities</h1>
                <p class="mb-2">Tailings are a by-product of mining that must be properly managed to protect people and the environment.</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="anchor-point">
    <div class="row">
        <main class="col-lg-8">
            <section>
                <h2>Ensuring effective tailings management at all mine sites in British Columbia</h2>
                <p>Tailings are a by-product of mining. They are finely ground rock and mineral particles that remain following processing and extraction of targeted resources (e.g., minerals containing metals such as copper or gold), and they may also contain chemicals used in the extraction process.</p>
                <p>Tailings are different from overburden and waste rock, which is the material (e.g., soil, rock) that is moved during mining activities but not processed.</p>
                <p>Tailings management is different from mine site to mine site. At most major mines where tailings are produced, the tailings are mixed with water and deposited as a slurry into tailings storage facilities (TSFs). Often TSFs use dams to create capacity to permanently store tailings for the life of the mine and throughout closure. Waste rock is generally stored on mine sites in piles or dumps, but it may also be stored underwater to mitigate metal leaching and acid rock drainage (ML/ARD).</p>
                <p>Most mining dams in British Columbia are regulated under Part 10 of the Health, Safety and Reclamation Code for Mines in British Columbia (the Code), as established under the Mines Act. Under Part 10.5.3 of the Code, mines with TSFs are required to submit annual Dam Safety Inspections (DSIs) to the Ministry of Energy and Mines (MEM). DSIs for specific mines are available on the BC Mine Information website.</p>
            </section>
        </main>
        <aside class="col-lg-4">
            <section class="mt-0">
                <h4>Related Documents</h4>
                <ul class="mmti-side-list">
                    <li><a href="http://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/mineral-exploration-mining/documents/reclamation-and-closure/2017_01_23_annual_reclamation_report_requirements.pdf" target="_blank">Ministry of Energy and Mines Annual Reclamation Report Requirements (January 2017)</a></li>
                    <li><a href="http://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/mineral-exploration-mining/documents/reclamation-and-closure/fs_mine_reclamation_security_in_bc_nov_18_2016.pdf" target="_blank">Mine Reclamation Security in British Columbia Fact Sheet (November 2016)</a></li>
                </ul>
            </section>
            <section>
                <h4>External Links &amp; Resources</h4>
                <ul class="mmti-side-list">
                    <li><a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/permitting/reclamation-closure" target="_blank">Reclamation &amp; Closure (Ministry of Energy and Mines)</a></li>
                    <li><a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/permitting/reclamation-closure/securities" target="_blank">Securities (Ministry of Energy and Mines)</a></li>
                    <li><a href="http://www.trcr.bc.ca/" target="_blank">British Columbia Technical and Research Committee on Reclamation</a></li>
                    <li><a href="http://www.teck.com/media/Responsible-Mine-Closure-and-Reclamation.pdf" target="_blank">Responsible Mine Closure and Reclamation (Teck)</a></li>
                </ul>
            </section>
        </aside>
    </div>
</div>