
<div class="hero-banner">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1>Reclamation &amp; Securities</h1>
                <p>British Columbia was one of the first provinces in Canada to enact mine reclamation legislation, and the first to extend this policy to exploration sites.</p>
                <div class="hb-btns">
                    <a class="btn slide-r-btn hero-btn inverted" href="#anchor-point" du-smooth-scroll offset="65"><span>Read More</span><i class="material-icons">arrow_downward</i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="anchor-point">
    <div class="row">
        <main class="col-lg-8">
            <section>
                <h2>Committed to ensuring BC's resources are returned to an environmentally sound state</h2>
                <p>Since 1969, companies have been required by law to reclaim all lands disturbed by mining and related activities in British Columbia. BC was one of the first provinces in Canada to enact mine reclamation legislation, and the first to extend this policy to exploration sites. BC’s reclamation laws ensure that land, watercourses and cultural heritage resources are returned to a safe and environmentally sound state.</p>
                <p>The Ministry of Energy and Mines (MEM) enforces the reclamation provisions of the <a href="http://www.bclaws.ca/civix/document/id/complete/statreg/96293_01" target="_blank">Mines Act</a> and the <a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/health-safety/health-safety-and-reclamation-code-for-mines-in-british-columbia" target="_blank">Health, Safety and Reclamation Code for Mines in British Columbia (the Code)</a> through permit conditions and detailed technical reviews aimed at finding environmentally sound, economically viable solutions that enable British Columbia’s mining industry to remain internationally competitive while maintaining this province’s rigourous environmental standards.</p>
                <p>Before starting work at a mine site, companies are required to obtain a Mines Act permit approving the mine plan, a program for protection of the land and watercourses, and a reclamation program. Mining companies must also place a <a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/permitting/reclamation-closure/securities" target="_blank">reclamation security</a> with the Province to ensure reclamation obligations are kept. This security is only returned once the mine site has been reclaimed to a satisfactory level and there are no ongoing monitoring or maintenance requirements.</p>
            </section>
            <section>
                <h3>Annual Reclamation Reports (ARRs)</h3>
                <p>Permittees are required to submit annual reclamation reports (ARRs) to MEM in compliance with their Mines Act permits and the Code. The intent of the ARR is to provide a summary of all activities conducted on the mine property over the previous year. Specifically, the ARR must outline the following:</p>
                <ul>
                    <li>Mine development, including surface disturbance, stripping, stockpiling and disposal and storage of all materials.</li>
                    <li>Activities, research and monitoring results associated with the development and implementation of the Environment Protection Program.</li>
                    <li>Activities, research and monitoring results associated with the development and implementation of the Reclamation Program.</li>
                </ul>
                <p>ARRs must also provide a projection of mining and reclamation activities planned for the following 5 years. Report information is required to be in a specific format, outlined in MEM’s <a href="http://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/mineral-exploration-mining/documents/reclamation-and-closure/formatrequirements2016.pdf" target="_blank">Annual Reclamation Report Requirements</a>. ARRs for specific mines are available on the BC Mine Information website.</p>
            </section>
            <div class="content-links">
                <a class="btn content-btn slide-l-btn" ui-sref="topics"><i class="material-icons">arrow_back</i><span>Back to Topics</span></a>
            </div>
        </main>
        <aside class="col-lg-4">
            <section class="mt-0">
                <h4>Related Documents</h4>
                <ul class="mmti-side-list">
                    <li><a href="http://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/mineral-exploration-mining/documents/reclamation-and-closure/2017_01_23_annual_reclamation_report_requirements.pdf" target="_blank">Ministry of Energy and Mines Annual Reclamation Report Requirements (January 2017)</a></li>
                    <li><a href="http://www2.gov.bc.ca/assets/gov/farming-natural-resources-and-industry/mineral-exploration-mining/documents/reclamation-and-closure/fs_mine_reclamation_security_in_bc_nov_18_2016.pdf" target="_blank">Mine Reclamation Security in British Columbia Fact Sheet (November 2016)</a></li>
                </ul>
            </section>
            <section>
                <h4>External Links &amp; Resources</h4>
                <ul class="mmti-side-list">
                    <li><a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/permitting/reclamation-closure" target="_blank">Reclamation &amp; Closure (Ministry of Energy and Mines)</a></li>
                    <li><a href="http://www2.gov.bc.ca/gov/content/industry/mineral-exploration-mining/permitting/reclamation-closure/securities" target="_blank">Securities (Ministry of Energy and Mines)</a></li>
                    <li><a href="http://www.trcr.bc.ca/" target="_blank">British Columbia Technical and Research Committee on Reclamation</a></li>
                    <li><a href="http://www.teck.com/media/Responsible-Mine-Closure-and-Reclamation.pdf" target="_blank">Responsible Mine Closure and Reclamation (Teck)</li>
                </ul>
            </section>
        </aside>
    </div>
</div>