<h1 class="page-title no-lower-margin">
	Topics Library
</h1>

<div class="row">
	<div class="col-sm-12 text-right">
		<a class="btn btn-xs btn-link" ui-sref="admin.topic.create()">+ Add New Topic</a>
<show-filter x-toggle-filter="toggleFilter"></show-filter>		
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<section class="panel panel-default">

			<table ng-table="tableParams" x-show-filter="toggleFilter" class="table table-condensed table-hover table-striped">
				<tr ng-repeat="o in $data" ui-sref="admin.topic.detail({topicId:o._id})" class="clickable">
					<td title="'Pillar'"  sortable="'pillar'"  filter="{'pillar':'select'}" filter-data="pillars" >{{o.pillar}}</td>
					<td title="'Name'"    sortable="'name'"    filter="{'name':'text'}"                           >{{o.name}}</td>
					<td title="'Type'"    sortable="'type'"    filter="{'type':'select'}"   filter-data="types"   >{{o.type}}</td>
					<td title="'Parent'"  sortable="'parent'"  filter="{'parent':'text'}"                         >{{o.parent}}</td>
					<td width="1%" class="text-right">
						<a ng-click="$event.stopPropagation()" class="btn btn-link btn-xs" ui-sref="admin.topic.edit({topicId:o._id})">
						<i class="glyphicon glyphicon-pencil"></i>
						</a>
					</td>
				</tr>
			</table>
		</section>
	</div>
</div>
