<h1 class="page-title">
	Add/Edit Topic
</h1>
<div class="block-content">
	<div class="panel-body">
	<div class="row">
		<div class="col-sm-9">
			<div class="form-group">
				<span class="input-label">Topic Name:</span>
				<span class="input-lg left-align">{{topic.name}}</span>
			</div>
		</div>
		<div class="col-sm-3">
			<div class="form-group">
				<span class="input-label">Topic Type:</span>
				<span class="input-lg left-align">{{topic.type}}</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="form-group">
				<span class="input-label">Topic Description:</span>
				<span class="input-lg left-align">{{topic.description}}</span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<span class="input-label">Pillar:</span>
				<span class="input-lg left-align">{{topic.pillar}}</span>
			</div>
		</div>

		<div class="col-sm-6">
			<div class="form-group">
				<span class="input-label">Parent Topic:</span>
				<span class="input-lg left-align">{{topic.parent}}</span>
			</div>
		</div>
	</div>
	</div>
</div>
<div>
	<a class="btn btn-danger" ui-sref="admin.topic.list">Cancel</a>
	<a class="btn btn-primary" ui-sref="admin.topic.edit({topicId:topic._id})">Edit</a>
</div>



