
<div class="select-topic-modal">

	<div class="modal-header">
		<h3 class="modal-title">Add Topic(s)</h3>
	</div>
SELF: {{self.data}}
	<div class="modal-body">
		<section class="panel panel-default">
			<table ng-table="tableParams" x-show-filter="toggleFilter" class="table table-condensed table-hover table-striped">
				<tr ng-repeat="o in $data" ui-sref="admin.topic.detail({topicId:o._id})" class="clickable">
					<td class="select-col"><input type="checkbox" /></td>
					<td data-title="'Pillar'"  sortable="'pillar'"  filter="{'pillar':'select'}" filter-data="pillars" 		>{{o.pillar}}</td>
					<td data-title="'Name'"    sortable="'name'"    filter="{'name':'text'}"                           		>{{o.name}}</td>
					<td data-title="'Type'"    sortable="'type'"    filter="{'type':'select'}"   filter-data="getTypes()"   >{{o.type}}</td>
					<td data-title="'Parent'"  sortable="'parent'"  filter="{'parent':'text'}"                         		>{{o.parent}}</td>
					<tr ng-show="!$data || !$data.length" class="text-center">
						<td colspan="5">No Topics found.</td>
					</tr>					
				</tr>
			</table>
		</section>
	</div>

	<div class="modal-footer">
		<div>
			<button class="btn btn-default" href ng-click="self.cancel()">Cancel</button>
			<button class="btn btn-default" href ng-click="self.ok()">Ok</button>
		</div>
	</div>
	
</div>
