
<div class="view-title-container">
	<h1>Valued Components Library</h1>
</div>

<div class="view-body-container">
	<div class="button-bar">
		<a ng-if="application.userCan.createValuedComponent" class="btn btn-default btn-sm pull-left" ui-sref="admin.topic.create()">
			<span class="glyphicon glyphicon-plus"></span>
			<span>Add Valued Component</span>
		</a>
	</div>
	<div class="table-container">
		<table ng-table="tableParams" x-show-filter="toggleFilter" class="table table-hover table-striped">
			<tr ng-repeat="o in $data" ui-sref="admin.topic.detail({topicId:o._id})" class="clickable">
				<td data-title="'Pillar'" sortable="'pillar'" filter="{'pillar':'select'}" filter-data="pillars">{{o.pillar}}</td>
				<td data-title="'Name'" sortable="'name'" filter="{'name':'text'}">{{o.name}}</td>
				<td data-title="'Type'" sortable="'type'" filter="{'type':'select'}" filter-data="getTypes()">{{o.type}}</td>
				<td data-title="'Parent'" sortable="'parent'"  filter="{'parent':'text'}">{{o.parent}}</td>
				<td class="actions-col" header-class="'actions-col x2'">
					<div class="btns">
						<a class="btn icon-btn" 
							title="Edit Valued Component"
							ng-if="application.userCan.createValuedComponent" 
							ng-click="$event.stopPropagation()" 
							ui-sref="admin.topic.edit({topicId:o._id})">
							<span class="glyphicon glyphicon-pencil"></span>
						</a>
						<button class="btn icon-btn"
							title="Delete Valued Component"
							ng-if="application.userCan.createValuedComponent"
							ng-click="$event.stopPropagation();"
							x-confirm-dialog
							x-title-text="'Delete Valued Component'"
							x-ok-text="'Yes'"
							x-cancel-text="'No'"
							x-confirm-text="s.confirmText(o)"
							x-on-ok="s.deleteValuedComponent"
							x-ok-args="o">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>
				</td>
				<tr ng-show="!$data || !$data.length" class="text-center">
					<td colspan="5">No records found</td>
				</tr>
			</tr>
		</table>
	</div>
</div>

