<h1 class="page-title">
	Add/Edit Topic
</h1>
<div class="block-content">
	<div class="panel-body">
	<div class="row">
		<table class="table table-condensed table-striped">
		<tr><td>Topic Name</td> <td>{topic.name}}</td></tr>
		<tr><td>Topic Type</td> <td>{{topic.type}}</td></tr>
		<tr><td>Topic Description</td> <td>{{topic.description}}</td></tr>
		<tr><td>Pillar</td> <td>{{topic.pillar}}</td></tr>
		<tr><td>Parent Topic</td> <td>{{topic.parent}}</td></tr>
		</table>
	</div>
	</div>
</div>
<div>
	<a class="btn btn-default" ui-sref="admin.topic.list">Cancel</a>
	<a class="btn btn-success" ui-sref="admin.topic.edit({topicId:topic._id})">Edit</a>
</div>



