
<div class="hero-banner">
    <div class="container">
        <div class="container-inner">
            <div class="hb-txt">
                <h1>Water Quality</h1>
                <p>Provincial oversight ensures that BC’s water is managed appropriately to protect both human and ecosystem health.</p>
                <div class="hb-btns">
                    <a class="btn slide-r-btn hero-btn inverted" href="#anchor-point" du-smooth-scroll offset="65"><span>Read More</span><i class="material-icons">arrow_downward</i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" id="anchor-point">
    <div class="row">
        <main class="col-lg-8">
            <section>
                <h2>Committed to protecting water quality throughout the mining lifecycle</h2>
                <p>Mines that release effluent can potentially cause changes to the receiving environment. Released effluent may impact the water quality in streams, lakes and groundwater, which in turn has the potential to affect local aquatic life and/or other water uses.</p>
                <p>An impact assessment for any proposed discharges, such as effluents, must be conducted by proponents in order to apply for an effluent discharge permit from the Ministry of Environment (ENV). Impact assessments are reviewed by not only by BC Government agencies, but also by First Nations and other interested parties as part of the permit application process. These assessments inform the Province’s decisions about the potential risks to water quality that a project may have. The information that impact assessments provide ensures that appropriate terms and conditions are set in permits to protect water quality throughout the lifecycle of a mine.</p>
                <p>Permits issued under the <a href="http://www.bclaws.ca/civix/document/id/complete/statreg/03053_00" target="_blank">Environmental Management Act</a> commonly require proponents to report regularly to ENV on water quality monitoring. Water quality monitoring information, as well as other environmental monitoring information, for specific mines can be found in annual reports available on the BC Mine Information website.</p>
            </section>
            <div class="content-links">
                <a class="btn content-btn slide-l-btn" ui-sref="topics"><i class="material-icons">arrow_back</i><span>Back to Topics</span></a>
            </div>
        </main>
        <aside class="col-lg-4">
            <section class="mt-0">
                <h4>Related Documents</h4>
                <ul class="mmti-side-list">
                    <li><a href="http://www2.gov.bc.ca/assets/gov/environment/waste-management/industrial-waste/industrial-waste/water_air_baseline_monitoring.pdf" target="_blank">Water and Air Baseline Monitoring Guidance Document for Mine Proponents and Operators (Ministry of Environment, June 2016)</a></li>
                    <li><a href="http://www2.gov.bc.ca/assets/gov/environment/waste-management/industrial-waste/industrial-waste/mining-smelt-energy/guidance-documents/ug_water_and_air_baseline.pdf" target="_blank">A User Guide for the Water and Air Baseline Monitoring Guidance Document for Mine Proponents and Operators</a></li>
                </ul>
            </section>
            <section>
                <h4>External Links &amp; Resources</h4>
                <ul class="mmti-side-list">
                    <li><a href="http://www2.gov.bc.ca/gov/content/environment/air-land-water/water/water-quality" target="_blank">Water Quality (Province of BC)</a></i>
                    <li><a href="http://www2.gov.bc.ca/gov/content/environment/waste-management/industrial-waste/mining-smelting/teck-area-based-management-plan" target="_blank">Elk Valley Area Based Management Plan</a></i>
                    <li><a href="http://www.ec.gc.ca/esee-eem/?CFID=344355&CFTOKEN=79421256" target="_blank">Government of Canada: Environmental Effects Monitoring</a></li>
                    <li><a href="http://www.ec.gc.ca/esee-eem/default.asp?lang=En&n=0AFC00BC-1" target="_blank">Government of Canada: Biological Monitoring</a></li>
                    <li><a href="http://www.ec.gc.ca/eau-water/default.asp?lang=En&n=F2F43FC7-1" target="_blank">Government of Canada: Water Quality</a></li>
                    <li><a href="http://mend-nedem.org/default/" target="_blank">Mine Environmental Neutral Drainage</a></li>
                </ul>
            </section>
        </aside>
    </div>
</div>