/* -----------------------------------------------------------------------------
 * variables
 * -------------------------------------------------------------------------- */
/* ----- Colors ----- */
/* ----- Typography ----- */
.content {
  margin-top: 80px; }

.undecorated-link:hover {
  text-decoration: none; }

[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important; }

.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px; }

.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1; }

.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important; }

.error-text {
  display: none; }

.has-error .help-block.error-text {
  display: block; }

.has-error .help-inline.error-text {
  display: inline; }

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2) !important; }

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0;
  background-color: transparent;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

a:hover,
a:link,
a:active,
a:visited {
  text-decoration: none; }

html {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
  background: #606c88;
  /* Old browsers */
  background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #3f4c6b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
  /* IE6-9 */
  min-height: 100%; }

a:hover {
  text-decoration: none; }

.has-navigation {
  padding-top: 80px; }

.navbar.navbar-custom {
  height: 60px !important; }

/* Remove border to delete the 1px line */
.navbar-fixed-top {
  border: 0; }

/* Workaround for unwanted route changes due to empty href attributes - see http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a, .clickable {
  cursor: pointer; }

h1.page-title {
  padding: 0 15px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px; }

td h4 {
  margin-top: 0; }

.modal-pre-table {
  padding-top: 5px;
  padding-bottom: 0; }

.table-modal {
  margin-bottom: 0; }

p.small {
  margin: 0 0 0; }

.modal-header {
  background-color: #141a41;
  color: #fff;
  text-shadow: 3px 3px 10px #000000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px; }

th > .progress {
  margin-bottom: 0; }

button:focus, a:focus {
  outline: 0 !important; }

.project-info-panel .location-map {
  margin: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }

.project-info-panel .location-map map {
  height: 200px; }

.project-info-panel .progress {
  margin-bottom: 10px; }

.project-info-panel > .panel-heading {
  padding-bottom: 0; }

.panel-sub-heading {
  background-color: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #ddd; }

.panel label + p,
.panel label + ul {
  margin-bottom: 15px; }

.panel .project-small-tombstone label + p,
.panel .project-small-tombstone label + .progress {
  margin-bottom: 0; }

a.return-link {
  text-decoration: none;
  font-size: 14px;
  color: #fff; }

a.return-link:hover {
  text-decoration: none; }

.panel-concern .panel-body > h3 {
  margin-top: 0; }

.concern-list > h3:first-child {
  margin-top: 0; }

h3 .small {
  padding-top: 10px;
  font-size: 60%; }

h3 .small .label {
  font-weight: 500; }

.label-list,
.panel-sort {
  list-style-type: none;
  padding-left: 0; }

.label-list li,
.panel-sort li {
  display: inline-block; }

.label-list li {
  margin-bottom: 3px;
  margin-right: 3px; }

.panel-sort li {
  font-size: 80%;
  color: #fff;
  white-space: nowrap; }

.panel-sort li a {
  padding: 0 5px 0 2px;
  color: #fff; }

.panel-sort li:before {
  content: '|'; }

.panel-sort li:first-child:before {
  content: ''; }

.panel-sort li a span:after {
  content: '\0020'; }

.panel-sort li.asc a span:after {
  content: '\0020\25B2'; }

.panel-sort li.desc a span:after {
  content: "\0020\25BC"; }

.modal .panel-sort li {
  color: #777; }

.modal .panel-sort li a {
  color: #777; }

.close-adjust-top {
  margin-top: -2px; }

.panel-heading .label {
  font-size: 12px; }

.panel {
  position: relative; }

.document-cell a {
  position: relative;
  display: block;
  padding-left: 18px; }

.document-cell a span {
  position: absolute;
  top: 2px;
  left: 0; }

.document-cell a:hover {
  text-decoration: none; }

.navbar-nav > li > a {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.navbar {
  min-height: 40px !important; }

.table-no-head > tbody > tr:first-child > td {
  border-top: none; }

.no-margins {
  margin: 0; }

th .progress-bar {
  font-weight: 500; }

.progress-alert-box {
  margin-top: 15px;
  text-align: left;
  font-weight: 500; }

.progress-info-button {
  padding-top: 1px;
  padding-left: 7px; }

.concern-heading,
.concern-heading * {
  color: #f4f4f4 !important; }

.panel-project-summary h3 {
  margin-top: 2px; }

.countdown-wrapper ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.countdown-wrapper li {
  display: inline-block;
  padding-left: 5px; }

.countdown-wrapper li:first-child {
  padding-left: 0; }

.countdown-wrapper li span.time-units {
  font-size: 10px;
  font-style: italic;
  opacity: 0.8; }

label.control-label {
  font-size: 85%;
  font-weight: 500;
  font-style: italic;
  display: block;
  padding: 0 0 2px;
  margin: 0 0 2px;
  color: #ababab; }

.drop-box {
  background: #F8F8F8;
  border: 3px dashed #DDD;
  text-align: center;
  padding: 25px;
  margin-bottom: 15px; }

.dragover {
  border: 3px dotted #449d44; }

.well > h3 {
  margin-top: 0;
  margin-bottom: 20px; }

.well > h4 {
  margin-top: 0;
  margin-bottom: 15px; }

nav {
  cursor: default; }

.navbar-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.navbar-sm .navbar-text {
  font-size: 12px;
  margin-top: 14px;
  margin-bottom: 14px; }

.no-lower-margin {
  margin-bottom: 0 !important; }

.well .table tr:first-child td {
  padding-top: 0; }

.outlined-box {
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.scrollable {
  max-height: 200px;
  overflow-y: scroll; }

.slight {
  font-style: normal !important; }

.comment-box {
  padding: 2px 4px;
  border-top: 1px solid #e3e3e3; }

.comment-box:first-child {
  border-top: none; }

.navbar-custom {
  background-color: #ffffff;
  color: #154681;
  border-radius: 0;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5); }

.navbar-custom .navbar-nav > li > a {
  color: #154681; }

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #154681;
  background-color: transparent; }

.navbar-custom .navbar-brand {
  color: #154681;
  padding: 10px 15px; }

.nav > li.navbar-user {
  padding: 10px 0; }

.nav > li.navbar-user > a {
  padding: 0 !important;
  margin: 0 !important;
  display: inline-block; }

.nav > li.navbar-user > a:hover {
  background-color: transparent; }

.nav > li.navbar-user-icon {
  font-size: 40px;
  padding: 10px 10px;
  line-height: 40px; }

.panel-toggle {
  position: absolute;
  top: -10px;
  left: -8px;
  color: #ffffff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease; }

.panel-toggle:hover {
  font-size: 24px;
  color: #ffffff;
  top: -20px;
  left: -14px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease; }

.navbar-form .form-group .control-label,
.form-inline .form-group .control-label {
  padding-right: 10px;
  display: inline-block; }

.panel-tombstone-menu {
  font-size: 13px;
  line-height: 15px; }

.panel-tombstone-menu p {
  margin: 0 0 8px; }

.panel-tombstone-menu hr {
  margin-top: 15px;
  margin-bottom: 15px; }

.btn-task-not-started {
  background-color: #5bc0de; }

.btn-task-complete {
  background-color: #5cb85c; }

.btn-task-in-progress {
  background-color: #f0ad4e; }

.btn-task-not-applicable {
  opacity: 0.5; }

.panel-body .panel-toggle {
  color: #777; }

.task-list {
  margin-bottom: 0; }

.task-list li {
  padding-bottom: 5px; }

.task-list li .task-current-status {
  font-weight: 700; }

.task-list li button {
  white-space: normal;
  position: relative;
  text-align: left; }

.task-list li button.btn-layer {
  white-space: normal; }

.no-lower-padding {
  padding-bottom: 0 !important; }

.user-quicklinks a.thumbnail {
  position: relative;
  font-size: 12px;
  height: 80px !important; }

.user-quicklinks a.thumbnail .caption {
  padding: 0;
  position: absolute;
  bottom: 3px;
  left: 3px; }

.bucket-content-activity {
  font-size: 85%;
  border-top: 1px solid #ccc; }

.research-content {
  border-top: 1px solid #ccc;
  padding: 3px 5px; }

.btn-spaced {
  margin-right: 3px; }

.col-no-padding {
  padding-left: 0;
  padding-right: 0; }

.col-top-padding {
  padding-top: 10px !important; }

.user-quick-links h1 {
  padding: 0;
  margin: 0; }

.user-quick-links a {
  color: #fff; }

.user-quick-links a:hover {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.4); }

.modal-header input.form-control {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  border: none; }

.modal-header .form-group {
  text-shadow: none !important; }

.modal-header input.form-control::-webkit-input-placeholder {
  color: #fff; }

.modal-header input.form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff; }

.modal-header input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff; }

.modal-header input.form-control:-ms-input-placeholder {
  color: #fff; }

.btn-list .btn {
  margin: 0 2px 4px;
  display: inline-block; }

.task-selected {
  border-left: 5px solid white;
  border-right: 5px solid white; }

.input-group .form-control {
  height: auto; }

.datetimepicker {
  margin: 0 auto; }

.project-info-panel .dl-vertical dt {
  margin-top: 20px;
  border-bottom: 1px solid #cccccc; }

.no-wrap {
  white-space: nowrap; }

.document-vetting li:first-child,
.no-top-border {
  border-top: none !important; }

.document-vetting li {
  border-top: 1px solid #ddd;
  padding: 2px 0; }

.vc-task-arrows {
  opacity: 0.2; }

.panel > .table.table-stacked {
  margin-bottom: 30px; }

/*# sourceMappingURL=core.css.map */
